[2018-10-23 06:51] ZeroX-DG commented on #2523
I don't think it's possible to install "desktop" version on IOS devices and the team is working on the new mobile app.

[2018-10-23 06:51] #2523 closed

[2018-10-23 06:52] ZeroX-DG commented on #2522
I would love to have that, but currently...no you can't have Cornell-style notes. Maybe someone can implement this.

[2018-10-23 08:11] #2507 closed

[2018-10-23 08:20] #2501 closed

[2018-10-23 10:02] Marmalade118 opened #2527 "Missing notes - possibly after update"
# Current behavior

I seem to be missing notes after the latest update. I had some notes in this folder that I used regularly and I last used them on the 18th October, but today at least 1 (that I can say with 100% certainty) of my note files seems to be missing, but I'm sure at least 1 other is missing from this folder. I use the note file frequently so I know it definitely existed. I've checked

[2018-10-23 17:42] nagledb opened #2528 "contributing.md needs an update"
The doc states "There is no issue template" but there actually is an issue template and #2504 will add a PR template as well.

#2504 also includes a checklist for PRs, but none of the items listed are documented in contributing.md:

I recommend linking to docs/build.md and docs/debug.md.

I recommend giving the steps to run the test suite either in contributing.md or build.md. (It's easy to figure

[2018-10-23 22:18] eyun89 opened #2529 "Two spaces after every new line."
I just wanted to start out by saying that I'm really enjoying Boostnote and thank for very much for everyone who put in the time to make this app possible.

I am having issue where every time I press <kbd>Enter</kbd>, the new line starts with two spaces.

If this is a default setting, are there any options to have the new line start without the spacing?

These are my settings:
<a href="https://ibb

[2018-10-24 06:41] kyan001 opened #2530 "[BUG] Click on task changes the text of the checkbox"
It's on macOS, version 0.11.10.

I have a task like this:
[code]
If you click on that check box, it will be like this:
[code]
As far as now, it's ok, but when you wanna cancel it by clicking it again, it will be like this:
[code]
instead of ``- [ ] `- [ ] Todo` ``. And if I clicked it again, it will be like this:
[code]
Screenshots:
![image](https://user-images.githubusercontent.com/3616478/474110

[2018-10-24 07:51] kyan001 commented on #2508
I use `*` to make my list, and every time I start a `*` it automatically gives me `**`.

Italy font is not the only use of `*` in markdown, it's so annoying.

[2018-10-24 15:58] dmast3r opened #2531 "Long code lines do not wrap in PDF exports"
# When a code snippet is exported to PDF and if a line is too long, it is only visible up to a certain length. While this works fine when exporting to HTML.

[2018-10-24 19:18] lesyuk commented on #2520
@nagledb No, it doesn't work. But today I launched Boostnote and found that the bug disappeared.

[2018-10-24 21:35] programmist commented on #2218
Wanted to note that this also happens with `$`, which is a problem when doing string interpolation in template literals (JS).

![duplicate](https://user-images.githubusercontent.com/527082/47462996-96402b00-d7aa-11e8-8b9f-2c9dfdfd1b3f.gif)

[2018-10-24 22:44] nagledb commented on #1811
This was bugging me today so I spent some time investigating. It looks like syncing is not content-aware. Instead, it simply syncs up the two windows based on where you are in terms of pixel distance in the rendered version of the scrolled window.

So for example, let's say your markdown window's content has a total rendered height of 10,000 pixels and your preview window's content has a total ren

[2018-10-25 02:52] joshuaiz opened #2533 "Feature request: keyboard shortcut 'command-i' to open info panel of a note."
Pretty self explanatory: when on a note, using the keyboard shortcut 'command-i' should open the info panel for the note.

That key command currently does nothing in Boostnote so it shouldn't conflict with anything.

Thanks!

[2018-10-25 09:47] dpjayasekara commented on #2089
It is possible to save the zoom level if you change it using the small magnifier icon at the right bottom (MacOS Mojave). However, it does not preserve the setting you set the keyboard shortcut (`cmd`/`ctrl` + `+`/`-`). I guess it should be fixed too.

[2018-10-25 11:41] lebeshev opened #2534 "Scheduled themes or auto day/night mode"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2430%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/BoostIo/Boostnote/issues/2534)

Would be cool if users were able to make some kind of a theme schedule, so they could use light theme during the day, but dark theme during the night, by manually setting the time when themes get changed (kinda like Vivaldi's theme sche

[2018-10-25 11:57] miguelalexbt opened #2535 "TAG: BEGGINER WNATED PLZ"
# Current behavior

# Expected behavior

# Steps to reproduce

1.
2.
3.

# Environment

- Version :
- OS Version and name :

[2018-10-25 11:57] #2535 closed

[2018-10-25 12:22] deepal opened #2536 "Leftmost sidebar cannot be maximized in the Tags view"
# Current behavior

You click on a tag above one of the notes, the leftmost sidebar will change its view from the storage locations/folders to the list of tags view. If you already have minimized the leftmost sidebar before clicking on a tag, it will still switch to the tags view, but you will neither be able to see the tags, nor to maximize the sidebar so that you can see the tags. The only solut

[2018-10-25 12:55] ZeroX-DG commented on #2534
This is definitely a great feature to have, thank you for suggesting.

[2018-10-25 13:05] ZeroX-DG commented on #2527
We have received some reports about missing notes after updating.

Maybe you can check out these for more info:
https://github.com/BoostIO/Boostnote/issues/1610, https://github.com/BoostIO/Boostnote/issues/1485, https://github.com/BoostIO/Boostnote/issues/901

[2018-10-25 16:29] ZeroX-DG commented on #2528
You're absolutely right, we don't really pay much attention to the docs, therefore the code quality is bad. That's the reason the team is in progress of re-writing this app into a whole new app. But I'll update the docs soon to keep it up to date.

[2018-10-25 16:31] ZeroX-DG commented on #2536
Another UI bug :smile: Thank you for reporting.

[2018-10-25 17:50] nagledb commented on #1018
A robust plugin system would be fantastic. A lot of requested features and a lot of existing features would honestly be better off as plugins.

[2018-10-25 17:54] jangtsekiang opened #2537 "can admonitions be nested?"
I was creating an admonition within an admonition. I can see that it works but it is causing problems. The ending delimiter of the 2nd admonition is simultaneously used as ending delimiter for the 1st admonition.

# steps to replicate

1. create a new markdown note
2. insert markdown

[code]

**result:**

![admonition](https://user-images.githubusercontent.com/43673946/47520004-e1c80700-d886-11e8-

[2018-10-25 20:04] chkumar246 commented on #409
Hey any update on Flatpack package? If not then Can I take it?

[2018-10-26 00:57] 0xdevalias opened #2538 "Link to line/subheading in note"
# Current behavior

Currently we are able to link to other notes (https://github.com/BoostIO/Boostnote/issues/41, https://github.com/BoostIO/Boostnote/issues/1111), but I don't believe we can link to a line/heading in that note.

# Expected behavior

I want to be able to link to a specific section in another note.

eg. (following GitHub code link style)

[code]

Suggested syntaxes (not sure best w

[2018-10-26 01:29] FistfulOfStars commented on #2089
@dpjayasekara That completely solves my problem, thank you very much! Never even noticed that magnifying glass before.

Works well on Linux (Mint 18.3)

[2018-10-26 06:38] ehhc commented on #2537
Hi @jangtsekiang, i think it is not a issue of us but the plugin we use. Would you be so kind and ask your question at the plugin-git? https://github.com/docarys/markdown-it-admonition

[2018-10-26 11:07] 0xdevalias commented on #2538
Closing in favour of that issue (and #2494h

[2018-10-26 11:07] #2538 closed

[2018-10-26 11:39] jangtsekiang commented on #2537
@ehhc I created an issue [there](https://github.com/docarys/markdown-it-admonition/issues/6).

I am closing this now and create a new issue once a fix has been released.

[2018-10-26 11:39] #2537 closed

[2018-10-26 13:05] b-fishr opened #2539 "BUG: Cannot link to local files with spaces in filename"
# Current behavior

When links contain spaces in filenames, they don't collapse into a hyperlink For example, I want to create a link to the related markdown file following this syntax:

See related \[note](/path/to/note with spaces in title.filetype)

Please note that the actual link to the file works as intended, the link just doesn't compress as others would

# Expected behavior

Links should s

[2018-10-26 13:40] veloso11 opened #2540 "namefiles with extensions turn into links, "resize.sh" becomes a URL"

[2018-10-26 16:33] federicochiesa opened #2541 "Severe lag spikes when typing"
I'm running Boostnote 0.11.10 on macOS 10.14 Mojave, and when I type notes there are huge lag spikes where the program freezes and then types a bunch of text all at once.
I'll be more than happy to provide more information about my issue.

[2018-10-26 20:44] sharif1093 opened #2543 "Nested admonitions do not show properly"
# Current behavior
The nested admonitions do not render properly. We cannot include an admonition within another one.
It seems that one closing `!!!` for admonitions matches all previous admonitions.

![admonitions](https://user-images.githubusercontent.com/10884607/47591573-206cc880-d93e-11e8-9bad-4141250d245d.png)

# Expected behavior
The closing `!!!` for admonitions should match the closest ad

[2018-10-27 00:43] Marmalade118 commented on #2527
Thanks, I'll take a look and see if anything helps.

[2018-10-27 03:10] ZeroX-DG commented on #2541
Hey, @federicochiesa do you still have that issue after restart Boostnote or computer?

[2018-10-27 03:11] ZeroX-DG commented on #2540
Haha such a silly bug :smile: , thank you for reporting.

[2018-10-27 03:17] ZeroX-DG commented on #2539
Why don't you drag your file into the Boostnote editor? Your file name with space will automatically change to something else.

[2018-10-27 22:58] timarcosdias opened #2548 "Single quotes and dollar sign are being escaped in the preview"
# Current behavior

Single quotes and dollar sign are being escaped in the preview:

[code]

and:

[code]

# Expected behavior

[code]

and:

[code]

# Steps to reproduce

1. Create a markdown note;
2. Add some code with single quotes or dollar signs;
3. See the escaped code in preview mode;

# Environment

- Version : 0.11.8
- OS Version and name : macOS Mojave (10.14)

[2018-10-28 08:50] phith0n opened #2550 "Right Click Menu in Preview Mode"
# Current behavior

Test on Windows 10.

When I click right button in preview mode, nothing happend.

# Expected behavior

Some times I want to copy a image from my note, like that(the screenshot from **typora**):

![image](https://user-images.githubusercontent.com/5711185/47613827-c9e3c380-dad0-11e8-8443-c4f1ea2a1766.png)

But there is no right click menu in preview mode, so I have to open the sy

[2018-10-28 10:56] kam1sh opened #2551 "Error "Too many open files" on startup"
# Current behavior
After upgrading from 0.11.6 to 0.11.9 I could not use boostnote: application always hangs on startup with the next error:

Here's full log:
[boostnote-0.11.9.log](https://github.com/BoostIO/Boostnote/files/2522701/boostnote-0.11.9.log)

Stdout:

# Expected behavior

# Steps to reproduce

1. Launch boostnote.
2. ???
3. PROFIT

# Environment

- Version : 0.11.9, package from https

[2018-10-28 12:32] mehr-licht commented on #2533
PR #2546

[2018-10-28 13:38] #2548 closed

[2018-10-28 18:56] stratumforce commented on #1008
Same problem here. Using Arch Linux with i3wm. Switched to i3 just recently. I have used KDE with global menu on system panel and there was no such problem.

When I'm pressing Alt+Shift (in this exact order) to change my language layout this menu appers:
![boostnote](https://user-images.githubusercontent.com/27692248/47620360-4a6aea00-dafa-11e8-82c2-64a645cafe1b.png)

With Shift+Alt everything's f

[2018-10-29 00:40] shelper commented on #1433
agree, dont know why it is closed, but folding would be  a nice feature to have.

[2018-10-29 07:35] ehhc commented on #2543
Douplicate of https://github.com/BoostIO/Boostnote/issues/2537

long story short: not an issue of boostnote but of the library we are using :)

It can only be fixed here if this is resolved: https://github.com/docarys/markdown-it-admonition/issues/6

[2018-10-29 07:44] NeverwinterMoon opened #2552 "Feature request: allow pure markdown source mode"
# Current behavior

Now there are two view modes:
- split panels with markdown source text on the left and output of compiled markdown on the right
- "smart mode" where when you are not editing the file, it shows the compiled output and when you click on it, it switches to the markdown editing. When the editor loses focus, it automatically switches to compiled view.

I find both modes useless. The

[2018-10-29 07:58] ValGibello opened #2553 "Opening editor from preview scrolls back to the top"
# Current behavior

Clicking on the preview panel (once or twice depending on settings) switches to editing mode but the editor goes back to the top of the page or where the cursor previously was in this mode.

# Expected behavior

When scrolling the preview and clicking on it to switch to editor mode, it is expected that the cursor is placed where the click was made in preview mode, or at least t

[2018-10-29 08:28] federicochiesa commented on #2541
Yes, it's very intermittent but it is really noticeable to the point that I have to guess what I'm writing before it shows up

[2018-10-29 08:53] federicochiesa opened #2554 "Zoom in lower left corner doesn't update properly"
If I zoom in/out using the key shortcut(cmd +/-) the zoom level in the bottom left corner doesn't update.

[2018-10-29 08:58] ZeroX-DG commented on #2554
Thank you for reporting! we'll look into this bug!

[2018-10-29 09:21] AlexanderBelm opened #2555 "v 0.11.10 not open in Ubuntu 18.10"
Boostnote 0.11.10 does not open in Ubuntu 18.10

[2018-10-29 09:31] ZeroX-DG commented on #1978
The issue is funded in https://github.com/BoostIO/Boostnote/issues/2084

[2018-10-29 09:31] #1978 closed

[2018-10-29 09:35] ZeroX-DG commented on #2553
Thank you for reporting, duplicated: https://github.com/BoostIO/Boostnote/issues/382

[2018-10-29 09:35] #2553 closed

[2018-10-29 09:37] #2472 closed

[2018-10-29 09:40] ZeroX-DG commented on #2552
You can custom how the preview mode should be toggled in the setting. In your case, I think you should set it to right click
![image](https://user-images.githubusercontent.com/12984316/47641678-48a43380-db99-11e8-96e1-bae079f721df.png)

[2018-10-29 09:40] #2552 closed

[2018-10-29 09:43] ZeroX-DG commented on #2520
Feel free to re-open this issue if it happens again

[2018-10-29 09:43] #2520 closed

[2018-10-29 09:48] ZeroX-DG commented on #2413
Maybe the setting is somehow corrupted. Anyway, feel free to re-open this issue if it happens again

[2018-10-29 09:48] #2413 closed

[2018-10-29 09:51] ZeroX-DG commented on #2373
@randman1 is this issue still exists? if not can you close the issue?

[2018-10-29 09:52] ZeroX-DG commented on #2360
Hey @devilyard is this issue still exists? if not can you close it?

[2018-10-29 09:53] NeverwinterMoon commented on #2552
@ZeroX-DG Thanks a lot for your help, I did go through the settings but missed that one!

But still, I would leave this ticket as a feature suggestion. Having two different modes does not make much sense. For instance, Bear (which is hands down the best markdown editor I used) has one mode - it's a combination of Boostnote's preview and source views. Basically, it creates the preview on the fly in

[2018-10-29 09:59] NeverwinterMoon commented on #2552
This is how it looks:

![image](https://user-images.githubusercontent.com/1917308/47642715-04ea0380-db72-11e8-9e9a-f0cb2a531002.png)

So the markdown is already parsed on the fly and you can type in the same view.

[2018-10-29 10:00] ZeroX-DG commented on #2552
@NeverwinterMoon I know what you're thinking, your feature request is kinda like this one: https://github.com/BoostIO/Boostnote/issues/1971
The team hasn't had the time to look into that feature yet. However, I'll tell the team about that feature too, it looks cool :smile:

[2018-10-29 10:02] #2331 closed

[2018-10-29 10:02] #2505 closed

[2018-10-29 10:04] #2543 closed

[2018-10-29 10:09] ZeroX-DG commented on #2275
Feel free to re-open the issue if this is happens

[2018-10-29 10:09] #2275 closed

[2018-10-29 10:10] ZeroX-DG commented on #2270
Closed due to inactivity

[2018-10-29 10:10] #2270 closed

[2018-10-29 10:11] ZeroX-DG commented on #2256
Merged :smile:

[2018-10-29 10:11] #2256 closed

[2018-10-29 10:13] #2149 closed

[2018-10-29 10:15] #2078 closed

[2018-10-29 10:16] #2068 closed

[2018-10-29 10:17] #2046 closed

[2018-10-29 10:17] #2045 closed

[2018-10-29 10:17] #2042 closed

[2018-10-29 10:26] #2029 closed, assigned to nobody

[2018-10-29 10:28] ZeroX-DG commented on #1937
Closed as fixed https://github.com/BoostIO/Boostnote/pull/1858

[2018-10-29 10:28] #1937 closed

[2018-10-29 10:32] ZeroX-DG commented on #1901
Have you tried this feature
![image](https://user-images.githubusercontent.com/12984316/47644375-89537b00-dba0-11e8-9c23-d9018fcd8e66.png)

[2018-10-29 10:32] #1901 closed

[2018-10-29 10:33] ZeroX-DG commented on #1819
closed as fixed

[2018-10-29 10:33] #1819 closed

[2018-10-29 11:17] yougotwill commented on #2360
@ZeroX-DG, seems to be fixed for me 👍

[2018-10-29 11:29] #2360 closed

[2018-10-29 13:03] b-fishr commented on #2539
I prefer to use a direct filepath, and it is easier for me to copy path in windows and then paste it into a link than it is to use the boostnote path that shows when the file is dragged in. I also just visually prefer to see directly where I am linking.

[2018-10-29 14:38] AlexanderBelm commented on #2555
I installed Ubuntu 18.10 and installed Boostnote v0.11.10. When I run
boostnote v0.11.10, it does not start.
Then I installed on ubuntu 18.10 booste v0.11.6 and it works!

пн, 29 окт. 2018 г. в 12:25, Nguyen Viet Hung <notifications@github.com>:

[2018-10-29 14:54] ZeroX-DG commented on #2555
We are going to need more information about that, can you install v0.11.10 then run `boostnote` from the terminal and tell us what is the error printed on the terminal?

[2018-10-29 15:09] AlexanderBelm commented on #2555
Segmentation fault (core dumped)

пн, 29 окт. 2018 г. в 17:56, Nguyen Viet Hung <notifications@github.com>:

[2018-10-29 17:05] NeverwinterMoon commented on #2552
@ZeroX-DG OK, after a few hours of use, I noticed a bug when using "Switch to Preview: On Right Click". Basically, it works fine until reopening of the app. When I shut it down and re-open it, I can't start editing. I click on the editor view, but the cursor is not placed anywhere. To solve this, I have to click on "Toggle Mode" twice, then I can start editing. Basically, the "on right click" is d

[2018-10-29 21:09] OnlineVagrant opened #2556 "update katex version to 0.10.0"
The latest version of katex was released 17 hours ago. Why wasn't it released before the last boostnote release :( lol

[2018-10-29 21:19] OnlineVagrant opened #2557 "Katex alighnment error"
I originally made an issue about this here but then closed it after I though it was a katex error rather than a boostnote error and opened an issue with the katex team instead. However, I was told that it wasn't a katex error as the code I submitted was working fine. I don't know how to explain this so hopefully one understands what I'm talking about after reading the [issue](https://github.com/Kh

[2018-10-29 21:36] crakoucas commented on #2555
Same issue => #2483

You need to wait the next release if #2484 will merge or

1. Clone the repo
2. Change electron to V3.0.3 in the package.json file
3. Build your own  Boostnote with Grunt Build

[2018-10-29 23:07] promiseofcake commented on #2149
Has this been solved?

[2018-10-30 01:31] ZeroX-DG commented on #2552
@NeverwinterMoon The setting is a bit confusing, you must right click to go to preview and right click on preview mode to go back to editor mode

[2018-10-30 01:35] ZeroX-DG commented on #2149
I think so, can you check it?

[2018-10-30 04:56] NeverwinterMoon commented on #2552
@ZeroX-D What I meant is that every time i restart the app, it shows the editor in the edit mode (not preview), but I can’t edit. This applies only to existing notes. If I create a new note, it’s editable right away.

[2018-10-30 05:13] ZeroX-DG commented on #2552
Oh sorry, haha, if so can you open up the dev tool to identify the problem? Please open a new issue for it if necessary.

[2018-10-30 05:40] nagledb commented on #2539
That behavior is explicitly part of the [CommonMark Spec](https://spec.commonmark.org/0.28/#links):

This is necessary because you can optionally include a title for the link, like so: `[example](http://example.org "This is a test")`. Which renders as: [example](http://example.org "This is a test"). (Hover over it for the title.)

Making spaces in links work correctly would thus be non-trivial. Th

[2018-10-30 05:50] nagledb commented on #2539
Actually I was wrong on one point: It looks like this *will* be changed in the next release of the CommonMark spec. Per [here](https://github.com/commonmark/CommonMark/blob/master/spec.txt#L7313), link destinations have the option to contain:

In other words, like so: `[example](<link with spaces.md>)`.

Since markdown-it is 100% compliant with CommonMark, I imagine they'll adopt that when the nex

[2018-10-30 07:30] ehhc commented on #2539
@nagledb thanks a lot for the explanation

[2018-10-30 11:46] devilyard commented on #2360
thank you, after reported this issue, i cannot reproduce it again, so maybe it is gone. thank you.

[2018-10-30 14:07] dpjayasekara opened #2558 "Brackets "<>" are misinterpreted as HTML tags and closing tags are added automatically"
#2160
Is this an issue or a just a configuration? It really messes up my markdown as well.

e.g, I need to write `ssh <host_alias` in my markdown. This is how it's rendered:

[code]
Boostnote thinks `<host_alias>` is a tag and it automatically closes it. This is painful. Is there any workaround or configuration to fix this? I haven't found one yet.

[2018-10-30 14:07] dpjayasekara commented on #2558
#2160

[2018-10-30 20:48] Redsandro opened #2559 "PlantUML text colors unreadable on dark backgrounds"
# Current behavior

Choosing a dark theme is popular. These are the most common reasons for choosing a dark theme:

* Cooler looking
* Easier on the eyes
* More battery friendly for OLED displays

Boostnote was very aware of this, and you can choose a dark theme:

![image](https://user-images.githubusercontent.com/1702193/47749252-0b20d280-dc8d-11e8-9492-6571006b10e7.png)

The problem is that Plan

[2018-10-30 20:57] Redsandro opened #2560 "Flowchart and sequence don't adhere to the chosen Interface Theme"
# Current behavior

Choosing a dark theme is popular. These are the most common reasons for choosing a dark theme:

* Cooler looking
* Easier on the eyes
* More battery friendly for OLED displays

Boostnote was very aware of this, and you can choose a dark theme:

![image](https://user-images.githubusercontent.com/1702193/47749252-0b20d280-dc8d-11e8-9492-6571006b10e7.png)

The problem is that `flo

[2018-10-30 20:59] Redsandro commented on #2555
Duplicate of #2483. @AlexanderBelm would you be so kind as to close this issue?

[2018-10-31 02:44] synsa commented on #2555
Having the same issue on a fresh install of Kubuntu 18.10.

`Distributor ID:	Ubuntu
Description:	Ubuntu 18.10
Release:	18.10
Codename:	cosmic`
Kernel:	Linux 4.18.0-10-generic x86_64

[2018-10-31 03:16] hzhangxyz opened #2561 "render pane and editor pane have dislocation"
# Current behavior

when there is many image in a single note,
the editor pane and render pane have some dislocation,
as the screenshop shows

![image](https://user-images.githubusercontent.com/11623447/47763890-8c17b280-dcfd-11e8-8d73-f43cf2ae2a76.png)

# Expected behavior

what's expected is when scrolling editor pane to the bottom, the render pane also scrolls to the bottom

# Steps to reproduc

[2018-10-31 03:37] hzhangxyz commented on #2561
OK, it is not the image's fault, it seems in browser/components/MarkdownSplitEditor.js
`const distance = (targetHeight * srcTop / srcHeight) - targetTop` is wrong when left pane height is smaller then right pane

[2018-10-31 05:01] hzhangxyz opened #2563 "Toggle view mode disturb location in note"
# Current behavior

When toggle single pane mode and double pane mode, the location in note will be disturbed

And in single pane mode, toggle between edit mode and render mode will also disturb location of render pane

# Expected behavior

It would be better if boostnote remember position when toggling view mode.

# Sreenshot

now:
![image](https://user-images.githubusercontent.com/11623447/47767

[2018-10-31 13:42] #2555 closed

[2018-10-31 23:34] nagledb opened #2564 "CodeMirror-related refactoring"
[react-codemirror](https://github.com/JedWatson/react-codemirror) implements a React component for CodeMirror. However, Boostnote currently only uses it in the preferences Interface tab to preview the editor theme and to edit Custom CSS.

The other two places Boostnote uses CodeMirror does *not* use react-codemirror; each place implements its own component that instantiates CodeMirror directly: [b

[2018-11-01 03:00] adlersantos commented on #1803
Just started with a donation to have this under the radar of the contributors. Feel free to add to the funding to encourage development and/or further discussions for this feature. Looking forward!

[2018-11-01 08:56] ZeroX-DG commented on #2558
Can you provide more information?
- Which type of note are you using
- Steps to reproduce the problem

[2018-11-01 09:14] Rokt33r commented on #2564
I think we should discard the current usage of react-codemirror. I don't think the module is covering all features of codemirror because it isn't updated for 2 years.
If there is something better in the module, we could pick the cherry.

[2018-11-01 09:18] Rokt33r commented on #2564
But, we have to refactor CodeEditor component. It is too heavy. I think we split it into several classes like `CodeEditorKeyBinder`, `CodeEditorImageDropHandler`....

[2018-11-01 11:09] dpjayasekara commented on #2558
It's a markdown note.

Steps to reproduce:

1. Open a new code block with `sh` language type
2. type `ssh <host_alias>` inside the code block (just an example)
3. See the preview

The preview will be :
[code]
instead of
[code]

[2018-11-01 14:47] richardtks commented on #2528
Hi, may I know the branch/tag that you are referring to "re-writting this app" into a whole new app?

[2018-11-01 14:57] lundyio commented on #76
This needs to be a thing, I can't believe we're still talking about this. Mutiny?

[2018-11-01 15:04] richardtks opened #2565 "How to use vscode to debug boostnote"
Hi,

I have read the debug.md, inside the document, it uses the the google developer tools to debug. I am using vscode as the IDE, is it possible to debug the boostnote in vscode instead of using the google developer tools?

Thank you.

[2018-11-01 16:08] nagledb commented on #2564
Thanks for the feedback. I'll start working on a PR to break up CodeEditor and to update the other 3 places to use it.

[2018-11-02 04:04] patrickf3139 opened #2566 "Migrating from Quiver"
Hi there, I was a long time Evernote user. A month ago, I found Quiver and despite its lack of recent development, migrated onto it. Then, on the off chance of looking up some Quiver news, I found Boostnote and absolutely fell in love with the project. It's 90% what I need! It may not be 100% but I'd say Quiver was only 70% and Evernote 50% what I need.

Anyway, I immediately tried migrating from

[2018-11-02 09:06] ZeroX-DG commented on #2565
Currently no, I've been trying to configure it many times but failed every time. It would be great if someone can configure vscode to work with Boostnote.

[2018-11-02 10:06] SongJayJay opened #2567 "code auto complete"
I hope to provide automatic code completion，like vim when i write snippet and plantuml

[2018-11-02 20:40] mahdikooshkbaghi opened #2568 "inconsistent jump in preview mode"
# Current behavior
When I add some text at the end of my markdown file and hit enter the preview will jump to somewhere in the middle of the text. Scrolling back to the end of the preview window is working as expected, however, hitting enter will bring the preview again to the wrong position.
I have put my Markdown text at the end of this issue as well.
# Environment
- Version : Boostnote 0.11.10

[2018-11-04 04:21] empeje opened #2570 "Preview mode not encoded properly"
# Current behavior

When I try to write this thing in the editor

<img width="559" alt="screen shot 2018-11-04 at 11 22 26" src="https://user-images.githubusercontent.com/11813607/47959966-f729f780-e023-11e8-9abf-b6434f33d7df.png">

# Expected behavior

Instead, I got this

<img width="663" alt="screen shot 2018-11-04 at 11 22 32" src="https://user-images.githubusercontent.com/11813607/47959967-f9

[2018-11-04 07:58] arcturus140 commented on #2570
had the same problem.
it doesn't happen when typing text but rather while pasting text containing a mixture of character encoding.

[2018-11-04 11:35] apatryda commented on #236
Maybe this could be also done as a plugin - considering the lack of consensus on the issue?

I personally prefer the look & feel of [StackEdit](https://stackedit.io/app) / [Laverna](https://laverna.cc/app/) take on the semi-wysiwyg editor to a [HyperMD](https://laobubu.net/HyperMD) one.
Especially the thing that Markdown formatting characters stay visible yet are hushed out by the use of lighter c

[2018-11-04 16:49] enyaxu commented on #2565
@ZeroX-DG I push a pull request in this #2571.

[2018-11-05 00:10] richardtks commented on #2565
@enyaxu thank you, you are a life saver!

[2018-11-05 04:00] whr94621 commented on #2212
Is there any update on this issue?

[2018-11-05 11:39] #2207 closed

[2018-11-06 04:50] Rokt33r commented on #2212
@yamash723 Could you check this again?

[2018-11-06 05:41] kyan001 commented on #2530
I thought this place is a place to report bugs... Should I have to fix it by myself? If so, I'd better to start learning electron now.

[2018-11-06 05:43] ZeroX-DG commented on #2530
@kyan001 Oops, wrong page :smile: sorry.

[2018-11-06 06:19] #1922 closed

[2018-11-06 06:19] #2514 closed

[2018-11-06 06:43] Rokt33r commented on #2164
@popey Awesome! I'll try it on this weekend!

[2018-11-06 07:11] Rokt33r commented on #2516
It will be included to the new release of this weekend! Thanks @daiyam !!

[2018-11-06 07:11] #2516 closed

[2018-11-06 13:48] 0vermind opened #2573 "Open note in external editor"
Hi guys, great work!

I discovered Bootsnote and I think it could be the definitive note taking app!

I think a lot of issues can be closed immediately by using an external code editor instead of edit inside Bootsnote.
Having a button to automatically lunch the editor and passing the current note could be a solution to some requests. We don't need to compete with feature-rich IDE like Visualstudio

[2018-11-07 01:24] jangtsekiang opened #2574 "Error: spawn EACCES"
I am having trouble building the project.

Can someone help please?

[code]

[code]

# Environment

node -v
v8.12.0
npm -v
6.4.1

- Version : master branch
- OS Version and name : 16.04 Ubuntu

[2018-11-07 01:45] ZeroX-DG commented on #2574
somehow the system prevents the code from starting electron. Make sure you have the right permission for the project folder. You can try to use the `sudo` command. Although I'm not sure there will be any harm if you use that command (It should not cause any problem).
[code]

[2018-11-07 02:01] jangtsekiang commented on #2574
@ZeroX-DG that didn't help :cry:

[2018-11-07 11:02] Paalon opened #2575 "Can't `yarn run dev`."
According to the document, to build Boostnote, do `yarn` then `yarn run dev` but it emits the following error:

[code]
As far as I see the package.json, it seems the documentation is not updated.

[2018-11-07 11:16] Paalon commented on #2556
Opened.
https://github.com/BoostIO/Boostnote/pull/2576

[2018-11-07 11:48] ZeroX-DG commented on #2575
Did you pull the latest commit from master branch?

[2018-11-07 11:55] mehr-licht commented on #2575
It seems this is a yarn problem: [yarn can't run scripts in package.json #1045](https://github.com/yarnpkg/yarn/issues/1045).

try uninstall yarn and reinstalling it through a different method

[2018-11-07 11:57] ZeroX-DG commented on #2575
or just
[code]
All hail npm

[2018-11-07 12:07] ZeroX-DG commented on #2574
Have you tried `sudo chown` ?

[2018-11-07 12:07] Paalon commented on #2575
My package.json doesn't have scripts dev

[code]

[2018-11-07 12:10] ZeroX-DG commented on #2575
Then it's not the yarn issue. You don't have the latest code. You must pull the new code to your local repo.
Take a look at the latest package.json
https://github.com/BoostIO/Boostnote/blob/37933782d2e0364dc29b94b60bc00ae28f8f5161/package.json#L1-L19

[2018-11-07 12:19] #2575 closed

[2018-11-07 12:20] ZeroX-DG commented on #2573
I do not quite understand your feature request. Can you give an example where opening the note in an external code editor will help?

[2018-11-07 12:31] jangtsekiang commented on #2574
I had ownership so there was no need for. I cloned into $HOME/ directory and everything is fine. :1st_place_medal:
Very wired.

Thank you for the help, @ZeroX-DG

[2018-11-07 12:31] #2574 closed

[2018-11-07 14:21] yamash723 commented on #2212
@Rokt33r
I checked again this bug(Windows 10 & latest Boostnote), but this bug did not reproduce.
The bug has already been fixed.

[2018-11-07 15:15] ZeroX-DG commented on #2558
I can reproduce the bug. Which version are you using?

[2018-11-07 16:14] infosisio opened #2577 "Latest Version Does Not Even Start In Ubuntu 18.10"
Nothing more to say, it's just not running at all. It used to work fine in 18.04.

[2018-11-07 16:42] zmcddn commented on #2326
I experience the same problem, has this been fixed?

[2018-11-07 17:54] dpjayasekara commented on #2558
It is Version 0.11.10 (0.11.10) (macOS Mojave)

[2018-11-07 20:32] dpjayasekara commented on #2558
![boostnote](https://user-images.githubusercontent.com/1533286/48159077-9248f880-e2d4-11e8-883d-b2e4b5016f81.gif)

I'm not sure whether there's a configuration to prevent this happening, maybe I can't find it.  :/

[2018-11-07 23:14] travisluong commented on #1813
Seems like this feature already exists. On mac, you can jump to next highlighted result with CMD + G, and previous highlighted result with CMD + SHIFT + G.

[2018-11-08 01:13] ZeroX-DG commented on #2577
Can you run boostnote from terminal and paste the error here?

[2018-11-08 02:06] alickmail commented on #2521
However the file type is something like this:
[code]
May I ask how can I read these files from mobile? Many Thanks!

[2018-11-08 02:59] Rokt33r commented on #2212
@yamash723 Thanks! Then I'll close this issue.

@Kail0 @whr94621 If you still have this problem, please make another issue.

[2018-11-08 02:59] #2212 closed

[2018-11-08 04:00] whr94621 opened #2578 "Can not export as html due to dracula.css not found."
The same error info as #2212.  My os version is windows 10. I indeed find the file 'dracula.css' under the boost directory, and I suspect it is due to my Chinese username.

I will appreciate if anyone can help me.

[2018-11-08 04:02] whr94621 commented on #2578
This is the screenshot of this error:

![tim 20181108120154](https://user-images.githubusercontent.com/16242350/48177147-2dca7f80-e34e-11e8-9bd5-1c0920b199a8.png)

[2018-11-08 09:22] UCANSISMAN opened #2580 "Lines"
it is so annoying to see that lines
https://ibb.co/n9uhSq

[2018-11-08 09:39] kyan001 opened #2581 "[BUG] Generated TOC always jump to the first heading if headings are the same"
# Current behavior
For example, if I have headings with the same name "Download" under different headings "Boostnote" and "Boostnote-Mac", clicking on the "Download" in the generated TOC always jumps to the first "Download" which is "Boostnote/Download"
[code]

# Expected behavior
Clicking on different headings should jump to the correct heading.

# Environment

- Version :  0.11.10
- OS Version a

[2018-11-08 09:48] kyan001 opened #2582 "[BUG] Generated TOC cannot escape special chars"
# Current behavior

if a heading has some special chars, clicking on the corresponding link in the generated TOC will not jump. It happens nothing.

## These special chars will cause this problem
`/` `「` `」` `：` `、` `（` `）`
* ps: if `/` has spaces before and after, then it will cause the problem. like `login / logout`. But if `/` does not have spaces around, then it works fine. e.g. `login/logout`

[2018-11-08 11:55] gregueiras commented on #2534
Hi, me and @susanalima would like to work on this issue. Anything that we should know in advance?

Thank you 😊

[2018-11-08 12:54] ZeroX-DG commented on #2534
Hey @gregueiras and @susanalima, there's a bounty on this issue so if you want to work on this issue and earn money from it. Then you can sign up with IssueHunt: https://issuehunt.io/ then submit your link to the pull request at this [link](https://issuehunt.io/repos/53266139/issues/2534). After your PR is merged you will be rewarded. Thank you for contributing to Boostnote

[2018-11-08 12:55] ZeroX-DG commented on #2581
We will look into this issue. Thank you for reporting

[2018-11-08 12:56] ZeroX-DG commented on #2580
Hi, thank you for reporting. This is duplicated with https://github.com/BoostIO/Boostnote/issues/2225

[2018-11-08 12:56] #2580 closed

[2018-11-08 12:58] ZeroX-DG commented on #2578
Thanks for reporting. I also suspect it is due to your Chinese username.

[2018-11-08 13:01] #2483 closed

[2018-11-08 13:05] #2153 closed

[2018-11-08 13:09] #1893 closed

[2018-11-08 13:15] #2287 closed

[2018-11-08 13:16] ZeroX-DG commented on #2299
Feel free to re-open this issue if this still happens

[2018-11-08 14:12] mitchellm44 opened #2587 "NPM install fails to find git://github.com/adobe-webplatform/eve.git - no such file or Directory"
# Current behavior
ERR messages on  NPM install - using Windows 10

# Expected behavior
install should work

# Steps to reproduce
npm install

1.
2.
3.

# Environment

- Version :
- OS Version and name :

[2018-11-08 17:52] kanonji opened #2588 "Confirmation is needed for the Empty Trash operation."
# Current behavior

No confirmation for the Empty Trash operation.

![boostnote 2018-11-09 02 28 28](https://user-images.githubusercontent.com/134377/48216314-b6393680-e3c7-11e8-9b9b-98ec568ce6f2.png)

# Expected behavior

The Empty Trash operation affects much more notes than clicking trash icon on  top-right corner that have a confirmation.
I think it is better to have confirmation for the Empty

[2018-11-09 08:43] daiyam commented on #2299
@fleksin does emoji panel correctly open in other applications?

[2018-11-09 08:49] nilsocket commented on #2513
@ZeroX-DG  Why aren't you guys tagging the release?

[2018-11-09 12:40] infosisio commented on #2577
@ZeroX-DG "Segmentation fault (core dumped)"

[2018-11-09 13:29] ZeroX-DG commented on #2587
Hey @mitchellm44 did you submit the wrong repo?

[2018-11-09 13:30] ZeroX-DG commented on #2588
Thank you for reporting. We'll look into this.

[2018-11-09 19:39] AlexEshoo commented on #2275
I upgraded to 0.11.10 and this still does not work.
Ubuntu 16.04

I even tried `Andalé Mono` font as suggested above. Clicking on "Format Table" has no effect.

[2018-11-09 19:45] AlexEshoo commented on #2275
Furthermore the "smart table editor" feature (https://github.com/BoostIO/Boostnote/pull/2312) does not work for me

[2018-11-09 20:05] mattkoskela commented on #1789
This is a duplicate of #586

[2018-11-09 20:19] Airgunster commented on #586
Can someone please help to get current status of this issue? Looks like we had a good progress, but then everything was rolled back and it's unclear where are we now.

Thanks a lot in advance!

[2018-11-09 22:44] mitchellm44 commented on #2587
I came across the repository when researching electron - I was on my work computer. The comments are emailed to my home computer. I just cloned it on a home computer and the install did not fail here. It might be blocked at work? - I thought I captured and pasted a screen shot of the error when I posted but I do not see how to pull that up on github.  The error was for this repository.

[2018-11-09 22:57] mitchellm44 commented on #2587
after doing the install - I ran the "npm audix fix" and then "npm start" and it seems to have a gif show up in he middle of the screen like it is thinking. The menu items seem to allow me to click on them - but not a thing happens - seems like it is broken.

[2018-11-10 11:40] daiyam commented on #2295
@tatoosh I've made the PR #2595 to resolve your issue. Visually, it's close.

[2018-11-10 15:35] vcvetkovs commented on #1630
I prefer first level shortcuts: 'Alt + 1' - foldLevel1, 'Alt + 2' - foldLevel2, etc... 'Alt + Shift + 1' - unfold level 1.

[2018-11-10 18:03] mattkoskela commented on #586
I've slowly started picking away at it when I have time (which is not often), but have not made significant progress.  If anyone has the time to help, I'm available on the Slack channel.

[2018-11-10 18:28] daiyam commented on #2587
@mitchellm44 this repo uses `yarn`. Refer to [Build documentation](https://github.com/BoostIO/Boostnote/blob/master/docs/build.md). Thx

[2018-11-10 18:34] daiyam commented on #2223
@cristophercutas are you still having the issue? I can't reproduce it.

[2018-11-10 19:29] gregor-d commented on #2578
I have the same problem. W10 x64 , Boostnote version 0.11.10

![image](https://user-images.githubusercontent.com/33283245/48305223-1f838b80-e527-11e8-8eb6-2a6133024862.png)

[2018-11-11 05:19] richardtks commented on #2351
@ZeroX-DG, can you explain in more details?

I tested the snippet note, it will update the language based on the file extension. So do you mean that even user did not enter the file extension, the code snippet note should also able to detect the language?

Following are the screenshot where the language is updated when the file extension is set.
![auto_detect_question](https://user-images.githubus

[2018-11-11 07:51] remmyle1102 opened #2599 "Crash when open Boostnote"
# Current behavior
The latest version can't be opened on Ubuntu 18.10

# Environment

- Version : 0.11.10-1
- OS Version and name : Ubuntu 18.10

[2018-11-11 08:30] ZeroX-DG commented on #2599
Can you run Boostnote from the terminal and tell us the printed error?

[2018-11-11 08:54] remmyle1102 commented on #2599
![screenshot from 2018-11-11 15-53-25](https://user-images.githubusercontent.com/25774802/48310939-02ec5f80-e5ca-11e8-8358-60275b84b867.png)

[2018-11-11 08:57] ZeroX-DG commented on #2599
This is a known issue and has been fixed in https://github.com/BoostIO/Boostnote/pull/2484. The fix will be available in the next release so please wait :smiley:

[2018-11-11 08:57] #2599 closed

[2018-11-11 11:32] yougotwill commented on #2554
@federicochiesa Fixed 👍 https://github.com/BoostIO/Boostnote/pull/2601

[2018-11-11 11:34] yougotwill commented on #2089
Fixed 👍 https://github.com/BoostIO/Boostnote/pull/2601

[2018-11-11 13:06] arcturus140 commented on #2578
@gregor-d @whr94621 can you tell us which interface theme, editor theme, code block theme you are using in your preferences? I tried to replicate on Linux.

thank you

[2018-11-11 13:08] whr94621 commented on #2578
@arcturus140

Interface Theme: Default
Editor Theme: Default
Code Block Theme: Default

[2018-11-11 14:03] gregor-d commented on #2578
@arcturus140

Interface Theme: Default
Editor Theme: base16-dark
Code Block Theme: dracula

But same behaviour with default themes. Maybe it's is a problem with the space in my username?

[2018-11-11 14:04] arcturus140 commented on #2578
Yes, I think so. I am unable to replicate the issue. Tried on Linux Ubuntu and Windows 10 with a fresh install of 0.11.10.

[2018-11-11 14:08] gregor-d commented on #2578
I created a new user with the name "testuser", and have no problems exporting to HTML. So the problem only exists with the user name "Gregor D"

[2018-11-11 14:41] arcturus140 commented on #2204
@Rokt33r what is the status of this issue? I think it has been merged into 0.11.9 and can be closed?

[2018-11-11 14:43] arcturus140 commented on #2540
@ZeroX-DG this should be a feature request IMO. Pretty sure I have a few manually typed links in my notes that would break otherwise.

[2018-11-11 15:01] ZeroX-DG commented on #2540
In that case, can you make this feature optional? Or should we disable it forever?

[2018-11-11 17:44] ev4ern commented on #126
That's a great idea! It would be very useful for most of people!

[2018-11-11 22:15] vcvetkovs opened #2602 "Ordering bug"
# Current behavior

When changing saved doc ordering from 'Updated' to 'Alphabetically' all works great but when you switch to another folder sorting dropdown value stays the same (Alphabetically) but docs are ordered in 'Updated' order. Workaround is to set value to 'Updated' (after that nothing changes) and then back to desired value.

# Expected behavior

I think it would be better when it orde

[2018-11-12 09:41] jhit commented on #2578
Probably the issue is that file system paths get URL encoded like %20 for the space character.

[2018-11-12 09:43] arcturus140 commented on #2602
@vcvetkovs the intended behaviour is to remember each setting on a folder basis. You should be able to set your order for every folder individually and ordering should apply accordingly. The default ordering is 'Updated'.

Unfortunately I was not able to replicate your issue, could you record it?

# Environment

- Version : 0.11.10
- OS Version and name : 16.04 Ubuntu
- OS Version and name : 1803

[2018-11-12 11:16] Erroler commented on #2540
A possible solution to implement is to make backslashs \ immediately before the file name prevent it from being shown as a link.

[2018-11-12 15:28] SofiaCardosoMartins commented on #2305
Hi there! Me and @amrpcosta are really interested in this issue. Could we offer some help?
Thanks in advance :smile_cat:

[2018-11-12 15:29] SofiaCardosoMartins commented on #2260
Hi there! Me and @amrpcosta are really interested in this issue. Could we offer some help?
Thanks in advance :smile_cat:

[2018-11-12 15:40] #1406 closed

[2018-11-12 20:48] vcvetkovs commented on #2602
https://www.dropbox.com/s/1492j1tzjxf131s/bug.avi?dl=0

[2018-11-12 23:01] Erroler commented on #2563
Looking into this. Figured out a simple solution but still needs some tweaking in order to work properly with the markdown previewer.

[2018-11-13 02:32] rohjs opened #2605 "A middle ground between enabling JS on preview and preventing XSS attack"

[2018-11-13 02:33] #2605 closed, assigned to nobody

[2018-11-13 03:04] ecvgit commented on #490
Is this issue going to be fixed? I think this will convince a lot of folks who are currently using various markdown based schemes to switch to Boostnote (because of the ease of switching back if needed).

[2018-11-13 06:04] ZeroX-DG commented on #2351
@richardtks I want when I paste my code in snippet note it will automatically detect the language and add the appropriate extension

[2018-11-13 08:40] jhit commented on #304
It is not difficult to build the packages. It is described here: https://github.com/BoostIO/Boostnote/blob/master/docs/build.md

[2018-11-13 08:54] jhit commented on #304
@SkYNewZ Maybe you can get in touch with the maintainers of boostnote and move your build pipeline into the official repository. I think this would be great to keep things more easy for users.

[2018-11-13 09:15] daiyam commented on #490
@ZeroX-DG I would like to add an option to add or not the metadata into the YAML front matter.
But where to place that option? Not in the `Interface` tab, maybe in a new tab `Export`?

[2018-11-13 13:42] incace commented on #1356
This is the only thing keeping me having to go back to Bear to grab webpages. Would love this!

[2018-11-13 22:08] daiyam commented on #1630
@vcvetkovs I've added the following configurable shortcuts:
![screenshot](https://user-images.githubusercontent.com/587742/48446116-b30fc300-e798-11e8-9cb6-4cc17e8ea980.png)

[2018-11-14 01:03] nicklayb commented on #2521
I have seen the post about syncing through google drive, but I think it would be way more efficient to use google drive api instead of folder. I do not have the google drive app installed and don't want to install it, it would have been simpler to setup an Google API token through the App.

Any plan on this?

[2018-11-14 08:29] eromoe commented on #1356
+999 . If this complete, I would be very happy throw evernote into trashcan .

[2018-11-14 16:47] vcvetkovs commented on #1630
@daiyam Thank you! :)

[2018-11-14 21:33] Caspercode444 opened #2607 "Boostnote 0.11.10 does not start on Ubuntu 18.04 and gives no error"
# Current behavior

V0.11.10_amd64.deb does not start on Ubuntu 18.04.1 LTS
* I tried running Boostnote and it shows  Boostnote icon in top bar with a spinner and quits after 4-5 seconds. The application does not open.
* Also, It does not run from the terminal and the cursor simply blinks forever without giving any error.
![boostnotes](https://user-images.githubusercontent.com/45028805/48510207-20

[2018-11-15 02:20] daiyam commented on #490
What about those options?
![screenshot](https://user-images.githubusercontent.com/587742/48525647-33135700-e885-11e8-8f3e-97a81d09d5ee.png)

[2018-11-15 06:43] jiereal opened #2608 "App crashes when switching networks"

[2018-11-15 07:55] cristophercutas commented on #2223
Apologies for the delayed response. Yes, I can still reproduce it. I am on version `0.11.10 (0.11.10)`. However its only observable in an empty new line.

I tried it another machine (same specs) and it was reproducible. I could not reproduce it on 100% zoom setting, but on 80% zoom setting the cursor disappears, although the scenario may vary. On machine 1 it only disappears on empty new lines, on

[2018-11-15 08:10] hrsma2i opened #2609 "Tagging selected multi notes at once."
# Current behavior

We can't tag selected notes at once.

# Expected behavior

Like Evernote, we can tag selected notes at once.

# Steps to reproduce

1.
2.
3.

# Environment

- Version : 0.11.10
- OS Version and name : MacOS HighSierra 10.13.6

[2018-11-15 13:40] gotofritz commented on #2259
Hi. I started using boostnote because I like the fact I have "physical files" I can move about, and store in different devices. If I wanted a database I would just create one directly...

On the other hand, early Evernote used a db for metadata IIRC while keeping the content in files, so perhaps that is a the best of both worlds?

[2018-11-15 21:29] supernrm commented on #1069
CTRL+E works but CTRL+W (exit) not. CTRL+J/K also does not work.

Mac Mojave 10.14.1

[2018-11-15 22:04] daiyam commented on #490
@ecvgit I've just done the PR #2612 to be able to export with the metadata.

[2018-11-16 01:50] #2530 closed

[2018-11-16 07:54] ZeroX-DG commented on #2608
Google translate: App crashes when switching networks

[2018-11-16 08:08] tonywoode commented on #1596
great work and all, sorry to say this is the single app i have on my mac that doesn't have a setting to turn off update notifications and auto-downloads. The latter is regrettable, but its the notification nags that kill me....i use brew and other tools, i update frequently: i want to update when I want to update, not when you want to nag me to update, which distracts me from my work

[2018-11-16 11:08] marcofriso opened #2613 "After last update I saw some strange behaviour on the rendering of code blocks."
# Current behavior

![image](https://user-images.githubusercontent.com/22599025/48617100-c5a31b80-e995-11e8-940e-7f358407b0bc.png)

# Expected behavior

![image](https://user-images.githubusercontent.com/22599025/48617716-7fe75280-e997-11e8-8a89-c6c5ed58b9cc.png)

# Steps to reproduce

After last update I saw some strange behaviour on the rendering of code blocks.
Problem disappear when an empty l

[2018-11-16 16:21] zambawamba opened #2614 "Code blocks/fences within Admonitions render multiple times"
# Current behavior

Using code blocks within an admonition renders three copies of the block, weirdly enough twice before the description and once after. See screenshot for details.

![boostnote_admonition_bug](https://user-images.githubusercontent.com/8958171/48632747-f9943600-e9c1-11e8-8de5-b65613e4fe97.png)

I tried removing the code fence HTML definition but that doesn't make any difference.
T

[2018-11-16 19:38] tscangussu commented on #2607
Boostnote 0.11.10 doesn't work on Ubuntu 18.10 either but 0.11.11 works.

[2018-11-16 23:31] infosisio opened #2615 "Annoying Issues"
I have reported several times a couple of annoying issues that seem to persist.

One of them is the "Create a new note" screen, after deleting a note instead of taking you to the next and the other is the gray flashing that you see when you create a new note.

It's 2018 and this is a modern web application, out of respect to our eyes, they have to be sorted out, don't you think ?

[2018-11-16 23:35] sharif1093 commented on #2614
I have the same issue on 0.11.11.
However, it renders just fine if I insert an empty line between the text and the code block.

[2018-11-16 23:49] zambawamba commented on #2614
Yup, that fixes it for me too. After a restart I was able to reproduce the bug on both systems, even though it worked fine one of them before. ¯\_(ツ)_/¯
But the empty line is an easy workaround.

[2018-11-17 00:40] skynyrd commented on #2614
Came to here to report the same bug.

The bug can be reproduced by:
1. Creating a markdown file
1. Put these inside:
    1. `* A`
    1. `* B`
    1. Empty Line
    1. Code block

[2018-11-17 02:12] wulei123456 opened #2616 "0.11.11 code block bug"
![image](https://user-images.githubusercontent.com/15611059/48655395-352a1100-ea51-11e8-8ddb-a9bec17e0a4a.png)

[2018-11-17 03:08] ZeroX-DG commented on #2607
Can you clone the repo and start it with `npm run dev` ?

[2018-11-17 03:11] ZeroX-DG commented on #2616
Duplicated https://github.com/BoostIO/Boostnote/issues/2614

[2018-11-17 03:11] #2616 closed

[2018-11-17 03:13] ZeroX-DG commented on #2615
I can reproduce the first issue but I couldn't reproduce the second one, can you provide steps to re-produce it?

[2018-11-17 05:20] #2588 closed

[2018-11-17 13:09] #2613 closed

[2018-11-17 13:09] marcofriso commented on #2613
duplicated #2614

[2018-11-17 19:06] daiyam commented on #2615
I can't reproduce none of them... The second one might be due to the rerendering of the full page (I can't find any transition animation).
@infosisio What is your system? Which theme are you using?

[2018-11-17 23:52] Caspercode444 commented on #2607
Here is the error log
[code]
Complete log file from /.npm/_logs/
[code]

[2018-11-18 01:48] fabulastico commented on #1356
Hi. This is something I was expecting to use, since my day 1 using Boostnote.
It's a great feature, but perhaps a less complex feature could be achieved more quickly.
I was thinking in a feature that I use daily with Wunderlist, saving pages as task item, where:
- subject = {page title}
- note = {meta description} {page url}

![boostnote - wunderlist extension](https://user-images.githubuserconten

[2018-11-18 04:13] charrismatic commented on #1356
**Update**

I can post an update here of the tool I've been working on.
---
The project started as an unrelated side Chrome devtools project data exteraction tookbox.  The main html-to-markdown utility is very portable though, I'm using the exact same module in [mandown](https://github.com/charrismatic/mandown) a linux manpage to markdown exporter (also  something i made to put into boostnote note

[2018-11-18 06:08] kyan001 commented on #2614
![image](https://user-images.githubusercontent.com/3616478/48669244-6c74ec80-eb3b-11e8-9b01-30d24f6e5b4c.png)
![image](https://user-images.githubusercontent.com/3616478/48669246-7860ae80-eb3b-11e8-814a-343b3f332a91.png)

[2018-11-18 07:29] thorro commented on #2425
Killer feature for me. Any progress?

[2018-11-18 09:38] daiyam commented on #2425
@thorro I would need to split my PR to just collapse code blocks.

[2018-11-18 12:37] vcvetkovs opened #2618 "Check list indent level issue"
# Current behavior

In markdown notes checking list sub item decreases item indent level

# Expected behavior

Item should stay on the same indent level

# Steps to reproduce

1. Create check list like:
[code]
2. Click on item 'Sub text 1.1'

Short video (https://www.dropbox.com/s/on543lnxjnbhfp2/bug2.avi?dl=0)

# Environment

- Version : Windows 10 x64
- OS Version and name : 0.11.11

Maybe chang

[2018-11-18 12:47] vcvetkovs opened #2619 "[Feature request] Backup changed/deleted files for a while"
# Current behavior

When you delete or change note there is no possibility to revert changes. It could happen accidentally (cat lied on keyboard) or it could be bug (as I had with previous version when boostnote emptied my note, it was an issue after which I have switched back to Notepad++ because it is more stable, that was very important note).

# Expected behavior

There could be some trash for

[2018-11-18 13:30] ZeroX-DG commented on #2619
We currently cannot store all the changes. But when you deleted the note, you can still restore it from the trash section in the left menu.

[2018-11-18 13:38] vcvetkovs commented on #2619
@ZeroX-DG Thanks, I have forgot that we have such functionality :) And I have found also that Dropbox added version history as google drive, so it could help for such issues. So I think it isn't relevant anymore.

[2018-11-18 13:38] #2619 closed

[2018-11-18 16:39] arcturus140 commented on #2618
I'll have a look at this

[2018-11-18 16:49] VitalyKrenel commented on #570
Haven't found any issue on that, sorry me for asking here: Are there any existen option to wrap the text at the ruler? I use 80 chars ruler and it feels a little weird to be forced to wrap text manually when the lines are too long.

[2018-11-18 17:19] arcturus140 commented on #2618
ok, i fixed it. I was introducing this issue, sorry about that.

[2018-11-18 17:47] jdmota commented on #2310
@simosdev You should be careful when console logging objects, because the object might be changed between the time you log and the time you "expand" the object on the console.

I believe this is the code that changes the note's contents:

![image](https://user-images.githubusercontent.com/18088420/48676092-aa810900-eb59-11e8-928a-b0f926283d11.png)

![image](https://user-images.githubusercontent.co

[2018-11-18 20:04] infosisio commented on #2615
@daiyam Default theme, I tried 3 distros and they happen in all of them, I don't know why you can't reproduce the first one, @ZeroX-DG also can.

[2018-11-18 23:06] daiyam commented on #2614
Sorry, I'm the sinful who have made the bug. :sob:
It've just created the PR #2622 to fix it. :pensive:

[2018-11-19 02:27] wxzcyy opened #2623 "切换文档时保留上一次编辑位置"

[2018-11-19 02:57] incace commented on #2618
I was coming to post because I am having this same issue. Will an update be pushed? Super annoying and thanks for catching this right away.

[2018-11-19 03:39] shirakiya opened #2624 "Displayed duplicate code block"
# Current behavior

I wrote as in the screenshot(A), so displayed as in the screenshot(B).

(A)
![2018-11-19 12 31 40](https://user-images.githubusercontent.com/7492121/48685090-eff41380-ebf7-11e8-9836-8f15aaf9bed6.png)

(B)
![2018-11-19 12 31 47](https://user-images.githubusercontent.com/7492121/48685096-f7b3b800-ebf7-11e8-82eb-f51e8b285017.png)

# Expected behavior

I want the note to display as

[2018-11-19 06:16] webrsb commented on #2624
duplicated #2614

[2018-11-19 06:18] #2624 closed

[2018-11-19 07:48] ehhc commented on #2615
@infosisio I'm not sure what you know about the developer of this project. But a lot of them are doing it in their free time.
So if you find an error that is that annoying and (at least the first one) mihgt be easy to fix, you're honestly invited to participate, fix it and submit a pull request :)

[2018-11-19 10:03] infosisio commented on #2615
@ehhc The fix discussed is fairly simple and is important for the userbase of the project. Since I first reported it hundreds of commits have been made. I am not criticizing anyone, I just think someone involved with the project needs to care about it for the sake of the users.

[2018-11-19 14:50] dpjayasekara opened #2625 "Is there a way to "Search Inside the note preview?" when the note is long?"
I can only use the search feature to search matching notes. Given that we have a long note open, do we have a way to search inside the note preview? This is a problem bugging me all the time. I know that we can search inside the editor, but it'll be quite easy if we can search for a keyword in the note preview too.

[2018-11-19 14:53] simosdev commented on #2310
@jdmota Thanks. Didn't really make sense that it would've been broken on Object.assign(). Made too much assumptions it would be broken on createNote() as I did not use any attachments during testing.

This explains why the behavior is different in Windows vs Linux/Mac. The flipping forward or backslash reverting after restarting an unmodified clone also makes sense now. browser/main/NoteList/index

[2018-11-19 15:02] Feralamillo opened #2626 "Scripts appear duplicated"
# Current behaviour

I'm in MAC OS Mojave using Boostnote 0.11.11.
Some of the notes include scripts that randomly appear duplicated when they are near a list.

For example:

<img width="1115" alt="screenshot 2018-11-19 at 14 49 19" src="https://user-images.githubusercontent.com/9921230/48714486-b7aa0080-ec0a-11e8-80e8-5ac73cec0214.png">

<img width="843" alt="screenshot 2018-11-19 at 14 49 00" sr

[2018-11-19 16:06] alexrussell commented on #556
This appears to be fixed for me now. I've just updated from 0.11.9 where the bug was happening to 0.11.10 where it is not (and now I'm at 0.11.11 where it is still fixed for me).

I can't see any mention of it being officially fixed in the changelog, and obviously this issue has gone untouched, so I'm guessing it was fixed by accident.

Can @luongvo209  and @zzdjk6 confirm that it's now fixed, and

[2018-11-19 17:35] esalexreyes opened #2627 "Nested TODO items lose their hierarchy on check."
# Current behavior

It's a minor annoyance, but checking a Nested TODO item it immediately becomes a top-tier TODO item.

# Expected behavior

Checked TODO items remain in their hierarchy.

# Steps to reproduce

1. Create a TODO list with nested items with markdown using the following code:
[code]
Resulting in the following:
- [ ] Task
  - [ ] Sub-Task
  - [ ] Sub-Task
  - [ ] Sub-Task

2. Checkin

[2018-11-19 19:10] arcturus140 commented on #2627
@esalexreyes thank you for reporting! this problem has already been described in issue #2618 so we should close this one.

Please follow #2618 for updates.

[2018-11-20 01:22] #2627 closed

[2018-11-20 01:34] dan-grayson commented on #2626
Also seeing this on MacOS High Sierra v10.13.4

The issue appeared with the latest patch- it was not present before. I am also seeing the issue with extremely simple markdown notes, no proximity to a list required. I have not yet been able discern why some code snippets repeat and others do not.

<img width="721" alt="screen shot 2018-11-19 at 5 32 37 pm" src="https://user-images.githubusercontent

[2018-11-20 01:49] dan-grayson commented on #2626
Since the previous version, I see changes to markdown for definition lists, and markdown-fold.

[2018-11-20 02:47] luongvo209 commented on #556
Sorry wrong button. I dont use Boost note anymore so I can't confirm. Feel free to treat my issue however you like

[2018-11-20 06:11] simosdev commented on #2626
Bug seems to also trigger if you have normal text directly before the code block. If you leave an empty line before code block shows only once as expected.

[2018-11-20 08:11] weaming opened #2628 "Paste process error, added '\' and space"
# Current behavior

![image](https://user-images.githubusercontent.com/10275711/48759609-9a466680-ecde-11e8-8739-4f3f67cbbbf6.png)

# Expected behavior

* No `\` before `_`
* No more space after the end of line

# Steps to reproduce

Copy and paste below into it

[code]

# Environment

- Version : 0.11.11
- OS Version and name : OSX 10.13.3

[2018-11-20 11:19] marcelbraun1985 commented on #1682
I had the same issue. Workaround:

1. Open Developer Tools (View -> Toggle Developer Tools)
2. Switch to Application Tab
3. Extend Local Storage
4. Right Mouse Click on file:// and press Clear

After restart all should be work as expected. But note that your settings will be lost!

[2018-11-20 16:07] ZeroX-DG commented on #2626
Duplicated: https://github.com/BoostIO/Boostnote/issues/2614

[2018-11-20 16:07] #2626 closed

[2018-11-20 16:15] daiyam commented on #2628
@weaming what are your preferences? I can't reproduce the bug.
@ZeroX-DG were you able to reproduce it?

[2018-11-20 20:10] TKCZ commented on #2229
I have the very same issue on current Manjaro Linux (Arch-based). After I start Boostnote there is only message "No storage mount" and even if I add it in Preferences it doesn't change anything. I can't use Boostnote at all as it refuses to mount anything whatsoever. What can I do to help you debug this?

[2018-11-20 20:40] vyarmak opened #2629 "Paste from terminal inserted with CSS style text"
# Current behavior

When making copy & paste from mac terminal text is inserted with CSS style text.

# Expected behavior

Past just copied text.

# Steps to reproduce

1. Open mac terminal
2. Copy text
3. Paste in snippet note
4. Text is inserted with style information. Example (I just copied `creation_date` text from terminal):
[code]

# Environment

- Version : 0.11.11
- OS Version and name : m

[2018-11-20 22:00] reyes-c1 commented on #2628
I see the same problem. I was pasting some SQL from Visual Studio Code on Mac. Saw it happening both when pasting into a regular note inside a code block section (three back ticks) and also when posting it into a new snippet note.

I just installed Boostnote an hour ago and was in the process of evaluating it. I think the only settings I changed was to Dracula theme.

I can replicate it with this

[2018-11-20 22:45] reyes-c1 commented on #2628
Using the wonky old clipboard viewer I found at :

https://developer.apple.com/library/archive/samplecode/ClipboardViewer/Introduction/Intro.html

and tweaking to to build on 64-bit MacOS, when I copy text from VS Code I see 4 formats put on the clipboard:

[code]

The last 2 look like plain text and the first 2 look like HTML.

When I copy text from Atom, only the last 2 formats are put on the cl

[2018-11-20 22:49] reyes-c1 commented on #2628
That should have been that I see the

[code]

in the editing pane but of course the markdown here also ate the backslash.

[2018-11-20 23:10] daiyam commented on #2628
@reyes-c1 thanks for the tip, now I can reproduce the bug... I just need to paste the code on TextEdit, then copy/paste into Boostnote.
As you said, Boostnote paste it as an HTML text (it isn't) which alters the text.

I think, in a code block, the pasted text should always be text (no HTML pre-processing).
@ZeroX-DG @weaming @reyes-c1 what do you think?

[2018-11-20 23:12] reyes-c1 commented on #1767
I agree with it needing to be 3 state. If I'm editing I want to see split view sometimes and full editor sometimes. If I am not editing I only want to see preview. What's the point of putting all the markup in there if you never get to see the preview? I guess if you are only using it for plaintext like Asitis then that makes sense. Different people will use it differently. With 3 state people can

[2018-11-20 23:40] sharif1093 opened #2630 "Feature Request: Adding attachments (specially images) by drag&drop from a web browser"
# Current behavior
Currently, if I want to add an image to Boostnote as an attachment from a web page, I have to first download it, and then drag it to the Boostnote.

# Expected behavior
Life would become easier if I can drag an image directly from a web page (different browsers) to the place I want to add it to. Then Boostnote may (preferably) download it to its attachments and put the link at t

[2018-11-21 03:51] ivirshup commented on #2629
Happens for me too, but on macOS Sierra 10.13.6 (17G3025)

[2018-11-21 05:55] simosdev commented on #2559
I realize this is not a real fix for this, but for time being you can use plantuml skinparam to change the background to be able to read the text. It seems Boostnote makes white background transparent which causes issues with dark themes.

You can use `skinparam backgroundColor #FFFFFE` or similar to get almost white background. Another quick one if you need something more dark is `skinparam monoc

[2018-11-21 06:29] elans2 opened #2631 "Export as pdf only prints first page, subsequent pages are empty"
# Current behavior

When save markdown note as pdf file,  only first page printed,  other pages are empty.

# Expected behavior
Markdown pages can be full printed

# Steps to reproduce

# Environment

- Version : 0.11.11
- OS Version and name : mac 10.12.5

[2018-11-21 07:56] ehhc commented on #2630
For me, at the moment, it works for a lot of images (alas not all..) using firefox..

e.g. go to google image search, search for something, right click on the found image and select 'show image'; the tab only shows the images, drag the image and drop it in a note -> it was inserted as a normal attachment..

[2018-11-21 09:07] ZeroX-DG commented on #2628
Agree! @daiyam can you reproduce it on Linux? I somehow still can't reproduce it.

[2018-11-21 09:27] manavortex opened #2632 "Features: Multiselect tagging and some other improvements"
Hello there,
first of all, I'm on OsX, since that's going to matter. Here's what I'd love to see:

I've just imported all my notes from Evernote via ever2boost, and I now have a bunch of un-tagged folders. Rather than to re-tag all my notes manually, it would be great if I could bulk-tag notes (multi select). Is it possible yet, and if not, are you interested in hacking it in?

Multiselect: When I

[2018-11-21 11:39] arcturus140 commented on #2630
@ehhc I am not able to do that.

I am using the latest version on Linux Ubuntu 16.04.

[2018-11-21 13:04] TKCZ opened #2633 ""No storage mount" on latest Manjaro Linux (Arch-based)"
# Current behavior

When I start Boostnote, it says "No storage mount." right under Trash. Adding it via Prefences (different Storage) doesn't change the situation. Can't even create a note.

# Expected behavior

I expect to be able to create storage and mount it. Right now all I get is "No storage mount." therefore I cannot create not even a single note.

# Steps to reproduce

1. Start Boostnote

[2018-11-21 13:05] TKCZ commented on #2633
The issue with Cryptomator I mentioned:

https://community.cryptomator.org/t/connecting-drive-failed-on-windows-7/2327/7

[2018-11-21 15:05] nhat-thien commented on #279
![](https://i.imgur.com/noAMonO.png)

Still have the same thing in Boostnote 0.11.11

[2018-11-21 16:10] hokanovic commented on #2470
the lack of a markdown toolbar is a dealbreaker for this awesome application

[2018-11-21 16:19] takacsot opened #2634 "Paste from IDE is just plain wrong"
# Current behavior

I am using Dbeaver db client and I just copied some sql to Boostnote.

Plain SQL is pasted as the following

[code]

the sql editor is syntax highlighting of course.

The same issue when coping from Eclipse.

# Expected behavior

Well. As before. Just paste the text.

# Steps to reproduce

- Version :0.11.11
- OS Version and name : macos sierra

[2018-11-21 16:45] ZeroX-DG commented on #2634
Duplicated: https://github.com/BoostIO/Boostnote/issues/2628

[2018-11-21 16:45] #2634 closed

[2018-11-21 16:48] ZeroX-DG commented on #2631
I can't reproduce with linux.

[2018-11-21 16:56] ZeroX-DG commented on #2632
The multi select is not supported at the moment and tagging multi selected notes feature has been requested here: https://github.com/BoostIO/Boostnote/issues/2609 and of course, it hasn't been implemented in the current version. Feel free to open a PR :smile:
Hotkey for focusing on the search bar is: `ctrl + l`
If you want to search with tags, please use: the tag view on the left menu bar (the one

[2018-11-21 16:58] ZeroX-DG commented on #2633
Can you open the dev tool and show us the error? `ctrl + shift + i` is the hotkey for toggling dev tool.

[2018-11-21 17:30] TKCZ commented on #2633
Yes of course!

`elixir.js Failed to load resource: net::ERR_FILE_NOT_FOUND
main.js:1360 boostnote.json file doesn't exist the given path
resolveStorageData @ main.js:1360
/usr/lib/boostnote/node_modules/mkdirp/index.js:90 Uncaught Error: EEXIST: file already exists, mkdir '/run/user/1000/gvfs'
    at Object.fs.mkdirSync (fs.js:885)
    at sync (/usr/lib/boostnote/node_modules/mkdirp/index.js:71)

[2018-11-21 18:15] arcturus140 commented on #2470
I disagree.

[2018-11-21 22:30] reyes-c1 commented on #2628
@ZeroX-DG I  can reproduce it on Linux (Ubuntu 18.10).

Created the following sql in VS Code:
[code]

Save the file as junk.sql. You must save the file to engage color syntax highlighting.

Select all and copy.

In a terminal you can check what formats are on the clipboard like this:

xclip -o -t TARGETS

and you can see what it has for html and text like:

xclip -o -t text/html

xclip -o -t text/

[2018-11-22 07:46] abhishekbalam opened #2635 "AUR cannot install boostnote on Manjaro 18"
# Current behavior

When trying to install Boostnote with AUR, I'm getting conflicting packages error for node. I am not sure if it is because of packages in my system or because of Boostnote pkgbuild. Please help in resolving this. Thanks.

![screenshot_20181122_131200](https://user-images.githubusercontent.com/15175501/48888299-4495c980-ee58-11e8-94e5-dc095efa2ec3.png)

Complete messages:

[code

[2018-11-22 12:04] gp42 commented on #2629
Same here: macOS Mojave 10.14 (18A391). very annoying

[2018-11-22 12:53] madicd opened #2636 "Can't scroll to bottom of editor pane"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2420%20Funded-%2300A156.svg" />](https://issuehunt.io/r/BoostIo/Boostnote/issues/2636)

# Current behavior

Last lines of editor pane are not visible because I cannot scroll to the very bottom.
GIF explaining the issue:
![GIF](https://media.giphy.com/media/327g6k2Xc3gCnsk8Vo/giphy.gif)

# Expected behavior

I can scroll to t

[2018-11-22 13:08] nuxel commented on #1682
This finally worked for me, thank you.

[2018-11-23 09:06] luis-pato opened #2638 "Can't see cursor"
# Can't see cursor since last update

Since i updated to 0.11.11 (on a mac) most of the time (i would say 95% of the time) i can't see the cursor.
I am using the Dark Theme with the Darcula Editor Theme (not to be mistaken with Dracula).
Sometimes i can see it, but most of the time not (and i can't really figure out when or how)

# Expected behaviour

We should always see the cursor position so we

[2018-11-23 14:17] daiyam commented on #2628
@weaming the issue is that the editor has been improved to generate markdown code when pasting html but it should be disable inside code block... If I have time this week-end, I will propose a PR to fix the current issue.

[2018-11-23 18:42] lewisdiamond commented on #648
I don't think Boostnote should ever store users notes as it may contain personal information.

I vote against using PouchDB or CouchDB for storage. There are already very good synching tools that could be used with Boostnote (I use Syncthing).

I suggest using plain files, organized in directories with names matching what's set up by the user in the UI.

i.e.: If I have a folder called "Notes", wi

[2018-11-24 02:07] willurd commented on #2223
Digging around a little bit on this issue. It looks like this is an issue with CodeMirror. CodeMirror implements its own cursor, styled with a single border. When the app is zoomed to certain levels, the cursor disappears, but it's just a rounding error. If you set the `border-width` of `.CodeMirror-cursor` to `3px`, it should be visible at all zoom levels.

You can also see correct cursor render

[2018-11-24 10:29] ZeroX-DG commented on #2635
I don't use AUR so I can't help you with this :cry: Maybe someone else can help you with it.

[2018-11-24 13:10] amerysong opened #2639 "markdown source not render correctly"
# Current behavior
markdown source render error, text between two source code framents is highlighted as source code.
for example:
[code]
content here

[code]
content between source code fragments is also highlighted

# Expected behavior
the content between two source code should render as normal text, rather than highlighted.

# Steps to reproduce

1. just paste the text below in a markdown file

[2018-11-24 23:58] KuangLei commented on #2636
This issue appears on my Windows (Windows 10 Home 1803) installation starting from 0.11.11. It doesn't appear on my Linux (openSUSE Tumbleweed) installation.
Thanks.

[2018-11-25 06:30] #556 closed

[2018-11-25 13:25] ellisonLou opened #2640 "Paste code and the format looks not good."
# Paste code and the format looks not good

![image](https://user-images.githubusercontent.com/22023447/48979585-31088e00-f0f8-11e8-9e0b-dbfd62a6c97e.png)

![image](https://user-images.githubusercontent.com/22023447/48979550-a9228400-f0f7-11e8-9e31-6461d5d60c07.png)

# Expected behavior

This is code in vscode:

![image](https://user-images.githubusercontent.com/22023447/48979555-bf304480-f0f7-11e

[2018-11-25 14:05] daiyam commented on #2628
I've published a fix. It would great if you could test it.

[2018-11-25 19:09] arcturus140 opened #2644 "[bug] extra closing tags"
# Current behavior

the following markdown

    # allow dangerous html tags

[code]

renders as

[code]

This bug has been reported here: #205

# Expected behavior

the following markdown

    # allow dangerous html tags

[code]

renders as

[code]

# Steps to reproduce

1. set preferences -> Sanitization: "Allow dangerous html tags"
2. copy markdown above
3. observe rendered result

# Environment

[2018-11-25 20:10] incace opened #2645 "Request: Customize All Keyboard Shortcuts"
# Current behavior

Currently, it looks like you can only customize three of the Hotkeys/Keyboard Shortcuts. Are there any plans in the future to add the ability to customize all hotkeys? I find focusing the search box with Cmd + Shift + L to be rather annoying. Please tell me I am missing a setting somewhere where I can customize them all.

![screenshot](https://user-images.githubusercontent.com/

[2018-11-26 00:18] incace commented on #2470
The key to this is to have in non-intrusive. Like a toggle or a single button that shows a secondary menu. Ideally, a view menu toggle would be best, so that for the people that are well versed / dev / or like to write it all out manually, they can hide the toolbar and those who wish to use it can have it visible.

I don't think something like the way they've implemented it in Bear is the right wa

[2018-11-26 03:11] ZeroX-DG commented on #2645
Our shortcut system is pretty messy, currently, you can't customize other hotkeys because they're hardcoded.

[2018-11-26 03:13] ZeroX-DG commented on #2640
Duplicated https://github.com/BoostIO/Boostnote/issues/2628

[2018-11-26 03:13] #2640 closed

[2018-11-26 03:19] ZeroX-DG commented on #2625
We currently have no way to search in the preview. Maybe someone can implement it. Can you tell me more why do you need this feature?

[2018-11-26 04:15] incace commented on #2645
Thanks for taking the time to reply. Is this a possibility in the future?

[2018-11-26 04:33] weaming commented on #2628
@daiyam I think should add a switch in config because I don't want rich-text when paste html sometimes.

[2018-11-26 04:50] ZeroX-DG commented on #2645
Not in the near future, I think. It's pretty messy in the code right now and the project maintainers are very busy and working on a re-write version of this app so it very depends on the community right now.

[2018-11-26 04:57] arcturus140 commented on #2628
can you use ctrl + v for normal paste and ctrl + shift + v for special paste?

[2018-11-26 05:03] arcturus140 commented on #2628
no need to outsmart the text that way. let the user decide.

[2018-11-26 05:59] simosdev opened #2647 "Note link does not work if target note is filtered out by search query"
# Current behavior

Clicking on a note link where that link target is not visible in the note list will not go to the note. You will get an empty page.

Ignore cursor location as it's from capture, in reality the ABC link was clicked on the preview view.
![bug case gif](https://user-images.githubusercontent.com/10656594/48995342-1eba3e80-f150-11e8-93bf-535b3d916580.gif)

Console
![dev console afte

[2018-11-26 07:13] madicd commented on #2636
@ZeroX-DG Next day I opened Boostnote the bug was not there anymore. Looks like restarting solves the issue.

[2018-11-26 07:20] gitname commented on #2266
I haven't been able to get Boostnote to display the preview panel by itself.

With Boostnote 0.11.11 running in Windows 10, this is what happens when I click the toggle button when I am either focused on the editor window or focused on the preview window:

![2018-11-25_23-13-59](https://user-images.githubusercontent.com/7143133/48998343-0faf9e00-f108-11e8-8f82-5bea3b594965.gif)

In this example, I

[2018-11-26 07:41] gitname opened #2648 "Exported web page shows flowchart markup instead of rendered flowchart"
# Current behavior

The web page Boostnote generates for a note containing a flowchart, shows the flowchart's underlying markup instead of showing the rendered flowchart.

![image](https://user-images.githubusercontent.com/7143133/48999262-f3f9c700-f10a-11e8-81ba-f1b28cc09d89.png)

# Expected behavior

I expected the web page to show the rendered flowchart, as it appears in the Boostnote preview p

[2018-11-26 07:46] gitname commented on #2648
This _is_ the behavior I expect for snippets of _other_ types of code, in general. For example, I would not expect Boostnote to process a PHP snippet and include the result in the exported HTML document. Rather, I would expect Boostnote to include the source code.

However, given that Boostnote does render the flowchart in the Boostnote preview panel, I did expect the exported HTML document to con

[2018-11-26 07:49] daiyam commented on #2628
@ZeroX-DG what do you think?

[2018-11-26 08:20] rahulpathakgit commented on #2067
I also want to add that if the heading has any part in Italics then also it does not work.

[2018-11-26 08:58] billmetangmo commented on #1682
It works for me too . Thanks @marcelbraun1985 :) !

[2018-11-26 10:39] JasonCraneAdkins opened #2649 "Request: Text Background Color in Code Snippet"
# Current behavior
Code Hilighting works well
![image](https://user-images.githubusercontent.com/8469829/49007812-ab72f580-f16c-11e8-90c2-c3f9998b12b6.png)

# Expected behavior
But what i would Like to see is text background Color to highlight important parts. Without loosing code highlighting
![unbenannt](https://user-images.githubusercontent.com/8469829/49008928-67cdbb00-f16f-11e8-869c-a104a7e83

[2018-11-26 11:35] tbraz commented on #2631
I observe the same issue as described by @elans2 with Mac OS

[2018-11-26 13:42] ZeroX-DG commented on #2628
It's also a good idea to add a shortcut for special paste. But all the things that pasted in the code blocks should always be text so I guess @daiyam PR is still necessary and it would be nice if we can also implement that special paste shortcut.

[2018-11-26 13:52] daiyam commented on #2628
OK, I will add both options :smile: maybe tomorrow...

[2018-11-26 13:59] ZeroX-DG commented on #2628
Thank you for your contribution @daiyam :smile:

[2018-11-26 15:41] wAuner commented on #2614
I have this bug as well in 0.11.11 on mac. Happens on all my notes

![screenshot 2018-11-26 at 16 28 26](https://user-images.githubusercontent.com/18383180/49023824-5c42ba00-f198-11e8-8a0a-175149f9e689.png)

![screenshot 2018-11-26 at 16 27 30](https://user-images.githubusercontent.com/18383180/49023829-5d73e700-f198-11e8-90c7-e4fdb063b3f3.png)

[2018-11-26 15:51] daiyam commented on #2614
@wAuner sorry about that. The fix has been merged into the `master` branch so it will be fixed in the next release.

[2018-11-26 19:03] infosisio commented on #2615
@ZeroX-DG Just curious, are you capable of attempting to fix the first issue yourself? I am only caring about this for the good of the projects users.

[2018-11-26 19:44] dpjayasekara commented on #2625
Actually, I have some long notes in my Boostnote. Whenever I need to find something in the note, I can't find it unless I go to the editor and search, which is painful. As if we search in the browser (Ctrl/Cmd+F), I would like to search for a particular keyword in the preview other than reading it to find what I want. I think this is a common use case for those who have lengthy notes.

[2018-11-27 03:03] Rokt33r commented on #2164
@popey Ah.. sorry. I forgot it. I'll try this weekend!! Thanks for reminding!

[2018-11-27 06:57] ZeroX-DG commented on #2615
Of course I can! I'm the programmer god! My code is concise, OOP or functional I can handle them all. Great programmers collect my quotes and posts to pass to their offspring. Just kidding, the fix for the first bug is simple so I'll make a PR now.

[2018-11-27 07:08] #2614 closed

[2018-11-27 07:16] luis-pato commented on #2638
i have tried a couple of different things.
resizing the window doesn't seem to help. What sometimes made a difference was the zoom factor.
I had it set to 90%. If i change it o 100% or 80% it works better. When i set it back to 90% i get again the same problem.
Can someone else reproduce this problem?

[2018-11-27 08:03] #2463 closed

[2018-11-27 09:38] federicochiesa opened #2652 "Code blocks showing up blank, undeletable"
# Current behavior

If i write some code between backticks the rendering of my whole note messes up, as you can see by these images: [link](https://imgur.com/a/w7U5O5k)

# Expected behavior

There shouldn't be multiple code blocks when I only wrote one.

# Steps to reproduce

The behaviour is very weird but easy to reproduce.
The multiple code blocks appear because I tried to put the instructions

[2018-11-27 12:49] ZeroX-DG commented on #2652
Very sorry about your problem. This is a known issue and the fix for this has been merged. This won't happen again in the next version. Duplicated: https://github.com/BoostIO/Boostnote/issues/2614

[2018-11-27 12:49] #2652 closed

[2018-11-27 14:50] jrpope2014 commented on #2636
I'm also experience this issue on Windows 10 Enterprise 1709

[2018-11-27 14:50] jrpope2014 commented on #2636
Also having this issue on Windows 10 Enterprise

[2018-11-27 14:58] jrpope2014 commented on #2636
I noticed that if I do a hard reload on the view (ctrl + r) rather than restarting Boostnote, it resolves the issue. When I restart, the issue is present again (and is again resolved by refreshing the view).

[2018-11-27 23:55] daiyam commented on #2628
I've made the update :wink:

I've added the option to enable/disable to paste as HTML
![screenshot](https://user-images.githubusercontent.com/587742/49119090-3526de00-f2a7-11e8-8947-72decf745044.png)

and the shortcut to do it even if it's disabled
![screenshot](https://user-images.githubusercontent.com/587742/49119091-35bf7480-f2a7-11e8-9bdc-4ae638557f17.png)

Also, the images, as Data URI, can b

[2018-11-28 02:07] ZeroX-DG commented on #2636
@jrpope2014 this is probably an issue on windows only. If it happens again, can you take a picture of the dev tool console? You can open the dev tool console by hitting `ctrl + shift + i` and switch to the console tab.

[2018-11-28 02:36] #2241 closed

[2018-11-28 14:51] jrpope2014 commented on #2636
![image](https://user-images.githubusercontent.com/17776696/49159141-6922f300-f2e9-11e8-8774-8518efd3261f.png)

@ZeroX-DG here is what happened. Not sure if that error is what's causing the issue with the editor pane or not though. I ran through the following test scenarios to reproduce the error though:

1. Open Boostnote application to a note that fits all on a single page. The result was that a

[2018-11-28 14:57] ehhc commented on #2636
@jrpope2014 the console output is only an information... As far as i know it does not indicate any problem.. Maybe i should have removed that debug line..

[2018-11-28 16:01] jrpope2014 commented on #2636
That's interesting! So yeah, if that's the case, there are no errors logged/thrown for the weird editor pane situation. I will try it on my computer later (which is Windows Home and not Enterprise) and see if there's a difference on that end. Sometimes I wish debugging Javascript was a skill that I possessed!

[2018-11-28 20:34] dakuzen opened #2653 "Windows installation slow without progress notice"
# Current behavior

Installation in Windows extremely slow.  I thought it crashed and killed it the first time.  Tried to run again and aborted from error.  Deleted the "SquirrelTemp" folder and ran installer again.  This time left it alone.  The installation took 2-3 minutes with only the gif image showing.

# Expected behavior

Faster install or some sort of progress report to indicate active in

[2018-11-29 01:42] cyNew opened #2654 "url-like text convented into a link"
Hey, I have a problem.
When I use the * symbol to emphasize a python file name, it is automatically converted into a link in the  preview.
So, how to close this option to disable conversion of url-like text to a link?
Maybe, I hope that add this option to the settings.
Thanks.
<img width="229" alt="2018-11-29 9 29 28" src="https://user-images.githubusercontent.com/42455629/49193219-511aa480-f3b9-1

[2018-11-29 02:46] ZeroX-DG commented on #2654
This is a known issue: https://github.com/BoostIO/Boostnote/issues/2540

[2018-11-29 02:46] #2654 closed

[2018-11-29 07:17] rwilliams-home commented on #2631
I have the same problem as well

[2018-11-29 11:56] duartefrazao commented on #2469
Hi, jaepetto! I'll will try to add this feature in the upcoming future.

[2018-11-29 12:31] jaepetto commented on #2469
Great thanks!

[2018-11-29 14:15] #2554 closed

[2018-11-29 14:15] #975 closed

[2018-11-29 14:15] #1498 closed

[2018-11-29 14:15] #1911 closed

[2018-11-29 14:15] #1975 closed

[2018-11-29 14:16] #1977 closed

[2018-11-29 14:16] #1992 closed

[2018-11-29 14:16] #2082 closed

[2018-11-29 14:16] #2132 closed

[2018-11-29 14:16] #2199 closed

[2018-11-29 14:17] #2295 closed

[2018-11-29 14:17] #2581 closed

[2018-11-29 16:07] dakuzen opened #2659 "Option to have raw markdown view by default when navigating list"
# Current behavior

Currently if you have changed the view of a markdown file to editor only, then when navigating the Markdown files you see the Preview display until you place the cursor into the editor area.  This creates a jarring transition into and out of the Preview mode, especially when switching between applications.  The "Lock" feature provides some reprieve, but it cannot be set by defa

[2018-11-29 16:24] dakuzen opened #2660 "Collision detection"
# Current behavior

We are using Boostnote with a local Google Drive folder, which works well except that when the file is updated there is no recognition of the change by Boostnote, and when a local change is made in Boostnote it overwrites the modified file without

# Expected behavior

Some sort of notification and conflict resolution process.

# Steps to reproduce

1. Create a Markdown note in

[2018-11-29 19:55] infosisio commented on #2615
@ZeroX-DG I have tested this and the same thing seems to happen but maybe I am doing something wrong?

[2018-11-29 19:58] rklasen commented on #2541
Can confirm this issue, also Happens on Ubuntu 18.04, Boostnote 11.10. and Ubuntu 18.10. Boostnote 11.11.

No input is lost, but the freezing is very confusing.

[2018-11-30 02:51] ZeroX-DG commented on #2631
@Rokt33r can you reproduce this bug on MacOS?

[2018-11-30 06:17] KROT47 opened #2662 "xml code syntax bugs"
I'm experiencing strange behavior with xml and apache configs particulary.

For example this fragment:
[code]

# Current behavior
[code]

# Expected behavior

[code]

I think it is easy to repeat with any xml example.

So IMO:
1. No new symbols should appear: `*:8080=""`
2. Letter case should also stay as is: `<virtualhost...`
3. Strings should stay as they were written: `"="" opt="" lampp="" apps

[2018-11-30 09:01] arcturus140 commented on #2662
I can replicate the issue only with "Allow dangerous tags" enabled.

[code]

This issue should probably be merged into #2644.

[2018-11-30 19:04] luckydonald commented on #2618
@incace Same here.
 The PR #2620 has the label `next release (v0.11.12)`.

[2018-12-01 05:02] incace commented on #2618
Great, as this is irritating on a daily basis, is there an ETA or a way we can manually fix it while we wait?

[2018-12-01 20:17] mmcken3 opened #2663 "Back Tick Marked off Code Displays Incorrectly"
# Current behavior

Currently if you enter a few blocks of code marked off with the triple backtick then they may render incorrectly in the formal display mode if there is not a newline between the text and the block. Here is a picture of my editor and then the display of the markdown.

You can see in the pictures that if where is a line of text above the marked off code, then it will display the

[2018-12-01 21:00] infosisio commented on #2615
@ZeroX-DG Just curious, are you really sure you can't reproduce the second issue? I've tried it on 3 devices and I see it every single time.

[2018-12-02 01:44] ellisonLou commented on #2663
I have this issue too.

![image](https://user-images.githubusercontent.com/22023447/49334687-a1427280-f616-11e8-9893-1b91049db706.png)

Version: 0.11.11
OS Version and name: Mac OS 10.14.1

[2018-12-02 02:41] ZeroX-DG commented on #2659
I think this is the intended behavior. If you want you can configure how Boostnote will switch to preview mode in `interface` tab.

![image](https://user-images.githubusercontent.com/12984316/49334996-73f5c480-f616-11e8-9b26-b9f6e99fda64.png)

[2018-12-02 02:43] ZeroX-DG commented on #2660
This is a very complicated feature which I think is not suitable for the current app. However, I'll suggest this feature to the dev team to add in the rewrite version of this app.

[2018-12-02 02:46] ZeroX-DG commented on #2663
Duplicated https://github.com/BoostIO/Boostnote/issues/2614

[2018-12-02 02:46] #2663 closed

[2018-12-02 04:37] guanqun-yang opened #2664 "[Feature Request] Integration with some paper management system (like Zotero)"
First I would like to thank this project for resolving long-standing pains of taking technical notes. I used to write markdown notes and sync them via DropBox, but managing them is always a pain. BoostNote relieves this and makes my research easier.

However, as a researcher, I need to read a lot of papers every day and take notes in BoostNote. I could now manage thousands of papers in paper manag

[2018-12-02 15:32] milesbigbluedoor opened #2667 "Fenced HTML codeblock reformatting attributes broken out over multiple lines."
# Current behavior

When using a `html` fenced codeblock and you break multiple attributes over multiple lines, it currently renders all attributes onto a single lines and simultaneously adds those linebreaks to the end of the codeblock.

###### Editor:
![screenshot 2018-12-02 at 15 27 42](https://user-images.githubusercontent.com/36626140/49341558-f8f8d200-f646-11e8-8f45-d06cf6c6a3e8.png)

######

[2018-12-02 15:33] ZeroX-DG commented on #2664
Boostnote doesn't actually store your notes as separate markdown files. They're all organized in a central `cson` data file. The only solution that I can recommend right now is by exporting your notes using the export feature then associate them with Zotero. Boostnote also doesn't support auto export yet (I think so) so you must re-export your note everytime you update it.

[2018-12-02 15:52] empeje opened #2668 "VIM mode improvement"
# Current behavior

Currently, it doesn't support more elaborate command of Vim like `:m<number>` to move a line to another line for example `:m10` move current cursor to line `10`

# Expected behavior

Moving active cursor is so important in managing to do, I think it should be supported in this awesome note taking app.

# Steps to reproduce

Clear enough

# Environment

- Version : 0.11.8
- OS V

[2018-12-02 15:54] #2647 closed

[2018-12-02 19:09] PreeyaDahya opened #2669 "Issues with converting it to PDF file"
When I try converting my markdown notes to a PDF file, it only converts the first page, every page after that Is blank, is there any way to fix this?

[2018-12-02 20:00] neutrinoceros opened #2670 "[bug] Code blocks displayed multiple times when following a text block without a whiteline separation"
# Current behavior

Here's an example:

<img width="1044" alt="screenshot 2018-12-02 at 20 55 15" src="https://user-images.githubusercontent.com/14075922/49344245-cbc31880-f674-11e8-9afa-220c2ae32464.png">

# Expected behavior

The code block should appear only once in the display panel

# Steps to reproduce

Happens every time I do not include an empty line between text and code.

# Environment

[2018-12-02 22:17] officialgupta commented on #2568
Has any progress been made on this? It is impossible to see the preview while writing until it is fixed.

[2018-12-02 22:33] guanqun-yang commented on #2664
I just realized that this is indeed a solution (even though not the most satisfying one). I also figure out a viable way to at least partially resolve my issue.

1. Assign an ID number for each paper in Zotero and give note associated with the paper the same ID (through tagging, thanks to your tagging feature!). One good choice of paper's ID might be `DOI` or (more commonly for me personally) `arX

[2018-12-02 23:58] rufusshrestha opened #2671 "Hotkey hide works but does show again in Linux Unbuntu"
# Current behavior

Hotkey shortcut set to Ctrl+Alt+Space
Hide works
Does not show again

# Expected behavior

Hotkey should hide and show

# Steps to reproduce

Set hotkey for Hide/Show shortcut to Ctrl+Alt+Space

# Environment

- Version : boostnote_0.11.11_amd64.deb
- OS Version and name : Ubuntu 16.04.5 LTS Xenial Xerus

[2018-12-03 00:43] ZeroX-DG commented on #2670
Duplicated: https://github.com/BoostIO/Boostnote/issues/2614

[2018-12-03 00:43] #2670 closed

[2018-12-03 07:43] Nicolaasjvv opened #2673 "Ticking nested tick boxes moves them to parent."
# Current behavior

When ticking nested check boxes (children), the ticked child is moved to the parent tier and all subsequent children recieves a ~strikethrough~ without being ticked.

Before ticking:
![image](https://user-images.githubusercontent.com/14290628/49359526-26915a00-f6df-11e8-9a15-a208c1197fc6.png)

After ticking "Parent1.Child1"
![image](https://user-images.githubusercontent.com/142

[2018-12-03 08:15] #2374 closed

[2018-12-03 09:30] yosmoc commented on #2631
@ZeroX-DG @Rokt33r
I have reproduced this problem on my machine. MacOS X Mojave 1.14.1.
This problem is caused by updating the electron version from 2 to 3. (commit log a331d82cb57ad7380c4c2b25a957e43277aa619e).

We are currently using 3.0.8 and I also tested the latest v3 (3.0.10), but still have a problem.
I haven't dug more detail, so I don't know this problem is caused by electron itself or no

[2018-12-03 10:53] chiangs opened #2674 "Pasting of note link from copy button results in incorrect format (while in editor mode)"
# Current behavior

When I go to the information panel to copy the note's link and use the copy button, then paste it into another note. The format results in an incorrect format where there are extra slashes. If I remove those two slashes, the link registers and works as expected.

The incorrect format only happens while using the copy button and copying while in editor view mode and if link is p

[2018-12-03 12:08] ZeroX-DG commented on #2669
We are still investigating this bug here https://github.com/BoostIO/Boostnote/issues/2669

[2018-12-03 12:08] #2669 closed

[2018-12-03 12:10] ZeroX-DG commented on #2674
Hi! Thank you for reporting, this is a known issue. Please follow it here: https://github.com/BoostIO/Boostnote/issues/2628

[2018-12-03 12:10] #2674 closed

[2018-12-03 12:14] ZeroX-DG commented on #2673
Thank you for reporting, this is a known issue. Please follow it here: https://github.com/BoostIO/Boostnote/issues/2618

[2018-12-03 12:14] #2673 closed

[2018-12-03 12:16] ZeroX-DG commented on #2671
I think it's the intended behavior. When you hide the app to the taskbar it basically doesn't have any permission to listen to key shortcut anymore.

[2018-12-03 14:54] blackredscarf opened #2675 "The output HTML has no codeblock color"
# Current behavior

My note like this:
![](https://i.loli.net/2018/12/03/5c0542cd22eee.png)

But the codeblock of output HTML has no color:
![](https://i.loli.net/2018/12/03/5c05430b4e6ac.png)

# Expected behavior

the codeblock of output HTML has color and same to the note.

# Steps to reproduce

# Environment

- Version : windows 0.11.11
- OS Version and name :

[2018-12-03 15:33] federicochiesa commented on #2631
I have the same problem, macOS 10.14.1 Boostnote 0.11.11.

[2018-12-03 15:47] an-d-uu opened #2677 "SQL code snippet in markdown document duplicates sql in markdown preview"
# Current behavior
When using the sql code snippet in markdown its duplicating duplicating the code in view mode.

# Expected behavior

I am expecting the sql code snippet to only show once.

# Steps to reproduce

1. create a bullet point with some information
2. create a ```sql section with sql code
3. go to preview mode and you will see it duplicated

# Environment
![image](https://user-images.g

[2018-12-03 15:54] mahdikooshkbaghi commented on #2568
As far as I can *check* the behavior is not changed. Writing at the end of the markdown file (file includes figures, math, code, ...) will cause a jump to somewhere in the middle of the preview.

[2018-12-03 17:06] genericmoniker commented on #2677
Another example -- this document renders the sql code block three times:

[code]

Adding a blank line before the code block fixes the problem:

[code]

I'm not sure if it is just SQL -- I was seeing similar behavior with YAML over the weekend.

[2018-12-03 21:51] rufusshrestha commented on #2671
This wasn't that case as show/hide was both working prior.

On Mon, 3 Dec. 2018, 23:17 Nguyen Viet Hung <notifications@github.com wrote:

[2018-12-04 01:02] ZeroX-DG commented on #2671
I think I was able to reproduce the problem. I have another app using `ctrl + alt +space` shortcut too and it conflicted with Boostnote shortcut. However, Boostnote doesn't show up and that other app doesn't trigger too. Maybe it's electron window bug. I'll look into it.

[2018-12-04 02:32] ZeroX-DG commented on #2677
This is a known issue, please follow it here: https://github.com/BoostIO/Boostnote/issues/2614

[2018-12-04 02:32] #2677 closed

[2018-12-04 07:04] Kutear opened #2679 "markdown code render error"
# Current behavior

![image](https://user-images.githubusercontent.com/8605389/49424359-49059f00-f7d5-11e8-80a2-080f0ffef062.png)

# Expected behavior
With Blank line
![image](https://user-images.githubusercontent.com/8605389/49424428-89651d00-f7d5-11e8-9c23-a4bac7d05cab.png)

# Steps to reproduce

1. reproduce everytime
2.
3.

# Environment

- Version : Boostnote 0.11.11
- OS Version and name : M

[2018-12-04 08:41] ZeroX-DG commented on #2679
Duplicated https://github.com/BoostIO/Boostnote/issues/2614

[2018-12-04 08:41] #2679 closed

[2018-12-04 14:50] robcapell commented on #2629
Driving me insane. Mac OS Mojave 10.14.1 (18B75). Boostnote 0.11.11.

[2018-12-05 02:49] guanqun-yang opened #2680 "[Feature Request] Automatic Parsing DOI/arXiv ID etc."
As a researcher, I need to deal with up to hundreds of papers every day. DOI/arXiv IDs are unique identifier for them for swift and precise location. Sometimes I could easily acquire these numbers but copy & paste and in Google and find the right website takes extra time and when you multiply the time with 100 or even 1000, it would be quite considerable.

There are some patterns in these IDs and

[2018-12-05 07:06] daniilborovkov commented on #571
Hello everyone. I am still working on this issue. Is here some one, who will test this before pull request and give ideas for new subfeatures?

[2018-12-05 09:26] robertocastellotti opened #2681 "table of contenst not working"
# Current behavior
Hi
When i "print to a file" a markdown note with boostnote tool i get a pdf in which i cannot use toc item
Clicking on a toc item it doesn't move to the corresponding header, wile it does while using the boostnote wiewer
here you have my file (btw sorry it is in spaghetti language),

# Steps to reproduce
Just try to print to a file the note i pasted
# Environment

- Version : 0.

[2018-12-05 12:22] ZeroX-DG commented on #2680
This is out of scope for Boostnote and will not be implemented (Unless you can convince me with a reasonable reason). However, I'll show you a small trick back when I study for IELTS. Sometimes I want to search for a word on Cambridge dictionary and googling it is slow and just like your case, the link for all the words on Cambridge dictionary website share the same form
[code]
So for example, if

[2018-12-05 12:41] MrBuBBLs commented on #1790
This feature might be related to this issue #1519. Or at least, this feature would also come as a fix for the "overwrite over sync" issue.

[2018-12-05 13:17] ZeroX-DG commented on #2660
![image](https://user-images.githubusercontent.com/12984316/49515885-b47d6880-f8ca-11e8-90ef-fbae9e3c0587.png)
Good news! The re-write version of the app can take care of it.

[2018-12-05 13:17] #2660 closed

[2018-12-05 13:46] chenbin11200 opened #2683 "Code block render twice after list"
# Current behavior

if I write in markdown:

1. blablabla
[code]
The code block will be rendered twice.
That happens only when a code block in the numeric list.(As far as I observed.)

# Expected behavior

Code block should rendered only once.

# Environment

- Version : 0.11.11
- OS Version and name : Win10

[2018-12-05 17:04] guanqun-yang commented on #2680
This is pretty useful and actually largely resolves my problem. Thank you so much for sharing!

[2018-12-05 20:02] FreddyCrugger commented on #125
No subfolders yet? Wow this is a very basic feature that kills the whole snippet idea, sad.

[2018-12-06 01:36] ZeroX-DG commented on #2683
This is a known issue and has been fixed in the next version: https://github.com/BoostIO/Boostnote/issues/2614

[2018-12-06 01:36] #2683 closed

[2018-12-06 01:40] ZeroX-DG commented on #2681
It works just fine with me (Linux Mint). Can you restart Boostnote to see if it help?

[2018-12-06 07:33] richardtks commented on #2385
@hoeztutar, Hi, the .md that you have imported, the image is the web image link or the image that you stored in the local?

It would be good if you can provide the .md file. Thank you :)

[2018-12-06 12:13] pmscosta commented on #2675
Working on it! :+1:

[2018-12-06 21:34] the-paulus commented on #1511
I would love to see Boost be capable of encrypting its data as well. In the mean time, what I currently do is use an encrypted loopback filesystem. For this I use [VeraCrypt](https://www.veracrypt.fr) because dm-crypt can open VeraCrypt volumes. For the average user [Cryptomator](https://cryptomator.org/) would be a better choice for them since it is pretty simple to use.

[2018-12-07 00:43] siyopao commented on #2366
Moreover, when you define `Command + H` in the Hotkeys to hide boostnote it seems to break `Command + H` outside of Boostnote 😓

[2018-12-07 05:30] #2578 closed

[2018-12-07 12:49] vanbasten17 commented on #2631
Me too! I'm running MacOs Mojave 10.14.1 and Boostnote 0.11.11.

[2018-12-07 17:41] cselti commented on #2048
It can be solved, if the metadata (that is stored in the cson file) will be stored inside the markdown file between HTML comment tags ( \ ), similar like the generated ToC used now. The result will be a "standard" github markdown file, that can be editable with different editor on different platforms - like smartphone, web based editor, etc.

[2018-12-08 14:13] chiangs opened #2687 "[Bug] Windows, sidebar minimized needs to be wider"
# Current behavior

This only happens on Windows, as I don't have this problem on my Mac.

When I reduce the sidebar their needs to be more padding or width to adequately show each folder's first letter, especially if there's also a side scroll bar. This happens no matter how wide or full screen the app is.

# Expected behavior

It should look like how it does on the mac where there's enough width

[2018-12-09 06:02] aashutoshrathi commented on #1683
Hi, @ChetCopperpot.
I have a fix for this.
I think what you meant is that you should be able to scroll through the list when clicking on tag.

- Item 1
- Item 2 [#tag1](#tag1)
- Item 3 [#tag2](#tag2)

<a id="tag1"></a>

### Item 2 (clicking on #tag1 brings you here)

- SubItem 1
- SubItem 2

Code for the same:

[code]

[2018-12-09 09:56] richardtks opened #2688 "No scrolling when the tag is overflow"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/BoostIo/Boostnote/issues/2688/badge.svg" />](https://issuehunt.io/r/BoostIo/Boostnote/issues/2688)

# Current behavior
When the tags are overflow, user unable to enter the new tag.

# Expected behavior
1. When the tags are overflow, its container should able to be scrolled.
2. User should able to enter new tag regardless number of tags exist

[2018-12-10 04:59] weaming opened #2691 "Duplicated code block"
# Current behavior

![image](https://user-images.githubusercontent.com/10275711/49711530-e285e400-fc0d-11e8-90c4-dfa7db81b7b1.png)

# Expected behavior

![image](https://user-images.githubusercontent.com/10275711/49711541-f3cef080-fc0d-11e8-9f4a-ad031c9172ce.png)

# Steps to reproduce

1. Paste the content of gist https://gist.github.com/weaming/49a514f28afc085b8e60b32aaa507754 to boostnote
2. If

[2018-12-10 07:59] chiangs commented on #2687
I will include  a screenshot when i get home tonight

[2018-12-10 14:55] kzumu commented on #2032
I want this function too.

[2018-12-11 01:46] chinhw commented on #2629
I work around this by using the following command in the terminal.
`defaults write com.apple.Terminal CopyAttributesProfile com.apple.Terminal.no-attributes`
I am using this until a patch is available.

[2018-12-11 02:55] ZeroX-DG commented on #2691
Duplicated https://github.com/BoostIO/Boostnote/issues/2614

[2018-12-11 02:55] #2691 closed

[2018-12-11 08:20] egoisticalgoat opened #2693 "[Feature Request] Automatic syntax recognition"
# Current behavior

When i create a new snippet and type/paste any code into it, i have to manually select the snippet language.

# Expected behavior

Unless explicitly selected by the user, analyze the snippet and decide on the language.
Might be easier or harder depending on the languages, since not all are as obvious as others (e.g. shebang line, opening PHP tag, etc.)

# Steps to reproduce

1.

[2018-12-11 12:52] egoisticalgoat opened #2694 "[Feature Request] Per-List progress bar"
# Current behavior

When i have multiple lists in a single markdown note, the note has a single progress bar at the top of the note.

# Preferred behavior

When the lists are separated (be it by multiple newlines or even headers in between), each list should preferrably have its own progress bar.
Would be useful for e.g. feature request tracking, where one feature would need you to modify two core

[2018-12-11 13:32] hoeztutar commented on #2385
Hi, For example, I have an .md file with a png that I exported from a Jupyter notebook, it does not import the png in that directory. I am attaching the zip-file to this post.
[Untitled.zip](https://github.com/BoostIO/Boostnote/files/2667746/Untitled.zip)

[2018-12-11 18:31] chiangs commented on #2687
![capture1](https://user-images.githubusercontent.com/10984593/49821655-3f52dd00-fd7b-11e8-8502-bdec35a9ac26.PNG)
![capture2](https://user-images.githubusercontent.com/10984593/49821656-3feb7380-fd7b-11e8-8b8f-503fd4c8bb6a.PNG)

[2018-12-12 01:02] OnlineVagrant opened #2695 "Inline code highlighting"
Is it possible to have inline code highlighting?
The line in the red rectangle is a simple example of what I'm talking about.
![captureq](https://user-images.githubusercontent.com/39413259/49840004-f81f1900-fd87-11e8-8397-6da5c9bc0146.PNG)

[2018-12-12 04:57] ZeroX-DG commented on #2687
Oh! The issue is the scrollbar. We should hide scrollbar when the sidebar is minimized but the users can still scroll using mouse wheel

[2018-12-12 08:51] jiangmitiao commented on #2631
I have the same problem, macOS 10.14 Boostnote 0.11.11

[2018-12-12 08:56] dendihandian opened #2696 "Compact Size Between Storage"
# Current behavior

![2018-12-12_15h06_44](https://user-images.githubusercontent.com/16485031/49858068-9b267000-fe26-11e8-9dd1-5eb4eb50550f.png)

The height size between storage are too much, I don't  think anyone like it except it has smaller height size.

# Expected behavior

Height between storages item bar are smaller just like `All Notes`, `Starred` and `Trash`

# Steps to reproduce

Make or

[2018-12-12 10:20] chiangs commented on #2687
You could hide it or just give a little extra room, either is ok with me. thanks!

[2018-12-12 13:49] lukaswerner commented on #2607
No updates on this? Cannot use boostnote :(

[2018-12-12 17:30] ZeroX-DG commented on #2607
@caspercode444 it’s the error you show doesn’t related to the current bug. May try delete node_mudule and run yarn to reinstall the dependencies?

[2018-12-12 18:20] andyklimczak opened #2698 "Discrepency between edit and read view strikethrough text"
# Current behavior

When trying to strike through a line of text, the text looks properly struckthrough in edit view of the note, but does not in the read view. My example text was:
[code]

#### Looks properly strikethroughed in the edit view
<img width="730" alt="screen shot 2018-12-12 at 1 10 04 pm" src="https://user-images.githubusercontent.com/4869742/49889395-5f33e080-fe0f-11e8-867f-dac3eb8a1

[2018-12-12 22:57] vienai8d opened #2699 "Feature 'saveTagsAlphabetically' has been removed"
Feature 'saveTagsAlphabetically' can be controlled in preferences UI of Boostnote, but it looks like its core logic has been removed from master branch.

<img width="317" alt="savetagsalphabetically in preferences ui" src="https://user-images.githubusercontent.com/31370233/49904318-22b6c200-fead-11e8-98b0-6eecb24ef796.png">

Specifically, the feature had been added by https://github.com/BoostIO/Bo

[2018-12-13 01:02] SatoshiKawabata opened #2700 "Can I use snippet finder launcher with Ctrl(Cmd) + Alt + S ?"
Before I heavily used snippet finder with "Ctrl(Cmd) + Alt + S". Now I can't use it...
How can I use it?

[2018-12-13 02:29] KuangLei commented on #2696
I think the spaces between storage locations clearly distinguish different locations.
![screenshot_20181213_020131](https://user-images.githubusercontent.com/12217600/49910637-609af280-fe7b-11e8-9646-9a8545e7c256.png)

In the [Google Material Design Guideline of Navigation drawer](https://material.io/design/components/navigation-drawer.html#anatomy), it said a dividers could be used to separate *g

[2018-12-13 02:43] gaui commented on #490
Is export sufficient? I don't see that it solves what @lpld mentions. Also see #292

[2018-12-13 02:47] KuangLei commented on #2698
I think within this design, I could have a real-time styling feedback when I was typing. It can also remind me that I should add another `~~` to close the strike-through zone.

Btw, the `**Bold` and `*Italic` follow the design too.

Thanks.

[2018-12-13 02:51] ZeroX-DG commented on #2693
Duplicated https://github.com/BoostIO/Boostnote/issues/2351

[2018-12-13 02:51] #2693 closed

[2018-12-13 02:55] ZeroX-DG commented on #2695
Currently, I don't think so.

[2018-12-13 03:09] ZeroX-DG commented on #2698
The correct syntax is `~~text~~`. You forgot to close the `~~`

[2018-12-13 03:41] officialgupta commented on #2568
For now I have just disabled the feature to autoscroll in the settings

[2018-12-13 04:12] flyisland commented on #490
I really don't think export only is sufficient, what I want is to use an external editor to modify markdown files of the BootIO directly, without export and import again.

[2018-12-13 05:01] Rokt33r commented on #2015
@faustomura How can we reproduce the problem?

[2018-12-13 11:03] faustomura commented on #2015
see this video: https://www.youtube.com/watch?v=Mgw1iJWu-Xk&feature=youtu.be

[2018-12-13 14:48] arcturus140 opened #2701 "lash in table of contents"
# Current behavior

Link in TOC does not work for `space + slash + space` in title

![toc_chars](https://user-images.githubusercontent.com/44707562/49945672-4dbd0800-fee5-11e8-963b-73b091d8d249.gif)

# Steps to reproduce

1. create new note
2. add markdown
3. navigate throuhg TOC

Markdown:

[code]

# Environment

- Version : 0.11.11
- OS Version and name : 16.04 Ubuntu

[2018-12-13 14:50] arcturus140 commented on #2701
`Hello & World` doesn't work either

[2018-12-13 20:48] challman1 opened #2703 "Boostnote storage location empty and export doesn't export anything"
I plan to re-image my laptop. I want to copy my notes off the current SSD. When I looked in my customer storage location, nothing is present. I have created 10 notes prior to this. I can't check the default location because I don't know where that is.

I've rebooted and uninstalled/installed but the same thing happens. I have tried to export all my notes. When I chose the format type, it asks for

[2018-12-13 22:57] OnlineVagrant commented on #2703
Preferences --> Storage shows your location for each folder.
In the red rectangle you have the file path of that specific folder and clicking the icon in the red square takes you to the folder location.
![q](https://user-images.githubusercontent.com/39413259/49972524-5f63d700-ff08-11e8-9a65-44948e8d0016.PNG)

[2018-12-14 02:35] challman1 commented on #2703
I realize this. I wouldn't have asked if I hadn't already checked that. Here is the path:

![selection_009](https://user-images.githubusercontent.com/45859812/49979828-cee4c100-ff1e-11e8-8be2-a61f6828a4b3.png)

Here is the filesystem:

![selection_010](https://user-images.githubusercontent.com/45859812/49979846-e2902780-ff1e-11e8-93b8-e99e8812e324.png)

There are no files present. When I export, a

[2018-12-14 07:49] bkkgbkjb opened #2705 "Respect self-signed certificates"
When using `![](https://testserver.com:443/pictures/upload_1bz213cxasd1321as23dsadb213s90c8ed.png)` to fetch the online pictures, if the certificate of `testserver` is self-signed, `boostnote` would not go to fetch the corresponding file as expected.

However, currently there seems no way to let `boostnote` recognize a self-signed ca as the user's wish.
I'm working on Linux Debian sid, `boostnote`

[2018-12-14 13:03] lutz opened #2706 "Translations are missing in the menu"
# Current behavior

Currently the translations are not displayed in the menu.

![image](https://user-images.githubusercontent.com/26437097/50004861-b9b47480-ffa8-11e8-9753-d476a04c8e43.png)

# Expected behavior

That the translations are displayed in the menu

# Steps to reproduce

Select German in the settings!

# Environment

- Version : 0.11.11
- OS Version and name : Windows 10 Pro x64 October

[2018-12-14 13:42] AlminCode commented on #1971
If I may add a nice to have thing would be the "Suggestions dropdown" like Notion:

![screenshot 2018-12-14 at 14 39 44](https://user-images.githubusercontent.com/6343910/50006552-66ddbb80-ffae-11e8-83f8-3de08080e571.png)

[2018-12-14 14:52] lutz opened #2707 "[Feature Request] Hide menu bar"
# Current behavior
Menu bar cannot be hidden
# Expected behavior
There is an option in the settings to hide the menu bar and only show it when the ALT key is pressed.
# Environment
- Version : 0.11.11
- OS Version and name : Windows 10 Pro x64 October Update

[2018-12-14 15:37] lutz opened #2708 "[Bug] WindowsState after startup"
# Current behavior
If the window has been closed in the maximized state, it will not be restarted in the maximized state when it is restarted.

*Before restarting*
![image](https://user-images.githubusercontent.com/26437097/50012185-44539e80-ffbe-11e8-8fc1-94b4a02227e7.png)

*After the restart*
![image](https://user-images.githubusercontent.com/26437097/50012234-63523080-ffbe-11e8-9427-dc64933a549

[2018-12-14 20:17] fsabado commented on #454
I ran into this issue recently. I had to remap a network drive that contains my notes. Seems changing the path causes issue when reloading the storage again. It might be related to this issue here: https://github.com/BoostIO/Boostnote/issues/1934. He had to change the drive letter of his storage in  the sqlite file/db in `C:\Users\my_username\AppData\Roaming\Boostnote\Local Storage\file__0.localst

[2018-12-15 02:49] corypaik commented on #947
Same issue on Mac OS 10.12.6 but only prints first page, rest of pages are blank

[2018-12-15 03:47] KuangLei commented on #2706
It seems that the menu bar is not available to be translated on any languages.

[2018-12-15 04:17] zzxxhhzxh commented on #2708
I never had a maximum window when I start the app. Windows 10 Pro x64 1809 (1920x1080)

[2018-12-15 05:47] KuangLei commented on #2708
This issue may have a history. Two years ago when I started to track Boostnote (0.7.x), the issue appeared on Linux (Debian and openSUSE) but I am not sure whether it appeared on Windows. And now it appears on Windows, not on Linux (openSUSE). It may not be the same issue; I'm just saying.

[2018-12-15 06:31] #2698 closed

[2018-12-15 06:42] ZeroX-DG commented on #2699
I still can use it in the current master.
![cas](https://user-images.githubusercontent.com/12984316/50040084-3f9af300-006f-11e9-9bd9-d7dbe7100443.gif)

[2018-12-15 07:10] daiyam commented on #2629
This is a duplicate of #2628. The fix has already been merged so it will be fixed in the next release.

[2018-12-15 07:31] #2629 closed

[2018-12-15 07:39] #2618 closed

[2018-12-15 07:57] ZeroX-DG commented on #2707
Can you hide it with `alt` ?

[2018-12-15 07:59] lutz commented on #2707
No

[2018-12-15 08:03] ZeroX-DG commented on #2707
Maybe it's a Windows-related issue. It works fine on my Linux machine. I can't test it on Windows right now so maybe someone else can. @daiyam can you test it on Windows?

[2018-12-15 08:17] lutz opened #2709 "Minimal menu structure"
# Current behavior
The current menu structure looks like this
[code]
# Expected behavior

In my opinion, it would be more consistent with other programs to place the Boostnote commands in the other menus.

[code]

# Environment
- Version : 0.11.11
- OS Version and name : Windoes 10 Pro x64 October Update

[2018-12-15 09:14] vienai8d commented on #2699
Probably, it is expected that tags of a note are saved in order of its name alphabetically when 'saveTagsAlphabetically' is enable.
But, in the current master, the tags are saved in order of the creation as below (In this example, I turned off 'showTagsAlphabetically').
![savetagsalphabetically_off](https://user-images.githubusercontent.com/31370233/50041055-d24c8980-0091-11e9-9050-d3ede938b2eb.gi

[2018-12-15 11:47] daiyam commented on #2675
@blackredscarf I've improve my PR #2612 to fix the issue. Can you test it?

[2018-12-15 14:58] daiyam commented on #2648
@gitname I've improve my PR #2612 to fix the issue. Can you test it?

[2018-12-16 04:58] richardtks commented on #2667
@milesbigbluedoor, Hi, I am not able to reproduce in the current master branch, maybe this has been fixed? Can you provide your .md file, so that I can test your .md in master branch as well?

Editor mode:
![image](https://user-images.githubusercontent.com/43637878/50050320-30c94480-0132-11e9-8215-8fcd97964cd0.png)

Preview:
![image](https://user-images.githubusercontent.com/43637878/50050322-3faf

[2018-12-16 05:40] empeje commented on #2570
Try this
[code]

but put that inside ``` block

@daiyam

[2018-12-16 05:47] maxpei opened #2711 "No storage is loaded when one storage location is invalid"
# Current behavior

I have configured two storage locations in BoostNote, one corresponding to a regular folder and the other being mounted when necessary by Cryptomator. But if I open BoostNote without running Crypomator first, the other storage location is not loaded either.

# Expected behavior

It's fine the unmounted storage location is not loaded, but I would expect the other regular locatio

[2018-12-16 05:54] ZeroX-DG commented on #2711
I can imagine why this happened but it would be great if you can provide a screen shot of the dev console so that I can know the exact problem.

[2018-12-16 06:39] maxpei commented on #2711
Thanks, here is the screenshot.

![image](https://user-images.githubusercontent.com/7021710/50050789-34fc5e80-0140-11e9-8376-3df822d6394b.png)

[2018-12-16 08:11] daiyam commented on #2570
@empeje I don't have the issue on the last version 0.11.11. I've just seen that you are using an old version.

[2018-12-16 11:46] empeje commented on #2570
Oops, I'll try to update then, thanks,

[2018-12-16 21:04] frozenL commented on #2288
looks like the mobile version is temporarily stopped: https://github.com/BoostIO/boostnote-mobile/issues/201

[2018-12-17 07:56] #2533 closed

[2018-12-17 09:25] nix6839 opened #2714 "Add v0.11.12 release tag to this repository"
Similar #2513 issue

For the AUR package on Arch Linux we build the source from this repository. The latest version was released on boost-releases but the release isn't yet tagged on this repo (https://github.com/BoostIO/Boostnote/releases).

Thanks in advance!

[2018-12-17 11:09] richardtks commented on #1995
@l1b0k, can you confirm whether this issue still persists?

[2018-12-17 11:15] tbraz commented on #2631
With the latest update (boosnote 0.11.12) the problem still exists.

[2018-12-17 11:33] richardtks commented on #2023
@michal-organek , Hi, do you still keep your storage folder before <= 0.11.4? It would be awesome if you can share it here :smile:

[2018-12-17 11:59] michal-organek commented on #2023
@richardtks Hi. Nope I don't - I meat I'm using the latest version of Boostnote, but as far as I remember my old storage has been automatically migrated in one of the next versions (I assume in https://github.com/BoostIO/boost-releases/releases/tag/v0.11.7), and works without any problems.

[2018-12-17 12:01] roymuste opened #2715 "items sort icon is not working on v0.11.12"
# Current behavior
Sort icon is not selectable.
![20181217-200002](https://user-images.githubusercontent.com/1933617/50085909-69eadd00-0236-11e9-85c7-c5972b3badf5.gif)

# Expected behavior
need this feature to sort items by time (updated) or by name (alpha..)

# Steps to reproduce
1. in any folder, check the sort icon, it is not selectable
2. if there is an item in folder, sort label will be overl

[2018-12-17 12:12] ehhc commented on #2023
@michal-organek glad to hear it works without problems now :)

[2018-12-17 12:31] roymuste commented on #2715
ahh... found a workaround --> enlarge the panel's width, and the sort icon/label works well... so this defect is no much impact...

[2018-12-17 13:45] Rokt33r commented on #2023
@ehhc Please submit the pr to issuehunt to get the deposit!!
https://issuehunt.io/repos/53266139/issues/2023

[2018-12-17 13:45] #2023 closed

[2018-12-17 15:50] andyklimczak commented on #2698
Gotcha, I wasn't sure if it was a bug that the strikethrough text was shown when only `~~test` was typed in the edit view

[2018-12-17 17:06] ZeroX-DG commented on #2698
@andyklimczak It's the default behavior of CodeMirror: https://codemirror.net/mode/gfm/index.html

[2018-12-17 17:50] payacoub commented on #2023
Similar issue here on Windows 10, Boostnote 0.11.12; I can't paste images anymore (no effect while it worked before)

[2018-12-17 17:55] payacoub opened #2716 "Pasting imaging not working anymore after last update (Windows 10, Boostnote 0.11.12)"
# Current behavior

Really easy: the pasting image function is no longer working. While it would correctly paste before by adding the bath to the file and showing the image in preview, it has no longer any effect.

# Expected behavior

It should paste the file path to the editor and show the image on preview

# Steps to reproduce

Just copy/screenshot something and paste into the editor on 0.11.12

[2018-12-17 18:05] ehhc commented on #2023
@payacoub pasting images and displaying images are two different things... so your problem is unrelated to this issue here...

[2018-12-17 18:31] ehhc commented on #2716
The problem is following: somehow pasting images is only allowed if you enable the 'smart paste' option in the interface... I have no idea why and don't find it good.
Maybe @Rokt33r  or @daiyam (you implemented it?) can enlight us :)

[2018-12-17 18:32] ehhc commented on #2716
btw: if somebody fixes this issue: intellij states that the method attachmentManagement.handlePastImageEvent is not used anymore (i think because of the implementation by @daiyam ), it would be nice to delete it completely... having dead code is.. ugly.. :) Thanks :)

[2018-12-17 18:42] payacoub commented on #2716
Hey @ehhc thanks for the reply :)

You are right, it was about the Smart Paste option that wasn't enabled. Don't remember if it was there before but I was using it for sure!

Closing the issue then

[2018-12-17 18:42] #2716 closed

[2018-12-17 19:19] MiroFurtado commented on #2631
Likewise, encountering this problem! Just installed and it's the one feature that seems to be lacking

[2018-12-17 21:19] daiyam commented on #2716
@payacoub you don't need to enable the "smart paste". Instead, you can use `Ctrl+Shift+V`.

[2018-12-17 21:23] PuerorumOne opened #2717 "Support tags names with `/`"
# Current behavior

Selecting a tag with `/` in the title does not open its corresponding page.

<img width="242" alt="image" src="https://user-images.githubusercontent.com/45951653/50115873-ee465b80-0248-11e9-9ead-6749610f877b.png">

If I have a tag with `-` instead of `/` it works fine. Example:
`/DEVOPS/HOWTOS/K8s` - doesn't work - stays on the old page
`DEVOPS-HOWTOS-K8s` - works fine as a tag

[2018-12-17 21:51] daiyam commented on #2716
@ehhc when pasting an image, there is 2 cases:
- the clipboard has the data uri as text and the image as an object (example: `copy image` from google image)
- the clipboard has only the image as an object (example: `copy image` from boostnote.io)

In the first case, a `Ctrl+V` gives you the data uri and a `Ctrl+Shift+V` gives the image
In the second case,  a `Ctrl+Shift+V` gives the image.

So `Ct

[2018-12-17 21:54] daiyam commented on #2714
@Rokt33r please don't forget the tag 😉

[2018-12-17 22:00] daiyam commented on #2717
@PuerorumOne please update to the last version, it has been fixed since the `v0.11.10` 😉

[2018-12-17 22:04] daiyam commented on #2715
@roymuste you are right the issue is due to the panel to not be wide enough

@ZeroX-DG this issue won't be easily fix because of the abuse of `position:absolute`. Unless we force the minimal width.

[2018-12-18 00:37] MiroFurtado commented on #242
I am encountering this from the version I downloaded off the homepage (0.11.11)

[2018-12-18 00:55] ZeroX-DG commented on #2715
@daiyam I think limiting the width is the right choice. Another option is to re-ordering the icon when the width is too small. But I don’t think it should be that small, if users want, they can always hit ctrl + b

[2018-12-18 00:59] #2717 closed

[2018-12-18 02:46] Rokt33r commented on #2714
I did it! https://github.com/BoostIO/Boostnote/releases/tag/v0.11.12

[2018-12-18 02:46] #2714 closed

[2018-12-18 03:11] empeje commented on #2570
Right @daiyam it is not reproducible in version `0.11.11` I'll close it then.

[2018-12-18 03:11] #2570 closed

[2018-12-18 03:13] empeje opened #2718 "Update button"
# Current behavior

I'm looking for update button, now I need to download binary manually.

# Expected behavior

Update button not available.

# Steps to reproduce

1. Open Boostnote
2. Look for the update button in the menu bar
3. Nothing there

# Environment

- Version: Mac OSX High Sierra
- OS Version and name: 0.11.11

[2018-12-18 07:32] ehhc commented on #2716
I'm not sure but i think `Ctrl + v` always gives you the images sounds right, doesen't it? I mean: Pasting images should be allways possible.. At the other hand: i don't know.. what do you think @Rokt33r ?

[2018-12-18 07:58] Rokt33r commented on #2716
I'm actually leaning toward @ehhc's idea. Could you tell me why do we need to keep images as data uri? And do you have any examples of other apps woking like that? @daiyam

[2018-12-18 08:38] BjarkePedersen opened #2719 "Can no longer insert from clipboard on macOS"
# Current behavior

When trying to insert an image from the clipboard, nothing happens.

# Expected behavior

When inserting an image from clipboard, it will insert the image and it will look something like this in the markdown:
`![Screenshot 2018-12-18 at 09.28.28.png](:storage/6d36e1fa-99ad-4953-8ada-7afa726719d7/829ee765.png)`

# Steps to reproduce

1. Copy image to clipboard.
2. Insert image u

[2018-12-18 08:41] ehhc commented on #2719
This is already known. See https://github.com/BoostIO/Boostnote/issues/2716 for an explanation and a workaround :)

[2018-12-18 08:42] ehhc commented on #2716
@daiyam is there any use case in which i need the data uri?
Maybe we can switch the behavior? ctrl + v = Iage ctrl + shift + v = data uri?
What do you think about that?

[2018-12-18 09:08] daiyam commented on #2719
@BjarkePedersen please use `Cmd+Shift+V` for the time being when pasting an image

[2018-12-18 09:20] daiyam commented on #2716
@ehhc I don't have any real use case.

I was more thinking:
- `Ctrl+V` pastes only text
- `Ctrl+Shift+V` pastes image, HTML or text

So if `Ctrl+V` has to paste images, I really don't mind 😉

[2018-12-18 15:29] ghost opened #2721 "very frequent API calls for PlantUML"
# Current behavior

At the moment every time a change is detected, it waits for about 1 second (I assume) and then makes a request to the plantuml servers when working on a plantuml design. I worked on a rather small design and since it gets information really frequently from the API, the API blocked me rather quickly because of too many requests. After some time I got access again.

# Expected be

[2018-12-18 16:53] Memphizzz commented on #1571
It would be awesome to have Ghost blogs supported too.

[2018-12-18 18:00] arnaudroques commented on #2721
We are sorry about that, but as maintainer of PlantUML server, we do have to put protections against robot spamming and abusive use of our server.

We want to keep our service free and open. Having one request per second per IP is ok for us, so maybe the editor should buffer requests to our server to avoid flooding ?

[2018-12-18 19:02] ecvgit commented on #490
I don't think an export is sufficient. We want to have the option of using an external editor to edit the Markdown files if needed.

[2018-12-19 03:46] l1b0k commented on #1995
yes ,i can confirm the problem still in Boostnote 0.11.12 (win)

1. new install Boostnote 0.11.12  with default config
2. copy code block i write before

the problem still there

[2018-12-19 08:57] DogfishBone commented on #2326
The same problem. I think it's an **urgency** bug!

[2018-12-19 09:49] DictumMortuum opened #2722 "[feature request] Add Nord colorscheme"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2460%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/BoostIo/Boostnote/issues/2722)

Hello!

Would it be possible to add the nord colorscheme, please? https://github.com/arcticicestudio/nord

Regards,
Dimitris

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

#### [<img src='https://avatars2.githubuserconte

[2018-12-19 09:52] daiyam commented on #2721
Adding a cache and a delay between each update should be fairly simple.

[2018-12-19 09:54] DictumMortuum opened #2723 "Hierarchical note structure"
Hello,

I don't know if this is possible with the current implementation of boostnote, however, do you think that it would be possible to create a hierarchical note structure like [cherrytree](https://cdn.portableapps.com/CherrytreePortable.png)?

Regards,
Dimitris

[2018-12-19 09:54] daiyam commented on #2722
For the editor or the UI?

[2018-12-19 15:02] joaocastro commented on #2568
Me and my colleagues have been trying on the last couple of weeks to fix this problem. We verified the maths that is applied to the preview mode and we have concluded that the problem is coming from the framework Electron, so it'll be hard to fix on this project. Probably a feature on Electron may be needed to get more information and display both sides correctly.

[2018-12-19 15:30] CarlosBras opened #2726 "Can't debug Boostnote with VSCode on Windows"
# Current behavior

I have a problem while trying to debug Boostnote with VSCode on Windows. After installing the dependencies, when i click Build Boostnote it fails to create binary files and therefore I cannot run the program.

# Expected behavior

The program should build and execute smoothly.
# Steps to reproduce

1. Click Ctrl+B
2. Build Boostnote

# Environment

- Version : VSCode 1.30.0
- O

[2018-12-19 18:17] ivansharamok opened #2727 "Notes disappeared after upgrade to version 0.11.12 and new note with the same title does not save data"
# Current behavior

After upgrading Boostnote to version `0.11.12`, a few of my notes disappeared. I use Google Drive as storage device for my notes. I tried removing storage from Boostnote configuration and then adding it back but that didn't bring the missing notes back.

Since I wasn't able to recover the notes, I created a new note with the same title as missing one. However, when I record any

[2018-12-19 18:30] luckydonald commented on #1787
Probably related if with "list" you mean `<ul><li>...</li></ul>`.

[2018-12-19 18:45] luckydonald commented on #1239
@kazup01

Doesn't help.
Version 0.11.11 (0.11.11).

![ezgif-1-364e1bb7c438](https://user-images.githubusercontent.com/2737108/50241002-a3eae900-03c6-11e9-9b83-3e4aec312096.gif)

[2018-12-19 18:50] luckydonald commented on #1239
@Rokt33r  As this seems to be fixed for windows, maybe we should open a new issue for mac?

[2018-12-19 20:31] luckydonald opened #2729 "Indent of checkboxes is off"
# Current behavior

Checkboxes are too far right.

![image](https://user-images.githubusercontent.com/2737108/50246245-08ad4000-03d5-11e9-840d-9cb4f5f1d50f.png)

# Expected behavior

Checkbox should be in same position as • of list items

# Steps to reproduce

[code]
# Environment

- Version : ersion 0.11.11 (0.11.11)
- OS Version and name : macOS Mojave 10.14 (18A391)

[2018-12-19 21:30] Strongaloff opened #2731 "Icon in a lower display scaling have a poor quality"
# Current behavior

Application icon seems to have low quality if using a display scale lower than the one recommended.

![annotation 2018-12-19 232118](https://user-images.githubusercontent.com/44774998/50248824-f5a26c00-03e4-11e9-909b-52c22119feb8.jpg)

# Expected behavior

Icon should look just fine even if the scale is lower than recommended (in the Image above Firefox and Spotify have a good

[2018-12-19 21:40] Strongaloff commented on #2731
A restart fixes this issue.

[2018-12-19 21:40] #2731 closed

[2018-12-20 00:20] xvusrmqj commented on #2259
no a good idea:
1. database is not a plaintext to read. cson file can be read without boostnote.
2. incremental synchronization is become impossible. now we can use dropbox to incremental synchronization. but if use sqlite , how to synchronize?

[2018-12-20 03:44] richard-yao opened #2732 "Note directory support expand in side bar"
# Current behavior

Boostnoe just display my all directory in left side bar for now
![image](https://user-images.githubusercontent.com/15257771/50262485-8ceeda00-044c-11e9-9d42-7eb5146ebd03.png)

# Expected behavior

The directory can expand in side bar so that I can find the note directly instead of change every directoy to find that one

# Steps to reproduce

# Environment

- Version : 0.11.12
-

[2018-12-20 05:54] LaniJW commented on #2721
I totally understand that you want to avoid spamming on your servers. That's why I suggested to set a shortcut which triggers the API request.

[2018-12-20 06:00] LaniJW commented on #2721
A cache is already in place I believe. \
Adding a delay to fix the problem isn't really ideal I'd say. I think it would be better to let the user decide when he wants to make the call to the API, since the problem with arbitrary calls isn't solved. I believe it's best if the user can decide for themselves when exactly the call should be issued so he can control it exactly. If the user then makes t

[2018-12-20 07:38] peterfhg opened #2733 "Custom PlantUML Server seems not to work"
In Short: It seems a custom PlantUML URL is not used at all.

My environment:
- Up-to-date Arch Linux
- boostnote 0.11.12-1 installed from AUR
- I'm behind a firewall, so I need to go through a proxy to get access to external web servers. Here the environment variables "`http_proxy`" and "`https_proxy`" are set accordingly.
- I've tried to run a local PlantUML server which seems to work fine: When

[2018-12-20 09:18] payacoub commented on #2716
UX-wise if I may, I'd prefer having the Ctrl+V at least pasting the images as well :)
In terms of use, I use Boostnote mostly for note taking (taking advantage of markdown and all) so images are of huge importance

The confusion with the smart paste option led to the opening of this ticket but it may depend on the main use-case of course

[2018-12-20 10:14] payacoub opened #2734 "View mode not aligned with edit mode because of images"
# Current behavior

Basically, if you add images to note, the space these images take is not taken into account to align both edit and view modes:

![image](https://user-images.githubusercontent.com/36227284/50278669-f28c9780-0447-11e9-9752-07b943ac15b6.png)

# Expected behavior

Regardless the content, having both pan aligned together would be way handier. Otherwise, when checking on image but st

[2018-12-20 12:28] potester opened #2735 "About the preview mode ctrl +f search function"
First of all, I am very grateful to the developers for their efforts. I have a confusion. In the note preview mode, there is no search function, which leads to a half-day search. Can I add a preview mode search function?

[2018-12-20 14:17] ZeroX-DG commented on #2735
Have you tried to search in the editor?

[2018-12-20 14:20] ZeroX-DG commented on #2718
Usually, there will be a message box saying `Update available!`.

[2018-12-20 14:22] #2719 closed

[2018-12-20 14:44] ZeroX-DG commented on #2727
This sound like a critical bug. @Rokt33r can you reproduce the issue on mac?

[2018-12-20 15:04] potester commented on #2735
Search is available in the editor, but the visual experience is poor and the code block is not highlighted.

[2018-12-20 15:11] ZeroX-DG commented on #2735
Looks like we gonna need some improvements on searching experience for each individual note. We have received some issues related to the poor searching experience. Unfortunately, I'm a bit busy now so maybe someone else can fix this but I'll also try to fix this issue when I have time.

[2018-12-20 15:35] ZeroX-DG commented on #2723
This is a common feature request but it won't be implemented in the current version. The dev team is working on a rewrite version of Boostnote and this feature will be available there.

[2018-12-20 15:46] payacoub commented on #2734
Marvellous @daiyam ; should I keep this ticket opened nevertheless? It seems to be complementary to yours

[2018-12-20 16:17] iMcG33k opened #2736 "0.11.12 can't insert pictures like 0.11.11"
# Current behavior
How to insert pictures with latest version?

# Expected behavior
Just like 0.11.11, please give me the feature back, please..

# Steps to reproduce

1.  open some .png files with preview
2.  select one picture in the main window, press CMD + C to copy
3.  paste it in boostnote (markdown note), but it doesn't work...

if you do above steps in version 0.11.11, it will automaticall

[2018-12-20 16:34] yosmoc commented on #2736
@iMcG33k Please enable smart paste option. More detail. https://github.com/BoostIO/Boostnote/issues/2716

[2018-12-20 16:34] #2736 closed

[2018-12-20 17:22] 1npo opened #2737 "Preview pane content doesn't scroll all the way down in markdown mode"
# Current behavior

When I'm editing a large document in Markdown mode, the preview pane continues scrolling along with the edit pane -- up to a point. Once the text in the edit panel is filled up, the preview pane stops scrolling. Text added in the edit pane doesn't show up in the preview pane. It stays hidden below the bottom of the preview pane.

This screenshot is an exaggerated example -- it

[2018-12-20 20:01] alexalex8 commented on #2639
I noticed the same issue and the issue doesn't exist in 1.11.10. Following picture shows the behavior.

<img width="258" alt="bug" src="https://user-images.githubusercontent.com/5273218/50307419-60e05280-0466-11e9-9c3e-6ce5d5f495f5.png">

Code I used is below, basically just copy and paste the same block multiple times.  Then to reproduce the issue

1. Click the note
2. Scroll down then up a coupl

[2018-12-20 20:15] TKCZ commented on #2633
So, I still do not know the root cause of this issue, but I finally have a workaround. On my current Manjaro KDE I did:

1) Completely Remove Boostnote via Package manager like octopi/pamac preferably (or any other way really) & node-js to make sure..

2) Then make sure you also delete folder Boostnote in your ~/.config/

3) Then I ran "sudo pacman -Rsn $(pacman -Qdtq)" to get rid of old packages

[2018-12-20 20:15] #2633 closed

[2018-12-20 21:42] zacharyrs commented on #1787
List as in...

[code]

[2018-12-20 23:08] dbuskariol commented on #1386
@ww7  Note sure if it helps, but I've written a (janky) [bash script](https://github.com/dbuskariol/create-boostnote-cli) that automates the creation of Boostnote notes. It could be adapted to edit existing notes etc.

[2018-12-20 23:59] ivansharamok commented on #2727
I removed my note with `# Caption` title and restarted Boostnote. I can no longer repro the issue with content disappearance.
I use GDrive as my storage device and sometimes edit my notes when I don't have Internet, could such scenario cause issues with data sync? Is there a temp local storage for Boostnote that I could check for missing notes?

[2018-12-21 00:44] xvusrmqj commented on #2732
if boostnote is tree strcutured (like windows file manager, or zim wiki)， it is useful . but it is two-layer structure, so when expand it ,there will many many notes for you ,  it 's not very helpful.

[2018-12-21 08:39] sanghyukYoon opened #2738 "When I used code block the preview window was something wrong"
# Current behavior

![2018-12-21 5 18 56](https://user-images.githubusercontent.com/16624147/50332937-066af300-0547-11e9-9e39-8e5b932cf513.png)

# Expected behavior

# Steps to reproduce

1.  use code block
2.  check the preview window

# Environment

- Version : 0.11.11
- OS Version and name : MAC OS HIGH SIERRA 10.13.6(17G3025)

[2018-12-21 09:40] ZeroX-DG commented on #2738
0This bug has been fixed in 0.11.12 (latest release). Please update Boostnote

[2018-12-21 09:40] #2738 closed

[2018-12-21 09:57] empeje commented on #2718
I got the message box prompt when there's an update but I can't trigger it manually.

[2018-12-21 17:50] roottool commented on #1995
@l1b0k  I can confirm the problem in Boostnote 0.11.12 (Windows 10 Pro) too.
![before](https://user-images.githubusercontent.com/11808736/50355210-3b9c3300-0591-11e9-97d5-62e9f79d6c64.PNG)

And I found the solution.
![after](https://user-images.githubusercontent.com/11808736/50355300-9afa4300-0591-11e9-9934-76d6706b8660.PNG)
This bug is caused by CSS.
It can be fixed by setting the definition posi

[2018-12-22 00:32] kyet commented on #2521
refer to this,
https://github.com/BoostIO/boostnote-mobile

[2018-12-22 04:11] shuntaroy commented on #2700
Unfortunately, that feature was discarded for a long time ago.
See #1503.
There seems no hope for us to get it again, very sadly.
I rather recommend other snippet manager apps.

[2018-12-22 07:27] empeje opened #2740 "HTML Markdown Mix is not well together as it used to be"
# Current behavior

I want to reproduce something nice like this [one](https://github.com/fgeller/kt/blob/master/README.md) (don't be tricked, below are images)

* before

<img width="510" alt="screen shot 2018-12-22 at 14 22 46" src="https://user-images.githubusercontent.com/11813607/50371838-1ccf8800-05f5-11e9-9bfd-e7df15e400ba.png">

* after

<img width="591" alt="screen shot 2018-12-22 at 14 2

[2018-12-23 03:04] #2095 closed

[2018-12-23 03:05] #2582 closed

[2018-12-23 14:01] hminle opened #2742 "Cannot paste images from clipboard"
# Current behavior
Cannot paste image from clipboard into a note like the old version.
Nothing Happen, just blank page
![image](https://user-images.githubusercontent.com/16201681/50384325-e463a300-06f5-11e9-8aa7-2d615acec041.png)

# Expected behavior
Paste image from clipboard into a note

# Steps to reproduce
- Press Command + Control + Shift + 4 to take a screenshot and put it into your clipboar

[2018-12-23 14:13] hminle commented on #2742
Found it --> Need to enable smart paste https://github.com/BoostIO/Boostnote/issues/2736#issuecomment-449058060

[2018-12-23 14:13] #2742 closed

[2018-12-23 14:56] ZeroX-DG commented on #2740
Works fine for me on Linux
![asdasd](https://user-images.githubusercontent.com/12984316/50384854-8d61cc00-06fd-11e9-8507-25211ced2b3e.gif)

[2018-12-23 15:54] ZeroX-DG commented on #2737
Maybe the same isssue as https://github.com/BoostIO/Boostnote/issues/2636 ?

[2018-12-23 17:14] empeje commented on #2740
Why not work in High Sierra 🤔

[2018-12-23 17:38] rklasen commented on #2740
Only works if dangerous html elements are not sanitized (tested in Ubuntu 18.04, Boostnote 0.11.12).

Maybe this setting was reset to default (only allow safe html elements)?

[2018-12-23 17:43] rklasen commented on #2502
I tried inserting the floating ToC by modifying the document inside the iframe in the MarkdownPreview:

https://github.com/rklasen/Boostnote/tree/integrateTocBot

Currently the ToC is not immediately rendered, but after a change of the note content it appears. However, the links don't work.

[2018-12-23 22:41] empeje commented on #2740
Oh right @rklasen, tested as well in my case. Should I add this kind of information to readme/docs?

[2018-12-24 00:01] 181 opened #2744 "Could you please give a way to stop this annoying feature?"
# Current behavior
Whenever typing $, there are always two $$, it's so annoying to typing code in Boostnote, can not find any way to stop this, at least give us an option to stop this, thank you.

# Expected behavior

# Steps to reproduce

1.
2.
3.

# Environment

- Version :
- OS Version and name :

[2018-12-24 06:45] ZeroX-DG commented on #2740
We currently don't have a doc like that. I think this is a good chance to add a FAQ.md file. What do you think @Rokt33r

[2018-12-24 07:16] Rokt33r commented on #2740
@ZeroX-DG Sounds nice. 👍

[2018-12-24 07:51] #817 closed

[2018-12-24 08:31] daiyam commented on #2716
@Rokt33r Should I change the `Ctrl+V`'s behaviour to paste images?

[2018-12-24 08:34] Rokt33r commented on #2716
It sounds reasonable.

Yeah, I think we should do. 😢

[2018-12-24 08:43] richardtks commented on #2744
duplicated issue of #2586

[2018-12-24 09:03] daiyam commented on #2716
@Rokt33r I've made the PR #2747 to fix that.

[2018-12-24 10:55] daiyam commented on #2737
@ZeroX-DG I'm not sure about that issue. But the PR #2405 fixes the issue when the cursor position isn't shown in the preview (like in `screenshot 1`).

[2018-12-24 10:58] daiyam commented on #2734
@payacoub I've finished my PR #2405 but it still need to be reviewed :wink:

[2018-12-24 16:49] payacoub commented on #2734
awesome @daiyam , thanks for the heads up!

[2018-12-25 03:53] #2726 closed

[2018-12-25 03:53] #2715 closed

[2018-12-25 08:49] daiyam commented on #2335
@ChrisK91 here what I get with the PR #2585:
![screenshot](https://user-images.githubusercontent.com/587742/50418133-373e7700-082a-11e9-8240-aae988bcb2b1.png)

[2018-12-25 08:52] daiyam commented on #2044
@OnlineVagrant I've the PR #2585 which fixes the height of mermaid diagrams.

It gives me that:
![screen shot 2018-12-25 at 9 50 00 am](https://user-images.githubusercontent.com/587742/50418219-884e6b00-082a-11e9-805a-8b4f8ca3356f.png)

Would that be enough for your usage?

[2018-12-25 09:08] daiyam commented on #2202
@urda this seems to have been fixed. Can you retest it?

[2018-12-25 10:53] tanshanli opened #2750 "Videos embedded in this website(bilibili) cannot be played"
# Current behavior
The code is as follows:

[code]

**Display failure in bootsnote**
ps: Console has no information output

![bootsnoteview.png](http://oss.z13qu.com/issue/bootsnoteview.png)

# Expected behavior

**Display normal in index.html**
![ok.png](http://oss.z13qu.com/issue/ok.png)

# Environment

- Version :Boostnote 0.11.12
- OS Version and name : win10  1803

[2018-12-25 12:40] ZeroX-DG commented on #2750
Please change your setting in Interface tab. In preview section change the Sanitization to Allow dangerous HTML tag.

[2018-12-25 12:40] #2750 closed

[2018-12-25 21:32] justinezahiri commented on #2196
I also found the behaviour confusing as a new user.

[2018-12-26 02:19] Rokt33r commented on #2218
Fixed by https://github.com/BoostIO/Boostnote/pull/2586

[2018-12-26 02:19] #2218 closed

[2018-12-26 03:09] ttbadr commented on #2335
i had same issue in version 0.11.12, hope to fix it ,thanks

[2018-12-26 03:58] elfman commented on #2645
I want to work on this issue, what keyboard shortcuts should be customizable? all options in `views`?

[2018-12-26 08:40] ZeroX-DG commented on #2740
@empeje we have the permission can you create a FAQ.md file and add this to it?

[2018-12-26 11:14] empeje commented on #2740
sure, I'll do it.

[2018-12-27 02:13] sowee121 opened #2754 "Where can I download app?"
Where can I download app? All I saw was win,mac,linux.
I would like to download ios or Android app.

[2018-12-27 02:54] Awalvie commented on #2754
[https://github.com/BoostIO/boostnote-mobile](url)
As noted here the app is currently unavailable.

[2018-12-27 03:53] elfman commented on #2260
I'm working on this issue, I want to add a modal so that user can choose tag color from it. But `ReactDOM.createPortal` is not available since `react` version is only 15, I have to do more jobs to implement it.
`React 16` has be released more than one year, any plan to migrate?

[2018-12-27 03:54] vienai8d commented on #2699
@ZeroX-DG
I investigated `saveTagsAlphabetically` feature and I find that this feature has been added  in 8b4a9dd and removed by 4e80e1d. Both commits are in same PR #2314.

[2018-12-27 04:13] empeje commented on #2740
https://github.com/BoostIO/Boostnote/pull/2755

cc: @ZeroX-DG and @Rokt33r

[2018-12-27 04:16] vienai8d commented on #2699
I've created PR now.

[2018-12-27 05:00] #2699 closed

[2018-12-27 11:02] ZeroX-DG commented on #2754
The team will work on the mobile app in the future (after we finish the rewrite version of Boostnote) but we don't have the exact schedule for that.

[2018-12-27 13:26] Strongaloff opened #2757 "Maximize window behavior"
# Current behavior

I don't know if it is actually a bug or not, but maximizing the window is not remembered after closing and opening the app again.

So this:

![annotation 2018-12-27 152210](https://user-images.githubusercontent.com/44774998/50481635-533d4680-09eb-11e9-82f1-676c16a9a3a2.jpg)

transforms into this after reopening:

![annotation 2018-12-27 152253](https://user-images.githubusercon

[2018-12-27 15:11] KuangLei commented on #2757
Duplicated. #2708

[2018-12-27 17:14] iax7 commented on #286
it does, just use `command+shift+V`

[2018-12-27 18:55] chreniuc commented on #394
I also like this idea of having a web based instance running(self-hosted). This way I won't need to install boostnote on all devices.

[2018-12-27 19:14] daiyam commented on #2251
It's a problem with `codemirror` which don't like the closing ` on the new line.

The highlight in the editor show how the inline code block is detected. When in the preview, the result is fine.

![screenshot](https://user-images.githubusercontent.com/587742/50491644-a6c38a80-0a13-11e9-968b-99c8c41f47fb.png)

[2018-12-27 23:13] daiyam commented on #2754
@sowee121 you can find the releases at [BoostIO/boost-releases](https://github.com/BoostIO/boost-releases/releases)

[2018-12-28 00:14] HatterTheMadd opened #2760 "# = Massive Font Size and Bold in Note Preview"
# Current behavior
"#" bolds and increases font size in note 'preview' -- and there is no setting I can see to remove this.

# Expected behavior
There should be a setting to turn off the #,*,-, and whatever other special syntax is out there for boostnote. I don't think this language specific as any language I turn it to this happens.

# Steps to reproduce
1. Type a #
2.  Type anything after it
3.

[2018-12-28 00:16] HatterTheMadd commented on #2760
![image](https://user-images.githubusercontent.com/25492218/50498112-dd95a280-0a0b-11e9-94d9-3f42e6738936.png)

[2018-12-28 01:31] #2757 closed

[2018-12-28 02:40] HatterTheMadd commented on #2760
You mean this? I saw that, how do you change what the # does here?
![image](https://user-images.githubusercontent.com/25492218/50500523-e5f7d880-0a1f-11e9-8554-3f4ba54186ad.png)

[2018-12-28 02:58] HatterTheMadd commented on #2760
Ok, this looks like it's just *literally* editing the css on your notes. I don't want to have to do this. What if I actually want `<h1>` to show up at some point. I just want  to remove whatever tie # has to `<h1>`. There's no `# =/= <h1>` that I can tell.

![image](https://user-images.githubusercontent.com/25492218/50500871-1c365780-0a22-11e9-8618-5bb5246b37d4.png)

[2018-12-28 03:06] ZeroX-DG commented on #2760
Well, `#<space>text = <h1>text</h1>` is the markdown syntax and there's no way you can change it. If you remove the space then it will become the normal text `#text`. You can see the markdown syntax here: https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#headers

[2018-12-28 03:30] HatterTheMadd commented on #2760
man... i thought I finally found a note taking program I could stick with.. Got my hopes up this time. # is an almost universal key for 'note' in many languages. A ton of what I would need this for I need a space between the # and the text (as putting text next to it will auto-pull for other snippets I would be working on or be a key for engineers to #remove '#' to use this as a piece of code. It'

[2018-12-28 03:52] ZeroX-DG commented on #2760
@HatterTheMadd You can add the space between it. You just need to wrap it inside a codeblock like this.

![image](https://user-images.githubusercontent.com/12984316/50502008-a0262900-0a8e-11e9-880b-c6e1d1410bb9.png)

It will generate this:
[code]

[2018-12-28 05:48] #2740 closed

[2018-12-28 06:08] luckydonald commented on #1787
I think that's not supported by the markdown standard

[2018-12-28 08:14] chartotu19 opened #2763 "linux app doesnt mount storage due to invalid note"
# Current behavior
None of the Storages are mounted. Console error log shows:

![screenshot from 2018-12-28 03-09-09](https://user-images.githubusercontent.com/946174/50508019-05a5f580-0a4e-11e9-8d52-2c9a15e52967.png)
Further investigation shows a invalid note "notes/a82d153d-69b1-4781-8280-e0bfdda82924.cson" with the following content is breaking the for loop.
[code]

# Expected behavior
The stor

[2018-12-28 09:31] daiyam commented on #2763
@chartotu19 could you try the last version?

[2018-12-28 09:40] daiyam commented on #2760
@HatterTheMadd it seems that you should create snippet notes instead of markdown notes (which use the [markdown language](https://guides.github.com/features/mastering-markdown/) where `#`, `*`, `-` are keywords)

In the preferences, you can change the default type of the note (ask, markdown or snippet) and the default language of a snippet note.

[2018-12-28 10:36] jvgrootveld commented on #2645
@elfman If you are trying to add more customisable shortcuts, could you check if the shortcut still exist for exiting _Editor mode_? The [wiki - Keyboard Shortcuts](https://github.com/BoostIO/Boostnote/wiki/Keyboard-Shortcuts) describes `Ctrl + W` as _ Exit Editor mode_ but on OSX `CMD + W` is bound to _Exit Window_.

[2018-12-28 17:04] daiyam commented on #2645
To be able to customize CodeMirror shortcuts would be great.
But for that many, the keyboard shortcut manager of Visual Studio Code would be a good reference.

[2018-12-28 20:06] chartotu19 commented on #2763
nope, doesnt work with 0.11.12 as well.
I bypass this issue by deleting the note, then everything works fine (on both versions). I believe boostnote should ideally skip over the note for successful app init.

[2018-12-28 21:10] daiyam commented on #2763
@chartotu19 are you using Dropbox to synchronize your notes?

[2018-12-29 03:38] elfman commented on #2645
@jvgrootveld https://github.com/BoostIO/Boostnote/blob/master/browser/components/MarkdownEditor.js#L17
Editor only listen for `ctrl + w`, not `CMD+W`, but it seems `handleKeyDown` in `MarkdownEditor` is not invoked when I press key in the editor. That's strange. I tried on Mac OS

[2018-12-29 05:01] elfman commented on #2645
@daiyam customizing shortcuts of editor is a heavy job. There are more than 60 shortcuts in CodeMirror according to [its document](https://codemirror.net/doc/manual.html#commands).
I just want to customize the hotkeys of the menu.

[2018-12-29 06:29] tangjiabing opened #2765 "Export as PDF code block display bug"
Boostnote 0.11.12 PC.

After exporting the PDF file, if the content of markdown \`\`\`  fills two pages, the following problems will occur:  \`\`\`  the content number is not aligned, the line content at the end of the first page, and the beginning of the second page, only show half.

![qq 20181229151455](https://user-images.githubusercontent.com/8198969/50534786-de017b00-0b7c-11e9-9b37-a694805134

[2018-12-29 06:42] tangjiabing commented on #2765
用中文说一下，导出PDF文件后，如果 \`\`\` 包裹的内容单独占两页时，会出现以下问题：\`\`\` 内容的序号未对齐，第一页末尾和第二页开头的内容只显示为一半，完整内容被割裂开了。

[2018-12-30 00:53] guardrails[bot] opened #2766 "Existing security issues"
:warning: Here are the existing security issues we detected on your default branch:

<details>
<summary>Hard-Coded Secrets (1)</summary>

- [/dictionaries/de_DE/de_DE.dic:2180](https://github.com/BoostIO/Boostnote/blob/05da826c24e574cb9015ce7317e0f109f4ccc1b4/dictionaries/de_DE/de_DE.dic#L2180)

More info on how to fix Hard-Coded Secrets in [General](http://docs.guardrails.io/vulnerabilities/gener

[2018-12-30 14:55] daiyam commented on #2766
@ZeroX-DG I'm not sure about those "security" issues...

[2018-12-30 15:01] ZeroX-DG commented on #2766
@daiyam I think it's just something like eslint for security :smile: They have solutions in each issue, for example, we can fix the 3rd issue by replacing `new Buffer` to `Buffer.from`.

[2018-12-30 15:58] daiyam commented on #2766
@ZeroX-DG OK for `Buffer`.
I retook a look at the error for the RexExp but I think they are false positive. [related issue](https://github.com/substack/safe-regex/issues/12)

- for `/^(?:\w+:)?\/\/([^\s\.]+\.\S{2}|localhost[\:?\d]*)\S*$/`, the issue is due to `(?:\w+:)?`
- for `/^(.*?)(?:\s*!important)?$/`, it is for `(?:\s*!important)?`

[2018-12-30 18:59] zzxxhhzxh opened #2767 "Mark of end syntax highlight does not work properly"
# Current behavior
In 0.11.11 and 0.11.12
Mark of end syntax highlight (```) does not work properly.
And some parts of code do not show correct color.

# Expected behavior
They work all good in 0.11.10

# Environment
- Version : 0.11.12
- OS Version and name : Win10 pro 64bit Eng

![new bitmap image](https://user-images.githubusercontent.com/42593813/50550259-ace38200-0c32-11e9-9702-27bd9649db25.j

[2018-12-31 19:20] yos95 commented on #571
hello i'm going to test and give ideas for improvement, i find this feature very important

[2018-12-31 20:19] daniilborovkov commented on #571
Please write me to telegram @daniilborovkov when ready.

[2018-12-31 20:56] yos95 commented on #571
@daniilborovkov I am ready but I did not understand how to contact you

[2019-01-01 14:07] vienai8d opened #2769 "Use FullscreenButton in SnippetNote"
# Current behavior

Snippet note and Markdown note have fullscreen buttons, but those tooltip texts are different as follows.

**Tooltip text of Markdown Note**
<img width="435" alt="2019-01-01 22 07 54" src="https://user-images.githubusercontent.com/31370233/50573168-d8709300-0e11-11e9-86b7-2a3623d9e540.png">

**Tooltip text of Sinppet Note**
<img width="434" alt="2019-01-01 22 08 01" src="https:

[2019-01-02 06:00] roymuste opened #2773 "Code block syntax highlight issue of editor"
# Current behavior
See the screenshot 0.11.12: syntax highlight is not working properly in editor.

**code block syntax highlight issue in editor**

- 0.11.12 (0.11.11)
![0 11 12](https://user-images.githubusercontent.com/1933617/50581541-8b360500-0e95-11e9-96dd-06da4ddb1c3f.jpg)

- 0.11.10
![0 11 10](https://user-images.githubusercontent.com/1933617/50581542-8b360500-0e95-11e9-9e9f-3ef3be5d6528.j

[2019-01-02 15:52] bverhoeve commented on #947
@corypaik I am experiencing the same issue on macOS 10.14

[2019-01-02 16:20] chartotu19 commented on #2763
@daiyam yup, I am using Dropbox.

[2019-01-02 16:31] daiyam commented on #2763
@ZeroX-DG the issue seems to be related to this line: [boostnote-mobile/app/views/note/DropboxNoteModal.js, line 18](https://github.com/BoostIO/boostnote-mobile/blob/9cdc61725fbe41351a382215fb4737e005731a7a/app/views/note/DropboxNoteModal.js#L38)

[2019-01-02 19:20] zzxxhhzxh commented on #2773
Other language like C# also work inproperly. And I meet a bigger problem, that "```" can not end the block of syntax highlight, everthing will continue as a code part.

[2019-01-03 04:43] yappps opened #2775 "How to recover deleted folder & notes from my storage folder"
# How to recover deleted notes from my storage folder

Deleted notes in My Storage folder via here and couldnt recover the deleted note in the Trash folder

![image](https://user-images.githubusercontent.com/36840989/50623876-27731100-0f55-11e9-824c-e9948819bf8d.png)

# Environment

- Boostnote Version : Boostnote 0.11.8
- OS Version and name : macOS high Sierra v 10.13.6

[2019-01-03 15:33] ZeroX-DG commented on #2767
Thank you for reporting this issue. I think you should follow this issue here because it describes the issue better: https://github.com/BoostIO/Boostnote/issues/2773

[2019-01-03 15:33] #2767 closed

[2019-01-03 15:42] zzxxhhzxh commented on #2767
Sorry about that, my main problem is the end mark of code block (```) does not work for "End code block" in edit mode, but in preview mode, everything looks good. This happens in 0.11.11 and 0.11.12 only. I am using English windows 10 1809 and add "Simplified Chinese language package".

[2019-01-03 15:53] jfach commented on #2671
Is there any solution to this? I would love to be able to bring boostnotes to the foreground with a hotkey, but I am only able to hide it. I'm on Ubuntu 18.04 LTS.

[2019-01-03 16:02] KuangLei commented on #2775
I got this when trying to delete a folder from the main UI. It seems that deleting a folder **'can not be undone'**.
![screenshot_20190103_155823](https://user-images.githubusercontent.com/12217600/50647463-84c88b80-0f70-11e9-8b95-c0dd4ff0daf6.png)

[2019-01-03 18:34] Y0lan opened #2776 "Code is cut in pdf"
# Large ligne of code are cut when the doc is formatted in PDF

# Expected behavior
I think the line should not be cut, but instead the rest of the line that can not be shown on the screen must be shown on the next line.

# Steps to reproduce

1.  write a code inside a md page like ```c some code```

My code:
[code]

2.  export to pdf
3.  look at the code

# Environment

- Version : Boostnote 0.11

[2019-01-04 09:00] rahulpathakgit opened #2777 "Katex functions not supported"
Boostnote -  11.12
OS: Ubuntu 16.04

There are multiple Katex functions which are not supported by Boostnote.. For instance

$$\real$$, $$\reals$$ nothing works.
Error: KaTeX parse error: Expected 'EOF', got '\reals' at position 1: \̲r̲e̲a̲l̲s̲

![screenshot from 2019-01-04 14-29-34](https://user-images.githubusercontent.com/10892516/50680592-3bd70c80-102e-11e9-895b-3588541c8403.png)

[2019-01-04 10:09] ottofindichokay commented on #1550
Octave uses a MATLAB compatible syntax.
So you should be fine using octave as language for your MATLAB code snippets.

[2019-01-05 12:44] hampusfredriksson opened #2778 "Double dollar sign"
# Current behavior

Whenever I'm typing $ it prints $$,

![dollarsign](https://user-images.githubusercontent.com/42962227/50724554-c2075780-10ef-11e9-9932-82611badc46a.gif)

# Expected behavior
Single $ sign

# Steps to reproduce

1. Type dollar sign :)
2.
3.

# Environment

- Version : Latest 0.11.12
- OS Version and name : macOS 10.14.2

[2019-01-05 15:08] KuangLei commented on #2778
A pair of \$ is to add a LaTeX math expression to your markdown, so Boostnote handles \$ just like \` and \*.
To understand how \$ works, you can try to type `$v=\frac{\Delta{s}}{\Delta{t}}$` in Boostnote.
Thanks.

[2019-01-06 03:44] ZeroX-DG commented on #2778
This bug has been fixed in this PR: https://github.com/BoostIO/Boostnote/pull/2586. You can customize this behavior in the next version.

[2019-01-06 03:44] #2778 closed

[2019-01-06 18:16] kwendenarmo commented on #2723
It would be good if they were not only hierarchical notes, but also hierarchical folders. It should not be complicated to implement, since the folders are virtual.

[2019-01-07 05:15] #2644 closed

[2019-01-07 09:46] tangjiabing commented on #2765
Are you sure it's a bug? @ZeroX-DG

[2019-01-07 13:42] mateus-amarante commented on #2294
There are 2 duplicates for this request: #1716   #1109

I am also insterested in this feature!

:)

[2019-01-08 04:08] #2707 closed

[2019-01-08 04:09] Rokt33r commented on #2707
Fixed by https://github.com/BoostIO/Boostnote/pull/2759

[2019-01-08 05:16] ymm1x opened #2780 "Behavior of "Focus Search" menu"
# Current behavior

The "Focus Search" menu behaves as a toggle. If the search box is already in focus, it will be blurred.

# Expected behavior

Do not blur the search box when it is focused. I think that the menu naming of "Focus Search" will become more natural behavior by always focusing.

NOTE: Also the behavior of  `Files > Focus Note` menu is not a toggle.

# Steps to reproduce

1. Focus th

[2019-01-09 01:35] kyan001 opened #2781 "[BUG] After generating TOC, Coloring in Edit Mode are messed up."
# Current behavior
Writing some markdowns in Edit Mode including headers, and then generate Table Of Content, the coloring is not correct and folding of headers is gone.

![image](https://user-images.githubusercontent.com/3616478/50870076-89b69080-13f1-11e9-9980-4500eb81be70.png)

![image](https://user-images.githubusercontent.com/3616478/50870086-92a76200-13f1-11e9-9027-992d7ac41be1.png)

# Expec

[2019-01-09 01:43] kyan001 opened #2782 "[Feature Requested] Can Table of Content (TOC) update automatically?"
# Current behavior
Every time I changed my headers, I need update Table of Contents manually by pressing `Ctrl + Shift + T`

# Expected behavior
After the TOC is generated, I'd like to see it update itself. Because I have no reason to keep an outdated TOC which is inconsistent with my contents.

If the TOC can updated itself every time I changed a header, that would be cool. Or it can updated ever

[2019-01-09 02:30] corypaik commented on #947
Not a full fix but this may help some of you, if you export to HTML then you can save it from your web browser as a pdf. @bverhoeve

[2019-01-09 03:28] galian123 opened #2783 "Why ":storage" is not allowed to copy/paste? (boostnote 0.11.11)"
# Current behavior

I paste a image into note. and there is `"![](:storage\246c4991-7b59-44ce-8ff4-955a0328e5ec\9c6ca173.png)"`

Then, I created new folder (e.g. `images`) under this folder "246c4991-7b59-44ce-8ff4-955a0328e5ec", which is under "attachments" folder of my storage.

I want to use relative path in boostnote, so I put some images into `attachments\246c4991-7b59-44ce-8ff4-955a0328e5ec\

[2019-01-09 19:55] alexalex8 commented on #2639
Caused by
[code]

sounds like a node module issue.

[2019-01-10 02:15] jiangliux opened #2785 "export markdown"
# Current behavior

# Expected behavior

# Steps to reproduce

1.
2.
3.

# Environment

- Version :
- OS Version and name :

[2019-01-10 09:10] ZeroX-DG commented on #2785
Can you provide steps to reproduce the error?

[2019-01-10 09:12] #2729 closed

[2019-01-10 10:16] jiangliux commented on #2785
@ZeroX-DG sure, I add some detailed description.

[2019-01-10 10:17] jiangliux commented on #2785
sure, I add some detailed description.

[2019-01-10 14:45] ZeroX-DG commented on #2781
Maybe related with this? https://github.com/BoostIO/Boostnote/issues/2639

[2019-01-10 14:48] dimat commented on #2324
plantuml already supports raw dot diagrams. You can write something like:
[code]

[2019-01-10 19:08] travis23 commented on #2703
I also have problems with export not exporting anything. I am using Windows 10 with Boostnote version 0.11.12. I select the folder for export and the popup message comes up Exported to "[directory]", but when I go to  the directory it is empty.

[2019-01-11 01:00] MiloTodt opened #2789 "Single floating '1' under the 'custom css' checkbox in preferences"
# Current behavior

![image](https://user-images.githubusercontent.com/21070668/51006605-ec468400-14f8-11e9-9bff-7be268845c4a.png)

# Steps to reproduce

Scroll to the bottom of Preferences->Interface

Looks like the standard linecount counter.

# Environment

Boostnote 3.0.8
Windows 10

[2019-01-11 01:04] MiloTodt commented on #2789
On closer examination I realized that this is the start of the box in which to add custom CSS. This behavior is somewhat unusual and perhaps should be displayed differently.

[2019-01-11 02:53] MiloTodt opened #2790 "While using dark themes changing panel sizes results in a flash of white"
# Current behavior

Quickly changing panel sizes results in a flash of the white undercolor when using a dark theme.

# Expected behavior

The colour under the panel should be the same or more closely match the selected theme so as to be less noticeable.

# Steps to reproduce

![giphy.gif](https://media.giphy.com/media/9xeB7UAswMEOezn8FJ/giphy.gif)

# Environment

- Version : 3.0.8
- Windows 10

[2019-01-11 04:48] ZeroX-DG commented on #2789
Hi @MiloTodt, I'm the creator of that `custom css box`. It allows users to customize the CSS for the markdown preview and not the whole entire app. If you find this feature is unusual, what do you suggest for this feature? How should it be displayed? I welcome new ideas :smiley:

[2019-01-11 04:57] ZeroX-DG commented on #2790
Stop breaking the app, normal users don't do that, why can't you just use it like a normal user? :smile: Just kidding, thanks for reporting, I'll fix this bug asap.

[2019-01-11 05:02] MiloTodt commented on #2789
Some placeholder text for when the box is empty and not in focus such as "Add Custom CSS" may help make the purpose clear. Alternatively, perhaps making sure that the box is not the same colour as the interface theme.
 It's much more clear that the box is there and serves a purpose when they aren't the same colour, as seen below.

![image](https://user-images.githubusercontent.com/21070668/5101408

[2019-01-11 07:09] ivansharamok commented on #2727
unfortunately I didn't take a note of version that I used before upgrade :(. The scenario in which Boostnote wouldn't save changes to backing storage (i.e. GDrive) is possible but I recall restarting Boostnote a few times as I kept updating those notes over the period of 3 months or so.

It would be nice to have some sort of warning/banner that would warn a user in case Boostnote couldn't push not

[2019-01-11 07:09] #2727 closed

[2019-01-11 10:12] boulund commented on #2324
Great, I didn't know that! I stopped using Boostnote many months ago, but I really appreciate you taking the time to reply. Thank you!

[2019-01-11 10:12] #2324 closed

[2019-01-11 13:24] skittlyoaten commented on #571
I'm looking forward to this feature.  especially now that free Github accounts can use private gists/repos.

[2019-01-11 13:47] daniilborovkov commented on #571
I will complete this in week. I have problems with unit testing

[2019-01-11 21:40] MiloTodt opened #2792 "Feature request- Using github integration to use a private repo to sync notes."
Github just made it so all free users have unlimited private repos.
https://techcrunch.com/2019/01/07/github-free-users-now-get-unlimited-private-repositories/

As the target audience for this app is largely developers, they're likely to have an existing github account.

Utilizing a github private repo on the user's account may be a relatively painfree way to sync notes between devices.

[2019-01-11 22:08] MiloTodt opened #2793 ""Exporting as markdown" for a note with a broken image results in an exception"
# Current behaviour
![image](https://user-images.githubusercontent.com/21070668/51062035-350a4580-15aa-11e9-9e3e-809e39aa48d8.png)

the folder for attachments is created with a 0bit file in it, the .md is not saved.

# Expected behavior

As it is valid markdown syntax the file should save with it instead of throwing an exception and not saving. User's responsibility to provide good links of their

[2019-01-12 07:52] MostafaNorzade commented on #304
Hi. @SkYNewZ
Thanksssssssssssssssssssss .

[2019-01-12 13:09] dnegreira commented on #2607
seems fixed on 0.11.12 on 18.04

[2019-01-12 14:56] MiloTodt commented on #2763
A fix like this may help

https://github.com/BoostIO/Boostnote/pull/2794

[2019-01-12 15:16] MiloTodt commented on #2607
Was able to install and run boostnote_0.11.12_amd64.deb from official website without issue.

Was tested on a Virtual machine, fresh install, patched, Ubuntu 18.04.1 LTS

[2019-01-12 15:41] MiloTodt commented on #2760
There are many ways to escape Markdown inside of Boostnote, here are four options:

![image](https://user-images.githubusercontent.com/21070668/51075193-549e7e00-163d-11e9-95b2-bb1290870a81.png)

The only way otherwise to stop Boostnote from rendering Markdown would be to disable it entirely, which seems counter productive to the point of the app.

[2019-01-12 16:10] MiloTodt commented on #2648
[code]

Boostnote will compile and run with the modified code used in the pull request.

[2019-01-12 17:13] MiloTodt commented on #2635
This issue is caused by you having installed node through AUR and is an issue with the package manager. Your node install is in /usr/bin which requires elevated privileges on  Arch/Manjaro

Here is how to resolve it.

_remove node_
[code]

_install nvm and use it to install npm_
[code]

[2019-01-13 11:40] paolostefan opened #2799 "Unable to handle notes on removable media ("No storage mount.")"
# Current behavior

When adding a _Storage location_ from a removable media, it works **only the first time**.

When you quit the app, eject the media, and then come back to the app, the error "No storage mount." appears.

![schermata 2019-01-13 alle 12 05 31](https://user-images.githubusercontent.com/1904907/51084727-27ca9380-172f-11e9-992e-85b6f2f804b1.png)

Now, it's not possible to see any sav

[2019-01-13 15:48] ZeroX-DG commented on #2783
@ehhc Can you answer this question?

[2019-01-13 16:05] ehhc commented on #2783
The thing is, like it is implemented at the moment, the "246c4991-7b59-44ce-8ff4-955a0328e5ec" is the id (resp. "name") of your note. Attachments (not only images) are in a folder corresponding to the note they are referred in. There are several reasons for this: e.g. otherwise it would not be possible to automatically delete attachments that are not needed anymore (because they are not referrence

[2019-01-14 02:31] MiloTodt commented on #2799
Thank you for including the Developer console stack trace and a detailed report, that made it much easier to track down what was causing it.

Issue addressed here: https://github.com/BoostIO/Boostnote/pull/2801

Under current fix the app will no longer crash and become inaccessible if initializing with a missing usb drive.

Under this fix, if you start the app with your USB drive removed it will n

[2019-01-14 02:45] ZeroX-DG commented on #304
The build instruction for rpm is at the bottom of our [build guide](https://github.com/BoostIO/Boostnote/blob/master/docs/build.md). I'll suggest the dev team to also build rpm package in the next release. I'll close this issue, if there's anything else please tell me I'll re-open it.

[2019-01-14 02:45] #304 closed

[2019-01-14 02:48] abhishekbalam commented on #2635
Thanks for the solution, it works. I have just successfully installed the application. :+1:

[2019-01-14 02:55] MiloTodt commented on #2711
#2801 should fix this.

[2019-01-14 02:55] MiloTodt commented on #2635
Happy to help, thank you for confirming this solved your problem!

[2019-01-14 07:54] MilleniumBlitz opened #2803 "BoostNote is hiddden when launching on single screen"
# Current behavior

Most of the time, I'm using Boostnote on a 2 screen configuration.
But if I only use my laptop screen and launch Boostnote,he's hidden on the left of the screen. I need to shift + right click (in the taskbar) and move to see the app again.

[2019-01-14 14:44] wikispish commented on #586
+1 for subfolders, at least a few levels.  Boostnote needs this to be useful as an information repository.

[2019-01-14 15:22] wacsintegra opened #2804 "Boostnote.IO App will not dispaly after changing or adjusting resolution"
# Boostnote.IO App will not dispaly after changing or adjusting resolution

## Current behavior
When moving from docking station or adjusting screen resolution. Typically, when moving from my monitor with resolution 3840 x 1080 back to a lower resolution. This typically, corrupts boostnote.io from loading and saves my files. I have to uninstall and wipe out my appdata sub folders related to Boostn

[2019-01-14 15:24] wacsintegra commented on #2804
Additional note, display is running via mini-display port/thunderbolt on a MS Surface Pro, not sure if this would matter or not.

[2019-01-14 19:15] MiloTodt commented on #2804
May be related to issue #2803

[2019-01-14 19:33] MiloTodt commented on #2804
Sorry to say but what I linked to is not a solution. It is a person having a separate issue that may be related.

[2019-01-14 19:38] wacsintegra commented on #2804
@MiloTodt understood. In the meantime, if the issue is reproduced, should I continue down the same path of reinstall?

[2019-01-14 20:02] wacsintegra commented on #2804
@MiloTodt gotcha, well is there anything that can be provided to help narrow down a pretty broad issue like this? For instance, is there any critical files or logs I can save off or anything prior re-installing?

[2019-01-14 20:06] MiloTodt commented on #2804
@wacsintegra If you could have the developer console open
<div>
View -> Toggle developer tools -> Console (in the new pane)
</div>

and then reproduce the issue and post the output from the console that may be incredibly useful.
In particular if some sort of stack trace somes up that will look something like this:

![image](https://user-images.githubusercontent.com/21070668/51137966-c66cf800-17f4-

[2019-01-14 20:13] wacsintegra commented on #2804
@MiloTodt great information, thanks for the quick and detailed help.

[2019-01-14 20:49] MiloTodt commented on #2804
I believe the cause of this error to be related to
https://github.com/BoostIO/Boostnote/blob/master/lib/main-window.js

I think that Boostnote is trying to load a window location/size that was valid when it closed but is no longer valid when it opens, attempting to write display to a device that no longer exists.

[2019-01-14 21:18] MiloTodt commented on #2804
@wacsintegra While I'm not 100% sure of the cause, it may be worth deleting your config.json file.
It is stored in C:\Users\%Your user name%\AppData\Roaming\Boostnote\config.json
 This file stores the previous window location and size and if it is not present when Boostnote starts it will load sensible defaults.

[2019-01-15 01:09] MiloTodt commented on #2803
Your issue has been addressed in Pull request #2805
Thank you for submitting an issue report!

[2019-01-15 10:17] tonywoode commented on #382
Boostnote is amazing! From a users perspective though, i woiuld say this is more than a minor issue. Just one example: consider that, whenever i'm in reading/preview mode, reading any previous document I wrote, i want to make minor syntax corrections and other amendments. Consider the user experience of doing that when the cursor jumps back to the top of the page on every mode switch. What do you

[2019-01-15 10:53] hfredriksson opened #2806 "Copy note not showing image"
# Current behavior

When copying a note to another service it get's blank:
![image](https://user-images.githubusercontent.com/42962227/51175765-7e64d880-18bb-11e9-9f91-6ce0f82678bb.png)

# Expected behavior

When you paste the note to another service it also copys the actual image.

# Steps to reproduce

1.  have a picture/screenshot in a note
2.  copy it
3. paste in another service (I tried notio

[2019-01-15 15:41] DenisTome commented on #2373
yes, I have the same problem

[2019-01-15 16:34] itouri opened #2807 "Boostnote 0.11.12 is not responding in Ubuntu 18.04 LTS"
# Current behavior

I can't control except preference.
But I can't save the changes.

![screenshot from 2019-01-16 01-20-15](https://user-images.githubusercontent.com/10162288/51194029-907f5f00-192d-11e9-8bf5-b33f84f05dea.png)

And, I already read the issue #2167.
This issue is very similar.
But suddenly closed without comments.

- Version : 11.12
- OS Version and name ubuntu 18.04 LTS

[2019-01-15 23:07] MiloTodt commented on #2807
https://askubuntu.com/questions/842409/what-is-run-user-1000-gvfs

To help narrow this down, have you manually set a storage location on a device such as a phone in direct file access mode?

[2019-01-16 23:13] MiloTodt opened #2810 "Wakatime integration"
Wakatime, wakatime.com , is a tool for tracking how a devloper spends their time. It's useful for tracking what tasks of your day take up what portion of your time.

Having integration with wakatime would allow a developer to see how much time they spend writing reports/pull requests/ notes.

[2019-01-17 06:41] SatoshiKawabata commented on #2700
@shuntaroy  I'm going to watch the issue. Thanks.

[2019-01-17 06:41] #2700 closed

[2019-01-17 06:46] sbrow opened #2813 "dcgnvrjlb"
# Current behavior

# Expected behavior

# Steps to reproduce

1.
2.
3.

# Environment

- Version :
- OS Version and name :

[2019-01-17 06:46] #2813 closed

[2019-01-17 08:49] ZeroX-DG commented on #2806
An idea for the person who interested in implementing this issue. Maybe a smart copy shortcut for example `ctrl + shift + c` and the actual link to images will be added to the copied content.

[2019-01-17 12:39] dskopa-softdev commented on #490
Having notes stored in native markdown + frontmatter for meta is definitely a way to go!
Manual exporting as md doesn't help much for integration with other apps
We're loose nothing when switching to frontmattered markdown files for storage: yaml supports any data structures that can be used in cson

[2019-01-17 16:04] ehhc commented on #76
Has somebody of you tried the spellcheck that now exist? What do you think about it? Of course not perfect, but as a start point..?

[2019-01-17 16:15] mohamnag commented on #76
which version? is there any? I'm using 0.11.12 and can't find anything regarding this and dont see any functionality while editing.

[2019-01-17 17:47] rebeccali opened #2814 "Wordpress Authentication documentation"
# Current behavior

# Expected behavior

# Steps to reproduce

1. Make a new wordpress website like blank.wordpress.com, with username user, password pass
2. In the boostnote application, put the blog address as http:// or https://blank.wordpress.com, and auth method USER, username user, password pass.
3. Try to publish a note - this fails.

# Environment

- Version : 0.11.12
- OS Version and name

[2019-01-17 19:16] alelom opened #2815 "Exported image source path is incorrect"
# Current behavior

Images source path incorrectly placed by Boostnote. It inserts the '%5C' instead of the character '/'.
Therefore source path looks like:
`src="attachments%5C9fad04b1.PNG"`
when it should be:
`src="attachments/fad04b1.PNG"`

Result is that the HTML has broken images links:
![untitled](https://user-images.githubusercontent.com/6352844/51342525-16b1b780-1a8c-11e9-8f04-0d84a0dc8bfa

[2019-01-17 20:44] hfredriksson commented on #2806
@ZeroX-DG
I can't find any way to copy the notes + image as it is now?
I want to paste the notes including the images in another service (notion.so)

[2019-01-18 01:18] MiloTodt commented on #2815
Can confirm that this error is present on Windows 10 with the official Boostnote release.

It is not present when on the masterbranch of 0.11.13. I think this issue has been addressed and fixed in the new version.

[2019-01-18 10:38] chrnoe commented on #2708
It's a little bit annoying, everytime I start Boostnote the window is bigger than last time. The position doesnt change, but width (a little bit) and especially height.
I never use Boostnote in full-window-mode, and I would like it, if the application starts in same size I setted.
Win10 Pro 1809, 1920 x 1200 Resolution, Boostnote 0.11.12

[2019-01-18 10:45] chrnoe opened #2816 "Application window bigger after every restart"
It's a little bit annoying, everytime I start Boostnote the window is bigger than last time. The position doesnt change, but width (a little bit) and especially height.
I never use Boostnote in full-window-mode, and I would like it, if the application starts in same size I setted.
I found the closed issue["Keep resized window size"](https://github.com/BoostIO/Boostnote/issues/461), but I think the

[2019-01-18 10:58] mohamnag commented on #76
is there a way to get a low level log from application so that maybe helps with the error on saving the settings?

[2019-01-18 12:09] KarlWebster97 commented on #2816
Can confirm, app does not open maximized.

[2019-01-18 13:42] Rokt33r commented on #76
@modmod24 Did you check devtool? And which OS are you using now?

[2019-01-18 14:08] ehhc commented on #76
@Rokt33r you mean @mohamnag , don't you? :D

[2019-01-18 14:35] jara1 opened #2817 "typing in search - wrong behaviour when using numeric keypad"
# Current behavior
When I type some number VIA NUMERIC KEYPAD in search bar it does not filter my notes (to show only the one which contains the typed number).

If I use regular keyboard number keys it works as expected.

# Environment

- Version : 0.11.12
- OS Version and name : W10

[2019-01-19 01:07] brilliantcontract opened #2818 "[BUG] Application doesn't show all exist notes"
# Current behavior

Installed Boostnote verison is 0.11.2

Here is screenshot of the .cson file with note that contains word 'beep':

![image](https://user-images.githubusercontent.com/4412358/51419879-d6366480-1b85-11e9-88e0-cd638ebe6942.png)

Here is screenshot of serching 'beep' in the Boostnote:

![image](https://user-images.githubusercontent.com/4412358/51419896-f23a0600-1b85-11e9-9c9d-e951ff

[2019-01-19 01:09] brilliantcontract commented on #2818
Please, help me at least find hidden notes, so I could copy them in Boostnote again.
The thought that my notes are lost gives me real headache.

[2019-01-19 01:18] brilliantcontract commented on #2818
I have 513 .cson files in my folder with notes.
Boostnote say that I have only 190 notes and 35 deleted notes.

Does that means that Boostnote has hidden [513 - (190 + 35)] 288 notes?

[2019-01-19 02:32] ZeroX-DG commented on #2818
Can you take a picture of your storage setting? Also if you can, please provide us a picture of the `console` in devtool

[2019-01-19 02:34] ZeroX-DG commented on #2818
Also, the current latest version is 0.11.12. Please upgrade from 0.11.2 to the latest version and see if the problem fixed.

[2019-01-19 05:43] ZeroX-DG commented on #2806
@hfredriksson have you tried to paste with `ctrl + shift + v` ?

[2019-01-19 10:16] ZeroX-DG commented on #382
@tonywoode PR opened: https://github.com/BoostIO/Boostnote/pull/2819

[2019-01-19 22:34] brilliantcontract commented on #2818
Hello @ZeroX-DG, thank you for your time and help.

Boostnote has been updated to newest version 0.11.12-1

![image](https://user-images.githubusercontent.com/4412358/51433062-67ffa980-1c3a-11e9-97d1-9f8c0efefe79.png)

[2019-01-19 22:36] brilliantcontract commented on #2818
After updating I got all my notes back!

![image](https://user-images.githubusercontent.com/4412358/51433070-97161b00-1c3a-11e9-92ea-b95826fe57c2.png)

[2019-01-19 22:36] brilliantcontract commented on #2818
Thank you a lot!!

[2019-01-20 10:36] Diomas commented on #2783
As to me this automatic deletion of unused attachments is quite annoying. At least in it's current implementation. Even if I copy/paste attachment references inside the same single note, I ended up with a deleted file sometimes. So to be safe i have to copy attached files somewhere outside boostnote storage, do bunch of edits to note then close boostnote app and copy missed attached files back to

[2019-01-20 22:14] tonywoode commented on #382
thanks @ZeroX-DG! Nice work!

[2019-01-21 00:53] #2711 closed

[2019-01-21 00:53] #2799 closed

[2019-01-21 03:46] ZeroX-DG commented on #2806
Can you take a picture of your hotkey setting?

[2019-01-21 07:09] dbuskariol opened #2821 "Reloading Boostnote via the CLI"
Is it possible to perform the reload of Boostnote (cmd+r) via the CLI?

[2019-01-21 07:43] dbuskariol commented on #2821
I've just realised I can use Applescript in my bash script in lieu of a native solution:

[code]

[2019-01-21 07:43] #2821 closed

[2019-01-21 07:44] MiloTodt commented on #2821
It seems you've found the solution on your own. May I ask, what is the usecase in which you need to do this?

[2019-01-21 07:48] hfredriksson commented on #2806
Yes, here you go.

[image: image.png]

Den mån 21 jan. 2019 kl 04:46 skrev Nguyen Viet Hung <
notifications@github.com>:

--
Best,
Hampus

[2019-01-21 08:02] dbuskariol commented on #2821
@MiloTodt I’ve created a command line utility that I use with Alfred to automatically create notes based on some input variables.

Once the note is created, Boostnote needs to be reloaded for the note to show. At the end of my script I wanted to open and reload Boostnote automatically so I didn’t have to manually do it –which is what I needed this for 😁

[2019-01-21 14:03] mohamnag commented on #76
@Rokt33r the error happened to me while using boostnote on a Mac. I will report back more details when I'm back home but can't reproduce it right now on a Windows machine

[2019-01-21 23:42] tiagoboeing commented on #308
I was writing about this. Please, sync capabilities is important.
I use in home and work, in two computers is hard to have different notes in each one and not have a tool for sync.

[2019-01-22 00:32] microcreators opened #2822 "code block with langauge breaks highlighting"
# Current behavior
when a programming language is specified in a code block, the code itself gets colorized, but some markdown code highlights below get broken. for example headers, section wrappers or links. see a short presentation [here / imgur](https://imgur.com/a/w8ghWm7) and how "something else" section changes.

# Expected behavior
the code within a code block get highlighted, however any n

[2019-01-22 03:08] hevi1991 opened #2823 "a unfriendly user interaction at creating new note"
# Current behavior
The opening folder would change, when I created a new note.

# Expected behavior
The opening folder what I'm opening should not be change, when I create a new note.

# Steps to reproduce

1. open a folder
![](https://ws1.sinaimg.cn/large/006tNc79gy1fzf6eh9fu8j31d90u0qo2.jpg)
2. create a new note
![](https://ws4.sinaimg.cn/large/006tNc79gy1fzf6fa1lwmj31d90u0tdm.jpg)
3. It would r

[2019-01-22 08:31] kafka-tamura opened #2824 "ligatures not showing up"
# Current behavior

Added 'Fira Code' & Hasklig in the Editor font-family and Preview font-family. Ligature such as != OR >= not working as expected. They work fine in visual studio code, terminal, etc.

# Expected behavior

Ligatures should work as expected.

# Steps to reproduce

1. Install Boostnote on Mac Mojave
2. Install Fira Code and Hasklig on Mac Mojave
3. Goto Menu> Preferences> Interfac

[2019-01-22 09:06] Rokt33r commented on #2635
@MiloTodt Interesting that you made an empty pr to submit! haha Anyway, great job!

[2019-01-22 09:06] #2635 closed

[2019-01-22 09:08] Rokt33r commented on #2790
Fixed by #2791

[2019-01-22 09:08] #2790 closed

[2019-01-22 09:14] ZeroX-DG commented on #2824
Works fine for me?
![image](https://user-images.githubusercontent.com/12984316/51524446-a1b1f980-1e60-11e9-95ad-e12d93fbd847.png)

Here's my setting:
**Editor**
![image](https://user-images.githubusercontent.com/12984316/51524469-b1c9d900-1e60-11e9-80bb-65acd43dc587.png)

**Preview**
![image](https://user-images.githubusercontent.com/12984316/51524502-ca39f380-1e60-11e9-9464-3a3655b39c7b.png)

[2019-01-22 13:58] eullerborges opened #2825 "Ctrl-R reloads Boostnote on vim mode"
# Current behavior
In vim mode, whenever pressing `Ctrl+R` in insert mode we get a reload of the tool. I lost a full note after substituting with `Shift + V -> C` and trying to paste elsewhere with `Ctrl+R + 0`.

# Expected behavior
I would expect `Ctrl+R + <register>` to paste the result from the register just like `" + <register> + p` does in normal mode.

# Steps to reproduce

1. Yank something

[2019-01-22 15:38] kafka-tamura commented on #2824
Realized the problem. The code type was set to APL and ligatures failed to resolve for APL. When I changed to JSON or Javascript or C, the ligatures came up. Made JSON the default and now am good to go. Not sure if this is expected behavior for APL. If yes, this can be closed.

[2019-01-22 21:45] machetto opened #2826 "Text fragments in Italics lose space characters when Paste Smartly is used"
# Current behavior

When Smartly Paste is used to paste text in Italics, it loses space characters at the beginning and at the end. So for example if I copy the following text:

"Almost nobody realizes this, but _light doesn't move_. It sits at the same invariant 4D location, and mass speeds past it at c, toward future time".

it appears as follows when copy/pasted:

[code]
# Expected behavior

It