[2020-07-26 17:03] KG16 commented on #3232
I am on the latest version, still when I type ``` or paste code from internet, the screen goes blank.
![image](https://user-images.githubusercontent.com/16429717/88484939-00918b00-cf90-11ea-88a4-43e65966d11a.png)

[2020-08-02 11:14] Flexo013 commented on #3232
@KG16 Could you provide the version number? There are two Boostnote applications that work differently, so we need to know which one you are running.

[2020-08-02 11:21] Flexo013 commented on #3582
@jensmcatanho Could you provide another copy of the note?

[2020-08-02 11:24] Flexo013 commented on #1467
@BruceBenjaminThomas Please create a new issue with screenshots and version number. then we take a further look into the issue.

[2020-08-02 11:27] Flexo013 commented on #3620
Could you try restarting the application?

[2020-08-02 11:34] Flexo013 commented on #3619
Once you paste an image into Boostnote it makes a copy of the image into the storage/attachments. There are some other errors that currently exist with regards to images: #3348. It is possible you are running into those.

Are all of your images no longer working, or only a few?

[2020-08-02 11:35] JBPlinn commented on #3620
Restarted many many times. No avail. Happens every launch.

Le dim. 2 août 2020 à 13:27, Flexo013 <notifications@github.com> a écrit :

[2020-08-02 11:37] Flexo013 commented on #3578
@huzibizi You're using the new BoostNote.next app. This issue is concerning Boostnote Legacy. [Please create a new issue in the other repo.](https://github.com/BoostIO/BoostNote.next/issues)

[2020-08-02 11:47] Flexo013 commented on #3620
Tried to replicate this by changing the setting multiple times and restarting the app. But wasn't able to reproduce it.

Could you try reinstalling Boostnote? (After backing up your notes)

[2020-08-02 12:02] Flexo013 commented on #3617
Closing this issue as it pertains to BoostNote.next, and it also exists there: https://github.com/BoostIO/BoostNote.next/issues/553

[2020-08-02 12:02] #3617 closed

[2020-08-02 12:05] Flexo013 commented on #3615
Duplicate of https://github.com/BoostIO/BoostNote.next/issues/350

[2020-08-02 12:05] #3615 closed

[2020-08-02 12:05] Flexo013 commented on #3618
Issues pertains to BoostNote.next: https://github.com/BoostIO/BoostNote.next/issues/552

[2020-08-02 12:05] #3618 closed

[2020-08-02 12:06] Flexo013 commented on #3616
Issues pertains to BoostNote.next: https://github.com/BoostIO/BoostNote.next/issues/554

[2020-08-02 12:06] #3616 closed

[2020-08-02 14:11] GuoYu-Peng commented on #3619
Only a few, and I solved this problem by disable "Delete attachments, that are not referenced in the text anymore", thanks anyway.

[2020-08-02 14:37] Flexo013 commented on #3619
Glad to hear that it was fixed that way 👍

[2020-08-02 14:37] #3619 closed

[2020-08-03 06:12] Rokt33r opened #3621 "to reward https://github.com/BoostIO/Boostnote/pull/3317"
https://github.com/BoostIO/Boostnote/issues/2648 was solved by #3317 and #2612.This dummy issue is just for rewarding #3317.

[2020-08-03 06:15] #3621 closed

[2020-08-03 19:27] jensmcatanho commented on #3582
Sorry for the delay. I'm not sure if [this](https://pastebin.com/yekK5Prg) was the original note but I was able to reproduce the problem with it.

[2020-08-05 23:25] plastikhub commented on #3262
Still having this issue after drag and drop. Any updates?

[2020-08-07 09:33] Viskovitz opened #3622 "Windows installation stops at 30%"
# Current behavior

Windows installation stops at 30% aprox and does not continue.

# Expected behavior

A finished install progress and the progress bar reaching 100%.

# Steps to reproduce

1. Install from boost-note-win.exe on Windows 10.

# Environment

- Boostnote version: 0.8.2
- OS version and name: Windows 10

[2020-08-09 15:04] Flexo013 commented on #3262
@plastikhub Could you try to get the image by copy-paste instead an see if that fixes the issue?

[2020-08-09 15:28] rathod-sahaab commented on #2960
So, I have already figured out how to code this. But I need some opinions on specific UX of this feature.

When should the dialog pop up
  1. **Immediately** i.e. as soon as multiple items are selected
  2.  An option should be added to toggle up the dialog

**Should we show preview of the files?**
Currently, only the preview of most recent selection is shown shown. By preview I mean the file is s

[2020-08-09 15:38] aakbar5 commented on #2960
@rathod-sahaab, in my opinion preview should show list or thumbnail of the selected notes instead of any note preview.

[2020-08-09 16:15] Flexo013 commented on #2960
@rathod-sahaab I would definitely go for option 1. As for previewing the notes, the highlighted titles on the side should be sufficient. For a v1 we could do without the preview, and then add the preview later on.

[2020-08-10 06:23] rathod-sahaab commented on #2960
Thank you @aakbar5 and @Flexo013, I will send the PR soon, currently I am busy with my GSoC projects so will do it on side.

[2020-08-10 14:26] whophil opened #3623 "GitHub Oauth returning 500 "Internal Server Error" when authenticating"
# Current behavior
When I try to create a new cloud storage (via the Boostnote Web App), it takes me to the GitHub Oauth login screen. After providing my username and password, it brings me back to a screen that just says "Internal Server Error." It works when I try to log in to a different user GitHub account - there just seems to be a problem with authenticating that specific account. I have tri

[2020-08-10 20:14] Flexo013 commented on #3623
@Rokt33r has more knowledge about these issues. I recommend you contact him on our Slack. That way you can get back on your way 😄

[2020-08-10 20:19] #2653 closed

[2020-08-10 20:20] #3552 closed

[2020-08-10 20:22] Flexo013 commented on #3270
Bump.

If nobody can help with further pinning down this issue, then we have no other option than to close this issue until more info is provided.

[2020-08-11 13:45] JBPlinn commented on #3620
un-install and reinstall.
Same issue. Table editor is still smart...
(note that reinstalling get me back all my setting and all my notes).

[2020-08-12 12:35] rathod-sahaab commented on #2960
@aakbar5 what are functions of buttons in second row of your mock-up? I can only understand delete

[2020-08-12 17:47] mrronchi commented on #3535
I'm experiencing the same problem with the package installed from https://aur.archlinux.org/packages/boostnote/.
My system:

`Linux archlinux 5.4.55-1-lts #1 SMP Fri, 31 Jul 2020 17:38:35 +0000 x86_64 GNU/Linux`
Using KDE plasma  5.19.4

[2020-08-13 08:26] aakbar5 commented on #2960
@rathod-sahaab I think icons should be (1) Move to trash (2) Permanently delete (3) Publish (4) Export to pdf or .md files

[2020-08-13 16:06] wilhelmbecker commented on #3234
This may not be a proper implemented feature. But you can allow dangerous HTML tags as described in the FAQ:
https://github.com/BoostIO/Boostnote/blob/master/FAQ.md#frequently-asked-questions

Then you can use
[code]
as a page-break. Works for me on KDE and print File. I assume this will work for PDF export too (cannot confirm this due #3372)

[2020-08-16 04:25] mlnck commented on #3620
I can confirm it happening on a mac as well

BoostNote Version: Version 0.16.0 (0.16.0)
Mac Catalina 10.15.4

[2020-08-17 18:19] Flexo013 commented on #3535
You can try to edit the `boostnote.json` to remove your extra folders.

[2020-08-18 07:55] jaques-sam commented on #176
This has been closed 2 years ago, but I can't find any reference in the docs about how to use find or/and replace: https://github.com/BoostIO/Boostnote/wiki/Keyboard-Shortcuts. So how do I easily replace words??

[2020-08-18 08:13] pokerFace233 opened #3624 "Incorrect rendering using Parallel in FlowChart"
# Current behavior

console：
![image](https://user-images.githubusercontent.com/20497455/90487319-e2711200-e16c-11ea-9b42-d922431680ee.png)

I used the following code to draw the flowchart, but there was a problem with the rendering
[code]
![image](https://user-images.githubusercontent.com/20497455/90487747-7642de00-e16d-11ea-86c9-42a8f81ee979.png)

The correct flow chart should look like this.
![

[2020-08-18 17:13] Flexo013 commented on #176
As listed in the first post of this issue the shortcut is Ctrl+H when the editor is selected. I have updated the wiki page to reflect this.

[2020-08-19 08:56] juliankoehn commented on #2931
Error before:

![current_state](https://user-images.githubusercontent.com/3044061/90614160-983e6e00-e20a-11ea-86d8-e52a8e72ad76.png)

Error after:
![Screen Shot 2020-08-19 at 10 55 55](https://user-images.githubusercontent.com/3044061/90614166-9a083180-e20a-11ea-8955-2061d14a78f3.png)

opening PR in a few minutes

[2020-08-19 11:28] ringoma commented on #3262
For a quick solution is to "Print" then "Save as PDF" if you have any drag & drop images which you don't want to organize them all again.

[2020-08-20 07:52] pokerFace233 opened #3626 "Code block topic loading exception"
A topic loading exception occurs whenever a block of code is not written in a header.
![image](https://user-images.githubusercontent.com/20497455/90731961-f64b7e00-e2fc-11ea-9376-a2fa9b9b59bc.png)

rendering:
![image](https://user-images.githubusercontent.com/20497455/90732009-082d2100-e2fd-11ea-8049-4f7ec3abf4c3.png)

- Boostnote version: 0.15.1
- OS version and name: mac

[2020-08-20 20:11] infophile commented on #3262
I'm using Boostnote 0.16.0 and the problem remains.

To fix it I had :

1. **First** to uncheck in the _Preferences/Interface_ the option **"Delete attachments, that are not referenced in the text anymore"**
2. Then to replace ":storage" by the full path of the images located in the _/path-to-your/Boostnote/attachments/_ folder.

Without the first step, as soon as I renamed the path, Boostnote was

[2020-08-21 02:36] b-rhodes commented on #2196
@Flexo013 that sounds good. That way when someone "finishes" a note, they can have it permanently show as the preview, and be uneditable (unless they untick the lock).

[2020-08-24 00:22] mrronchi commented on #3535
@Flexo013 - Thanks for your reply. I am not trying to remove extra folders, I'm trying to unlink the storage. The file `boostnot.json` is actually empty, and even if I remove it entirely every time I relaunch boostnote it gets recreated along with an empty folder `notes`. Any suggestion?

[2020-08-25 13:29] int-a opened #3627 "Can I import notes from an old version to the latest version of BoostNote?"
I was running version 0.16.0 on my old laptop (was never prompted to update) and now I've installed the newest version on my new laptop. I tried just migrating my boostnote folder containing my boostnote.json file and notes folder to the new version but now BoostNote will not load. It appears that the boostnote.json file of the new version is in a different format than the old one. Is there any wa

[2020-08-27 09:31] pottieral commented on #2803
Same issue here on windows.

[2020-08-28 05:14] guruathwal opened #3628 "No horizontal scroll bar in editor when wrap line is OFF in windows version"
# Current behavior
In the windows version, The horizontal scroll bar in the editor is not visible if long lines are added with wrap lines off

# Expected behavior

The horizontal scroll bar should be visible if the editor has a longer line with the wrap lines turned off.

# Steps to reproduce
1.  turn off wrap line.

2.  add a long line without line break like this one:
`Lorem Ipsum is simply dumm

[2020-08-28 16:36] Hint787Jkk opened #3629 "Bug drag file to Mardown file"
# Current behavior

I create a snippet (not markdown snippet). There you can also create say >>test.md<< it recogrdnise recognise its a markdown snippet and the preview is also generated and it works also just like the markdown snippet.
When i attach a file say *.jpg file to this test.md snippet it does not work nothing gets attached.
If i rename >>>test.md<< to >>test.yml<< i can attach jpg file

[2020-08-29 11:23] rathod-sahaab commented on #2960
Instead of a text box where we enter tag name to remove I plan on reusing something like this, where new tag will be added to all, selected and every unique tag from the selection will be shown

![tag_add_remove](https://user-images.githubusercontent.com/31929374/91635687-0a3b6200-ea18-11ea-8feb-037115d61fe7.png)

[2020-08-31 15:30] daeh commented on #236
I've started using [Joplin](https://joplinapp.org/) because it has WYSIWYG in addition to source/preview split-panes, and is end-to-end encrypted. It seems like a great project.

[2020-09-02 03:51] HSQCoollaughing opened #3630 "能否新增批量导出和导入的功能"
# Current behavior

# Expected behavior

# Steps to reproduce

1.
2.
3.

# Environment

- Boostnote version:
- OS version and name:

Can you add bulk export and import functions

[2020-09-03 20:17] #2202 closed

[2020-09-03 21:07] mrronchi commented on #3535
@Flexo013  - Any updates on this? Thanks for your time.

[2020-09-04 02:22] ire4ever1190 opened #3631 "Nim Syntax"
# Current behavior

cannot use nim in code block

# Expected behavior
[code]
should have the highlighting for nim

1.  open a note
2.  write code block for nim

# Environment

- Boostnote version: 0.4.1
- OS version and name: Android Oreo

[2020-09-04 21:11] Flexo013 commented on #3631
We use CodeMirror for syntax highlighting. To support this we would need to add a new mode as suggested here:
https://github.com/codemirror/CodeMirror/issues/6165

[2020-09-04 21:47] Flexo013 commented on #3535
I'm going to have to look a little deeper into this. I don't know if you can manually edit the storages somewhere (like you can with folders).

The root cause of this problem is somehow that the path within Manjaro is handled differently.

[2020-09-04 22:05] Flexo013 commented on #3630
Batch export already exists, both for folders and storages.

Importing a group of files also works through the top menu, File - Import from - Plain Text.

Please also provide the version number when requesting a feature.

[2020-09-05 01:55] ShangxuanWu commented on #3597
Same here. I am on Mac10.15 and Boostnote 0.16.1. This issue has been bothering me for some long time.

[2020-09-05 01:55] ShangxuanWu commented on #3251
Same here. I am on Mac10.15 and Boostnote 0.16.1. This issue has been bothering me for some long time.

[2020-09-05 01:55] ShangxuanWu commented on #3089
Same here. I am on Mac10.15 and Boostnote 0.16.1. This issue has been bothering me for some long time.

[2020-09-07 05:54] yuan-yao-rft opened #3634 "Sort snippets by languages"
It would be nice to have the ability to sort snippets by languages.

[2020-09-07 06:12] Flexo013 commented on #3597
Duplicate of #3251

[2020-09-07 06:12] #3597 closed

[2020-09-07 13:34] JBPlinn commented on #3620
Still got the issue on v0.16.1

[2020-09-07 21:37] chayac opened #3635 "Admonitions and diagrams not rendering in 0.9.0 (Windows 10)"
# Current behavior

I am trying to render [this file](https://raw.githubusercontent.com/TobseF/boostnote-markdown-cheatsheet/master/BOOSTNOTE_MARKDOWN_CHEAT_SHEET.md) as a note, and many things are not rendering, including admonitions and charts. I've tried using examples from the Mermaid docs as well and haven't been able to get them to render. I've tried both regular paste and shift-paste, as we

[2020-09-10 02:49] javadevelopment4 commented on #3205
Is above search issues are in any roadmap ? When all the above search will be included, any idea?

[2020-09-10 12:12] ReneHamburger1993 opened #3638 "error loading database after errorneous written database file `boostnote.json`"
# Current behavior

opening the program
does not load the database since in **developer tools** it
complains about error in json file `boostnote.json` at certain line number.

there is written e.g.:
`}}}table":`

# Expected behavior
loading the database properly after
 changing those into
`},"table":`

# Steps to reproduce

not yet sure.
sometimes when closing boostnote
and reopening it withing 5

[2020-09-10 15:11] ReneHamburger1993 commented on #3638
it happend again

* created a new tag
* the tag did not show up in the tag list on the left even after a few seconds
* used `View->Reload`

* same issue again
the new tag was append wrongly to the `boostnote.json` file

[2020-09-11 19:45] Flexo013 commented on #3629
Is there a specific reason you are you are using snippet notes instead of markdown notes? Also could you try if this exact behavior also breaks with a markdown note?

[2020-09-11 23:01] andreas93j commented on #3097
I totally agree with you. That would be a killer feature!

[2020-09-13 10:01] Flexo013 commented on #3635
Duplicate of https://github.com/BoostIO/BoostNote.next/issues/474

(and wrong repo)

[2020-09-13 10:01] #3635 closed

[2020-09-13 10:08] Flexo013 commented on #3628
As a work-around for now you can scroll the code block by selecting the text.

[2020-09-13 10:14] Flexo013 commented on #3205
@javadevelopment4 The functionality is already in the app. Just the arrows aren't.

[2020-09-13 10:34] Flexo013 commented on #3627
Migrating from Boostnote Legacy to BoostNote.next is possible with import featurre in 0.9.0.

[2020-09-13 10:34] #3627 closed

[2020-09-13 13:30] guruathwal commented on #3628
Yes, doing the same but some times it is hard to identify the longer lines.

[2020-09-13 16:04] Hint787Jkk commented on #3629
I like this app its great and i like to use it every day.
The are three reasons why i would exepct to attach imagaes by drag and drop to a "snippet file"
-  its just possible to create multiple *.md files ( or other type of files) within a snippet which is really great. So if i create say a test.md file within a snippet i wold expect that i can also drag and drop a *.png oder *.jpg file there.
- W

[2020-09-14 13:03] chloechen8 opened #3640 "Cannot find Dropbox Syncing on the Ipad Version"
I download iPad version on the apple store.

In this version, I find cloud storage but I cannot find Dropbox Syncing.

Like in the screenshot, when I try to open the menu, I just find the folder in this place.
I found the ios helper website before, in that website, ios provide Dropbox.

Could you help with Ipad Version?

And I found the sign-in option, I am not sure where can I sync the Boostnote

[2020-09-15 13:26] ArmandPhilippot commented on #3270
Same problem here.

  Kernel: 5.4.64-1-MANJARO x86_64 bits: 64 compiler: gcc v: 10.2.0
  Desktop: Xfce 4.14.2 Distro: Manjaro Linux

![boostnote-bug](https://user-images.githubusercontent.com/59021693/93215962-649e2780-f767-11ea-8c52-4e5dbeb13d0c.jpg)

The same problem exists with the folders. Right clicking then "Delete folder" does not delete the folders. The only way to delete a folder is to go

[2020-09-15 19:38] rathod-sahaab commented on #2960
![image](https://user-images.githubusercontent.com/31929374/93256371-e2d6ea00-f7b8-11ea-9a43-5ebcdcb04fb8.png)
I updated designs a bit for export options shown as different icons, let me know if it's fine, some icons are missing I'll add them soon

[2020-09-20 00:43] loftusa opened #3641 "LaTeX not exporting to PDF properly"
# Current behavior

LaTeX math works fine within boostnote, but then upon exporting to a pdf all the LaTeX gets broken.

[within boostnote](https://www.dropbox.com/s/2tj6ou4e6c027dp/Screen%20Shot%202020-09-19%20at%205.39.52%20PM.png?dl=0)
[exported version](https://github.com/loftusa/graspy-personal/blob/master/notes/Out-of-sample-Extension-tang2013.pdf)

# Expected behavior

the PDF contains rend

[2020-09-22 19:14] Purukitto commented on #125
Can I work on this?

[2020-09-23 05:03] Sylk commented on #3640
Gonna have to ask for a follow up on this.

[2020-09-23 05:12] Sylk opened #3643 "Error while adding DropBox File Storage"
I'm attempting to add a new file storage that looks like so.

Storage Name: Dropbox
Location: /Users/sylk/Dropbox

And I'm getting the following error: ```TypeError: Cannot read property '/' of undefined```

[2020-09-23 09:27] fabiopedrosa commented on #3095
@Flexo013 was this option removed?

[2020-09-23 23:59] Dynatrace-Adam-Gardner opened #3644 "Wide tables trimmed during PDF export"
# Current behavior

Wide tables, exported as PDF, are truncated rather than being resized to fit the PDF width.

Therefore I'm missing columns.

# Expected behavior

The table should be dynamically resized to the PDF page width.

# Steps to reproduce

Create a very wide table then export as PDF:

[code]
# Environment

- Boostnote version: 0.16.1
- OS version and name: Windows 10

[2020-09-24 19:47] skystack commented on #41
Where does one find the Note IDs in Boostnote?

[2020-09-24 22:18] Flexo013 commented on #41
@skystack You can find that by clicking the Info button in the top right:
![image](https://user-images.githubusercontent.com/4507015/94205924-8e242500-fec4-11ea-95ee-779662f7f8d7.png)

[2020-09-25 17:49] KonradLinkowski commented on #2825
The easiest option to fix this I see is to change reload to `ctrl` + `shift` + `r`, because disabling this functionality for vim mode doesn't seem like the best option.
@Rokt33r what do you think?

[2020-09-28 19:43] Flexo013 commented on #125
@Purukitto Yes you can, it's also worth checking out the current PR #3288 and see if there's anything that can be improved for that implementation.

[2020-09-28 20:38] Flexo013 commented on #3095
@fabiopedrosa Nope, it's still exists in Boostnote Legacy. It does not exist in BoostNote.next

[2020-09-28 20:50] Flexo013 commented on #3640
The mobile version does not support Dropbox syncing. Only native cloud syncing is an option.

[2020-09-28 20:50] #3640 closed

[2020-09-29 14:46] sceptiq commented on #3640
is this for now or will third party sync stuff be available in the future?

Because I remember this has been asked in the KS campaign and the answer was DAV/third party storage/sync will be supported.

[2020-09-29 15:55] Sylk commented on #3643
I'd like some help here? Did you discontinue 3rd party syncing so you could just plug your own cloud.

[2020-09-29 15:56] Sylk commented on #3640
https://github.com/BoostIO/Boostnote/issues/3643

Seems third party syncing is not a concern.

[2020-09-29 17:44] yashshah1 commented on #3119
Is this still up for grabs?

[2020-09-29 19:44] Flexo013 commented on #3119
@yashshah1 Yes it is! :D

[2020-09-29 20:01] Flexo013 commented on #3629
I see, I see.

Many of your problems feel like they would also be solved by having some extra structuring in regular markdown notes, something like subfolders. Allowing you to group related files easier.

Maybe that would be a good in between (and remove the need for snippet notes, because both would be functionally the same).

[2020-09-29 20:08] Flexo013 commented on #3641
Could you try exporting again without line 160, because it seems to contain some character that isn't handled properly?

[2020-09-30 08:57] sergboec commented on #2906
Any updates on this?

[2020-10-01 07:40] astissier opened #3647 "Lost storage location at start up : lost all notes"
# Current behavior

This morning, at the opening of boostnote, I was asked to create a new storage instead of opening the current storage.
I normally have a very large number of notes taken on boostnote.
But now, I no longer have access to any of my notes.

# Questions

How can I retrieve my notes?

And more general question: where are the notes initially stored?

Thanks

# Environment

- Boostnot

[2020-10-01 10:51] Graunephar commented on #3430
+1 for a web clipper

[2020-10-02 14:50] BhupeshRohilla commented on #3348
I have faced the similar issue.
I created around 3-4 notes and pasted/drag-and-dropped images in them. Then I check them again and saw images were not loading. I went into the folder and indeed images were not there.
Then I left the folder open and pasted 2nd image in the note and I saw the previous file got deleted.
Here is the screenshot of dev-tools which logs the deletion of the file along wit

[2020-10-03 20:12] incace opened #3648 "Dracula Theme - Default Tag Color Issue"
# Current behavior
When the Dracula interface theme is selected, any default tag color (not customized) is borderline unreadable. The default color is "Electric Blue" with white text on top of it.

See screenshot:
![image](https://user-images.githubusercontent.com/61343/95000920-554e1500-0582-11eb-942d-5e9a61e9200e.png)

# Expected behavior
Readable default tag colors. If you look at how the other

[2020-10-04 13:46] Flexo013 commented on #2906
There's a PR to continue to work on: https://github.com/BoostIO/Boostnote/pull/3335

[2020-10-04 14:07] Flexo013 commented on #3647
There are multiple lastest versions. Please provide your version number as found on the About page.

[2020-10-04 14:09] Flexo013 commented on #3430
@Graunephar Please add a 👍 reaction to the first post in this issue. That will help when searching through the popular issues.

[2020-10-04 14:16] Flexo013 commented on #3648
Yeah, this needs tweaking.

[2020-10-05 07:16] oyeyipowale opened #3650 "Development version polutes and uses users file storage"
# Current behavior
Wanting to contribute a fix for project, after setup, i did `yarn run dev` which brings up boostnote dev version app, my notes and the start up welcome note and snippet was shown in there and then another start up welcome note and snippet was included. My install version of boostnote reflects this notes addition and stopping the dev boostnote didn't clean them up.

This is now i

[2020-10-05 07:18] oyeyipowale commented on #3644
hey @Flexo013, boostnote user here. I would like to get my hands on this, if available.

[2020-10-05 07:21] astissier commented on #3647
I have modified my post to add the version number : I use the 0.8.2 version
Thanks

[2020-10-05 15:19] Hint787Jkk commented on #3629
well i do not want to miss the opportunity to make snippet notes. Why not just making a note without the choosing (snippet or makrdown file) you create just a note and then in the second step you define the filetype by the file suffix test.md for markdown file test.php for php snippet.

I would leave it just like it realized now to have the opportunity to add multiple files to a note (to make subf

[2020-10-06 11:22] file098 commented on #3641
I currently have the same problem, the only workaround that I found was to export the note in HTML, open it in the browser and save the page as PDF.
Boostnote Legacy 0.16.1
OS version and name: OS X Catalina

[2020-10-06 17:03] Flexo013 commented on #3644
Looking forward to a PR for this! 😄

[2020-10-06 17:10] Flexo013 commented on #3641
@file098 Please provide a screenshot with dev tools open, like the above post.

[2020-10-07 01:04] skystack commented on #41
@Flexo013
Thank you for the quick response. Unfortunately, I am still having trouble finding the "info button"
Below is a screenshot of my entire boostnote window and I do not see the symbol you shared anywhere.
![Boostnote ID Photo](https://user-images.githubusercontent.com/47925281/95275660-213f5200-0817-11eb-8032-339aa533c4e4.png)

Any help is appreciated! Thank you.

[2020-10-07 11:03] andreas93j opened #3651 "Question - How to use the Preferences/Snippet Manager?"
Hi folks,
I stumbled upon the snippet manager in the settings menue and checked out the code how to use it.
As far as I understand the syntax is `:{lorem}` - Ref: https://github.com/BoostIO/Boostnote/blob/8958e67fcf21009c5bd894df6688c0342fa48cd2/browser/lib/SnippetManager.js#L46

If I enter that in the boostnote editor nothing happens.
Expected behavior: paste code on this position

What am I doin

[2020-10-11 18:23] Flexo013 commented on #41
@skystack You are using [Boost Note.next](https://github.com/BoostIO/BoostNote.next), not Boostnote Legacy. The linking feature is currently only available on Boostnote Legacy.

The feature is request in the new app here: https://github.com/BoostIO/BoostNote.next/issues/313

[2020-10-14 03:21] victorbrca commented on #3270
I guess there are two different issues being reported here. One is for not being able to delete notes, and another for not being able to delete the folders. I have both issues... And _I use Arch btw_

I don't get any errors on dev tools nor the terminal. I'm happy to help with more info if you need it.

![](https://i.imgur.com/zc3c2Nz.png)

[code]

Installed via AUR
[code]

[code]

[2020-10-14 19:07] rpavantica opened #3652 "Mac to PC local storage issue."
# Current behavior

Trying to Transfer Notes from Mac to PC getting this error

`TypeError: Cannot destructure property `mime` of 'undefined' or 'null'. boostnotes`

# Expected behavior

Import success

# Steps to reproduce

1. Set Local Storage
2. Name Folder
3. error

# Environment

Windows 10 / OSX

[2020-10-14 22:49] skystack commented on #41
Ahh Thank you!

[2020-10-15 18:03] eccelm commented on #1755
I tihnk my files were Local - I ran the localStorage.clear()
Does this mean my notes are completely lost

[2020-10-17 16:56] victorbrca opened #3654 "Breadcrumbs Navigation [feature request]"
# Current behavior

When you search your notes for a keyword, the article is found, but there's no easy way to go into the folder for that note.

![](https://i.ibb.co/bNs8zb8/boost-breadcrumbs.gif)

# Expected behavior

It would be nice to have a breadcrumbs type of navigation to easily move around search results.

# Environment

- Boostnote version: 0.16.1
- OS version and name: Arch Linux

[2020-10-19 16:46] GentileFulvio commented on #2953
I'd like to give this a try! If I understand correctly we want this to work on `Desktop`. We should be able to select multiple notes and extract them into one `pdf` ?

[2020-10-19 17:02] GentileFulvio commented on #2953
Im having issues with running the project. It's trying to unzip a file which isn't recognized as a zip file on my device.

OS: `Ubuntu 18.04`

[2020-10-19 17:02] GentileFulvio commented on #2953
[code]

[2020-10-19 21:24] antysocl opened #3655 "Infinite loading"
# Current behavior

Boostnote v0.16.1 won't load in Gnome 3.38.1.  Every time I attempt to open it -- either from the launcher or terminal -- it never progresses past the loading screen.  The output from `journalctl` results in the following:

[code]

# Environment

- Boostnote version: 0.16.1
- OS version and name: Arch Linux, Gnome Shell 3.38.1

![image](https://user-images.githubusercontent.com

[2020-10-21 02:11] jsmwoolf commented on #1434
This feature is already supported.  Unless there's something else to this task, I think this can be closed.

[2020-10-21 19:11] jcarr98 opened #3656 "Infinite Loading 0.9"
# Current behavior

Stuck in infinite loading screen
<img width="1312" alt="Screen Shot 2020-10-21 at 3 08 45 PM" src="https://user-images.githubusercontent.com/33735493/96771223-61720900-13af-11eb-9cb7-440d2625cb1b.png">

With dev tools:
<img width="1312" alt="Screen Shot 2020-10-21 at 3 08 54 PM" src="https://user-images.githubusercontent.com/33735493/96771269-6e8ef800-13af-11eb-890d-720bc373fd5

[2020-10-21 19:16] jcarr98 commented on #3656
In the dev tools I saw that it was still using the storage in Dropbox, but I was able to delete it. Now I can get into the "Create Storage" page. I moved the storage out of Dropbox and into my documents, but I'm still getting the same error.
<img width="1312" alt="Screen Shot 2020-10-21 at 3 15 13 PM" src="https://user-images.githubusercontent.com/33735493/96771883-4f449a80-13b0-11eb-851d-c154d7cc

[2020-10-21 23:15] victorbrca commented on #3655
Same issue on Arch with KDE Plasma. I cannot open the editor, and that's a big problem.

[2020-10-22 17:32] Flexo013 commented on #1434
You can indeed already use OneDrive (or other cloud services) with the local files.

This ticket is mostly about adding in OneDrive support natively. Although maybe this is no longer needed.

[2020-10-24 03:52] rwperrott opened #3657 "Parse HTML pasted text to Markdown"
.. and easily recognised equivalents, like in css.

# Current behavior

## When I paste html, like:
HTML:
[code]
## It gets pasted as:
MD:
[code]

This is obviously harder to read than the original HTML.

# Expected behavior

## Like this:
MD:
[code]

As with normal word spacing, a space prefix is not necessary at the start of a line, and a space suffix is not necessary before delimiter characters

[2020-10-24 11:21] Flexo013 commented on #2953
@GentileFulvio For issue with running the dev environment I suggest hopping on Slack to get help faster.

As for this specific issue, I could see an argument for either combining notes into a single pdf and printing that or just printing multiple pdfs, once for each note.

[2020-10-24 11:26] Flexo013 commented on #1755
@eccelm I'm not entirely sure as to what that function does, but I suspect that you indeed cleared all your local storages... :(

[2020-10-24 11:38] Flexo013 commented on #3652
It's not quite clear what you are trying to achieve.

What version of Boostnote are you using on either machines? And are you trying to have the notes synchronized between two devices, or are you just trying to migrate the notes from one machine to the other.

[2020-10-24 11:58] Flexo013 commented on #3270
Something about the file paths on ArchLinux is causing this difference. If that is handled, then both issues will probably be resolved.

[2020-10-25 09:59] clone1612 commented on #3655
Arch package maintainer here. I've updated the package with a patch for Electron 10 compatibility. Feel free to let me know if you continue to experience any issues.

[2020-10-25 10:34] igorer88 commented on #1386
I have time to work on a Ts version, is there anything yet?
@foxmask how about WebSickets?

[2020-10-25 12:16] foxmask commented on #1386
sorry, that was 2 years ago, now I made many others things. :-)

[2020-10-25 15:57] antysocl commented on #3655
@clone1612 That fixed it.  Thanks!

[2020-10-25 15:57] #3655 closed

[2020-10-25 23:06] vishalnarwal99 opened #3658 "Cannot Update or Delete Storage from Cloud"

[2020-10-25 23:26] #3658 closed

[2020-10-25 23:27] vishalnarwal99 commented on #3658
this was supposed to be on boostnote.next

[2020-10-26 22:19] Pvanduyse commented on #76
Any updates? From the comments, it looks like there was some form of functionality at some point, but I'm not seeing anything in the preferences at the moment. Possibly one of the features that has yet to be ported into the new version?

[2020-10-27 07:00] mohamnag commented on #76
I moved to MarkText, way better, way more functionality (including spell checking) and no forcing towards making profit out of it.

[2020-10-27 07:52] ehhc commented on #76
@Pvanduyse If you're using boostnote (and not the new boostnote next - i don't know anything about that), you have to enable teh spellcheck in preferences:  Preferences > Editor > Enable spellcheck - Experimental feature!! :)

After that there is a dropdown to select a language below the writting window

[2020-10-27 11:18] riskysciolism opened #3659 "Can't install under Pop!_OS 20.10 (Ubuntu) | Missing dependency gvfs-bin"
# Behavior
After upgrading my PopOS to version 20.10:
When I try to install Boost Note v0.16.1 I get the following error:

_The following packages have unmet dependecies:
boostnote: Depends on: gvfs-bin but is not installable_

As I found out:
gvfs-bin is discontiued and not part of the newest ubuntu version.

# Expected behavior
I expect the install manager Eddy to install Boost Note.

# Steps to

[2020-10-27 11:19] riskysciolism opened #3660 "Cant't install under Pop!_OS 20.10 (Ubuntu) Missing gvfs-bin"
# Behavior
After upgrading my PopOS to version 20.10:
When I try to install Boost Note v0.16.1 I get the following error:

_The following packages have unmet dependecies:
boostnote: Depends on: gvfs-bin but is not installable_

As I found out:
gvfs-bin is discontiued and not part of the newest ubuntu version.

# Expected behavior
I expect the install manager Eddy to install Boost Note.

# Steps to

[2020-10-27 11:20] #3660 closed

[2020-10-27 20:25] newtoniumx3 commented on #1685
I am having the same issue on Windows 10 Pro with Boostnote 0.16.1 and I'm running on a monster powerful desktop with a CPU almost idle

[2020-10-27 20:45] arcturus140 commented on #76
I think this was disabled only to see if there where any performance issues. Perhaps default setting could be reconsidered. Many applications enable spell check per default.

[2020-10-28 02:13] yulibu commented on #3659
I solve this issue by using this method

sudo apt install libsecret-1-dev gconf2 python2 python-is-python2
sudo dpkg --ignore-depends=gvfs-bin -i boostnote_0.15.1_amd64.deb

Hope this can solve your issue

[2020-10-28 02:13] yulibu commented on #3659
I solve this issue by using this method

sudo apt install libsecret-1-dev gconf2 python2 python-is-python2
sudo dpkg --ignore-depends=gvfs-bin -i boostnote_0.15.1_amd64.deb

Hope this can solve your issue

[2020-10-29 04:17] ZeroX-DG commented on #3651
@andreas93j You can check out the PR for this feature. I have included a lot of images to show you how to use it. Sorry for the late response.
https://github.com/BoostIO/Boostnote/pull/1848

[2020-10-29 09:34] riskysciolism commented on #3659
Thanks @yulibu.
I will try your fix, but this can't be the solution.
I don't really want to change my default python version and guess the dependency to a deprecated package just needs to be resolved. Atom seemed to have had the same issue.

[2020-10-29 10:44] yulibu commented on #3659
If that case just try to use sudo dpkg --ignore-depends=gvfs-bin -i boostnote_0.15.1_amd64.deb

hope it's working for you because gvfs-bin replaced with gfvs

[2020-10-29 15:11] otaj commented on #3270
The difference is simple. There are two packages available, that provide this app on AUR (Arch User Repository)

* https://aur.archlinux.org/packages/boostnote-bin/
  * Binary version, based on debian build, pretty much repackaged debian archive
* https://aur.archlinux.org/packages/boostnote/
  * Built from source, with couple patches (such as removing analytics, etc), using system electron

The p

[2020-10-29 15:41] victorbrca commented on #3270
I don't know if this is something that @clone1612 would be able to help with. He's the maintainer for package in AUR.

[2020-10-30 18:40] clone1612 commented on #3270
I suspect it might be related to the difference in Electron version being used (as otaj mentioned the regular boostnote package uses the system version). I’ll try to look into it this weekend.

[2020-10-30 19:39] victorbrca commented on #3270
It looks like it's actually using Electron 4:

[code]

I tried to build electron4 on my other machine so I could compare/test but it keeps failing.

[2020-10-31 09:07] clone1612 commented on #3270
I've updated the package build from source (i.e. https://aur.archlinux.org/packages/boostnote/) to now use Electron 4.

Tested delete/restore and the electron downgrade seems to resolve the issues, please update the package (latest version is ```boostnote 0.16.1-4```) and let me know if that also fixes the issues on your end.

[2020-10-31 10:14] ArmandPhilippot commented on #3270
Thanks! I just did the update and deleting notes / folders is working.

[2020-10-31 18:15] otaj commented on #3270
Can also confirm, that with electron4 it works. It would be however nice for boostnote developers to have more recent version. The reasons are simple :

1. so that we don't need to have different electron binary for different application (I currently have three electron apps, BoostNote, Ferdi and VSCode and each uses different electron package)
1. and to have bugs of older versions fixed.

[2020-10-31 20:34] TheAifam5 commented on #3270
Using one electron will break a lot of things, mostly native node modules but also in some cases API.

Sorry for offtopic.

[2020-11-01 18:22] Elchzone opened #3661 "Accessing Boosthub from Boostnote Desktop"
Is it possible to link Boostnote desktop with the Boosthub account and gain similar team features or is boosthub currently only available on the web?

[2020-11-02 16:31] victorbrca opened #3662 "[Feature Request] - Remember toggle mode"
# Current behavior

To make it easier for me to explain, let's assume that Boostnote currently has 2 main modes and 2 sub-modes:

+ **Preview**
+ **Editor**
  + Full editor
  + Split view (editor with preview)

Right now you cannot switch between **preview** and **split view** directly by using what's configured in '_Switch to Preview_'.

**_Configuration_**
![](https://i.imgur.com/7iqkE8v.png)

*

[2020-11-02 16:45] DenisTome commented on #3652
Same error here. Both on ubuntu and OSX.
I'm using version 0.10.1 when I am trying to import notes from Legacy BoostNote.

[2020-11-05 12:30] Mirdarthos commented on #3604
Well, I've just upgraded to version 0.10.1 (According to what I can see, anyway).
And, WOW! The new interface totally eliminates this request, so I'm closing it, happy and impressed.

[2020-11-05 12:30] #3604 closed

[2020-11-06 02:14] Rokt33r commented on #3661
We're actually working on this! Boost Hub will be integrated into [BoostNote.next](https://github.com/BoostIO/BoostNote.next) next week!

[2020-11-06 06:20] incace commented on #901
So, this just happened to me on v0.16.1, macOS 10.13.6. Opened Boostnote, the entire app is reset to default with none of my previous storage locations. I have a backup of my notes so that is no big deal, but the irritating part for me is all my preferences have been wiped. This included a custom CSS theme for preview I've been working off and on for about 6 months. I have some backed up versions

[2020-11-06 10:04] wilhelmbecker commented on #3372
Just updated to boostnote 0.16.1-4, which solved the problem for me.
I can now
 - Export notes as pdf
 - Successfully set  a folder for a new storage location

There were recent updates on my Manjaro KDE system (KDE Plasma 5.20.2-1), that forced me to update boostnote. Maybe one of the KDE updates fixed the issue with the location path.

Can anyone else confirm this for the new version?

[2020-11-06 19:32] jonnyeom commented on #3662
I am seeing this as well.
I can't consistently reproduce it but it definitely happens often, even randomly

[2020-11-08 08:15] #3467 closed

[2020-11-08 08:17] Aaron-Bird commented on #3467
Looks like the bug has been fixed

[2020-11-08 16:44] Flexo013 commented on #3652
@DenisTome Please add any info you have regarding to the problem [here](https://github.com/BoostIO/BoostNote.next/issues/618), as you are using BoostNote.next, not Boostnote Legacy.

[2020-11-08 17:11] #3661 closed

[2020-11-10 15:55] sundayj opened #3663 "Missing Wakatime CLI"
# Current behavior

Currently, when I enter my Wakatime API, the Wakatime Plugin tells gives me the message "Missing wakatime cli."
I have the CLI installed on my machine via PYPI and I have added the "WAKATIME_HOME" variable with the path to the CLI to my environment variables.

This is what Boostnote's dev console is showing:
![image](https://user-images.githubusercontent.com/29342055/98696221-8

[2020-11-10 16:00] sundayj commented on #3663
I also manually added a ".wakatime.cfg" file to the WAKATIME_HOME path: C:\Users\justi\AppData\Roaming\WakaTime\wakatime-cli
Inside the cfg file, I set debug to true and added my api key.
Now it looks like boostnote has found the cli, and my Wakatime dashboard has noticed the editor, but I'm still unsure if it is working. I will update this issue after I notice some time logged into Wakatime.

[2020-11-14 15:34] erayzesen opened #3664 "Backspace Button for Delete Operations"
Hi all.

I'm using macos keyboard and the cmd+del shortcut is impossible for me.

Can you add another shortcut to this for us? Just like cmd+backspace or only backspace...etc

[2020-11-15 20:18] xkLander commented on #2850
Getting the issue on this version.
![image](https://user-images.githubusercontent.com/24826344/99195759-0baf3780-2788-11eb-9c88-fe7b04caf569.png)

[2020-11-16 06:31] aciarochi commented on #3248
I don't see a folder at the top of my note....

[2020-11-17 13:29] Darkcast opened #3665 "Collapsible notes column"
Hey team thanks for the great app, I just found it and I fell in love with it.
The only think that I would add/change to it is to have the ability to collapse the my notes column so there more screen realstate to write on

something like this
![alt text](https://d1r27dnp1fh4g5.cloudfront.net/i/tutorial/sidebar4-animated.gif )

Thank you.

[2020-11-18 12:25] Darkcast opened #3666 "add images [Feature Request]"
HI team

Thanks again for this great product.
I just wante to ask if there is a a way (other thean linking from an external site) to add screenshots into notes ?
I understand that this is beyond the scope of the project but this tools would be a great replacement for MS one note and so many other apps people use to take notes in project etc.

Thank you again and keep up the great work.

[2020-11-19 18:45] 0187773933 opened #3667 "mchem plugin for KaTex"
https://mhchem.github.io/MathJax-mhchem/

[2020-11-19 20:43] victorbrca commented on #1910
It would be really nice to have this. The only way of doing that right now is to remove and then add again all the storage folders.

[2020-11-24 11:57] spiritbro1 commented on #3117
is there any update on this one? is it already done or no?

[2020-11-24 12:14] spiritbro1 commented on #1356
hello is this done already or is somebody working on it?

[2020-11-27 15:01] bernardolm commented on #3630
Hi @Flexo013!

How I batch export notes?
I'm using Ubuntu 20.04 with Boost Note 0.10.2. Here I can't find this option. Can you help me please?

Thank you!

[2020-11-30 04:57] gan3sh500 commented on #3248
@aciarochi If App mode is Notes then they are movable. But in Wiki mode I am not sure how to move it.

[2020-11-30 08:46] alexander-soare commented on #3441
I'm not getting any alignment at all. Just started using boostnote so not sure if it's a settings thing. Could this be related to this issue or a fix in progress?

[2020-11-30 09:41] daiyam commented on #3441
@alexander-soare Do you have an example?

[2020-11-30 16:40] Flexo013 commented on #3248
The instructions in this issue are for Boostnote Legacy.

@aciarochi I assume you are using BoostNote.next (0.10.x). In that version you need to be using the Note mode (not the Wiki mode) to move notes from folder to folder. Then you can simply drag the note from the note list to the correct folder.

[2020-11-30 16:46] Flexo013 commented on #3630
Hi @bernardolm 👋

The feature is not yet available in BoostNote.next (which is the one you are using). There is a different repo for that app. You can find it [here](https://github.com/BoostIO/BoostNote.next/issues).

The feature is available in Boostnote Legacy.

[2020-11-30 17:02] Flexo013 commented on #1356
@benkoska was assigned to this, but I guess they weren't able to get this feature finished.

@spiritbro1 So this issue is up for grabs by anyone!

[2020-11-30 17:08] Flexo013 commented on #1910
@victorbrca Make sure to leave a 👍 on the first post in this thread to show your interest

[2020-11-30 17:15] Flexo013 commented on #3667
Just to provide some detail in this thread itself:

This plugin adds a LaTeX command that makes typing chemical formulas easier. I do not see any new notation being added by this plugin, so this is mostly an QoL feature request. (Please correct me if I'm wrong @0187773933)

If you are interested in this plugin leave a 👍 on the first post in this thread.

[2020-11-30 17:18] Flexo013 commented on #3665
This feature already (sort of) exists. You can go into full focus mode by pressing Ctrl+B. This will hide the entire sidebar.

[2020-11-30 17:21] Flexo013 commented on #3666
Hi @Darkcast,

This feature already exists. You can copy any image to your clipboard and paste it into any note.

On top of that you can drag and drop images onto the editor if you are using Boostnote Legacy.

[2020-11-30 17:21] #3666 closed

[2020-11-30 19:26] alexander-soare commented on #3441
@daiyam I'm not sure there's anything to give an example with. It's just that the functionality "preview scrolls with editor" does not exist for me. I only found out it should exist by finding this issue. It happens across all my notes, on desktop (Ubuntu 20) and on browser (Brave browser)

[2020-11-30 19:37] daiyam commented on #3441
@alexander-soare `on browser`, so it's an issue with the newer Boostnote... (https://github.com/BoostIO/BoostNote.next)

[2020-11-30 19:40] alexander-soare commented on #3441
The URL is https://note.boostio.co/app

On Mon, Nov 30, 2020 at 7:37 PM Baptiste Augrain <notifications@github.com>
wrote:

[2020-11-30 19:55] spiritbro1 commented on #1356
ok thanks i will try to do it now

On Tue, Dec 1, 2020, 12:02 AM Flexo013 <notifications@github.com> wrote:

[2020-11-30 21:09] daiyam commented on #3441
Yep. The current repository is for the older app. The newer, which your are using, is at https://github.com/BoostIO/BoostNote.next 😉

[2020-12-03 18:41] vnmabus commented on #3554
The "white text on white background" error is still happening for me in non-dark themes for indented code blocks in version 0.16.1.

[2020-12-04 19:33] bernardolm commented on #3630
OK! Thank you!

[2020-12-07 07:55] aptxna opened #3670 "How to delete TAG?"
Hi there! I accidentally created a TAG, and failed to delete it. How can I delete the tags?

[2020-12-07 18:36] victorbrca commented on #3662
This is actually the normal behaviour (so it always happens). I'm asking for it to be changed.

[2020-12-08 10:55] Flandre-X opened #3671 "Icon is low resolution (1440p) (taskbar pinned)"
# Current behavior

![image](https://user-images.githubusercontent.com/38332081/101474678-184f2780-3911-11eb-90b0-b96abfa98ec5.png)

(1440p display)
(Similar behavior also occurs on 1080p display)

# Expected behavior

![image](https://user-images.githubusercontent.com/38332081/101474731-23a25300-3911-11eb-8d11-70f71a6afdea.png)

(3840x2400 display)

# Environment

- Boostnote version: 0.16.1
- OS

[2020-12-08 15:45] Komediruzecki commented on #3670
Hi, currently the right click on tag in tag list is not working since the context menu immediatelly closes. This will be fixed soon in a new update. Hence you will be able to right click a tag in "tags" list and click on remove to remove it from the storage.

For removing the tag from a note, just click the "x" button in the top view list of all note tags.

[2020-12-09 03:46] Flexo013 commented on #3671
Duplicate of #1046

[2020-12-09 03:46] #3671 closed

[2020-12-09 03:47] Flexo013 commented on #1046
Still present as of 0.16.1

[2020-12-10 08:00] aptxna commented on #3670
Thanks! Looking forward to the new update!

[2020-12-10 08:00] #3670 closed

[2020-12-11 15:15] #2827 closed

[2020-12-12 07:55] Flexo013 commented on #3554
@vnmabus Could you give a screenshot example?

I have tested this on 0.16.1 with both Nord and a non-dark theme in combination with light code blocks. I am unable to reproduce the issue.
![image](https://user-images.githubusercontent.com/4507015/101978774-cd5a4a80-3c57-11eb-8af8-f19d9ff9f6d8.png)

[2020-12-12 07:59] Flexo013 commented on #3664
I have tested this on both Windows and Linux with 0.16.1. On those the functionality to remove an entire word with these keybindings works fine.

@erayzesen What version of Boostnote Legacy and MacOS are you using?

[2020-12-12 08:02] Flexo013 commented on #3659
@riskysciolism Is there anything that still needs to be done to wrap up this issue? Or is the solution provided by **yulibu** sufficient?

[2020-12-12 08:04] #3652 closed

[2020-12-12 08:18] Flexo013 commented on #3441
Closing this issue as it seems to be resolved (tested in 0.16.1). If you do run into this issue again, then feel free to leave a comment here, and we'll reopen the issue.

[2020-12-12 08:18] #3441 closed

[2020-12-12 08:20] Flexo013 commented on #2850
@xkLander Could you update to 0.16.1 and see if the issue still persists? (Also double check is the attached file actually exists within the path.)

[2020-12-12 08:28] xkLander commented on #2850
Apparently it was due to some attachments missing. However, it is still an issue since I imported from the legacy boost note, and I would say that like half of the attachments have been carried to the new boost note.

[2020-12-12 08:32] Flexo013 commented on #2850
Yeah, that definitely sounds like a problem. Could you add info about it on this issue: https://github.com/BoostIO/BoostNote.next/issues/697

Then we can work on a solution over there. :)

[2020-12-12 08:38] #3665 closed

[2020-12-12 12:27] erayzesen commented on #3664
Hi, I'm using Macos Catalina. The version is v0.16.0

The problem is that, doesn't exist "delete" button in the macos [keyboard](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpTo_MWNmTlvopZ1naA4UPm_y5cgF2N3M-gQ&usqp=CAU). So may you add  an alternative as "backspace" button for this ?

Thank you.

[2020-12-13 00:16] vnmabus commented on #3554
Yes of course. This is in 0.16.1 with the default theme:

![imagen](https://user-images.githubusercontent.com/2364173/101999790-d17e7a80-3ce0-11eb-85e6-465120316546.png)

[2020-12-13 12:24] Flexo013 commented on #3664
What functionality would you want backspace to trigger?

Also, from what I can find online you can use fn+backspace to press delete with that keyboard.

[2020-12-13 14:13] erayzesen commented on #3664
Yes, I know, I can also press remove button in the GUI but convenience is not the goal here?. fn+backspace isn't an easy way to do this and most of softwares uses backspace to "delete" function in the macos. (Built-in macos softwares too).

For example, you may delete any note folders, notes with just the backspace button in Apple Notes. You can be sure what I am requesting is one of the macOS usa

[2020-12-13 15:00] Flexo013 commented on #3554
That's really odd.

This is what I get when using the default interface theme, with default styled code blocks. Could you check that both those settings are set to default? (Make sure that you don't confuse it with editor style.

![image](https://user-images.githubusercontent.com/4507015/102015482-34f9be00-3d5c-11eb-8c31-c52a117e3459.png)

We could try backing up your notes, then uninstalling enti

[2020-12-13 15:24] Flexo013 commented on #3664
Could you answer this?

Also if your goal is convenience then I would recommend using a keyboard with commonly found keys.

For now I will check with some other mac users if this is a common problem within software, to if this is worth changing.

[2020-12-13 15:44] erayzesen commented on #3664
Delete operations.

Thank you. But I have no problems with the keyboard in other software anyway. Usually, in software targeted by Macos, delete functions are assigned to the backspace key for macOS keyboards. I voiced this request just because I realized it was not in this software.

It may be good for the software to be more compatible on the macOS side.

[2020-12-13 15:53] Flexo013 commented on #3664
Can you be more specific? Mention the specific shortcuts, mention the specific results of pressing those shortcuts. Are these delete operation already accessed by pressing the delete key, and so on?

[2020-12-13 16:12] daiyam commented on #3554
@vnmabus Can you specify the Interface Theme, the Preview's Code Block Theme and Preview's Custom CSS you are using, with a markdown example? I can't reproduce your issue.

[2020-12-13 16:21] erayzesen commented on #3664
Ok. Cmd+del shortcut is imposible for macos users. It would be nice to use backspace for all functions with this shortcut.

As you said, fn + backspace can be useful when the delete key is needed. Because I have to do that it is out of this shortcut now;
cmd + fn + backspace

In other words, it is easier to press the button in the gui instead of using this shortcut while deleting many notes and ca

[2020-12-14 13:40] maximouche commented on #3554
It occurs when there is a code block embedded in a bullet/numbered list

<pre>
lalala
bimbamboom
- bullet1
  hello
[code]
- bullet2
</pre>

Here is the result :
![Screenshot 2020-12-14 at 14 37 35](https://user-images.githubusercontent.com/43822518/102087485-ec083f00-3e19-11eb-9bd5-2d5fb19eea05.jpg)

Here a screenshot a the theme I use
![Screenshot 2020-12-14 at 14 38 06](https://user-images.githu

[2020-12-14 13:43] vnmabus commented on #3554
Yes, at first I though it was only in Windows, but I tried installing the 0.16.1 version in Linux in a different PC (that previously had 0.14 and worked fine) and the same problem occurs.

[2020-12-14 13:44] maximouche commented on #3554
it's also present on 0.16.1 on OSX

[2020-12-14 17:28] daiyam commented on #3554
+1

[2020-12-14 17:53] daiyam commented on #3554
The issue is due to hard coded styles introduced by #3473. Before I move them to [browser/main/lib/dataApi/formatHTML.js](https://github.com/BoostIO/Boostnote/blob/master/browser/main/lib/dataApi/formatHTML.js).
I did remember wondering why it's there...

[2020-12-14 17:53] vnmabus commented on #3554
The preview code block theme is "dracula" (I never changed it, maybe it was the default in previous versions?).

[2020-12-16 16:33] #3310 closed

[2020-12-17 22:26] quadespresso opened #3676 "Incomplete window minimization menu option"
# Current behavior

Starting with normal/typical window view, then:
* click yellow "minimize" button window decoration
* in the Boostnote menu, go to `Window` menu
* the only submenu options are `Minimize` / `Close` / `Bring All to Front`

![Screen Shot 2020-12-17 at 4 16 10 PM](https://user-images.githubusercontent.com/6423333/102551008-718f2780-4084-11eb-8b1c-a35b473ddeeb.png)

# Expected behavi

[2020-12-24 12:22] Imoustak opened #3677 "Could not load notes"
# Current behavior

After reboot my pc and open Boostnote I am prompted to setup storage again.

Tried `/Users/<my_name>/Boostnote/notes` it opens but no notes appear in Boostnote app.

I can see in the folder some `.cson` files but when I load this storage I dont get any notes. Could you please advise how I can restore my notes?

![Screen Shot 2020-12-24 at 13 14 43](https://user-images.githubuse

[2020-12-27 02:15] Rokt33r commented on #3677
BoostNote.next don't store a note as a CSON file. I think you're trying to load notes from old format storage. Please create a new fresh folder and migrate the notes from your legacy storage.

<img width="1173" alt="Screen Shot 2020-12-27 at 11 12 17 AM" src="https://user-images.githubusercontent.com/5865853/103162471-74340e80-4834-11eb-9d8c-e8b0bf353f39.png">

If my solution doesn't work, please

[2020-12-27 02:15] #3677 closed

[2020-12-27 12:45] rathod-sahaab commented on #2960
![multiple selection dilog](https://user-images.githubusercontent.com/31929374/103171098-6a7bcc80-486f-11eb-903a-72b87b58a7d4.png)

[2020-12-29 02:19] viztastic commented on #1769
Any chance of this becoming a feature?

I hate the default interface font (sorry), trying to get Operator Mono across the board, not just in the editor.

[2020-12-29 14:03] Imoustak commented on #3677
messaged you on slack!

[2021-01-05 03:27] rudiejd commented on #2522
I would be able to work on this if it's still relevant. I can't seem to find where the existing notes templates are on the repository, however.

[2021-01-06 04:10] edwardwufast opened #3678 "An option that can make preview part follow edit part"
Hello, here is a feature request.

# Current behavior

When one scroll up/down the edit part, the preview part is just keep at the same position.

# Expected behavior

I hope there can be an option that as I edit the markdown, I can see the result immediately. In other word, when I scroll up/down the edit part, the preview part will follow and show the same part as I edit. Currently, when I edit i

[2021-01-06 09:49] Komediruzecki commented on #3678
Hi edwardwufast,

I think you are using boostnote.next, is this the case?

In that case this is possible duplicate of: https://github.com/BoostIO/BoostNote.next/issues/707 and https://github.com/BoostIO/BoostNote.next/issues/247.

[2021-01-06 09:51] edwardwufast commented on #3678
Hi, sorry, I did not find these two issues. It is duplicated. You may
closed it.

Komediruzecki <notifications@github.com>於 2021年1月6日 週三，下午5:49寫道：

--
Best Regard
Edward Wu

[2021-01-06 11:15] Komediruzecki commented on #3678
Closing because of duplicate!

[2021-01-06 11:15] #3678 closed

[2021-01-08 20:07] danieltichiyama commented on #3033
Having the same issue.

## Current behavior
When exporting to PDF, the images don't show, as if they are corrupted.

![image of pdf](https://i.postimg.cc/zvHH4P15/Screen-Shot-2021-01-08-at-10-06-49-AM.png)

## Expected behavior
The images in my notes should be visible on the exported PDF

## Steps to reproduce
Open Note
Select File > Export as > PDF

## Environment
Version : 0.16.1
OS Version and

[2021-01-11 01:40] fourgetinohuton opened #3679 "fourget"
# Current behavior

# Expected behavior

# Steps to reproduce

1.
2.
3.

# Environment

- Boostnote version:
- OS version and name:

[2021-01-12 09:08] naimo commented on #3659
The suggested fix using `--ignore-depends=gvfs-bin` in the dpkg command does allow to install Boostnote (in Ubuntu 20.10 in my case).
However, after that, the package manager and apt keep complaining of having a broken package. So I don't think that's acceptable as a fix.

[2021-01-13 11:32] Y0usefmahdi opened #3680 "add to the ability to export all Markdown into .md files"
# Current behavior

There's no option to set the Notes into md rather than cson

# Expected behavior

add to the ability to export all Markdown into .md files

[2021-01-13 15:33] riskysciolism commented on #3659
I am sorry for the late answer, but I second @naimo.  I don't think that this is a solution. As I stated earlier, Atom seemed to have had the same issue, which they resolved.

[2021-01-13 18:05] hasan-hasanov commented on #2792
Any updates on this one?

[2021-01-20 07:13] CindyCyber opened #3681 "The way of solving incorrect font used for some Chinese characters"
![image](https://user-images.githubusercontent.com/30763967/70682060-90701680-1cd8-11ea-9f4e-376f4a7460a2.png)

The character above is "分" rendered by previous area, and the character below is "分" rendered by text editor area (it correctly render by `Source Han Sans CN Medium`). There is slightly difference as the sreenshoot shown, but I have set the same font  "Hack", "Source Han Sans CN Medium"

[2021-01-20 07:18] CindyCyber commented on #3681
Using this font, can deal with this problem. [Consolas-with-Yahei](https://github.com/crvdgc/Consolas-with-Yahei)
Could add this font to the software? This is the best way to maek Chinese characters and other characters compatible.
Thanks for reading this.

[2021-01-20 07:23] CindyCyber commented on #3681
The font includes **bold**，_Italic_ and **_bold Italic_**.

[2021-01-20 07:24] CindyCyber commented on #3681
The font includes **bold**，_Italic_ and **_bold Italic_**.

[2021-01-21 03:23] #3681 closed

[2021-01-22 06:08] yerz opened #3682 "Was it abandoned"
### Why

Boostnote. Next is not fully compatible with Boostnote. and BoostNote. Next does not work very well at the moment

whether you can continue to maintain this release?

please, thank you

[2021-01-22 09:03] CindyCyber commented on #3682
It seems not.
Check [this](https://github.com/BoostIO/boost-releases/releases/)

[2021-01-22 18:36] serenaFornero commented on #2575
`yarn run dev`

[2021-02-01 17:50] chrisofthecoffee opened #3684 "Improve file naming for easier locating and recovery"
# Current behavior
Data is held in files with random names and json extensions, making them indistinguishable from all sorts of other files.

If the user is in the position where they need to find and backup their local BoostNote data, it would be an awful lot easier if the files had a dedicated extension '.bsjson' say, or were prefixed with 'boostnote' - or both - as it is, the user has to identi

[2021-02-09 11:01] ColinMaudry opened #3685 "Linux mint: reverts to default configuration on start"
# Current behavior

I install v16.1 with the .deb.

Any change to the default configuration is ignored on the next start.

# Expected behavior

Changes to the configuration should be kept when the the app is started again.

# Steps to reproduce

1. Install Boostnote
2. Switch notes to 'compact' display
3. Restart notes

Notes are displayed normally, not in compact mode. You can replace 2. with any

[2021-02-09 11:20] ColinMaudry commented on #3685
`~/.config/Boostnote/config.json` seems to be where the non-default configuration gets saved.

The modification date of the file changes, but the content remains the same:

[code]

[2021-02-10 03:33] sdnian commented on #3659
After Boostnote been installed with --ignore-depends=gvfs-bin, edit the file /var/lib/dpkg/status, search gvfs-bin in the boostnote section, delete the string gvfs-bin.. The broken package issue will be fixed.

[2021-02-11 14:52] ColinMaudry commented on #3685
I have done a new fresh install to study how I could migrate my notes to another tool... and the configuration is here: theme, compact view, etc. Not sure what happened.

The configuration is not in `~/.config/Boostnote/config.json`, as it still has the same content as above.

My only but wild guess is that the upgrade 0.13 => 0.16.1 caused some damage, and it solved itself somehow.

Mysteriously

[2021-02-11 14:52] #3685 closed

[2021-03-04 03:37] cristianvasquez commented on #3134
Hi! I'm new to this markdown editor and trying it for the first time.

I'm trying to make links to other notes using autocomplete (like other editors), but this does not work...

[2021-03-04 21:08] MaxMargolis opened #3686 "Syncing not working"
# Current behavior
My storage location is on Dropbox, but it is no longer syncing between my two computers. I added to a note yesterday on one computer, but the addition is not showing up in the note on my other computer. I have quit Boostnote and restarted on both computers.

# Expected behavior

# Steps to reproduce

1.
2.
3.

# Environment

- Boostnote version: 0.16.1
- OS version and name: Mac

[2021-03-06 20:06] c33s commented on #490
really waiting for this feature, not having it was a blocker to use boostnote for me.

[2021-03-08 17:46] ricardbejarano commented on #3362
any updates?

[2021-03-12 17:56] mtslzr opened #3687 "Any plan or information on Apple Silicon support?"
# Current behavior

Runs on M1 Macs via Rosetta 2.

# Expected behavior

Runs natively on Apple Silicon

# Steps to reproduce

N/A

# Environment

N/A

Apologies if this is available elsewhere, but I couldn't find anything from the website nor FAQs... does Boostnote have any current plans or information on supporting Apple Silicon natively?

[2021-03-12 18:58] Komediruzecki commented on #3687
Hi, mtslzr

Did you target the correct project, you are talking about Boost Note Legacy support for Apple Silicon?

The new Boost Note next is written in the almost latest version of Electron and Electron will soon support the Apple Silicon so it should not be a problem to build the app for Apple Silicon too (found info about this here: https://www.electronjs.org/blog/apple-silicon, might be outda

[2021-03-12 19:56] mtslzr commented on #3687
Awesome, thanks! I opened the same issue in `boostnote-next`; will close this and track it there.

[2021-03-12 19:56] #3687 closed

[2021-03-14 18:40] lanadz opened #3688 "Paste image from buffer"
First of all thanks! You've created  such a great app!
This is not a bug but feature request.

# Current behavior

Screenshot is taken and it is in the clipboard (or for example in the browser, right click on image -> copy image). Usually when it's being pasted in other apps (messengers, notes, docs, etc.) it will insert that picture right in the spot where cursor is. Even here in github textarea

[2021-03-17 17:24] ksmithut opened #3689 "Can't pull legacy cloud data locally"
# Current behavior

I cannot find a way in the Desktop app to sign into a legacy cloud workspace.

# Expected behavior

I expect to be able to sign into my legacy cloud workspace so that I can retrieve all of my notes.

# Steps to reproduce

1. Have legacy cloud storage.
2. Completely remove boostnote from the computer (I did a clean install of my machine)
3. Reinstall latest boostnote application

[2021-03-17 17:39] Komediruzecki commented on #3689
Hi ksmithut,

I think the proper tutorials is here:
https://intercom.help/boostnote-for-teams/en/articles/5018710-how-to-migrate-data-to-the-cloud-space

But It could be impossible to do it in the latest release since login to cloud storage is deprecated, in that case, please use the previous version to log in to your legacy cloud storage, and then once logged in, upgrade to the latest version and

[2021-03-17 20:32] ksmithut commented on #3689
Ah, makes sense. Apologies for posting to the wrong place. Your suggestion worked for me, thanks :)

[2021-03-17 20:32] #3689 closed

[2021-03-18 01:41] santiahernandez commented on #867
I strongly support this feature, that should be awesome, I also understand markdown doesn't allow that but what if an image editor but saving the composition and making it editable in real execution time

[2021-03-19 08:17] Komediruzecki commented on #3689
I think there is a way to sign into legacy cloud storage but there is a link only when creating/using local space storage, see images:

1. You create local space storage (not file system local storage)
2. Then you go to space settings and there is a legacy cloud storage link that will sign you in
![image](https://user-images.githubusercontent.com/18196945/111750719-d9c3f400-8893-11eb-878e-953c3fed

[2021-03-20 01:50] ScriptJunky commented on #3659
Agreeing with @naimo and @riskysciolism here. To expect users to fuddle with their dpkg files is introducing a whole world of risk that is not sane, and especially so considering the `gvfs-bin` dependency is met, but with a different package.

Other apps have already resolved this issue, as others have mentioned, but from what I am finding the way Mailspring handled it seems best and may be applic

[2021-03-24 04:15] Crazy-Ginger opened #3690 "Pasting image into editor does not always save it to storage"
Pasting  an image into editor does not always save it to storage

![image](https://user-images.githubusercontent.com/26458241/112253824-5588bc80-8c57-11eb-8799-aaa1e9004863.png)

![image](https://user-images.githubusercontent.com/26458241/112253165-1312b000-8c56-11eb-82ed-5ab854b53dc7.png)

# Expected behavior
Pasted images should always be saved to the note folder in storage

# Steps to reproduce

[2021-03-24 04:55] cross-hello commented on #3690
I have problem the same as you.

[2021-04-06 00:47] HsuTimothy opened #3692 "Unable to login to osx app"
# Current behavior

Unable to sign in with my mac machine

![image](https://user-images.githubusercontent.com/14950271/113643308-e045c000-9636-11eb-8a2e-31caff281a41.png)

Internet debugger tools just shows a 405 post error.

Steps to reproduce:

1. Preferences > Sign In

[2021-04-07 02:54] mxmv opened #3693 "TypeError: "Cannot read property '/' of undefinded" while attempting to reuse a workspace"
# Current behavior

I've created a workspace on my Mac and synced it with Dropbox. On Mac it works perfectly.

On another PC which is running Windows 10 I've tried to import the workspace by clicking on the "Create a local space without creating an account" link.

I've specified the directory of the workspace synced by Dropbox and after pressing "Create space", I've got the following error - "Type

[2021-04-07 03:35] mxmv commented on #3693
Works on Arch Linux, but I've went though the "Add storage location" flow, which is not present on the Windows version.

[2021-04-07 04:03] mxmv commented on #2906
This also occurs when there are multiple keyboard layouts and you're switching them using the Alt+Shift combination.

After pressing Alt+Shift it is expected that the user would continue typing as usual, but instead he gets into a menu and needs to dismiss it using the Esc key. This is really impeding good UX.

[2021-04-07 06:20] Basti-Fantasti commented on #3690
I have the same problem on the latest Windows version (v0.16.1)
I can see the images pasted into the note but they are not stored to the storage location at all.

Sometimes some images get saved and others don't without any obvious reason or error message.

As long as boostnote is running the images are shown but as soon as it's restarted, the image links are broken.

[2021-04-13 09:25] linci8210 opened #3694 "Regular Expression DoS vulnerability"
We are working on the [ReDoS](https://www.owasp.org/index.php/Regular_expression_Denial_of_Service_-_ReDoS) problem and detected 3 vulnerable regex(es) from your repository.

1: ``^[\t]*([\w+#-]+)?(?:\(((?:\s*\w[-\w]*(?:=(?:'(?:.*?[^\\])?'|"(?:.*?[^\\])?"|(?:[^'"][^\s]*)))?)*)\))?(?::([^:]*)(?::(\d+))?)?\s*$`` in Boostnote/browser/lib/markdown-it-fence.js
2: ``^(?:(?:(?:https?|ftp):)?\/\/)(?:\S+(?

[2021-04-14 16:29] kyoh86 commented on #1803
This may be dead project

[2021-04-14 16:29] #1803 closed

[2021-04-28 07:35] kershope-burn commented on #3647
I've encountered the same issue this morning. Boost Note version 0.16.0 (though I updated it this morning in the hopes of retrieving the workspace) on Windows 10 Enterprise version 1909, build 18363.1500.

I can see that this ticket was opened a while ago; was anything discovered while investigating? Specifically, the answer to the question "where are the notes initially stored?" and "how can I re

[2021-04-28 08:23] Komediruzecki commented on #3647
Hi, kershope-burn,

If we are talking about Boost note and not boost note next, I think the best way to get some answers is joining our slack and contacting @Rokt33r directly, can you provide more info on this?

In Boost Note, there is no cloud support so I think all notes you have are stored on the local file system (not sure if local storage is used, I guess not), this means your notes are in a

[2021-05-13 13:57] #3114 closed

[2021-05-13 15:32] victorbrca commented on #1910
Is there anything we (users) can do to help make this move forward? This would be of great help to me.

[2021-05-25 22:16] dcxSt opened #3705 "vim esc key doesn't bring me back to normal mode"
# Current behavior

When I am in insert mode and I press ESC I just stay stuck in insert mode.

# Expected behavior

When I am in insert mode and I press ESC I want it to bring me back to normal mode.

# Steps to reproduce

Go to settings and select vim keymappings,
then go to a file and press i to enter insert mode,
then press esc.

# Environment

- Boostnote version: 0.16.1
- OS version and name

[2021-05-26 14:13] dcxSt commented on #3705
Sorry for the rude comment, admittedly I was hungry at the time of writing. You guys are doing an amazing job, thanks for Boostnote! Although I do wish you made it easier to install previous versions of the software.

[2021-05-28 02:52] hinder90 opened #3706 "Checking a Checkbox Triggers Scrolling to Caret Location"
# Current behavior

In dual-pane view, checking a checkbox will cause the preview pane to immediately scroll to wherever the caret is in the markdown editor view.

# Expected behavior

When checking a checkbox in the preview pane, it shouldn't actually move.

# Steps to reproduce

Preconditions:
- Enable "When scrolling, synchronize preview with editor" setting
- In order to easily test, open a do

[2021-05-29 16:08] zak39 opened #3707 "I can't add an external storage from Synology NAS"
# Current behavior

# Expected behavior

Hi everyone 👋

I use boostnote daily and I would like to share my notes between my devices (laptop and desktop).

But, I didn't add external storage from my Windows 10 pro :/

# Steps to reproduce

1. Open the folder shared from File Explorator (example: `\\Your_Synology_NAS\Note_Shared`
2. Open Boostnote application and click on *Create a space*
3. Then, c

[2021-05-31 06:56] zak39 commented on #3693
I'm sorry I created a double issue : https://github.com/BoostIO/Boostnote/issues/3707 .

I have the same problem with my Windows 10? I target my Synology Nas.

But, It works on my Ubuntu 20.04 laptop side

It's very strange

[2021-05-31 13:58] shuoO-24 opened #3708 "Lost all files in Boostnote local storage for unknown reason"
# Current behavior

# Expected behavior

All user setups and data are back up safely in another local storage location and can be recovered easily by users. Do not delete data completely in local storage if the users have not authorized it to do so.

# Steps to reproduce

1. Create a new storage location in local computer
2. Create some folders and notes inside it in Boostnote
3. Wait for some tim

[2021-05-31 16:37] Komediruzecki commented on #3708
Hi,

By this picture:
![image](https://user-images.githubusercontent.com/18196945/120221360-90eacd00-c23e-11eb-871a-0260c2c38a28.png)

I can see that you mistakenly added notes folder inside boost note notes folder.
I think this might cause issue loading this storage.

Firstly, backup your notes from this image, the files ending in *.cson are your notes, you can actually inspect them via any text

[2021-05-31 16:40] Komediruzecki commented on #3707
Hi zak39,

The application you are showing is boost note next, not boost note legacy application.
Please reopen this issue in boost note next repository issues (https://github.com/BoostIO/BoostNote.next)

[2021-05-31 16:43] Komediruzecki commented on #3693
Hi, zak39,

The application you are showing is boost note next, and you are trying to import notes from legacy cloud storage into it.
To correctly import the legacy notes please create a storage first and then go to preferences (preferences | space | import from legacy) and import the notes from legacy boost note application via the import form.

If you encounter any other issues with boost note n

[2021-05-31 20:24] zak39 commented on #3707
Hi @Komediruzecki ! :)

Oooh okay I'm sorry !!

I should install the BoostNote.next application on my laptop under Ubuntu 20.04 !

Can I migrate of BoostNote Legacy to BoostNote Next application ?

I reopen this issue in boost note next repository issues ! ;)

I'm sorry for this inconvenience 🙏

[2021-05-31 20:26] zak39 commented on #3707
This issue is moved : https://github.com/BoostIO/BoostNote.next/issues/978

[2021-06-01 06:00] Komediruzecki commented on #3707
Hi, I left you an reply here: https://github.com/BoostIO/BoostNote.next/issues/978#issuecomment-851841250

[2021-06-01 06:00] #3707 closed

[2021-06-06 19:26] Mqxx commented on #3579
Hey just use this:
[code]

Or this:
[code]

Works very well

[2021-06-08 13:03] aakbar5 commented on #846
Do we have any fix for this?

[2021-06-09 16:49] arcturus140 commented on #846
afaik, yes. See #3282

[2021-06-14 21:23] jmd338 commented on #176
When I use cmd+H in the editor, it hides my application. If I use ctrl+H it acts as if I hit the "delete" key. Using cmd+F doesn't do anything on Mac. I think this is an issue again.

[2021-06-16 04:14] ReblochonMasque opened #3709 "boost app won't allow for local storage"
# Current behavior

boost app won't allow for local storage on BigSur 11.4

choosing a folder does not make the create a space button active.

# Expected behavior

create a space in the chosen folder

# version

the dmg linked on boostnotes website on 20210616 - sorry, not reinstalling to find a version number, it should be in the file name!

[2021-06-16 10:25] Komediruzecki commented on #3709
Hi, ReblochonMasque

I am assume we are talking Boost Note next application, latest release - probably v0.18.0.

Please correct me if I am wrong.

For boost note next, the legacy cloud storage is deprecated (never supported in legacy boost note afaik), don't know did you used the legacy cloud before?

The only supported storages in boost note next latest version are now:
1. File system storage (th

[2021-06-18 15:16] fishygeek91 opened #3710 "boostnote.io Deletes progress randomly"
# Current behavior

# Expected behavior

# Steps to reproduce

1. Keep a bunch of notes for some time
2. Close browser?
3. Watch notes disappear?

# Environment

- Boostnote version:
- OS version and name:

[2021-06-18 19:59] Komediruzecki commented on #3710
Hi, fishygeek91,

I am pretty sure boost note didn't delete notes randomly, but this issue is probably posted in wrong repository. The legacy boost note didn't have any cloud sync capabilities, neither web application as far as I know.

Can you please describe which version of cloud did you use, what are you seeing currently (some screenshots) and did you have your account connected to cloud works

[2021-06-18 20:35] fishygeek91 commented on #3710
I log in through https://boostnote.io/, using my google personal google account. I actually shared the page I was working on with my team lead, and he rolled his eyes at me. Come to find out (when I mentioned my notes were gone), he had said that all he could see was ~10 lines and he wondered why I shared it with him. I had continued working on the page for at least 10 days after I shared it. I ju

[2021-06-18 22:28] Komediruzecki commented on #3710
Okey, I see,

Can you please share more info, about account type, there is revision history available both in paid and free plans, so that might worth checking out.

If you logged in and write anything and had Internet connection at the time, the notes should sync automatically, we'll check this more detailed and let you know what happened, for now I think the best would be to join our slack and c

[2021-06-19 05:14] Rokt33r commented on #3710
@fishygeek91 Not sure what happen but I think the previous content should be available in our db. Please join our slack and send a DM to @rokt33r. I might be able to retrieve the data.

[2021-06-20 12:26] EuriNaiz opened #3712 "Problems running BoostNote"
I just downloaded the AppImage and the Deb file in my laptop and in my desktop, It doesn't run without ```--no-sandbox``` parameter, here's the message:

```[4802:0620/071723.691471:FATAL:setuid_sandbox_host.cc(158)] The SUID sandbox helper binary was found, but is not configured correctly. Rather than run without sandboxing I'm aborting now. You need to make sure that /tmp/.mount_boost-fEeDjv/chr

[2021-06-25 11:23] isofun commented on #3647
i use boostnote next and lost all my notes after reinstall

[2021-06-25 11:40] isofun commented on #3647
@Rokt33r says they delete the old cloud storage, so there is no way I can get back all my notes.

[2021-06-25 16:24] Komediruzecki commented on #3647
Hi, isofun,

The two users above are talking (as I understood) of 2 different applications, my post still holds:

1. I am not sure which application is used, the boost note next and boost note legacy both have 0.8.2 - can you please provide me details of your application and how you lost you notes, which storages you had etc.
2. This issue is made in boost note legacy application github so I am no

[2021-07-01 14:26] usagrada opened #3714 "macOS keymap(maybe shortcut key) is not user-friendly"
# Current behavior
I am using default keymap not vim or emacs.
When writing in a markdown editor on macOS
<kbd>Command</kbd> + <kbd>Shift</kbd> + <kbd>→</kbd>
<kbd>Command</kbd> + <kbd>Shift</kbd> + <kbd>←</kbd>
If you select all the characters with, the focus will be on create new doc in the sidebar or the workspace name above. Similar problems did not occur with the up and down arrow keys.

# Ex

[2021-07-01 15:43] usagrada commented on #3714
I've created an issue in the wrong repository.

In addition, this problem is solved by [this merge ](https://github.com/BoostIO/BoostNote.next/pull/1028), so I close this issue by myself.

[2021-07-01 15:43] #3714 closed

[2021-07-01 17:21] Komediruzecki commented on #3714
Yes, you are correct.

The next release should fix the problem.

Please reopen if needed.

Thank you for your patience!

[2021-07-05 23:33] gildoneto commented on #3579
Helped me a lot. Thanks!!!

[2021-07-06 20:57] ShepLT1 opened #3715 "Deleted Important Notes"
# Current behavior
Notes from 6/28 & 7/1 are absent

# Expected behavior
The notes should be here

# Steps to reproduce
Notes were missing after opening app on 7/6/21

1.
2.
3.

# Environment

- Boostnote version: <0.16.1>
- OS version and name:

[2021-07-06 23:02] Komediruzecki commented on #3715
Hi ShepLT1,

can you please give more info of the issue, can you describe your storages, type of storage (cloud, local space, legacy etc.)?

Also, this is the github repository for old legacy boost note, did you meant to open it for the new boost note next?

Can you provide some screenshot about the application and how did you lost your notes? Did you have it synced up internally (legacy cloud syn

[2021-07-07 20:17] ShepLT1 commented on #3715
Yes sorry, this is for boost note next. I am using local space for storage. I was under the impression that the app auto-saved on closure, but I just noticed the 'Save As' feature under the file tab so I'll use that. I haven't synced anything yet. Any screenshot would just be a note document with a section of its notes missing. I can take a screenshot if necessary, but would rather not.

[2021-07-07 20:18] ShepLT1 commented on #3715
Also I just upgraded to version 0.20.1, but that didn't solve the issue

[2021-07-08 10:04] Komediruzecki commented on #3715
Hi again,

IF you are really using local storage, then the sync is not available (with cloud servers). But local storage stores all notes on disk, the notes are auto-saved but the timeout is a bit long (around few seconds), so if you just close the app after entering something, it might not have time to save last few seconds.

The save as feature in menu is for saving it to external file (markdown

[2021-07-10 04:30] mmphego opened #3716 "Add support for case-folding on Markdown"
# Current behaviour

![image](https://user-images.githubusercontent.com/7910856/125151652-0b651180-e148-11eb-837f-287d9fe5c85e.png)

# Expected behaviour

![image](https://user-images.githubusercontent.com/7910856/125151659-2172d200-e148-11eb-9ba7-5caa1e32eb0b.png)

# Environment

- Boostnote version: 0.20.2
- OS version and name: Ubuntu 20.04

[2021-07-23 13:56] johnnyleitrim opened #3717 "Cannot delete, copy or cut selected text in editor window"
# Current behavior

~~If I select text in the editor window, I cannot delete it; copy it or cut it. Pressing any of the delete keys does nothing. Using Cmd-C or Cmd-X (I'm on MacOS) does nothing.~~

This only happens if I use Shift-Cmd-Arrow to select an entire line - if I use any other way to select text, it works as expected.

<img width="1199" alt="Selecting Text" src="https://user-images.githu

[2021-07-24 08:15] Komediruzecki commented on #3717
Hi, johnnyleitrim,

You posted the issue in boost note legacy repository, and this is clearly boost note next.

For the issue, there was a bug going left/right to select things in editor in v0.19.0.
The bug is fixed, so please update the application to latest version and let me know if you encounter any problems there.

[2021-07-26 14:42] fishygeek91 commented on #3710
Hi @Komediruzecki and @Rokt33r. I joined your slack community and messaged @Rokt33r but have not received much information regarding this.

When you ask which version I am using, I do not know where to find this. As I have said previously, I log on via boosnote.io and use the webapp. I have not downloaded boostnote do to the lack of compatibility with the MacM1 (not a fan of running rosetta). Whil

[2021-07-27 01:38] Rokt33r commented on #3710
@fishygeek91 Sorry, I missed your message... I'll send you a message again.

[2021-07-30 13:24] rwperrott commented on #3657
I switched to Joplin because I think it's a lot better, so don't mind if this is closed.

[2021-07-30 14:31] rwperrott commented on #3657
Closed because I can't hide it in my open issues list.

[2021-07-30 14:31] #3657 closed

[2021-08-04 15:07] Hoss3770 commented on #3242
What about importing notes from BoostNote to BoostNote ?

[2021-08-04 21:40] Komediruzecki commented on #3242
Hi, Hoss3770,

can you further clarify what exactly are you trying to import where?
From boost note next (new application) to legacy, you could copy paste content as there is no way to do it.
From boost note legacy to boost note next (there is a way to do it, the tutorial is created https://medium.com/boostnote/how-to-migrate-data-from-old-boostnote-efd8a5c7aa7d)
From boost note next to boost note

[2021-08-05 06:18] Hoss3770 commented on #3242
Loading the storage directory again gives me this error

![image](https://user-images.githubusercontent.com/9167620/128300869-bb73d537-9dc7-4eb9-b0b0-1dfbf0616a17.png)

[2021-08-05 09:02] Komediruzecki commented on #3242
Hi, Hoss3770,

I think what you are trying to do is load legacy boost note storage into new boost note next application, this won't work as this is loading or creating a new boost note next space in new application.

You need to follow import from legacy to load legacy boost note storage into new boost note next.

If you want faster support, please contact me on our slack.

If you are not trying t

[2021-08-07 21:01] Joshhua5 opened #3719 "Analytics floods system with requests when using a DNS blocker"
# Current behavior

When using a network based DNS blocker, boost note will receive a 502 when reporting analytics to AWS.
The current retry policy will constantly retry multiple times a second endlessly.

# Expected behavior

There should be a retry policy which eventually stops sending these requests.

# Steps to reproduce

Block AWS analytic servers using Pi-hole.

# Environment

- Boostnote ve

[2021-08-09 08:35] bilalinamdar opened #3720 "Frustrated with the Program"
Dear Team,

Why the program on every update changes drastically ?
I mean i was the early adopter.

First it was Cloud storage.
Than upgrade asked for Local storage
Now from local storage (depreciated) to boostcloud local next.

Why make enduser suffer which drastic big change in the main operating of the software ?

I really look great potential in this project but again i am too frustrated to mak

[2021-08-09 16:45] Komediruzecki commented on #3720
Hi, bilalinamdar,

I get your frustration, from now on it should not be any drastical changes as cloud and local apps are separated.

If I understood correctly, you first had cloud (legacy cloud and/or local storage)
Then we discarded that because new boosthub/new cloud arrived (free/pro plans)
Then to use the free local storage you need to transition from legacy cloud as it was not synced with se

[2021-08-09 19:29] bilalinamdar commented on #3720
I understand you concern too.
I am a fan of this kind of software and my first prefrence was snippets (discontinued), than masscode, than boostnote.
I usually work on onenote.
What I mean to say is whenever a user open the app he need to put or get something. Meanwhile the update give headache of transforming the entire sotrage scene.
Never mind I truly hope major change will have a notification o

[2021-08-09 19:43] Komediruzecki commented on #3720
I agree on the changelog, currently the implementation only updates the app on Windows (not sure how ti works on macOS), but on linux the updater does not work, so you need to manually go to the github release and there you can see a changelog: see here for example https://github.com/BoostIO/BoostNote.next/releases/tag/v0.21.1 (yes it should also be improved)

I think that adding a changelog great

[2021-08-10 09:35] Rokt33r commented on #3719
I'm assuming you're using local space of the new app. Please check here. It won't send HTTP requests except ones for update check
https://github.com/BoostIO/BoostNote.next-local/releases

[2021-08-10 09:35] #3719 closed

[2021-08-10 20:47] bettydi commented on #3715
After an update today I am no longer able to access my notes. These were local storage - can you tell me where I should look to see if I can recover them? Are they stored in a local database on disk? And if a database is used, which one? Thx.

[2021-08-11 18:47] armartin commented on #3720
Agree, this change has made it impossible to do any work and instead I've had to slog through manually migrating notes today given an abysmal forced migration process. Of 1469 notes (most of which were clunky imports from Evernote that I abandoned realizing I'd just need to go back to Evernote to see again), 532 failed to import of which 63 were fully written **using the Boostnote's app!** Before

[2021-08-12 07:57] Komediruzecki commented on #3720
Hi, armartin,

I have done migrations many times and most of the time, the migration actually successfully transfered the notes but reported that it didn't, you should have a list of those notes that failed on this or next page, so be sure to look it up and see if they really failed to migrate.

Other than that, I can suggest first transfering all the notes to file system storage and then migratin

[2021-08-12 13:13] AnshulGoyal454001 opened #3722 "Preferences option not working"
When I click on preference nothing happens, it seems like it is a missing functionality.

[2021-08-12 15:31] armartin commented on #3720
Hi Komediruzecki,

Thanks for checking in! I checked the notes that were described as unsuccessful and they unfortunately were indeed missing and failed to migrate. I migrated from a local file system storage (not legacy cloud).

I fully appreciate not having to migrate to cloud - it's a helpful option to keep around local storage (though it would be easier if downloading a 2nd app to see local no

[2021-08-12 17:37] Komediruzecki commented on #3722
Hi, AnshulGoyal454001,

Can you please post more details about your issue, including:

Screenshot of the behaviour,
Application version (is it boost note legacy, boost note next (if boost note next, which version and which desktop app did you install?)
How to reproduce the issue
Which OS are you using (Linux, macOS, Windows)
etc.

I'll be glad to help if you can provide me with more details about

[2021-08-12 17:39] Komediruzecki commented on #3720
No problem,

yes, the cloud is great, and if you want to keep using local storage, we separated it to another application so that it is easier to maintain.

For migration to cloud, when I migrated my notes, the only notes which it showed as not migrated were the ones which had some kind of problems/issues inside, some weren't synced correctly in legacy cloud, some were not having proper attachment

[2021-08-15 23:35] nroig opened #3723 "Boost Note frozen at Loading data, how to recover my notes?"
I'm on Windows 10 and it has been like a week or two since I cannot load my notes (and don't even know where they are stored). I used the offline version of Boost Note and from night to morning it stopped working. I tried checking for updates but nothing changed.

I heard that there might be some clues on the developer tools. This is what I see:
![image](https://user-images.githubusercontent.com/4

[2021-08-16 09:56] Komediruzecki commented on #3723
Hi, Nico,

I am not sure which version of the boost note next are you using, can you look into Windows installed programs and let me know?

Also, the notes are stored in different ways, if you used local storage or legacy cloud they are no longer supported but there should be no problems loading the storages in previous application versions (newer ones will not allow you to use the storage and pro

[2021-08-16 14:11] Mayank-MP05 commented on #3083
This issue is fixed already...

[2021-08-16 14:12] Mayank-MP05 commented on #3083
Why this is not closed

[2021-08-16 17:21] Komediruzecki commented on #3083
I'll close the issue as this is fixed.

[2021-08-16 17:21] #3083 closed

[2021-08-16 18:29] nroig commented on #3723
Hi Komediruzecki,

Thank you for your prompt reply! First of all, I was able to find the json files with my notes. I am unaware at which would be the best way to recover the information (just opened those in Notepad++).

I installed the app almost six months ago (0.12.4 almost surely)  and when starting having issues loading my notes I upgraded it to 0.21.1 (just ran an executable). I have seen so

[2021-08-16 19:18] Komediruzecki commented on #3723
Hi, Nico,

did you install separated local spaces only desktop app or the boost note cloud desktop app?

For local spaces you need this application from now on: https://github.com/BoostIO/BoostNote.next-local/releases/tag/v0.21.1
Please install and try to load your storage in that application, the application will not load any previous storages as we want users to move the storage to local space o

[2021-08-18 17:43] Komediruzecki commented on #3717
This is resolved and fixed, if you encounter any more issues please create another issue.

[2021-08-18 17:43] #3717 closed

[2021-08-22 14:39] philjoecool opened #3724 "Lost all notes (local storage) after upgrade"
# Current behavior

I've been using Boostnote desktop app on MacOS for quite some time, more than a year. I've been upgrading regularly, when the popup asked on OS restarts. I've always used local storage only - never cloud storage. That's what I wanted (no need for multi-device or team collab, I have my own backups) and one of the reasons I picked Boostnote.

Now, today after upgrade I saw I had

[2021-08-22 19:22] Komediruzecki commented on #3724
Hi,

I am a bit confused about all the info but let's get one thing at a time:

1. You were using boost note next, so this issue should be posted on boost note next I suppose (legacy boost note didn't have many updates, so I suppose this is the case)
2. The local storage (stored in browser local storage - pouch DB type storage) and file system local storage are 2 different things

Given 2., can yo

[2021-08-22 21:09] philjoecool commented on #3724
Hi,

first of all, thank you so much for the very prompt response.

And thanks for the clarification on point #2! As user, I didn't know/care of how "local storage" was done. Now I see the difference and my confusion. So, yes, I reinstalled older version 0.19.0, copied over contents of `~/Library/Application Support/Boost Note` from my backup and YES! On app start, I was prompted to indeed convert

[2021-08-22 21:09] #3724 closed

[2021-08-23 05:57] Komediruzecki commented on #3724
Hi,

I am glad to hear that, I am sorry for the confusion in general, the local space app will get an update soon to clear out the welcome screen (saying you can add/create a space) alongside a few others improvements.

For the local storage vs file system storage, we deprecated `PouchDB` (legacy cloud and local storage) few versions back, you would get the unsupported storage screen instead of sh

[2021-08-23 19:01] Joshhua5 commented on #3719
I'm not, I'm using the original Boostnote, I personally thing .next was the wrong move.

https://github.com/BoostIO/boost-releases/releases/

[2021-09-01 10:45] rafaeltovar commented on #901
The same for me. All notes are gone. I lost few years of notes. It is difficult to decide if I will continue using this app. :(

Version 0.21.1
macOS 10.14.6 (Mojave)

Any `.cson` file found.

[2021-09-01 14:52] Komediruzecki commented on #901
Hi, rafaeltovar,

if you updated to a new boost note next, those two applications are not compatible (boost note legacy and next).

Can you please let me know if you were using boost note legacy or boost note next prior to the update?

The version you specified is for boost note next, boost note legacy does not have such high versions.

If you updated to boost note next, did you update to local sp

[2021-09-02 07:33] rafaeltovar commented on #901
Hi @Komediruzecki, thanks for the response.

yesterday I reboot my macbook and the app was upgraded (with the new icon). When I opened the app this asked me to create an account. I made the account and when I went to the app all my notes are gone!

Before I uninstalled Boost Note and  I installed the local version of the app, but my notes was gone already. :(

I saw that exist a folder in `~/Libra

[2021-09-02 10:04] Komediruzecki commented on #901
Hi,

I am not aware of any auto update procedure, but not sure if for MacOS there is auto update.

For the installations, can you link the releases you installed (cloud and local space), also can you confirm if you had legacy boost note or just boostnote next, I suppose boostnote next since legacy didn't receive updates.

If you installed boostnote local spaces, the latest application comes with n

[2021-09-02 11:12] PawelWozniak commented on #1334
This would be useful. I found this topic googling for the same issue. I want to embed a PowerShell script which after clicking would be run in the terminal.

[2021-11-03 12:55] LiChenJoe opened #3729 "Fail to auto save on webapp and new notes are gone when I reopened it."
# Current behavior

I have been working on the webapp since I started using boostnote.  So today when I opened one of the notes I had been working on lately, the note I wrote the day before is gone. It always auto save everything, I don't know why this is happening.

# Expected behavior

Is there any way I can have my notes back? The last updated time for the note does not match the latest time I

[2021-12-10 04:55] pabrams commented on #125
Hello, I'm confused... it looks like Boost Note already has this feature:
![image](https://user-images.githubusercontent.com/1376688/145519438-f94c332e-1743-4cb1-84f1-1a8a5d319b30.png)
Also, all these issues and bounties are still open, but it looks like there hasn't been any activity in a while. Is that why the name of the repo has "legacy" in it? What does that mean, if the bounties are still op

[2021-12-10 05:06] pabrams commented on #2263
I don't understand - why are there two different BoostNote with separate sets of features?  It's very confusing. Why would you want this implemented here if it's already implemetned on the other?

[2021-12-10 05:16] pabrams commented on #1356
Is this still funded? It looks like it is, but it says "Boostnote-**Legacy**", and no activity in a while...  @Flexo013

[2021-12-10 18:59] Komediruzecki commented on #1356
Hi,

Probably is, the funding should not be removed, only when someone fixes the issue and collects it.

[2021-12-30 16:56] harvey-wei commented on #3729
I encountered the same problem

[2021-12-31 07:32] Komediruzecki commented on #3729
Hi guys,

This is boostnote legacy repo, the legacy app does not have Web app, there is only desktop app.

The boostnote next had web app for some time which was deprecated and only desktop app was available.

The new boostnote cloud repo has web app as well as desktop app.

Can you screenshot the apps you are using? The servers for Web app were long gone, there is new Web app for boostnote next c

[2022-01-07 02:11] mordr commented on #3242
This issues is marked closed, but it fails for me importing legacy notes (cson based) into newer BoostNate (Boost Note - Local Version 0.22.3 (0.22.3))

This blog https://medium.com/boostnote/how-to-migrate-data-from-old-boostnote-efd8a5c7aa7d does not watch with what I see, that is, I don't see any import feature.

My legacy notes structure

[code]

Is there an update to this? Or any workarounds

[2022-01-07 22:26] Komediruzecki commented on #3242
Hello, mordr,

Can you please see this discussion (https://github.com/BoostIO/BoostNote.next-local/discussions/53) on our Boost Note local spaces repository?

if you still don't find it useful, please join our slack and contact me directly, I can navigate you through the process.

Basically, you need to install a bit older version of boost note next (e.g., 0.19.x) and import/convert legacy notes w

[2022-01-20 10:54] MelvinLoos commented on #490
It's being 2 years and it also got funded. What is the current state of this issue?

[2022-02-15 21:27] #2861 closed

[2022-02-24 12:55] MihaelBercic commented on #3234
Any news on this?

[2022-03-17 08:56] sulcino commented on #3443
Alphabetical order is standard. If you have hundred folders, searching something in unuedered list is a nightmare.
Folders cannot be dragged, there’s no way to organize them.

[2022-04-28 17:44] mighty-phoenix commented on #1356
Hey! @colineberly @thejasonparker @Komediruzecki
Can I take up this issue? Is it still funded on issuehunt?
Thanks!

[2022-05-22 06:47] #1005 closed

[2022-06-07 12:51] jeroen-meijer commented on #905
At the time of writing, https://placehold.it seems to be down. I use https://placeholder.com for hex color code previewing instead.

Unfortunately, this doesn't seem to work on GitHub, but it does in various other Markdown renderers, such as on the Visual Studio Marketplace.

An example can be found [here](https://marketplace.visualstudio.com/items?itemName=jeroen-meijer.shibuya).

[code]
<img wid

[2022-07-17 23:26] MoElaSec commented on #1651
for me I did the following:

[code]

Now I'm able to run x86_64 (AMD64) code:

`sudo dpkg -i boostnote_0.10.0_amd64.deb`

[2022-07-28 02:40] piiskop commented on #3579
None of the recommendations really work as in each case, a link is created that really does something if i click it. It either directs to the page _a_ that doesn't exist or it directs to the position _##_ that adds a direction to the browsing history. In addition, it looks like a link.

[2022-07-28 09:12] Mqxx commented on #3579
It is possible that they changed how GitHub handles the double #. In my case it worked, but I also haven’t used it in a while.

[2022-07-28 21:58] piiskop commented on #3579
GitHub? The browser handles links, not GitHub.

[2022-09-20 07:24] fx-kirin commented on #3659
Remove `gvfs-bin` from `node_modules/electron-installer-debian/src/installer.js` before you build the deb package. It's just a workaround though. I used this command.

[code]

[2022-11-08 09:03] Dougggggg commented on #2575
Thank you (as someone teaching myself, this comment has made my day)

[2022-11-11 10:40] ghost opened #3748 "Can't find my notes after windows reinstall/ can't find .scon file"
Hi,

2 days ago I had to reinstall Windows 10 on my pc because my pc blue screened because from what I think, my harddrive corrupted.
I recovered basically all my files on that harddrive through 'Windows.old'. But I have been trying to find my notes that I had on boostnote 0.2.1. I still see boostnote files in the Appdata directory. And I have looked up how to get my notes and how to import notes,

[2022-11-11 18:54] Komediruzecki commented on #3748
Hi,

this is probably opened in wrong repository, are you using boost note next or boost note legacy?

Boost note next also had *.json notes, but local storage notes as well, which would save it in app data, as to what you found, it was probably that type of storage. This will be harder to restore than just opening that location in boostnote.

Also, whatever version you had, especially that old, s