[2019-06-13 12:18] AnKun2 opened #3078 "Sticky multi-selection after creating a new markdown note"
# Current behavior

Normally, you can select multiple notes from the list using Ctrl+Click or Shift+Click. After you create a new note, the multi-selection mode becomes permanently active, as if you were pressing Ctrl key. Solved only by restarting the app.

# Steps to reproduce

1. Go to settings and select "Switch to preview" option to "On right cilck". Save and close settings.
2. Click on any f

[2019-06-13 18:38] michaelw85 commented on #3018
Changing the path as suggested also worked for me on win 10.

Should this be provided as a PR? Any reasons why this is not done yet?

[2019-06-13 21:38] ZeroX-DG commented on #3018
@michaelw85 There's a PR for that (waiting to be merged): https://github.com/BoostIO/Boostnote/pull/3048

[2019-06-14 02:41] afridley commented on #3075
It looks like on Version 0.11.17 on windows every editor theme is broken except default
![defaultTheme](https://user-images.githubusercontent.com/34749972/59479847-024bce00-8e24-11e9-8196-de8cd52bcaa6.PNG)
![duotoneDark](https://user-images.githubusercontent.com/34749972/59479848-024bce00-8e24-11e9-9103-ecb72a4a3f0f.PNG)

[2019-06-14 04:43] michaelw85 commented on #3018
@ZeroX-DG Ok great! I overlooked the PR linked to this issue, it's somewhere in the middle of the thread 😅.

[2019-06-14 08:13] Flexo013 commented on #3075
Duplicate of #3018

[2019-06-14 10:13] arcturus140 opened #3080 "fail to fetch title"
# Current behavior

When pasting a URL into Markdown Note convertion into markdown link fails in a certain situation.

# Expected behavior

1. copy `https://www.google.com/`
2. paste into markdown note
3. result: `[Google](https://www.google.com/)`

# Steps to reproduce

1. create TOC at line 1
2. paste link below that
3. paste link below that

## Test result 1
<details>
<summary>MNWE used to illu

[2019-06-14 10:25] arcturus140 commented on #3078
I can replicate the issue.

# Environment

- Version : 0.11.12
- OS Version and name : 16.04 Ubuntu

[2019-06-14 15:02] Flexo013 commented on #3078
Can't quite seem to replicate the issue.

I did however got the same bug by doing something **slightly different**:

## Steps to reproduce

1. Hold a multi-selection key and select multiple notes.
2. While still holding the key click in the editor, where you can type.
3. Let go of the multi-selection key.
4. Observe how clicking in the note list still get selected as if the multi-selection key was

[2019-06-14 23:32] ZeroX-DG commented on #3078
I can reproduce this on Linux Mint 18

[2019-06-14 23:33] #3075 closed

[2019-06-14 23:35] ZeroX-DG commented on #3077
I think you should wait until the https://github.com/BoostIO/Boostnote/issues/3021 is fixed and check again because there's a high chance that this is related. I'll close this for now, feel free to re-open if this bug still exists.

[2019-06-14 23:35] #3077 closed

[2019-06-14 23:37] ZeroX-DG commented on #3080
Thank you for reporting!

[2019-06-15 22:03] rvbcldud commented on #3073
Relatively new to contributing to open source but I believe I have an improvement to the current scenario
Any input would be greatly appreciated :)
## Code Added
[code]
* This is the code I added which will have the behavior shown in the screenshots following
* Added on line 24 of /Boostnote/browser/lib/dataApi/resolveStorageData.js

## Screenshots
### 2 Cases
1. When adding to disconnected boostn

[2019-06-16 05:24] rvbcldud commented on #3061
Running Ubuntu 18.04 and emojis are still black and white. Not sure about other operating systems but it seems like the module being used for these emojis "https://github.com/markdown-it/markdown-it-emoji", only outputs emojis in this form.

When it finds the ": [emoji_name] :", it outputs a token with 2 pieces of info
Token.markup - which is the emoji name
Token.content - which is the actual emoj

[2019-06-16 07:51] rvbcldud commented on #3061
The closest I have gotten to make the emojis colored is using twemoji module and changing the code to:
[code]
With the output of
![boostnoteemojiix2](https://user-images.githubusercontent.com/32994909/59561075-68755400-8fd0-11e9-9539-0d94871f6a3c.png)

This implementation is not optimal because the size of the emoji is not scaled when included in a header and the emojis are not lined up with those

[2019-06-16 20:53] rvbcldud commented on #3011
Trying to reproduce this issue and it seems to not be a problem. I am running Boostnote 0.11.17 though, as well as Ubuntu 18.04. Try updating to 0.11.17 to see if the problem persists.

[2019-06-17 02:03] #3041 closed

[2019-06-17 02:04] #3033 closed

[2019-06-17 02:04] #3056 closed

[2019-06-17 02:04] #3005 closed

[2019-06-17 04:40] LordDashMe opened #3083 "Editor UI Padding for first layer of TODO List"
# Current behavior

The **todo** check-boxes feature are in half as you can see in the below screenshot:

![Selection_001](https://user-images.githubusercontent.com/12311971/59578704-1893ab80-90fc-11e9-8414-2f1b2d3ad6a2.png)

# Expected behavior

If the padding for the Markdown Editor Body adjusted from **15px** to **20px**, the below screenshot fixed the UI issue.

![Selection_002](https://user-i

[2019-06-17 06:19] LordDashMe commented on #3083
This pull request affected the UI for Ubuntu 18.04.

https://github.com/BoostIO/Boostnote/issues/2729

[2019-06-17 08:09] Flexo013 commented on #3011
Can't reproduce this issue either on Ubuntu 16.04 with Boostnote 0.11.17.

[2019-06-17 09:50] imaojun commented on #3011
@Flexo013  @rvbcldud Yes,I updated the version 0.11.15 to  0.11.17 . This issue has not appeared in the 0.11.17 version.

[2019-06-17 09:50] #3011 closed

[2019-06-17 10:29] imaojun opened #3084 "Search box cannot use Chinese input method (fcitx-rime )"
# Current behavior
I tried to use the Chinese input method to search for input in the search box, but I could not complete the text on the screen.When inputting Chinese, the input method candidate box will flash and disappear.

Chinese content can be entered in the text area, but the search box cannot. I have to paste the clipboard into the search box to search for Chinese content.

I uploaded a G

[2019-06-17 11:13] RavenTheDev commented on #1770
I can confirm that this issue is still ongoing, but I feel that this may not be an issue with Boostnote but perhaps the way it is being built as an Electron App. The applications RAM usage does not get too high, but the application seems to have issues once it goes over around 500 lines.

Performance Degradation is noticed in the following ways:
- Typing into the application has a noticeable 0.5s

[2019-06-17 12:26] ZeroX-DG commented on #3084
Duplicated https://github.com/BoostIO/Boostnote/issues/2925

[2019-06-17 12:26] #3084 closed

[2019-06-17 14:02] dumblole commented on #3020
Has this been fixed? I'm having the same issues on Windows 10

[2019-06-17 14:08] muniter commented on #490
I would like to also state my interest in this feature. The current file format is sadly not what some people are expecting.  I was looking for an application that stored the files outside databases for external editing, with vim or any other editor or viewer I desire. In the current state is like it was in a database. I cannot view it with other programs.

[2019-06-17 17:09] obsilva commented on #2854
Just checking if we have any update on this. Were you able to reproduce the issue?

[2019-06-17 17:18] arcturus140 commented on #3020
fix is not in master yet. wait 4 next release.

[2019-06-17 17:23] arcturus140 commented on #1770
does this have impact on all boost note or only individual notes after 150+?

[2019-06-18 03:11] marknt15 commented on #1530
I am looking for this feature too as when the space is not enough, for easy viewing I would like to word wrap the code block. Thanks! :)

[2019-06-18 11:21] archerindigo commented on #3049
I just found I can add different storage locations in Preferences -> storage. This can be treated as multiple notebooks. But still, multiple levels of notes within a category is still preferred.

[2019-06-18 11:25] maojunxyz opened #3086 "Publish to wordpress to reserve md format, do not convert to html"
# Current behavior
When it is published to WordPress, it will be converted to html format, causing the code block not to be rendered correctly.

# Expected behavior
Keep md format when publishing to wordpress, I can enhance the markdown rendering of WordPress through plugins.

# Steps to reproduce

1. Write md formate note
2. Right click on the title to publish to wordpress
3. View published artic

[2019-06-18 12:28] RavenTheDev commented on #1770
Hi

This only seems to affect notes when they have over 150+ lines of code. Going to another note which does not have that much code seems to be fine. I have noticed that the most recent version has made great strides towards this , and the performance of my old notes seems far better.

As a note, I am running Electron v4.1.4 on Arch Linux (So always up to date) and have had a few times where Elec

[2019-06-18 19:43] astrolope opened #3087 "Create user define-able markdown templates."
# Current behavior

I would like to be able to create custom templates other than the standard Markdown Note / Snippet note template.

# Expected behavior

Allow users to define custom markdown templates that could be displayed within the compose widow.

# Steps to reproduce

1.
2.
3.

# Environment

- Version :
- OS Version and name :

[2019-06-19 04:04] ichihara-3 opened #3088 "Vim mode: cursor freezes when moving to normal mode with <C-[>with Japanese IME"
# Current behavior
with Vim mode, when I editing in insert mode with Japanese and I typed <C-[> key with Japanese IME to move to insert mode, Apparently the cursor looked normal mode, but it freezed. Any moving key(hjklwb...)didn't work.
Typing Esc key also didn't work.
Only way to recover I found is;
1. change IME to English mode
2. type Esc Key
3. type i Key to move to insert mode
4. type Esc Ke

[2019-06-19 12:49] Flexo013 commented on #3087
The reason for choosing between Markdown Note and Snippet Note is because they are fundamentally differently displayed. This does not pertain to any templates.

If you want to work with templates in Boostnote then maybe try the following:
1. Create a directory called 'Templates' in one of your storages.
2. Add markdown notes to this directory. Where each note will be a different template.
3. Whene

[2019-06-19 13:22] Flexo013 commented on #2854
For me the `CTRL` + `W`hotkey never works. `CTRL` + `E` works properly. So it's hard for me to replicate the issue.

* Version: 0.11.17
* OS: Ubuntu 16.04

[2019-06-19 13:45] ehhc commented on #3036
hi there, @alexiej
i have a guess what's might be the problem:
first of all: i would guess that the missing attachment folder is not a bug.. it's only a warning and, as far as i think, not related to the issue.

I think the problem is the following:
Copy and Pasting images into boostnote works the following:
- if you copy it the images is stored in the copy-cache of your OS
- if you past it boostn

[2019-06-19 14:18] Flexo013 commented on #3036
This might be related to Google Images sometimes providing users with broken image links.
<details>
  <summary>Broken copied Google Images data</summary>

[code]
</details>

Can you try pasting the image from your clipboard into other applications, for example an image editor like Photoshop?

If it works everywhere else, but not in Boostnote, then there must be something we can do to fix this issu

[2019-06-19 14:28] ehhc commented on #3036
@Flexo013 the initial problem was that a screenshot taken on mac cannot be pasted not about google images (that was only one example from me)
Do you think the macOS creates broken image copies as well?

[2019-06-20 06:17] alexiej commented on #3036
This is what sometimes happens on my computer. I took a screenshot on MacOS and next try to put in some notes, and sometimes it works, but sometimes not. You can see that on the last note: "firebase: login check"  I cannot put images, and I cannot put images on this note at all. I need to create a new note.

[Nagranie z ekranu 2019-06-20 o 08.08.14.zip](https://github.com/BoostIO/Boostnote/files/3

[2019-06-20 10:09] federicochiesa opened #3089 "Zoom not setting correctly when reopening the App"
# Current behavior

If I set the zoom level at anything other than 100%, close the app, and reopen it, if I set the zoom to 100% nothing happens, I have to set it so something else, and then to 100%.
Here's a link to a video that better explains the issue: [link](https://youtu.be/VE3N4jxz6C4)

# Expected behavior

The zoom level should set correctly to 100% after an app relaunch.

# Steps to repro

[2019-06-20 15:45] Aquarian-Age opened #3090 "The software is not working properly"
# Current behavior

git clone https://github.com/BoostIO/Boostnote.git
cd Boostnote/
yarn
yarn run dev
sudo npm install -g grunt-cli
grunt pre-build

# Expected behavior

cd dist/Boostnote-linux-x64/
./Boostnote

# Steps to reproduce

The system is openSUSE 15.0
Yarn run dev can run everything is fine
 Cannot edit files after grunt pre-build build software
The ./Boostnote startup software will gen

[2019-06-20 17:50] Mitrimo opened #3091 "Export Error when Exporting PDF"
# Current behavior
When trying to export a simple note with pure text and one link to another site (like [this](google.com)), the program reports an
Export error
callback must be a function

This happens under Windows 10 Pro, Version 1803 with Boostnote Version 0.11.17. .md and .html exports work flawlessly.

# Expected behavior
Exporting a regular plaintext .pdf.

# Environment

- Version : 0.11.

[2019-06-21 06:49] gynet commented on #1635
Any update on this?

[2019-06-21 08:18] Flexo013 commented on #3089
Issue can be reproduced on Linux.
# Environment
* Version: 0.11.17
* OS: Ubuntu 16.04

[2019-06-22 20:36] IAmMateo commented on #2628
I don't know if the option to disable HTML paste was supposed to fix this, but it did not for me. This is a major issue for me and I have to switch to a different tool because of it. I also primarily see this issue occurring with slashes ("\") being added before brackets ("[" and "]"), as well as the issue of any slashes already existent within the code being duplicated, leaving the code with two

[2019-06-22 20:52] daiyam commented on #2628
@IAmMateo can you provide the version used, your os, from where you are coping from, and an example of the code to be copied. Thx

[2019-06-22 22:43] lockee14 commented on #3064
Hello, I did this feature locally see:
![dateISO8601](https://user-images.githubusercontent.com/17609793/59969395-47d86b80-9587-11e9-93b3-51d25e2dbc1e.gif)

I'd like to contribute to this project but it's my first time, how should I proceed? I already forked this repo and did a branch for that feature.

[2019-06-23 05:30] imaojun opened #3092 "collapsible markdown rendering on boostnote is not normal."
# Current behavior
The following collapsible markdown can be rendered correctly on github, but rendering on boostnote is not normal.

The content has not been folded. If the line break is removed, the content can be collapsed, but the markdown syntax cannot be rendered.

**collapsible markdown**

<details><summary>CLICK ME</summary>

*yes, even hidden code blocks!*
[code]
</details>

![Peek 2019-0

[2019-06-24 02:18] ZeroX-DG commented on #3087
You can create a custom snippet in the setting and use it as a template

[2019-06-24 02:18] #3087 closed

[2019-06-24 02:22] ZeroX-DG commented on #3090
Can you tell me what you're trying to do?

[2019-06-24 11:54] RavenTheDev opened #3095 "No ability to disable HTML Code Warnings"
![BoostNote_Bug](https://user-images.githubusercontent.com/11475987/60016931-27f59480-96ba-11e9-845d-a4faec13fcfc.png)
# Current behavior

When writing code in Markdown or HTML, there are random "Notes" that show up which are designed to show issues with the coding, and how to fix it. This is extremely annoying if you don't need those prompts, and there is currently no method to disable them.

# E

[2019-06-24 12:12] Flexo013 commented on #3095
Update to 0.11.17 as it introduces this feature.

Go to Preferences -> Interface and then uncheck 'Enable MarkdownLint'.
![image](https://user-images.githubusercontent.com/4507015/60017821-fb298900-9689-11e9-971e-42e551e260dd.png)

[2019-06-24 13:22] lanox commented on #125
Hi any update on subfolders please.

[2019-06-24 14:21] Flexo013 commented on #125
Currently it does not look like anybody is working on implementing subfolders.

If you would really like this feature, then consider funding it on [IssueHunt](https://issuehunt.io/r/BoostIo/Boostnote). That way developers are incentivized to pick up this feature request.

[2019-06-24 20:34] FreddyCrugger commented on #125
It is ok thanks, I am thinking about building something similar very soon with Electron for people to download for free. I think it is needed. Should not be too difficult.

[2019-06-24 21:25] incace commented on #3020
what's the ETA on this being pushed to master?

[2019-06-25 02:08] gerryw1389 commented on #3064
I have no idea, you would need to ask the developers. I'm just a user who is requesting the feature. Sorry.

[2019-06-26 16:36] tocttou commented on #1356
I can pick it up if anyone else is not working on it at the moment.

[2019-06-27 07:22] RunningIkkyu commented on #3018
Great! Octen's Solution also worked for me.  Thank u very much.@Octen
Running Boostnote 0.11.17 on Windows 10.

[2019-06-27 11:29] #3095 closed

[2019-06-27 15:00] arcturus140 opened #3096 "[feature request] auto enclosure for back ticks"
# Current behavior

Currently, selected text is automatically enclosed by ". Would be nice to have the same for backticks.

![selected text](https://user-images.githubusercontent.com/44707562/60276590-d3d5f480-98f3-11e9-9e31-2051d8bc4e3d.gif)

# Expected behavior

1. select text in markdown note: `selected text`
2. type: \`

3. result: \`selected text\`

# Environment

- Version : 0.11.12
- OS Ver

[2019-06-28 16:03] humberto-garza commented on #3052
Workaround confirmed in windows!

[2019-06-28 22:46] Hub45 opened #3097 "Search Within Folder Does Not Work"
# Current behavior

All searches are global, meaning they search all notes.

# Expected behavior

Per https://github.com/BoostIO/Boostnote/issues/747, I would expect one to be able to search within just one folder, presumably by selecting that folder and then typing in the search bar.

# Steps to reproduce

1. Select a folder
2. Search for something
3. Observe that results from outside that folder

[2019-06-29 01:10] ZeroX-DG commented on #3096
We have supported this feature. Go to setting -> interface. And add 2 ``` in the `Matching character pairs` setting.

[2019-06-29 01:10] #3096 closed

[2019-06-29 03:25] juicetin commented on #2568
Based on your findings, could you please open a ticket in the Electron project describing the problem and link it back here please :)

It currently makes Boostnote borderline unusable once a note goes past the page length, as every time I start a newline once the page scrolls, the page jumps to the top, and only when I start typing, does it jump back down to the bottom again.

[2019-06-29 05:18] mukilkrishnan commented on #3018
Thanks @Octen, your fix worked for me (0.11.17, Win 10). This had been bothering me for at least a couple of weeks now.

[2019-06-29 10:26] Aquarian-Age commented on #3090
Start the executable file in ELF format

[2019-06-29 20:39] Dene33 opened #3098 "Boostnote doesn't start after update (0.11.15 old, 0.11.17 new)"
# Current behavior

Boostnote doesn't start after clicking Boostnote.exe

# Environment

- Version : 0.11.17
- OS Version and name : Windows 10

[2019-06-29 22:41] incace commented on #3069
This is driving me crazy because I work in editor/preview mode 99% of the time.

[2019-06-29 22:58] AWolf81 commented on #3098
Thanks for reporting the issue.

Are you getting any error messages?
Have you updated with the auto-updater or manually installed the new version?

I couldn't reproduce the issue yet. Maybe I'll test again with the auto-updater because I manually installed 0.11.15 and then 0.11.17 with-out any starting issues.

[2019-06-29 22:58] ZeroX-DG commented on #3098
I gonna need more information than that, can you provide any error that appears when you run the app?

[2019-06-29 23:27] FredericChang commented on #2814
@jsavalle I use the cloudway to build my Wordpress, where should I add the Basic-Auth?
I don't know how to finish the following steps?
Installing
    Download the plugin into your plugins directory
    Enable in the WordPress admin

[2019-06-30 06:48] Dene33 commented on #3098
There are no errors. Boostnote just doesn't start. That happened after auto-update. Actually I'm not sure if that was `0.11.15` version that I had previously. But now I have `0.11.15` folder and `0.11.17` folder. `.exe` from `0.11.15` folder works, from `0.11.17` doesn't.

[2019-06-30 08:31] ZeroX-DG commented on #3098
Have you try to run the `.exe` from command line? It should log error to the command line.

[2019-06-30 16:58] MishFTW commented on #2792
@BoostnoteBot any updates on this issue?

[2019-06-30 20:46] Dene33 commented on #3098
#
# Fatal error in , line 0
# Check failed: (isolate->snapshot_blob()) == nullptr.
#
#
#
#FailureMessage Object: 00000033701EEB40

[2019-06-30 21:12] AlexMV12 commented on #3098
I don't know if it is related, but tonight, after an Electron update, Boostnote is not starting anymore (the loading icon keeps rotating).
After downgrading Electron, the problem is gone.

Screenshot:
![immagine](https://user-images.githubusercontent.com/36054651/60402168-495bf200-9b8c-11e9-8cf8-793aa9b5b9cc.png)

App version: 0.11.16-1
OS: Arch Linux

Boostnote IS WORKING with Electron 4.1.4
Boos

[2019-07-01 00:27] amedora commented on #3091
duplicates #2968, will be resolved by #3048 .

[2019-07-01 00:57] leonardovillela commented on #2221
Can i take this issue?

[2019-07-01 01:51] #3091 closed

[2019-07-01 01:53] ZeroX-DG commented on #3098
@AlexMV12 I don't think your issue is related, please open another issue for it.

[2019-07-01 01:57] ZeroX-DG commented on #3098
@Dene33 it looks like your issue is similar to this: https://github.com/Microsoft/vscode/issues/70895

The way to solve it is to re-install the app.

[2019-07-01 01:57] #3098 closed

[2019-07-01 02:07] #2777 closed

[2019-07-01 02:10] #2840 closed

[2019-07-01 02:28] #864 closed

[2019-07-01 02:30] #1237 closed

[2019-07-01 02:32] #2970 closed

[2019-07-01 02:33] #2688 closed

[2019-07-01 09:57] AlexMV12 opened #3100 "Boostnote doesn't start after Electron upgrade"
# Current behavior

Boostnote hangs in loading on the start screen, some errors are present in the console.
The app won't start.
![Screenshot_20190701_114901](https://user-images.githubusercontent.com/36054651/60427432-fb300880-9bf6-11e9-9332-445be2484cb6.png)

# Expected behavior

The app should start normally.

# Steps to reproduce

1. Update Electron to the latest version
2. Try to start the ap

[2019-07-01 10:30] dayfuaim opened #3101 "BUG after update to 0.11.17"
# Current behavior
After upgrade from 0.11.x to 0.11.17 the following happens.
Markdown preview is not rendered or not rendered properly.
+ Error at start.
![Снимок экрана 2019-07-01 в 13 18 25](https://user-images.githubusercontent.com/1274699/60429208-46501880-9c03-11e9-9b1d-fa8105c374b0.png)
+ Errors during switching the notes.
![Снимок экрана 2019-07-01 в 13 28 31](https://user-images.githubus

[2019-07-01 11:10] ZeroX-DG commented on #3101
@Rokt33r can you reproduce this error on MacOS?

[2019-07-01 11:53] Flexo013 commented on #3100
Does this issue also occur when using the latest version 0.11.17?

[2019-07-01 13:53] Flexo013 commented on #3100
You can find the 0.11.17 installer here: https://github.com/BoostIO/boost-releases/releases/tag/v0.11.17

[2019-07-01 18:03] AlexMV12 commented on #3100
Sorry man, I couldn't find it in the release tags of this repo.

However, I tried and it works.
With 0.11.17 the app opens as usual.
As a workaround, one can use the AUR package boostnote-bin which is already update to 0.11.17.

[2019-07-02 01:46] frizop commented on #3100
I built locally (because there's no rpm packages) and get this same error
![image](https://user-images.githubusercontent.com/3605906/60476404-1d4e7880-9c41-11e9-9789-8ed0f9262f40.png)

I used the docker container provided:

docker build -t local/boostnote .

[code]

[2019-07-02 07:43] NorimasaFukuoka opened #3102 "Preview scrolls back to the top on its own"
# Current behavior

When I edit last line on the left editor pane, the right preview pane scrolls back to the top on its own and the editor pane scrolls to its top at the same time. Then I enter something, it comes to the cursor but I enter again, the same thing happens again.

# Expected behavior

Preview just comes with editor, doesn't move on its own.

# Steps to reproduce

1. Separate the pane

[2019-07-02 07:58] xyhuangjia commented on #3102
the same thing happen to me

[2019-07-02 23:04] ZeroX-DG commented on #3102
Duplicated https://github.com/BoostIO/Boostnote/issues/3023

[2019-07-02 23:04] #3102 closed

[2019-07-03 07:50] hungrysnake opened #3103 "Don't instantly delete an unreferenced attachment"
# Current behavior
![image](https://user-images.githubusercontent.com/42885440/60573489-57875980-9daa-11e9-8d56-52f525553104.png)

when the note text with images is deleted, undoing the delete will only bring back the text, not the

# Expected behavior
able to undo the deletion of images

# Steps to reproduce

1. paste an image to a note
2. delete the line for the image
3. Ctrl-Z to undo

the text

[2019-07-03 10:12] jinbeomhong commented on #867
+1

[2019-07-03 21:56] 2114L3 commented on #3100
multiple archlinux machines impacted by this as repos have released 5.0.6

[2019-07-03 22:16] 2114L3 commented on #3100
ok dokey
[aur](https://aur.archlinux.org/packages/boostnote) have acknowledged the error.
and unknown to me that the AUR maintainer had been patching boostnote to support electron 4 as this project is still using version 3 as per the package.json
appears atleast for archlinux, there is greater issue of boostnote not keeping up with electron

[2019-07-03 22:55] ZeroX-DG commented on #3100
@Rokt33r Can you help us investigate this problem?

[2019-07-04 09:10] clone1612 commented on #3100
AUR package maintainer reporting in. I've created a patch for Electron v5.x compatibility and have updated the package. At my end everything is working again, so could you update the package and see if any issues still remain?

[2019-07-04 10:27] 2114L3 commented on #3100
thanks @clone1612
that's got me working again with the AUR install, love your work!

[2019-07-04 21:09] AlexMV12 commented on #3100
@clone1612 I can confirm that the AUR package is now working as expected.
Thank you everybody for your work.

[2019-07-05 03:39] frizop commented on #3100
I tried building that PR and it doesn't resolve my issue. Dunno if the conclusion is the same or not though. I'll also note, there is no alt-menu available when starting boostnote under the new electron. I was unable to get to the debug window.

[2019-07-05 04:10] TerryLuo opened #3106 "figures display error during pdf/html export"
# Current behavior

When I try to export my markdown note into pdf or html format, it does not display the figures inside the notes.  The figures are only shown as broken link.
One possibility could be due to the the link to the figures.  during the exporting, the exporter does not recognize the link the figures.

# Expected behavior

I should expect the figures are displayed correctly.

# Steps t

[2019-07-05 05:17] ThaddeusJiang commented on #2010
Only happen in production, I have checked the develop env, it works correctly

[2019-07-05 05:18] ThaddeusJiang commented on #3030
@ZeroX-DG when we get the new release?

[2019-07-05 06:56] clone1612 commented on #3100
@frizop Strange, I have the alt-menu while using the latest Electron version. Have you tried opening the developer tools using `ctrl+shift+i`? While working on the package I also had some issues with npm and ended up using yarn instead (as the project does). Have you tried using yarn in your build script?

Another way of finding the cause of the issue could be running the project in dev mode and s

[2019-07-05 09:33] Flexo013 commented on #3106
I can reproduce this issue on Ubuntu 16.04.

It should be noted that this issue only occurs for local images. Online/remote images export fine.

- Local `[39d1d282.png](:storage/b770d5d7-4037-45b0-9ab6-6a11e7eef008/39d1d282.png)`
- Remote: `![Title](https://boostnote.io/assets/img/logo.png)`

[2019-07-05 13:54] ehhc commented on #3103
I don't have a solution for this problem (i don't even know if there is a technical solution on how to do that..) but #3107 gives you 30 seconds to decide that you want to undo the change before the attachment is deleted :)
Maybe that's better than nothing :)

[2019-07-05 14:36] hungrysnake commented on #3103
just throwing some idea.
could it be implemented this way?
when the image is deleted, temporarily rename the file to image.jpg.deleted.
when undo is triggered, rename it back to image.jpg
after a while (2 days maybe) delete all the *.deleted files.

[2019-07-05 15:26] ehhc commented on #3103
the problem ist the last part: when and how do you crawl all folders with images/attachments in and delete unneeded ones? How do you trigger that job?

i think debouncing the deletion can be a good workaround. Maybe it's enough :)

[2019-07-05 15:36] hungrysnake commented on #3103
i think the triggering point would be the moment of closing the application because undo can't be done after app close anyway.
another point would be the moment of opening application to make sure if there is any temp file left over

[2019-07-05 16:14] KorraHarraway opened #3108 "[Feature request] Import subfolders and its .md and .txt files"
It would be very nice to add an option for automatically and reursivelly importing all subfolders and its respective .md and .txt files when one chooses to add a new storage location from

In fact, it would be a deal breaker if one is migrating from another folder-based notetaking app to Boostnote.

[2019-07-05 23:20] frizop commented on #3100
![image](https://user-images.githubusercontent.com/3605906/60748202-0c5b7b00-9f51-11e9-8ec4-a8cfc9d42b7d.png)
Above is my attempt to compile boostnote-0.11.16.x86_64.rpm
![image](https://user-images.githubusercontent.com/3605906/60748237-60665f80-9f51-11e9-842c-7e5c4da3d9da.png)
Above is my attempt to compile boostnote-0.11.17.x86_64.rpm
It appears that none of the RPMs I'm making matter. Perhaps

[2019-07-06 07:10] ktny opened #3109 "Syntax highright is something wrong."
# Current behavior
![image](https://user-images.githubusercontent.com/10214742/60753072-af230080-a008-11e9-971a-7f9d6ae350f7.png)

![image](https://user-images.githubusercontent.com/10214742/60753023-168c8080-a008-11e9-96cb-6f7a3fe849e8.png)

# Expected behavior
Syntax highlight works prpoerly.

# Steps to reproduce
There was no problem soon after installing it first. Something went wrong after a

[2019-07-06 08:26] clone1612 commented on #3100
That definitely would be better as this seems to be a separate issue. I've seen that error before and fixed it by replacing the npm related commands with their yarn counterparts. But best make a new issue for the sake of clarity.

[2019-07-07 09:21] ZeroX-DG commented on #3109
Duplicated: https://github.com/BoostIO/Boostnote/issues/3018

[2019-07-07 09:21] #3109 closed

[2019-07-07 09:44] ZeroX-DG commented on #3030
That's depend on @Rokt33r

[2019-07-07 18:05] tobysoby opened #3111 "Deleted search term stays highlighted"
This may be not that big an issue, but it gets badly on my nerves nonetheless. You know how it is sometimes...

# Current behavior
When I search for something and delete the search term from the search field, the search term stays highlighted in the editor panel.

# Expected behavior
The search term does not stay highlighted.

# Steps to reproduce
1. Search for something
2. Empty search field by c

[2019-07-08 02:50] kumarve opened #3113 "[Feature Request] Three mode Toggle"
# Current behavior
currently, we have only 2 modes of toggle - that is preview mode and editor mode.
preview mode shows both editor pane and read-only rendered pane

preview mode
<img width="721" alt="image" src="https://user-images.githubusercontent.com/14313593/60779406-45197100-a158-11e9-89e8-5454fe1bf39a.png">
In this mode , both editor and notes pane is displayed

edit mode
<img width="816" a

[2019-07-08 04:11] Rokt33r commented on #3030
@ThaddeusJiang In the next week! Sorry for being late.

[2019-07-08 07:50] ZeroX-DG commented on #3106
This PR should fix this bug https://github.com/BoostIO/Boostnote/pull/3068

[2019-07-08 07:50] #3106 closed

[2019-07-08 13:32] ehhc commented on #3103
@hungrysnake at least the first idea dosen't work: after closing the app, the process is terminated. As far as i konw, there is no way to hook in at this point.
Scanning all notes at the start of the app (inclusive scanning the folders containing the attachments for all scanned notes) seems to be quite slow. Therefore the start of the app would be slowed down.. I don't know whether that's worth th

[2019-07-08 14:23] Flexo013 commented on #3103
@ehhc I'm not quite sure how it works in Electron, but I think it should be possible to hook in on process termination. Similar in how certain programs will ask you "Are you sure you want to exit?".

A force termination of the process would be harder to hook into, so in that case we do need some clean-up of these files.

---

To expand on @hungrysnake's suggestion: We could move the deleted image

[2019-07-08 16:43] MiloTodt commented on #3113
There's a trick to do this currently... Click on the toggle button and hold the mouse down, and then drag it down.
![](https://media.giphy.com/media/PntD0NkUjFfwwp4SA4/giphy.gif)

Could use a dedicated way to do it though!

[2019-07-08 18:08] arcturus140 opened #3114 "Export and import preferences"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2460%20Funded-%2300A156.svg" />](https://issuehunt.io/r/BoostIo/Boostnote/issues/3114)

# Current behavior

preferences cannot be exported. It would be nice if I could import preference settings to a new installation of Boostnote.

# Expected behavior

Import and export preferences to back up Boostnote configurations.

---

[2019-07-09 02:10] arcturus140 commented on #3113
This is already implemented. you can hide side pane, lock editor or full View Go to preferences and choose different options to switch between modes

[2019-07-09 10:45] TobiasDev commented on #1250
Is this something that are still begin discussed? I mean to add WebDav sync support.

[2019-07-09 20:09] #3090 closed

[2019-07-09 23:01] reklanirs opened #3115 "[Feature Request] Scroll past the last line in the editor"
# Current behaviour
The best angle of view when taping should be in the middle of the screen. But currently in boostnote, after filling one page in a note, new lines will always appear from the bottom and you have to always look down at the bottom of the screen. (Unless you tap a lot of blank lines at the end of the passage.)

# Expected behaviour
There is an option in preference ```Allow preview

[2019-07-10 00:02] arcturus140 commented on #3115
already supported

[2019-07-10 00:20] #3115 closed

[2019-07-10 00:25] reklanirs commented on #3115
Didn't notice that option in preference. Sorry about that.
@arcturus140  Thank you!

[2019-07-10 08:28] Sleepful commented on #867
if this app had this feature it'd be perfect, I don't want to make diagrams on some other app by sluggishly moving arrows with my mouse, just let me draw a box like it is mspaint

[2019-07-10 18:36] Berkmann18 opened #3116 "Deprecation causing a crash"
# Current behaviour
It opens (the frame shows up) but remains unresponsive with an error on the terminal: `(electron) 'app.makeSingleInstance(cb)' is deprecated. Use 'app.requestSingleInstanceLock() and app.on('second-instance', cb)' instead`.

# Expected behaviour

Boostnote should open and work

# Steps to reproduce

0. Open a terminal
1. Type `yay -S boostnote-bin`
2. Then type `boostnote`
3. W

[2019-07-11 01:20] ZeroX-DG commented on #3116
I don't think the deprecated code cause the crash. Can you remove the repo and re-clone and setup everything again?

[2019-07-11 07:45] clone1612 commented on #3116
Is there any error showing up on the Boostnote developer console itself (`ctrl+shift+i` in the actual boostnote frame)?

[2019-07-11 09:33] Berkmann18 commented on #3116
@ZeroX-DG

You may be right, the fact it's about the app instance made me think it was (at least partly) due to that.

@clone1612

On the Electron app?

[2019-07-11 09:36] clone1612 commented on #3116
Yes, the actual Electron app.

[2019-07-11 09:40] Berkmann18 commented on #3116
The issue is that there's no window when I launch it (just a border with whatever is behind it or what was at the same place before) so I can't open the dev tools from it (unless there's a way that I was unaware of).

[2019-07-11 09:48] clone1612 commented on #3116
No indeed, that's true. Quite strange though as `boostnote-bin` uses the official released package (no building from source) and therefore shouldn't have any issues. Would you mind deleting the package and attempting to install the other AUR package `yay -Rsn boostnote-bin && yay -S boostnote` to see if that AUR boostnote version works? Alternatively you could also post a comment on [AUR boostnote

[2019-07-11 12:00] bkielbasa opened #3117 "[Feature request] Jekyll support"
# Current behavior

It would be cool to have the possibility to use boostnote as the editor for Jekyll blogs.

[2019-07-11 13:05] Berkmann18 commented on #3116
Here's what I get from after running `yay -Rsn boostnote-bin && yay -S boostnote`:
[code]

[2019-07-11 13:59] clone1612 commented on #3116
It seems that you have installed yarn before, not using pacman/yay but rather with npm hence the conflicts as yay attempts to install the arch yarn package (from the community repo, building from source depends on it). So run `npm uninstall -g yarn` and afterwards `yay -S yarn`.

If that works you have resolved the conflict and can run `yay -Rsn boostnote-bin && yay -S boostnote` again.

[2019-07-11 18:53] Berkmann18 commented on #3116
Sweet, that solved the issue.

[2019-07-11 18:53] #3116 closed

[2019-07-13 00:37] mevers commented on #3092
I cannot reproduce the issue on Boostnote 0.11.13 (MacOS Sierra).

Before unfolding:
![Screen Shot 2019-07-13 at 10 33 52 am](https://user-images.githubusercontent.com/9429788/61164578-dffbbc00-a559-11e9-9c5f-d47e12ef819e.png)

Unfolded:
![Screen Shot 2019-07-13 at 10 34 16 am](https://user-images.githubusercontent.com/9429788/61164586-f0ac3200-a559-11e9-8b69-207e08a8019c.png)

Must have `"Allow d

[2019-07-13 02:27] #1760 closed

[2019-07-13 04:51] imaojun commented on #3092
@mevers Awesome, it works.

[2019-07-13 04:51] #3092 closed

[2019-07-13 07:06] kumvenka commented on #3113
@MiloTodt , thanks. I followed the trick and it worked. I am new to Boosenotes and i don't know what is dedicated way. The full preview mode just flickers for me while changing between the mode, following @arcturus140  steps. I think i am running into this issue https://github.com/BoostIO/Boostnote/issues/2196
An honest feedback. this feature is not  intuitive for users

[2019-07-13 07:44] karstenpe commented on #1635
This is such a pity. I thought, boostnote could be the perfect successor for Livewriter, it is open source, built upon electron (which I like very much) and can post to wordpress. Support for pasting images is great and it seems to be very robust. However "downgrading" to markdown does not look like an option for me. "Editing" tables really hurts. Of course I understand the constraints with the da

[2019-07-13 10:12] kumvenka opened #3118 "[Feature Request] Dynamic inter linking of notes"

[2019-07-13 10:18] #3118 closed

[2019-07-13 10:21] kumarve commented on #3113
@MiloTodt , thanks. I followed the trick and it worked. I am new to Boosnotes and i don't know what is dedicated way. The full preview mode just flickers for me while changing between the mode, following @arcturus140 steps. I think i am running into this issue #2196 ,@arcturus140 thanks for steps though
An honest feedback. UX is not intuitive in this case

[2019-07-13 10:28] teeemomain commented on #3021
Is there a fix for this? When I add an image on a note then edit that note in any way, the page jumps all the way to the top.

[2019-07-13 23:20] StevenJL opened #3119 "[Feature Request] Support initialization script"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2420%20Funded-%2300A156.svg" />](https://issuehunt.io/r/BoostIo/Boostnote/issues/3119)

I love that Boostnote supports vim bindings mode. YAY!!  But every time I open up Boostnote I have to run this in the console

[code]

Is it possible to add an "initialization script" that can be used to always run the above (and other vi

[2019-07-14 07:50] imaojun opened #3120 "Linking Images not supported"
# Current behavior

**Linking Images not supported**.
Clicking on the image link is to enlarge the image instead of jumping to the link.

*Please refer to the markdown syntax*:
<https://www.markdownguide.org/basic-syntax/#linking-images>
# Expected behavior
**:point_down:Click on the picture**
[![An old rock in the desert](https://avatars3.githubusercontent.com/u/28778042?s=88&v=4 "Click me, linki

[2019-07-14 11:49] hubitor opened #3121 "Can't rename notes"
# Current behavior
Not sure if it's a bug or my incompetence but I can't find an option to rename the notes.

EDIT:
I see now that I can set the name in the first line of the note if it's a Markdown Note.
Is it related to "Extract title from front matter" in the preferences?
I have deactivated this option and it still gets the name from there.
I find it weird to not have an option to rename the no

[2019-07-14 18:37] Redsandro opened #3122 "Update to Electron 5, 6, or 7"
# Current behavior

When clicking around in the Boostnote 0.11.17 Interface Settings and trying to change the theme, Linux 5.2 will freeze. No error message. No kernel panic. Just frozen. Sysrequests don't work anymore.

__I have reverted to the older 0.11.7 and the issue is gone.__

# Steps to reproduce

0. use AMD "Picasso" APU hardware
1. go to preferences > interface
2. browse around, mess wit

[2019-07-15 01:10] ZeroX-DG commented on #3113
I'll close this issue, feel free to open another issue for the UI/UX problem 👍

[2019-07-15 01:10] #3113 closed

[2019-07-15 01:10] utotch commented on #2785
I have the same problem when I simply export a single note to a markdown file.
# image files are exported to "attachments" folder, but paths in a markdown are not updated and wrong.
e.g. a path looks like
[code]
and it is not updated to "attachments" folder.

--
environment

Boostnote 0.11.17
Mac OS 10.14.4

[2019-07-15 01:12] ZeroX-DG commented on #3119
This is a nice feature indeed 👍

[2019-07-15 01:15] ZeroX-DG commented on #3121
Well, by default the title of the note is the first line or heading. If you enable the option "Extract title from front matter", you can have a custom title by specifying it in the front matter:
[code]

[2019-07-15 01:15] #3121 closed

[2019-07-15 01:20] ZeroX-DG commented on #3122
For 0.11.7 the electron version is `2.0.3` and for 0.11.17 is `3.0.8` I think. Based on the commits that I found.

[2019-07-15 01:35] Redsandro commented on #3122
Major version upgrade makes the synopsis plausible. Do you know of any simple 3.0.8 electron app I can test to see if it also crashes?

[2019-07-15 03:12] imaojun opened #3123 "^[word] caused caton delay and error preview display"
# Current behavior
It cannot be displayed normally, and the switching notes are displayed in confusion or not displayed.

**As the picture shows：**
![Peek 2019-07-15 11-01](https://user-images.githubusercontent.com/28778042/61193918-db1d4080-a6f0-11e9-8bc3-f808ce544621.gif)

# Expected behavior
The content is displayed normally and the notes are switched normally.

# Steps to reproduce

Paste the

[2019-07-15 06:43] latimercaleb commented on #1595
Hi, I'm currently an evernote user and I'm looking for another app to use that is:
1) Markdown or JAM friendly
2) Can import all my old notes
3) Can save locally and back up somewhere (dropbox, google drive etc).

It seems like boostnote would be great but I don't think it can do notebook imports right now. I have notebooks with hundreds of notes that I'd like to migrate and continue to write on.

[2019-07-15 12:24] Flexo013 commented on #3021
Possibly related to: https://github.com/BoostIO/Boostnote/issues/3023

[2019-07-15 12:29] Flexo013 commented on #1635
Adding some sort of easier table editor would be nice. It could be added as an option in preferences. Similar to how we currently have the 'smart table editor' option that aids in table editing.

[2019-07-16 11:50] alixcan opened #3124 "[Request] Website Grabber"
Hi Bootsnote Team,

Is there any chance make site grabber for bootsnote app.
When user make request from chrome like bootsnoteapp://http://*** like url visit maybe
bootsnote grab the body content and remove all unnecessary html tags and show and save us plain text?

Thanks for this awsome tool.

[2019-07-16 20:54] MiloTodt commented on #3124
As additional information for this Feature Request, the manner in which Bear has implemented this appears to be OSx only. https://bear.app/faq/X-callback-url%20Scheme%20documentation/

[2019-07-17 05:40] igorer88 commented on #2093
In the close button is perfect in my opinion, and not just in Windows, but also in others OS.

[2019-07-17 06:50] ThaddeusJiang commented on #2944
Same bug on Mac.
[![Screenshot from Gyazo](https://gyazo.com/a3c72f1e346786ab196e8c768264c066/raw)](https://gyazo.com/a3c72f1e346786ab196e8c768264c066)

[2019-07-17 08:56] Flexo013 commented on #3018
The fix for this #3048 has been merged and will be part of the next release 0.12.0

[2019-07-17 11:33] bertomoore commented on #3114
Hello, I'm interested in adding this feature! I picture the export file to be a JSON file and an "Import/Export" tab placed after "Snippets" in "Preferences". Let me know if this works. Thank you!

[2019-07-17 12:48] selfpublish commented on #2137
An alternative is to setup sync with your iCloud folder where the autosave is less obtrusive. I agree on dropbox, it's annoying when you have several devices connected to Dropbox to have it constantly syncing.

[2019-07-17 14:18] #3018 closed

[2019-07-17 14:25] Flexo013 commented on #3114
@bertomoore That sounds great! Feel free to start working on a pull request.

[2019-07-17 14:34] Flexo013 commented on #2944
I can't reproduce the issue on Linux. The note is only deleted if I click "Confirm". Clicking "Cancel" or the X just closes the pop-up.

# Environment

- Version 0.11.17
- OS: Ubuntu 16.04

---
I will test this on Windows later today.

[2019-07-17 15:12] Flexo013 commented on #2093
Opinions seem to differ a bit on the subject of this feature, so let's figure out what would make everybody happy.

Currently:
- `x` closes the program, which is expected and desired behavior for most apps.
- `-` minimizes the program to the taskbar, which again is desired behavior for most apps.

I suggest that we add a checkbox option in the preference menu along the lines of "[ ] Minimize Boost

[2019-07-17 16:21] deverob commented on #2968
Hi everyone,
I'm having the same issue on 0.11.17, Windows 7 Pro 64-bit.
Thanks,

[2019-07-17 17:04] Flexo013 commented on #2968
Like @incredibleweirdo mentioned this issue will most likely be fixed by the fix for #3018, which is merged and set to be part of the 0.12.0 release.

[2019-07-17 19:30] Flexo013 commented on #3120
Reproducible on Linux and Windows.

![image](https://user-images.githubusercontent.com/4507015/61396224-897ade80-a8c7-11e9-9477-7c592e7a5dee.png)

There is a way to still visit the link by clicking the surrounding green area (link highlight).

---

I suggest we remove the enlarging feature when an image has a link on it. If the image has no link the enlarging should work like it does now.

[2019-07-17 19:43] Flexo013 commented on #2765
Reproducible on Windows 10 with 0.11.17:

Exporting a large code block to PDF causes misalignment if the code block gets split over 2 pages *and* if at least one of the lines of the code is longer than the page width (line 8 in the example).

![image](https://user-images.githubusercontent.com/4507015/61406300-dbc5fa80-a8db-11e9-8af4-536fc0e942f9.png)

[2019-07-17 19:49] Flexo013 commented on #3053
@parthi2929 Does this solve your problem?

[2019-07-17 20:40] Flexo013 commented on #2955
When in edit mode you can lock the view so it doesn't switch to preview mode:
![image](https://user-images.githubusercontent.com/4507015/61408713-f3ec4880-a8e0-11e9-992e-2ab4bf25551e.png)

Adding this lock button on the preview mode would indeed be a nice addition.
![image](https://user-images.githubusercontent.com/4507015/61410057-dcfb2580-a8e3-11e9-9c81-31799aa68713.png)

[2019-07-17 20:43] Flexo013 commented on #2865
Works as intended. See @XarisA's comment for the solution.

[2019-07-17 20:43] #2865 closed

[2019-07-17 20:51] Flexo013 commented on #3052
Will be fixed in the next release v0.12.0.

https://github.com/BoostIO/Boostnote/pull/3048 (merged)

[2019-07-17 20:51] #3052 closed

[2019-07-17 20:53] Flexo013 commented on #3042
Fixed in next release v0.12.0.

https://github.com/BoostIO/Boostnote/pull/3048 (merged)

[2019-07-17 20:53] #3042 closed

[2019-07-17 20:59] Flexo013 commented on #3067
@rahulpathakml Can you view the pdf in another application or on a different OS?

[2019-07-17 21:02] Flexo013 commented on #2996
@roottool Was this resolved by https://github.com/BoostIO/Boostnote/pull/2983 ?

[2019-07-17 21:10] Flexo013 commented on #3019
@Ezneh Is this still occurring with v0.11.17?

[2019-07-17 21:14] Flexo013 commented on #2984
@tangjiabing Are you still experiencing this issue with the latest version 0.11.17?

[2019-07-17 21:15] Flexo013 commented on #2765
Related to: https://github.com/BoostIO/Boostnote/issues/2984

[2019-07-17 21:18] Flexo013 commented on #2984
Reproducible on Windows 10 with 0.11.17:

Exporting a large code block to PDF causes misalignment if the code block gets split over 2 pages **and** if at least one of the lines of the code is longer than the page width (line 8 in the example).

![image](https://user-images.githubusercontent.com/4507015/61406300-dbc5fa80-a8db-11e9-8af4-536fc0e942f9.png)

[2019-07-17 21:19] #2765 closed

[2019-07-17 21:24] #2932 closed

[2019-07-17 21:43] Flexo013 commented on #3124
Related to: https://github.com/BoostIO/Boostnote/issues/1356

[2019-07-17 21:52] #2475 closed

[2019-07-18 00:21] bertomoore commented on #3114
Awesome! I'll start working on this now.

[2019-07-18 05:59] neerajjain92 opened #3125 "Code Snippet background COLOR not getting retained when exported as PDF."
# Current behavior

So in the editor preview window, all looks good.

**Screenshot 1**
<img width="883" alt="Screenshot 2019-07-18 at 11 22 39 AM" src="https://user-images.githubusercontent.com/11440750/61432611-97c00d80-a94e-11e9-8557-548559b15ab6.png">

Also, the color for backtick like `some_command` looks good in the preview window
--
**Screenshot 2**
<img width="879" alt="Screenshot 2019-07-1

[2019-07-18 06:54] Ezneh commented on #3019
Yes, sadly it is still occurring.

My electron version is now: 5.0.7, boostnote on latest version as well.
Still trying to run it on Debian, as root user on xfce version 4.12.

[2019-07-18 07:24] arcturus140 commented on #3113
@kumarve sorry for the late reply. As a long time user I am perfectly fine with the current behaviour.
I am not surprised with your feedback, though. You are certainly not the first one finding the toggle modes confusing. For a first time user UX is not intuitive at all and you have to go to the settings to see which configurations are available and how to set it up.

There are plans for a new Boo

[2019-07-18 10:43] arcturus140 commented on #3125
PDF should be optimised for print, i. e. reduce colour and allow black & white prints.

[2019-07-18 11:19] Flexo013 commented on #3113
Somewhat related: https://github.com/BoostIO/Boostnote/issues/2955

[2019-07-18 11:28] Flexo013 commented on #3019
According to [this comment](https://github.com/BoostIO/Boostnote/issues/3122#issuecomment-511251856) Electron `3.0.8` should work with v0.11.17 of Boostnote. Maybe the newer versions of Electron somehow cause this issue. Could you see if the issue persists with Electron `3.0.8`?

[2019-07-18 11:29] neerajjain92 commented on #3125
@arcturus140 Okay but same is happening when exporting as `.html`

[2019-07-18 11:41] Flexo013 commented on #3030
Closing this issue as the next release 0.12.0 fixes this issue.

[2019-07-18 11:41] #3030 closed

[2019-07-18 11:45] Ezneh commented on #3019
This is still not working with version 3.0.8. But I think the issue might be from the electron side as I tried another app this week (which I guess is electron based, but didn't verify) and had the same issue.

[2019-07-18 11:46] arcturus140 commented on #3125
HTML output doesn't need to be optimized for print.

[2019-07-18 11:59] Flexo013 commented on #3045
For now we are closing this issue, since we can't reproduce this.

@AsixJin Feel free to reopen this issue if you have more information for us.

[2019-07-18 11:59] #3045 closed

[2019-07-18 12:04] Flexo013 commented on #3019
Strange... For now I will mark this as an upstream issue with Electron.

If somebody else could test running Boostnote on Debian and see if they have the same issue, then we can look into this further.

[2019-07-18 12:18] Flexo013 commented on #3004
Can't reproduce this issue on 0.11.17 of Boostnote.

@tewe Feel free to reopen this issue if you are still experiencing it on the latest version.

[2019-07-18 12:18] #3004 closed

[2019-07-18 12:35] Flexo013 commented on #2967
While it is understandable that stuff breaks if you block Boosnote's internet connection, I do agree that we should handle this problem better with some sort of nicer error message that handles this better. For example: "Error: Boostnote could not connect to GitHub!"

[2019-07-18 12:38] cxgslegend commented on #2949
Sorry, but for me, this is still an issue.

Also, I did upgrade my version to 0.11.17 before testing it again.
![Boostnote Version](https://user-images.githubusercontent.com/8932713/61457873-40627300-a937-11e9-932d-84779a67b906.PNG)

It is still doing it.
![Still A Problem](https://user-images.githubusercontent.com/8932713/61457772-0abd8a00-a937-11e9-9adf-85ab45a17b47.PNG)

[2019-07-18 12:40] Flexo013 commented on #2947
Confirmed that footnote links are not properly working on 0.11.17 on Windows 10.

[2019-07-18 12:46] Flexo013 commented on #2949
Could you upload the exported pdf here?

[test.pdf](https://github.com/BoostIO/Boostnote/files/3406524/test.pdf)

[2019-07-18 12:54] Flexo013 commented on #2918
The files are hosted on GitHub. So we can't do much more than adding other mirrors where the installers could be downloaded.

Are you having these download speed/security issues when downloading other files from GitHub?

[2019-07-18 12:59] cxgslegend commented on #2949
Sure, thanks for the help!

[Example.pdf](https://github.com/BoostIO/Boostnote/files/3406580/Example.pdf)

[2019-07-18 13:08] Flexo013 commented on #2912
For whoever wants to work on a fix for this. Here are some resources:
- <https://meta.stackexchange.com/questions/13501/links-to-urls-containing-parentheses>
- <https://blog.codinghorror.com/the-problem-with-urls/>

For people that want a quick fix in the meantime you can encode the parens:

[2019-07-18 13:20] Flexo013 commented on #2949
It seems that even though we are both using Boostnote 0.11.17 on Windows 10 it is still generating different pdf files.

[2019-07-18 13:39] arcturus140 opened #3126 "[improvement] make storage location in home folder optional"
# Current behavior

After installation boostnote automatically creates a `Boostnote` folder in the home directory. Personally I don't like that and I'd prefer Boostnote to ask for permission before doing that.

# Expected behavior

1. install Boostnote
2. launch 1st time, ask user to create a storage location (set to home directory)
    user press OK or may choose a different location

# Environme

[2019-07-18 14:25] arcturus140 opened #3127 "[bug] admonitions incorrectly displayed in HTML export"
# Current behavior

Admonitions are not displayed correctly in the exported HTML output.

![image](https://user-images.githubusercontent.com/44707562/61465379-dd410280-a96f-11e9-9479-d57cc95afb5f.png)

Related: #2083

# Expected behavior

Admonition support for HTML output.

# Steps to reproduce

1. create markdown note
2. File -> Export As / HTML
3. choose export location
4. open generated index.

[2019-07-18 14:43] arcturus140 commented on #3125
Boostnote is a note taking app it would make sense to have an optimized output for printouts. Note that PDF output removes the background and transforms white text colour into grey to prevent unreadable text.

[2019-07-18 14:58] arcturus140 opened #3128 "PDF code block blurry for colour scheme"
# Current behavior

PDF output is blurry when using the colour theme `lesser dark` for preview.

![image](https://user-images.githubusercontent.com/44707562/61468083-9f92a880-a974-11e9-8865-8cb1fe60e88e.png)

# Expected behavior

clear and readable text output.

# Steps to reproduce

1. Preferences -> Interface / Code Block Theme: 'lesser dark'
2. create new markdown note with code block
3. print

[2019-07-18 18:48] keddad opened #3129 "[bug]Text between two C++ code blocks is green"
# Current behavior

Looks like normal text between two code blocks is painted as code if code language is c++
![image](https://user-images.githubusercontent.com/34062895/61482987-5ef25980-a98b-11e9-9b93-1649c3d80ebe.png)
[Example of such a note](https://gist.github.com/keddad/0bd36c467513d4596f1918debdff6176)

# Expected behavior
Text between code blocks shouldn't be colored

# Steps to reproduce

[2019-07-19 03:03] noklam commented on #2899
@daiyam  looks like there is a fix implemented? Will this fix be merged soon?

[2019-07-19 07:22] Yablon opened #3130 "Could I get a release in which the "export pdf" is good to use ?"
I love boostnote and I use it in my daily recordings. I recommend it to my friends and some of them like it too. Thank you for your efforts.
I also use boostnote to write some unofficial documents to share with my partners, so the "export pdf" is needed. I use other tools to generate pdfs before, but I really hope that I can do that directly in boostnote.

I know the [export pdf](https://github.co

[2019-07-19 07:32] daiyam commented on #2899
@noklam sorry, I have no idea...

[2019-07-19 08:07] Flexo013 commented on #2899
I have contacted Rokt33r about the PR containing the fix. With this I expect the fix to merged in the next few days. That also means that it will be part of the next release, which should be within a week.

[2019-07-19 08:14] RaiZiStyle commented on #3023
I got the same issue, i'm on Windows 10. Boostnote 0.11.17 and both preview and text go full up. But only when i have an image.

[2019-07-19 08:27] daiyam commented on #2899
@Flexo013 great! thx

[2019-07-19 10:58] d3vnick opened #3131 "Search result highlight not removed once search bar cleared"
# Current behavior
When you clear the search bar, the highlighted results are not cleared.

# Expected behavior
If I click on the `x` in the search bar, the highlighted results should be cleared

# Steps to reproduce

0. Put the toggle view to plain text
1. Search something
2. click `x`
3. results still highlighted

# Environment

- Version : Boostnote 0.11.17
- OS Version and name : Win 10

[2019-07-19 11:28] Flexo013 commented on #3131
Duplicate of: https://github.com/BoostIO/Boostnote/issues/3111

[2019-07-19 11:28] #3131 closed

[2019-07-19 11:34] arcturus140 commented on #3129
@keddad are you referring to the markdown editor or the rendered output?

[2019-07-19 13:02] keddad commented on #3129
Yep

[2019-07-19 14:47] parthi2929 commented on #3053
yes, I was able to find here "C:\Users\your_username\AppData\Local\boost" but I prefer some obvious exe location and icon to access in any location like tray or desktop etc.

[2019-07-20 04:32] arcturus140 commented on #3049
unfortunately search and filter are global

[2019-07-20 04:40] arcturus140 commented on #3049
multiple storage locations is already supported. feature requests such as #2097 can further improve context switching. maybe other suggestions or close this issue.

[2019-07-20 15:41] hikerpig commented on #1563
Are there any followups with this issue?

[2019-07-20 15:53] tunjos opened #3132 "Remember last open note and folder"
# Current behavior

1. Boostnote currently opens the top item in the **All Notes** folder based on the current sort criteria (Update/Created/Alphabetically).

# Expected behavior

- Boostnote opens the last open note and folder instead
- This could be an option in the **Preferences**

# Steps to reproduce

1. Open Boostnote
2. Click on a Folder
3. Click on a Note and edit
4. Close Boostnote
5. Reo

[2019-07-20 19:45] kumarve opened #3134 "[feature request] shortcut with auto complete for notes interlinking"
# Current behavior
In order to link the notes, the user has to go to the information icon (i), copy the notes link and paste it on another note. This is not user-friendly.

-->

# Expected behavior
There should be a short-cut way of linking the apps. For example in Dyna list if the user types [[, it would list the available notes in a drop-down, and by selecting one of the notes from the drop-down

[2019-07-21 02:40] Flexo013 commented on #3053
Searching Boostnote within your start menu should locate it (if it doesn't then check your windows search indexing settings). From there you can choose yourself if you want a tray icon or desktop icon.

I do agree that it is quite common for installers to ask whether they should add a desktop icon, and if I remember correctly the Boostnote installer has no such feature. I will create a new feature

[2019-07-21 02:40] #3053 closed

[2019-07-21 02:47] Flexo013 opened #3135 "Add desktop icon checkbox to installer"
# Current behavior

The installer does not ask the user whether they want a 'Boostnote' icon on their desktop during installation. This practice is fairly commonplace and should help users who can't locate their Boostnote installation (like in issue #3053).

# Suggested Feature

Add a checkbox (default checked) to the installer that allows the user to select whether they want a Boostnote desktop i

[2019-07-21 13:16] hikerpig opened #3137 "Proposal: Migrating progressively to Typescript"
# boostnote ts PR

Typescript is powerful, expressive, and very good for collaborative projects. Community support and ecosystem are good for React projects.

Adding it to this codebase, may reduce typos and parameter type errors. New contributors will be a little more relaxed to modify existed code.

I assume there can be some phases for this approach.

## Phase 1

Almost painless.

1. Add a `tsc

[2019-07-21 14:23] Flexo013 commented on #3049
Duplicate of: https://github.com/BoostIO/Boostnote/issues/2263

[2019-07-21 14:23] #3049 closed

[2019-07-21 14:26] Flexo013 commented on #1563
This discussion has been open for a while and I see no comments against this improvement request. So I think at this point somebody can pick up this issue by submitting a pull request.

[2019-07-21 14:32] Flexo013 commented on #2817
Confirmed this bug. You are unable to use the numpad button in the search box.

# Environment
- Version: 0.11.17
- OS: Windows 10

[2019-07-21 14:33] Flexo013 commented on #2268
@kelvinji2009 Is this issue still present?

[2019-07-21 14:36] Flexo013 commented on #2359
Replicated this issue with 0.11.17 on Windows 10.

[2019-07-21 14:41] Flexo013 commented on #2529
Boostnote will keep whatever the current indentation level is. In other words if the line you are currently on starts with 2 spaces then hitting <kbd>Enter</kbd> will make that new line also start with to space to preserve indentation.

[2019-07-21 14:42] #2529 closed

[2019-07-21 14:49] Flexo013 commented on #2539
Confirmed that this behavior still exists in 0.11.17 on Windows 10.

Note that escaping the space to `%20` does produce a link, but it won't open the correct file.

[2019-07-21 14:49] Flexo013 commented on #2638
@luis-pato Are you still experiencing this issue?

[2019-07-21 14:50] #2659 closed

[2019-07-21 14:52] Flexo013 commented on #2659
The three way split will be possible if this feature gets implemented: https://github.com/BoostIO/Boostnote/issues/2955

[2019-07-21 14:52] daiyam commented on #2359
I agree there is an issue with the search.

With the note:
[code]

If you search:
- `the`, it find all three

[2019-07-21 14:56] Flexo013 commented on #2687
Confirmed as still present in 0.11.17 on Windows 10.

![image](https://user-images.githubusercontent.com/4507015/61592786-2abfa880-abd8-11e9-97e0-748f521090be.png)

To whoever feels like implementing this improvement we can have either 1) the scrollbar hidden when the sidebar is minimized or 2) make the minimized sidebar wider if we need a scrollbar.

[2019-07-21 14:58] Flexo013 commented on #2359
Note that the general note search does not have this problem:
![image](https://user-images.githubusercontent.com/4507015/61592850-bfc2a180-abd8-11e9-8808-ef76c6d989e9.png)

[2019-07-21 15:00] Flexo013 commented on #2705
I will investigate this issue when I am at my Linux machine again.

[2019-07-21 15:02] Flexo013 commented on #2737
@1npo Is this issue this present for you when using 0.11.17?

[2019-07-21 15:05] Flexo013 commented on #2703
Exporting a folder seems to work fine in 0.11.17 on Windows 10.

@travis23 @challman1 Can you confirm this is still an issue?

[2019-07-21 15:10] Flexo013 commented on #2780
I can't reproduce this in 0.11.17 on Windows 10.

@ymm1x Is this issue still present for you (on OSX)?

[2019-07-21 15:11] Flexo013 commented on #2608
Can't reproduce this in 0.11.17 on Windows 10.

[2019-07-21 15:11] #2608 closed

[2019-07-21 15:14] Flexo013 commented on #3129
Duplicate of: https://github.com/BoostIO/Boostnote/issues/2639

[2019-07-21 15:14] #3129 closed

[2019-07-21 15:15] Flexo013 commented on #2639
#3129 contains a nice screenshot displaying this issue clearly.

[2019-07-21 15:24] 1npo commented on #2737
@Flexo013 no, I'm not having the problem anymore in 0.11.17, but I'm running Ubuntu 18.04 on this machine now -- so I'm not sure if the problem persist on Windows.

[2019-07-21 16:03] Flexo013 commented on #2737
I am not encountering this issue anymore on Windows, so it must have been fixed by some PR in the meantime. Closing this issue.

[2019-07-21 16:03] #2737 closed

[2019-07-21 22:28] arcturus140 commented on #2539
this is unexpected, it works fine in Linus. are you sure there is an application assigned to the file extension you where using? it won't work otherwise.

[2019-07-21 22:29] arcturus140 commented on #2539
what do toy mean by the correct file is there any opened?

[2019-07-21 23:55] amedora commented on #2540
This issue should be closed by #2540, or is there something to do in addition?

[2019-07-22 00:53] amedora commented on #3137
looks promising. but,

- the devs had mentioned about "new version" of this app and they are working on it, so it will be written by TypeScript already I think.
- As a "Phase 0", that should be also worth to do to cleanup duplicated/abandoned issues/PRs and deadcode in the source tree.

just my two cents.

[2019-07-22 03:53] ZeroX-DG commented on #2540
Nope, I'll close this, thanks @amedora

[2019-07-22 03:53] #2540 closed

[2019-07-22 06:09] luis-pato commented on #2638
i have stopped using Boostnote, because without seeing the cursor it was unusable.

I have installed it again and i could now see the cursor in all themes and different zoom levels.
If no one else has had this problem, it was probably just something in my local machine or the bug was fix already!   ;)

[2019-07-22 08:19] shekar1212 commented on #2631
any update on this issue?

[2019-07-22 09:58] Wilson-He opened #3138 "Export failure"
When I export as html or pdf on Windows,it throw an error(Callback must be a function).

[2019-07-22 09:58] Wilson-He commented on #3138
version is 0.11.17

[2019-07-22 15:05] roottool commented on #2996
Sorry, I forgot to provide this information.
This bug is resolved by #2983.

## Step to reproduce

Writes the below code to the markdown note's first line in Boostnote.

[code]

## Current behavior (v0.11.16~)

The yellow underline extends to the end of the line.
The `# Tasks` line has a warning icon and a yellow underline.

## Past behavior (v0.11.15)

The yellow underline extends to the first ch

[2019-07-22 15:16] naoh40 opened #3139 "TOC generator doesn't handle the heading "X" correctly"
# Current behavior

Trivial bug: a heading `X` results in a `[X]` in the TOC section, which will be rendered as a checkbox.

# Expected behavior

I suggest this edge case be handled specially. For example, `[ X]` gives the wanted output.

# Steps to reproduce

Simply generate the TOC for `# X`:
[code]

# Environment

- Version : 0.11.17

[2019-07-22 17:50] Flexo013 commented on #2996
Thanks for the update!

[2019-07-22 17:50] #2996 closed

[2019-07-22 17:53] Flexo013 commented on #3138
This is a known bug that will be resolved in the next release (0.12.0).

Duplicated/related to: https://github.com/BoostIO/Boostnote/pull/3048

[2019-07-22 17:53] #3138 closed

[2019-07-22 17:56] arcturus140 commented on #3139
I found another edge case: `# []`

[code]

![image](https://user-images.githubusercontent.com/44707562/61653501-57e08980-acb2-11e9-882f-76b8e347ed9b.png)

# Environment

- Version: 0.11.12

[2019-07-22 17:59] Flexo013 commented on #3137
For that second point: we are working on cleaning up all the issues over the next couple weeks. If you know of any issues/PRs that can be closed, then feel free to leave a comment on them. I will then mark and close the accordingly.

[2019-07-22 18:08] Flexo013 commented on #2892
This is fixed in the next release: 0.12.0

[2019-07-22 18:08] #2892 closed

[2019-07-22 18:08] Flexo013 commented on #2638
Thanks for the information! Glad the problem is now solved :)

[2019-07-22 18:08] #2638 closed

[2019-07-22 18:12] Flexo013 commented on #2539
I can open `TestFile.txt` just fine. I am unable to open `Test File.txt` , regardless of how I format the link. Both files exist in the same directory.

[2019-07-22 18:14] Flexo013 commented on #3058
This will be part of the next release: 0.12.0

[2019-07-22 18:14] #3058 closed

[2019-07-22 18:17] Flexo013 commented on #3111
Thanks for reporting the issue and supplying the fix! It will be part of the next release 0.12.0

[2019-07-22 18:17] #3111 closed

[2019-07-22 18:21] arcturus140 commented on #2539
are you using relative path?

[2019-07-22 18:23] Flexo013 commented on #2631
It looks like the issue is still open on Electron's side, so until they fix it there isn't much we can do.

[2019-07-22 18:30] Flexo013 commented on #2539
No I am using absolute path. I have both test files in the roost on my C drive:

[code]

Only test 1 is able to open the file.

[2019-07-22 18:36] Flexo013 commented on #3127
I can't reproduce this in 0.11.15 on Windows 10 using Chrome 75.

![image](https://user-images.githubusercontent.com/4507015/61656104-43a38900-acc0-11e9-912a-7aac97f64645.png)

[2019-07-22 20:23] arcturus140 commented on #3127
In the HTML source I can clearly see `font-family: 'Material Icons';` is being used and directs to the right sources. The font is correctly being applied to the pseudo element but the font has not been found.

I can easily fix the issue by adding the googlefont to the HTML source file.

maybe you only need to update the font: https://stackoverflow.com/a/34881022/10636865

[2019-07-22 20:41] arcturus140 commented on #3127
as a side note, we should discuss  wether the Boosnote font or Google font should be used for HTML. The former cannot be used without Boostnote and the latter cannot be used without internet. Or simply add the font to the output.

[2019-07-23 00:40] amedora commented on #2015
this issue was resolved by #3037.

[2019-07-23 00:53] amedora commented on #1530
resolved by #3063.

[2019-07-23 00:54] amedora commented on #570
resolved by #3063.

[2019-07-23 01:17] amedora commented on #2556
resolved by #2998 .

[2019-07-23 02:04] kelvinji2009 commented on #2268
@Flexo013 Never show again on current latest version.

[2019-07-23 02:05] #2268 closed

[2019-07-23 04:05] onceSS opened #3140 "[BUG] Prompt update found but nothing happened"
# Current behavior

It happened just in today, after a few seconds it prompt like 'update found! downloading',
but nothing happened, and after I check the version in website, I have got the latest(0.11.17).

I see that it happened once, and seems to be fixed, but it happened again, and reinstall  does not work.

# Expected behavior

display update prompt correctly

# Environment

- Version : 0.11.

[2019-07-23 08:01] #2556 closed

[2019-07-23 08:02] #570 closed

[2019-07-23 09:48] Flexo013 commented on #2015
The fix for this will be part of the next release: 0.12.0

[2019-07-23 09:48] #2015 closed

[2019-07-23 09:55] Flexo013 commented on #3140
This is probably due to the prerelease of 0.12.0 that can be found [here](https://github.com/BoostIO/boost-releases/releases/tag/0.12.0-0). We should probably make a change to the updater that it is able to differentiate between prereleases and full releases.

[2019-07-23 10:07] tbraz commented on #2631
As of Boostnote 0.11.17 on macOS Mojave (10.14.5) I no longer have any issue with the PDF export.
It exports all the pages as expected.

[2019-07-23 18:03] Lodeiro0001 commented on #2843
Fixed in [v0.12.0-0](https://github.com/BoostIO/boost-releases/releases) 🙏 @tewe @David-Lor

Where is the binary for Windows and the description? 😶 @Rokt33r

[2019-07-23 18:12] challman1 commented on #2703
No. I was able to get it working. I'm traveling at the moment so i can't
check into what I found.

On Sun, Jul 21, 2019, 11:05 Flexo013 <notifications@github.com> wrote:

[2019-07-23 18:53] brandonfosso commented on #2373
Yeah, this is still an issue. The change for inline code is essentially invisible for dark themes and is very subtle for the default scheme.
![image](https://user-images.githubusercontent.com/7997179/61738812-ba886280-ad50-11e9-80ba-81ec09d0837f.png)
![image](https://user-images.githubusercontent.com/7997179/61738707-7f862f00-ad50-11e9-9ff7-0770e7316dc1.png)
I think even github's `coloring` is pre

[2019-07-23 18:57] AWolf81 commented on #3117
@bkielbasa your request sounds interesting. Could you please add more details about how this feature should work? I haven't used Jekyll yet as I'm working with Gatsby at the moment.

Should it work like this?
1. Add the project folder of your static site as a location to Boostnote or select create new Jekyll site.
2. Boostnote will start the static site build script and display the page in the pre

[2019-07-23 19:07] Flexo013 commented on #2843
@Lodeiro0001 This is a prerelease build for testing features before going to a full release.

As for the missing Windows binary, we are running into some build/file-size problems that we hopefully can fix in the upcoming days.

[2019-07-23 19:07] #2843 closed

[2019-07-23 19:11] Flexo013 commented on #2703
That's alright. Feel free to let us know whenever you get back from your travels.

If another user on xubuntu could let us know about the status of this that would also be sufficient to close this issue.

[2019-07-23 19:14] Flexo013 commented on #2373
Agreed that just changing the font is not enough with the default Dark settings. Something should be changed about the styling of inline code to make it more distinct.

[2019-07-23 19:32] microcreators commented on #3020
Quick comment. TOC link jumping is back in 0.12, however... :-) If the link or a header has "/" in it, it still won't jump. not a big deal, but still. Thanks!

[2019-07-23 21:38] themattgabriel commented on #3114
I currently do this manually.

I created a batch file that exports the following directories:

- Exports `%USERPROFILE%\AppData\Local\boost`
- Exports `%USERPROFILE%\Boostnote`
- Exports `%USERPROFILE%\AppData\Roaming\Boostnote`

[code]

Switching the source and destination above simple imports my preferences and notes.

## Environment

OS: Windows 10
Version: 1903

[2019-07-24 00:55] hinder90 commented on #2553
Version 0.12.0-0 on MacOS (10.14.5) continues to exhibit this behavior, though it is actually very erratic. The when checking a checkbox in Preview, the page doesn't seem to jump in a reliable manner. It doesn't appear to be relative to where the cursor is in the Editor. It seems that if you type into the editor the location of the Autoscrolling sometimes changes, but I cannot identify the pattern

[2019-07-24 01:24] hinder90 opened #3141 "Preview does not auto-scroll relative to the cursor in Editor"
# Current behavior

When editing in split-screen mode where the document is too large to fit in a single view pane of the Editor/Preview, the auto-scroll behavior is very erratic. If one attempts to perform an action on the Preview pane like checking/unchecking a checkbox, the page will "jump" ("autoscroll') to some other location, initially to the top of the page based on previous posts that stat

[2019-07-24 06:55] Flexo013 commented on #3020
This might be due to Boostnote attempting to recognize the link as a file link on your system. I'm not yet able to run 0.12 myself to confirm my suspicions.

[2019-07-24 07:03] Flexo013 commented on #3141
Thanks for creating a new issue for this problem! I currently am unable to investigate this issue further as we don't have a functional 0.12.0-0 build for Windows 10, but rest assured that we will take a look at this.

[2019-07-24 07:10] Flexo013 commented on #158
@tejado Are you still experiencing this issue?

[2019-07-24 07:21] Flexo013 opened #3142 "Introduce hotkeys for formatting"
(This suggestion was originally made by #234)

Having more keyboard shortcuts for often used actions like introducing bold would be great. These actions could all have a hotkey:
- Bold
- Italics
- Inline code
- Code block

Once this feature is implemented it would be nice to have these hotkeys also listed in the preferences so the user can configure them to their own liking.

Related to: #2645

[2019-07-24 07:31] Flexo013 commented on #234
I have created a separate issue for your first suggestion. The images are currently stored on a per note basis and we have exporting of notes available on a per folder basis. Drag & drop images is implemented.

As for the UI, the sidebar is entirely collapsible with (Ctrl/Cmd+B by default) giving you the full horizontal space of you screen.

[2019-07-24 07:31] #234 closed

[2019-07-24 07:38] Flexo013 commented on #363
We currently have a "allow dangerous HTML tags" setting. Is this sufficient to combat this behavior?

[2019-07-24 07:43] Flexo013 commented on #361
To me this feature feels too much like turning Boostnote into a all-purpose browser and not just a note-taking app.

Recently a smaller, but more appropriate issue was opened for web-related content: #3124

I'm closing this issue for now due to the low amount of comments. If you are very interested in this feature still, then feel free to reopen/comment on this issue.

[2019-07-24 07:43] #361 closed

[2019-07-24 07:44] Flexo013 commented on #445
Thanks for the report! This warning is no longer present during installation on Ubuntu.

[2019-07-24 07:44] #445 closed

[2019-07-24 07:46] Flexo013 commented on #460
This shortcut/hotkey is configurable nowadays, thus you can make it <kbd>Esc</kbd> if you prefer that.

[2019-07-24 07:46] #460 closed

[2019-07-24 07:49] Flexo013 commented on #271
If #711 gets reopened then this issue can be reopened too.

[2019-07-24 07:49] #271 closed

[2019-07-24 08:03] Flexo013 commented on #403
I'm closing this issue for now due to prolonged inactivity.

Feel free to reopen/recreate the issue if you are experiencing it.

[2019-07-24 08:03] #403 closed

[2019-07-24 08:19] Flexo013 commented on #151
@asmsuechan Is this feature still desired by you?

[2019-07-24 08:25] #1488 closed

[2019-07-24 08:27] Flexo013 commented on #1046
Can confirm that this is still the case on Windows 10.

[2019-07-24 08:52] Flexo013 commented on #302
This is a nice suggestion. Is there still a lot of interest in a feature like this?

[2019-07-24 09:02] ThaddeusJiang commented on #2944
@Flexo013 sorry for late.

the version is the same as you.

## Environments
- Version 0.11.17
- OS: MacOS 10.14.5

[![Screenshot from Gyazo](https://gyazo.com/cff57b90b50cdd91b158afc3fb48a2d2/raw)](https://gyazo.com/cff57b90b50cdd91b158afc3fb48a2d2)

[2019-07-24 09:29] tejado commented on #158
Sorry, I'm not really using Boostnote at the moment so I can't verify this. Feel free to close it.

[2019-07-24 09:31] Flexo013 opened #3143 "Styling of Storage tab in Preferences broken"
# Current behavior

Storage tab in preferences isn't displayed properly after updating to 0.12.0 (from 0.11.15).
![image](https://user-images.githubusercontent.com/4507015/61782156-def24680-ae05-11e9-9137-1dc92700630d.png)

# Expected behavior

The styling should work.

# Steps to reproduce

1. Open the preferences.
2. (Select the storage tab if needed.)

# Environment

- Version : 0.12.0
- OS Ver

[2019-07-24 09:32] #158 closed

[2019-07-24 09:34] Flexo013 commented on #2944
Then I suspect this is a MacOS only bug.

[2019-07-24 09:44] Flexo013 commented on #3074
Fixed by #3076. This is part of the 0.12.0 release.

[2019-07-24 09:44] #3074 closed

[2019-07-24 09:48] Flexo013 commented on #2899
This is fixed in the 0.12.0 release that you can download now! Thanks to #3027.

[2019-07-24 09:48] #2899 closed

[2019-07-24 10:00] Flexo013 commented on #2920
The fix for this is part of the latest release 0.12.0.

[2019-07-24 10:00] #2920 closed

[2019-07-24 10:04] Flexo013 commented on #627
This feature has been released in Dec 2017.

[2019-07-24 10:04] #627 closed

[2019-07-24 10:10] Flexo013 commented on #597
This would be really nice for more modular notes and reusing certain snippets.

A potential addition would be to allow parameters for start and end line. Thus adding the ability to only show a section of code.

[2019-07-24 10:16] Flexo013 commented on #561
<kbd>Crtl</kbd>+<kbd>W</kbd> being the close shortcut makes sense when coming from other application as @Oylex mentioned. Some of our default hotkeys are indeed based on Emacs, but not all of them.

I think allow the user to remap these hotkeys would probably be best, so every user can change them to their liking. This issue will be continued in #2645.

[2019-07-24 10:16] #561 closed

[2019-07-24 10:18] yuamera opened #3144 "Right-click copy function and right-click to switch to preview interface conflict"
# Current behavior
right-click on the note to copy and select all
Cannot switch the preview and edit  by right-click

# Expected behavior

I hope to switch the preview and edit by right-click.

# Environment

- Version : 0.12.0
- OS Version and name 🇲🇴 MacOS Mojave Version 10.14.6

[2019-07-24 10:18] Flexo013 commented on #819
This issue will be continued in #2263. As that seems to be the more popular solution of the two that you offered.

[2019-07-24 10:18] #819 closed

[2019-07-24 10:24] Flexo013 commented on #689
Confirmed that this behavior still occurs for snippet notes in 0.12.0 on Windows 10.

[2019-07-24 10:26] Flexo013 commented on #419
This issue is no longer present in the latest version of Boostnote: 0.12.0

[2019-07-24 10:26] #419 closed

[2019-07-24 10:30] Flexo013 commented on #876
@GaryFurash  Sorry for the very late response! Could you try this with the latest version of Boostnote (0.12.0) and see if the issue still exists? Thanks in advance!

[2019-07-24 10:32] #843 closed

[2019-07-24 10:36] sriharshachilakapati opened #3145 "Note editor doesn't wrap long lines in markdown"
Text is not wrapped in markdown note editor. Happening in 0.12. How to enable wrapping of text?

[2019-07-24 10:37] Flexo013 commented on #797
Yes it exists in Boostnote currently. You have the side-by-side view and the one-panel view. The one-panel view can be locked into edit mode only. Locking the preview mode is being discussed/implemented in this issue: #2955.

For now you can make the preview mode "more" read-only by customizing the settings.
![image](https://user-images.githubusercontent.com/4507015/61787291-c850ed00-ae0f-11e9-820

[2019-07-24 10:37] #797 closed

[2019-07-24 10:43] Flexo013 commented on #738
I feel like this feature should be discussed first. The current implementation allows for tags such as `#hello world`, which I could see being useful, so I wouldn't want spaces to split a tag.

As for commas I can agree that it is a very common separator and I can't think of an example tag that would benefit from containing a comma.

What are your opinions?

[2019-07-24 10:49] Flexo013 commented on #3145
Confirmed. I highly suspect something went wrong in #3063 that has affected the line wrapping of markdown notes.

@sriharshachilakapati Currently there is no way to turn it back on, sorry. You will either have to downgrade to a previous version or wait for the next release which will hopefully contain a patch for this bug.

[2019-07-24 11:09] Flexo013 commented on #3144
Confirmed this bug on Windows 10.
![image](https://user-images.githubusercontent.com/4507015/61789015-e1f43380-ae13-11e9-90ad-37053f4af220.png)
This 'Switch to Preview' setting no longer works due to the introduction of the right-click copy/select all feature. Which was introduced in #3066.

[2019-07-24 11:14] Flexo013 commented on #875
I don't see the benefit Boostnote would have from adding MinIO support.

@soakes What would be the benefits/new features that we could get here?

[2019-07-24 11:20] soakes commented on #875
MinIO is just a self-hosted version of Amazon S3.  If you support one, you support both (only difference is the endpoint and as long as you have support to change that, both are supported).

Most people these days use object store to handle these sort of files due to built-in security (SSL) and ease of implementation.

Anyways, it's only an idea :)

[2019-07-24 11:36] Flexo013 commented on #875
Nice, thanks for the suggestion! :)

[2019-07-24 11:37] Flexo013 commented on #3130
This is now released.

[2019-07-24 11:37] #3130 closed

[2019-07-24 11:38] #734 closed

[2019-07-24 11:39] Flexo013 commented on #1234
This feature is present in 0.12.0

[2019-07-24 11:39] #1234 closed

[2019-07-24 12:40] judsoniv opened #3147 "Markdown lint not working"
# Current behavior

Beginning in v0.12.0, the Markdown lint feature no longer works.

The configurations are still present, as is the configuration-options box introduced in the previous release. However, making a syntax error in your markdown to longer results in a "warning" marker in the margin.

I've attempted toggling the feature, turning on line numbers, etc., to no avail.

# Expected behavio

[2019-07-24 17:51] wluu commented on #3144
To workaround this issue, I had to manually click on the Toggle Mode to get back to my edit view:
![bug](https://user-images.githubusercontent.com/1141338/61816306-fb3fb480-ae00-11e9-852d-79201eab8b95.gif)

[2019-07-24 18:00] AnthonyWebDev commented on #3144
Yop, same issue there. On MacOs.

[2019-07-24 20:22] fsultani-aspiration commented on #3144
Same.

[2019-07-24 21:31] EKliptus commented on #344
Make a portable version with relative path for storage would be fine !
Other Electron app as Atom and VScode do it ! (https://code.visualstudio.com/docs/editor/portable)
I do not want to use Joplin (fully portable) I like Boostnote !

If Boostnote = "note taking"
And "note taking" = "everywhere"
"everywhere" => "portable"
So Boostnote must be portable!

I use boostnote on my usb key.
The major pro

[2019-07-25 01:17] sic-f commented on #840
Or to be safe and not disable this globally, you can disable for Boostnote only,  do:
`defaults write com.electron.boostnote ApplePressAndHoldEnabled -bool false`

[2019-07-25 01:55] amedora commented on #3145
sorry for the inconvenience. I hope #3150 will fix the problem.

[2019-07-25 02:09] noklam commented on #3141
same issue, the preview side always scroll up to the toc whenever you type anything.

[2019-07-25 03:17] brennaveen opened #3151 "Some editor themes do not work"
# Current behavior

Solarized dark editor theme displayed with no background color or syntax highlighting.

![Annotation 2019-07-24 221615](https://user-images.githubusercontent.com/10182193/61843289-bd727880-ae60-11e9-9377-39ecb896c602.jpg)

![Annotation 2019-07-24 221723](https://user-images.githubusercontent.com/10182193/61843335-d7ac5680-ae60-11e9-8516-8966e9622ae9.jpg)

# Expected behavior

T

[2019-07-25 03:24] hopedaili opened #3152 "相对路径添加图片失败"
markdown笔记，添加图片用绝对路径可以，但是相对路径失败

[2019-07-25 07:17] dunvit opened #3153 "Drag and drop Note to another folder not work"
# Current behavior

In 0.12.0, the drag and drop notes feature no longer seems to work. Another way move note to folder have extremely small size:

![image](https://user-images.githubusercontent.com/24303086/61853765-5d61ed80-aec5-11e9-90d4-8063c2aff98e.png)

# Expected behavior

Drag and drop notes as it did before update.

# Steps to reproduce

1. Update editor to Version 0.12.0
2. Try drag and

[2019-07-25 09:36] yace132 opened #3154 "tags with slashes fail"
# Current behavior
Tags contain `/` can't filter notes.

![圖片](https://user-images.githubusercontent.com/24620671/61862704-e6e2e100-af00-11e9-98b2-ee67be7b7f03.png)

I can't get the 4 notes which has tag `chain/`.

# Expected behavior
Get notes with tag `chain/`.

# Steps to reproduce

1. Create notes with tag contains slashes.
2. Click on that tag. It can't open notes with that tag.

# Environmen

[2019-07-25 11:16] invad0r opened #3155 "Code block containing grep pattern blanks out window"
# Current behavior
I have a shell code block with a grep regex expression:

[code]
adding another code-block above grep will blank window:

[code]
    grep "^[]"
[code]
    grep "^[]"
[code]

[2019-07-25 11:47] #957 closed

[2019-07-25 11:54] Flexo013 commented on #3147
Confirmed this issue on Windows 10.

[2019-07-25 12:04] Flexo013 commented on #3144
As a work-around you can change the setting to double click. As soon as a fix has been released you can switch it back.

[2019-07-25 12:14] Flexo013 commented on #2974
Thanks for your enthusiasm!

It would be really nice to have a portable version of Boostnote. Let's continue this on the other issue that you linked. That way we can keep everything in one place. And on top of that it already has funding 😉

[2019-07-25 12:14] #2974 closed

[2019-07-25 12:18] Flexo013 commented on #3155
Confirmed on Windows 10. Pasting the second snippet just kills the entire UI/app.

[2019-07-25 12:40] Flexo013 commented on #3151
I have checked all editor themes and the following do not work in version 0.12.0:
- `ambiance-mobile`
- `solarized dark`
- `solarized light`

[2019-07-25 12:41] Flexo013 commented on #3152
@hopedaili Please report issues in English.

Google translate: 请用英语报告问题。

[2019-07-25 12:53] Flexo013 commented on #2140
@modmod24 The version is now available in the Help menu under About:
![image](https://user-images.githubusercontent.com/4507015/61875915-f146b000-aeeb-11e9-8dea-d237e23c8b8c.png)
![image](https://user-images.githubusercontent.com/4507015/61875934-fe639f00-aeeb-11e9-9d33-753b95ec0310.png)

[2019-07-25 13:28] arcturus140 opened #3156 "[improvement] multiple selection of tags in"
# Current behavior

Clicking on a tag in a markdown note shows all notes with this tag in the sidebar.

![image](https://user-images.githubusercontent.com/44707562/61877579-2e5c7380-aee7-11e9-97b4-15d594952d53.png)

# Expected behavior

Allow to filter notes by multiple tags using `ctrl + mouse click` on tags in markdown note.

![image](https://user-images.githubusercontent.com/44707562/61877734-8

[2019-07-25 13:41] Flexo013 commented on #1798
This issue and https://github.com/BoostIO/Boostnote/issues/2140 are concerning the same problem. Since the other issue already has funding.

Feel free to continue any discussion over there, and potentially upvote the other issue as well to show your interest in this feature.

[2019-07-25 13:41] #1798 closed

[2019-07-25 13:47] Flexo013 commented on #3156
The current behavior you are listing doesn't work for me on 0.12.0. I'll create a new issue for this.

[2019-07-25 13:52] Flexo013 opened #3157 "Clicking tags does not switch to the tags in sidebar"
# Current behavior

Nothing happens when clicking a tag of a note.

# Expected behavior

Clicking a tag should take you to the tag filtering sidebar. (As listed in this issue #3156.)

# Steps to reproduce

1. Add a tag to a note
2. Press <kbd>Enter</kbd>
3. Click the tag

# Environment

- Version : 0.12.0
- OS Version and name : Windows 10

[2019-07-25 16:57] arcturus140 opened #3158 "<details></details> with empty line are not working on 0.12.0"
# Current behavior

[code]
is ok (appropriately collapsed) but

[code]

is not working.

Related: #1674

# Expected behavior

support empty lines between `<details>` and `</details>`

# Steps to reproduce

1. create markdown note
2. insert above HTML
3. compare 1st and 2nd in the preview

# Environment

- Version : 0.12.0
- OS Version and name : 16.04 Ubuntu

[2019-07-25 17:06] arcturus140 commented on #3156
@Flexo013 this requires some settings in Preferences: Show only related tags

I wanted to mention that earlier but I couldn't remember which setting that was, sorry ;(

[2019-07-25 17:07] arcturus140 commented on #3157
this is working in 0.12.0, can be closed

[2019-07-25 17:34] Flexo013 commented on #3157
On my Windows 10 machine it does not work for 0.12.0.

@arcturus140 What OS are you using?

[2019-07-25 17:35] fsultani-aspiration commented on #3144
`ctrl + click` on Mac still seems to work.

[2019-07-25 17:38] Flexo013 commented on #3156
Even with that setting enable this feature does not seem to work on Windows 10.

[2019-07-25 18:06] #2894 closed

[2019-07-25 18:14] Flexo013 commented on #1547
Let's continue this discussion in #1250.

[2019-07-25 18:14] #1547 closed

[2019-07-25 18:25] Flexo013 commented on #2297
Let's continue this feature request over here: #1250

[2019-07-25 18:25] #2297 closed

[2019-07-25 18:36] Flexo013 commented on #993
This can only really be implemented if we have an easy way of syncing notes remotely, in such a way that a Google Chrome plugin can submit more notes or potentially edit existing ones.

I'm closing this issue for now as there has been very little activity and that this will have to wait quite some time on other features.

@simojun Feel free to recreate/reopen this issue if you still want this feat

[2019-07-25 18:36] #993 closed

[2019-07-25 18:37] Flexo013 commented on #930
This bug no longer occurs on 0.12.0.

[2019-07-25 18:37] #930 closed

[2019-07-25 18:38] Flexo013 commented on #927
This bug is no longer present in 0.12.0.

[2019-07-25 18:38] #927 closed

[2019-07-25 20:16] Flexo013 commented on #917
The width of the editor with your suggestion and current situation is the same, So I don't quite see this being very useful. The buttons at the top are tabs which change the entire view as opposed to splitting the view to have multiple notes adjacent to each other.

Feel free to reopen this issue if you still feel the need for such a ui change/option.

[2019-07-25 20:16] #917 closed

[2019-07-25 20:50] EnglicGud opened #3159 "Boostnote blanking with "href" in an element"
# Current behavior

The problem is that Boostnote blanks the window if this is typed into a note  (except the menu at the top):

`<a href><`
or this
`<a href></a>`

(`href `without `=""`)

As long as href is in the element it will cause Boostnote to blank the window.

For now, I got around it by going into the file and changing `href` to `href=""` and clicking wildly, when it's starting, where ano

[2019-07-25 21:41] themattgabriel opened #3160 "Sorting selected lines"
# Current behavior

unable to sort lines in editor

# Expected behavior

- sort lines using a keyboard shortcut or by clicking on the *File* menu
- sort lines in ascending/descending order

# Steps to reproduce

1. Highlight text that are in different lines.
2. Sort lines by:
    - pressing a keyboard shortcut (e.g., F9)
    - going to *File* in the menu bar and hovering over *Sort Lines* and a me

[2019-07-25 21:54] themattgabriel opened #3161 "[Feature Request] Left-click on line number highlights/selects the entire line"
# Current behavior

unable to highlight/select line(s) by left-clicking on the line number

# Expected behavior

- a single left-click on the line number would highlight entire line
- a single left-click while dragging the mouse pointer on other line numbers would highlight those lines as well

# Steps to reproduce

1. Open note or snippet.
2. Hover over any line number.
3. Left-click on the line

[2019-07-25 22:14] themattgabriel opened #3162 "[Feature Request] Add option for add-ons/extensions/plug-ins"
# Current behavior

There are currently no options for users to manually add or remove add-ons/extensions/plug-ins.

# Expected behavior

## Advantages of having add-ons

- add-on and extension creators can maintain code in their own repos as long as they use a template to maintain uniformity alongside other add-on creators
- users have the option whether to add/remove based on use case
- the star

[2019-07-25 22:20] themattgabriel commented on #3143
![screenshot](https://user-images.githubusercontent.com/51425211/61912570-5c45b600-aeef-11e9-8b78-d3050da0785d.png)

# Environment

- Boostnote Version: 0.12.0
- OS: Windows 10
- Version: 1903

[2019-07-25 22:45] arcturus140 commented on #3157
Linux Ubuntu

[2019-07-25 22:50] #3123 closed

[2019-07-25 22:55] Rokt33r commented on #3145
#3150 has been merged!

[2019-07-25 22:55] #3145 closed

[2019-07-25 23:12] themattgabriel opened #3163 "Clicking on Check boxes and footnotes take you back to the very top of the note"
# Current behavior

## Checkbox

- While in preview mode, checking/unchecking items takes you back to the beginning of the note

![Boostnote 2019-07-25 15-39-49](https://user-images.githubusercontent.com/51425211/61913901-78e3ed00-aef3-11e9-83d4-29c3a1cec03f.gif)

### Console Output
![Annotation 2019-07-25 155246](https://user-images.githubusercontent.com/51425211/61914110-44246580-aef4-11e9-9fe0-

[2019-07-26 01:54] Rokt33r commented on #3155
https://github.com/BoostIO/Boostnote/pull/3149/files is fixing this problem. It will be shipped tomorrow.

[2019-07-26 01:54] #3155 closed

[2019-07-26 02:30] ThaddeusJiang opened #3164 "Chinese characters are not highlighted by search queries"
# Current behavior

can't highlight search word(Chinese)
[![Screenshot from Gyazo](https://gyazo.com/e155c4e4810aeb98703598093f7a8108/raw)](https://gyazo.com/e155c4e4810aeb98703598093f7a8108)

# Expected behavior
The same as the English word.

[![Screenshot from Gyazo](https://gyazo.com/3d901ce156d9650b58d01d13a13dee9d/raw)](https://gyazo.com/3d901ce156d9650b58d01d13a13dee9d)

# Steps to reproduce

[2019-07-26 02:50] Rokt33r commented on #3143
Fixed by https://github.com/BoostIO/Boostnote/pull/3165
<img width="724" alt="Screen Shot 2019-07-26 at 11 49 20" src="https://user-images.githubusercontent.com/5865853/61922461-7e950d80-af9b-11e9-8453-bb59ea5930a2.png">

[2019-07-26 02:50] #3143 closed

[2019-07-26 03:06] Rokt33r commented on #3151
It seems to be fixed now in master branch. I'm going to release v0.12.1 today or tomorrow!

[2019-07-26 03:12] Rokt33r commented on #3151
Sorry, it isn't working in Windows only. I'll investigate it.

[2019-07-26 04:29] yakuns commented on #3154
I ran into a similar problem, but the tag ends with + (to be exact, the tag is C++)

[2019-07-26 04:49] #3151 closed

[2019-07-26 04:50] Rokt33r commented on #3151
Fixed! Will be shipped today or tomorrow!!

[2019-07-26 07:38] hikerpig commented on #3137
Oh I've just found the repo for renewal version [boost](https://github.com/BoostIO/boost).Completely rewritten in Typescript and has some big architectural changes. But it seems to be at an early prototype stage, and development is kind of held up, all the best wishes with Rokt33r  🍺 .

Back to this issue, since this repo may still exist for a long time, I think phase 1 may be worth a try.

[2019-07-26 07:45] hikerpig commented on #3164
Something seems went wrong with 0.12.0,  maybe you should try [v0.12.1-1](https://github.com/BoostIO/boost-releases/releases/tag/v0.12.1-1)

[2019-07-26 08:13] manuel-koch opened #3167 "note attachment folders are not cleaned up"
# Current behavior

Creating a new note, adding one attachment file, re-edit note remove the attachment-link, attachment file in storage is removed but the parent directory is still there.

I have now several of those empty attachment folders in my storage-location.

# Expected behavior

I guess the attachment-folder is per note, thus if a note has no more attachments, then I would expect that fol

[2019-07-26 15:48] christopherMills commented on #2886
For me, as soon as images are added, the preview pane lags behind the editor pane. In other words, you can be writing on the final line of the editor pane, but the preview pane will be focused on somewhere above that.

The only temporary fix is to escape the image tags in the .md and unescape when you're finished editing the file.

[2019-07-26 17:33] guanqun-yang opened #3169 "Text exceeds current input window"
# Problem

In the latest version of BoostNote (0.12.0), when contents are entered in the text input window (left), they always exceed the border and this makes it difficult to make updates to contents. In this following example, "independent thinking" does not automatically go to the second line but continue in the first line instead. At the same, since the observation that the scroll bar is not p

[2019-07-26 18:16] Flexo013 opened #3170 "Tags containing '% 'character crashes entire UI"
# Current behavior

Create a tag containing the `%` character and the entire UI crashes.

# Expected behavior

No UI crash and a working tag.

# Related issue

#3154

# Environment

- Version : 0.12.0
- OS Version and name : Windows 10

[2019-07-26 18:19] Flexo013 commented on #3154
I have edited the original issue to include a few more characters that cause this issue.

[2019-07-26 22:50] arcturus140 commented on #738
same note might as well be tagged with #hello #world, with I would consider better practice. I have concerns about backward compatibility for some users, though.

[2019-07-26 23:04] arcturus140 commented on #151
2 out of 3 functions are already supported

[2019-07-26 23:24] Flexo013 commented on #2886
@MaaadMax @christopherMills Is the issue still present as described in the original post or has that been fixed? I recall that one of the more recent builds had a fix for the scrolling to the top problem when images were present.

As for the lagging behind: Maybe this is worth its own separate issue; even though both issues are related to images and scrolling. I suspect that jumping to the beginni

[2019-07-26 23:24] unijad commented on #3119
@ZeroX-DG yo bro, should i tackle this one ?
I think we should add key mapping to the preferences, then add it to CodeMirror custom mapping

[2019-07-26 23:27] Flexo013 commented on #3169
The scrollbar being gone is indeed a problem caused by the update to 0.12.0. The hotfix for this should come out today or tomorrow. So keep an eye out for that.

Duplicate of: https://github.com/BoostIO/Boostnote/issues/3145

[2019-07-26 23:27] #3169 closed

[2019-07-26 23:31] aakbar5 opened #3171 "Feature: Adding custom word to dictionary"
Boostnote should have an option to add custom word to a dictionary.
Currently it simply shows cut, copy, paste and select all options on finding wrong spelling.

[2019-07-26 23:32] Flexo013 commented on #151
As @arcturus140 pointed, the only thing that isn't present currently is pagination.

@asmsuechan If you would really like this feature then feel free to open up a new issue with the feature request (preferably mentioning this issues number 151).

[2019-07-26 23:32] #151 closed

[2019-07-27 00:07] Flexo013 commented on #3119
@unijad It would be totally awesome if you could work on making more hotkeys configurable in the preferences. I'd suggest taking a look at this issue https://github.com/BoostIO/Boostnote/issues/2645 if you want to go that route.

Both adding an init script and adding more key remapping would solve the issue of @StevenJL , but an init script could be nice for other features. So it's probably best t

[2019-07-27 00:19] Flexo013 commented on #3171
Thanks for giving the spellchecker a try! As listed in the preferences menu when enabling the spellchecker, the feature is currently very experimental.

This feature will definitely be implemented as further work on the spellchecker feature gets done.

[2019-07-27 00:21] Flexo013 commented on #76
Related feature suggestion: #3171

[2019-07-27 00:23] incace commented on #3020
This appears to be fixed in 0.12.1-1. Even links with / in it work at least on my end.

[2019-07-27 00:26] Flexo013 commented on #3164
Added the `needs investigation` label to check if this is still present in 0.12.1, when it is fully released.

[2019-07-27 00:26] incace commented on #3157
Does not work for me in 0.12.1-1 on Mac.

[2019-07-27 00:32] Flexo013 commented on #833
I will close this issue for now as you can add your own custom css from the preferences.

@prat0318 If you feel like something more has to happen with this issue, then feel free to reopen/recreate an issue.

[2019-07-27 00:32] #833 closed

[2019-07-27 00:34] Flexo013 commented on #807
Let's continue this issue over here: #2645

[2019-07-27 00:34] #807 closed

[2019-07-27 00:37] Flexo013 commented on #1134
I will close this issue for now as you can add your own custom css from the preferences.

@ITProKyle If you feel like something more has to happen with this issue, then feel free to reopen/recreate an issue.

[2019-07-27 00:37] #1134 closed

[2019-07-27 00:38] Flexo013 commented on #591
I will close this issue for now as you can add your own custom css from the preferences.

@luxcem If you feel like something more has to happen with this issue, then feel free to reopen/recreate an issue.

[2019-07-27 00:38] #591 closed

[2019-07-27 00:42] Flexo013 commented on #1110
In the latest version of Boostnote you can add a timestamp by pressing <kbd>Ctrl</kbd>+<kbd>/</kbd> for just the date, and if you also hold <kbd>Shift</kbd> then it will add the time too.

[2019-07-27 00:42] #1110 closed

[2019-07-27 00:47] Flexo013 commented on #1080
Thanks for your suggestion!

We are currently looking at solidifying the release and pre-release process of Boostnote. I like your suggestion of having an easy accessible nightly build.

I'm not quite sure if Boostnote is big enough to warrant such a feature. But giving everybody access to a latest version, with features that will be part of the next release, is part of the plan.

[2019-07-27 00:47] #1080 closed

[2019-07-27 00:52] Flexo013 commented on #987
Since #1057 was fixed I will assume this was fixed too.

If it wasn't then feel free to reopen the issue.

[2019-07-27 00:52] #987 closed

[2019-07-27 01:14] Flexo013 commented on #1277
I will close this issue for now as you can add your own custom css from the preferences.

@jasondavis If you feel like something more has to happen with this issue, then feel free to reopen/recreate an issue.

[2019-07-27 01:14] #1277 closed

[2019-07-27 01:49] incace commented on #2525
I was just about to post up a new issue regarding this. It would be really easy just to add a class to the generated UL that way we could control it in preview mode with the custom CSS box on the interface settings. I was looking to create a fixed/floating TOC via CSS with this method but there is no way to target the TOC without breaking some other styling. You can try and select it via nth-child

[2019-07-27 02:44] Rokt33r commented on #3170
It seems to be fixed in the current master branch. :)
<img width="1689" alt="Screen Shot 2019-07-27 at 11 43 31" src="https://user-images.githubusercontent.com/5865853/61988960-d1d29300-b063-11e9-8f44-239348dc6d08.png">

[2019-07-27 02:45] Rokt33r commented on #3170
Ah the bug is happen when I clicked the tag containing `%`.

[2019-07-27 06:04] incace opened #3172 "Add class to generated TOC <ul>"
This was brought up a while back, but the issue was closed so here's a new request. It would be really easy just to add a class to the generated UL that way we could control it in preview mode with the custom CSS box on the interface settings. I was looking to create a fixed/floating TOC via CSS with this method but there is no way to target the TOC without breaking some other styling. You can try

[2019-07-27 06:05] incace commented on #3172
Basic duplicate of #2525

[2019-07-27 06:41] incace commented on #3172
Here's an example of an implementation I mocked up in the last few hours:

![Boostnote-floatingTOC-optimized](https://user-images.githubusercontent.com/61343/61990965-18de6b00-b007-11e9-83ea-bde7b90647d4.gif)

[2019-07-27 09:30] hikerpig commented on #2838
In my experience, this happens when there is no focus in neither the editor nor the preview. Click at
 the desired area to make it focused, and [Cmd+A] will work perfectly

[2019-07-27 12:04] Flexo013 commented on #3172
I really love this suggestion of having a separate TOC box like that.

@incace Would you be willing to provide your work as a PR, and then we move from there?

[2019-07-27 12:12] Flexo013 commented on #377
This is now being resolved in #3104

[2019-07-27 12:14] Flexo013 commented on #3147
Confirmed for 0.12.1

[2019-07-27 12:17] Flexo013 commented on #3020
TOC's are working in the latest release (0.12.1)

[2019-07-27 12:17] #3020 closed

[2019-07-27 12:22] Flexo013 commented on #2838
@fortael Can you confirm that @hikerpig's suggestion is correct?

[2019-07-27 12:30] Flexo013 commented on #1071
@rolandjohann How is your implementation coming along? If you are ready to submit a PR, then please do 😄

I also wanted to double check exactly what you had in mind for this new feature. Would it be something like this:
- I have one main note in which I want to link to subsequent notes.
- I types something that returns a list of notes, like `[notes:'/Day.*/']`. For exaple regex on the note title.

[2019-07-27 12:39] Flexo013 commented on #1059
I can import notes fine using 0.12.1 on Windows 10.

@GaryFurash If you are still experiencing this issue then feel free to open a new issue for the problem.

[2019-07-27 12:39] #1059 closed

[2019-07-27 12:41] Flexo013 commented on #1148
I'm closing this issue do to prolonged inactivity.

If you still are experiencing this problem then feel free to reopen this issue or create a new issue with all the relevant information.

[2019-07-27 12:41] #1148 closed

[2019-07-27 12:44] Flexo013 commented on #1195
@kun-zhou Are you still experiencing this issue?

[2019-07-27 12:55] Flexo013 commented on #1228
I love the sound of this idea! To expand on this a little bit more we could do the following:

- First show notes that have the search term in their titles.
- Second show notes that the search term in their tags.
- And third show notes that have the search term somewhere in their content.

@brpaz What do you think of that?

[2019-07-27 13:04] Flexo013 commented on #1208
The idea of having some syntax that would allow for collection all task in some master to-do note sounds nice. I feel like such a master note could quickly become disorienting and chaotic, but depending on how the user has their notes this can differ.

This might be slightly related to this issue #1071 as both would like automatic content based on other notes.

[2019-07-27 13:05] Flexo013 commented on #1091
This is no longer an issue in 0.12.1.

[2019-07-27 13:05] #1091 closed

[2019-07-27 13:11] Flexo013 commented on #1276
In the latest version of Boostnote you can export entire storage or just folders. This way they can be imported at a later date.

Also you can using something like MEGA or Dropbox to put your storage directory in the cloud. Thus allowing for syncing and reducing the chances of data loss immensely.

[2019-07-27 13:11] #1276 closed

[2019-07-27 13:14] Flexo013 commented on #299
I'm checking the AUR right now and it seems to be down, so I can't see when it was last updated.

Feel free to reopen this issue if the AUR still needs updating.

[2019-07-27 13:14] #299 closed

[2019-07-27 13:28] Flexo013 commented on #375
@NicoHood Feel free to open a new issue on the addition of GPG signatures. That way we keep everything nice and organized.

[2019-07-27 13:28] #375 closed

[2019-07-27 13:54] Flexo013 commented on #977
This is now working. `#` style comments are properly highlighted if you preface the code block with `mysql` as opposed to `sql`.

[2019-07-27 13:54] #977 closed

[2019-07-27 13:59] Flexo013 commented on #1281
The current method of being able to copy an entire code block seems sufficient in most cases.

Would it be nice if there was a hotkey that just straight up copied the first code block it found? Pressing that again would instantly copy the second code block and so on.

[2019-07-27 14:02] Flexo013 commented on #1314
This seems to be working fine in the latest version of Boostnote:

![image](https://user-images.githubusercontent.com/4507015/61995373-f5a7d000-b087-11e9-9e86-646bb05abecf.png)

[2019-07-27 14:02] #1314 closed

[2019-07-27 14:21] unijad commented on #3119
looks neat, and if we do it as in VScode would look great and be super handy, I'll tackle it on

[2019-07-27 16:00] Flexo013 commented on #1174
In the latest version the scrollbars are all fixed.

[2019-07-27 16:00] #1174 closed

[2019-07-27 16:02] Flexo013 commented on #1330
Installing a new version of Boostnote while Boostnote is running will now be properly handled.

If you still are experiencing this problem then feel free to reopen this issue or create a new issue with all the relevant information.

[2019-07-27 16:02] #1330 closed

[2019-07-27 16:11] Flexo013 commented on #125
There were many ideas thrown around in this thread/issue, but it's hard for these to be picked up by devs when they are scattered through a long thread.

Let's make this issue focused on "Subfolders" as they seem the most popular of the features.

@artdevjs  @UltraG33k @orlando
Feel free to open separate suggestions/issues for the other features that you suggested!

[2019-07-27 16:14] Flexo013 commented on #586
To help organize the efforts of people implementing this feature, let's continue on this other issue: #125

[2019-07-27 16:14] #586 closed

[2019-07-27 16:16] Flexo013 commented on #1789
And also a duplicate of #125

[2019-07-27 16:16] #1789 closed

[2019-07-27 16:17] Flexo013 commented on #1518
This feature will be continued on #125.

[2019-07-27 16:17] #1518 closed

[2019-07-27 16:18] Flexo013 commented on #1322
This comes down to adding subfolders with notes in them, so let's continue this in #125

[2019-07-27 16:18] #1322 closed

[2019-07-27 16:20] Flexo013 commented on #1910
This has already present in the latest version of Boostnote.

[2019-07-27 16:22] Flexo013 commented on #2882
@Dene33 Would this feature still be needed if subfolders were implemented?

[2019-07-27 16:25] Dene33 commented on #2882
@Flexo013 Definitely! Tabs are really great.

[2019-07-27 16:28] Flexo013 commented on #3108
Importing all notes from a folder is a good feature. Once subfolders ore implemented by #125 then this can also be used in this importing feature.

[2019-07-27 18:08] orlando commented on #125
Sorry this took so long that I switched to Notion. I won’t be able to work on this.

[2019-07-27 19:57] Flexo013 commented on #125
@orlando Understandable.

[2019-07-27 21:08] incace commented on #3172
@Flexo013 sure, but I want to clean it up a bit first. I probably won't be able to get back to this until end of next week. I'll see if I can work out a global style that matches each theme, otherwise I'll just do separates.

Also, for reference I've only added the CSS to the custom CSS box within the Interface settings and haven't messed with any core files. If this would be pushed into a release

[2019-07-27 21:35] Flexo013 commented on #3172
@incace There's no rush with making the PR, take your time 😄

As for the location, I'm not quite sure about that. Once you submit a PR the reviewer can point you to the right location.

[2019-07-27 21:50] Flexo013 commented on #1335
I think that this was fixed when we updated our version of KaTeX.

This looks good to me:
![image](https://user-images.githubusercontent.com/4507015/61999796-45f35200-b0c9-11e9-87ab-812b28777127.png)

[2019-07-27 21:50] #1335 closed

[2019-07-27 21:52] Flexo013 commented on #1035
Is this still an issue @albertoarmida ?

[2019-07-27 21:59] Flexo013 commented on #1089
I can't reproduce this.

@brpaz If you still experience this issue then feel te either reopen this issue or make anew one.

[2019-07-27 21:59] #1089 closed

[2019-07-27 22:02] Flexo013 commented on #3164
Confirmed to still be present in 0.12.1 on Windows 10

[2019-07-27 22:05] Flexo013 commented on #3159
Confirmed for 0.12.1 on Window 10.

[2019-07-27 22:11] Flexo013 commented on #3128
Can't reproduce this using 0.12.1. @arcturus140 Can you?

[2019-07-27 22:15] Flexo013 commented on #3101
@dayfuaim Do you still have these errors when using 0.12.1?

[2019-07-27 22:19] Flexo013 commented on #3060
This problem is fixed in the 0.12.1 release.

[2019-07-27 22:21] Flexo013 commented on #3122
@Redsandro  Is this still happening with 0.12.1?

[2019-07-27 22:22] Flexo013 commented on #2807
@itouri Are you still experiencing this issue?

[2019-07-27 22:25] Flexo013 commented on #2607
@Caspercode444 Is this still happening with 0.12.1?

[2019-07-28 00:36] sirrah23 commented on #3060
# This is still an issue

Hi @Flexo013 . I can still reproduce this issue with the new v0.12.1 release.

## Steps to reproduce

Here's what I did in order to reproduce this issue independently (note that there's overlap here with what @Zorlin has already done):

1. Download and install Boostnote v0.12.1
2. Open Boostnote and create a new markdown note containing a TOC and eight headers
3. Export t

[2019-07-28 02:47] zzxxhhzxh opened #3174 "Can not drag one note to another note folder"
# Current behavior
Can not move a note to another note folder by  dragging it. But in previous version it's fine. And there is not a option for moving notes in left click menu.

# Expected behavior
Can move a note to another note folder by  dragging.

# Steps to reproduce
Choose a note and drag it.

# Environment

- Version : 0.12.1
- OS Version and name : Windows 10 pro 64bit 1903

[2019-07-28 04:22] Rokt33r commented on #1910
changing order for **storage** is not implemented yet!

[2019-07-28 07:05] varad6771 opened #3176 "Real Time Md Preview"
# Current behavior
A right side pane displays the Preview of markdown content in the left pane.
Instead, if the live previews could be generated in the same (writing) pane (left one), IMHO it would be far more intuitive, for newbies and pros alike. That is not to suggest the removal of current side pane, it is immensely useful in many cases. But just an optional feature, if feasible.

# Expected b

[2019-07-28 08:13] albertoarmida commented on #1035
Yes, I still have the problem.

[2019-07-28 08:25] hikerpig commented on #3023
I've done some digging and found it is caused by this [line](https://github.com/BoostIO/Boostnote/blob/master/browser/components/MarkdownPreview.js#L957).

The initial commit message c667e1465d755d843f4ffd99b3d2cc4cc05a3382 explains the purpose and it's ok then. But some time after that, the code got moved around and becoming buggy.

I will make a PR to fix this

[2019-07-28 11:49] christopherMills commented on #2886
Yes it's still an issue - I am using the 0.11.17 version, which is the latest one on the Ubuntu software app store. I realise there's a later version but it hasn't appeared on my system yet

[2019-07-28 12:01] christopherMills commented on #2886
@MaaadMax I was on version 0.11.something (the version on Ubuntu Software App Store is out of date), now installed version 0.12.1 and it presents exactly the same behaviour.

[2019-07-28 12:47] christopherMills commented on #2886
@Flexo013  I _was_ on version 0.11.something (the version on Ubuntu Software App Store is out of date), now installed version 0.12.1 and it presents exactly the same behaviour. Shucks.

I use 200% scaling (HiDPI monitors) and initially thought that might be the issue but it also persists when the Ubuntu system scaling is set to 100%. It also persists when I am undocked and using just my ThinkPad's

[2019-07-28 14:16] v5pingan opened #3178 "Exporting to PDF contains opportunities for XSS attacks"
# Current behavior

Notes Exported to PDF Format Is Existing XSS Attacks.

# Expected behavior

Notes Exported to PDF Format Is Existing XSS Attacks.

When there is a code in the note:

\``` JavaScript
% 3Cscript%3Ealert('XSS')%3C/script%3E
\```

XSS attacks are triggered when the export PDF function is reused.
![xss-payload1.png](https://i.loli.net/2019/07/28/5d3dacfe8b00798461.png)

# Steps to r

[2019-07-28 16:48] Flexo013 commented on #3060
My apologies for closing the issue prematurely. It is now reopened.

Awesome that you can a PR with a fix ready soon 😄

[2019-07-28 17:01] Flexo013 commented on #3176
Nice suggestion! You can find the original suggestion here #2927

[2019-07-28 17:01] #3176 closed

[2019-07-28 17:13] Flexo013 commented on #2927
This issue and #236 are requesting the same feature. Let's pool our efforts over there.

[2019-07-28 17:13] #2927 closed

[2019-07-28 17:15] Flexo013 commented on #2927
@Godopu we will move your funding over to the other issue, so that it gets added together.

[2019-07-28 17:17] Flexo013 commented on #1716
This will probably be fulfilled by this new feature from this issue: #3172

[2019-07-28 17:18] Flexo013 commented on #1109
This will probably be fulfilled by this new feature from this issue: #3172

[2019-07-28 17:29] Flexo013 commented on #1035
Are you syncing just the the `notes` folder or the folder containing `notes/`, `attachtments/`, and `boostnote.json`?

[2019-07-28 17:41] Flexo013 commented on #2886
The PR #3177 should fix the scrolling to the beginning of the note. I will do some more investigating into the scrolling desync issue once I get back to my desktop.

[2019-07-28 17:44] Flexo013 commented on #1336
I don't use the light theme myself, but I agree that the contrast on the menus is a little lacking:
![image](https://user-images.githubusercontent.com/4507015/62010843-13506480-b170-11e9-850f-7d8a41ecf1b7.png)

[2019-07-28 17:48] Flexo013 commented on #388
I think that this was fixed when we updated our version of KaTeX.

This looks good to me:
![image](https://user-images.githubusercontent.com/4507015/61999796-45f35200-b0c9-11e9-87ab-812b28777127.png)

[2019-07-28 17:48] #388 closed

[2019-07-28 17:58] Flexo013 commented on #1372
This bug is no longer present in the latest version of Boostnote.

[2019-07-28 17:58] #1372 closed

[2019-07-28 18:00] Flexo013 commented on #1381
This feature is present in the current version of Boosnote. There is a link you can copy, so you can paste it in other notes to link between notes.

[2019-07-28 18:00] #1381 closed

[2019-07-28 18:06] dayfuaim commented on #3101
@Flexo013 No, in 0.12.1 there's no issue.

We can close this, I think.

[2019-07-28 18:28] Flexo013 commented on #1377
All these scenarios seem to render properly if you add clear newlines indicating start and end of code blocks. Additionally you should keep in mind that the first group of characters after the start of a code block are not displayed as this is the language of the mode block.

For this reason the `$` is not displayed in this screenshot.
![image](https://user-images.githubusercontent.com/4507015/620

[2019-07-28 18:28] #1377 closed

[2019-07-28 18:29] #3101 closed

[2019-07-28 18:29] Flexo013 commented on #3101
Thanks for the info!

[2019-07-28 18:31] Flexo013 commented on #1360
Sorry that this has gone unnoticed for such a long time.

Is this issue still present in the latest version of Boostnote?

[2019-07-28 18:33] dakira commented on #1148
@Flexo013 What activity do you expect? Two people reported a bug and never heard back from the developer. I even posted a screenshot. :)

[2019-07-28 18:34] Flexo013 commented on #1285
Adding more tests is definitely a good idea. If there are pieces of code that you would like to see tests on then you are free to write them and submit PRs for them.

Alongside that you can also frequently check in on open PRs if there is code that should ideally have tests. If you find that it is present then you can post that on the PR.

[2019-07-28 18:34] #1285 closed

[2019-07-28 18:37] Flexo013 commented on #1148
Apologies for that. OSS sometimes has this problem were it is unclear who is responsible for what.

As for the issue you reported, I don't it occurs anymore as one default storage location is created upon installation and I couldn't find any issues with creating new storages elsewhere.

Is the issue still present for you? @dakira?

[2019-07-28 18:38] Flexo013 commented on #1398
This feature is present in the current version of Boostnote as #1418 was merged.

[2019-07-28 18:38] #1398 closed

[2019-07-28 18:42] Flexo013 commented on #1388
The green notification is no longer used for announcing new version, so adding logic to compare it to the current installed version isn't quite needed anymore.

If the notification will be used for this in the future then this will have to implemented before such notifications can be made.

[2019-07-28 18:42] #1388 closed

[2019-07-28 18:44] Flexo013 commented on #1435
The green notification is no longer used for announcing new version, so adding logic to compare it to the current installed version isn't quite needed anymore.

If the notification will be used for this in the future then this will have to implemented before such notifications can be made.

[2019-07-28 18:44] #1435 closed

[2019-07-28 18:47] Flexo013 commented on #1303
Does the `.exe` file from [here](https://github.com/BoostIO/boost-releases/releases/latest) not work on 32-bit Windows machines?

https://github.com/BoostIO/boost-releases/releases/latest

[2019-07-28 18:48] Flexo013 commented on #1440
@luispastendev Are you still experiencing this issue with the latest version of Boostnote?

[2019-07-28 18:50] Flexo013 commented on #1439
This is a really cool suggestion! It would be great if you could hide certain entries from this menu if you never use them anyway.

[2019-07-28 18:52] Flexo013 commented on #1441
@comzeradd Is this still an issue that requires investigation of the Boostnote team or is this issue no longer relevant?

[2019-07-28 18:54] Flexo013 commented on #1849
Duplicate of #1447

[2019-07-28 18:54] #1849 closed

[2019-07-28 18:56] Flexo013 commented on #1755
@sahilseth @urda Is this issue still present in the current version of Boostnote?

[2019-07-28 18:59] Flexo013 commented on #1466
Closing due to no response from issue reporter.

[2019-07-28 18:59] #1466 closed

[2019-07-28 19:02] Flexo013 commented on #781
This seems to be properly handled in the latest version of Boostnote.

If you still experience this issue, then feel free to reopen this issue or create a new one.

[2019-07-28 19:02] #781 closed

[2019-07-28 19:04] Flexo013 commented on #1339
Related: #3146

This PR is creating a method for exporting and importing configuration files.

[2019-07-28 19:05] dakira commented on #1148
@Flexo013 Looks like it's fixed! I just tried with a blank install. :-)

[2019-07-28 19:09] Flexo013 commented on #1478
My two cents on the snippet description is that it should be short. It's not the place to explain thousands of lines of code from a snippet.

Potentially we could make the snippet description box grow in size to fit extra long descriptions if they are present.

[2019-07-28 19:11] Flexo013 commented on #1475
In the latest release of Boostnote the tags are cleared as soon as they contain no more notes. Restarting the app no longer is required.

[2019-07-28 19:11] #1475 closed

[2019-07-28 19:12] Flexo013 commented on #1492
This seems like a good new feature. I see no reason for a discussion on this topic as introducing this feature doesn't affect users who don't want to use the feature.

[2019-07-28 19:16] Flexo013 commented on #1123
@frthjf Sadly this has been thrown on the back burner for a while.

I like this suggestion as a nice alternative to syncing with(out) encryption. If somebody is willing to give implementing this a try then please let us know by commenting here.

[2019-07-28 19:26] Flexo013 commented on #1473
@gramster Are there at this point, a year-and-a-half later, still problems with KaTeX; making it inferior to MathJax?

[2019-07-28 19:30] Flexo013 commented on #1148
Thanks for the update!

[2019-07-28 19:33] Flexo013 commented on #1508
Related to: #1208

[2019-07-28 19:34] Flexo013 commented on #1505
@tatoosh Is this still a problem in the latest versions of Boostnote?

[2019-07-28 19:37] Flexo013 commented on #1496
I'm unsure about the `<center>` tags working in the preview.

@A-Lamia Have you found out how to get this to work or would you still like this new feature?

[2019-07-28 19:40] Flexo013 commented on #1504
Snippet notes are not intended for this preview feature.

@tatoosh For what reason are you choosing a Snippet note with Markdown syntax over just a Markdown note?

[2019-07-28 19:42] Flexo013 commented on #1513
This bug is no longer present in the latest version of Boostnote:

![image](https://user-images.githubusercontent.com/4507015/62012000-a7c2c300-b180-11e9-8104-86b268342ba3.png)

[2019-07-28 19:42] #1513 closed

[2019-07-28 19:45] Flexo013 commented on #2527
@Marmalade118 Have you experienced this issue with any of the latest builds of Boosnote?

[2019-07-28 19:45] Flexo013 commented on #1485
@hmojicag Have you experienced this issue with any of the latest builds of Boosnote?

[2019-07-28 19:49] Flexo013 commented on #1515
Duplicate of #1046

[2019-07-28 19:49] #1515 closed

[2019-07-28 19:50] Flexo013 commented on #1479
Possibly related to: #1046

[2019-07-28 19:56] Flexo013 commented on #1534
I'm closing this issue as the question was answered.

If you would like this to become a feature then feel free to create a separate feature request for that. Ideally also mentioning this issue number #1534

[2019-07-28 19:56] #1534 closed

[2019-07-28 19:57] Flexo013 commented on #1541
Duplicate of #125

[2019-07-28 19:57] #1541 closed

[2019-07-28 19:57] #1532 closed

[2019-07-28 23:08] dlumma commented on #827
I'd pay for an integration with keybase.

[2019-07-29 06:11] Flexo013 commented on #827
@dlumma You can open a new issue specifically asking for syncing and encryption using keybase. The through IssueHunt, you can fund that new issue.

[2019-07-29 06:14] Flexo013 commented on #1279
The fix for this has been merged.

[2019-07-29 06:14] #1279 closed

[2019-07-29 06:20] Flexo013 commented on #1118
Currently the open source model in combination with IssueHunt means that we can sustain Boostnote for now. Donations through IssueHunt are always helpful, and they will improve Boostnote!

[2019-07-29 06:41] #1260 closed

[2019-07-29 06:45] Flexo013 commented on #1545
It the latest version of Boostnote the notes in the sidebar have their folder listed like so:
![image](https://user-images.githubusercontent.com/4507015/62027143-3b29e180-b1dd-11e9-8442-185aa6d9fa72.png)

[2019-07-29 06:45] #1545 closed

[2019-07-29 06:49] Flexo013 commented on #1516
Confirmed with Boostnote 0.12.1 on Windows 10.

![image](https://user-images.githubusercontent.com/4507015/62027334-b8555680-b1dd-11e9-80f3-481811513649.png)
 Clicking the little green outline works, but clicking the link itself on the second line does not.

[2019-07-29 06:53] Flexo013 commented on #1535
@Rokt33r What is the status on this?

[2019-07-29 06:56] Flexo013 commented on #1163
Currently you can only lock the editor (so that it doesn't switch to the preview). If you would also like a lock button than makes it so the preview window doesn't turn into the editor, then check out this issue: #2955

[2019-07-29 06:56] #1163 closed

[2019-07-29 06:58] Flexo013 commented on #1459
I suspect that this is no longer a problem in the latest version of Boostnote, mostly because #1264 is also fixed.

@davidsneighbour Could you confirm that this doesn't happen anymore?

[2019-07-29 06:59] Flexo013 commented on #1578
This issue has been fixed. Thanks for reporting it!

[2019-07-29 06:59] #1578 closed

[2019-07-29 09:13] comzeradd commented on #1441
I don't use a rpm-based desktop distro at the moment, so I can't confirm if the error persists.

[2019-07-29 10:16] Flexo013 commented on #1441
Then I will close this for now. If future problems occur with RPM then we will just create a new issue.

[2019-07-29 10:16] #1441 closed

[2019-07-29 10:22] Flexo013 commented on #1072
I'm not quite sure if such a complex journal concept could work in Boostnote.

@rolandjohann If you had to narrow it down to simple features, that could be introduced one after another, then what steps would those be?

[2019-07-29 10:25] Flexo013 commented on #1538
Simply adding a menu entry under the Help section that would open [this](https://github.com/BoostIO/Boostnote/wiki/Keyboard-Shortcuts) link would suffice.

But ideally we display the keyboard shortcuts in the app. Thus not needing to open the browser.

[2019-07-29 10:27] Flexo013 commented on #1082
Cross-linking between notes is supported in the latest version of Boostnote.

[2019-07-29 10:27] #1082 closed

[2019-07-29 10:32] Flexo013 commented on #1402
1. This feature request is continued in #3142

2. The current version of Boostnote supports this.

[2019-07-29 10:32] #1402 closed

[2019-07-29 10:34] Flexo013 commented on #1629
Can't reproduce this bug.

Assuming it's fixed until we can find steps to reproduce this.

[2019-07-29 10:34] #1629 closed

[2019-07-29 10:41] Flexo013 commented on #1622
@wikiwiggs What would be the next step, priority, or discussion point here?

Side note: Mermaid is now supported by Boostnote.

[2019-07-29 10:44] Flexo013 commented on #1641
As per #1887 this now configurable.

[2019-07-29 10:44] #1641 closed

[2019-07-29 13:03] yuamera opened #3182 "Exporting notes to any format fails"
# Current behavior
exporting notes to any format fails
I can't use the export from the editor, or click on the export from the note details.

# Expected behavior

export notes

1. Check a note
2. In the software navigation, select Export as
3. No matter what you choose, you will be prompted

Export error
Callback must be a function

Is it because I have too many pictures?

![image](https://user-im

[2019-07-29 13:11] Flexo013 commented on #3182
How many images are in the note you are trying to export?

I did a test export with 10 images on Windows 10 with version 0.12.1 and it worked fine.

[2019-07-29 13:12] bkielbasa commented on #3117
From my point of view, the functionality should be much more limited than you suggested. I don't want to make boostnote as an IDE :)

## What would fully satisfy me would be

- possibility to choose a folder with pages (posts, drafts)
- full markdown support
- edit/add a new file from Boostnote

## Nice to have
- parsing and displaying tags/attributes
![image](https://user-images.githubusercontent

[2019-07-29 13:17] Flexo013 commented on #1642
This should be a fairly easy issue to pick and submit a PR for. New contributors are encouraged to give this a try.

[2019-07-29 13:22] Flexo013 commented on #679
This seems like a popular feature request, so I'm removing the `discussion` tag.

If somebody wants to submit a PR for this feature that would be awesome!

To all the people in this thread: If you would really like this feature to picked up fast by a contributor then you can fund the issue on IssueHunt.

[2019-07-29 14:42] yuamera commented on #3182
I put in 25 pictures.

I found that it has nothing to do with the number of pictures.

I delete the pictures one by one, until I delete them all, I can successfully export them.

I copied the notes to another note. Some links to the pictures will turn into the following errors.

[code]

Then I went back to the original notes and deleted the images that failed to copy. The export function can also

[2019-07-29 15:16] ehhc commented on #3171
@Flexo013 are you working on it? Do you know something i don't know?

[2019-07-29 16:59] hmojicag commented on #1485
Noup, sorry guys after that bug/thing/feature deleted my notes I got to move to a note keeper app that let handle and backup my notes in a simpler way, something that is not tightly coupled with the app itself and more like a simple text/markdown editor.
Thanks anyway.

[2019-07-29 16:59] #1485 closed

[2019-07-29 17:50] urda commented on #1755
@Flexo013 I actually stopped using Boostnote for production uses at this time.

[2019-07-29 18:59] lvets opened #3183 "Searching for the word "tags" results in an empty window."
# Current behavior

Searching for the word "tags" results in an empty window. I have to restart Boostnote to get my main window back.

# Expected behavior

Search for "tags", not clear my whole window :)

# Steps to reproduce

1. Type "tags" in the search box.

# Environment

- Version : 0.12.1
- OS Version and name : Windows 10

[2019-07-29 20:41] AWolf81 commented on #3117
👍 Sounds better & easier. I'll have a look and check what I can do to add it.

**Todos to add the feature:**
- [ ] Add a Jekyll or Gatsby project folder as a storage location and display `_drafts` and `_post` folders (probably as filters). (New filesystem type for MD files required.) Later, add `_drafts` & `_posts` as an option to storage location preferences to support other project types - no ed

[2019-07-30 01:17] amedora commented on #2372
looks the issue has been resoved in v0.12. Linking text works as expected.

[2019-07-30 05:59] hikerpig commented on #3183
This is indeed a bug, I've created a PR to fix.

For now, I will suggest you use uppercase `TAGS` for searching.

[2019-07-30 08:22] imaojun opened #3185 "Can't paste screenshot under special character"
# Current behavior
Can't paste screenshot under special character

**As the picture shows：**
![Peek 2019-07-30 16-13](https://user-images.githubusercontent.com/28778042/62112433-4cf6ac00-b2e5-11e9-97d3-db434ccdbeeb.gif)

# Expected behavior
Can paste screenshot under special character

# Steps to reproduce
Paste the screenshot below the code block  special character
\```

\```
[Please paste the sc

[2019-07-30 09:47] Flexo013 commented on #1755
Understandable.

I will close this issue for now since there is nobody who can reproduce it.

[2019-07-30 09:47] #1755 closed

[2019-07-30 12:32] arcturus140 commented on #3128
@Flexo013 Initially I wrote the issue applies to 0.11.12 and 0.11.17.
It appears that it only applies to 0.11.12 so I edited the issue, my bad.

I noticed now that 0.11.17+ don't have syntax highlighting. #3125 only complains about background colour. From the images shown there it is not appearant if syntax highlights or not.

Here is a direct comparisson of PDF exports between boostnote version 0

[2019-07-30 13:59] Flexo013 commented on #3182
Just to make sure I understand what causes the problem:

You are adding images to one note and then copying over that code to a different note. Then you are trying to export the second note?

[2019-07-30 14:27] Flexo013 commented on #3171
@ehhc No I am not.

I was mostly just pointing out that the feature is experimental.

[2019-07-30 14:40] Flexo013 commented on #3128
Thanks for the detailed information. Don't worry too much about the mess. The issue tracker here has been quite a mess anyway, which I'm working on fixing 😉

Adding this to the other issue sounds good to me.

[2019-07-30 14:40] #3128 closed

[2019-07-30 14:43] Flexo013 commented on #3125
Code highlighting is also not working in PDF exports.

[2019-07-30 15:51] #2372 closed

[2019-07-30 16:26] alex-moreno commented on #3174
same here, I was using that functionality a lot and suddenly this has disappeared in latest update

[2019-07-30 16:32] arcturus140 commented on #3157
Does not work in 0.12.1 on Linux Ubuntu.

[2019-07-30 17:25] Schol-R-LEA commented on #1968
Is this issue still outstanding? Has anyone been able to repro, either on High Sierra or any other OS?

[2019-07-30 18:53] yuamera commented on #3182
This operation can be successfully exported.

I took a picture through the screen capture and then directly pasted the picture into the note.

I think there should be some problems in the process of pasting.

I found a phenomenon that may be related to this problem.

I take a screenshot and get a picture, then copy it continuously into the note, the above error message will appear.

**⚠ You have p

[2019-07-30 19:31] RonWalker22 commented on #3144
What is the plan to resolve this bug?

If a user has the switch preview setting 'on right click' enabled, they must have Context Menu disabled?

[2019-07-30 19:44] NicoHood commented on #375
@Flexo013 I already linked the separate issue in my post: https://github.com/BoostIO/Boostnote/issues/387

Still no reaction there.

[2019-07-30 21:56] arcturus140 commented on #3185
confirmed. Note that the code block must be empty to trigger the issue.

# Environment

- Version: 0.11.12
- OS Version and name : 16.04 Ubuntu

[2019-07-31 02:08] Flexo013 commented on #387
@GlassGruber This is definitely something that we will be working towards.

Sorry about not replying/acknowledging this issue sooner.

[2019-07-31 02:16] imaojun opened #3187 "Fullscreen shortcuts conflict with VI mode editor"
# Current behavior
Fullscreen shortcuts(CTRL-B) conflict with VIM normal mode(CTRL-B)

# Expected behavior
Can modify the full screen shortcut

# Steps to reproduce
Change Boostnote   Editor Keymap to vim mode.Then go to editor use vim normal mode.  When I want to fullscreen Boostnote. It is conflict with VIm.

# Environment

- Version :Boostnote 0.11.17
- OS Version and name :Archlinux

[2019-07-31 06:24] imaojun opened #3188 "Deleting characters in the middle of the search bar text does not work properly."
# Current behavior
Delete the character in the middle of the search bar text and the cursor will move to the end.

# Expected behavior
let cursor don't automatically jump to the end when deleting text

**as the gif shows**：
![Peek 2019-07-31 14-22](https://user-images.githubusercontent.com/28778042/62188364-b2f33a00-b39e-11e9-85cf-da9648add023.gif)

# Steps to reproduce

Search for **boostnote** i

[2019-07-31 06:47] ehhc commented on #3171
Okay. Hoped you would do something.. a cool refactoring or something like that.. :)

[2019-07-31 08:31] ebal opened #3189 "Switch to Preview does not switch back to editor"
#2997 Current behavior

In previous versions like app-0.11.17 it was possible to switch from editor to preview by using right click.

From  v0.12.0 to v0.12.1 you can switch from editor to preview,
but now you can not switch back to editor !!

# Expected behavior

Using Right Click to switch between editor - preview and vice-verse (as it was working back in 0.11.17

# Steps to reproduce

Please re

[2019-07-31 08:51] ebal commented on #3189
by pure luck a minute ago,
 I've found that switching back to editor from preview is:
 `ctrl+left click`

So it this the correct behavior?

- Editor Mode: Right Click  to Preview
- Preview Mode: ctrl+Left Click to Editor

[2019-07-31 12:46] RonWalker22 commented on #3189
Right click should toggle from editor mode to preview mode. You can discuss the bug here #3144.

I have a fix awaiting  feedback #3186.

[2019-07-31 15:09] Rokt33r opened #3190 "App blanks out after setting HotKey"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2440%20Funded-%2300A156.svg" />](https://issuehunt.io/r/BoostIO/Boostnote/issues/3190)

# Current behavior

<img width="1101" alt="Screen Shot 2019-07-31 at 23 49 14" src="https://user-images.githubusercontent.com/5865853/62222151-d2658380-b3ed-11e9-8e59-76c7b1d57d4c.png">

# Expected behavior

The app should set and store t

[2019-07-31 22:00] arcturus140 commented on #1642
It is already implemented, anyway ;)

`Preferences -> Interface / Default New Note: Snippet Note`

[2019-08-01 00:07] AWolf81 commented on #3174
Thanks for reporting the issue.

I'll fix it. It's related to CSS styles in `MarkdownNoteDetail.styl` (last styles with `user-drag: none`) that accidentally disabled dragging.

I think that styles should have a more specific selector to apply only to the buttons / icons in the Note details.

[2019-08-01 07:06] hikerpig commented on #2195
AFAIK, Boostnote supports header folding (tested in v0.12.1).

What @farzadmf  mentioned is a markdown parser problem, similar to this issue [HTML Table does not render if there's blank line inside markup](https://github.com/BoostIO/Boostnote/issues/2011)

[2019-08-01 08:40] FabianTe commented on #2195
Kind of. But I'd also like to be able to fold the rendered markdown headers (right side)

[2019-08-01 08:55] alex-moreno commented on #3174
I also discovered that on the meantime you can select which folder you want the note just clicking on the top of the note, just next to tags.

Thanks for the awesome work on this :-)

[2019-08-01 11:25] Flexo013 commented on #3187
Related to: #2645

[2019-08-01 11:28] Flexo013 commented on #3189
Thanks for reporting the issue.

This a known issue: #3144

[2019-08-01 11:28] #3189 closed

[2019-08-01 11:30] Flexo013 commented on #1642
Thanks for pointing that out @arcturus140 !

[2019-08-01 11:30] #1642 closed

[2019-08-01 11:34] Flexo013 commented on #3188
This bug no longer occurs when using 0.12.1 on Windows 10.

@imaojun Can you confirm that this is fixed int he latest release?

[2019-08-01 11:41] Flexo013 commented on #1675
Fix was merged.

[2019-08-01 11:41] #1675 closed

[2019-08-01 12:02] Flexo013 commented on #1661
How about we make thee dragging interface the same between the storages and the folders in the sidebar.

The cursor change in the sidebar uses the native icon, which looks better than the one used in the storages UI. But the (hamburger) icon for dragging is clearer imo than the six dots icon we currently have in the sidebar.

Current storages UI:
![image](https://user-images.githubusercontent.com/

[2019-08-01 12:07] Flexo013 commented on #1557
@nlopin Is this still an issue that is waiting for somebody to submit a PR?

[2019-08-01 12:08] Flexo013 commented on #1707
@nlopin @Rokt33r What is the current status on this? Are there any points that still need to be discussed about this?

[2019-08-01 12:10] Flexo013 commented on #1529
I'm closing this for now as it is unclear what the reporter's motivations are for this 'feature request'.

@sosukesuzuki Feel free to reopen the issue with more information on why you would like to see this feature remove.

[2019-08-01 12:10] #1529 closed

[2019-08-01 12:13] Flexo013 commented on #1708
In the current version of Boostnote the preview mode can utilize the full width.

[2019-08-01 12:13] #1708 closed

[2019-08-01 12:17] Flexo013 commented on #1734
Thanks for the report! I can't quite replicate this issue, and it is also very similar to another issue, so I'm closing it for now.

PDF exports and themes are discussed here: #3125

[2019-08-01 12:17] #1734 closed

[2019-08-01 12:31] Flexo013 commented on #3152
It has been a week of no activity from @hopedaili, so I will be closing this issue for now.

Feel free to reopen this issue with English info provided.

[2019-08-01 12:31] #3152 closed

[2019-08-01 12:32] Flexo013 commented on #2918
It has been two weeks of no activity from @glennmartinez , so I will be closing this issue for now.

Feel free to reopen this issue if it persists.

[2019-08-01 12:32] #2918 closed

[2019-08-01 12:34] Flexo013 commented on #3067
It has been two weeks of no activity from @rahulpathakml, so I will be closing this issue for now.

Feel free to reopen this issue if it still occurs for you.

[2019-08-01 12:34] #3067 closed

[2019-08-01 12:37] Flexo013 commented on #1702
@mnishizawa @i-give-up

Currently Boostnote does not include such features. If you have specific ideas or wishes then feel free to create a new 'feature request' issue [here](https://github.com/BoostIO/Boostnote/issues/new)

[2019-08-01 12:37] #1702 closed

[2019-08-01 12:40] Flexo013 commented on #1001
I would love this feature in Boostnote. Using the backwards and forwards button that many mice have nowadays would allow for much faster navigating.

[2019-08-01 12:40] Flexo013 commented on #1689
Duplicate of: #1001

[2019-08-01 12:41] #1689 closed

[2019-08-01 12:44] Flexo013 commented on #1717
Files can be imported in the latest version of Boostnote.

Since no other info has been supplied by @kampiamodikuesto over the past few months I will be closing this issue for now.

[2019-08-01 12:44] #1717 closed

[2019-08-01 12:46] Flexo013 commented on #1694
This issue shouldn't be occurring anymore. If it does happen again then please let us know and we will try our best to deploy a fix.

[2019-08-01 12:46] #1694 closed

[2019-08-01 21:02] A-Lamia commented on #1496
With the new custom CSS support i don't think it's really needed.

[2019-08-02 02:11] imaojun commented on #3188
@Flexo013   updated to version 0.12.1.
COOOOOL！Fixed search bar cursor problem and can search in Chinese! awesome!

[2019-08-02 02:11] #3188 closed

[2019-08-02 02:29] imaojun opened #3196 "Switich to preview(on right click) does not work on preview mode"
# Current behavior
updated version 0.12.1 Switch to preview(on right click) does not work on preview mode.
In earlier versions, both preview and edit modes could trigger with a right click.
However, in this version of preview mode, right click is to copy and select all features.
So I can't quickly switch to edit mode.
Can only switch to the simultaneous preview and edit mode by clicking the menu b

[2019-08-02 03:27] avence12 commented on #3196
I encounter the same issue.
The current workaround is to setup `Switch to Preview` as `When Editor Blurred, Edit on double click`.
However, right-click is much more convenient and hope to get fixed.

[2019-08-02 05:06] hikerpig commented on #3163
I've created a PR (check the timeline above) to fix the checkbox issue.

But footnotes are caused by a completely different reason. May need a little bit more investigating.

[2019-08-02 05:17] hikerpig commented on #3021
@teeemomain The bug you've described is exactly the same with #3023,  I've made a PR for it, hope it will get merged soon.

But I can't reproduce this image-clicking caused bug.

[2019-08-02 05:25] CyberLustHD opened #3198 "How to install to specific Folder Location? How to verify?"
Label: Question; Help Wanted;

I want to try out boostnote. I downloaded the file into my downloads folder and then ran it to install boostnote. The problem I had is that it did not ask where to install boostnote. It installed in my programs files so I uninstalled boostnote hoping that I could find an answer where I can install boostnote into a specific folder. I would like to install boostnote in

[2019-08-02 09:27] Flexo013 commented on #1496
Alright, thanks for the info!

[2019-08-02 09:27] #1496 closed

[2019-08-02 09:43] Flexo013 commented on #3196
Duplicate of: #3144

[2019-08-02 09:43] #3196 closed

[2019-08-02 12:18] Flexo013 commented on #3198
Thanks for your interest in Boostnote!

Currently there is no way to select the installation directory of Boostnote. This is a planned feature, as requested here: #2350

Currently there is no fingerprint, signature or SHA hash for verification. This is a planned feature, as requested here: #387

I'm sorry that these features don't exist yet, but such is the nature of OSS. If you would like to ince

[2019-08-02 12:23] johnnyleitrim commented on #76
@ehhc When I try to save the settings on Mac, I see the following:

[code]

[2019-08-02 13:09] ehhc commented on #76
@johnnyleitrim why do you think it's related to the spellcheck?

[2019-08-02 13:26] marcofriso opened #3199 "search "<%" crash"
# Search "<%" crash

Application crash if you type "<%"

# Environment

- Version :
- OS Version and name : MacOS Mojave 10.14.5

[2019-08-02 13:35] johnnyleitrim commented on #76
@ehhc Sorry - I was under the impression you were looking for the logs when trying to save after clicking on spellcheck doesn't work.

[2019-08-02 14:12] Flexo013 commented on #3199
Possibily related to #3170

[2019-08-02 14:22] Flexo013 commented on #2705
I have tested this with a self-signed certificate on Ubuntu 16.04 with Boostnote 0.12.1 and found no problems. The images load fine. I am closing this for now, as this seems fixed.

@bkkgbkjb Feel free to reopen this issue if you still experience this issue.

[2019-08-02 14:22] #2705 closed

[2019-08-02 14:27] kampiamodikuesto commented on #1717
thank, last version works fine!

[2019-08-02 14:36] ehhc commented on #76
@johnnyleitrim oh, okay. maybe i was back then :)
thanks :)

I tried to reproduce your issue and - at least for me - it seams like it's only a warning and not preventing us from doing anything...

Do you also have issues with saving the preferences? Or did you just wondered about the warning?

[2019-08-03 03:03] imaojun opened #3200 "New storage folder duplicate name"
# Current behavior
New storage folder duplicate name.

# Expected behavior
New storage folder name can only be unique, just like a tag
![image](https://user-images.githubusercontent.com/28778042/62406418-3d75ac80-b5de-11e9-9ed0-a6b55bb7f716.png)

# Steps to reproduce
Create a folder name and define a name, then create a folder with the same name.

# Environment

- Version :Boostnote 0.12.1
- OS Ve

[2019-08-03 04:07] CyberLustHD commented on #3198
Yes. Thanks for the reply! I subscribed to those two posts and am eagerly waiting for the feature! 😄
but how to do this part of

or rather, i don't understand that part. sorry.

[2019-08-03 13:55] AWolf81 commented on #2968
During my work on PR #3192 I've had the problem and first thought it's caused by my modifications but it's also occurring on master.

If you're exporting a pdf file (probably other export types are also affected) that will overwrite an existing file which is locked by another application you'll get the error message `Export error - Callback must be a function` (also see screenshot below). e.g. ope

[2019-08-03 14:49] imaojun opened #3201 "can not search notes via tags"
# Current behavior
can not search via tags.

https://github.com/BoostIO/Boostnote/pull/1701  This feature can't work on my notes

![image](https://user-images.githubusercontent.com/28778042/62413305-6c246f00-b640-11e9-805e-51aa288d3e8a.png)

![image](https://user-images.githubusercontent.com/28778042/62413317-7c3c4e80-b640-11e9-843d-78335b25675c.png)

# Expected behavior
Can search for notes by ta

[2019-08-03 18:00] CyberLustHD commented on #2350
Then I guess it is not safe to just move all the installed boostnote files by cut and pasting everything to a particular directory?

[2019-08-03 20:31] Flexo013 commented on #3200
While I agree that this weird, I don't necessarily see this being an issue.

Maybe something could be made like an option saying "warn/disallow on duplicate folder name"?

[2019-08-03 20:50] Flexo013 commented on #3198
On IssueHunt you can add funding/bounties to GitHub issues. When the feature described in the issue is completed, the funding is rewarded to the developer who implemented it.

You can check out the IssueHunt by clicking the Sponsor button at the top.

Here are the IssueHunt links:
https://issuehunt.io/r/BoostIO/Boostnote/issues/387
https://issuehunt.io/r/BoostIO/Boostnote/issues/2350

[2019-08-03 20:50] #3198 closed

[2019-08-03 21:09] Flexo013 commented on #3201
Possibly related to #3157

[2019-08-03 21:29] Flexo013 commented on #2350
@CyberLustHD I have no clue. If you want to give it a try then go right ahead. Might want to back up your notes before then. Just to make sure you don't lose your notes.

[2019-08-04 11:59] Ezneh commented on #3019
Hello, after the full upgrade of Debian Stretch to Buster, the application seems to work properly now.
I have actually no real clue what was the problem, but at least in my case it is resolved.

[2019-08-04 17:51] Flexo013 commented on #3019
@Ezneh Thanks for the info!

[2019-08-04 17:51] #3019 closed

[2019-08-04 17:55] #249 closed

[2019-08-04 18:00] Flexo013 commented on #1654
`dos` and `bat` are not recognized highlight languages. See [codemirror](https://codemirror.net/mode/index.html) for the full list.

[2019-08-04 18:00] #1654 closed

[2019-08-04 18:04] Flexo013 commented on #1704
This bug is no longer present it the latest version of Boostnote.

#3163 has the same bug but in different scenarios.

[2019-08-04 18:04] #1704 closed

[2019-08-04 18:41] Flexo013 commented on #1732
@Rokt33r Is this still planned/part of 0.12?

[2019-08-04 19:01] Flexo013 commented on #1733
The code provide by join works fine. Make sure to start the path with a `/` like this:

[code]

The clicking of linked images is known to not work entirely, as discussed here #3120

[2019-08-04 19:01] #1733 closed

[2019-08-04 20:11] erex opened #3202 "Render equations in PDf and html exports"
# Current behavior

Using Latex eqns in note, renders fine within Boostnote
![image](https://user-images.githubusercontent.com/330744/62428633-866f5300-b6fb-11e9-99c7-8e654c3f6625.png)

However PDF looks like this
![image](https://user-images.githubusercontent.com/330744/62428655-b28ad400-b6fb-11e9-8d7f-ea67f7c05fe8.png)

and html exported file looks like this (when viewed in Firefox browser)
![im

[2019-08-05 06:00] VishwasGagrani opened #3203 "Files, Images get deleted automatically after dragging them on to boostnote interface."
# Current behavior

Let us know what is currently happening.
When dragging and dropping the files and images, it gets deleted automatically after some time. It does not happen always, but it happens say 30% of the times. The file cannot even be seen in recycle bin. For some reason, I am never able to put files with "psd" extension (photoshop files ) on boostnote.  It does not even accept it. The i

[2019-08-05 07:09] ymm1x commented on #2780
@Flexo013
Yes I am using MacOS.  After you said that, it certainly looks like that on version 0.12.1.
Thank you for your confirmation. 🙇‍

[2019-08-05 07:09] #2780 closed

[2019-08-05 07:23] Flexo013 commented on #3203
Thanks for reporting the issue! I have a few questions:

1. Just to double check that I understand the problem. When you drag an image onto a note in Boostnote the note in question sometimes gets deleted?

2. Could you update Boostnote to the latest version (0.12.1) and see if the issue is still present?

As for photoshop files I don't think Boostnote currently supports `.psd` files. Supporting th

[2019-08-05 10:12] Flexo013 commented on #2687
Lately I've also started running into this issue and the solution should definitely be to hide the scroll bar when the sidebar is minimized. My suggestion `2)` from earlier would sort of defeat the purpose of having the sidebar minimized.

[2019-08-05 14:05] VishwasGagrani commented on #3203
Not the note in question. But the image being dragged and dropped. After showing up for some time, it suddenly gets deleted from the storage folder. The time it takes to get deleted and the type of image is random.
I am using 0.12.1 which is the latest.

I am not saying to show the preview of photoshop file.  But unlike any other file like doc, zip, or fla etc which atleast creates a link if not t

[2019-08-06 01:45] Flexo013 commented on #3203
Hmmm, that's very strange. I haven't been able to reproduce this behavior so far. Is there any more info you can give? What is the fastest an image got deleted after adding it? Does it happen after just starting Boostnote? Anything particular that you do or noticed around this bug?

Hopefully that will help with narrowing down this issue.

When I try dragging a psd file onto Boostnote (from the Wi

[2019-08-06 01:50] Flexo013 commented on #2636
I'm still experiencing this issue with version 0.12.1 on Windows 10.

[2019-08-06 01:53] #1711 closed

[2019-08-06 01:56] Flexo013 commented on #1628
This issue does not seem to be present in the latest version of Boostnote.

Feel free to reopen the issue if you still experience this issue.

[2019-08-06 01:56] #1628 closed

[2019-08-06 02:08] Flexo013 commented on #2005
In the latest version of Boostnote you can link notes internally by clicking the 'i' in the top right corner. Then copy the link from there and add it to any note.

As for going back easily you can also add a link for that, or another solution is suggested in #1001

[2019-08-06 02:08] #2005 closed

[2019-08-06 02:19] Flexo013 commented on #856
Currently this has been brought down to two ways of searching:

1) The Search at the top of the note list. This one should be sufficient in almost all cases. All issues brought up in this thread no longer seem to be present.

2) <kbd>Ctrl</kbd> + <kbd>F</kbd> when inside a note. This will open a specific search, with the added feature of supporting regex. In the future this particular searcher wil

[2019-08-06 02:19] #856 closed

[2019-08-06 02:27] Flexo013 opened #3205 "Add next and previous occurrence arrows to Ctrl+F searcher"
When pressing <kbd>Ctrl</kbd>+<kbd>F</kbd> within a note a searcher is opened. If multiple results are found one can hop between results with hotkeys:
- <kbd>Ctrl</kbd>+<kbd>G</kbd> for next occurrence
- <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>G</kbd> for previous occurrence

It would be nice if there were arrows on the search bar for easy navigating. Especially since the documentation of the shortc

[2019-08-06 02:29] #1813 closed

[2019-08-06 02:36] Flexo013 commented on #2407
This is a good list of suggestions, which would improve the searcher.

@prog20901 The reason I think nobody has picked it up yet is that feels a bit to much like a feature shopping list. Maybe separating parts out of this thread into separate issues will help with this. Making many tiny steps is easier than making one big step.

5) is already a feature request in #3205

[2019-08-06 02:37] Flexo013 commented on #2036
This feature exist in the latest version of Boostnote. Simply press Ctrl+F.

[2019-08-06 02:37] #2036 closed

[2019-08-06 02:38] Flexo013 commented on #2032
This feature exists in the latest version of Boostnote. Simply press Ctrl+F.

[2019-08-06 02:38] #2032 closed

[2019-08-06 02:39] Flexo013 commented on #1364
This idea is more fleshed out (and funded) over in this issue: #1572

Let's continue this idea over there.

[2019-08-06 02:39] #1364 closed

[2019-08-06 02:42] Flexo013 commented on #1249
Searching in Korean is supported as of 0.12.1

[2019-08-06 02:42] #1249 closed

[2019-08-06 02:45] Flexo013 commented on #2116
1) Is a great idea to improve the search functionality!

2) This is possible with other hotkeys Ctrl+G for next and Ctrl+Shift+G for previous. Also see #3205

[2019-08-06 02:47] Flexo013 commented on #1693
Duplicate:

Searching in the preview window #2735

[2019-08-06 02:47] #1693 closed

[2019-08-06 02:53] Flexo013 commented on #1767
@Asitis Would a solution be to make the lock on editor only mode persistent when switching between notes?

@akmur This is currently not possible. #236 contains plans for implementing this.

[2019-08-06 03:06] Flexo013 commented on #2048
Changing the file type is already being discussed in #490

[2019-08-06 03:08] Flexo013 commented on #2293
Like @yongman said this appears to be fixed in the current version of Boostnote.

@chenzhihui28 if you still experience this problem, then feel free to reopen this issue.

[2019-08-06 03:08] #2293 closed

[2019-08-06 03:09] Flexo013 commented on #1771
Duplicate of: #1572

[2019-08-06 03:09] #1771 closed

[2019-08-06 05:43] VishwasGagrani commented on #3203
See how it behaves when I try to upload psd files.  In fact, it's doing the same with keynote files with extension (.key). However with key notes files there is a possibility that the application might be seeing it as a folder. Because keynote files are actually folders with .key extension, on mac.

https://drive.google.com/open?id=1n13XpYMpXBWkRFVcTMAYVB-srb4zCHmK

Another major problem as I said

[2019-08-06 06:12] VishwasGagrani commented on #3203
For example, when I opened a note today it showed 2 images vanished. In fact if you are lucky and have the notes attachment folder opened, you may even see the file getting created and for some reason vanishes away after some time.

![Screen Shot 2019-08-06 at 11 40 20 AM](https://user-images.githubusercontent.com/294382/62515207-4913de00-b83f-11e9-8c53-b1363f4ea5fc.png)

[2019-08-06 06:24] VishwasGagrani commented on #3203
I looked into developer tools, and I saw some errors at main.js 7705:

File "/mac-st./../..ign/notes/attachments/9fc24eea-5d9d-4f93-8644-36c3fe4fccc4/f8b47aff.png" deleted because it was not included in the content of the note

What does that mean? I am not sure, but I don't remember I manually deleted anything from attachment folder. Does this give any pointers?

[2019-08-06 09:11] VishwasGagrani commented on #3203
As a temporary solution I searched Main.js in "compiled" folder and commented this section:

files.forEach(function (file) {
	        if (!attachmentsInNoteOnlyFileNames.includes(file)) {
	          /*var absolutePathOfFile = path.join(targetStorage.path, DESTINATION_FOLDER, noteKey, file);
	          fs.unlink(absolutePathOfFile, function (err) {
	             if (err) {
	              console.er

[2019-08-06 14:50] Flexo013 commented on #3103
While this is now slightly mitigated I still think that the feature as I suggested in my previous comment would be really helpful.

It would solve #3203 for example.

[2019-08-06 15:31] Flexo013 commented on #3203
Thanks for the very detailed info! This should definitely help with understanding what is going on.

I still can't quite reproduce the issue on Linux or Windows. From other reports/issues it might be a bug that is exclusive to Mac, which makes it a little more difficult to test.

It might be caused by something like this, but this is merely a guess. The problem with "moving" an attachment from one

[2019-08-06 17:07] VishwasGagrani commented on #3203
Yes, that can be one of the reasons. That is the scenario when cutting and pasting from note to note, or note from one storage folder to another etc. But in many scenarios the files get deleted as soon as I drag from outside on to the note interface. Why this happens? And why is it selective about the type of file, as I said, it does not accept psd file.

PS: Also this disappearance of files I hav

[2019-08-07 00:45] amedora commented on #1826
@Rokt33r you said [you prefer Jest ](https://github.com/BoostIO/Boostnote/issues/1707#issuecomment-374812747), but we have two test frameworks now (Jest & ava). Any ideas about we should migrate one to another or keep 2 of them as is?

[2019-08-07 00:49] amedora commented on #1826
just note, yes, the test coverage we have now is not good...

_jest --coverage_
![coverage-jest](https://user-images.githubusercontent.com/32722363/62586432-9011da00-b8f8-11e9-82ea-85d5a263a60b.png)

_nyc ava_
![coverage-nyc-ava](https://user-images.githubusercontent.com/32722363/62586438-9902ab80-b8f8-11e9-9798-cd8a87a93db6.png)

[2019-08-07 01:29] Rokt33r commented on #1826
@amedora We should migrate every test to Jest!!

[2019-08-07 07:20] Rassi commented on #1530
@ZeroX-DG This does not work for me. How do I enable line wrapping in code blocks? Here's a screen capture of an attempt:
![ScreenCap](https://i.imgur.com/zjwVVlb.gif)

[2019-08-07 11:55] Flexo013 commented on #1707
I'll close this since we are actively using Jest.

For continued discussion on Jest and test coverage let's use #1826

[2019-08-07 11:55] #1707 closed

[2019-08-07 12:00] Flexo013 commented on #1530
This was indeed not fixed by #3063. That PR fixes this behavior for Snippet notes, **not** for code blocks in Markdown notes.

[2019-08-07 12:08] Flexo013 commented on #1430
Duplicate of #2645

[2019-08-07 12:08] #1430 closed

[2019-08-07 12:10] imaojun opened #3208 "open file in vim or other editor"
# Expected behavior
Added the ability to open notes in vim or other software.

Boostnote can be edited like VIM, but some VIM features are not supported.

 For example, <kbd>Ctrl-R Ctrl-W</kbd>, so I hope that when I need to use the VIM advanced features, I can open the current notes in VIM. (I don't want to go to the directory to find the path to the current note, which is cumbersome and cumberso

[2019-08-07 12:11] Flexo013 commented on #1463
Closing this as the issue no longer seems to occur on the latest versions of the installer.

@waghcwb If this issue does pop up again for you, then feel free to reopen this issue.

[2019-08-07 12:11] #1463 closed

[2019-08-07 12:16] Flexo013 commented on #1776
This bug is no longer present in the latest version of Boostnote.

[2019-08-07 12:16] #1776 closed

[2019-08-07 12:18] Flexo013 commented on #1840
To whomever will try to improve this incorrect behavior: Don't forget that the LaTeX delimiters are configurable.

[2019-08-07 13:19] YM-KA opened #3209 "Environment variable ENV_NODE prevents Boostnote to start"
# Current behavior
Cannot start Boostnote when enviroment variable ENV_NODE = development.
I use this a lot when developing in teams.

# Expected behavior
Being able to start Boostnote when enviroment variable ENV_NODE = development.

# Steps to reproduce
Set enviroment variable ENV_NODE = development.

# Environment
- Version : 0.12.1
- OS Version and name : Windows 10

[2019-08-07 15:28] Flexo013 commented on #1888
@abhiramravipati @bimlas Does this issue still exist on Windows 7 with the latest version of Boostnote?

[2019-08-07 15:38] Flexo013 commented on #1897
The switching of file format that Boostnote uses is being discussed over here: #490

[2019-08-07 15:39] Flexo013 commented on #2048
Duplicate of #1447

[2019-08-07 15:39] #2048 closed

[2019-08-07 15:42] Flexo013 commented on #1783
This bug no longer exists in the latest version of Boostnote.

[2019-08-07 15:42] #1783 closed

[2019-08-07 15:45] #1835 closed

[2019-08-07 15:46] Flexo013 commented on #1926
I agree that your version is more intuitive. @Rokt33r ?

[2019-08-07 23:34] amedora commented on #1530
sorry for confusion. I misunderstood the OP.

[2019-08-07 23:42] Rokt33r commented on #1926
@Flexo013 I agree too.

[2019-08-08 01:55] Flexo013 commented on #1926
@yosmoc Could you submit your PR for this improvement?

[2019-08-08 02:03] Flexo013 commented on #1880
@cringha Do you still have the code to submit the PR?

[2019-08-08 02:05] Flexo013 commented on #1810
This is fixed in the latest version of Boostnote.

[2019-08-08 02:19] Flexo013 commented on #1851
This issue does not seem to occur in the latest updates anymore.

[2019-08-08 02:19] #1851 closed

[2019-08-08 02:21] #1973 closed

[2019-08-08 02:24] Flexo013 commented on #1263
All these features are currently implemented. Thanks for the suggestions!

[2019-08-08 02:24] #1263 closed

[2019-08-08 02:29] Flexo013 commented on #1947
There is no need for explicit saving in Boostnote, as your notes are constantly saved.

Ctrl+F does work.

[2019-08-08 02:29] #1947 closed

[2019-08-08 02:50] Flexo013 commented on #2000
Agreeing with @bimlas here. This is not really a feature that Boostnote needs to support, but the user can use (shell/batch) scripts to launch Boostnote and everything it would like to launch alongside it.

[2019-08-08 02:50] #2000 closed

[2019-08-08 02:55] Flexo013 commented on #1469
Duplicate of #76

[2019-08-08 02:55] #1469 closed

[2019-08-08 06:03] bimlas commented on #1888
@Flexo013 Everything seems to be fine for me.

[2019-08-08 07:26] ehhc commented on #3203
From reading the issue, i thought about the same reason you describe as well...
@VishwasGagrani can you try if it also happens if you Copy&paste the link instead of Cut&Paste it?

Unfortunately, i'm not able to reproduce mac issues because i don't have a private mac..

[2019-08-08 07:44] ZeroX-DG commented on #3209
When you run `npm run dev` the NODE_ENV has already been set by default. Why do you want to manually set it? Can you share a little more details about what you want to do?

[2019-08-08 07:48] #1888 closed

[2019-08-08 09:08] matneu03 commented on #3023
Having the samme issue in version 0.12.1 on Windows 10

[2019-08-08 10:58] ips138 commented on #3114
Note that this is pointing to the default notes storage folder. If you changed your default location, and/or added others to give you a n hierarchy of note folders (like I have) then you'd need to take this into account.

I created a folder called Boostnotes into my sync location to collate all my storage locations together. I then added a few folders within, each mapped in Boostnote storage setti

[2019-08-08 13:00] Flexo013 commented on #1957
Since there currently are no mobile apps for Boostnote I will be closing this issue.

[2019-08-08 13:00] #1957 closed

[2019-08-08 13:01] #1943 closed

[2019-08-08 13:03] Flexo013 commented on #2090
This is no longer an issue in the latest version of Boostnote.

[2019-08-08 13:03] #2090 closed

[2019-08-08 13:04] Flexo013 commented on #2182
Closing this issue due inactivity of the issue's author.

[2019-08-08 13:04] #2182 closed

[2019-08-09 04:35] devongabriel opened #3210 "import .cson"
# Current behavior

# Expected behavior

# Steps to reproduce

1.
2.
3.

# Environment

- Version :
- OS Version and name :

[2019-08-09 04:36] #3210 closed

[2019-08-09 15:18] Flexo013 commented on #1071
Closing this issue for now.

@rolandjohann Feel free to reopen it when you respond :)

[2019-08-09 15:18] #1071 closed

[2019-08-11 14:22] #2636 closed

[2019-08-11 15:57] Flexo013 commented on #1781
This bug no longer occurs on the latest version of Boostnote.

[2019-08-11 15:57] #1781 closed

[2019-08-11 16:05] Flexo013 commented on #1758
Confirmed to still be a bug in 0.12.1

[2019-08-11 16:10] Flexo013 commented on #1661
Also on option would be to hide the drag icon until the user hovers over the folder in question.

This what Todoist does:
![image](https://user-images.githubusercontent.com/4507015/62836446-4102d680-bc63-11e9-9b6f-97e916bec4f0.png)

[2019-08-11 16:10] Flexo013 commented on #1794
Duplicate of #1661

[2019-08-11 16:10] #1794 closed

[2019-08-12 16:10] humberto-garza opened #3211 "First horizontal line not rendering when UI at 90%"
# Current behavior

On any page, when you add a horizontal line, either using ` *** ` or ` <hr> `  it does not show on the rendered view if it is the first one. To work around this, you need to add a second `<hr>`. Interestingly, when you copy-paste the rendered version of the md somewhere else, you see that the 2 lines are there.

# Expected behavior
![image](https://user-images.githubusercontent

[2019-08-12 16:59] Flexo013 commented on #3211
I can't seem to be able to reproduce this:
![image](https://user-images.githubusercontent.com/4507015/62882860-197b3f00-bd33-11e9-8e48-452239d77f93.png)

This is with 0.12.1 on Windows 10.

@humberto-garza How does this note look on your side?
[code]

[2019-08-12 17:02] Flexo013 commented on #691
This bug is no longer present in the latest version of Boostnote:

![image](https://user-images.githubusercontent.com/4507015/62883146-ae7e3800-bd33-11e9-8b1f-ccb4b7eb75db.png)

[2019-08-12 17:02] #691 closed

[2019-08-12 17:45] humberto-garza commented on #3211
It looks like this:

![image](https://user-images.githubusercontent.com/8660999/62885656-06e71280-bcff-11e9-9a78-e389adc4d615.png)

[2019-08-13 04:45] j892020 commented on #3203
Hi there,
I'm just having the same issue on Windows.

### Steps to Reproduce
---
- Copy a picture on a website and paste it into boostnote
- At first, it displayed properly
- After a few hours (sometimes minutes), **the picture just vanished and couldn't be found in the folder or recycle bin**.

Besides images, the issue happened on pdf file as well.

### Steps to Reproduce
---
- Copy a pdf file f

[2019-08-13 12:34] saboorelahi opened #3212 "Auto Scroll Problem in markdown editor with Images"
# Current behavior
Markdown Editor automatically scroll up and scroll down on editing something if image is included in the markdown file. I have made a video of the issue which can be opened by clicking the image below

[![Boostnote Issue related to scrolling](https://i.ibb.co/BcxL7yv/boostnote.png)](https://vimeo.com/353555936)

# Expected behavior
Markdown Editor should remain at its current po

[2019-08-13 14:01] Flexo013 commented on #3212
Duplicate of #2886

[2019-08-13 14:01] #3212 closed

[2019-08-13 14:12] saboorelahi commented on #3212
In issue #2886 it was described that the preview scroll up to the top.
I am not sure whether it covered the case of editor going to the top automatically in case of images.

[2019-08-13 15:28] humblecoder commented on #2648
@MiloTodt I receive a 404 when yarn attempts to retrieve `http://registry.yarnpkg.com/js-sequence-diagrams/-/js-sequence-diagrams-1000000.0.6.tgz`.

Anyone aware if there are any near future plans to fully address the issue?

[2019-08-13 18:07] Flexo013 commented on #3211
Even with those exact settings I can't reproduce this bug. I have no idea where this could come from, so I'm just going to ask some random questions. Maybe that'll help in pinpointing the cause of this.

- Does this happen on all notes? (New, old, imported, exported)
- Do you have a different Win10 machine that you could test this behavior on?
- Could you try reinstalling Boostnote entirely? (Make

[2019-08-13 18:08] Flexo013 commented on #1806
This error no longer occurs in the latest version.

[2019-08-13 18:08] #1806 closed

[2019-08-13 18:09] Flexo013 commented on #1896
@i008 Can you confirm that this is fixed in the latest version of Boostnote?

[2019-08-13 18:11] Flexo013 commented on #1877
On Windows 10 with Boostnote version 0.12.1 I don't have any export problems with checkboxes.

Feel free to reopen this thread if the issue pops up again.

[2019-08-13 18:11] #1877 closed

[2019-08-13 18:15] Flexo013 commented on #1879
@ctrngk So you are asking for some syntax that would add highlighting to the Markdown syntax?

[2019-08-13 18:19] Flexo013 commented on #2147
@infosisio So you simply like a way for other programs to get an exact copy of the snippet file/tab that you have in Boostnote?

[2019-08-13 18:20] Flexo013 commented on #1682
I think this issue is no longer present in the latest version.

If you still are experiencing this problem then feel free to reopen this issue or create a new issue with all the relevant information.

[2019-08-13 18:20] #1682 closed

[2019-08-13 18:22] Flexo013 commented on #2469
Feature is present in current version Boosnote.

[2019-08-13 18:22] #2469 closed

[2019-08-13 18:26] #2401 closed

[2019-08-13 18:27] #2422 closed

[2019-08-13 18:32] Flexo013 commented on #2602
This issue is fixed in the latest version of Boostnote.

[2019-08-13 18:32] #2602 closed

[2019-08-13 22:36] mathewmorris opened #3213 "Link to external in Markdown Preview with anchor does not work."
# Current behavior
Links that have an anchor included, do not work unless in editor mode with `CMD + click` method

![linknoworking](https://user-images.githubusercontent.com/10860014/62982257-42faa000-bdf1-11e9-9bd9-ae54fb2336a7.gif)

# Expected behavior
Should open browser to link at anchor.

# Steps to reproduce

1. Add link to a note (ie: `[Link w/ anchor](https://google.com/#viewport)`).
2. C

[2019-08-14 03:29] zzzxb opened #3214 "After I insert '<' into the article, the cursor always returns to the top of the article and returns again"
After I insert '<' into the article, the cursor always returns to the top of the article and returns again
![back to top](https://user-images.githubusercontent.com/28978346/62991880-f6ac7000-be83-11e9-9acd-81c0ba1b73f5.gif)

It would be better to scroll the preview window in real time according to the offset of the scroll bar after editing the window, but there seems to be a small problem, or is t

[2019-08-14 09:39] Flexo013 commented on #3214
Thanks for the info.

- Could this be related to #2886 ?
- Can you create a separate GitHub issue for this behavior, and explain it a bit more thorough? I don't quite understand what you are asking.
- Duplicate request of #2294 . You can add onto that open issue/feature request.

Next time feel free to create separate GitHub issues for the different points. It helps with keeping focus on one issue

[2019-08-14 10:32] nlopin commented on #1557
I don't think it is valid anymore

[2019-08-14 10:32] #1557 closed

[2019-08-14 14:53] humberto-garza commented on #3211
I was able to find a way to reproduce the issue!
This only happens when the zoom option is set to 90%; when it is set to 80%, 100%, 110%... the problem goes away... So I think it is a zoom related problem

[2019-08-14 15:02] Flexo013 commented on #3211
@humberto-garza Awesome! Thanks for locating the source of the bug.

I can reproduce this issue now:
![image](https://user-images.githubusercontent.com/4507015/63032014-5111f480-beb5-11e9-91c4-82b362a48900.png)

[2019-08-15 10:43] xunilarium commented on #1046
The icon in title bar always like this:
![BN02](https://user-images.githubusercontent.com/10381709/63089886-a8c06680-bf6e-11e9-8852-7423876208b0.png)

but in taskbar sometimes it's okay and sometimes it's not:
![BN01](https://user-images.githubusercontent.com/10381709/63089931-d6a5ab00-bf6e-11e9-9d3d-1c0547f19d56.png)
----------------------------
![BN03](https://user-images.githubusercontent.com/1

[2019-08-15 16:12] Flexo013 commented on #1823
@msbentley @gediminasml Is this still an issue in the latest version?

[2019-08-15 17:28] Flexo013 commented on #1687
[You can do Ctrl + B to hide the sidebar and note list.](https://github.com/BoostIO/Boostnote/wiki/Keyboard-Shortcuts)

[2019-08-15 17:28] #1687 closed

[2019-08-15 17:29] #252 closed

[2019-08-15 17:38] Flexo013 commented on #1846
You can currently export and entire folder of notes as HTML with images to share a large batch of notes with people who don't use Boostnote. Yes this is convoluted, but fairly reasonable imo.

If you want easier automatic sharing of notes from Boostnote, then your colleagues will have to use Boostnote, and use a synchronized storage between you.

[2019-08-15 17:38] #1846 closed

[2019-08-15 17:43] Flexo013 commented on #1886
The highlight feature request can be discussed in #1879. That way this issue can focus on adding support for multiple colors of text.

[2019-08-15 17:45] Flexo013 commented on #1489
This issue no longer exists in the latest version of Boostnote.

[2019-08-15 17:45] #1489 closed

[2019-08-15 18:03] Flexo013 commented on #2259
Here are issues regarding the readability of the cson files: #1447 and #490

[2019-08-15 18:21] Flexo013 commented on #2001
@ehhc I feel like this is two separate features:

- Display rendered versions of Boostnote notes through a proxy.
- Display other notes through the same proxy.

Or am I misunderstanding your request?

[2019-08-15 18:27] Flexo013 commented on #1994
This is the same issue as mentioned in #2373. I'm closing this one and leaving that one open since it has more discussion.

[2019-08-15 18:27] #1994 closed

[2019-08-15 18:33] Flexo013 commented on #379
#1514 is a PR that creates a snap package. Feel free to continue that PR and submit a new one.

[2019-08-15 18:42] Flexo013 commented on #1053
The current version of Boostnote support pasting links and images from clipboard:

[code]

[2019-08-15 18:42] #1053 closed

[2019-08-15 18:53] Flexo013 commented on #2092
This discussion is over a year old and it seems as there was no particular opinion or suggestion here that gained a lot of traction. So I'll be closing it for now.

Feel free to reopen or visit a different issue about the discussed features: Material design, WYSISYG editor, HyperMD

[2019-08-15 18:53] #2092 closed

[2019-08-15 19:04] Flexo013 commented on #2061
Currently I don't think there is a way to make plugins. On top of that there are many other features and bugs that would have priority over adding plugin support. So I don't expect to this calendar feature any time soon.

[2019-08-15 19:04] #2061 closed

[2019-08-15 23:30] #1762 closed

[2019-08-15 23:30] Flexo013 commented on #2238
@clementpoiret Is this issue still occurring with the latest version of Boostnote?

[2019-08-15 23:31] Flexo013 commented on #2246
@ShakataGaNai Is this still occurring with the latest version of Boostnote?

[2019-08-15 23:33] Flexo013 commented on #2219
Bug is no longer present in the latest version of Boostnote.

[2019-08-15 23:33] #2219 closed

[2019-08-16 04:07] ronaldl commented on #3203
I'm seeing the same behavior.

Boostnote Version: 0.12.1
OS Version: macOS Mojave 10.14.6

[2019-08-16 06:02] ehhc commented on #2001
It's a long time ago since i wrote this issue. I don't think it will ever implemented nor am i convinced anymore that it is worth the effort. I'll close the issue therefore

[2019-08-16 06:02] #2001 closed

[2019-08-16 07:18] clementpoiret commented on #2238
I'm no longer using BitDefender as I completely switched to Arch Linux, so no problem anymore... I can't really give you a better answer, I'm sorry

[2019-08-16 07:34] msbentley commented on #1823
Yes, it is still an issue on 0.12.1-1 - testing quickly with the example from the CodeMirror [code-folding page](https://codemirror.net/demo/folding.html) js works fine, but python and html do not, for example.

[2019-08-16 14:30] Flexo013 commented on #2238
@clementpoiret That's okay. Thanks for the info anyways!

[2019-08-16 14:30] #2238 closed

[2019-08-17 01:09] hak33m16 commented on #2906
@ZeroX-DG

Hey, Zerox-DG, could you confirm that this is in unexpected behavior, and a bug?

[2019-08-17 13:21] Flexo013 commented on #379
Related: #2115 #2164

[2019-08-17 13:22] Flexo013 commented on #2245
In the current version of Boostnote this seems to be fixed.

[2019-08-17 13:22] #2245 closed

[2019-08-18 07:36] ZeroX-DG commented on #2906
Hey @hak33m16, I intended the menu to be open only if alt is the only key being pressed, so in this case, the current behavior is not how the app should behave.

[2019-08-18 18:12] Flexo013 commented on #1862
The current version of Boostnote does not have the bug on Ubuntu. Thanks for reporting it anyways!

[2019-08-18 18:12] #1862 closed

[2019-08-18 18:14] Flexo013 commented on #989
This and #1790 are about the same feature. That one has funding so I'll be closing this one.

Btw you can do Ctrl+R to reload the files. It's not ideal, but better than rebooting the entire app.

[2019-08-18 18:14] #989 closed

[2019-08-18 18:44] Flexo013 commented on #2308
This was caused by the wrong delimiters. Should be fixed now, thanks!

[2019-08-18 18:44] #2308 closed

[2019-08-18 18:48] Flexo013 commented on #2186
The note does no longer disappear in the current version of Boostnote.

[2019-08-18 18:48] #2186 closed

[2019-08-18 19:59] Flexo013 commented on #2367
I don't see much support for this feature, and since there doesn't seem to be any valid use-case, so I'm closing this as won't fix.

[2019-08-18 19:59] #2367 closed

[2019-08-18 20:00] #2274 closed

[2019-08-18 20:05] #2262 closed

[2019-08-18 20:07] Flexo013 commented on #849
Hotkeys are working again in the current version of Boostnote.

Feel free to reopen the issue if you are still experiencing problems.

[2019-08-18 20:07] #849 closed

[2019-08-18 20:10] Flexo013 commented on #292
Duplicate of #490

[2019-08-18 20:10] #292 closed

[2019-08-18 20:11] #1695 closed

[2019-08-18 20:13] #2166 closed

[2019-08-18 20:13] #2161 closed

[2019-08-18 20:15] #1537 closed

[2019-08-18 20:24] Flexo013 commented on #1503
It seems that this feature is now back. So I'm closing this issue for now. If I am mistaken or more needs to be discussed here, then just reopen this ticket.

[2019-08-18 20:25] Flexo013 commented on #2286
Duplicate of #1438

[2019-08-18 20:25] #2286 closed

[2019-08-18 20:32] Flexo013 commented on #2258
This is something that will have to be implemented into [CodeMirror ](https://codemirror.net/mode/index.html)as that that care of our highlighting.

[2019-08-18 20:35] Flexo013 commented on #2453
Duplicate of #3127

[2019-08-18 20:35] #2453 closed

[2019-08-18 20:39] Flexo013 commented on #1511
Duplicate of #827

[2019-08-18 20:39] #1511 closed

[2019-08-18 20:44] #94 closed

[2019-08-18 22:38] rrjp commented on #2259
CSON isn't ideal but I can 100% open them in Atom, VS Code, SED, AWK, Python or any other text based tool and manipulate them (global search and replace across all notes for example). The format is more suitable for humans to work with than some of the other file formats I work with at work every day. Remember this is a tool for programmers.

I was using One Note on Mac at work and it got screwed

[2019-08-19 01:32] amedora commented on #3007
@Flexo013, could you close this? (resolved by #3028)

[2019-08-19 12:01] Flexo013 commented on #3007
Thanks for the ping @amedora!

[2019-08-19 12:01] #3007 closed

[2019-08-19 17:10] mjhoshea commented on #3023
Having the same issue in Ubuntu 18.04 version 0.12.1

[2019-08-19 22:13] #2072 closed

[2019-08-19 22:15] Flexo013 commented on #2243
@patrick-elmquist-knowit Do you still wish to help figure out with improving the UX of Boostnote?

[2019-08-19 22:18] #2089 closed

[2019-08-19 22:22] Flexo013 commented on #2906
To act similar to how all other programs work the menu does not pop-up until Alt is released. I definitely think we should do this to solve many issues with hotkeys.

[2019-08-19 22:23] Flexo013 commented on #2517
Will be fixed by #2906

[2019-08-19 22:25] Flexo013 commented on #1008
Will be fixed by #2906

[2019-08-19 22:26] #2087 closed

[2019-08-19 22:28] Flexo013 commented on #1097
Exporting a Snippet Note as txt should really be a thing.

[2019-08-20 00:13] DemonElite commented on #3203
I am troubled by the same problem
sometimes, the file was inexplicably deleted

[2019-08-20 07:00] YM-KA commented on #3209
Hi ZeroX-DB!
I am running Windows 10 on my work/development machine. The enviroment variable ENV_NODE is always set to "development" for me - since I am doing a lot of development. This prevents me from running Boostnote. (I do not use npm - I run yarn for my projects.)

In order to be able to run Boostnote I have to change the system wide environment variable ENV_NODE to "production". This unfort

[2019-08-20 08:52] DoKe65 commented on #2517
Thanks @Flexo013!

[2019-08-20 09:15] Flexo013 commented on #3203
I have so far been unable to reproduce this issue. I'm wondering if this might be due to my Boostnote storage folder being synced (with MEGA).

@DemonElite @ronaldl @j892020 @VishwasGagrani Are any of you using any kind of automatic cloud saving of your notes?
If you aren't then could you try using something like this and see if the issue still occurs?

I don't expect it to make a difference, but

[2019-08-20 10:42] MihaelBercic commented on #3023
Having the same issue version 0.12.1 on Windows 10.
Happens when there is an image preview present in the markdown.

[2019-08-20 15:09] ronaldl commented on #3203
I've seen this behavior when syncing with OneDrive and pCloud.

[2019-08-20 15:14] VishwasGagrani commented on #3203
I am already using Google Drive. However the issue is related with Boostnote only. I have commented the line in Main.js of Boostnotes, and I have not faced any such problem after that. So if it's an emergency situation for any boostnote user, then you can do that temporary patching as I did, till this issue is solved completely.

https://github.com/BoostIO/Boostnote/issues/3203#issuecomment-518583

[2019-08-20 15:47] Flexo013 commented on #1665
This option is clickable in the latest version.

[2019-08-20 15:47] #1665 closed

[2019-08-20 15:49] Flexo013 commented on #2126
You can already export your files as markdown files (not "encoded").

We also have this issue #490 which requests the same as you, .md files instead of .cson.

[2019-08-20 15:49] #2126 closed

[2019-08-20 15:50] Flexo013 commented on #1845
This issue is no longer present in the current version of Boostnote.

[2019-08-20 15:50] #1845 closed

[2019-08-20 15:50] Flexo013 commented on #851
@b0urb0n Are you still having this issue?

[2019-08-20 15:51] Flexo013 commented on #2034
The current version of Boostnote seems to work with Dropbox.

Please feel free to reopen this issue if you are still experiencing it.

[2019-08-20 15:51] #2034 closed

[2019-08-20 15:52] Flexo013 commented on #2392
@vwrs @ZeroX-DG @daiyam Does something still need to happen with this issue or can it be closed?

[2019-08-20 19:17] Flexo013 commented on #409
@chkumar246 Feel free to take it.

I will be closing this issue as there are many other issues for the exact same feature, some of which already have funding. #2115 #379 #2164

Let's continue discussion and development of this feature there.

[2019-08-20 19:17] #409 closed

[2019-08-20 19:23] Flexo013 commented on #2573
You can open the .cson files in other editors.

[2019-08-20 19:23] #2573 closed

[2019-08-20 19:24] #2615 closed

[2019-08-20 19:25] #2695 closed

[2019-08-20 19:33] #2521 closed

[2019-08-20 19:36] Flexo013 commented on #2760
If you don't like the # being part of the syntax for headers, then simply look for a note taking app that isn't focused on Markdown.

[2019-08-20 19:36] #2760 closed

[2019-08-20 19:38] Flexo013 commented on #2169
This is intended Markdown behavior.

[2019-08-20 19:38] #2169 closed

[2019-08-20 19:39] #2336 closed

[2019-08-20 19:42] Flexo013 commented on #2870
Duplicate of #1097

[2019-08-20 19:42] #2870 closed

[2019-08-20 19:43] #2915 closed

[2019-08-20 19:43] Flexo013 commented on #1548
Duplicate of #571

[2019-08-20 19:43] #1548 closed

[2019-08-20 19:47] Flexo013 commented on #1400
One of all these functionalities is addressed in #3205

[2019-08-20 19:49] Flexo013 commented on #1861
This is going to be incredibly complex to implement as both platforms have features that the other doesn't. So notes will change and functionality will be heavily reduced to get this working.

[2019-08-20 19:49] #2973 closed

[2019-08-20 19:53] Flexo013 commented on #1803
Assigning this to myself because I will be working on documenting all shortcuts properly.

If certain shortcuts do not exist then don't let my assignment sit in your way.

[2019-08-20 19:56] Flexo013 commented on #2925
This now possible in the current version of Boostnote.

[2019-08-20 19:56] #2925 closed

[2019-08-20 19:59] Flexo013 commented on #2806
@ZeroX-DG bump

[2019-08-20 20:00] #1522 closed

[2019-08-20 20:02] Flexo013 commented on #2823
This bug is no longer present.

[2019-08-20 20:02] #2823 closed

[2019-08-20 22:53] b0urb0n commented on #851
With the latest release, I am no longer experiencing the issue above!

[2019-08-20 22:53] #851 closed

[2019-08-21 06:21] probonopd opened #3216 "AppImage for Linux"
Continuation from https://github.com/BoostIO/Boostnote/issues/409

Providing an [AppImage](http://appimage.org/) would have, among others, these advantages:
- Applications packaged as an AppImage can run on many distributions (including Ubuntu, Fedora, openSUSE, CentOS, elementaryOS, Linux Mint, and others)
- One app = one file = super simple for users: just download one AppImage file, [make it ex

[2019-08-21 06:22] probonopd commented on #409
Those are not about AppImage, hence I am opening a ticket regarding AppImage now:
https://github.com/BoostIO/Boostnote/issues/3216

Sad that the 7 "thumbs up" for my AppImage post above are "lost" this way.

[2019-08-21 07:13] Flexo013 commented on #409
I would love there to be a way to transfer those to the relevant issue, but sadly there isn't. Sorry about that. :(

The GitHub issues of Boostnote have been quite disorganized leading to many duplicate (or very similar) issues. Which on its turn leads to people missing each other or issues getting fragmented. For this reason sometimes these issues have to closed or moved.

[2019-08-21 09:36] Flexo013 commented on #2294
Related #3022

[2019-08-21 09:38] Flexo013 commented on #1716
Duplicate of #2294 (funded)

[2019-08-21 09:38] #1716 closed

[2019-08-21 09:39] Flexo013 commented on #1109
Duplicate of #2294 (which has funding)

[2019-08-21 09:39] #1109 closed

[2019-08-21 09:42] Flexo013 commented on #3141
@noklam That bug will be fixed by #3177

[2019-08-21 11:57] Redsandro commented on #3122
@Flexo013 0.12.1 crashes too. Usually when I click the Interface Settings > Editor Theme popup.
I reinstalled 0.11.7.

[2019-08-21 12:13] Redsandro commented on #3122
https://github.com/BoostIO/Boostnote/pull/2603/commits/1388e7d7f478102fc98dce303cbed883b06ff9bd

[2019-08-21 12:35] daiyam commented on #3122
@Redsandro, can you try to update the electron version to v3.1.13?

[2019-08-21 12:49] Flexo013 commented on #3122
@Redsandro Thanks a bunch for all the helpful info!

[2019-08-21 12:55] Redsandro commented on #3122
@daiyam is there an app that already uses 3.1.13? I've tried 3.1.10 (which crashes) but I don't have too much time to do this manually. (I'm not so good with this.)

I believe all Electron versions above 3.0.3 and below 4 crash. Although this is indeed an upstream issue, it seems to be fixed in the next major release branch. I wonder if there are any major things stopping us from updating to Elect

[2019-08-21 15:58] j892020 commented on #3203
I was using Google Drive. After having the issue, I stop using cloud-saving and change the storage folder to a local one. The problem still exists, and then I report it here.

[2019-08-22 02:34] gmqi opened #3217 "After entering "<img src>", Boostnote shows a blank window"
# Current behavior

The note's content as following:
[code]

After entering "`<img src>`", Boostnote shows a blank windon.
 I close Boostnote and open it again, this issue still exist, I could not use Boostnote anymore.

After I delete "`<img src>`" or add a blank line before it, this issue disappear.
[](url)

# Expected behavior
Boostnote should work normally for any text contents.

# Steps to re

[2019-08-22 11:59] gmqi opened #3218 "Boostnote always go back to the first page"
# Current behavior
If there have a picture link in the note (like the following), when I edit the note, Boostnote always go back to the first page.
[code]

# Expected behavior
When edit the note, Boostnote does not go back to the first page.

# Steps to reproduce

1. Enter a picture link in a note.
    `![Fig. 1](https://people.xiph.org/~jm/demo/rnnoise/noise_suppression.png)`
2. Enter a character

[2019-08-22 13:07] n3x77 opened #3220 "Feature Request: Task / Todo List - Overview"
# Current behavior

If TODO-Lists are created within a project folder the progress is shown on top of the single note.

# Expected behavior

It would be great to get a better overview of current tasks if we could link all todo-Items from a note in one Overview Todo list.
To improve this it would be very cool if a task is done in one of the notes the general overview task list will also update or v