[2019-08-22 13:21] Flexo013 commented on #3218
Duplicate of #2886

[2019-08-22 13:21] #3218 closed

[2019-08-22 13:46] gjae opened #3221 "[Idea] A possible idea"
## Hello, first of all I must say that I love this application !.

I was thinking about the possibility of writing a client-server version where the application can be synchronized with a web service as evernote does, that would give the possibility of integrating it into a mobile app, which I would like to join the project to be like this maybe with react -native since the main application is bas

[2019-08-22 21:10] 8bit-echo commented on #1503
I just downloaded 0.12.1 and I'm still not seeing a way to do this. @Flexo013  Can you elaborate on what you found that solves this?

[2019-08-23 02:00] nilsocket opened #3222 "Bug: Table of contents is not rendered properly"
# Current behavior

Generated TOC, doesn't handle headers with links properly.

## Markdown code
[code]

## Rendered as
![image](https://user-images.githubusercontent.com/29815708/63561262-e9c00880-c576-11e9-9d0e-9c7051a04864.png)

# Expected behavior

## Markdown code

[code]

## Rendered as
![image](https://user-images.githubusercontent.com/29815708/63561398-6bb03180-c577-11e9-9ce4-82b91c8b382d.

[2019-08-23 11:20] Flexo013 commented on #3221
Thanks for the kind words! :smile:

The idea of implementing a method to support syncing has been around for a while. You can find more about that on the issues #827 and #1250. You can also search the GitHub issues for 'sync' or 'cloud' and you should find some threads to continue on and help out with.

If you would like to discuss more details, then I highly encourage you to join [our slack](http

[2019-08-23 11:20] #3221 closed

[2019-08-23 11:53] Flexo013 commented on #1503
My bad, when I skimmed through this thread I thought it was about creating a new snippet note with one simple shortcut, which is possible.

@8bit-echo Could you attach images (with descriptions/shortcuts) of the functionality that you would like to see back in newer versions of Boostnote?

[2019-08-23 12:48] YM-KA commented on #3209
Temporary fix:

1. Create a BoostNote.bat in C:\Users\YOUR-USERNAME-HERE\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\Dick Choi
2. Paste the below code

SET NODE_ENV="production"
cd C:\Users\kazuy\AppData\Local\boost\app-0.12.1
C:\Users\kazuy\AppData\Local\boost\Boostnote.exe

3. Create a new shortcut to the Batch and name it something along the lines of "BoostNoteFixed"

4. Run the new s

[2019-08-23 15:53] Flexo013 commented on #3220
Duplicate of #1208

[2019-08-23 15:53] #3220 closed

[2019-08-23 16:34] aldorperez1 commented on #2891
I am having the same issue as @rdsr.
Platform: MacOS 10.14.6
Boostnote Version: 0.12.1

[2019-08-23 23:25] gerroon commented on #3174
I have this under 0.12.1 on Linux as well

[2019-08-23 23:29] gerroon commented on #3144
@Flexo013

There is no double click, but there is "when editor blurred Edit on double click" which makes no sense :(

[2019-08-24 04:36] #3163 closed

[2019-08-24 04:37] #3144 closed

[2019-08-24 04:38] #3159 closed

[2019-08-24 04:38] #3164 closed

[2019-08-24 10:33] Flexo013 commented on #2891
Can't reproduce this on Windows 10 with Boostnote 0.12.1. Maybe this is a Mac only bug?

[2019-08-24 10:37] Flexo013 commented on #3174
This will be fixed in the next release.

[2019-08-24 10:37] #3174 closed

[2019-08-24 10:40] Flexo013 commented on #3060
The fix is merged so it will be part of the release.

[2019-08-24 10:40] #3060 closed

[2019-08-24 11:01] #3039 closed

[2019-08-24 11:03] Flexo013 commented on #3157
Fixed in the next release.

[2019-08-24 11:03] #3157 closed

[2019-08-24 11:04] Flexo013 commented on #3178
Will be fixed in 0.13.0

[2019-08-24 11:04] #3178 closed

[2019-08-24 18:52] Chromecube commented on #3203
I am facing the same issue, now using the workaround as well. I am not using Google Drive or OneDrive (or any other syncing application).

[2019-08-25 00:52] lucmski opened #3224 "Anonymous notes"
Hi guys,

Hope you are all well !

Was just wonderint if the storage of notes can be in memory and cyphered at the same time.

Cheers,
L.

[2019-08-25 02:01] Flexo013 commented on #3224
If you use something like BitLocker then all files on that drive will be encrypted and usable at the same time.

There is no way to decrypt just the Boostnote files and still have them be used at the moment. There is a feature request for this that you could check out and fund if you would really like this feature: #827

[2019-08-25 02:01] #3224 closed

[2019-08-26 09:01] ZeroX-DG commented on #3047
@Tyilo A bug fix has just been merged to fix this issue. Feel free to re-open this issue if you can test the latest code and this still occurs to you.

[2019-08-26 09:01] #3047 closed

[2019-08-26 09:05] ZeroX-DG commented on #2038
@jonblack We have just merged a bug fix for this, it would be great if you can check out the latest code and confirm if you still have this issue or not :+1:

[2019-08-26 10:25] Diomas commented on #3203
This attachment files cleanup mechanism is annoying me since i've started using boostnote. I've like the app, but i've lost so many attached files until I commented out these lines:

[code]

[2019-08-26 15:47] ehhc commented on #3203
It annoyed you such a long time and you didn't think about creating a solution suitable for the other users as well...? Tbh: that's quiete egoistic..

[2019-08-27 06:07] #1861 closed

[2019-08-27 14:11] keelejak commented on #3217
Same problem occurs after typing `<a href="">`.

[2019-08-28 02:45] Amabel commented on #2944
Same here. This only happens when I use hotkeys (<kbd>Cmd</kbd> + <kbd>Shift</kbd> + <kbd>Del</kbd>)to delete the note.

# Environments

Version: 0.12.1
OS: macOS 10.14.4

[2019-08-28 14:40] Flexo013 commented on #1431
@neha-sri Have you looked in the Trash/deleted notes in Boostnote? It might still be there :crossed_fingers:

You can sync your Boostnote storage directory using a sync/cloud service like Google Drive or MEGA. Some of these services have their own built in versioning of files uploaded and edited. That way you can still recover older versions of notes through those services.

I agree that it isn't

[2019-08-29 11:29] Flexo013 commented on #3052
@aprather51 What OS are you running on? Have you tried any of the fixes mentioned in this thread?

[2019-08-29 14:45] aprather51 commented on #3052
SOLVED: I had to wipe completely clean the old version of Boostnote (v0.11.xx) inside Window 10's and reinstall everything as original. Now I can see "Interface Theme" appear in preference.

On other hand, I just want to sharing my opinion... Naming "Interface Theme" probably isn't good idea for sake of user experience. How about "Theme" instead?

Thanks for replying back

[2019-08-29 17:27] Flexo013 commented on #3052
@aprather51 You're welcome.

The reason for Interface Theme is because there are multiple things that can be themed, such as your editor and code blocks. These have separate themes from the Interface Theme, thus simply calling it Theme would be confusing as it doesn't mention the theme of what you are changing.

[2019-08-30 04:11] xuegeliu opened #3227 "How do I import the notes from the gitbook editor that I wrote for a long time?"

[2019-08-30 04:48] ZeroX-DG commented on #3227
Hi,
You can just use the import feature to import those markdown files of your for the gitbook.

In the app, press Alt to bring up the menu bar. Select file -> import from -> PlainText, Markdown and select your file.

Feel free to ask me if you need anything else.

[2019-08-30 04:48] #3227 closed

[2019-08-30 08:01] Flexo013 commented on #3203
Not sure if #3225 can count as a proper fix for this issue.

The behavior reported by many people here should not occur. Having the option to "disable" this bug by doing the process manually isn't a full fledged fix. It's a patch that provides a temporary solution as users have to enable the options themselves. Meaning that with default settings this issue will still occur.

Reopening this issue u

[2019-08-30 18:00] alberthu16 opened #3228 "Numbered checkboxes (with Vim keybindings on) don't check off in the UI"
# Current behavior

![Aug-30-2019 10-57-14](https://user-images.githubusercontent.com/3393523/64041731-1646c800-cb15-11e9-82f3-58a02037032e.gif)
![Aug-30-2019 10-56-03](https://user-images.githubusercontent.com/3393523/64041739-1c3ca900-cb15-11e9-97ac-b6e5be86186b.gif)

# Expected behavior

I expect any kind of check box to be clickable and responsive in the rendered UI.

# Steps to reproduce

1.

[2019-08-30 19:20] nlsn opened #3229 "Export diagrams in PDF and HTML"
# Current behavior
Diagram types added for #771 are visible in Boostnote, but when exporting HTML or PDF the diagrams are not rendered.

# Expected behavior
The plantuml, mermaid, and other diagram types should be rendered and included in the HTML and PDF exported files.

# Steps to reproduce
1. Type up any diagram description until it appears correctly in the preview.
2. File > Export as > HTML|P

[2019-08-31 03:48] larrysolis commented on #429
please add lock feature for code snippets not just for markdown

[2019-08-31 04:05] NateOsterfeld opened #3230 "Scrolling needs serious work. Practically unusable?"
# Current behavior
I'm sure I can't be the only one, but whenever I type something into Boostnote the page scrolls all the way to the top. Then when I try to scroll all the way back down (when splitting markdown and preview) preview doesn't even respond. So every time I type something the page flies all the way to the top and then I have to scroll both sides back down, until I type again.

# Expec

[2019-08-31 12:29] jujunchen opened #3231 "mac 版代码不高亮"
mac 版代码不高亮

[2019-08-31 13:01] jujunchen commented on #3231
[code]

[2019-08-31 13:02] #3231 closed

[2019-08-31 13:17] Flexo013 commented on #429
@larrysolis What would the lock feature do for snippet notes?

[2019-08-31 13:20] Flexo013 commented on #3230
Thanks for the report!

We are aware of this issue, see #3023. The fix for this is ready and will be part of the next release.

[2019-08-31 13:20] #3230 closed

[2019-08-31 13:27] Flexo013 commented on #3228
I suspect that numbered checkboxes were never an intended feature by whoever implemented checkboxes. So it's more likely that the checkboxes appearing for numbers lists is a bug.

Especially since it is rendered differently on my end here (Windows 10 with 0.12.1):
![image](https://user-images.githubusercontent.com/4507015/64064593-dca0ba80-cc03-11e9-8482-5c3a08c7db2d.png)

That being said, I don't

[2019-08-31 13:48] larrysolis commented on #429
Same as the lock for markdown.. Prevent unintentional editing of code in snippet..

[2019-08-31 14:11] DeveloperBen commented on #2792
I am currently working on this

[2019-08-31 16:02] Flexo013 commented on #429
That's not the intended feature of the lock button for markdown notes. For those notes it simply locks the interface so it does not switch to the rendered view. Thus allowing you to see the source markdown code without having to have the window in focus.

While a markdown note is 'locked' you can still make edits.

If you want to prevent unintentional editing, then I suggest changing the permissio

[2019-08-31 16:05] Flexo013 commented on #429
A better solution to the original problem as posted in this thread and to @larrysolis's problem as well would be to allow users to turn of auto-saving and provide them with a 'Save Note' button. This however would become a fairly complex feature.

[2019-08-31 22:02] tunjos commented on #3182
- Version: 0.12.1
- OS Version and name: Ubuntu 18.04.3

**Export error**
**Callback must be a function**
I get the same error when I have a folder/file in the path(attachments directory) having an underscore **_**.

For example:
Doesn't work: `![Namecheap](:storage/custom_folder/pic.png)`
Works: `![Namecheap](:storage/custom-folder/pic.png) `
Works: `![Namecheap](:storage/customfolder/pic.png) `

[2019-08-31 22:59] tunjos commented on #3182
- Version: 0.12.1
- OS Version and name: Ubuntu 18.04.3

**Export error**
**Callback must be a function**

I get the same error when I have a **folder/file** in the path(attachments directory) having an **underscore** **_** or the **image** name starts with a **number** and a **dash** **-** e.g. **1-picture.png**, and also when both the **folder** and **image** both contain a **dash** **-**. e.g.

[2019-09-01 09:09] sssstar opened #3232 "White screen on start up"
正在写着突然就白屏了，卸载重装都没用
![image](https://user-images.githubusercontent.com/49156927/64074218-2c9e8080-ccdb-11e9-903a-0fee4351a0cb.png)

[2019-09-01 09:12] sssstar commented on #3232
Don't know why the software's window is white.
Uninstalling reloading is useless.

[2019-09-01 14:10] Flexo013 commented on #3232
@sssstar Please provide all the information that was in the original template for creating an issue (in English). Otherwise we can't really help you.

[2019-09-02 05:57] hikerpig commented on #3217
Same as #3159, already fixed by a47dac285408

[2019-09-02 06:00] hikerpig commented on #3232
@sssstar Could you open the devtools ('View' -> 'Toggle Developer Tools') and see what's going wrong?

[2019-09-02 07:22] #3217 closed

[2019-09-02 10:53] florianhumblot opened #3234 "Using page breaks/new page for export"
# Current behavior
Unkown

# Expected behavior

I'd like to be able to add page-breaks when exporting to PDF or to HTML. I haven't found anything on the wiki or in the application itself to do this. I've tried different things such as:

[code]
or:
[code]

But none of these work either.

# Steps to reproduce
Currently none.

# Environment

- Version : 0.12.1
- OS Version and name : Windows 10 Pro 1

[2019-09-02 13:30] Flexo013 opened #3235 "Checkboxes insert useless newline for long lines"
# Current behavior

![image](https://user-images.githubusercontent.com/4507015/64117614-ec500880-cd95-11e9-94ed-cb5c4cad5da0.png)

# Expected behavior

No newline occurring when there is a list with checkboxes that contains long lines.

The second and third set in the picture above should behave the same as the first set.

# Steps to reproduce

1. Make a note with the following markdown:
[code]
2.

[2019-09-02 16:02] jujunchen opened #3236 "文档中有图片，再输入就会跳开头"
这是git图片,这个问题让人很烦
![git图片](http://pic.aliali.vip:81/pic/boostnote-bug.gif)

[2019-09-02 16:54] #888 closed

[2019-09-02 17:03] #2902 closed

[2019-09-02 17:24] #3190 closed

[2019-09-02 18:03] Flexo013 commented on #3236
Please post issues in English. We can't provide help with your issue, if we can't read it.

Also please use the provided template when submitting an issue. Without that information it is very unlikely that your issue will be solved.

I will be closing this issue for now. Once you have updated the description and title with the required info, you can reopen this ticket.

[2019-09-02 18:03] #3236 closed

[2019-09-02 19:38] Rokt33r commented on #1732
Sorry, I don't have time to deal with the problem... because I'm focusing on renewal...I need help from others...!

[2019-09-02 21:13] pointfour opened #3237 "Dracula theme buttons in storage settings improperly styled"
# Current behavior

<img width="684" alt="Screen Shot 2019-09-02 at 2 10 17 PM" src="https://user-images.githubusercontent.com/28244551/64133518-7a72c180-cd8b-11e9-8f8d-f294f795ba4d.png">
one warning in developer tools:
<img width="404" alt="Screen Shot 2019-09-02 at 2 11 48 PM" src="https://user-images.githubusercontent.com/28244551/64133549-a726d900-cd8b-11e9-926c-1a6434bac63a.png">

# Expected

[2019-09-03 05:47] Flexo013 commented on #2550
The right-click copy options does not work on images in preview mode.

[2019-09-03 13:17] #1998 closed

[2019-09-03 23:45] domclone commented on #1810
still seeing this issue on boostnote version 0.12.1 (0.12.1)
mac os 10.14.6

[2019-09-04 05:52] robbawebba commented on #2097
@blahah @Flexo013 I just opened a PR to address this issue. Any feedback is welcome!

#3239

[2019-09-04 11:08] Flexo013 commented on #1810
@domclone Is this purely the background color that is missing? Or is other styling missing as well?

[2019-09-04 19:27] WeslleyNasRocha commented on #125
I will try to tackle on the subfolder issue

[2019-09-04 19:37] WeslleyNasRocha commented on #125
I will try to look on it

[2019-09-04 20:19] dissolved commented on #2857
This issue is still open, and I just recently found it because somehow I lost all notes that were in a particular storage location. The underlying `boostnote.json` file, and folder named `notes` with all the underlying `*.cson` files are still there...

I got them back, but what wasn't obvious to me was that I had to point the new storage at the folder that contains the `boostnote.json` file, not

[2019-09-05 03:03] Rokt33r opened #3240 "Issue for rewarding #3194"
https://github.com/BoostIO/Boostnote/issues/3190 has been fixed by two contributors. So this issue is for rewarding to one of contributor, @hikerpig, who submitted https://github.com/BoostIO/Boostnote/pull/3194.

[2019-09-05 03:03] #3240 closed

[2019-09-05 03:07] Rokt33r commented on #3190
Because we have multiple contributors who resolve this issue, we split the funding.
The reward for @hikerpig is resolved in https://github.com/BoostIO/Boostnote/issues/3240.

[2019-09-05 03:16] moba1 opened #3241 "Exception was thrown when two boostnote is launched"
# Current behavior
I tried to launch Boostnote as another process with Boostnote already running, then the following exception was thrown:
[code]

# Expected behavior
If Boostnote is started when Boostnote is already running, above exception should not be thrown.

# Steps to reproduce

1. launch Boostnote
2. launch Boostnote as another process

# Environment

- Version : 0.12.1
- OS Version and na

[2019-09-05 04:59] ngeegoh opened #3242 "How to import CSON files to Boostnote?"
# Current behavior
My old laptop died and I had to find way to retrieve all the data from it including Boostnote workspace folder which contains a bunch of CSON files. I have set up a new laptop with BoostNote installed, but I cannot find a find to recover those CSON files and import them back to the Boostnote app in the new laptop.

Could anyone please help me out with this and import all the old

[2019-09-05 12:25] jhdcruz commented on #3242
**Try** opening the Boostnote app, _add new storage location_, and in that storage location, move all your CSON files, then reopen boostnote.

[2019-09-05 12:26] jhdcruz commented on #3241
I know a fix for this, I'll try working on this when I have the free time to do so.

[2019-09-05 16:29] markwu opened #3244 "[Feature Request] `Enable HTML Paste` can grab the image and save it to local storage automatically"
# Current behavior

Currently, boostnote support `Enable HTML Paste`. Therefore I can easily backup any webpage without any web clipper.

But, the problem is, boostnote remian it as `image url` instead of save it to local storage.

![螢幕快照 2019-09-06 上午12 26 53](https://user-images.githubusercontent.com/196861/64360444-1b3bd800-d03d-11e9-83ee-597ccfb83f8a.png)

# Expected behavior

I expect:

1.  `

[2019-09-06 08:17] Flexo013 commented on #3242
Could you try adding the Boostnote workspace folder (not just the notes folder) as a storage location?

So if you have your CSON files in `C:Users\Me\my_storage\notes\bla-bla.cson`, then add `C:Users\Me\my_storage` as the new storage. There should also be a boostnote.json in here.

[2019-09-07 15:44] XXXXXiang commented on #3232
@sssstar  Did you just type reserved word (keyword) like <a href> or something in your note?
I have found a bug that if you type <a href> after any word, then you will cause a white screen.
If you have done this before, find the file that you have typed (you can open them as a txt type file to check ), remove or edit (delete that keyword) that file.

[2019-09-08 15:39] matg19 commented on #3203
I have exactly the same problem (Windows user here). My solution so far is to have Boostnote in Dropbox, so that when Boostnote randomly decides to delete some images I can go to Dropbox bin and restore them (since it does not delete them to the Bin using Windows bin is of no use).

Does commenting out those lines work?

[2019-09-08 17:35] Flexo013 commented on #876
I'm closing this issue do to prolonged inactivity.

If you still are experiencing this problem then feel free to reopen this issue or create a new issue with all the relevant information.

[2019-09-08 17:35] #876 closed

[2019-09-08 17:35] Flexo013 commented on #1303
I'm closing this issue do to prolonged inactivity.

If you still are experiencing this problem then feel free to reopen this issue or create a new issue with all the relevant information.

[2019-09-08 17:35] #1303 closed

[2019-09-08 23:47] arcturus140 commented on #3241
Both applications of Boostnote are using the same system directory for configurations. using two instances could lead to unpredictable behaviour. what happens if one application changes settings? or stores settings on exit? or two instances of different versions are used?

they must work in standalone for this use case. I don't know if this has been implemented yet.

[2019-09-09 00:34] jhdcruz commented on #3241
@arcturus140 That's why **Single Instance**  is implemented. However, the electron npm package was upgraded to the point the original code for it was deprecated, and so was updated in my PR. (which should work fine... probably)

[2019-09-09 03:33] malorie16 commented on #3222
I started taking a look at this bug and found that it could be something to do with the library they're using to parse their markdown. I copied and pasted this into numerous other open source markdown editors and got the same result. Even GitHub's markdown parser results in this:

- [[Sub-Header2](https://google.com)](#Sub-Header2)

[2019-09-09 06:14] imaojun opened #3245 "Support for uploading images to an image server"
# Expected behavior

Support for uploading images to an image server.

The default image is saved to a local directory, but when I need to post to the blog, I have to re-upload the image, which is cumbersome and repetitive. Is it possible to support uploading to an image server (like imgur). This way I can paste notes directly into my blog.

# Environment

- Version :Boostnote 0.12.1
- OS Version

[2019-09-09 07:58] Flexo013 commented on #3222
From @malorie16's comment it looks as if this rendering of the TOC is intended as per our markdown renderer. I do, however, think that we should try to fix this issue within the TOC; mostly because it is generated by us.

My suggestion for a fix is that upon generating the TOC we remove all links. That way we can still generate links to jump within the note. Thus preventing this issue with nested

[2019-09-10 06:01] Arvindprksh commented on #1431
This would be an excellent feature watching the edit history of a note allows me to find when i edited them and has a horde of advantages.I have used this feature in simple notes and I just wish this was added in Boostnotes

[2019-09-10 23:41] robbawebba opened #3246 "Default hotkey for "Prettify Markdown" conflicts with capital `F` character"
# Current behavior
Atom formats the contents of the currently-opened note when `shift-F` is pressed.

# Expected behavior
a `F` character is added to the editor at the current location of the cursor when `shift + F` is pressed.

# Steps to reproduce
1. Open any note.
2. Press `shift-F`.
3. Observe that no `F` character is inserted into the editor.

# Environment
OS: Fedora 30
Version: 0.12.1, chec

[2019-09-10 23:47] robbawebba commented on #3246
PR #3903 seems to have introduced this hotkey.

[2019-09-11 17:44] Flexo013 commented on #3246
I am unable to reproduce this on Windows 10.

[2019-09-11 18:11] robbawebba commented on #3246
@Flexo013 I noticed this feature has not yet been released, and is expected to be released with 0.13. Are you not able to reproduce this on the master branch, or are you testing on a stable release?

[2019-09-13 07:25] Flexo013 commented on #1356
Sure! You have been assigned.

Note that we don't use assignment of issues often in this repo. Simply stating that you are working on it is sufficient.

For other developers that might want to implement this feature (and claim the bounty) the assignment is in not a 'dibs' on this issue. It is merely to show that someone is working on it.

[2019-09-13 07:58] prog20901 commented on #1717
@Flexo013 how the files can be imported in the latest version? Can u please let me know.

[2019-09-13 08:39] Flexo013 commented on #1717
@prog20901 The option is on the top bar. Click `File` -> `Import From` -> `Plaintext, markdown`. Then simply locate the file you wish to import. Both .txt and .md are supported.

[2019-09-14 03:22] Crisescode opened #3247 "Why boostnote don't support to create multi-layer folder? only support to create markdown note or code."
# Current behavior

# Expected behavior

# Steps to reproduce

1.
2.
3.

# Environment

- Version :
- OS Version and name :

[2019-09-14 04:20] #2097 closed

[2019-09-14 15:00] fah commented on #2568
I am sorry to write only one remark:
This problem causes the application to be virtually unusable when editing large pages.

**Please, please, focus on a solution to this problem.**

I appreciate all the hard work that has been done and I love this project. But unfortunately I can not help.

I can only say how important it is for the acceptance of this project to solve this problem.

I showed this

[2019-09-15 15:44] fzh0917 opened #3248 "How to move notes from a folder to another one"
# Current behavior
I can't move notes from a folder to another one.

# Expected behavior
Add a function `Moving note` as same as the "EverNote".

# Steps to reproduce

1.
2.
3.

# Environment

- Version : 0.12.1
- OS Version and name : macOS, Mojave 10.14.6

[2019-09-15 16:29] antiphasis commented on #3248
You see the folder symbol at the top of the note? Click it and it'll show you your notebooks. Then click on the desired notebook and the note is moved there.

[2019-09-15 20:52] AntowaKartowa commented on #125
As a workaround it is possible to make folders in your Dropbox and add them as additional storage.

[2019-09-16 00:38] fzh0917 commented on #3248
OK, it works well. Thanks!

[2019-09-16 00:38] #3248 closed

[2019-09-16 09:58] Flexo013 commented on #2568
@fah Turning of scroll sync (autoscroll) should be a fine workaround for now. All you have to do is scroll in each window to the place where your edits are made. This should barely take any extra time unless you are jumping all around notes every minute.

Could you provide us with some extra info of the problem in your case? Is the autoscroll going too far or not far enough? Are you jumping to the

[2019-09-16 09:59] Flexo013 commented on #3247
Duplicate of #125

[2019-09-16 09:59] #3247 closed

[2019-09-16 12:54] fzh0917 opened #3250 "Display long LaTeX formulas properly"
# Current behavior
As the figure [here](https://figures-1252154746.cos.ap-guangzhou.myqcloud.com/Screenshot%20at%20Sep%2016%2020-42-02.png), the very long LaTex formula can't show in one line, and there isn't a horizontal scroll bar to the tail.

# Expected behavior
A feature of `Auto word wrap` or a **horizontal scroll bar** is required.

# Steps to reproduce

1. Create a note with a long LaTeX f

[2019-09-16 14:27] Redsandro commented on #3122
This is fixed upstream in `4.2.7`. Can Boostnote upgrade Electron to 4?

[2019-09-16 15:23] Flexo013 commented on #3122
@Rokt33r is this possible?

[2019-09-16 15:50] fah commented on #2568
@Flexo013 Turning off sync is for me, as I write larger documents and run and jump between them, a headache. I'm more searching for the right spot on the preview then making progress in writing.

Especially for 4+ pages documents: Adding lines at the end, the preview jumps randomly from the end to some place before the end. I can't see the last line in the preview anymore.

Boostnote V 0.12.1
MacO

[2019-09-16 15:54] fah commented on #2568
I switched the options for edit and preview windows on to go beyond end of document and now it looks much better.

[2019-09-17 08:20] Flexo013 commented on #2568
Thanks for the info! Good to hear that the 'scroll past end' option at least helps a bit.

[2019-09-17 08:26] Flexo013 commented on #3250
How fixable this is for us depends on what the options are for KaTeX, the LaTeX to Markdown markdown library that we use.

If they don't have any helpful way to split something into multiple line then I think the only option will be the scrollbar as you suggested.

[2019-09-17 19:10] #2416 closed

[2019-09-17 21:31] arcturus140 commented on #3222
#3080 is the exact complement to this issue: Generated link, doesn't handle TOC.

[2019-09-18 02:20] #3250 closed

[2019-09-19 19:12] e-stonia commented on #2927
Also, Boostnote still doesn't have built-in editor nor it's coming in the near future? Quite useless both with Joplin if so. For me fine but if I want everybody in our company + maybe customers to use it - no way.

[2019-09-20 17:35] beneccles commented on #3163
I'm experiencing the same issue as #3163, except on Mac OS Mojave. There is a brief pause when I click, then the page re-renders, going back to the top of the page rather than where I was on the page. This happens both with the render page toggled full screen, as well as when I use the edit and rendered screen side-by-side.

[2019-09-20 19:09] Flexo013 commented on #3163
I highly expect this to be fixed in the next release, which should be soon. Once 0.13 is released could you test if the issue persists? And if it does then feel free to reopen this issue.

[2019-09-21 13:19] Olcod commented on #3024
For a long time I though this was a bug ...
To be truly honest this is not the most intuitive feature.

There is something I noticed though, the `lock` button is not visible after you've enabled the `preview` and then switched right back to `edit`.

![Boostnote_record](https://user-images.githubusercontent.com/7938264/65373851-28f08f00-dcc6-11e9-9cc9-9443987d0437.gif)

And, if this is an expected

[2019-09-23 08:50] Flexo013 commented on #2703
@challman1 Could you try this again?

[2019-09-23 08:50] Flexo013 commented on #1195
I'm closing this issue do to prolonged inactivity.

If you still are experiencing this problem then feel free to reopen this issue or create a new issue with all the relevant information.

[2019-09-23 08:50] #1195 closed

[2019-09-23 08:52] Flexo013 commented on #3172
@incace How is the TOC with custom CSS box coming along?

[2019-09-23 08:52] Flexo013 commented on #2807
I'm closing this issue do to prolonged inactivity.

If you still are experiencing this problem then feel free to reopen this issue or create a new issue with all the relevant information.

[2019-09-23 08:52] #2807 closed

[2019-09-23 08:52] Flexo013 commented on #2607
I'm closing this issue do to prolonged inactivity.

If you still are experiencing this problem then feel free to reopen this issue or create a new issue with all the relevant information.

[2019-09-23 08:52] #2607 closed

[2019-09-23 08:54] Flexo013 commented on #1035
@albertoarmida Can you answer the question I asked above?

[2019-09-23 08:54] #1035 closed

[2019-09-23 08:56] Flexo013 commented on #1360
I'm closing this issue do to prolonged inactivity.

If you still are experiencing this problem then feel free to reopen this issue or create a new issue with all the relevant information.

[2019-09-23 08:57] Flexo013 commented on #1473
I'm closing this issue do to prolonged inactivity.

If you still are experiencing this problem then feel free to reopen this issue or create a new issue with all the relevant information.

[2019-09-23 08:57] #1473 closed

[2019-09-23 08:58] Flexo013 commented on #1505
I'm closing this issue do to prolonged inactivity.

If you still are experiencing this problem then feel free to reopen this issue or create a new issue with all the relevant information.

[2019-09-23 08:58] #1505 closed

[2019-09-23 08:58] Flexo013 commented on #1504
I'm closing this issue do to prolonged inactivity.

If you still are experiencing this problem then feel free to reopen this issue or create a new issue with all the relevant information.

[2019-09-23 08:58] #1504 closed

[2019-09-23 08:59] Flexo013 commented on #1879
I'm closing this issue do to prolonged inactivity.

If you still are experiencing this problem then feel free to reopen this issue or create a new issue with all the relevant information.

[2019-09-23 08:59] #1879 closed

[2019-09-23 08:59] Flexo013 commented on #1459
I'm closing this issue do to prolonged inactivity.

If you still are experiencing this problem then feel free to reopen this issue or create a new issue with all the relevant information.

[2019-09-23 08:59] #1459 closed

[2019-09-23 10:14] Jimmer1993 opened #3251 "the zoom setting is not effective when restart Boostnote"
# Current behavior
the zoom setting is "80%",but it display as "100%" when restart Boostnote.

# Expected behavior

# Steps to reproduce

1. Open any note and change the zoom setting to any ratio except “100%”.
2. Restart Boostnote.
3. Display right.

# Environment
Download from "https://open.holytech.tech/clientarea.php?action=productdetails&id=28479"
Version: 0.12.1
Electron: 3.0.8
Chrome: 66.0.

[2019-09-23 12:11] davidsneighbour commented on #1459
Sorry, I didn't found this issue to comment until now. And yes, it's working now.

[2019-09-24 13:46] federicochiesa commented on #3251
Can confirm it's broken on Mac too: macOS 10.14.6, Boostnote 0.12.1

[2019-09-24 13:58] federicochiesa opened #3252 "Not equal sign in KaTeX not rendering properly in the PDF"
# Current behavior

If I write a not equal sign on my notes it doesn't export correctly in the PDF: [link](https://imgur.com/a/fZq6g02)

# Expected behavior

The not equal sign on the exported PDF should display as it is on the note

# Steps to reproduce

1. Type a not equal sign on a note
2. Export it to PDF through Boostnote's own export(not via printing, that's still broken)

# Environment

- V

[2019-09-25 09:36] sssstar commented on #3232
[code]

[2019-09-25 09:40] sssstar commented on #3232
react-dom.production.min.js:117 TypeError: Cannot read property 'replace' of undefined
    at naughtyHRef (file:///C:/Users/Administrator/AppData/Local/boost/app-0.12.1/resources/app/compiled/main.js:65369:16)
    at sanitizeInline (file:///C:/Users/Administrator/AppData/Local/boost/app-0.12.1/resources/app/compiled/main.js:65340:16)
    at Array.<anonymous> (file:///C:/Users/Administrator/AppData

[2019-09-25 10:10] hikerpig commented on #3232
@sssstar This bug is fixed by a47dac285, you can wait for next release, or try to fix your source file which contains `<a href>` as @XXXXXiang   describes

[2019-09-25 10:59] Erwyn commented on #3100
@clone1612 Where are those `npm` commands, would like to try it on my side as I have the same issue with the rpm

[2019-09-25 11:56] sssstar commented on #3232
@hikerpig Thank you for your reply!

[2019-09-25 13:22] Erwyn commented on #3100
@clone1612 could you provide guidance on this? I have the same issue, if I use yarn run-dev it works, but building with grunt always provides me with a faulty RPM and even just lauching the `boostnote` executable from the dist folder is failing.

So let's say something is wrong on the npm side, how would you proceed with the yarn one ?

[2019-09-25 13:41] clone1612 commented on #3100
@Erwyn It might be better to open a separate issue for the sake of clarity. Regarding your issue, as far as I know RPM support is not officially available (no .rpm releases are made, only .deb) and the current configuration used to generate them is most likely outdated.

In terms of how I proceed with yarn, for the AUR package we (roughly) employ the following procedure:

1. Clone the source (i.e.

[2019-09-25 13:57] Erwyn commented on #3100
Hi @clone1612

thanks for the explaination, you would open a ticket about `npm` and not electron upgrade, is that what you mean ?

[2019-09-25 14:03] clone1612 commented on #3100
Hello @Erwyn

No, I meant a ticket in this repository specifying what you're exactly trying to do (compile your own .rpm package? Run the app from source? Etc.), steps you took and any errors/warnings you've encountered up until know. With that information the developers might be able to determine if it's related to Boostnote or the issue is related to an external source (e.g. npm or electron) and

[2019-09-25 23:30] Flexo013 commented on #3232
Fixed by #3179

[2019-09-25 23:30] #3232 closed

[2019-09-25 23:33] Flexo013 commented on #1459
Thanks for the update!

[2019-09-26 08:56] bravo321 opened #3253 "PDF export does not support cyrillic characters"
# Current behavior

1. Create a note encoded ru-RU.UTF8
2. Export to PDF
3. Cyrillic characters are not displayed in PDF
4. Old notes in Cyrillic are displayed normally.

# Environment

- Version : Ubuntu 18.04.3 LTS
- OS Version and name : Kernel: 5.0.0-25-generic x86_64 bits: 64 Desktop: Gnome 3.28.4
- Boostnote 0.12.1

[2019-09-26 12:44] FrederikGullberg opened #3254 "If you screenshot an image, and paste it with clipboard it breaks preview"
If you screenshot an image, and paste it from clipboard. Then whenever you type enough to where you have to scroll in the editor, the preview will forever scroll up to the image everytime you write something new.

[2019-09-26 16:06] challman1 commented on #2703
This works well once I figured out how the app was storing data. I've been
storing my notes on a Google Drive backup directory for quite a while now.

On Mon, Sep 23, 2019 at 4:50 AM Flexo013 <notifications@github.com> wrote:

[2019-09-27 09:12] ameinel commented on #2886
Hello, I have observed the same behavior as initially described by MaaadMax on 15 Feb. If I remove the images from the file, the behavior is fine and no more jumping to the first section of the markdown.

I am using Boostnote version 0.12.1 with OS Darwin x64 18.7.0

[2019-09-27 12:08] BlancLoup commented on #3254
Also, any little change to a markdown of inserted image removes that image forever. It is very annoying. Especially when you added screenshot proof of something and after time you open Boostnote but link and image are dead.

[2019-09-27 18:47] b3u commented on #455
@kazup01 what's the status on this? CanI work on it, or is someone working on it?

[2019-09-27 19:52] b3u commented on #846
Would a rtl/ltr toggle suffice?

[2019-09-28 07:30] wind13 commented on #490
Yes, .md file is better than .cson, any text or markdown editor tool can used on it.

[2019-09-30 13:52] #2703 closed

[2019-09-30 14:57] Flexo013 commented on #455
@b3u Feel free to start working on it. Nobody has posted updates here for the last 6 month so I assume it's up for grabs.

[2019-09-30 16:54] hainminsoe commented on #947
same here !

[2019-09-30 17:43] Yensan commented on #2927
why?

[2019-09-30 20:12] eleijonmarck commented on #2854
CTRL + W does not work
CTRL + E works
CTRL + S does not work
CTRL + J / K does not work

Version: 0.12.1
OS: Ubuntu 19.04

[2019-09-30 20:44] #2038 closed

[2019-10-01 06:13] DatCounter commented on #3252
I have this problem too.

[2019-10-01 09:33] Flexo013 commented on #2927
@Godopu We can't move your funding to the other issue. If you wish to still support this feature then please cancel the funding for this issue and add it on the other issue.

@e-stonia @Yensan If you wish to contribute to the discussion of this feature then I recommend switching to the other open issue for this: #236

[2019-10-01 10:17] Flexo013 commented on #846
@b3u That should be enough for a first version with RTL support. If we want a better way of detecting it in the future then we can add that at a later point.

Thanks for wanting to implement this feature!

[2019-10-01 11:21] Flexo013 commented on #3253
So far I have been unable to reproduce this. Cyrillic characters export fine on my end (Ubuntu 16.04):

![image](https://user-images.githubusercontent.com/4507015/65957820-28868f80-e44e-11e9-9feb-4c22f1a20791.png)

@bravo321 Can you provide an example .md file with character encoding that causes this issue?

[2019-10-01 15:24] Flexo013 commented on #3254
Thanks for the report!

We are aware of this issue, see #3023. The fix for this is ready and will be part of the next release.

[2019-10-01 15:24] #3254 closed

[2019-10-01 22:48] christopher-lamb commented on #3252
I was unable to reproduce this issue 0.12.1 Windows 10 x64. Can you give a little more environmental details, and how you entered the ≠character (copy paste, shortcode, etc)?

[2019-10-02 01:26] sschmeier commented on #1386
I have written a simple script for searching, listing, viewing notes on the CLI [https://github.com/sschmeier/boostnote-cli](https://github.com/sschmeier/boostnote-cli). Its nowhere complete but so far it served me well.

[2019-10-02 06:20] DatCounter commented on #3252
Christopher, I have some problems with converting pdf. If I had the table, It shifts and half of the table becomes unavailable. (if the tables are large, of course)
If I had some Symbols, for example, % or &, they are deleted from pdf file and They become empty square.
If you want to reproduce one bag with table, you need make big table and convert it to pdf.
If you want to reproduce with symbols,

[2019-10-02 15:03] Olcod commented on #3160
Gave this issue a go.
Please let me know what do you think?

[2019-10-02 19:21] bravo321 commented on #3253
[noPDFexport.md.txt](https://github.com/BoostIO/Boostnote/files/3682971/noPDFexport.md.txt)
[noPDFexport.pdf](https://github.com/BoostIO/Boostnote/files/3682972/noPDFexport.pdf)

[2019-10-02 19:25] bravo321 commented on #3253
Strange, but new notes are exported normally, only this note is not currently exported.

[2019-10-02 19:29] guanqun-yang opened #3258 "Writing area unexpected rolls back when images are inserted"
## Problem
I am not sure whether this is a bug or it is designed to be like this. But this is truly annoying when you are writing relatively longer texts and have to insert a lot of links for future references.

I do not know how to describe this an unerring way. But as the saying goes "a picture is worth a thousand words", you could check out the following snapshot.
![Boostnote 2019-10-02 12-19-1

[2019-10-02 23:30] songanz opened #3259 "Internal link not working during editing mode"
# Current behavior
The internal link does not work under editing mode with ctrl + click.

![Peek 2019-10-02 19-27](https://user-images.githubusercontent.com/26510270/66088863-d4150a00-e54a-11e9-8560-55728d145ec3.gif)

# Expected behavior
It can jump with ctrl + click in the editing mode. This will help a lot when writing note

# Steps to reproduce

1. add an internal link
2. Try in editing mode wi

[2019-10-03 09:52] tuxitop commented on #846
There is also a [detect](https://www.npmjs.com/package/direction) library which checks a string and returns its direction based on the first (not neutral) character in the string. deciding the direction of each paragraph could be easier using this library, if dynamic changing of the direction is preffered.

[2019-10-03 12:21] malorie16 opened #3260 "Boostnote not starting"
# Current behavior

Boostnote shows perpetual loading screen

<img width="1079" alt="Screen Shot 2019-10-03 at 8 06 39 AM" src="https://user-images.githubusercontent.com/37854050/66125417-de6bee00-e5b4-11e9-84e1-2e95b11752aa.png">

In terminal:
<img width="1160" alt="Screen Shot 2019-10-03 at 8 07 00 AM" src="https://user-images.githubusercontent.com/37854050/66125426-e3c93880-e5b4-11e9-86ac-dc9a0

[2019-10-03 15:05] chrisstpierre commented on #1085
I'm working on this :)

[2019-10-03 15:49] MatthewWolff commented on #3258
Bump. Have been experiencing this issue for over a month and it makes the app unusable when adding annotations beneath lecture slides.

[2019-10-03 18:46] b3u commented on #455
Is there a good place to discuss related issues with the team?

[2019-10-04 03:09] jhdcruz commented on #455
Probably here is enough. But we have [Slack](https://join.slack.com/t/boostnote-group/shared_invite/enQtMzkxOTk4ODkyNzc0LThkNmMzY2VlZjVhYTNiYjE5YjQyZGVjNTJlYTY1OGMyZTFjNGU5YTUyYjUzOWZhYTU4OTVlNDYyNDFjYWMzNDM) channel though.

[2019-10-04 03:21] jhdcruz commented on #3260
In the second screenshot you've provided, my PR #3243 fixed the issue that was showing in the first screenshot. It was a fix for multiple instances that was deprecated, and is no way related to the perpetual loading issue you're having.

I believe the issue you're having relates to the second error that is showing:
![Annotation 2019-10-04 111905](https://user-images.githubusercontent.com/28413338/

[2019-10-04 03:56] malorie16 commented on #3260
@jhdcruz Right! Your PR is the one linked in the issue. Strange that it caused different behavior even though I, too, agree that this issue isn't related to an issue with multiple instances...

Kind of at a loss here. Would love to contribute to Boostnote but I can't seem to get it running locally 😕

[2019-10-04 15:14] b3u commented on #455
None of the links I can find are active. Is the slack still used?

[2019-10-04 15:31] Flexo013 commented on #3253
That is indeed very strange.

If I copy the contents of that note into a note on my end then it compiles fine:
[testexport.pdf](https://github.com/BoostIO/Boostnote/files/3691196/testexport2.pdf)

Could you try to cloning the note and exporting the clone?

If that doesn't work, then could you make a new Markdown notes and copy paste the entire contents of the note into the new note? Then try expor

[2019-10-04 15:53] federicochiesa opened #3262 "Export error: callback must be a function when exporting to PDF"
# Current behavior

When I try to export a particular note to PDF it gives me the error: export error, callback must be a function, even though it's like all the other notes I have, there's nothing special in it.

# Expected behavior

It exports to a PDF file

# Steps to reproduce

1. Open the note
2. Click the info button
3. Click pdf and type in a file name
4. Click Export

# Environment

- Vers

[2019-10-04 15:55] federicochiesa commented on #3203
I have a similar problem with images disappearing from my notes after a while and showing the broken image icon. They just disappear, they're not in the recycle bin or anywhere else, they just vanish.
This has caused a lot of damage to my older notes as I don't have the original files and I don't know where to look for them.

[2019-10-04 16:38] bravo321 commented on #3253
After cloning, the export was successful. Apparently there was some kind of glitch, I just after creating a note, updated the program from the previous version.

[2019-10-04 17:52] qihuazhong opened #3263 "cursor jumps to the top after toggling editor mode"
# Current behavior

I was editing the text at the bottom, toggling the editor mode (either by keyboard or mouse) will make the cursor jump to the top.

This is annoying because a lot of time I just toggle to have a quick look of the preview, and if everything is ok, toggle back to without the preview.

# Expected behavior

Cursor in the editor to remain at the same position after toggling editor m

[2019-10-04 18:00] sbhonde1 commented on #1449
I got the same error when I tried to install using:
`sudo dpkg -i boostnote_0.12.1_amd64.deb`
However, I just double clicked the file in order to install it using Ubuntu Software. It worked.

[2019-10-04 20:44] jhdcruz commented on #455
@b3u Yes it is, that link came from the [Boostnote](https://boostnote.io) website.

Is the link dead?

[2019-10-04 22:05] b3u commented on #455
Yes

[2019-10-04 23:04] jhdcruz commented on #455
@b3u How about manually joining our slack workspace? If that is possible. `boostnote-group.slack.com`

[2019-10-05 15:02] Shigenori-Sagawa-nm opened #3265 "Support for coloring font tag in preview"
# Current behavior

In preview coloring font tag is not work.

# Expected behavior

Support for coloring font tag in preview.

[code]

# Environment

- Version : 0.12.1 (0.12.1)
- OS Version and name : macOS Mojava 10.14.6

[2019-10-05 17:54] mimkorn commented on #1069
Same here, shortcuts not working: Mac Mojave CTRL+E works but CTRL+W (exit) not. CTRL+J/K also does not work.

[2019-10-05 19:36] Ghost-Writter commented on #125
yeah, i want subfolders for using that app. it's should be vital.

[2019-10-05 23:47] b3u commented on #455
Not possible, you need an invite. I'll open a  a new issue

[2019-10-05 23:49] b3u commented on #1889
@kazup01 same issue hapenning again.

[2019-10-06 00:27] RichardWPerrott commented on #1360
Indeed, HTML links can be broken by incorrect Markdown quoting for pasted page content

# Current behavior
`abstract [Optional](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/util/Optional.html "class in java.util")<[CookieHandler](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/net/CookieHandler.html "class in java.net")>`

# Expected behavior
Only quote text

[2019-10-06 00:31] RichardWPerrott commented on #2913
Indeed, my annoyance, is HTML links are broken by incorrect Markdown quoting for pasted page content, thus pointless editing to fix them.
# Current behavior
`abstract [Optional](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/util/Optional.html "class in java.util")<[CookieHandler](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/net/CookieHandler.html "class in

[2019-10-06 04:39] ram-nad opened #3266 "GitHub Integration and sync"
## :sparkles: Feature Request
Can we provide `GitHub` integration, in case we want our notes to be saved on `GitHub`?

Possible Options:
 - Link a particular storage with a `repository`
 - Auto commit when user wants to sync

Possible Use Cases:
 - If a team is working on a project then having all the notes related to project saved would be good idea
 - Also if someone wants to publish his notes o

[2019-10-06 05:02] ram-nad commented on #3266
I would also like to help in making this feature(if it is accepted) but I am new to this project an have no prior experience working with `electron`. Any suggestions from where to start would be really helpful.

[2019-10-07 06:44] Flexo013 commented on #3266
Duplicate of #2792

[2019-10-07 06:44] #3266 closed

[2019-10-07 09:07] Flexo013 commented on #3253
If we can't reproduce the issue then we can't really fix whatever might have caused this. Since this currently looks like a one off occurrence and we have the easy fix of just copying the content to a new note, I don't think it's worth to spend more time on this issue.

In the event that this issue does pop-up again, then we can investigate this further.

[2019-10-07 09:07] #3253 closed

[2019-10-07 09:13] Flexo013 commented on #455
The Slack link should be updated soon.

If you want to refer to multiple GitHub issues then just tag them here in a comment like `#455` for this issue to get: #455

If there are particular implementation questions then either use the Slack channels (once the link is updated) or create a PR for your branch and then leave comments on that.

[2019-10-07 10:08] AgarwalPragy commented on #3203
Facing the same issue.
- This happens even if you paste the image from clipboard
- Doesn't happen with every image - just a few random images get deleted from notes
- the attachments folder where the image resided still remains. Just the image vanishes

[2019-10-08 02:07] srcdes opened #3267 "Support searching text for markdown preview panel."
# Current behavior

Can't search text when markdown preview pane is displayed only.

<img width="1377" alt="스크린샷 2019-10-08 오전 11 01 54" src="https://user-images.githubusercontent.com/32840866/66361903-9802fe80-e9bb-11e9-98f9-958bb06a69e3.png">

Searching feature is supported only when editor pane is displayed.

<img width="1377" alt="스크린샷 2019-10-08 오전 11 02 23" src="https://use

[2019-10-08 03:28] dsakurai commented on #2792
I think an easy implementation is to watch the file changes & additions and update the view when external edit happens. This is not implemented in Boostnote AFAIK.

The synchronization itself can be delegated to a third-party app like SparkleShare, which turns Github into a cloud storage.

[2019-10-08 07:18] Flexo013 commented on #1069
Same problem on Linux with Ubuntu 16.04

[2019-10-08 07:28] Flexo013 commented on #2625
More info/details from a similar issue:

# Current behavior

Can't search text when markdown preview pane is displayed only.

<img width="1377" alt="스크린샷 2019-10-08 오전 11 01 54" src="https://user-images.githubusercontent.com/32840866/66361903-9802fe80-e9bb-11e9-98f9-958bb06a69e3.png">

Searching feature is supported only when editor pane is displayed.

<img width="1377" alt="스크린샷 20

[2019-10-08 07:31] Flexo013 commented on #3267
Duplicate of #2625

I have added the details from this issue to that other one, as the other issue could use some more elaboration. Thanks for the provided info!

[2019-10-08 07:31] #3267 closed

[2019-10-08 07:50] Flexo013 commented on #3263
Are there any images in the note? If so then this problem is fixed in the next release, see #3023

[2019-10-08 07:52] Flexo013 commented on #3262
Could you provide us with two Markdown files? One that exports fine and one that causes the problem?

[2019-10-08 07:57] Flexo013 commented on #3258
This is should be fixed in the next release, see #3023

[2019-10-08 07:57] #3258 closed

[2019-10-08 07:59] Flexo013 commented on #3023
Reopening this until the fix is released.

[2019-10-08 08:48] ehhc commented on #3203
I'm very sorry to hear about your problems. Unfortunately, i have no idea how i can try to solve a problem that only happens "randomly"..
Furthermore, without a new release (which i cannot influence, but only @Rokt33r ) the option to turn the auto-deletion off will not be available.. :( Sorry that i cannot help you :(

[2019-10-08 09:35] Flexo013 commented on #2913
@RichardWPerrott With your steps to reproduce I just get a normal note with no strange linking behavior:

![image](https://user-images.githubusercontent.com/4507015/66383986-34c69b80-e9be-11e9-9a5e-2b118a0f2ba3.png)

The current behavior you mention also seems to work as expected:

![image](https://user-images.githubusercontent.com/4507015/66384130-76574680-e9be-11e9-8985-b9c9ca3d146b.png)

Adding

[2019-10-08 09:44] Flexo013 commented on #1889
@Rokt33r

[2019-10-08 10:10] AgarwalPragy commented on #3203
Thanks for your concern. A temporary fix for everyone would be to keep your notes folder under a git repo, and commit every now and then.
That way, you can always recover any deleted files and fix damaged notes.

[2019-10-08 10:27] Flexo013 commented on #1449
While this only seems to affect Ubuntu 14.04 (and workarounds exist) I suggest we keep this open in until we no longer have problems when installing though `dpkg`,

[2019-10-08 12:40] ram-nad commented on #2522
Could I work on this issue? Also any guidance would be really helpful. Thanks

[2019-10-08 13:26] Flexo013 commented on #2522
@ram-nad Yes, feel free to work on any issue that is open in this repo.

As for guidance, not sure how much I can help as I haven't contributed code yet. There are some pages on the wiki that might be able to help. If you can't really find enough info there and in other PRs/issues then please tell me here (or on Slack). Then I will see if we need to improve the "introduction for new devs" process

[2019-10-08 13:43] ram-nad commented on #2522
Thanks sir.

[2019-10-08 13:57] shadabk96 commented on #2960
I would like to take this up.

[2019-10-08 14:01] qihuazhong commented on #3263
No, there is no images in the note. I am aware of the image issue. So I tested without any image and the issue still exists.

[2019-10-08 17:20] iqgustavo commented on #41
Hello ... I really love the idea of Boostnote, I am a constant Wikidpad user but I see many advantages of using Boostnote ... I was wondering if you could implement CamelCase linking.
Wikidpad link: http://wikidpad.sourceforge.net

[2019-10-09 04:07] RichardWPerrott commented on #2913
I tried to paste a file but got a puzzling "We don't support that file type" banner, even with Shields-off in Brave browser.  Anyhow the image with line 3 shows incorrect MD escaping (left side) generated by the BoostIO HTML paste translation; like the original page, the linked URL should not be visible, via correct MD escaping.
This is quite annoying because I like to copy a lot of static HTML pa

[2019-10-09 13:44] federicochiesa commented on #3262
Unfortunately it doesn't let me export it in any format, I just tried .md and it gives me the same error. If you know of a way to get the files to you I'll send them in, no problem.

[2019-10-09 13:49] grhegde09 opened #3268 "Keyboard shortcut for "Focus Search" does not work when editor pane is in focus."
# Current behavior
There is a keyboard shortcut to 'Focus Note'. This makes the note editor pane come into focus. When in this mode, the shortcut to "Focus Search" does not work.

# Expected behavior
When the focus is in the note editor pane, the keyboard shortcut to focus search - `Command+Shift+L` seems to be used for some other purpose.
- It would be ideal if `Command+Shift+L` was not reused fo

[2019-10-09 13:52] Flexo013 commented on #2913
After checking #923 it seems that the current version 0.12.1 does not yet support the importing of (static) HTML pages. Therefore the behavior of pasting HTML content is undefined.

If you are already using a 0.13.0 pre-release build (of master) then ignore my previous statement and feel free to create a new github issue mentioning that the importing feature needs improvement.

Looking at the page

[2019-10-09 13:56] Flexo013 commented on #3262
You could try locating the .cson file in your storage folder. I don't know the location of that folder on macOS. then send us the .cson file of the note you can't export.

[2019-10-09 14:02] federicochiesa opened #3269 "Boostnote crashes if I type in a specific line of a note"
# Current behavior
If I type on a specific line on a note, Boostnote will freeze, and if I quit and reopen, it doesn't save what I just typed ([video link](https://youtu.be/FqGX_bbxLrM))

# Expected behavior

I should be able to type normally

# Steps to reproduce

1. Open the note
2. Type on the specific line
3. Quit and reopen boostnote

[note file](https://mega.nz/#!1Y00UQgB!q0iJNLj2lzkqWFwHF5Z

[2019-10-09 14:04] federicochiesa commented on #3262
https://mega.nz/#!1Y00UQgB!q0iJNLj2lzkqWFwHF5ZNbiGJqfLU7oWq0YYmconjSic
This is the link to the cson file.

[2019-10-09 15:19] Flexo013 commented on #3263
When I try to reproduce this the preview mode scroll back to the top, but the cursor in de editor view (when I switch back to it) stay in the same location it was.

Could you send the note file that produces this issue for you?

[2019-10-09 15:20] Flexo013 commented on #2960
@shadabk96 Feel free to start! Looking forward to the PR!

[2019-10-10 07:29] #3183 closed

[2019-10-10 07:29] #2935 closed

[2019-10-10 07:33] #3241 closed

[2019-10-10 07:34] #3213 closed

[2019-10-10 16:05] MatthewWolff commented on #3023
Release ETA?

[2019-10-11 08:42] bestrocker221 opened #3270 "can't delete notes"
# Current behavior

I can't delete notes, neither with the trash icon, neither with the right click -> delete.
Notes don't get deleted

# Expected behavior

note delete

# Steps to reproduce

try to delete a note

# Environment

- Version : 5.2.11-1-MANJARO
- OS Version and name : Manjaro latest

[2019-10-11 09:05] Flexo013 commented on #3270
What version of Boostnote are you using?

[2019-10-11 09:07] Flexo013 commented on #3023
Pre-release can be found here:

If no major problems with it are discovered then the full release will be in 3 days.

[2019-10-11 12:59] Flexo013 commented on #3246
This problem is solved in the latest pre-release.

[2019-10-11 22:10] PandaGab commented on #3262
Hi!
I also had this exact error, I think it was cause when I dropped in images. Here is an example of the markdown line when dropping in images:
`![example.png](:storage/a336f8ee-2664-4e3e-bff8-77f514b10094/ec164f71.png)`

I changed it to the absolute path
`![](/path/to/image)`

And I was now being able to export my document as a pdf.

[2019-10-12 18:31] melvinroest commented on #2140
I just downloaded the app and uninstalled it because of this reason. It asked me every hour to update. It pulled me out of my focus.

[2019-10-12 19:05] bestrocker221 commented on #3270
The last one at the time of writing.

Carlo Alberto

On Fri, 11 Oct 2019, 11:06 Flexo013, <notifications@github.com> wrote:

[2019-10-13 18:22] MatthewWolff opened #3273 "Pre-release 0.13: Preview window does not scroll past last line (with option enabled)"
# Current behavior

This is for pre-release v0.13.0-0. This version fixed an issue where the presence of images in the note would cause the MD editor to scroll to the top whenever I typed.

Now, the Preview does not allow for scrolling past the last line, **even when "Allow preview to scroll past the last line" is enabled.**

![bug](https://user-images.githubusercontent.com/18565886/66719952-6bd4e

[2019-10-14 06:50] federicochiesa opened #3275 "Text highlighting not working properly"
# Current behavior

When I type, the text highlighting is wrong, as it doesn't take into account the fact that I'm typing math. [image link](https://imgur.com/a/3CoJLyD)

# Expected behavior

It shouldn't highlight HTML syntax just because I type '<' in my note.

# Steps to reproduce

1. Open a note
2. Type in '<'
3. Highlighting stops working properly

# Environment

- Version : 0.12.1
- OS Versi

[2019-10-14 07:58] BlancLoup opened #3276 "The link to the Slack channel is broken."
# Current behavior
The link to the Slack channel is broken.
# Steps to reproduce
Visit link https://join.slack.com/t/boostnote-group/shared_invite/enQtMzkxOTk4ODkyNzc0LThkNmMzY2VlZjVhYTNiYjE5YjQyZGVjNTJlYTY1OGMyZTFjNGU5YTUyYjUzOWZhYTU4OTVlNDYyNDFjYWMzNDM

[2019-10-14 10:20] fotofiete opened #3277 "automated reloading of files"
Hi!
We are using boostnote in our team and it works like a charm! We put the files into a shared folder (synchronized via seafile) so that everybody can see the projects notes. The only problem is, that boostnote needs a restart in order to recognize changes by other team members.
It would be a great feature if boostnote automatically reloads notes when changed in the storage location! This has be

[2019-10-14 11:21] DrFelder opened #3278 "Package that needs to be installed to build the app is not mentioned in docs"
# Current behavior

electron-installer-debian has to be installed to build the application, but is not mentioned in the README/docs:

[code]

# Expected behavior
When following the guide in https://github.com/BoostIO/Boostnote/blob/master/docs/build.md, everything works as expected (it should be mentioned that this package needs to be installed).

-> After I installed the package using `npm instal

[2019-10-14 13:20] Flexo013 commented on #3277
Agreed that this is in essence a step towards fully implementing #308

[2019-10-14 13:47] jhdcruz commented on #3278
It is included in the `optionalDependencies`:
[code]

[2019-10-14 13:48] Flexo013 commented on #3276
We are aware of the issue, see #1889

[2019-10-14 13:48] #3276 closed

[2019-10-14 13:55] DrFelder commented on #3278
well, as i wrote, it is _not_ optional. The build will _fail_.

[2019-10-14 14:01] jhdcruz commented on #3278
Can you elaborate what exactly did you do/run? why did you run `npm i -g`?

[2019-10-14 14:06] DrFelder commented on #3278
I had to run npm i -g in order to install the package `grunt-electron-installer-debian`

[2019-10-14 14:12] Flexo013 commented on #3270
Can anybody else with manjaro confirm this behavior?

[2019-10-14 14:31] jhdcruz commented on #3278
**You didn't really need to install every packages on your global filesystem, it'll bloat your global `node_modules/`, and isn't recommended at all**.

You can just run `yarn`, then manually installing it using `yarn add --dev grunt-electron-installer-debian` instead.

----
Haven't really tried building/compiling with `Fedora Linux`, so I guess you gotta wait until someone who did encounters this

[2019-10-14 14:54] Flexo013 commented on #3273
Confirmed for Ubuntu 16.04 as well.

[2019-10-14 17:54] xChenny commented on #2891
I'm getting the same issue here.

It seems like if you start a new sublist, then press return after making some text, the new bullet (2nd bullet) that started in the sublist cannot go back outside to top-level list. It can only be Tabbed to go into a deeper sublist (and Shift-Tabbed to the origin sublist).

Platform: MacOS 10.14.6
Boostnote Version: 0.12.1

[2019-10-14 18:22] federicochiesa commented on #3275
[This](https://imgur.com/a/Emlbev0) is another example, but this time it seems like it doesn't understand the end of the code block and keeps highlighting text as if it was code. If I hit return anywhere on the sentence below the code block the highlighting goes back to normal until I restart Boostnote.

[2019-10-16 10:10] aakbar5 opened #3279 "right-to-left (rtl) languages support"
# Current behavior

Boostnote should support RTL languages too. Currently it does not rendered text correctly. please see snapshot below.
![rtl](https://user-images.githubusercontent.com/16612387/66909814-50a4ef80-f005-11e9-8dea-9512c9aa284d.png)

[2019-10-17 15:43] ruslan-mystore opened #3281 "Banner image weight on boostnote.io is extremly heavy"
# Current behavior
bg-top.jpg  current weight is 3.8 MB

![Screen Shot 2019-10-17 at 18 41 04](https://user-images.githubusercontent.com/32633310/67024831-bd0b1600-f10d-11e9-88c2-a0b01d16353f.png)

# Expected behavior
Compressed that image  to 319.1 KB with https://tinypng.com/

[2019-10-17 18:39] ibraude commented on #846
Hey,

See #3282
I think that this satisfies the need for RTL support.

any ideas on improvements?

[2019-10-17 20:40] tuxitop commented on #846
@ibraude  could it be possible to add a `direction: ltr` and `text-align: left` property for the `code` tag that would always be LTR?

[2019-10-17 21:08] TobseF opened #3283 "Auto generated TOC doesn't work on 0.11.13"
# Current behavior

Boostnote should generate a table of contents on the fly by adding a `[TOC]`.
This feature should be present in Release **0.11.13**:
[Suppport auto generating toc content for the [TOC] tag #3173](https://github.com/BoostIO/Boostnote/pull/3173)

But I tried it in different ways with `[TOC]` or `[TOC]` with different settings. It never worked. Is there a setting I missed, or a sp

[2019-10-17 21:38] ibraude commented on #846
@tuxitop Yeah,  good catch. I added that and also an option to set up a hotkey for direction toggle

[2019-10-18 02:31] prog20901 opened #3284 "Web Interface"
1) Is it possible to host huge documents in web as read-only and hosted in a server? i.e private server

2) how to host it in a web server...

[2019-10-18 07:24] Flexo013 commented on #3279
Duplicate of #846

[2019-10-18 07:24] #3279 closed

[2019-10-18 08:55] Flexo013 commented on #3284
Currently this is not possible.

Duplicate request of #1157

[2019-10-18 08:55] #3284 closed

[2019-10-18 08:58] Flexo013 commented on #3281
If I'm correct @Rokt33r manages this. Could you look into minimizing the banner image for faster loading?

[2019-10-18 09:06] Flexo013 commented on #3283
I think you mean version 0.13.0, not 0.11.13.

That being said it seems that this feature is not working in the latest release. I'm using Ubuntu 16.04.

[2019-10-18 09:07] Flexo013 commented on #3283
@hikerpig Could you confirm this feature is missing on your end when using the latest release as well?

[2019-10-18 09:12] Flexo013 commented on #3147
@roottool Could you look into this, since you were the one who added the feature?

[2019-10-18 10:40] hikerpig commented on #3283
Testing 0.13.0 on OSX 10.15,  works well.

![2019-10-18 18 39 26](https://user-images.githubusercontent.com/2259688/67088009-ae3c6600-f1d6-11e9-88ae-4503d47172fc.gif)

[2019-10-18 11:19] Flexo013 commented on #3283
Thanks for the gif!

@TobseF What OS are you on?

[2019-10-18 11:32] TobseF commented on #3283
OK, sorry for the confusion. On my computer at work, all works fine with version `0.13.0`.
So I mixed up the version numbers. Now I only have to check why the auto update feature doesn't work. at home

[2019-10-18 11:38] Flexo013 commented on #3283
The issue still seems to exist for me:

![image](https://user-images.githubusercontent.com/4507015/67091265-7ddfd200-f1ac-11e9-93f9-0e94b53d6e00.png)

![image](https://user-images.githubusercontent.com/4507015/67091280-8801d080-f1ac-11e9-9d28-4f5944aabf2b.png)

[2019-10-18 11:50] Flexo013 commented on #3023
Fix has been released: https://github.com/BoostIO/boost-releases/releases

[2019-10-18 11:50] #3023 closed

[2019-10-18 12:22] MrBMT commented on #3283
@TobseF there was a bug that broke the auto-update a while back, so that might be why you're not on the latest version at home.

[2019-10-18 15:35] Sylk opened #3286 "Add Version Info to Website"
The current site doesn't sport the version of Boostnote, and I think it should have that underneath some of the 600 download links on the page.

[2019-10-18 19:25] arcturus140 commented on #3283
maybe it only doesn't work in split view?

[2019-10-18 20:36] Flexo013 commented on #3283
The identical note works fine on Windows 10. So it's definitely a Linux only problem.

[2019-10-18 20:48] Flexo013 commented on #2309
When changing your username one should expect stuff like this. The user should take care of their own storages before changes.

[2019-10-18 20:48] #2309 closed

[2019-10-18 20:48] Flexo013 commented on #1934
@jk3us Is this still a problem?

[2019-10-18 20:49] Flexo013 commented on #3270
@bestrocker221 Is this still an issue with 0.13.0?

[2019-10-18 20:49] Flexo013 commented on #3260
Is this still a problem with 0.13.0?

[2019-10-18 22:42] SchrodingersDice commented on #3283
I'd just like to ask if the internal linking to the headers are working for you guys?

[2019-10-18 23:22] Flexo013 commented on #3283
Yes it is.

[2019-10-19 01:39] SchrodingersDice commented on #3283
Doesn't seem to be working for me.  Thanks though.

[2019-10-19 01:48] henryking123 commented on #3273
Same thing happened to me when the update happened.

[2019-10-19 01:57] InfinitelyUncertain opened #3287 "Internal links and TOC links are not working on 0.13.0"
# Current behavior
Internal links and TOC links to headers don't seem to be working on version 0.13 on Windows.  When clicking on the links it will only shift the page by a tiny amount.  This happens in both split view and whole page view.

Internal Links to Headers in ver. 0.13:
![boostnote_0 13_header_link](https://user-images.githubusercontent.com/50601879/67136147-dd0e1700-f27e-11e9-9841-e74e6

[2019-10-19 08:16] dirathea commented on #125
Hi guys, Currently I tried to start working on this features, here's my work in progress https://github.com/BoostIO/Boostnote/pull/3288. This is my first PR on this repo and I hope I could give a little contribution 🙇

Feel free to give comments and suggestions for my work.

Thanks

[2019-10-19 19:03] kan1Go commented on #2785
Hi,

I have exactly the same problem. Do you have a plan to fix this issue?

---
Env

BoostNote Version 0.13.0 (0.13.0)
Mac OS Version 10.15

[2019-10-19 20:56] microcreators commented on #3020
So that you know... It's broken again in v13. Certainly on Linux, probably not Win. 2 reddit users confirmed that.

[2019-10-19 20:57] microcreators commented on #3287
TOC's not working on Linux either.

[2019-10-20 11:58] Flexo013 commented on #3287
For me it jumps to the right location when using the generated TOC on Windows 10. Manual links work as well. But I do get weird scrolling behavior.

I think something is wrong with the scroll bar of the preview side. Sometimes the links work, sometimes they don't...

[2019-10-20 12:12] Flexo013 opened #3289 "Preview window does not scroll properly"
# Current behavior

Scrolling beyond the end of the (preview) document is not possible, when this option is enabled.

If you click an internal link that will scroll low enough then you suddenly can't scroll all the way to the top anymore.

The scroll bar of the preview window is not accurate, and it seems that the window is bigger than what is displayed. Thus causing these issues.

# Expected beha

[2019-10-20 12:22] Flexo013 commented on #3273
The gif shows really weird behavior on the scrollbar. This issue is probably related to #3289

[2019-10-20 12:34] Flexo013 commented on #2785
I have just tested this on Windows 10 and exporting a note with images produces the following code in the .md file:

[code]

These links will indeed not work, because the note name is no longer present after the export.

[2019-10-20 12:46] SandMouse opened #3291 "Pick up your work where you left off."
# Current behavior

When opening Boostnote the application jumps to the first note in "All Notes"

# Expected behavior

When opening Boostnotre you want to pick up where you left off.

# Steps to reproduce

1. Open Boostnote, edit a random, but not the first note.
2. Close Boostnote
3. Open Boostnote and notice that you are not back where you left off.

# Environment

- Version : 0.13
- OS Version

[2019-10-20 12:51] SandMouse opened #3292 "Switch between MD note and a code snippet"
# Current behavior

When you create a new note you choose between a MD note or a snippet note. You cannot switch between modes once a note has been made.

# Expected behavior

The user should be able to choose how his entered text is rendered: as a snippet note or as a MD note.

# Steps to reproduce

n/a

# Environment

- Version : 0.13
- OS Version and name : MacOS 10.14.6

[2019-10-20 12:52] Flexo013 commented on #3160
Feature is available as off 0.13.0

[2019-10-20 12:52] #3160 closed

[2019-10-20 13:00] Flexo013 commented on #3292
A note can't be converted between the two different types, as they inherently have different features.

- A snippet note has tabs; how would these get converted to one single markdown file?
- A snippet note can have multiple different languages across different tabs; how would these different languages be handled?
- A markdown note can have attachments and images; how would these work when convert

[2019-10-20 13:03] Flexo013 commented on #2193
@mrjooz Is this still an issue in the latest version of Boostnote?

[2019-10-20 13:04] Flexo013 commented on #1519
Related to #3277

[2019-10-20 13:07] Flexo013 commented on #1767
The preview can be disabled by hitting the lock button at the top:
![image](https://user-images.githubusercontent.com/4507015/67159931-60953a00-f34b-11e9-8277-733b93e85c8a.png)

[2019-10-20 13:07] #1767 closed

[2019-10-20 13:19] Flexo013 commented on #3237
Feature is available as of 0.13.0.

Thanks @pointfour 👏

[2019-10-20 13:19] #3237 closed

[2019-10-20 13:21] arcturus140 commented on #1519
since restarting Boostnote is expensive, there's a faster way for the workaround: `view / reload`

[2019-10-20 13:28] Flexo013 commented on #3203
As of 0.13.0 unused attachments should no longer be deleted by default. They can be cleared in the preferences:
![image](https://user-images.githubusercontent.com/4507015/67160127-0649a880-f34e-11e9-8614-517cfe75e79a.png)

This is a patch for this issue. In the future this issue might be reopened or referenced when looking for the root cause of this issue. For now I'm closing it.

If attachments s

[2019-10-20 13:28] #3203 closed

[2019-10-20 14:47] Flexo013 commented on #923
This feature is now available as of 0.13.0, when creating a new note:

![image](https://user-images.githubusercontent.com/4507015/67161287-52e6b100-f359-11e9-86ce-06edacc91b22.png)

[2019-10-20 14:47] #923 closed

[2019-10-20 14:50] #2913 closed

[2019-10-20 14:53] Flexo013 commented on #3022
Thanks @hikerpig for implementing this feature! You should receive the funding soon.

[2019-10-20 14:53] #3022 closed

[2019-10-20 14:55] Flexo013 commented on #2294
@tatoosh Does the current `[TOC]` tag suffice for this or would you like something like #3172 more?

[2019-10-20 15:15] Flexo013 commented on #3275
Could you provide a shorter example display the same issue? I can't quite find what's wrong in the image provided.

For me highlighting seems line when adding `<`:
![image](https://user-images.githubusercontent.com/4507015/67161704-419fa380-f35d-11e9-96c2-4f73cf770641.png)

[2019-10-20 15:34] Flexo013 commented on #3269
I pasted the content of your note in a new Markdown note. I can edit the line with write here when using Boostnote 0.13.0 on Windows 10.

Does the problem persist if you:
- copy-paste the content into a new note
- use the new version 0.13.0 of Boostnote

[2019-10-20 15:37] Flexo013 commented on #3265
These tags are already supported:
![image](https://user-images.githubusercontent.com/4507015/67162001-52054d80-f360-11e9-92d3-427d333b7ae2.png)

[2019-10-20 15:37] #3265 closed

[2019-10-20 15:40] Flexo013 commented on #3263
This issue seems fixed in 0.13.0.

Feel free to reopen this ticket with the extra info if the issue persists.

[2019-10-20 15:41] Flexo013 commented on #3242
Closing this for now as the question is answered.

If thing are still unclear @ngeegoh, then please reopen this ticket, and I'll try to provide more help.

[2019-10-20 15:41] #3242 closed

[2019-10-20 16:04] Flexo013 commented on #2246
I'm closing this issue do to prolonged inactivity.

If you still are experiencing this problem then feel free to reopen this issue or create a new issue with all the relevant information.

[2019-10-20 16:04] #2246 closed

[2019-10-20 16:05] Flexo013 commented on #2527
I'm closing this issue do to prolonged inactivity.

If you still are experiencing this problem then feel free to reopen this issue or create a new issue with all the relevant information.

[2019-10-20 16:05] #2527 closed

[2019-10-20 16:05] Flexo013 commented on #1880
I'm closing this issue do to prolonged inactivity.

If you still are experiencing this problem then feel free to reopen this issue or create a new issue with all the relevant information.

[2019-10-20 16:05] #1880 closed

[2019-10-20 16:06] Flexo013 commented on #1896
I'm closing this issue do to prolonged inactivity.

If you still are experiencing this problem then feel free to reopen this issue or create a new issue with all the relevant information.

[2019-10-20 16:06] #1896 closed

[2019-10-20 16:08] Flexo013 commented on #2243
I'm closing this issue do to prolonged inactivity.

If you still wish to help with improving the UX then feel free to reopen this issue.

[2019-10-20 16:08] #2243 closed

[2019-10-21 02:55] hikerpig commented on #3289
Strange indeed... I'll take a look today

[2019-10-21 08:10] Flexo013 commented on #1968
I can't reproduce this on either Windows 10 or Ubuntu 16.04 with Boostnote 0.13.0.

Since @aisensiy hasn't responded since March 28th I will be closing this due to inactivity.

If you do run into this issue again, then feel free to reopen the issue.

[2019-10-21 08:10] #1968 closed

[2019-10-21 10:19] arcturus140 opened #3295 "Add admonition type "question""
# Current behavior

https://github.com/docarys/markdown-it-admonition has an admonition type for questions.

# Expected behavior

An admonition to highlight questions would be very useful. I miss that a lot.

[code]

Other types provided by markdown-it-admonition and currently not supported in Boostnote are:

- abstract
- tip
- success
- warning
- failure
- example
- quote

However, I think adding

[2019-10-21 21:06] ibraude opened #3296 "Help Needed With New Feature: PDF Comments Extractor"
# New Feature - Help Needed

I've started working on a new feature that is very useful for me and I thought it might be useful for other Boostnote users who read and summarize long texts.

### The Feature
Import all annotations, highlights, and comments from a pdf file into a new Boostnote note.
For example:

I read a long document and highlight the main points as I go.
![image](https://user-image

[2019-10-21 22:13] ibraude commented on #3295
Hey,
See #3297  for the added question, quote, and abstract types.

You can add as many as you'd like by adding styles to `markdown.styl`:
[code]
and adding the name of the admonition at `markdown.js`
[code]

[2019-10-21 23:31] evitalis opened #3298 "Feature request: Export notes as Markdown files"
# Current behavior

Currently BoostNote saves notes as a key in a CSON file and does not seem to have a way to export as plain Markdown (.md) files for use in other notebook applications.

# Expected behavior

Ability to export notes in a common format for use when switching notebook applications or to share with other non-BoostNote users.

Sometimes it would be nice to just send someone a text fi

[2019-10-21 23:53] arcturus140 commented on #3298
@evitalis ,

did you try to `File -> Export As -> Markdown`?

[2019-10-22 00:45] frizop commented on #3246
Howdy folks, I'm running into the same issue here, I can't re-open this issue without opening a entirely new one but I wanted to throw my hat in.

Currently running this version as it's the last one I can get functional:
![image](https://user-images.githubusercontent.com/3605906/67252970-0673a200-f43b-11e9-9125-6018f1831416.png)

I'm also on fedora Linux 5.3.5-200.fc30.x86_64 #1 SMP Tue Oct 8 12:4

[2019-10-22 08:03] Menturan opened #3299 "Grave accent matching character does not work on Swedish keyboard layout"
# Current behavior
When typing the grave accent character, it doesn't autocomplete with matching or triples.

![grave_accent_boostnote](https://user-images.githubusercontent.com/16061385/67267446-9bfe4880-f4b2-11e9-9c51-50cd6c44686c.gif)

# Expected behavior
Autocomplete with matching or triples grave accent characters.

# Steps to reproduce
1. Choose Swedish as your keyboard layout
2. Make a grav

[2019-10-22 09:35] Flexo013 commented on #3246
@frizop Could you check your preferences when using 0.13.0? Looking at the `ConfigManager.js` there should be no way for it to trigger on just Shift + F. [See this commit](https://github.com/BoostIO/Boostnote/commit/8736666e91d83a9d701ca48aa3d9ee9844ac9d5d)

[2019-10-22 09:40] Flexo013 commented on #3299
I have the feeling that the code might be looking for the grave/backtick keypress, rather than looking at what the last character typed was. So when different keyboard layouts actually have the character somewhere else it doesn't trigger.

[2019-10-22 10:28] Flexo013 commented on #3299
@arcturus140 Could you check this with 0.13.0 as well? Just to make sure nothing affected this behavior between 0.11.12 and now.

[2019-10-22 10:40] Menturan commented on #3299
I notice that Boostnote uses [Codemirror](https://github.com/codemirror/CodeMirror) as text editor and that there is an [closebrackets.js addon](https://codemirror.net/doc/manual.html#addon_closebrackets) that we are using for this functionality. Maybe the issue is with that addon?

[2019-10-22 11:11] Flexo013 commented on #3296
Not sure if it will, but it might be helpful if you have a WIP PR for your current branch. Since those are made for discussing code.

The feature looks cool and I could definitely see it being useful for others!

[2019-10-22 11:35] ruslan-mystore commented on #3281
@Flexo013  If the website is open sourced, i can do some pull requests

[2019-10-22 12:29] Flexo013 commented on #3281
To my knowledge the website is not open sourced, but you could check here https://github.com/BoostIO or Google around if you can find the repo.

[2019-10-22 13:54] Zorono opened #3301 "Add support for Windows x32-bit"
Hello everyone,
Thanks for sharing the awesome Notes Management Tool `Boostnote` but it'd be great if you adopted the **Windows x32-bit** support please

i couldn't reinstall my **_whole windows&applications_** at the current time... please take my order seriously :(

[2019-10-22 13:57] Flexo013 commented on #3301
Boostnote works on both 32bit and 64bit Windows systems.

I don't quite understand what the problem is. Could you elaborate?

[2019-10-22 14:20] frizop commented on #3246
Good call!
![image](https://user-images.githubusercontent.com/3605906/67295624-0613ef00-f4ad-11e9-95eb-7baece73622c.png)
I don't remember ever setting this, but there it is!

[2019-10-22 14:27] Flexo013 commented on #3246
It might have been caused by one of the previous faulty builds. And after that it simply read from the preferences.

Glad to hear the problem is solved! :smile:

[2019-10-22 14:27] #3246 closed

[2019-10-22 14:43] #3301 closed

[2019-10-22 14:46] Zorono opened #3302 "Couldn't install Boostnote - Squirrel Problems..."
Hello everyone,
so when i was installing the awesome `Boostnote` in my x32-bit Windows device, i had the following error logs and the installer stopped suddenly.
[SquirrelSetup.log](https://github.com/BoostIO/Boostnote/files/3756402/SquirrelSetup.log)
please some help

[2019-10-22 14:50] Flexo013 commented on #3302
It seems that Boostnote is unable to write to your local appdata folder. ([As suggested by this thread](https://github.com/Squirrel/Squirrel.Windows/issues/698))

Boostnote needs to write files to the local appdata folder, so that's why it is failing.

Are you an administrator on the device you are trying to install Boostnote on? If so, could you try running the installer as administrator?

[2019-10-22 15:10] Zorono commented on #3302
[SquirrelSetup.log](https://github.com/BoostIO/Boostnote/files/3756623/SquirrelSetup.log)

unfortunately, i tried running it as administrator but nothing different...

[2019-10-22 17:08] xChenny commented on #2891
So it turns out this only happens when you use vim as the keymap.

I changed my keymap back to default, and it works predictably.

[2019-10-22 20:56] robbawebba commented on #3278
Hi @jhdcruz, I wanted to let you know that I'm able to successfully build deb and rpm packages after follow the steps of docs/build.md plus your suggestion of installing runt-electron-installer-debian grunt-electron-installer-redhat manually.

So I think @DrFelder's request is still valid that we should probably add a note about installing runt-electron-installer-debian grunt-electron-installer-re

[2019-10-22 21:23] 100ideas commented on #923
sweet!

[2019-10-22 22:44] evitalis commented on #3298
Not sure how I missed that, it seems to work but is there an easy way to export the whole notebook at once?

[2019-10-22 22:49] chris-jansson opened #3303 "Can't Install - Linux / .deb link leads to 404"
# Current behavior

I get a 404 when following the download link on the Boostnote website.

# Expected behavior

The download link should download a .deb file for me to install.

# Steps to reproduce

1. Go to https://boostnote.io/
2. Click on the green download button
3. Submit email address
4. Click on LINUX / .DEB, 64BIT button
5. 404 happens

# Environment

Ubuntu 18.04.3 LTS

[2019-10-23 00:10] arcturus140 commented on #3298
I think there isn't any way to export your entire notes or snippets in any way from Boostnote.

[2019-10-23 02:07] oneryx commented on #3303
The link is wrong, instead of
https://github.com/BoostIO/boost-releases/releases/download/v0.13.0/boostnote_0.12.1_amd64.deb

it should be
https://github.com/BoostIO/boost-releases/releases/download/v0.13.0/boostnote_0.13.0_amd64.deb

I build it from source and it shows version 3.0.8 (same as Electron) which is a bit of confusing.

[2019-10-23 06:32] jhdcruz commented on #3278
It is actually written in the docs, to install the build dependency packages.

But I'll try submitting a PR about this to be more specific and noticeable.

[2019-10-23 07:08] Flexo013 commented on #3302
Another suggestion from that same thread is to try installing with your antivirus temporarily disabled.

[2019-10-23 07:16] Flexo013 commented on #3303
I have pinged the people who can modify this. Hopefully it'll be fixed soon.

Here's an alternative download link that will always get you to the latest version: https://github.com/BoostIO/boost-releases/releases/latest

[2019-10-23 07:21] Flexo013 commented on #3298
You can export an entire folder of notes by right-clicking it in the sidebar. Currently there is no way to export an entire storage or multiple folders at once.

[2019-10-23 07:24] #3298 closed

[2019-10-23 07:47] arcturus140 opened #3305 "Missing notes in exported folder"
# Current behaviour

Currently, notes in a folder containing the same title are being overwritten in the exported output with the operation "Export Folder -> Export as md".

# Expected behaviour

All notes in a folder are exported as Markdown.

# Steps to reproduce

1. create three notes in the same folder
2. choose `Export Folder -> Export as md`
3. only one out of three notes are created in the

[2019-10-23 07:54] arcturus140 opened #3306 "Verify export folder completion"
# Current behavior

When exporting a folder there is a notification after the task completed:

![image](https://user-images.githubusercontent.com/44707562/67370107-0924e300-f572-11e9-9e47-9af7ccfd8a6a.png)

Enhancement: Validate export and create user notification after folder export as error message when the export failed.

# Expected behavior

1. export folder
2. check # notes in folder == # fil

[2019-10-23 08:08] arcturus140 commented on #3305
one could, additionally, validate the export and create a user notification: #3306. (I closed it for now but could be reopened on interest).

[2019-10-23 08:19] arcturus140 commented on #3299
@Flexo013 I repeated the test, same result. Is there a way to log input keys in Boostnote?

@Menturan are you using swedish in swedish or a subtype variant, like DVORAK or Macintosh?

[2019-10-23 08:28] Menturan commented on #3299
No subtype. Standard Swedish layout.

[2019-10-23 08:52] Flexo013 commented on #3305
We could export duplicate named files with _(1) appended and increment if we find more.

I like the idea of #3306! I can't think of a reason that we don't want such a warning.

[2019-10-23 08:55] arcturus140 commented on #3305
Boostnote already has functions defined that implement that behaviour.

[2019-10-23 09:19] Flexo013 commented on #3305
Nice! Then fixing this export overwrite problem should be fairly simple.

[2019-10-23 09:28] Tao-Zhou opened #3307 "Can not download from the website"
# Current behavior

# Expected behavior

# Steps to reproduce

1.
2.
3.

# Environment

- Version :
- OS Version and name :

[2019-10-23 09:53] arcturus140 commented on #3307
hi,

the latest version of Boostnote can be downloaded from the following URL: https://boostnote.io/

[2019-10-23 10:33] Tao-Zhou commented on #3307
I know, but when I click the button, ERR_CONNECTION_REFUSED appeared.

[2019-10-23 11:00] Tao-Zhou commented on #3307
ok, I downloaded it with VPN

[2019-10-23 12:17] Flexo013 commented on #3307
Duplicate of #3303

[2019-10-23 12:17] #3307 closed

[2019-10-23 12:47] chris-jansson commented on #3303
Great, thanks for the updated links.

Just tried downloading from the website again, and now it works.

[2019-10-23 12:47] #3303 closed

[2019-10-23 14:14] arcturus140 commented on #3201
Does not work in 0.13.0

[2019-10-23 14:43] Flexo013 opened #3308 "Can't make new notes after failed URL to note conversion"
# Current behavior

The new note button stops working after entering a non existent URL to convert.

# Expected behavior

A failure message appears about the previous URL to note conversion.
AND
The new note button does not stop working after a failure.

# Steps to reproduce

1. Open the new note selection (Ctrl+N).
2. Select new markdown note from URL.
3. Enter a non existent URL, e.g. https://ww

[2019-10-23 15:24] MarcAndreJean opened #3309 "Script support for .cshtml (Razor syntax)"
# Current behavior

There is no syntax highlighting for .cshtml files. No current syntax in boostnote seems to support razor syntax.

# Expected behavior

Add the Razor syntax to support .cshtml files

[2019-10-23 18:17] Cholewczuk-F opened #3310 "Storage not mounted -> Cannot relink notes"
# Current behavior
Both of my instances of boostnote faced "no mounted storage", when tried to add it again with source of folder chosen "Add" button does nothing.

I expected it was an issue with drive "sync" restricting access, but copying it to other location did no effect.

# Expected
Getting notes back by relinking storage

# Steps to reproduce
I have no clue how to reproduce this, I'm open f

[2019-10-24 06:51] DrFelder commented on #3278
I mean, `install build dependency packages.` just tells me to run `yarn install` if nothing else is specified.
The time spent to discuss this issue would've been enough to clarify the README about 20 times.

[2019-10-24 07:54] jhdcruz commented on #3278
Running `yarn install` probably doesn't include the `optionalDependencies`, and are installed manually. That's the reason why it is included in the build docs.

Which can be achieved by installing these required build dependencies:

[code]

Install the packages that are required in your distro:

**Fedora**

[code]

Then proceed with:

[code]

[2019-10-24 10:17] sriharshachilakapati opened #3311 "Resizing the window corrupts the layout"
# Current behavior

Upon opening, Boostnote is opening at a much larger size. Upon resizing the app, the layout of the editor doesn't change. This is causing overlaps as shown in the image below.

![BoostNote](https://user-images.githubusercontent.com/4593204/67474657-7324b180-f672-11e9-901b-3bd52cef8f6f.png)

![Dev Tools](https://user-images.githubusercontent.com/4593204/67474829-b97a1080-f672-11

[2019-10-24 10:31] Rokt33r commented on #3303
Thanks for the reporting!

[2019-10-24 12:30] omsblackelf commented on #3020
Broken on Windows/Mac as well unfortunately - combined with the auto-update not optimal

[2019-10-24 12:40] omsblackelf commented on #3287
Similar issue, but a bit different behaviour (Mac/Win) after update to 0.13.0:

All links (not only Toc) are not working, depending on the link I see two kinds of behaviour:

1. Clicking on most links leads to an empty page, to see any contents of the note, switching to another note and back is necessary.
2. Clicking leads to the correct Heading, but the note is not displayed correctly: only a par

[2019-10-24 12:42] username223 commented on #3262
Had this exact issue when trying to export a note containing a file that didn't exist.

For some reason, sometimes, when I ctrl+v images into the note the actual file won't be created in the attachments folder. The files will still show up in the preview pane, but on program restart the previews will not be available.

Pasting the images into the note until they are all present fixed this for me (

[2019-10-24 12:49] omsblackelf commented on #1596
Forced Auto-Updates is the first thing I really dislike about Boostnote - for instance update to 0.13.0 broke links for me (which I use extensively) - downgrading just so that Boostnote upgrades after each reastart is a blocker (one should not have to block the server to prevent updates).

[2019-10-24 17:01] JayHoltslander commented on #2814
This didn't work for me on my self-installed copy.

[2019-10-24 18:32] kgwood39 opened #3312 "Boostnote Won't Start After Latest Update"
I started BoostNote and it said that there was an update that was downloading and the application exited.  I see in the boost directory that app-0.13.0 has downloaded.  I attempt to start the application and it immediately exits.

The application should open and present my notes.  Here is the appropriate section from SquirrelSetup.log:
2019-10-24 11:33:49> Program: Starting Squirrel Updater: --che

[2019-10-24 18:53] AWolf81 commented on #3308
@Flexo013 Oh good catch. I haven't noticed that before.

I'll fix this by adding error handling to `createNoteFromUrl`. I'll create a PR soon.

[2019-10-24 19:25] AWolf81 commented on #3311
Thanks for reporting the issue.

Sorry, I can't reproduce it on Windows. Can you please make a screen recording so the problem is more clear?

What do you mean with layout doesn't change? Is the editor and preview pane not resized if you change the window size?

[2019-10-25 10:56] SuperStarss opened #3315 "BUG-view size is wrong"
when you close the boostnote window with 80% size,then you got the wrong size when you restart boostnote.
  The boostnote window displayed 80% size,but actual 100% size

[2019-10-25 14:35] Flexo013 commented on #3309
We use CodeMirror for syntax highlighting. [It does not look like it supports the Razor syntax](https://codemirror.net/mode/index.html).

I suggest taking this issue to [the CodeMirror repo](https://github.com/codemirror/codemirror/issues). Once they support it, so will Boostnote.

[2019-10-25 14:35] #3309 closed

[2019-10-25 14:40] Flexo013 commented on #3310
Just making sure I understand:

To fix the problem you tried to create a new storage and then move the contents of your old storage to the new storage? Then after restarting/reloading Boostnote there were still no notes?

[2019-10-25 14:42] Flexo013 commented on #3311
Is the problem only present when the dev tools are open (like in your screenshots)?

[2019-10-25 14:48] #3315 closed

[2019-10-25 23:38] Redsandro commented on #3122
Electron 7 was just released. :heart:

https://electronjs.org/blog/electron-7-0

Anyway, small reminder that Boostnote is incompatible with Picasso hardware and we need to use Electron 4.2.7+. Until that time, Linux Picasso users will experience computer crashes when using Boostnote.

[2019-10-26 06:34] halfhope opened #3316 "Windows. Fullscreen or single. Save window state on exit."
# Current behavior

# Expected behavior

# Steps to reproduce

1.
2.
3.

# Environment

- Version :
- OS Version and name :

[2019-10-26 06:35] #3316 closed

[2019-10-26 09:37] Flexo013 commented on #3122
While I agree that this issue is important to solve it's lower on the priority list as there are other issues that affect more users.

I don't know exactly what all is involved in upgrading the Electron version, but since the project is open source you can give it a go @Redsandro

[2019-10-26 09:45] Flexo013 commented on #2814
Could anybody that has WordPress working make a small step-by-step guide on how to set it up? We could potentially add it as a wiki page, and link to that from within the app.

[2019-10-26 09:57] Flexo013 commented on #1596
I agree that this is a must-have feature.

[2019-10-26 10:12] Flexo013 commented on #3287
We are working on fixes for this. The next release should have these problems fixed.

[2019-10-26 10:39] Flexo013 commented on #3020
#3287 is for the current iteration of this problem.

[2019-10-26 13:04] Redsandro commented on #3122
@Flexo013 I've done commits on the server and the react client of the Boostnote Electron app in the past. I have no experience with Electron itself though, and I don't feel confident taking on something like the entire scaffolding of the app. I was hoping someone with Electron experience and a better overview of dependencies in this project would just fly over this in an hour. :angel:

I apologize

[2019-10-26 14:11] Flexo013 commented on #2233
This is behavior no longer occurs with Boostnote 0.13.0 Currently the line just runs out of the frame, which is not ideal, but I don't really see any other options.

[2019-10-26 14:11] #2233 closed

[2019-10-26 16:48] Cholewczuk-F commented on #3310
Yeah, I tried few options
- Adding same folder that disappeared in location it was
- Moving it on desktop (thought it may be some google drive folder permissions bug)
- Creating new storage from within app and copying only 'notes' and 'attachments' into it
- Also copying contents with original boostnote.json
In every case, after moving contents and reloading storage disappeared and trying to add i

[2019-10-27 03:12] askming commented on #3202
same issue still exists in version 0.13.0

[2019-10-27 07:07] SchrodingersDice commented on #3287
Thanks, @Flexo013 and team.  Appreciate. =)

[2019-10-27 10:42] Flexo013 commented on #3310
Hmmm... So the problem persists even if the folder is on your desktop and properly made and filled with your old notes. Then my best guess would be that one of your notes somehow breaks the storage.

I have two ideas on how we can figure this out:
- You could try to only load a subset of note (or maybe first just a few at a time). Then see at what point the storage break/becomes unavailable.
- You

[2019-10-27 10:50] Flexo013 commented on #3122
@Redsandro That's completely understandable. Thanks for your message.

I have contact @Rokt33r about this issue directly. Hopefully this is something that we can pick up fairly fast.

[2019-10-27 13:24] heyiamvika commented on #3252
Have this issue as well on MacOS.

Exported formulas look like this:

<img width="853" alt="Screen Shot 2019-10-27 at 15 22 50" src="https://user-images.githubusercontent.com/16744113/67635300-e5dd9900-f8cd-11e9-8e8a-ecb09aa8d272.png">

[2019-10-27 15:42] sriharshachilakapati commented on #3311
Sorry for the delay. I tried to reproduce this issue in Windows, but couldn't reproduce it there. Only happening on macOS. Here's a recording of the clip.

https://www.dropbox.com/s/9dagczl7u5q8oys/Boostnote-resize-issue.webm?dl=0

[2019-10-27 18:19] federicochiesa opened #3319 "Boostnote not rendering notes correctly"
# Current behavior

When I get out of editing mode(and sometimes even in editing mode), the note doesn't render correctly, or sometimes doesn't render at all, as you can see [here](https://youtu.be/gu3WGdixgF4), where it cuts out part of the note, or [here](https://youtu.be/uTW8K2KWi-k), where it renders wrong not only the editing mode(wrong highlighting after a split second when I scroll down), b

[2019-10-27 19:23] yujingz commented on #1767
This lock button is a pretty bad UX practice :(

[2019-10-28 00:13] arcturus140 commented on #3310
before that you should provide us a screen shot of the Console output from Boostnote developer tools so we can see the files that give `failed to pase` warnings.

[2019-10-28 00:19] arcturus140 commented on #3310
Your storage is most likely corrupted and needs to be repaired.

[2019-10-28 03:10] Rokt33r commented on #3122
@Rokt33r @Redsandro Sorry I had completely forgotten  about this. I'll do it tonight.

[2019-10-28 03:26] duguanyue commented on #3319
I have the same issue since updating to v0.13.

[2019-10-28 09:10] #3308 closed

[2019-10-28 10:31] Flexo013 commented on #3319
Duplicate of #3289

[2019-10-28 10:53] stderr-to-devnull opened #3320 "Link to line number doesn't work in full preview mode"
In full preview mode, clicking on the link generated by following code:
[Go to line 10](:line:10)

Current behavior: nothing happens
Expected behavior: view should jump to that line

This only works in split view mode, when clicking the link in the preview pane

[2019-10-28 11:15] Flexo013 commented on #3319
The first bug you mention is indeed a duplicate of #3289.

The second bug however is something that doesn't have an issue here yet, so I'm reopening this one. I have run into this same bug as well in one of my larger notes, but I haven't been able to narrow down what causes the issue.

All I know is that it occurs after a certain point in the document (in my case a level 3 heading). If the cursor

[2019-10-28 12:29] Redsandro commented on #3122
Received this on the [upstream issue](https://github.com/electron/electron/issues/19269#issuecomment-546921436):

I would be happy just to get Boostnote working (with Electron 4.2.7+), but judging from the above comment, it would be beneficial to upgrade to a supported version, which is 5, 6 or 7.

[2019-10-28 12:57] Flexo013 commented on #1767
@yujingz Could you elaborate on why it is bad and what we could do to improve this bad UX?

[2019-10-28 13:12] Flexo013 commented on #3311
Thanks for the clip! That will definitely help.

[2019-10-28 13:27] sriharshachilakapati commented on #3311
Feel free to ask if you need any more information from me. Other than this issue and #2816, everything else is fine for me. Loving Boostnote so far, thanks for the great work!

[2019-10-28 13:29] sriharshachilakapati commented on #2816
I can confirm that this one is happening on macOS as well.

[2019-10-28 15:48] SandMouse commented on #3292
I create my documents on the fly. Not sure how it finally ends up. Many times the document stays a not important copy-paste snippet. Undefined as plain text, MD file or code snippet. In a later stadium some files grow longer into a piece of code or a MD file (documentation). I (naively) assumed that all files added to BoostNote would be plain text, just rendered differently depending on the chosen

[2019-10-28 21:52] mokeyish commented on #2339
I download the latest yesterday.  There are still two views on a note:
- Split view (edit + preview)
- Full edit view

**I clicked somewhere else, It was not change to full preview view.**  @petrkrejcik

[2019-10-28 21:55] mokeyish opened #3321 "Why not switch three views by button directly?"
I download the latest mac os client yesterday.  There are still two views on a note:
- Split view (edit + preview)
- Full edit view

**I clicked somewhere else, It was not change to full preview view.**  @petrkrejcik

_Originally posted by @mokeyish in https://github.com/BoostIO/Boostnote/issues/2339#issuecomment-547161833_

[2019-10-29 04:28] #3122 closed

[2019-10-29 04:28] Rokt33r commented on #3122
I'm going to use v4 for v0.14.0. But I'll try to upgrade v6 again for v0.15.0.

[2019-10-29 07:51] Redsandro commented on #3122
https://github.com/BoostIO/Boostnote/pull/3322

Was it really that simple? :sweat_smile:

Looking forward to the 0.14 release. :muscle:

[2019-10-29 08:11] Flexo013 commented on #3321
I can't reproduce this on Linux. As long as I clicking outside the edit frame it will switch to full preview view.

Could you try narrowing down when this occurs for you?

[2019-10-29 08:26] Flexo013 commented on #2196
Maybe this could be a good compromise for both existing and new users:

The view toggle switch does get three states: split, full edit, full preview. But the current behavior of switching views remains the same by default. So when clicking outside the full editor you still get the full preview. This is then also reflected by the toggle switch changing its state automatically.

The lock button that

[2019-10-29 09:02] Flexo013 commented on #2991
The views and controls discussion is continued over here: #2196

The lock button has since changed appearance. We could change the hover over text to say "Lock view mode" to be more explicit than just "Lock".

The TeX snippet provided should now work. Provided you have the same delimiters. (I added a mention of this on the page itself as well).

Improving of blog documentation is in the works: #28

[2019-10-29 09:32] bllli commented on #2721
same issue

You can host yourself plantuml server, have no request rate limit.
see: https://github.com/plantuml/plantuml-server

[2019-10-29 10:51] mokeyish commented on #3321
It works as expected now. But I still didn't know how it caused. 😂

[2019-10-29 10:51] #3321 closed

[2019-10-29 13:59] federicochiesa commented on #3319
You're right! I just have to set the cursor in the top line and I can see the note perfectly. At least now I have a temporary fix to see my note, since what I did before was switch to another note and switch back.

[2019-10-29 14:25] Flexo013 commented on #3292
I see what you mean. The main thing to note (no pun intended) is that Boostnote is not a universal text editor like Sublime for example. So when creating a note you need to choose the type of note your want. Maybe it's a bit crude, but I'd compare it to choosing between making a Word file or a PowerPoint file. While similar there is no simple perfect conversion between the two as they have differe

[2019-10-29 14:32] Flexo013 commented on #3319
@federicochiesa Could you try placing your cursor on a few different points in the note to see at what point the note stops rendering? Maybe that will help in narrowing down the cause.

[2019-10-29 14:42] Flexo013 commented on #2721
If the limit is 1 call per IP per second (so 3600 calls per IP per hour) then this issue would be solved by simply showing "loading plantUML..." if there was a request in the last 1.1 seconds (includes some buffer). Once we know that the request won't get blocked we can send it and display the plantUML.

I don't imagine people will have a huge problem with having to wait a little over a second for

[2019-10-29 15:43] kabirsikand commented on #242
I have this issue still

[2019-10-29 15:50] Flexo013 commented on #242
@kabirsikand What version are you on?

[2019-10-29 16:16] Flexo013 commented on #3142
Thanks @Olcod for the PR!

[2019-10-29 19:46] miraut opened #3330 "Export to other markup languages (like Textile)"
# Current behavior

Boostnote allows users to export markdown syntax to many formats, like .txt, .html, .pdf and so on

# Expected behavior

It would be great to export markdown to other markup languages, like [Textile](https://www.promptworks.com/textile) (which is used by [many tools](https://en.wikipedia.org/wiki/Textile_(markup_language)#Software_and_services) like [Redmine](https://en.wikiped

[2019-10-29 23:38] Cholewczuk-F commented on #3310
Happily apart for a few i got most of my notes back in it. So thank you for these suggestions.
Ah yes, completely forgot about the builtin developer tools. So console gave me this feedback:
![image](https://user-images.githubusercontent.com/53861290/67815201-8edeec00-faa6-11e9-8faa-a06e9db5f35c.png)

I went trough all of them copying and pasting partially. Last file seemed to be an issue. Content

[2019-10-30 06:55] gmqi opened #3331 "In text input mode, the shortcut key (Ctrl + [ & Ctrl + ]) does not work"
# Current behavior
In text input mode, the shortcut key (Ctrl + [ & Ctrl + ]) does not work.
1. When I pushed Ctrl + [, there is no response.
2. When I pushed Ctrl + ], a tab was inserted.

# Expected behavior

1. When I push Ctrl + [, previous note is shown.
2. When I push Ctrl + ], next note is shown.

# Steps to reproduce

1. In the text input mode, input some character.
2. Push Ctrl + [ or Ctr

[2019-10-30 08:35] Flexo013 commented on #3330
Exporting to more formats would be a neat new feature. Potentially we could use pandoc's API to achieve this result.

[2019-10-30 08:47] Flexo013 commented on #3331
I understand the confusion, but this is intentional behavior. The problem is caused by conflicting hotkeys. Within the editor you use this key combo to increase or decrease the indentation of a line, which is very useful in lists. When you aren't in the editor the note switching functionality takes over those same hotkeys.

Currently neither of these hotkeys is configurable (which would allow one

[2019-10-30 08:47] #3331 closed

[2019-10-30 08:50] Flexo013 commented on #2645
The first priority here should be to make Boostnote's own hotkeys configurable, for example switching to the next and previous note with Ctrl + [ and Ctrl + ].

[2019-10-30 10:55] fklement opened #3332 "Strikethrough using two tildes does not work on view-mode"
# Current behavior
When I add two tildes `~~` in front of the text it gets strikethrough in editing mode but not in view mode.

# Expected behavior
It should get strikethrough in both modes.

# Steps to reproduce

1. Open editor
2. Open new note
3. Copy this into the editor: `~~this is a simple test`

# Environment

- Version : Boostnote 0.13.0
- OS Version and name : Mac OS Mojave

[2019-10-30 10:58] JBPlinn opened #3333 "export function: images are not present in any exported format"
# Current behavior

In any exported format (md, pdf, html) images are not present or path to images is wrong.

# Expected behavior

# Steps to reproduce

1. export to md ot html or pdf a note with embedded images.
2.
3.

# Environment

- Version :
Boostnote 0.11.17
- OS Version and name :
Linux - Manjaro 18.1.2

[2019-10-30 11:23] Flexo013 commented on #3333
Duplicate of #2815

[2019-10-30 11:23] #3333 closed

[2019-10-30 11:26] Flexo013 commented on #2815
Duplicate of #2785

[2019-10-30 11:26] #2815 closed

[2019-10-30 13:18] Flexo013 commented on #3332
This is caused by the closing `~~` characters being omitted.

``~~this is a simple test~~`` does work properly. The markdown is rendered properly. The preview in the editor is not, but I can imagine this is done intentionally. That way when writing you don't first have to make your opening and closing characters and then go back to write in between. Rather you could just write left-to-right and ke

[2019-10-31 01:28] arcturus140 commented on #2424
@Flexo013 should be closed duplicate?

[2019-10-31 09:45] marcodings commented on #2785
In addition when exporting a "storage" to markdown, no attachments are exported at all !, no attachment folders are created in the respectively exported boostnote folders.

[2019-10-31 14:15] federicochiesa commented on #3275
The problem started [here](https://imgur.com/a/O3oIWoF), maybe it's because it's in math mode? I can provide the [cson file](https://mega.nz/#!4EskhYoR!cjnjJxuFddAH7GIPRi9ix3kl6VkaPI5czkEFdZ1GtGU), it's on line 239.

[2019-10-31 14:16] federicochiesa commented on #3319
It seems as if the loewr down I put the cursor, the more the rendered note frame shrinks: if I put it on the top line, the note is fully visible, and as I go down line by line I can see less and less, until I can see nothing

[2019-10-31 14:19] federicochiesa opened #3334 "Note link in info menu not showing right address"
# Current behavior

When I open the info menu in the upper right corner of the note, the "note link" field often indicates the address for the note I opened before that one.

# Expected behavior

The field should show the address for the note I'm looking at the moment

# Steps to reproduce

1. Open a note
2. Change to another note
3. Open info menu

# Environment

- Version : 0.13.0
- OS Version a

[2019-10-31 14:21] federicochiesa commented on #3269
No, it doesn't seem to happen anymore in 0.13.0.

[2019-10-31 14:21] #3269 closed

[2019-10-31 16:23] Cholewczuk-F commented on #3310
Happily apart for a few i got most of my notes back in it. So thank you for these suggestions.
Ah yes, completely forgot about the builtin developer tools. So console gave me this feedback:
![image](https://user-images.githubusercontent.com/53861290/67815201-8edeec00-faa6-11e9-8faa-a06e9db5f35c.png)

I went trough all of them copying and pasting partially. Last file seemed to be an issue. Content

[2019-11-01 02:52] Jongkeun commented on #3305
@arcturus140 , where is the function?
I tried to find the function in Boostnote program operation and code, but I couldn't.
I hope to contribute to this issue.
Would you mind if you let me know where it is?
If you can't find it too, I will make another function or import other opensource.
Thanks 👍

[2019-11-01 08:10] #3332 closed

[2019-11-01 09:12] arcturus140 commented on #3305
@Jongkeun  I am sorry I couldn't. I know I've seen it but it has been a while.

[2019-11-01 09:17] arcturus140 commented on #3305
I think it has changed...

[2019-11-01 09:25] Jongkeun commented on #3305
No problem, thanks for checking out.

[2019-11-01 09:38] Flexo013 commented on #3319
Hmm, maybe this is related to the scrolling bug #3289. Maybe the fix for that also fixes this?

[2019-11-01 09:39] Flexo013 commented on #3334
Confirmed on Ubuntu 16.04 with Boostnote 0.13.0

[2019-11-01 10:38] Flexo013 opened #3336 "Exporting storage does not include attachments"
# Current behavior

Exporting a storage does not export any attachments or images.

# Expected behavior

Exporting a storage produces the same results as exporting a folder or a single note.

# Steps to reproduce

1. Make a note with an image (or different attachment)
2. Export the storage that this note is in
3. Check the exported note and see that the attachments are missing.

# Environment

- V

[2019-11-01 10:40] Flexo013 commented on #2785
@marcodings Thanks for the report! I have create a separate Github issue for this problem #3336. Because the cause of your problem is different from the one mentioned in this issue. (Attachment link formatting, versus attachment presence in export).

[2019-11-01 10:41] Flexo013 commented on #2424
Duplicate of #2310

Thanks @arcturus140 !

[2019-11-01 10:41] #2424 closed

[2019-11-01 17:25] kgwood39 commented on #3312
The application is now unusable since I can't start it.
Is there a way I can go back to the previous version or reinstall it without losing my existing notes?  Some immediate workaround would be greatly appreciated.

[2019-11-01 18:40] arcturus140 commented on #3312
yes you can install the latest version yourself. it will not affect your notes

[2019-11-01 18:43] arcturus140 commented on #3312
same for uninstall. you may want to uninstall Boostnote and install a previous or the latest version.

[2019-11-01 19:48] qihuazhong commented on #3263
![Nov-01-2019 15-39-54](https://user-images.githubusercontent.com/22231207/68051688-692c2f80-fcbe-11e9-88b8-a84734adc903.gif)

Above is the screen recording for this issue.

For me, it seems to have the same issue no matter what note I have.  Here's one example note file:
[note.txt](https://github.com/BoostIO/Boostnote/files/3799387/note.txt)

Thank you.

[2019-11-01 20:09] qihuazhong opened #3337 "More options for exporting as pdf(e.g. paper size, page number etc.)"
# Current behavior

Export as pdf currently has no option. I try to use Boostnote as much as I can, but the lack of exporting options is limiting its use case. For example:

1. (page size) Exporting as pdf produce A4 sized pdf by default. But in many places(North American for example), the default printing size is letter size. This causes a problem when I send the PDF to someone who subsequently p

[2019-11-01 20:36] qihuazhong opened #3338 "Render Emoji in note list"
# Current behavior

Displaying emoji as text in the note list
<img width="303" alt="Screen Shot 2019-11-01 at 4 31 26 PM" src="https://user-images.githubusercontent.com/22231207/68054647-2457c700-fcc5-11e9-8f82-e2bbc1bae2fc.png">

# Expected behavior
like being done with Gmail's subject line.

<img width="797" alt="Screen Shot 2019-11-01 at 4 33 29 PM" src="https://user-images.githubusercontent.co

[2019-11-01 21:00] qihuazhong opened #3339 "auto wrap selected text when tpying "~", like other formating chars such as *`("
# Current behavior

![Nov-01-2019 16-56-11](https://user-images.githubusercontent.com/22231207/68056052-91209080-fcc8-11e9-8713-7c1386dc9b10.gif)

typing ~ over selected text will replace the text with ~.
typing other formating characters like *(` will wrap the text

# Expected behavior

auto wrap selected text when typing "~" (used for formatting text with strikethrough or subscription)

# Enviro

[2019-11-01 23:28] arcturus140 commented on #3339
you should be able to choose which characters are used for wrap in Boostnote preferences.

[2019-11-01 23:37] qihuazhong commented on #3339
It worked!
I was not aware of it. Thank you!

[2019-11-01 23:37] #3339 closed

[2019-11-02 02:12] wbgt commented on #3134
I need this feature too. It would be difficult to show a drop down in a text environment. It is ok just by typing `[[other note title]]` or something like that. I hope the link can be cross folder, that is, I do not have to type folder name in `[[...]]`.

It will prompt the app from a notebook to a quick wiki!

[2019-11-02 06:51] tomerror opened #3340 "Different between style at preview and style at PDF extract"
# Current behavior
I'm writing a code block after I change his style at UI settings, but when I want to extract to PDF the style didn't change.
This is how it's looking at Boostnote
![image](https://user-images.githubusercontent.com/13800577/68067264-07ff6d00-fd4d-11e9-97b3-b77deed0fd08.png)

This is how it's looking after PDF extract
![image](https://user-images.githubusercontent.com/13800577/680

[2019-11-02 08:26] arcturus140 commented on #3340
duplicate of #3125. From what I can see, development has moved away from coloured PDF to a print optimized format.

[2019-11-02 08:31] arcturus140 commented on #3134
`[[...]]` is reserved notation in Boostnote Markdown notes. Try it ;-)

[2019-11-02 09:19] wbgt commented on #3134
Yes, I see. So use other delimiter instead.

[2019-11-02 14:07] rebastion commented on #3262
Really unfortunate error, no matter if PDF or HTML export. If it is tied to the storage location of images, they should become properly saved and right path included if one were to copy paste images into notes (as I do a lot, too)

[2019-11-03 12:55] fklement commented on #2792
Is there any update on this?

[2019-11-03 12:56] fklement commented on #3332
@Flexo013 Ahhhh my fault. Thank you for clarification.

[2019-11-04 10:18] Flexo013 commented on #3338
Agreed that the titles should perform the same as the Markdown preview title:
![image](https://user-images.githubusercontent.com/4507015/68113784-cdd0cf80-fef4-11e9-9fd2-20c1e43c060e.png)

[2019-11-04 10:19] Flexo013 commented on #3340
Duplicate of #3125

[2019-11-04 10:19] #3340 closed

[2019-11-04 10:27] Flexo013 commented on #3125
As a slight tangent, maybe we could add a checkbox to options as suggested by #3337. Something like "Apply Boostnote styling to code blocks". If unchecked the current behavior persists. If checked then this issue is solved.

[2019-11-04 10:29] Flexo013 commented on #2792
@DeveloperBen ^

[2019-11-04 11:24] Flexo013 commented on #3134
The normal link notation could be used. We could trigger a dropdown/auto-completion on a certain hotkey (Ctrl+Space is often used by IDEs). Selecting a note from this list would create a link to that note.

[2019-11-04 12:04] grandslammer opened #3341 "Syntax highlighting not working in code blocks"
I have no syntax highlighting within my code blocks (see screenshot). All my settings seem to be correct.

![Screenshot_1](https://user-images.githubusercontent.com/18541062/68119639-1c816800-fefb-11e9-9048-b34ddffe10ff.png)
![Screenshot_2](https://user-images.githubusercontent.com/18541062/68119706-49ce1600-fefb-11e9-8aab-1af662656c8e.png)

[2019-11-04 13:11] Flexo013 commented on #3262
@rebastion @PandaGab We are aware of this and hopefully it will be fixed soon:  #2815
If you want to incentivize developers to pick up this issue then consider funding it on IssueHunt.

[2019-11-04 13:16] Flexo013 commented on #3341
You need to tell markdown what language it should use for syntax highlighting:
![image](https://user-images.githubusercontent.com/4507015/68123556-a5090400-ff0d-11e9-8a14-f1a8972503da.png)
![image](https://user-images.githubusercontent.com/4507015/68123584-b9e59780-ff0d-11e9-9bd0-5d548b825bb7.png)

[2019-11-04 13:21] grandslammer commented on #3341
Thanks, is there any kind of shortcut or auto detect feature for this? The editor has an auto detect feature. Perhaps it could be incorporated into code blocks also?

[2019-11-04 15:42] Flexo013 commented on #3341
Currently that is not possible for code blocks. Auto-detecting it for code blocks could maybe work. It should only be triggered on a specific shortcut though.

I don't think such a feature would be in high demand as just typing out the few characters does not take a lot of time, and there are no possible interpretation mistakes if it is done manually. Cause I could easily imagine the auto-detect g

[2019-11-04 16:13] DeveloperBen commented on #2792
Yes, i have added the functionality to connect to a github repo and commit, push, pull but I still need to work on the UI as it’s plain rn without a lot of style.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Flexo013 <notifications@github.com>
Sent: Monday, November 4, 2019 05:29
To: BoostIO/Boostnote
Cc: Ben Koska; Mention
Subject: Re: [BoostIO/Boostnote] Us

[2019-11-04 16:19] fklement commented on #2792
@DeveloperBen could you open a PR so that I could help you as well?

@Flexo013 @DeveloperBen
Whats with #3261? Did any of you test this?

[2019-11-04 18:26] federicochiesa opened #3342 "KaTeX not rendering at all when exporting to PDF"
# Current behavior

When I export my notes to PDF, the KaTeX doesn't export, I juest get the text I typed, as you can see in this [PDF and cson file](https://mega.nz/#!wAcjWC6Q!5XMCae7G-qCrckPiVh3F5QPPz8ctBrNFNqkuy7uFalo)

# Expected behavior

KaTeX math should render as it's displayed on my note

# Steps to reproduce

1. Create a note
2. Write KaTeX math
3. Export as PDF through Boostnote (not th

[2019-11-04 18:50] Flexo013 commented on #3342
Confirmed on Windows 10 with 0.13.0

[2019-11-05 03:59] shmolf commented on #3289
@Flexo013 I believe this can be fixed from https://github.com/BoostIO/Boostnote/pull/3318

[2019-11-05 04:05] shmolf commented on #3202
@askming Should be resolved in https://github.com/BoostIO/Boostnote/pull/3317

You can view the attachment in [the comment](https://github.com/BoostIO/Boostnote/pull/3317#issuecomment-549628624).

[2019-11-06 01:59] shmolf opened #3343 "Customized Background image for the Editor view"
# Current behavior
Static background color defined by the selected CodeMirror theme.

# Expected behavior
Option for a customizable background image for the Editor input, given a provided URL of the image path.

Example:
![custom-background](https://user-images.githubusercontent.com/6433103/68176468-f38cc180-ff52-11e9-902f-5152c31ed1f9.gif)

The setting to the URL path for the background image wou

[2019-11-06 09:25] Patapoof commented on #2140
On Windows at least, my workaround consisted in going to C:\Users\xxxxxxxx\AppData\Local\boost and delete the latest folder, the one that had been downloaded by the Squirrel updater. In my case, the initially working version was in folder "app-0.12.1", I deleted the "app-0.13.0" folder, and restarted the computer.
The next time I launched the app, the updater did get the 0.13.0 version again and w

[2019-11-06 09:36] sfjohansson commented on #1085
Amazing to see that this is happening, how is it going? :)

[2019-11-06 10:20] aakbar5 opened #3344 "Add 'OK' button to Export prompt"
# Current behavior
Export dialog does not have any ok button to close the dialog. Only ESC key works to close this dialog. In my opinion it should have ok button and enter key should work to close that dialog.
![bug](https://user-images.githubusercontent.com/16612387/68289962-08ff0a00-007f-11ea-97a6-e5ee80073862.png)

[2019-11-06 10:35] Flexo013 commented on #3344
On my end there is also an `X` button:
![image](https://user-images.githubusercontent.com/4507015/68291132-7d3eab00-0089-11ea-8e81-1f3b7009bd7e.png)

But I agree that an OK button would improve this prompt.

[2019-11-06 14:56] TDGithubIntegration commented on #1803
Along with the ones mentioned above:
- A hotkey for focusing the `tag` input of a note would be much appreciated: `Ctrl+T`
- As would hotkeys to move between already created folders (from 'Default' folder to 'Notes' folder, etc): `Ctrl+Tab` and/or `Ctrl+Shift+Tab`

[2019-11-06 19:29] Zorono commented on #3302
[SquirrelSetup.log](https://github.com/BoostIO/Boostnote/files/3816346/SquirrelSetup.log)
after upgrading to Windows 8.1 N Pro x32-bit,
it conflicts with DiscordCanary.exe(https://canary.discordapp.com)'s Squirrel(if iamn't wrong)

[2019-11-06 19:47] sjtindell commented on #1767
Really needed and appreciate this feature, thank you!

[2019-11-07 00:52] pavel-u opened #3345 "Bump mermaid to the latest version"
Mermaid has been significantly improved since 8.0 release and support state diagrams now.

Would be nice to see [latest](https://github.com/mermaid-js/mermaid/releases/latest) version in Boostnote.

[2019-11-07 06:03] Jongkeun opened #3346 "[Help] setting code style automatically."
# Current behavior

Hi, I want to contribute to this project.
I tried to fix some code, but code style was changed by my vscode setting.
I thought it was my fault. So I reinstalled **EditorConfig for vscode** and disabled **Prettier**.
But it still worked wrong.
So I found out some setting value was different.
For example
[code]
It seems like these values are default.
Is there any way to follow yo

[2019-11-07 08:10] wbgt opened #3347 "Show back links to note"
I would like to see the feature that when I view a note, I can see a list of the notes linking to this one somehow. For example, the list may be shown in the info panel when I click the circled "i" in the up-right corner. The items in the list should be clickable of course for jumping to.

With this feature, Boostnote would be perfect for me.

[2019-11-07 09:25] chrissyast opened #3348 "Only five images per note being stored. All other images lost"
# Current behavior

Yesterday I created a note with 7 pasted screenshots. I loaded the note today and 2 of the images are not showing. I found my storage path and there are now only 5 images in the folder. I looked at some of the existing issues but they seem to be related to broken links rather than the actual files disappearing.

![image](https://user-images.githubusercontent.com/31564153/683752

[2019-11-07 11:34] Flexo013 commented on #3302
Could you try uninstalling DiscordCanary and then install Boostnote?

[2019-11-07 21:18] RoyiAvital commented on #2140
Was it implemented? Is there a way to disable auto updater?

[2019-11-08 05:40] qihuazhong opened #3349 "Exported PDF content missing (except codes in blocks)"
# Current behavior

## contents in exported PDF are missing

The pdf export function is broken and all contents are missing in the exported file except some codes.

<img width="329" alt="Screen Shot 2019-11-08 at 12 32 40 AM" src="https://user-images.githubusercontent.com/22231207/68452187-a95c4800-01bf-11ea-9be7-2049a260fdb2.png">

This was very frustrating. I used boostnote to write up my assign

[2019-11-08 07:59] qihuazhong opened #3350 "Bump Katex to 0.11.1"
https://github.com/KaTeX/KaTeX/releases/tag/v0.11.1

There has been some important fixes and changes, including the support for \substack which is not supported in 0.10

<img width="378" alt="Screen Shot 2019-11-08 at 2 57 27 AM" src="https://user-images.githubusercontent.com/22231207/68459512-9c495400-01d3-11ea-9d7a-699fe03aaa41.png">

---->

<img width="86" alt="Screen Shot 2019-11-08 at 2 58 51

[2019-11-08 08:25] Flexo013 commented on #2140
This feature hasn't been merged into master yet. I do, however, expect it to be merged soon, so then it will be part of the next release.

[2019-11-08 10:11] RoyiAvital commented on #2140
How will it work? Will we have Check Box in preferences to enable or disable auto update?

[2019-11-08 10:23] Flexo013 commented on #2140
The image from https://github.com/BoostIO/Boostnote/pull/2617 suggests a check box with 'Enable Auto Update' in preferences that is checked by default.

[2019-11-08 14:55] antiphasis commented on #3349
Tested with the document on macOS Mojave, Boostnote Version 0.13.0
PDF looks good and complete to me.

[Untitled.pdf](https://github.com/BoostIO/Boostnote/files/3825038/Untitled.pdf)

[2019-11-08 15:07] shmolf commented on #3349
Related: https://github.com/BoostIO/Boostnote/pull/3317

[2019-11-08 17:11] zhongsheng-chen commented on #1600
I have an alternative.
[code]
More details, please see [here](https://github.com/zhongsheng-chen/Back-Propagation-Neural-Network).

[2019-11-09 04:45] qihuazhong commented on #3349
The behaviour is getting very random....

After reading your comment, I tested again, it worked.

After a few hours, I tried again, didn't work, like this:
[Untitled.pdf](https://github.com/BoostIO/Boostnote/files/3826925/Untitled.pdf)

Tried a different note, still didn't work.
[Untitled.pdf](https://github.com/BoostIO/Boostnote/files/3826926/Untitled.pdf)

Tried a third different note, worked fi

[2019-11-09 05:03] qihuazhong commented on #3349
not sure if this will help. but here you go. the developer tool screenshot after trying to export pdf

<img width="1204" alt="Screen Shot 2019-11-09 at 12 03 06 AM" src="https://user-images.githubusercontent.com/22231207/68523242-56989400-0284-11ea-9ddf-4f1768f8fdd9.png">

[2019-11-09 07:32] shmolf commented on #3349
@qihuazhong are those PDF examples from using an instance of my fork, or from your normal install?

[2019-11-09 13:10] qihuazhong commented on #3349
They are from a normal install.

[2019-11-09 19:29] shmolf commented on #3349
Good to know. Thank you.

[2019-11-09 20:50] jabalv commented on #2708
Problem still persists!
![image](https://user-images.githubusercontent.com/2405761/68534921-40054200-0343-11ea-9354-52d4454e5384.png)

[2019-11-10 12:50] Denis-net opened #3351 "AutoHotkey syntax support"
Hello !

Congratulations for the great App !

I would love to store [Ahk](https://www.autohotkey.com/) snippets for future references.
But I noticed that syntax don't get highlighted.
Could you add its syntax colors ?
Not sure if it could help but, you could parse this [tmLanguage](https://github.com/stef-levesque/vscode-autohotkey/blob/master/syntaxes/ahk.tmLanguage)
or supporting tmLanguages, so

[2019-11-10 19:22] Flexo013 commented on #3351
Hi!

Thanks for the idea! We use the syntax highlighting as provided by [CodeMirror](https://codemirror.net/mode/index.html). You could look into contacting CodeMirror about supporting ahk. Once they have it working this will also become part of Boostnote.

[2019-11-10 21:26] #3260 closed

[2019-11-11 23:23] maykefreitas commented on #2294
Hey guys. Just sent a pull request with a propose. Hope it will solve this issue :)

[2019-11-12 12:39] federicochiesa opened #3353 "KaTeX not rendering if I clone a note"
# Current behavior

If I clone a note, the KaTeX doesn't render, as you can see from [this video.](https://youtu.be/OoZjR5hoifo)

# Expected behavior

The cloned note should display the same as the original one

# Steps to reproduce

1. Choose a note with KaTeX
2. Clone it
3. Open the cloned note

# Environment

- Version : 0.13.0
- OS Version and name : macOS 10.14.6

[2019-11-12 15:00] shoshievass commented on #3330
I would really love it if boostnote could use a more sophisticated pandoc exporting that can produce latex and latex-formatted pdfs. Rmarkdown has this functionality and it's immensely popular (at least among academics). At the moment, I'm copy/pasting to Rmarkdown before I export, which is suboptimal...

[2019-11-12 15:06] shoshievass commented on #3337
Another plug here for having latex/pdf exporting like in RMarkdown.

This produces easily customizable, clean (and publication-worthy) pdfs. If Boostnote had this feature, I would start using it without second thoughts. As it is, I have to copy/paste into Rmarkdown in order to print/share anything.

[2019-11-12 16:08] Flexo013 commented on #3353
Duplicate of #2310

[2019-11-12 16:08] #3353 closed

[2019-11-12 16:17] chrissyast commented on #3348
@Flexo013 is there anything I can do to help on this? I would like to get involved on open-source projects and I have some experience with Javascript

[2019-11-12 19:36] #3351 closed

[2019-11-13 11:02] AdrianBylogic opened #3355 "[feature request] crossnote link shortcuts"
Would be good idea implement a **crossnote link shortcut**. Is very annoying have to right click to get a note link and paste after in your current note.

A perfect example of this would be [Bear](https://bear.app/), from mac:

If you write: `[[` and put first letter from another note, you can link it directly.

With this feature, Boostnote would beyond perfect.

[2019-11-13 11:06] #3355 closed

[2019-11-13 11:13] AdryDev92 opened #3356 "[feature request] Crossnote link shortcuts"
Would be good idea implement a **crossnote link shortcut**. Is very annoying have to right click to get a note link and paste after in your current note.

A perfect example of this would be [Bear](https://bear.app/), from mac:

If you write: `[[` and put first letter from another note, you can link it directly.

With this feature, Boostnote would beyond perfect.

[2019-11-13 11:22] Flexo013 commented on #3356
Duplicate of #3134

[2019-11-13 11:22] #3356 closed

[2019-11-13 12:21] Flexo013 commented on #3348
Confirmed this issue on Ubuntu 16.04 with Boostnote 0.13.0.
![image](https://user-images.githubusercontent.com/4507015/68763204-2b150100-0618-11ea-9e4f-6686c33c39c3.png)
The sixth unique image does not render, even though the file is present. A restart is required.

@chrissyast  I have very little experience with contributing to the code myself. You could try looking on the wiki to see how you can

[2019-11-13 12:25] chrissyast commented on #3348
For me the issue is not the same, the image is **not** in storage.

[2019-11-13 12:50] jetm opened #3357 "Add v0.13.0 release tag to this repository"
Similar #2513 #2714 issues

For the AUR package on Arch Linux build the source from this repository. The latest version was released but the release isn't yet tagged on this repo (https://github.com/BoostIO/Boostnote/releases). Just need a tag for 0.13 version.

Thanks in advance!

[2019-11-13 12:57] angelvillalobos303 opened #3358 "Add text format hotkeys to Markdown Editor"
### **Current behavior**

Boostnote allows users to modify certain hotkeys related to editor visualization and note management.

### **Expected behavior**

It would be perfect for the markdown editor if you could include additional hotkeys to give simple format to the text, such as bold, italic and underline, maybe using common shortcuts such as CTRL+B, CTRL+K, CTRL+U.

Thanks!

[2019-11-13 14:51] Flexo013 commented on #3348
I see...

You are right! The file I added was indeed removed from disk; even my cloud sync agrees that the file was deleted.
![image](https://user-images.githubusercontent.com/4507015/68763730-7380ee80-0619-11ea-92cc-1eb988ce9b24.png)

[2019-11-13 16:02] Flexo013 commented on #3357
@Rokt33r Can you handle this?

[2019-11-13 16:04] Flexo013 commented on #3358
Duplicate of #3142

[2019-11-13 16:04] #3358 closed

[2019-11-14 20:37] daeh opened #3359 "feature request - inline display of PDF images"
I'm a new user -- this software & the development philosophy look awesome. I wanted to check if inline display of PDFs is planned. I'm currently using evernote as a lab notebook and my typical use revolves heavily around embedding graphs/plots into notebooks, and those figures are usually vector PDFs. Is there hope that boostnote (like evernote) will be able to display PDF files in a note, just li

[2019-11-15 03:56] fnsne opened #3360 "Is There any way to import vim editor shortcut config like vimrc?"
I just know that I can change the vim shortcut from [Here](https://github.com/BoostIO/Boostnote/wiki/Vim-mode#custom-keymaps)

But if I need to set a lot of shortcuts, I have to retype all custom shortcuts every time after restarting the Boostnote.

Is there a way to import a config file of vim shortcuts that I can easily load all custom shortcuts.
Or a way to set shortcuts that will be memoried.

[2019-11-15 04:25] fnsne opened #3361 "Prettify Markdown should not update spaces in checkbox lists"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2422%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/BoostIO/Boostnote/issues/3361)

# Current behavior
The normal checkbox by typing `- [ ]` is clickable on the rendered HTML.
![h7otx-fxd83](https://user-images.githubusercontent.com/11658267/68916715-3005bc00-07a2-11ea-9e97-64ee5a6e38e1.gif)

After using `Prettify Mark

[2019-11-15 04:34] Rokt33r commented on #3357
Sorry I forgot to push tags! Now it is fixed!

[2019-11-15 04:34] #3357 closed

[2019-11-15 09:57] Flexo013 commented on #3346
@ZeroX-DG or @Rokt33r or @kazup01 might know the answer to this.

[2019-11-15 13:13] Flexo013 commented on #3359
Glad you like Boostnote!

You are correct that PDFs currently cannot be displayed within a note. They can merely be linked, to then be opened in a PDF viewer.

Adding the feature where we display/embed PDF files within a Markdown note would be a good improvement to Boostnote. So we can use this GitHub issue to direct development efforts here.

There are a few things you can do to increase the chan

[2019-11-15 13:31] Flexo013 commented on #3360
I'm not aware of any ways that you can store these changes, and the method that you link to seems like a work-around until this is properly implemented.

Could you try writing down all the changes once, saving that somewhere (maybe as a note) and then just paste the whole thing into the console? That should at least make the work-around a bit faster to use.

[2019-11-15 14:28] mattcdavis1 opened #3362 "[Feature Request] Add Preference to Disable Line Wrapping in Markdown Notes"
# Current behavior
Lines always wrap in Markdown notes

# Desired behavior
Would like to be able to toggle line wrapping in Markdown notes - either as a global preference, via special syntax inline or both

[2019-11-16 06:52] fnsne commented on #3360
@Flexo013 Oh, Thanks.
I never come up with this way.

[2019-11-16 08:08] arcturus140 commented on #3360
you can place it in a script, wrap it around boostnote and use it as a launcher

[2019-11-16 08:33] fnsne commented on #3360
@arcturus140
It sounds great.
But I don't know how to give the setting through the command line.
Could you describe more details about how to do that?
Thank you.

[2019-11-16 17:54] incace commented on #3172
@Flexo013 I got it to a point and had to leave it due to other things coming up. I will look into it this week again if possible.

[2019-11-16 21:51] Flexo013 commented on #3172
Somebody else is working on similar functionality in #3352.

[2019-11-17 07:26] yetAnotherUsernameTaken opened #3364 "Ctrl+click to follow link not working"
# Current behavior

Clicking on toc contents does not scroll to linked content in Xubuntu 18.04 .

# Expected behavior

After clicking on toc link, it should scroll to linked or related content.

# Steps to reproduce

1) Make a new note in boostnote.
2) Generate toc
3) click on toc content

Then you can notice that it does not scroll to linked content.

# Environment

- Version : 0.13
- OS Version

[2019-11-17 07:33] yetAnotherUsernameTaken opened #3365 "Export to pdf or any document - toc contents links are not rendered to Bookmarks"
# Current behavior

After exporting the markdown note to pdf, the toc contents links are not rendered as bookmarks.
They are not clickable, not navigable after exporting to pdf, in the pdf.

# Expected behavior

The toc contents links should be rendered as bookmarks into the exported pdf document.
They should be clickable, navigable after exporting to pdf, in the pdf, atleast with respect to bookm

[2019-11-17 13:25] hlascelles commented on #3078
Still an issue on Linux Mint 19.

[2019-11-18 07:46] tyurderi opened #3366 "Notes are gone"
# Current behavior
I mean, this is a nice notes taking editor but on a monday, you know, you don't expect that all your notes (at least it was one with a big roadmap) to be deleted. I haven't touched these files myself I just used Boostnote to edit the files.

I have already tried [this](https://github.com/BoostIO/Boostnote/wiki/When-your-notes-are-disappeared%3F) without success. The notes are re

[2019-11-18 08:10] Flexo013 commented on #3343
This feature is considered to be bloat by the community. (See Slack)

Don't worry though. With the Boosnote.next there will be plugin support. And this feature sounds perfect for a plugin!

[2019-11-18 08:10] #3343 closed

[2019-11-18 08:15] Flexo013 commented on #3366
Have you checked your storage folder to see if it still contains the notes folder? If you can't find that anywhere then - I hate to tell you this - your notes might be lost.

I would recommend keeping important files backed up; whether it be through a cloud or other remote service. You can synchronize your Boostnote storage folder with something like Google Drive or MEGA to make sure your never lo

[2019-11-18 08:19] tyurderi commented on #3366
Yeah - it's really gone. That hurts.

[2019-11-18 08:19] #3366 closed

[2019-11-18 09:23] Flexo013 commented on #3365
I have just tried to reproduce this on Ubuntu 16.04 and the generated TOC works fine on my end when exporting to PDF:

[export.pdf](https://github.com/BoostIO/Boostnote/files/3857779/export.pdf)

Could you provide the PDF file and the raw MD that generated it?

[2019-11-18 09:26] Flexo013 commented on #3364
I can't reproduce this on Ubuntu 16.04.

There were some errors with links not working in version 0.13.0. Those should be fixed in the next release, so hopefully this issue will also be resolved by that.

[2019-11-18 09:28] Flexo013 commented on #3366
I'm really sorry, I wish I could help. :cry:  Best of luck with setting stuff back up!

[2019-11-18 10:14] arcturus140 commented on #3364
this might be caused by a special character. To reproduce we need to know the TOC entry that is failing.

[2019-11-18 13:07] Redsandro commented on #3122
@Rokt33r can we get a release out?

[2019-11-18 13:33] Flexo013 commented on #3122
I imagine that this will take some time, since there are a few PRs that are ready for a last check from Rokt33r. Once those are in I see no reason to delay a release any further.

My best guess would be that we will have a release by the end of the week.

[2019-11-18 13:54] yetAnotherUsernameTaken commented on #3365
Please find the markdown document. It will be better if the toc links are generated as bookmarks.
I have uploaded the markdown, but with extension with txt, please change the extension and export.

[interview pdf.pdf](https://github.com/BoostIO/Boostnote/files/3858884/interview.pdf.pdf)
[interview questions.txt](https://github.com/BoostIO/Boostnote/files/3858887/interview.questions.txt)

[2019-11-18 14:16] yetAnotherUsernameTaken commented on #3364
Please check with this markdown note. I am not able to, make the toc links click and make it go to content in xubuntu 18.04.
As you have said, it might issue with recent build, i hope this might be fixed in next version.

[interview questions.txt](https://github.com/BoostIO/Boostnote/files/3858965/interview.questions.txt)

Thank you.

[2019-11-18 14:49] dmxt opened #3367 "0.13.0 on Windows 10: Broken setup icon"
# Current behavior
It's all good and chill, it only occurs during the install process
![DBrRGJjYuU](https://user-images.githubusercontent.com/3248782/69061258-cd513200-09e6-11ea-9ef7-ad067031f53a.png)

# Steps to reproduce

0. Build a PC
1. Install Windows (I'm sorry) 10 (I'm really sorry)
2. Download setup for Boostnote
3. Click on it to install and observe the icon bug that only occurs during th

[2019-11-18 14:50] arcturus140 commented on #3365
@Flexo013 what PDF viewer are you using? I opend your attached file, there are no links in the document.

[2019-11-18 15:00] dmxt opened #3368 "0.13.0 It ain't letting me to tick disable direct write! (Demonstrated with GIF pictures)"
# Current behavior
![Wt9JtPLQ97](https://user-images.githubusercontent.com/3248782/69063005-bd871d00-09e9-11ea-9630-53f671877a99.gif)

# Expected behavior

![EwbIkyAYA5](https://user-images.githubusercontent.com/3248782/69063126-f0c9ac00-09e9-11ea-8db7-143f77b2d908.gif)

# Steps to reproduce

0. Build a PC
1. Install Windows 10 (I'm sorry)
2. Download Boostnote
3. Open settings (hint: it's the … i

[2019-11-18 15:12] yetAnotherUsernameTaken commented on #3365
@arcturus140

Please check the issue once again, it would be better if boostnote can render the toc links from mark down note to as pdf bookmarks.

The links are clickable and go to respective content from first page, but again we have to comeback for the first page repeatedly.

 Instead, i propose that toc links can be rendered as bookmarks, for easy navigation in the pdf document.

[2019-11-18 17:03] arcturus140 commented on #3365
title and description are misleading. Bookmarks are usually created manually by the user, AFAIK. Do you perhaps mean the PDF headers being listed in contents area? Not exactly sure how it is called.

[2019-11-18 20:54] Thyrst commented on #1072
I like what @ttdtrang suggested.

Look how Zim wiki handles this. It is separated. However you can just change the creation date if you like to. This way it make sense to me.

[2019-11-19 05:25] Flexo013 commented on #2201
1. Duplicate of #125

2. Duplicate of #490

@BoostIO @Rokt33r @thyrst Could you move your funding for this issue to the related issue?

[2019-11-19 05:25] #2201 closed

[2019-11-19 05:40] Flexo013 commented on #3365
This is a problem with your PDF viewer. The TOC links are clickable in the PDF you provided.

If you would like the exported PDFs to _also_ include bookmarks like in the image below, then please make a new GitHub issue for that specific feature request, since this current one is very confusing.
![image](https://user-images.githubusercontent.com/4507015/69119632-7f483700-0a97-11ea-9c1e-1c018dc0d031

[2019-11-19 05:40] #3365 closed

[2019-11-19 05:48] Flexo013 commented on #3367
I think it would be fairly easy to add the version to the BoostnoteSetup.exe like we do for the debian installer: https://github.com/BoostIO/boost-releases/releases/tag/v0.13.0

@Rokt33r is this something you can make sure that happens in future releases?

[2019-11-19 08:01] Flexo013 commented on #3368
Maybe I am missing something, but I can't find the "Disable Direct Write" option anywhere in the Boostnote preferences. I'm running on Ubuntu 16.04.

What tab and section is this option under for you?

[2019-11-19 08:12] dmxt commented on #3368
@Flexo013

DirectWrite is exclusive to the Windows operating system, I mean "Direct3D" "DirectX" "DirectWrite" and the similar acronym is well known within the Windows ecosystem and typically would have been picked up on. Regardless, this should answer your question of why it didn't show up on your end on Linux distro.

If you insist on a evidence, here:
![Boostnote_ghhTIu1C8H](https://user-images

[2019-11-19 11:26] Tiramisu77 commented on #827
I can implement this feature using `window.crypto`. We can add optional password field when creating a new folder, if the password was provided, all notes under the folder will be encrypted. Also there will be the option to change the password when right clicking on an encrypted folder.

[2019-11-19 12:01] dmxt commented on #3368
@arcturus140 I would like to have an explanation for your justification in downvoting my previous post.
![image](https://user-images.githubusercontent.com/3248782/69144823-3776df00-0a9a-11ea-9179-3fa7cd04c04a.png)

[2019-11-19 12:28] Flexo013 commented on #3364
When I create a note with that exact content the TOC links all work fine for me on Ubuntu 16.04.

Could somebody else with xubuntu 18.04 confirm that this issue exists?

[2019-11-19 12:46] Flexo013 commented on #3368
@dmxt Your tone in this whole thread hasn't been very understanding or constructive, but rather demeaning:

And this is furthered by your personal attack on someone's opinion, which they in no way need to justify to you.

---

Back to the issue at hand. I will see if I can reproduce this on my Windows machine later this week, and we can move from there.

[2019-11-19 12:58] Flexo013 commented on #827
@Tiramisu77 You are the first to mention a password in this thread. The community so far has mentioned that they would simply want the option to encrypt the files within a storage. This would be done by generating a key(pair) that can be used to encrypt and decrypt the files.

When creating a new folder Boostnote should be able to generate these and store these somewhere that the user can access t

[2019-11-19 13:13] Flexo013 commented on #874
This syncing of notes is continued in #308

[2019-11-19 13:13] #874 closed

[2019-11-19 13:15] Flexo013 commented on #1540
Does the issue persist if you restart Boostnote?

[2019-11-19 13:17] Flexo013 commented on #1203
#1790 is a duplicate of this issue, but since it has funding I'm closing this one.

Let's move our efforts to that thread.

[2019-11-19 13:17] #1203 closed

[2019-11-19 13:18] Flexo013 commented on #1871
If this issue occurs again, then comment here and we will reopen this issue.

[2019-11-19 13:20] Flexo013 commented on #2486
Sync using Dropbox and other platform is discussed in #308

[2019-11-19 13:20] #2486 closed

[2019-11-19 13:22] #2954 closed

[2019-11-19 13:23] Flexo013 commented on #2954
#490 is for changing from cson to md.

[2019-11-19 14:20] ismaeIfm commented on #1871
For me happens every once in a while. And I also use Dropbox sync.

[2019-11-19 15:14] BobTB commented on #308
Best would be to use the standardfile for sync, completely private, can be self hosted, and its encrypted end to end, works great, and if boostnote could use it, would be really great
https://standardfile.org/

[2019-11-19 19:26] Tiramisu77 commented on #827
@Flexo013 My bad, thanks for clarifying that. Would it make sense to start working on this feature now, or is it better to wait until the sync feature is added?

[2019-11-19 22:40] Flexo013 commented on #827
@Tiramisu77 No problem at all. You can already start working on this feature now. To workaround the sync you can simply use syncing with something like Dropbox or MEGA. If you need any more clarification, then don't hesitate to ask.

[2019-11-19 22:56] supanadit commented on #3270
Same issue

[2019-11-20 01:09] Tonjar commented on #3342
same problem on macOS Catalina10.15.1 with 0.13.0 when exporting to html
and  just export a almost empty pdf.

[2019-11-20 11:01] Flexo013 commented on #1871
@ismaeIfm When this occurs is it happening to a specific note? Is it large, small, or just random? Do you recover the contents of the lost note using Dropbox? Any other things that you have noticed that might help in pinning down the cause of this issue?

[2019-11-20 11:02] Flexo013 commented on #3342
Might be fixed by #3317

[2019-11-20 11:03] Flexo013 commented on #3270
@supanadit What OS are you on?

[2019-11-20 11:35] ignaciogarcia commented on #3364
This happens on MacOS too, it's driving me nuts. Version 0.13.0.

Has been happening for a while now, I must add. I even rolled back to an older version some time ago to recover the functionality, but now I've upgraded to see if the issue had dissapeared and no, it's there.

[2019-11-20 12:09] ignaciogarcia opened #3370 "Keep note position when switching between notes"
# Current behavior

When switching between two or more large notes, the reading/editing point is lost at every switch because every time you return to a note, the editor goes back showing the note from the beginning.

# Requested behavior

I'd like the editor to save the reading/editing point when switching from a note to another, so that when the note is selected again it's at the same reading/ed

[2019-11-20 17:09] ylhn15 opened #3372 "# Can not set a Folder for a new location"
# Can not set a Folder for a new location

When I create a new storage location and select a path, the boostnote.json and notes folder is saved in my home directory instead of the selected path.
![screen1](https://user-images.githubusercontent.com/37456409/69260749-ababa280-0bc0-11ea-946b-0b20fbbf48f2.png)
![screen2](https://user-images.githubusercontent.com/37456409/69260750-ac443900-0bc0-11ea-82

[2019-11-20 23:44] supanadit commented on #3270
@ Flexo013 5.3.11-1-MANJARO, the worst case even i can't link the other boost directory

[2019-11-21 05:14] ThisIsIsaac opened #3373 "Import directories of markdown files with images and files"
# Feature

Currenlty, you have to import files one at a time. This is both time consuming and you can't keep the directory structure you have used to organize markdown files. You have to re-organize them after importing each file.

Importing a directory that contains markdown files or more directories of markdown files.

[2019-11-21 16:05] DaveEOS commented on #1082
FYI - The link is not showing the correct note in some circumstances. If you want me to open a separate issue, I'm happy to do that.
Repro:
1. Create a new note
2. Click the info icon
3. Notice the note link is to an older note

Expected: The note link to be for the active note

Comments: I was in viewing/editing a third note, not the older note I describe above. I was in a folder for all these op

[2019-11-21 18:47] #2933 closed

[2019-11-21 20:30] Flexo013 commented on #1082
@DaveEOS This is a known bug. See #3334

[2019-11-21 20:33] Flexo013 commented on #3364
@ignaciogarcia Was all TOC links that did not work for you or just scrolling issues?

[2019-11-21 20:34] Flexo013 commented on #3370
Related to #3132

[2019-11-21 20:40] Flexo013 commented on #3270
Then I think it's safe to assume that this is a Manjaro only bug.

[2019-11-21 20:42] #2140 closed

[2019-11-21 22:12] ignaciogarcia commented on #3364
I didn't thoroughly click in all TOC links, but the ones I tried didn't work. The "Press Cmd + click to follow link" popup does appear in the editor window, but following the instructions doesn't have any effect. Nor does it if I click on a link in the preview window.

As mentioned, falling back to 0.12.1 fixes the problem IN THE PREVIEW WINDOW. Doesn't work either in the editor window.

I have tr

[2019-11-22 02:19] ThisIsIsaac opened #3374 "Image disappears"
# Current behavior

I drag-and-drop images from the web to Boostnotes. They are inserted correctly, no problem. After closing and reopening boostnotes, this happens:

<img width="2136" alt="Screen Shot 2019-11-22 at 11 16 35 AM" src="https://user-images.githubusercontent.com/49523965/69392565-bc236080-0d19-11ea-9e00-4720b02d19b3.png">

The images disappear

Please include some **screenshots** with

[2019-11-22 08:07] jinhongjung opened #3375 "Vim mode editing in Korean is not working occasionally"
# Current behavior

Vim mode editing in Korean is not working occasionally.

# Expected behavior

That mode should work when we use any language.

# Steps to reproduce

Step 1. Open a new markdown note.
Step 2. Push the button `i` to enter insert mode
Step 3. Write any sentence in Korean (e.g., 한국어 테스트)
Step 4. Push `esc` button to leave the mode out; then, the vim mode editing becomes broken.

#

[2019-11-22 08:28] kpsychas opened #3376 "Text '0.' disappears after pressing Enter"
# Current behavior
Initial state: a line has characters "0." (without quotes) followed or preceded by any number
of spaces and cursor is on that line.
After Enter is pressed: the characters before cursor and a character right after it are deleted
and new line is inserted at the cursor position.

# Expected behavior
After Enter is pressed: new line is inserted at the cursor position.

# Steps to re

[2019-11-22 10:20] Flexo013 commented on #3376
Confirmed on Ubuntu 16.04

[2019-11-22 10:21] Flexo013 commented on #3374
Does this note contain more that 5 images by any chance?

[2019-11-22 10:23] ThisIsIsaac commented on #3374
no

[2019-11-22 10:23] Flexo013 commented on #3364
I hope that the link and scroll fixes in the next release (0.14.0) will also fix this, but we'll have to see about that.

[2019-11-22 10:26] Flexo013 commented on #3374
Could try un-ticking this setting in Preferences->Interface (about halfway down):
![image](https://user-images.githubusercontent.com/4507015/69418353-ce51ce80-0d1a-11ea-879f-70abcbd09624.png)

Please let us know whether that helps at all or not.

[2019-11-22 10:59] arcturus140 commented on #3376
I think I can explain the bug:

reason for this is that boostnote automatically adds a new enumeration each time [[Enter]] is pressed:

Example:

    1. numerated
    2. list + [[Enter]]
    3.

To exit enumeration the last enumeration is removed if it is empty. This causes to remove everything with the pattern:

    \d+\. *

followed by [[Enter]].

Version: all
OS Version and name: all

[2019-11-22 11:11] ThisIsIsaac commented on #3374
Gave it a shot.

I'll ping you if it occurs again.

[2019-11-22 11:28] Flexo013 commented on #3376
@arcturus140 Yeah, you're right! The same behavior occurs with any numbered list. So '1.', '2.', and so on. They all perform this behavior as it is a consequence of being an empty list item.

This might just be a `won't fix` or `works as intended` issue then.

[2019-11-22 11:30] Flexo013 commented on #3376
I'm closing this for now, but feel free to keep this discussion going. We might decide to reopen it and change stuff.

[2019-11-22 11:30] #3376 closed

[2019-11-22 11:45] arcturus140 commented on #3376
well, for Boostnote.next I believe a more robust solution would be to define scopes and apply then to the document. This allows to apply operations only on a specific scope, like list, TOC, code, code.js, etc.

but this is an entire different issue, also not something I can easily make any suggestions on.

[2019-11-23 11:54] Tiramisu77 commented on #827
Here's my plan so far:

Add "encrypt" checkbox when adding a new storage location.

If not exists, create a keystore file in the Home directory, where keypairs for all encrypted storages will be stored.

Under Preferences > Storage, add options for opening the keystore file's location and changing its location

When user adds a new storage location, if there already is a storage in that location a

[2019-11-23 15:40] Flexo013 commented on #827
This sounds good to me!

@Rokt33r and @ZeroX-DG do either of you have additions or comments about @Tiramisu77's plan here?

[2019-11-23 23:47] arcturus140 commented on #827
is this issue still about the encryption of synced files or are local files being encrypted as well?

How can user recover their encrypted notes after they lost the key?

[2019-11-24 14:53] yetAnotherUsernameTaken opened #3377 "Feature Request : Export to pdf - toc contents links are not rendered to Bookmarks"
# Current behavior

After exporting the markdown note to pdf, the toc contents links are not rendered as bookmarks.

# Expected behavior
The toc contents links should be rendered as bookmarks into the exported pdf document.
This would be very helpful for navigating document, please do not say bookmarks are created by user, I request the community to include this feature, it would make boostnote mo

[2019-11-25 08:13] xiangfan211 opened #3378 "Export md file failed：Callback must be a function"
windows10：
![QQ截图20191125160947](https://user-images.githubusercontent.com/13128860/69523281-788d5880-0f9e-11ea-9e8f-2fec587b50e3.png)

[2019-11-25 08:20] Flexo013 commented on #3378
Duplicate of #3262

[2019-11-25 08:20] #3378 closed

[2019-11-25 08:27] Flexo013 commented on #827
@arcturus140 Currently there isn't really a difference between a note file that is synced and not synced, as that is handled by external syncing software. This new feature would encrypt your local files, (because those are uploaded). Note that this is optional when making (or editing?) a storage. Your notes won't be encrypted by default.

The whole idea of encryption is that you can't. You will ne

[2019-11-25 10:49] arcturus140 commented on #827
@Flexo013 I know but syncing could be a requirement for encryption once storage Locactions of type `sync` are supported.

Before Boostnote I have been using Laverna. One thing I learned about self hosted keys: users loose them.

This is less a personal concern as a general observation. It would seem that the user be responsible to store their keys is a rather unreliable solution, for once when it

[2019-11-26 06:15] Flexo013 commented on #827
@arcturus140 Hmm, I understand your concern. We could try something with different levels of security:
- High security: everything is encrypted - losing your key means losing your notes
- Medium security: there is both an encrypted and non-encrypted version of your storage - the encrypted one can be used for syncing and will be leading - losing your key will mean you can no longer update/read sync

[2019-11-26 06:19] Flexo013 commented on #3368
Confirmed this bug exists on Windows.

[2019-11-26 06:24] Flexo013 commented on #1360
Closed as per #2913

[2019-11-26 06:24] #1360 closed

[2019-11-26 06:50] Flexo013 commented on #2305
This feature is present in the latest version of Boostnote

[2019-11-26 06:50] #2305 closed

[2019-11-26 06:52] #2377 closed

[2019-11-26 06:53] Flexo013 commented on #2229
Feel free to reopen (or comment on) this issue if this is still occurring.

[2019-11-26 06:53] #2229 closed

[2019-11-26 10:33] nammn commented on #3341
This sounds like a useful feature to me. I could take a look at this in the future.

[2019-11-26 13:44] Flexo013 commented on #3372
@ylhn15 Could you try clicking the 'OK' button in the top right once you have reached screenshot 3? That should update the location path on the Add Storage page.

[2019-11-26 14:01] ylhn15 commented on #3372
@Flexo013 that's exactly what I did on screenshot 3 resulting in screenshot 4.

[2019-11-26 14:19] Flexo013 commented on #3372
That's very odd. Could you try typing out the path you want manually `/home/yannick/Notes`, just to make sure that part works?

[2019-11-26 15:38] ylhn15 commented on #3372
Typing the path manually worked.
I only have the example note and example snippet in the default storage.

[2019-11-26 15:46] Flexo013 commented on #3372
Alright, then somehow the location selector is not passing on the correct path on ArchLinux 5.3.11

Thanks for your help with narrowing down the cause!

[2019-11-26 15:56] Flexo013 commented on #3372
@nilsocket In a previous issue you mentioned that you also use ArchLinux. Could you help us by seeing if this issue also occurs on your end?

[2019-11-26 15:59] Flexo013 commented on #3341
@nammn That looks like a good library to use. If we could only use the autodetecting part of the library, then that would be preferable, as we already have CodeMirror to take care of highlighting.

[2019-11-26 16:25] ylhn15 commented on #3372
@Flexo013 I built the app using your "development" guide by
1. cloning the repo
2. running `yarn`
3. running `yarn run dev`
interestingly, running the app like this the location selector works.

[2019-11-26 17:35] olielvewen commented on #3372
Hi,
@Flexo013
I run the same issue on **Manjaro** an derivate **Archlinux Distribution** and **Cinnamon Environment.**
However, for me, I'm not able to change/add an new directory for my personal Cloud **PCloud.**
I've followed this [https://github.com/BoostIO/Boostnote/wiki/Cloud-Syncing-and-Backup](Tutorial)

[code]
I've not the time today for checking your tip writing manual path but soon.

[2019-11-27 08:54] ehhc opened #3379 "deleteUnusedAttachments is evaluated inverted --> if it's true attachments are not delete and vice versa"
I have no idea why but i noticed that, at least for me, the deleteUnusedAttachments-preference setting   is evaluated inverted --> if it's true attachments are not delete and vice versa

[2019-11-27 11:10] Flexo013 commented on #3372
@ylhn15 Then this issue will most likely be fixed for everybody in the next release (0.14.0). :crossed_fingers:

[2019-11-27 11:25] Flexo013 commented on #3379
Are you sure? I just tried it on Ubuntu 16.04 and it seemed to work as expected.

When this is unticked:
![image](https://user-images.githubusercontent.com/4507015/69719384-adb9b800-1110-11ea-8d2a-7251719c8b69.png)
No attachments are deleted and the amount of storage of unused attachments becomes bigger in the Storage tab.

When it is ticked all unreferenced attachments are deleted, and the aforem

[2019-11-27 12:39] Flexo013 commented on #3379
Related to #3225

[2019-11-27 14:49] federicochiesa opened #3380 "Question: how do I revert to a previous version?"
This is not to be intended as a rant, but with the current version of Boostnote I can't export my notes to a PDF in any way: export to PDF doesn't render KaTeX, and regular print and then saving to PDF only prints the first page, and then a bunch of blank pages, and this is an issue with both macOS and Windows 10.

Can I revert to an older, known working version?

I kept 0.11.17 on my Surface but

[2019-11-27 15:00] ehhc commented on #3379
@Flexo013 maybe i did something else wrong.. can somebody else confirm or disprove this issue?

[2019-11-27 15:16] Flexo013 commented on #3380
You can find the downloads of 0.11.17 here:
https://github.com/BoostIO/boost-releases/releases/tag/v0.11.

There shouldn't be any auto-updating. It should only prompt you that a new one is available and ask you if you wish to install.

[2019-11-27 17:03] arcturus140 commented on #3380
never read it but there's a wiki page about downgrading

[2019-11-27 19:58] Flexo013 commented on #3380
https://github.com/BoostIO/Boostnote/wiki/Downgrade-Boostnote

[2019-11-27 19:58] #3380 closed

[2019-11-27 20:01] Flexo013 commented on #3379
Can confirm that on Windows the settings also work like I described above.

[2019-11-27 21:47] oywi opened #3381 "Pasting images directly into markdown editor"
# Current behavior
When pasting an image from clipboard to the markdown editor, e.g. a screenshot, nothing happens.

# Expected behavior
Pasting an image from the clipboard into the markdown editor should

- Save the image to attachments
- Paste a markdown inline image link

# Steps to reproduce

1. Copy an image to the clipboard
2. Attempt to paste it into markdown editor

# Environment

- Versio

[2019-11-28 01:32] MiloTodt commented on #3377
I looked into this a bit, and this appears to be a function lacking upstream.

Boostnote uses Electron, and to print PDFs it uses webContents.printToPDF https://electronjs.org/docs/api/web-contents#contentsprinttopdfoptions

Which in turn uses Chromium's print preview... Appears Chromium does not support printing PDFs with bookmarks as per https://bugs.chromium.org/p/chromium/issues/detail?id=7817

[2019-11-28 08:46] ehhc commented on #3379
@Flexo013 maybe it happens only on my system due to other reasons.. therefore, i'll close this issue again (if it's only my problem,..)

[2019-11-28 08:46] #3379 closed

[2019-11-28 13:58] Flexo013 commented on #3381
I remember running into this issue every now and then, but currently I am unable to reproduce it on Windows 10. I tried with right-click copying an image and using a printscreen copied image.

@oywi What and how are you exactly copying? Maybe that will help with reproducing it.

[2019-11-28 14:39] olielvewen commented on #3372
@Flexo013

Thanks for the update and did you have a date for this one ?

[2019-11-28 15:06] Flexo013 commented on #3372
Currently I don't. I'll see if I can figure something out with the releasers.

[2019-11-28 16:39] nilsocket commented on #3372
@Flexo013
I'm on `5.3.13-arch1-1`, I have checked it multiple times, I was not able to reproduce the issue.
I was able to add new storage locations without any problem.

@olielvewen , @ylhn15 I think it's better to check once again, by updating your  packages.

If it is reproducible in your case, then there is a chance it is a problem with Desktop Managers, I'm using KDE, It's working fine in my c

[2019-11-28 16:57] RichardWPerrott commented on #3364
I seems to have stopped working on my Windows 10 Pro. 64-bit too; it was working earlier.

[2019-11-28 19:10] AlfredoGJ commented on #2785
Hello, guys, I have replicated this same issue in BoostNote  0.13.0 and Mac OS  10.15, if you plan to fix this issue it would be a great opportunity for me to start contributing to this project. Let me know so I can create a PR.

[2019-11-28 22:06] arcturus140 commented on #3381
use Ctrl + v to paste. ☝️

[2019-11-29 07:05] ThisIsIsaac opened #3382 "Long code lines do not wrap in PDF export"
1. ~~Syntax highlighting is removed when exporting to PDF~~

This is how my code block looks in the preview

<img width="934" alt="Screen Shot 2019-11-29 at 16 04 20 PM" src="https://user-images.githubusercontent.com/49523965/69850161-fe244780-12c1-11ea-82eb-1c61c4cfd0bc.png">

But when exporting to PDF, code highilghting is gone
<img width="1625" alt="Screen Shot 2019-11-29 at 16 04 17 PM" src="h

[2019-11-29 11:58] arcturus140 commented on #3382
1. duplicate of #3125
3. duplicate of #3125
2. confirmed

[2019-11-29 15:19] Flexo013 commented on #2785
@AlfredoGJ I don't quite understand. Do you wish to contribute by making a PR that fixes this issue or will you start contributing once we have fixed this issue?

In case of the former, then feel free to submit one as soon as works for you. Anybody is welcome to provide fixes/solutions to the open GitHub issues! :D

[2019-11-29 15:21] Flexo013 commented on #3372
@nilsocket Thanks so much for checking this on your end and providing such detailed info!

[2019-11-29 17:57] AlfredoGJ commented on #2785
Sorry, I meant I wish to contribute by fixing this issue.  I' will start working on in. Thank you very much

[2019-11-30 11:30] PsyGik commented on #3370
* Also the ability to store the last opened tab in snippet note

[2019-11-30 15:37] olielvewen commented on #3372
@nilsocket
I've checked several times on Cinnamon and I've got the same result => enable to synchronize it.

Following your advice, I've tried on another Desktop manager and another Manjaro distribution.
[code]
Like you  can see, I had the last stable kernel and on the both and their last version (of this desktop environment).
Our packages are the last update (hey we are running on Archlinux and M

[2019-11-30 15:53] ylhn15 commented on #3372
Thank you for your help, I am currently running GNOME and usually run the package manager once a day looking for upgrades.

I will try KDE later, as soon as I have time for it.

[2019-11-30 17:24] Flexo013 commented on #1927
You can do this with Ctrl+B

[2019-11-30 17:24] #1927 closed

[2019-11-30 17:30] Flexo013 commented on #2531
Preview:
![image](https://user-images.githubusercontent.com/4507015/69903856-76ad0600-139f-11ea-874c-13f64555ddef.png)

PDF export:
![image](https://user-images.githubusercontent.com/4507015/69903861-83c9f500-139f-11ea-870c-5fded7021ce3.png)

Version 0.13.0

[2019-11-30 17:31] Flexo013 commented on #3382
Duplicate of #2531

[2019-11-30 17:31] #3382 closed

[2019-11-30 17:33] Flexo013 commented on #2341
This no longer seems to be an in issue. Version 0.13.0

[2019-11-30 17:33] #2341 closed

[2019-11-30 17:35] Flexo013 commented on #2271
This no longer seems to be the case on Windows 10 with version 0.13.0.

[2019-11-30 17:35] #2271 closed

[2019-11-30 17:37] Flexo013 commented on #2551
Feel free to comment here or reopen this issue if this is still occurring with the latest version of Boostnote.

[2019-11-30 17:37] #2551 closed

[2019-11-30 17:42] #2564 closed

[2019-11-30 17:46] #2288 closed

[2019-11-30 17:46] #2587 closed

[2019-11-30 17:47] #2662 closed

[2019-11-30 17:48] Flexo013 commented on #2541
Feel free to comment here or reopen this issue if this is still occurring with the latest version of Boostnote.

[2019-11-30 17:48] #2541 closed

[2019-11-30 17:48] #2766 closed

[2019-11-30 17:49] Flexo013 commented on #454
Feel free to comment here or reopen this issue if this is still occurring with the latest version of Boostnote.

[2019-11-30 17:49] #454 closed

[2019-11-30 17:51] Flexo013 commented on #2649
Code snippets aren't meant for additional formatting.

[2019-11-30 17:51] #2649 closed

[2019-11-30 17:53] Flexo013 commented on #1340
@pfftdammitchris @arshadkazmi42 Yes this is still up for grabs. How is it going?

[2019-11-30 17:56] Flexo013 commented on #2871
Boostnote should not be your all purpose todo list. It wasn't made for that. Use something like Todoist if you wish to have more logic within your tasks.

[2019-11-30 17:56] #2871 closed

[2019-11-30 17:58] #1980 closed

[2019-11-30 17:58] #1571 closed

[2019-11-30 17:59] Flexo013 commented on #2776
Preview:
![image](https://user-images.githubusercontent.com/4507015/69903856-76ad0600-139f-11ea-874c-13f64555ddef.png)

PDF export:
![image](https://user-images.githubusercontent.com/4507015/69903861-83c9f500-139f-11ea-870c-5fded7021ce3.png)

Version 0.13.0

[2019-11-30 18:00] Flexo013 commented on #2531
Duplicate of #2776

[2019-11-30 18:00] #2531 closed

[2019-11-30 18:00] arshadkazmi42 commented on #1340
@Flexo013 I have not got much time to look into this, we can keep this open for other contributors. I will ping here, if I am going to work on this.

[2019-11-30 18:02] Flexo013 commented on #1770
Feel free to comment here or reopen this issue if this is still occurring with the latest version of Boostnote.

[2019-11-30 18:05] Flexo013 commented on #1546
Feel free to comment here or reopen this issue if this is still occurring with the latest version of Boostnote.

[2019-11-30 18:05] #1546 closed

[2019-11-30 18:08] Flexo013 commented on #1839
As long as KaTeX doesn't support something like this, I don't think it's feasible to implement this.

[2019-11-30 18:10] Flexo013 commented on #126
#308

[2019-11-30 18:16] Flexo013 commented on #66
Duplicate of funded #3223

[2019-11-30 18:16] Flexo013 commented on #66
#3223

[2019-11-30 19:04] probonopd commented on #66
@Flexo013 actually it's not a duplicate, as the other one is about Flatpak only. A Flatpak cannot substitute an AppImage.

[2019-12-01 07:56] TheoXiong commented on #2625
There is a component that supports find matching text in electron app

![image](https://user-images.githubusercontent.com/42533484/69911194-e29c7680-1452-11ea-834f-40f3c661f501.png)

[https://github.com/TheoXiong/electron-find](https://github.com/TheoXiong/electron-find)

[2019-12-01 08:55] ThisIsIsaac opened #3383 "Direct upload to github.io"
Instead of having to export -> manual upload, directly upload to github.io

[2019-12-02 05:26] rockneverdies55 commented on #3003
I get to see this when trying to create a folder under storage that's created in gdrive mount:

[code]

[2019-12-02 13:40] Flexo013 commented on #3003
Currently I'd recommend just having the files locally and those synced to a gdrive folder. It's not like the note files take up an enormous amount of disk space.

Boostnote does not really work with synchronization at the moment; let alone not actually having the local files because they are streamed.

[2019-12-02 22:03] kingvagabond opened #3384 "Support for inline latex [Feature Request]"
# Current behavior

Trying to test "inline latex" that is to mix latex block with normal texts:

![image](https://user-images.githubusercontent.com/3144518/69998883-f90f0480-151c-11ea-9f3d-b164f9dcdbc8.png)

# Expected behavior

Expect the inline latex blocks can be rendered like

![image](https://user-images.githubusercontent.com/3144518/69998965-28be0c80-151d-11ea-9dfd-07b8264a41b1.png)

# Steps

[2019-12-03 01:14] abnersajr commented on #3338
I'm working on this one.

[2019-12-03 02:27] abnersajr opened #3387 "Localization for "Ok" word"
# Current behavior

In the #3386 PR was added one button with the word `Ok`.
This button should be localized correctly for each of supported locales listed below.
Some translations were added. I wasn't sure about every locale so I decided to open this PR.

# Expected behavior

Add translations for this locales. I think all the names are correct.

- [ ] `fa.json` Persian
- [ ] `hu.json` Hungarian
-

[2019-12-03 09:58] Flexo013 commented on #3384
This functionality already exists within Boostnote:
![image](https://user-images.githubusercontent.com/4507015/70040155-5bb6dd80-15bb-11ea-9709-8ec7a39709ed.png)

Note that you can configure the characters used for this in Preference -> Interface:
![image](https://user-images.githubusercontent.com/4507015/70040285-8ef96c80-15bb-11ea-84d6-2e920d6bde28.png)

To find the version number you can press

[2019-12-03 09:58] #3384 closed

[2019-12-03 17:49] kingvagabond commented on #3381
Looks like Ctrl + Shift + v is a great and additional feature to normal paste.

Right now:
(1) If I select a single image from browser and paste into BoostNote markdown editor, the image file can be copied to local storage.
(2) If I select mixed content with text and image from browser and paste into BoostNote, only text is pasted. Image file will be missed out.
(3) If I select mixed content with

[2019-12-03 23:10] arcturus140 commented on #3381
don't forget about smart paste in your settings 😜. Personally I don't use it so I'm not sure about it's behaviour. Anyway boostnote supports paste as unformatted text, which is why you are missing the images, and formatted paste as markdown.

what you need could be implemented similar to excel / calc which allows multiple options for formatted paste.

[2019-12-04 09:31] Flexo013 commented on #3381
@oywi  Is your issue the same as what @kingvagabond mentions?

[2019-12-04 15:10] arcturus140 commented on #3381
@Flexo013 they are different: first is a bug report (investigation), second a feature request

[2019-12-04 15:19] degart commented on #3348
The same issue on MacOS Mojave 10.14.6 with Boostnote 0.13.0

On inserting screenshots from buffer they showed in the document, but when zooming they already inaccessible (randomly, e.g. 2 pictures from 7 or 1 from 3).
After reloading the document - the previews does not work too.

I am keep the Boostnote storage in the Dropbox directory and was able to recovering deleted attachments via their pla

[2019-12-04 16:22] Flexo013 commented on #3381
Sorry if I was unclear. What I meant was:

@oywi Are you pasting text with images or pure images?

---

Also I might close this soon (for now) if we don't get more info from @oywi, since we can't reproduce this bug.

[2019-12-04 16:30] Flexo013 commented on #3348
@degart Thanks for the info.

The January 2020 release of Boostnote.next might still have this bug. We can't make any guarantees. Do keep in mind that there are two different Boostnote projects.
- Boostnote, this is the one you are currently using. It has some legacy problems.
- Boostnote.next, this one is yet to be released (and has a [different repo](https://github.com/BoostIO/BoostNote.next/)).

[2019-12-05 08:05] javawxx opened #3388 "The export PDF code block is not fully displayed"
# Current behavior

The code block in the document is too long, when exporting PDF file, the code block part is not fully displayed!

![image](https://user-images.githubusercontent.com/12871776/70215437-71253680-1778-11ea-9a04-bf42358c997c.png)

![image](https://user-images.githubusercontent.com/12871776/70215457-7c786200-1778-11ea-8126-8a70ffdafe86.png)

# Expected behavior

The exported PDF file

[2019-12-05 09:07] neroignis opened #3389 "Attached files with # at the beginning of filename are renamed into *.png"
# Current behavior

When dragging a word-document with a "#" at the beginning of the filename into the editor, a link is created.
The file copied to the attachments folder is now an image with file format png and opens in image viewer.

# Expected behavior
When dragging a word-document with a "#" at the beginning of the filename into the editor, a link to the word-file is created and the file isn'

[2019-12-05 12:13] dmxt commented on #3368
I can confirm that it still exists at this time.

[2019-12-06 09:48] joaofl commented on #3389
Attaching a file without any extension also causes the attachment to be renamed to .png
(Running it on Ubuntu 19.10)

[2019-12-06 12:16] Flexo013 commented on #3388
Duplicate of #2531

[2019-12-06 12:16] #3388 closed

[2019-12-06 13:24] Flexo013 commented on #3368
As long as nobody wants to pick up this issue, it will most likely keep existing.

@dmxt You can try going through previous versions of Boostnote and try to pinpoint when this feature stopped working. That should hlep narrow down the cause of this bug.

[2019-12-07 15:39] olielvewen commented on #3372
@nilsocket

Sorry for the delay I've been obliged to update several times my laptop. I use it only 2 or 3 times by year. And after, to install pcloud and also and specially boostnote. He wasn't in repository. There was a long time that I've not used debian commands......

About boostnote: it is the same version i.e 0.13.0, KDE Plasma 5.14.5. Kernel Linux 5.3.0-2-amd64
Distribution:  netrunner18.03

[2019-12-07 18:15] Flexo013 commented on #2488
This bug is confirmed on the Boostnote 0.13.0:
![image](https://user-images.githubusercontent.com/4507015/70378868-ed10b180-1925-11ea-9f64-d9471b2ed9d0.png)

[2019-12-07 18:17] Flexo013 commented on #2536
This bug is no longer present in Boostnote 0.13.0

[2019-12-07 18:17] #2536 closed

[2019-12-07 18:19] Flexo013 commented on #2706
Let's add this to #2365

[2019-12-07 18:19] #2706 closed

[2019-12-08 11:02] kidapu commented on #3334
Confirmed on Mac 10.14 with Boostnote 0.13.0

[2019-12-08 14:28] yvquanli opened #3391 "Add latex support to pdf export"
Could you please add latex support to pdf export, it's very important to me.
It was a raw latex code after the pdf export.

Version: Boostnote 0.13.0
OS: windows10 1909

[2019-12-08 14:45] yvquanli commented on #3391
Yeah, I had read about the formula and some words about katex. So, I just want to know what I have to do.

[2019-12-08 18:23] Flexo013 commented on #3391
Duplicate of #3342

[2019-12-08 18:23] #3391 closed

[2019-12-09 12:12] pradeepgangwar commented on #2559
Is this issue still open to solve? @Redsandro

[2019-12-09 15:13] Flexo013 commented on #2559
@pradeepgangwar You can try this with the latest version (0.13.0) and check the current behavior. If the behavior is still the same, then yes the issue is still open to solve. If the behavior is already different/fixed, then you can comment here so we can close this issue.

[2019-12-10 15:20] #2775 closed

[2019-12-10 15:25] Flexo013 commented on #2709
I think that sticking to one layout should be fine. It's not like there are hundreds of options that are hard to find; a bit of trial and error with memorization easily does the job.

[2019-12-10 17:51] arcturus140 commented on #2709
I agree. I think the current design is fine. This shouldn't be a user setting.

[2019-12-11 01:59] hkunzhe opened #3393 "Some Chinese words doesn't render normally on Manjaro Linux"
# Current behavior

Some Chinese words doesn't render normally in preview area and other area except code editor.
![image](https://user-images.githubusercontent.com/30763967/70583652-57ad4000-1bf9-11ea-8341-14b55f500794.png)

My own setting for Editor Font Family is `"Hack", "Source Han Sans CN Medium"`, and the same for Preview Font Family.

As the screenshoot shown that "修改与分类“ doesn't render no

[2019-12-11 02:14] hkunzhe commented on #3393
It seems that the mis-rendering font family is `Sans Regular` in my Manjaro Linux，which is probably set by default.
![image](https://user-images.githubusercontent.com/30763967/70585315-d6f14280-1bfe-11ea-876c-ae00bf4760d8.png)

So how can I customize it?

[2019-12-11 10:41] jobintweets opened #3394 "Image drag and drop still doesn't work"
# Current behavior

# Expected behavior

# Steps to reproduce

1.
2.
3.

# Environment

- Version :
- OS Version and name :

[2019-12-11 10:42] #3394 closed

[2019-12-11 10:43] MiloTodt commented on #2559
As a temporary measure, if you'd like you can add
[code]
inside of your UML diagram.

![image](https://user-images.githubusercontent.com/21070668/70614709-dc7b6800-1bbf-11ea-9a4d-96898cff1cf2.png)

[2019-12-11 11:00] Flexo013 commented on #3393
The characters seem to render just fine in the screenshot provided. They are merely pushed to the next line due to lack of space.

As for the font, I can't quite tell the difference between the fonts, so I have no clue if the correct font is used. Could you maybe provide a side by side of the the character in the wrong font and in the right font?

Note: I could be mistaken, since I don't know any

[2019-12-11 11:02] Flexo013 commented on #2709
Closing this for now.

If people wish to continue this discussion, then simply leave a comment here and we will reopen it.

[2019-12-11 11:02] #2709 closed

[2019-12-11 14:07] stayen opened #3395 "First line of a new markdown note isn't used as title if broken markdown markup is somewhere in the body"
# Current behavior

When a new Markdown note is added and saved, it's first line isn't used as title, "Empty note" is shown instead. That happens if a broken/invalid Markdown markup is somewhere in note's body.

# Expected behavior

First note line should be used as title regardless of possible further markup problems. Alternately, warn about broken markup.

# Steps to reproduce

1. Create a note,

[2019-12-11 14:50] Flexo013 commented on #3395
I can't reproduce this on Ubuntu 16.04 with version 0.13.0.

Test note I used:
[code]

Result:
![image](https://user-images.githubusercontent.com/4507015/70631628-bab8ca00-1c2d-11ea-9888-ccd158ef5779.png)

@stayen Could you provide a note that this issue occurs with (and maybe a screenshot)? That way we can see if this issue still persists on the latest version.

You could also try updating to 0.1

[2019-12-12 04:07] stayen commented on #3395
I enclosed a screenshot with the sample note text resulting in the mentioned issue.

I will update to 0.13.0 and check whether it still happens.

![boostnote-markdown-error](https://user-images.githubusercontent.com/10847/70681853-c390b680-1c94-11ea-8a36-94ab3861495e.png)

[2019-12-12 04:33] hkunzhe commented on #3393
@Flexo013 , thanks for your reply.
![image](https://user-images.githubusercontent.com/30763967/70682060-90701680-1cd8-11ea-9f4e-376f4a7460a2.png)

The character above is "分" rendered by previous area, and the character below is "分" rendered by text editor area (it correctly render by `Source Han Sans CN Medium`). There is slightly difference as the sreenshoot shown, but I have set the same font  "

[2019-12-12 05:42] shmolf opened #3396 "Export Fonts when exporting HTML"
# Current behavior
When exporting a note to HTML, the CSS is exported, but not any font files.

As a result, Katex fonts are excluded, and disrupt the presentation of Latex.

Below is an example of Latex, missing the Katex fonts:
![image](https://user-images.githubusercontent.com/6433103/70685472-87029200-1c77-11ea-9273-ee5dcd54acdb.png)

# Expected behavior

Below is an example of Latex, with the

[2019-12-12 06:27] arcturus140 commented on #3396
#3127   is also tangentially related as it is missing a font on export.

[2019-12-12 11:17] kheraud commented on #3270
Same problem here with last version available (0.13.0), but on arch linux `linux 5.4.2.arch1-1`

[2019-12-12 15:06] Flexo013 commented on #3395
I see now. What you are currently describing is intended behavior. In Markdown the line directly before 3 or more equals sign is considered a header. That line is empty, therefore the title is empty.

To get around this you would nee to use your own explicit header or use frontmatter.

Header example (you can use 1 to 4 `#`):
![image](https://user-images.githubusercontent.com/4507015/70723351-0dab

[2019-12-12 15:06] #3395 closed

[2019-12-12 18:08] hiiwave commented on #3003
Just FYI, using Google Drive File Stream as storage on Windows is mostly fine. Except that I cannot open an attachment under that storage when clicking the link (somewhat related to #2003).

[2019-12-12 18:29] hiiwave opened #3397 "Cannot open attachment on storage with path containing non-English letter"
# Current behavior

When a note with attachment saved on a storage with path containing non-English letter (e.g. `test_chinese` with Path `D:\測試` as follows), clicking on the link of this note does not open the attachment (like what happened in https://github.com/BoostIO/Boostnote/issues/2003).

**EDIT:** [Here](https://github.com/BoostIO/Boostnote/issues/3397#issuecomment-567133922) is an animati

[2019-12-13 01:33] AlfredoGJ commented on #2785
Hey guys, can you provide some feedback about the PR I sent for this issue?

[2019-12-13 05:31] shmolf commented on #3396
@Flexo013 I'd like to be assigned this.
I've started working on it, and I'm checking on a few things.
- One of which is checking whether it's safe to [remove a previously added line](https://github.com/BoostIO/Boostnote/commit/bc24acd057d06a691af93c701e0da839cb1fbd20#r36410147)
- Next is how the PDF exports will play out

I'll create a PR after [the prior one](https://github.com/BoostIO/Boostnote/

[2019-12-15 10:26] oywi commented on #3381
@Flexo013
I often use the windows screenshot function (WIN + Shift + s), which copies an image to the clipboard. I was not able to paste this directly with (Ctrl + v).

@arcturus140
I was not aware of the Ctrl + Shift + v functionality. This solved the problem for me.
That's it, thanks!

[2019-12-15 19:43] arcturus140 opened #3399 "Markdown to centre an image"
# Current behavior

Markdown does not allow to centre images. Sometimes there are images I'd like to centre and it looks weird with left aligned due to their ratio.

As a workaround some suggest using HTML tag `<center>`. I am not sure if this is working in Boostnote, when I try with version 0.11.12 it doesn't:

    <center>This text is centered</center>

Additionally I added custom CSS rule:

[co

[2019-12-15 22:31] Flexo013 commented on #3399
Unsure, I will investigate this soon. Do keep in mind that I will test with 0.13.0 exclusively. (Since we'd everyone to use the most up to date version.)

[2019-12-15 23:22] #3381 closed

[2019-12-17 14:59] hiiwave commented on #3397
This seems to be windows-only issue. This problem does not exist under mac.

[2019-12-17 16:08] Flexo013 commented on #3397
I will test this under Linux tomorrow.

[2019-12-17 17:22] victorbrca commented on #3374
I have had the exact same issue on Windows 10 for quite a while. I paste the image in the note and it shows. However, when I change to another note and them back to the original one the image has disappeared. The attachment folder still exists, however the image is no longer there.

I will also change the  setting to see if it makes a difference for me.

![](https://i.imgur.com/hd3vtlg.png)

![](h

[2019-12-18 09:25] Flexo013 commented on #3397
Hmm, under Linux I can't even get a file with only latin characters in the path to be linked properly. The URL does open fine in a browser, so this should work, but it doesn't:
![image](https://user-images.githubusercontent.com/4507015/71073416-a2423580-2180-11ea-9971-399e33f45e40.png)

[2019-12-18 10:31] arcturus140 commented on #3397
I don't understand this issue. Attachments are stored under the path `:storage:`. No non-English letter will ever be generated.

![image](https://user-images.githubusercontent.com/44707562/71077792-057f9800-2180-11ea-853e-e0a7c4c57a9d.png)

![image](https://user-images.githubusercontent.com/44707562/71078008-72932d80-2180-11ea-85b4-d3d663d51a37.png)

@Flexo013 the issue is about storage location p

[2019-12-18 11:06] hiiwave commented on #3397
@arcturus140 The issue is, clicking on the link of this note does not open the attachment (like what happened in #2003).

Isn't that clear to you?

[2019-12-18 11:55] arcturus140 commented on #3397
@hiiwave I think we have different understanding on storage and attachment.

It is unclear how to replicate the issue. Is it enough to create a link in a Markdown Note?

    [link](D:\Users\測試\Desktop\測試.txt)

(Note that the path must contain **non-english letter** to fail.)

I am making extensive use of links to local files on a Linux machine. I never used this on Windows OS.

The format I am usi

[2019-12-18 13:18] hiiwave commented on #3397
Steps to reproduce this issue:

1. Create a storage with path containing non-english letter
2. Create a folder in that storage and create a note.
3. Drag a local file into the note. This will create a link as "file:///"
4. Click the link. The file should open. But the file does NOT open. That is the issue.

[2019-12-18 13:21] Flexo013 commented on #3397
@hiiwave Step 3 does not create a link as "file:///" for me. It creates this:

`[export.pdf](:storage/d8f0fc49-4085-482e-a650-b9eead8690cf/3adc9fb3.pdf)`

This is on Ubuntu 16.04, with 0.13.0, and by dragging a file from Files onto Boostnote.

[2019-12-18 13:34] arcturus140 commented on #3397
these are the steps I followed on Linux. The 1st image shows the result for step 1, the 2nd the result of step 2 & 3.

@Flexo013 did you follow steps 1 and 2? Someone needs to confirm it on Windows.

[2019-12-18 13:45] hiiwave commented on #3397
I'm not sure the link format. I will confirm it later. What I confirmed is that step 4 does not open this file, and #3398 fixed this.
I can probably make a GIF later to clatify this issue.

[2019-12-18 17:33] hiiwave commented on #3397
This GIF should clarify the situation.
`chinese_dummy` is a folder on storage `test_chinese` with path `D:\測試` which contains non-english letter.
As you can see, the file cannot be opened by clicking the link.

On the other hand, attachment on storage `test_english` can be opened successfully.

![demo_3397](https://user-images.githubusercontent.com/5608511/71108906-0f94ab80-21ff-11ea-8dd8-ebefee12

[2019-12-18 23:01] arcturus140 commented on #3397
@hiiwave yes, it is clear now. Thank you.

[2019-12-20 02:15] duansheli opened #3401 "chinese language support"
appearance language has
* english
* japanese

think about chinese

[2019-12-20 11:52] arcturus140 commented on #3397
I made a couple of tests and found some more files that are not working:

# Steps to replicate

1. create a file named _%E6%B8%AC%E8%A9%A6.txt_, write `open this file` in it
2. create a file named _測試.txt_, write `do NOT open this file` in it
3. link to the file in markdown: `[link](/home/a/測試/%E6%B8%AC%E8%A9%A6.txt)`
4. click on the link, wrong file is opened: _測試.txt_

(note: storage location an

[2019-12-20 15:27] Flexo013 commented on #3401
Boostnote is already available in Chinese:

![image](https://user-images.githubusercontent.com/4507015/71264994-905dbf80-2345-11ea-95fa-7d3be850f10a.png)

[2019-12-20 15:27] #3401 closed

[2019-12-21 12:08] duansheli commented on #3401
i saw the i18n file
but select option only hava two
system  windows 10

![image](https://user-images.githubusercontent.com/8579595/71307730-9d55de00-242d-11ea-9d89-79f73286f498.png)

[2019-12-21 12:10] duansheli commented on #3401
@Flexo013

![image](https://user-images.githubusercontent.com/8579595/71307758-f02f9580-242d-11ea-850b-d000470433b1.png)
open in browser

[2019-12-21 12:14] duansheli commented on #3401
in browser
login by github account
![image](https://user-images.githubusercontent.com/8579595/71307800-72b85500-242e-11ea-988a-22ecd61ea592.png)

[2019-12-21 15:26] Flexo013 commented on #3401
@duansheli These are issue of Boost Note (aka BoostNote.next) and not Boostnote.

[2019-12-22 07:47] arcturus140 commented on #1944
@ZeroX-DG is it just me or is this no longer working? when I check out v0.12.1-1 clicking on `[Google](https://www.google.com/)` works as expected. Doing the same on v0.13.0 or master nothing happens. I was looking through several PRs but all have already been merged into master.

# Environment

- Version : 0.13.0
- OS Version and name : 18.04 Ubuntu

[2019-12-22 13:11] arcturus140 commented on #3397
it happens in other cases as well. If you create a folder named `%20` and use it for your storage location, any link to `:storage/` of that location will fail.

To replicate, apply on Step 1:

1. Create a storage location in folder `%20`

then follow steps 2 - 4.

This can be replicated in Linux.

[2019-12-22 15:14] pokidovea opened #3402 "Shortcuts doesn't work on linux"
# Current behavior

I have no button `command` and `ctrl` doesn't replace it. I can`t create a new note by pressing `ctrl + N`

# Expected behavior

I want to be able to use keyboard shortcuts.

# Environment

- Version : Boost Note 0.1.1
- OS Version and name : Ubuntu 18.04