[2018-05-09 11:46] yasuokav opened #1894 "Note counter bug"
# Current behavior
[code]

# Expected behavior
[code]

# Steps to reproduce
[code]
1. Open "All Notes"
2. Create a new note
[code]
3. Move Note1 to Storage2:Notebook2
[code]
4. Move back to Storage1:Notebook1
[code]
5. Delete Note2
[code]
6. Empty Trash
[code]
7. Click Notebook1
Error:
`Uncaught TypeError: Cannot read property 'isPinned' of undefined`

# Environment

- Version : 0.11.4
- OS Versio

[2018-05-09 13:43] invacuo commented on #125
Agree with @orlando. Bear notes supports nested tags and is super easy and convenient to organize my notes.

[2018-05-10 04:32] yosmoc commented on #1894
@yasuokav yes, you are right. need to update storageNoteMap here.

[2018-05-10 04:33] zachselby commented on #1877
@micronpn On which OS are you facing the issue? I'm using Version 0.11.4 (0.11.4) on OS X Sierra and the PDF output does contain the modified tickboxes when opening the PDF in Preview, or Saving a PDF [then viewing with Acrobat].

![boostnote-1877-open-in-mac-preview](https://user-images.githubusercontent.com/410813/39852221-597f452e-53e9-11e8-9f34-68e469c79c99.gif)

PS. First comment, and first n

[2018-05-10 10:11] i008 opened #1896 "Macos custom keyabord shortcuts break copying and pasting ."
# Current behavior

On macos when shortcuts  for COPY and PASTE are remapped (Keyboard->Shortcuts->App Shortcuts)  its impossible to paste or copy in boostnotes. Aswell using control-c and command-c

# Expected behavior
I shouyld be able to paste and copy with control-c and control-v if they are reamepped in macos

# Steps to reproduce

1.  Add shortcuts to menu items ( keyboard-shortcuts-app shor

[2018-05-10 14:05] sallyruthstruik opened #1897 "[feature request] Auto import and auto export of markdown notes"
I'm using boostnote for desktop, and it is great app, thank you!
But on mobile devices boostnote-mobile unfortunately doesn't give me all features I need. So on mobile I prefer using another editors. But I faced such problem: boostnote stores notes in certain format which is not a markdown. So I need to export my notes after any edition on desktop, and import after any edition on mobile.

I sugges

[2018-05-10 14:07] sallyruthstruik commented on #1897
possible duplicate of #1846

[2018-05-10 14:11] sallyruthstruik commented on #1897
In addition, maybe it would be greater to store markdown text and metainformation in separated files? In such way it won't be necessary to implement this feature, because user'll be able to edit main markdown file

[2018-05-10 16:42] ehhc commented on #1828
seems to be a duplicate of https://github.com/BoostIo/Boostnote/issues/740

[2018-05-10 17:49] jenniferlynparsons opened #1898 "URL click yields unexpected behavior/consequences with CSS"
# Current behavior
When there is a URL in a note it appears clickable
![screen shot 2018-05-10 at 10 40 00 am](https://user-images.githubusercontent.com/1587316/39884422-a3482342-543e-11e8-8bfd-26c050c6c722.png)

Clicking the link opens the url directly in Boostnote rather than in a browser. There is no back button or any way to get out of this view except to click into another note and then click

[2018-05-10 18:37] ehhc commented on #1898
This should be already fixed by https://github.com/BoostIO/Boostnote/pull/1858
It will be in the next release...

[2018-05-10 18:39] ehhc opened #1900 "Removing notes should also delete corresponding attachments"
See title..

[2018-05-10 19:14] tholoz opened #1901 "Recover .md files frome .cson (encoding conversion)"
Hi there,
Like some people all my notes recently disappeared from the interface. Fortunately I was able to make a copy of all the .cson files embedding my notes. They look like this :

[code]

Now I want to recover a clean .md file from this `content` field. I tried different encoding conversions but I couldn't find the right way to replace the `\n` by returns in my editor. Moreover this string co

[2018-05-10 19:38] ehhc opened #1903 "Deleting a folder should also delete the attachments of the notes of the deleted folder"
See title

[2018-05-10 19:39] ehhc opened #1904 "Cloning a note should also clone the attachments of the cloned note"
see title

[2018-05-11 02:19] ri7nz opened #1905 "Amazon Cognito Indentity status 400"
# Current behavior
i'm use Boostnote 0.11.4 Amd64 desktop Version. i view development tools and i got an errors on console, on errors message its 400 status for send a post to congnito-identity.us-east-1.amazonaws.com
![selection_410](https://user-images.githubusercontent.com/16365952/39903187-1dc24c16-54fc-11e8-88b5-4721fdaf3027.png)

# Expected behavior
-
# Steps to reproduce
-
# Environment
- V

[2018-05-11 03:09] ksqsf opened #1906 "Feature Request: Coq highlighting"
- Version : 0.11.4-1
- OS Version and name : Debian 9

[2018-05-11 15:12] kanehara opened #1907 "Feature request: window zoom"
# Current behavior
It is not possible to zoom the window content using cmd + '+' / cmd + '-' like most other apps.  It's also not an option in the `View` menu.

# Expected behavior
Clicking cmd + '+' / cmd + '-' would zoom window in / out

# Steps to reproduce

1. Open Boostnote
2. Click cmd + '+' / cmd + '-'
3. Does not zoom window like most apps

[2018-05-11 22:52] yosmoc commented on #1864
Hi @micronpn ,

## deployment diagrams
In my environment, it seems it has already been supported. I use 0.11.4 in OSX.
![image](https://user-images.githubusercontent.com/9694/39949561-c01b7af8-557b-11e8-8d69-b3b5639a273a.png)

## timing diagrams

For plantuml support, we use [markdown-it-plantuml](https://github.com/gmunguia/markdown-it-plantuml). This library's current implementation cannot parse

[2018-05-12 13:25] Fowerld opened #1908 "[BUG] PHP unexpected commented block code due to open tag"
# Current behavior

See below, I was writing quick (and dirty I know) notes over PHP password methods process:

![capture1](https://user-images.githubusercontent.com/9303182/39957540-edd86c34-55f4-11e8-8f43-a2ea02ab927c.jpg)

Until I saw an unexpected commenting behavior from boostnote:

![capture2](https://user-images.githubusercontent.com/9303182/39957554-2675ef4e-55f5-11e8-9f07-5824e6c3483c.jpg

[2018-05-12 16:42] danielzucchi opened #1909 "Feature request: EJS syntax highlighting"
Hello team!

The project is simply amazing and a life-saver!

Not sure if it has been asked already, but the Code Snippet will recognise Embedded Javascript, but will not highlight the syntax, so it just all goes all black... Is it not implemented yet? Any plans to do it?

Thanks!

[2018-05-12 20:52] jonblack opened #1910 "Change order of storage locations"
As a user I'd like to re-order the storage locations that appear in the left pane so that I can have locations that are used more often near the top.

This is not the same as issue #194. That was about re-ordering folders within storage locations. This issue is about re-ordering the locations themselves.

[2018-05-12 20:56] jonblack opened #1911 "Retain collapsed storage location state"
When a folder is selected, the collapsed state of storage locations in the left pane is lost - all locations are uncollapsed.

Steps to reproduce:

1. Add multiple storage locations with multiple folders
2. Collapse all but one of the storage locations in the left pane
3. In the non-collapsed location in the left pane, select a folder
4. All storage locations will uncollapse

Expected behaviour:

[2018-05-12 22:50] yosmoc commented on #1909
I fixed this issue. Now it renders correctly in the markdown and snippet mode.

![image](https://user-images.githubusercontent.com/9694/39962164-64ae78c4-5647-11e8-92a0-18f15cdba760.png)
![image](https://user-images.githubusercontent.com/9694/39962165-68a2947e-5647-11e8-9238-1c5188dffadb.png)

[2018-05-13 22:53] kschiffer opened #1913 "Feature request: Add "Preview Additional CSS Styles" setting"
First of all: thank you a lot for this awesome piece of software.

I would love to be able to freely add additional css styles to be applied in the preview panel. For example `-webkit-font-smoothing: antialiased;` which improves font rendering (imho). But it could be used to customize the markdown preview in any way the user likes.

I've added the feature myself and will open a PR. I hope it comes

[2018-05-14 08:28] #1909 closed

[2018-05-14 08:52] #1894 closed

[2018-05-14 10:39] yosmoc commented on #1894
@Rokt33r
Thanks, but @yasuokav has almost found the solution when he created the issue. I just confirm his solution and send pull request.

@yasuokav
I suppose you are the right person to get this reward.

[2018-05-14 14:17] Rokt33r commented on #1907
Sounds reasonable. 👍

[2018-05-14 21:03] yosmoc commented on #771
@Rokt33r Is this issue still opened?

[2018-05-14 21:17] yosmoc opened #1917 "Strange translation in JP"
# Current behavior

![image](https://user-images.githubusercontent.com/9694/40023899-d2d6efbc-57cc-11e8-9db1-f27d91e4069b.png)

# Expected behavior

について -> Boostnoteについて

[2018-05-15 01:15] yasuokav commented on #1894
@yosmoc Thank you!

[2018-05-15 06:52] #740 closed

[2018-05-15 06:52] #1828 closed

[2018-05-15 09:25] orionlu0916 opened #1922 "Indentation tag [ > ] is not exported right format to HTML"
# Current behavior
![alt text](https://i.imgur.com/3snPN1v.png)
# Expected behavior
![alt text](https://i.imgur.com/5gAYPBZ.png)
# Steps to reproduce

1.  Export the markdown as HTML file
P.S. I don't need that green Indentation bar, but the actual indentation spaces
# Environment

- Version : Boostnote 0.11.4
- OS Version and name : WIn10

[2018-05-15 11:00] #1917 closed

[2018-05-15 18:13] AlexEshoo commented on #1630
+1. Would love to be able to do this both in edit and display modes.

[2018-05-15 18:46] ehhc opened #1924 "Copying the link to an attachment should make sure that it is located in the same note folder"
@Rokt33r  we've discussed this today:

# Steps
1) Note 1 has an attachment
2) Copy link to the attachment (->` [attachment1](:storage/attachments/notekey/attachment1)`
3) insert it into note 2
4) delete note 1

# Expected behavior
Attachment is still available in note 2

# Current behavior
Attachment was deleted when note 1 was deleted -> it is not available anymore in note 2

[2018-05-15 22:25] chartotu19 commented on #1760
@Huachao I dont see that icon on my installation. Which version are you using?
[code]

[2018-05-16 05:45] Rokt33r commented on #1905
You can ignore it. We are gathering usage data of Boostnote. It seems the app is failing to send the data. If you don't want to see any more you can disable it from the preferences.

FYI: The usage data doesn't include any content of your notes. We just count your activities. And, we cannot specify who you are from it.

[2018-05-16 05:45] #1905 closed

[2018-05-16 05:48] #1796 closed

[2018-05-16 14:35] ehhc commented on #1786
I think a working version was implemented in https://github.com/BoostIO/Boostnote/pull/1874 and will be available in the next release. So i guess after the next release, this issue might be closed @Rokt33r

[2018-05-16 17:09] Rokt33r commented on #1906
We only support languages supported by codemirror. Let us know when it starts supporting coq.

[2018-05-16 17:09] #1906 closed

[2018-05-16 17:10] Rokt33r commented on #1924
Thanks for creating this issue!!

[2018-05-16 18:39] patrick-iv-knowit opened #1926 "[Bug/Weird UX] Labels below values"
Not sure why the labels are below the values? I mean it works fine for Word/Letter count since it's actually how you read it, but for Folder, Storage etc. it's just plain weird.

![screen shot 2018-05-16 at 20 37 58](https://user-images.githubusercontent.com/36044123/40136805-0b1fad1e-5949-11e8-9118-eb28eb9629ae.png)

[2018-05-16 19:59] yosmoc commented on #1926
If we put the labels up to the values, it will be like this.
<img width="306" alt="screen shot 2018-05-16 at 21 53 46" src="https://user-images.githubusercontent.com/9694/40140757-fddb3fb4-5953-11e8-8e44-6198a8250f7d.png">

@Rokt33r @kazup01 If you want to change, I will send the PR. PR is almost ready:)

[2018-05-16 20:53] yosmoc commented on #1589
@Rokt33r please close this issue.

[2018-05-16 23:05] ri7nz commented on #1905
oh thank you for your information about that

regards.
ri7nz

[2018-05-17 00:59] stokhos opened #1927 "Is there a way to close the focus serch on input panel?"
# Current behavior
Currently, I can only close or hide that panel by clicking the full-screen button twice.
Wondering if there is a quicker way to do that?
Also, I suggest making the description section in snippets mode to adjust its size automatically according to the length number of rows in the description section to make use of screen space more efficiently.

Best

# Environment

- Version : 0

[2018-05-17 06:14] ksqsf commented on #1906
As the upstream no longer accepts new modes into the main repository, does/will Boostnote have the ability to let users customize?

[2018-05-17 07:29] rahulpathakml commented on #1886
Can this support be added in boostnote. The linked thread also talks about the same thing.

[2018-05-17 07:56] bimlas commented on #1607
I think a basic behaviour can be achieved by

- Adding tags to the notes
- Go to "board" view
- Select the tags to be displayed
- Every tag could list the related notes in columns
- Moving the note from one column to another could delete the "origin" tag and add the "target" tag, thus the note would be listed under the "target"

[2018-05-18 08:30] anothernode opened #1930 "Keyboard shortcut to Toggle Full Screen on macOS (Ctrl+Cmd+F) does not work"
# Current behavior

In Boostnote 0.11.4, when pressing `Ctrl+Cmd+F`, the search input field gets focus and the Boostnote window does **not** toggle the full screen mode.

# Expected behavior

The Boostnote window should toggle the full screen mode as announced in the application menu:

![screen shot 2018-05-18 at 10 25 48](https://user-images.githubusercontent.com/3286144/40224375-455c8644-5a86-11

[2018-05-18 10:16] yougotwill commented on #1930
Hey @anothernode, this has been fixed here https://github.com/BoostIO/Boostnote/pull/1754 :)

[2018-05-18 11:38] anothernode commented on #1930
Awesome!! And sorry for the noise then. I did search for open issues on this, but not for PRs... 😬

[2018-05-18 14:05] nickshoe commented on #1790
We use a git repository folder as storage, when we pull new notes from the remote it would be great to have the UI automatically reflect the updates!

[2018-05-18 15:42] jeffreyzupka commented on #1871
Hello. I am also seeing the same issue after updating to version 0.11.4. I am trying to add an existing Dropbox storage location. My environment

* Version: 0.11.4
* OS: macOS 10.13.2

[2018-05-18 19:19] jk3us opened #1934 "Unavailable storage locations prevents application from working at all"
# Current behavior

If you start Boostnote and one of your storage locations is unavailable the application hangs on start and doesn't show you any of your notes or storage locations. In my case, I have one on a shared network drive and another on Google File Stream, but if I don't have Google file stream running, it just spins on startup:

![image](https://user-images.githubusercontent.com/41621/

[2018-05-19 16:55] stenalpjolly commented on #1486
@dreadful44 @bimlas Is this issue still valid? I was just checking this. It seems working for me.

[2018-05-19 17:54] bimlas commented on #1486
Issue seems to be solved on 0.11.4.

[2018-05-20 01:02] littledavid-tech opened #1937 "I met a bug about link tag"
# Current behavior
I met a bug,
When I was writing a markdon file and create a link tag then clickl it , there are a web page `Preview Area`.
I tried to close the web page but I cannot do it.

# Expected behavior
I hope when I click a link tag It will be opend in my browser.
# Steps to reproduce

1.  Create a new markdown
2.  Write a link tag such as [BaiDu](http:baidu.com)
3. Click it

# Environm

[2018-05-20 07:25] bimlas commented on #1937
It's already reported: https://github.com/BoostIO/Boostnote/issues/1878

PS.: Please write more descriptive title in the future, for example "Link tag opens web page in preview area".

[2018-05-20 12:32] danielzucchi commented on #1909
Awesome, thank you guys!

[2018-05-20 13:17] jsuen123 commented on #1851
If anyone looking to recover your notes from this, I found all my lost notes at C:\Users\[your user]\AppData\Local\boost

[2018-05-20 13:39] DaniGithub opened #1938 "No image icon when you drag and drop images from file explorer onto a note (Low Priority Bug)"
# Current behavior
When I drag & drop an image from the explorer window onto a note i get a missing image icon in the preview window. 😕

Two ways to fix this:
- Press enter after dropping the image.
- Remove and re-insert the first slash from the file path in the markdown.

![bugreport](https://user-images.githubusercontent.com/9342005/40279418-8d91562a-5c42-11e8-8e9c-ecac58512723.png)

# Expected

[2018-05-20 16:55] ehhc opened #1940 "[Refactoring] attachment management"
In the attachment management file are multiple functions.
That makes it hard to mock special functions

it would be better if the functions would be located in unique files

[2018-05-20 17:25] chethanjjj opened #1941 "Image no longer appearing in markdown"
# Current behavior

I expected to see my images after I created the path, however after I updated Boostnote, I can no longer see the image

# Expected behavior

I expected to see my images after I created the path.

# Steps to reproduce

1. Add image to to your image folder
2. Add link in a markdown file
3. Image will not show

# Environment

- Version : 0.11.5 (0.11.5)
- OS Version and name : Mac

[2018-05-20 18:47] c33s opened #1943 "Please provide an option to download the app without installer"
thanks you for you effort and for this really cool looking app.

is there a way to get this app without the squirrel installer? i personally really dislike the squirrel installer with its auto update "feature" because of the many problems i have with all apps with this installer. it makes a lot of problems in secure environments (sandboxed and firewalled) please provide a simple zip containing the

[2018-05-20 21:46] Dario0117 commented on #1941
On Linux (Debian 9.4) it's happening too, i think i found the error, it's trying to find the images on the next path `file:///file:////home/user/PATH/attachments/image_name.ext`, as you can see, the string duplicate the `file:///` protocol, also, the image folder name its looking for `attachments` instead of `images`.

[2018-05-21 01:46] umiushieel opened #1944 "[bug] opening 2 tabs when click external link in preview"
# Current behavior
opening 2 tabs in external browser when click url link in preview

# Expected behavior
opening only 1 tab when click link.

# Steps to reproduce

1. new note, type url (ex. https://www.google.com).
2. return to preview mode.
3. click url.

# Environment

- Version : Boostnote 0.11.5
- OS Version and name : macOS 10.13.4
- External Browser : Google Chrome 66.0.3359.181 , Firefox

[2018-05-21 03:48] garmede opened #1945 "Keyboard tag unvisible white text in monokai theme"
# [[ kbd ]] unvisible white text in monokai theme
![image](https://user-images.githubusercontent.com/2133201/40289674-ae5bd9c2-5cf4-11e8-96ab-d9c74d5922b4.png)

# Environment
- Version : 0.11.5
- OS Version and name : Windows 7

[2018-05-21 06:02] shagru commented on #1941
This is happening on Mac OS as well...., as @Dario0117 said.

[2018-05-21 06:29] #1486 closed

[2018-05-21 07:29] clone1612 opened #1946 "Add v0.11.5 release tag to this repository"
For the AUR package on Arch Linux we build the source from this repository. The latest version was released on boost-releases but the release isn't yet tagged on this repo (https://github.com/BoostIO/Boostnote/releases).

Thanks in advance!

[2018-05-21 09:13] fornous opened #1947 "Missing Ctrl+S save and toggle preview mode and ctrl+f for filtering"
# Current behavior
Ctrl+s while editing doesn't make anything.
Ctrl+f doesn't focus on filter

# Expected behavior
Ctrl+s toggle preview mode and save the article
Ctrl+f focuses on filter input

# Steps to reproduce

1.
2.
3.

# Environment

- Version : 11.5
- OS Version and name : Windows 10 April Update

[2018-05-21 09:51] sssNuka opened #1948 "can't export as HTML in 0.11.5"
# Current behavior

afer update boostnote to 0.11.5, when i try to export my markdown file to htm, nothing happened! even if the "Welcome to Boostnote!", it doesn't work too. export txt or md is ok, and v0.11.4 doesn't has this problem.
ps: my english is poor, sorry...
# Environment

- Version : 0.11.5
- OS Version and name : Win10 x64

[2018-05-21 12:28] AlexEshoo commented on #1941
Happening on windows as well (Boostnote Version 0.11.5)

[2018-05-21 12:45] ehhc commented on #1941
Hi i fear, i broke it by using a new location for the attachments. That has been done because other features are a lot easier to implement if the location of the attachments is /attachments/noteKey.

[2018-05-21 12:48] ehhc commented on #1941
Hi i fear, i broke it by using a new location for the attachments. That has been done because other features are a lot easier to implement if the location of the attachments is /attachments/noteKey.
I did not consider that my change would might break displaying existing attachments/images.
My deepest apologies for that.
The solution would be migrating the attachments to the new location.
Unfortuna

[2018-05-21 13:25] ehhc commented on #1941
I've submitted a PR that might solve the problem by migrating the images to /attachments when displaying the note the first time. The images should be visible then again. But some other features (like removing un-referenzed attachments) will not work with that solution.

Could you test, if that PR solves you issue please?

[2018-05-21 14:56] sdvdxl commented on #1410
not work with Mono type

[2018-05-21 15:07] davidwolfpaw opened #1950 "Pasting a link doesn't update cursor position"
Boostnote v0.11.5
MacOS v10.13.4

When I paste a link into Boostnote the cursor advances to the end of the pasted text. Boostnote then creates a markdown link with the title of the page that was linked.

The cursor does not update position to be at the end of the newly created link, and instead stays in the position of after paste but before markdown creation.

Expected behavior is that the cursor

[2018-05-22 03:33] yjhnnn opened #1952 "images are broken, won't show up on md preview"
# Current behavior
Images won't show up and only can see the broken images. If you add a new image using drag&drop, no issue at all. Already added pictures using drag&drop show this issue, however original image files are still in the image directory.

# Expected behavior
Images are supposed to display on md preview.
# Steps to reproduce

1.
2.
3.

# Environment

- Version : 0.11.5
- OS Version an

[2018-05-22 03:34] #1952 closed

[2018-05-22 05:58] himanshuk303 commented on #1948
Not working in OS X El Capitan as well.
Boostnote version : 0.11.5

[2018-05-22 06:06] ivyivylynn opened #1953 "Paste Image from Screenshot no longer works."
# Current behavior

Pasting a screenshot from clipboard will create the attachments\sth_dir\sth.png files but the picture won't show up. When open the sth_dir directory in attachments there is actually not file called sth.png there.

# Expected behavior

The pasted screenshot picture should show up and there should be a image file matching sth.png inside of sth_dir directory.

# Steps to reproduce

[2018-05-22 06:56] #1930 closed

[2018-05-22 07:10] ehhc commented on #1953
Unfortunately the problem was, that the attachments were referenced by a absolute path and not a relative one. After exiting the edit mode the program thought the attachment was not used and deleted it therefore.. i have fixed it now (at least i hope that.. :) )

[2018-05-22 08:54] ithinuel commented on #1489
[code]

now works in `0.11.5`.

[2018-05-22 09:03] MeteorKepler commented on #1941
In this version, I can't see the previous images added.
And also, if i paste the image captured in clipboard, the image will appeare in 'attachment' folder and **after a few seconds, it is deleted automatically**. What's the problem

[2018-05-22 09:07] ehhc commented on #1941
Hi @MeteorKepler
Thanks for your feedback.
The first is answered by https://github.com/BoostIO/Boostnote/issues/1941#issuecomment-390644169
The second is answered by https://github.com/BoostIO/Boostnote/issues/1953#issuecomment-390886100

I hope that i fixed the problems by my PR. It will be reviewed and tested and i hope that a new version with the fix will be released soon

[2018-05-22 09:14] MeteorKepler commented on #1941
Ok, hope it will be updated soon. And better to change the absolute path to relevant because of sync between devices

[2018-05-22 09:18] ehhc commented on #1941
@MeteorKepler what do you mean? AFAIK all path are meant to be relative. Absolute paths (like mentioned in https://github.com/BoostIO/Boostnote/issues/1953#issuecomment-390886100 were a mistake and not intended..

[2018-05-22 09:30] ehhc commented on #1941
Okay. As you can see i submitted a commit in my PR that should make the paths relative (as intended).. :)

[2018-05-22 09:38] gaborgulyas commented on #1953
I have the same issue. Went back to 11.4 where it still works...

[2018-05-22 12:15] Oslint opened #1954 "Do not highlight the nl command in bash highlighting."
# Current behavior
nl command is not highlighted!
Also, grub2-set-default command!

![image](https://user-images.githubusercontent.com/37634063/40361697-281e85a0-5e05-11e8-903a-d674cd62996b.png)
![image](https://user-images.githubusercontent.com/37634063/40361707-3067b646-5e05-11e8-9ddb-280e86779e05.png)

# Expected behavior
I hope the nl command and grub2-set-default command is highlighted.

# En

[2018-05-22 13:07] piotrgajow commented on #576
It would be also great to include variables in the templates!

[2018-05-22 14:32] schlabrendorff opened #1956 "Feature request: Keyboard shortcuts for font styles"
It would be a nice gimmick to be able to highlight a word or a paragraph and press `CMD + B` or `**` to make it bold or respectively `CMD + I` or `*` to change it to italic.

Currently your selected text will just be replaced.

[2018-05-22 15:24] benyanke commented on #1547
It's a hack to be sure, but on Android, you can use an app called 'FolderSync' to sync a local phone directory with a remote NC or webdav instance.

[2018-05-23 05:12] ARDivekar commented on #1948
Not working in MacOS Sierra Version 10.12.6 (16G1314)

[2018-05-23 05:49] bimlas commented on #192
Sorry, forgot to stop the timer: -9 hours. :(

[2018-05-23 12:10] davidwolfpaw opened #1957 "Default to sync storage on mobile"
It would be great to be able to default to opening a sync storage folder on mobile, like Dropbox, instead of starting at All Notes.

Additionally, a cache of notes, or at least the metadata of those posts (title, excerpt, date) stored on the mobile device would be even better, so there's no need to wait for it to pull files that have already been pulled up last time the app was open on mobile.

Th

[2018-05-23 13:59] OffCorner opened #1958 "Change titlebarstyle to hidden"
# Current View:

![image](https://user-images.githubusercontent.com/7747779/40429017-e3ffa15e-5ea1-11e8-8b58-80a545e92e4b.png)

# Suggested View:

![image](https://user-images.githubusercontent.com/7747779/40428960-bf020662-5ea1-11e8-8366-1d1215aa2378.png)

# Environment

- Version : 0.11.5
- OS Version and name : Mac OS 10.13.4

# Things to add:
`  titleBarStyle: 'hidden'` in main-window.js
and a

[2018-05-23 14:08] hidaiy commented on #1767
I am glad that the markdown editor can always display the editor mode.

If the state of the lock button displayed in editor mode is remembered like a toggle button, this problem may be solved.

This code is in WIP, but I tried saving the state of the lock button.
https://github.com/hidaiy/Boostnote/tree/develop

[2018-05-23 15:27] washere opened #1959 "HotKeys Needs User Interface"
HotKeys in Preferences needs User Interface:

Button and Textfield for

Add/Edit New Hotkey

For existing shortcuts and user defined.

[2018-05-23 15:33] washere opened #1960 "ShortCut Needed to Jump from Column to Column in UI"
ShortCut Needed to Jump from Column to Column in UI:

From:
LEFT 1st Column (All notes, starred, trash....)

To:
2nd Column (Search, file list...)

To:
3rd Column (Editor or Preview)

If in Toggle Mode with both (Editor & Preview visible) To;
4rth Column (Preview)

I suggest CTRL + TAB
or CTRL + Shift + TAB

Thanks.

[2018-05-23 15:38] washere opened #1961 "ScrollBar is a Big Problem"
**The ScrollBar shows for a few seconds.**

**Then fades away and DISAPPEARS.**

Clicking under it does not really pull page down.

YOU HAVE TO quickly click and hold and drag it while it is fading away.

If you miss the few seconds to catch it, it is impossible.

This is very bad.

**1) ScrollBar  should STAY VISIBLE.**

**2) Scrollbar should go UP or DOWN if we click under or on top of it.**

In

[2018-05-23 17:36] ehhc opened #1962 "[Bug] OnBlur throws exceptions if the notetype is snippet"
... in that case the storageKey passed to the method is undefined -> Errors

[2018-05-23 21:02] yosmoc opened #1964 "sidebar tooltips are not standardized"
# Current behavior

sidebar tooltips are not standardized.
- Top 3 menu's tooltips are same height as the menu, but showed in 8px above the menu.
- Storage, folder tooltips are rendered in left, but height is different from menu.
![tooltips_before](https://user-images.githubusercontent.com/9694/40450628-860a9956-5edc-11e8-851c-9d9c4aeb0b8f.gif)

# Expected behavior

![tooltips_after](https://user-

[2018-05-23 21:44] LouWii commented on #1961
This is interesting, I didn't understand why this was an issue. Until I realized that yeah, it's annoying if you don't have a scroll wheel or whatever scrolling gesture on a trackpad.
I wonder how many people use scrollbars as their main way of scrolling though.

[2018-05-24 04:06] aisensiy opened #1968 "Fail to paste image from clipboard"
# Current behavior

![image](https://user-images.githubusercontent.com/661860/40463953-c7bb10a6-5f4a-11e8-938d-ab04925da818.png)

# Environment

- Version : 0.11.5
- OS Version and name : Mac OS High Sierra

[2018-05-24 05:40] #1964 closed

[2018-05-24 05:43] #1822 closed

[2018-05-24 05:43] #1904 closed

[2018-05-24 05:45] #1903 closed

[2018-05-24 06:01] Rokt33r commented on #1767
@Asitis
I think this should be enough. How do you think?

<img width="1033" alt="screen shot 2018-05-24 at 2 58 38 pm" src="https://user-images.githubusercontent.com/5865853/40466989-f7e60ce6-5f62-11e8-8456-d90d6a3b0171.png">

@hidaiy
Please stop working this for now. We're going to cancel the deposit of this issue. I think this issue must be discussed more.

[2018-05-24 06:10] hidaiy commented on #1767
@Rokt33r
OK. I'll stop this work.

[2018-05-24 06:29] ivyivylynn commented on #1953
It's interesting that when I use drag and drop to add the images the program does not delete the attachments when exiting edit mode. It only behaves this way when I paste from clipboard.

[2018-05-24 06:36] ehhc commented on #1953
@ivyivylynn no that’s quite logical. The program deletes all files not referenced in your note. It only uses images referenced by relative links (`:storage/noteKey/fileName`) for this check. Since the pasted images is referenced with an absolute file link (it's a bug fixed by the commit above) that image seems not to be referenced it will be deleted therefore. Drag& drop images are referenced by r

[2018-05-24 06:52] Rokt33r commented on #1767
@hidaiy I'm sorry. 😢

[2018-05-24 08:45] Asitis commented on #1767
@Rokt33r; that looks good :D Maybe add an option to disable it entirely for just textual notes without need for markup?

[2018-05-24 09:26] ehhc commented on #1767
@Asitis maybe we could include a note type "Plain Text" or something like that..

[2018-05-24 19:59] bimlas opened #1971 "Suggestion: Preview and editor in one"
Just found [HyperMD WYSIWYG Markdown editor](https://github.com/laobubu/HyperMD) which seems pretty good: instead of rendering the note in another split, it applies the formating on the raw code, thus splitting the screen is not needed. I can imagine this as a replacment of the current render; if the user don't wants to see the formated preview, then it can be disabled (as you can try it out on th

[2018-05-24 20:40] yosmoc commented on #1908
@Fowerld Would you please check with 0.11.5?
Probably, [my PR](https://github.com/BoostIO/Boostnote/pull/1912) solved this problem.

[2018-05-24 21:04] ghost opened #1973 "Boostnote freezes"
# Frozen

On start up, boostnote freezes at the loading page. Does not close. Had to killall the process. Uninstalled and reinstalled and problem remains. What should i do?

# Environment

- Version :0.11.4
- OS Version and name :Ubuntu 17.10

[2018-05-24 21:20] yosmoc commented on #1489
I have fixed this issue in [this PR](https://github.com/BoostIO/Boostnote/pull/1868).
@Rokt33r or @eitland Please close this issue.

[2018-05-24 21:46] ithinuel commented on #1489
"Manual" footnotes work but not the inlined ones that are the initial topic of this issue.

[2018-05-25 06:28] yosmoc commented on #1489
@ithinuel OK, I see. I will investigate. Thanks.

[2018-05-25 07:35] StormBurpee commented on #1055
If you take a look at #1972 I've made this work for each of the operating systems, and think it makes the application look a lot cleaner. Let me know what you guys think!

[2018-05-25 08:56] Texxer opened #1974 "No folder to create a note"
# Current behavior

No folder available to create a new note? Come on, where do you think are those notes saved. I bet not in a folder...

[https://puu.sh/AsCfe/85d0fb2e0b.png](url)

# Environment

- Version : 0.11.5
- OS Version and name : Windows 10 Home

[2018-05-25 08:58] Texxer opened #1975 "Shift Key is not a Ctrl Key"
# Current behavior

When selecting multiple notes, the Shift Key behaves as if it was a Ctrl Key and selects the entries one by one.

# Expected behavior

Shift should select all notes between the first one selected and the last one selected.

[2018-05-25 09:56] bimlas commented on #1971
Benefits:
- Scroll sync is not an issue anymore (#1811)

Disadvanteges:
- Markdown is defacto, additional markup languages are not welcome (Asciidoc, ReStructuredText, etc.)

[2018-05-25 12:38] piotrgajow opened #1976 "Move snippet to other Snippet Note"
# Current behavior

If I want to move a snippet from Snippet Note A to Snippet Note B I have to
- Add new snippet to Snippet Note B
- Copy content of the snippet from A to B
- Copy title of snippet from A to B
- Delete snippet from A

# Expected behavior

I would like to have an option to move a snippet (e.g. `Move` next to `Rename` on title context menu). After clicking it I would have to select

[2018-05-25 16:47] nnsense commented on #450
I was about to raise the same request, today I was afraid I've lost a note but actually wasn't found because I saved it as a snippet! I'll wait patiently :)

[2018-05-25 18:59] washere opened #1977 "Resize Editor & Preview Panes"
This is a basic requirement.

When the Editor & Preview are BOTH Showing:

We should be able to drag & resize the Editor columns (Panes / Wondows) by:

Dragging the border between Editor & Preview to left/right.

Then we have more space to edit or preview.

This is vital on laptops.

Any editor, Markdown or otherwise like QOwnNotes etc, which is has preview always has this. resize feature.

Please

[2018-05-25 20:11] OnlineVagrant opened #1978 "Text expansion Features"
Please add multiple cursor positions within a template, for example

[code]

where **:{1}** and **:{2}** represent the first and second cursor position while **:{0}** represents the final cursor position.

It would also be nice to have a description at the cursor position after expansion that gets replaced once you start typing at that cursor position. For example,

[code]

where **:{1;Numerator}*

[2018-05-25 21:39] rodtwo commented on #126
For Desktop, I think the workaround is pretty simple to do - specially for a "developers" note app. I'm using OneDrive and it works great for me.

However, I downloaded the Android app and found it very basic - apart from Dropbox, no other integration, neither with workaround is available. This is the only thing holding me to still use OneNote

[2018-05-25 21:41] OnlineVagrant commented on #1961
i would not like the scroll bar to be visible all the time. I find it a bit distracting. Maybe it should be feature that can be toggled on or off. or maybe appear when hovering the cursor near the edges of the editor/preview windows. Besides, they also appear when scrolling with your fingers or arrow keys.

[2018-05-26 02:09] KOROKORO-Manbo opened #1979 "behavior about DropDownList for storage folders"
# Current behavior
DropDownList for storage folders are automatically(=against my idea) expanded on selection.It's kind of inconvenient when you have looong list of strage.
![expandingfolder](https://user-images.githubusercontent.com/16297739/40571426-7e775a28-60d3-11e8-8997-2f953c7b1afa.gif)
# Expected behavior
Keep folded til I expand it.
if possible, keep the state of dropdownlist when starting

[2018-05-26 02:48] eugenia1815 opened #1980 "v0.11.5 image not shown"
# Current behavior
<img width="1192" alt="image" src="https://user-images.githubusercontent.com/33351735/40571818-fb3437de-60e2-11e8-9996-9c224999a69d.png">

# Expected behavior
<img width="1201" alt="image" src="https://user-images.githubusercontent.com/33351735/40571791-9843a52e-60e2-11e8-9f88-90594a2110c0.png">

# Environment

- Version : v0.11.5
- OS Version and name : Sierra 10.12.6

[2018-05-26 07:47] StormBurpee commented on #923
Hey guys, feel free to take a look at the pull request I made for this feature over at #1981
Based of the url you suggested in the original post it works great, and I've been doing some testing with a bunch of other websites that I look at, and even ones that you probably wouldn't expect to work.

In the issue I've attached a few example photos for you to see.

[2018-05-26 08:05] StormBurpee commented on #1356
Hey, it's not quite exactly what you wan't but I've currently put in a pull request (#1981), that fixes issue #923
It's not a browser extension, but allows creating a new note by importing from url (converts the html to markdown). So if that gets approved that might help out a little bit? Depending on the time I have spare, I'll take a look and see what I can do in terms of making a browser extens

[2018-05-26 09:48] Redsandro commented on #1431
What do you mean by 'save all changes'? Changes are automatically saved.

[2018-05-26 09:55] Redsandro commented on #377
I already completed this in https://github.com/BoostIO/Boostnote/pull/1536

[2018-05-26 12:01] tatoosh commented on #1431
I mean to save a historyoft all changes like Version control vor a timeline.

[2018-05-26 13:06] Seanybalabala commented on #1980
Yes, I have encounted the issue too. Now, images can only be displayed by using absolute path which is quite annoying.

[2018-05-26 13:44] i5uhail commented on #1980
Able to reproduce the same. Hopefully a fix will be in place soon.

[2018-05-26 14:03] hminle commented on #1980
I have this issue too, I don't want to upgrade. How to stop upgrade, because v0.11.4 is better, it does not have image issue

[2018-05-26 14:04] hminle commented on #1980
This is a huge bug, can anyone help?

[2018-05-26 14:57] weaming commented on #1122
write a script to convert cson files to markdown format

https://gist.github.com/weaming/32b7b62956b304ff66fbae396ca9c86b

[2018-05-26 17:49] PureCS commented on #1762
Having this issue on 0.11.5 (windows 10 x64), however 0.11.4 works fine.

[2018-05-26 19:29] ehhc commented on #1980
hi together, i fear it is my fault. I explained the problem here: https://github.com/BoostIO/Boostnote/issues/1941#issuecomment-390644169
I am very sorry for the problems i caused.. i've already submitted a PR that hopefully fixes the problem, but it can't be released before the next version (in 2-3 weeks,,,).

@OnlineVagrant  what is the problem with drag&drop? If there is an error in the develop

[2018-05-26 23:18] CaninoDev commented on #1638
Here is a proposed pull request for this feature. https://github.com/BoostIO/Boostnote/pull/1984

[2018-05-27 00:09] OnlineVagrant commented on #1980
@ehhc When in edit mode drag and drop works well but in the split view mode it does not display when dragging and dropping. I just realised if you move the cursor by adding another photo or pressing enter the photo gets displayed.

There is an error but I think it is unrelated.

![one](https://user-images.githubusercontent.com/39413259/40581200-a522cd06-6128-11e8-9753-29f3721bfc04.JPG)

![two](htt

[2018-05-27 01:32] ax-vasquez opened #1985 "You double-fixed the whole "URLs not opening" issue"
# Current behavior
The last update of Boostnote broke URLs so that clicking them would re-render the rendered text in some unformatted format without ever opening the web page.

Fortunately, you guys fixed this! <3

But you double fixed it :o

Clicking links opens two tabs in Google Chrome (untested using other browsers)
https://www.dropbox.com/s/0krvznv938tdrbf/DoubleFixed.mov?dl=0

# Steps to re

[2018-05-27 01:32] ax-vasquez commented on #1985
Didn't think screenshots of the developer console would be relevant here - this issue is with the behavior that occurs _after_ clicking a URL in a rendered document.

[2018-05-27 02:57] OnlineVagrant opened #1986 "Katex highlighting and error display"
As much of tex code consist of long lines, I think it would be a nice feature to highlight tex functions.
# Current behaviour
![no highlight](https://user-images.githubusercontent.com/39413259/40581992-fcd3cd60-613d-11e8-9520-c1c5cba6b082.JPG)

# Expected behaviour
![highlihgt](https://user-images.githubusercontent.com/39413259/40581995-06d20d18-613e-11e8-84f2-e93d4f88d9f5.JPG)

Rather than displa

[2018-05-27 07:16] dogfish182 opened #1988 "after latest upgrade all my picture links are broken."
# Current behavior

for some reason after upgrade all the pictures are referencing an 'attachments' directory. this directory is empty and all images are stored in an images directory.

I guess I can manually move them back, but this seems worth reporting.

![image](https://user-images.githubusercontent.com/5390419/40583415-6ef88034-618e-11e8-9612-b5233196ff69.png)

all the broken links refer to t

[2018-05-27 08:50] davidmigloz commented on #1988
And it is using absolute paths for the new images, making the notes device dependent... E.g:
[code]

[2018-05-27 15:58] ehhc commented on #1980
@OnlineVagrant thank you for your answer. Yes it is unrelated but it will be (hopefully) fixed with the next release as well :)
Sorry for the problems..

[2018-05-27 15:59] ehhc commented on #1988
hi, i fear it is my fault. I explained the problem here: https://github.com/BoostIO/Boostnote/issues/1941#issuecomment-390644169
I am very sorry for the problems i caused.. i've already submitted a PR that hopefully fixes the problem, but it can't be released before the next version (in 2-3 weeks,,,).

as a current workaround: if you rename the folder "images" at your boostnote storage location to

[2018-05-27 23:44] Splitix opened #1990 "[Feature Request] Custom CSS Styling"
Just made the move to Boostnote and I love it. Thank you for all the hard work you guys have put in.
My request is a custom CSS stylesheet. I'm not a fan of markdowns list. When creating a list it creates a line break at the top. I would like to make that gap a little smaller like in this screenshot.
<img width="179" alt="screen shot 2018-05-27 at 6 37 27 pm" src="https://user-images.githubusercon

[2018-05-28 00:38] Splitix commented on #1990
Found an older issue that is exactly this.

#184

[2018-05-28 00:38] #1990 closed

[2018-05-28 06:06] kazup01 commented on #1958
#1972

[2018-05-28 06:06] #1958 closed

[2018-05-28 06:12] kazup01 commented on #1974
Please make at least one folder to make note.

[2018-05-28 06:12] #1974 closed

[2018-05-28 08:04] Texxer commented on #1974
Hey, there IS a folder!

FFS, don't just close a thread when I report a BUG and HELP you.

Again, look closely at the screenshot. There are notes. Where do you think they are saved? In the air or in a folder?

Now I suggest you go to solve the issue within your code. And when you ask nicely I may even help you on that matter.

Kind Regards

[2018-05-28 08:56] Texxer commented on #1974
Don't use the link above. Copy the URL into your browser bar and it will work. I looks like this when I edit on Github: "[https://puu.sh/AsCfe/85d0fb2e0b.png](url)"

Well, yes I am angry because what's rude is making a false comment and closing an unresolved issue.

You are right, I did not pay for it, and I could simplay delete it. But since I honor good software I decided to keep the installatio

[2018-05-28 10:09] ehhc commented on #1974
@Texxer could you test what happens when you explicitly click on the folder before trying to create the note? I think the problem is that the folder is deselected and the software therefore thinks there is no one to create the note in...

[2018-05-28 10:52] Texxer commented on #1974
Sure. May I ask where I should click on that folder? I don't see any folder icon or folder path.

[2018-05-28 12:08] ehhc commented on #1974
@Texxer the folder i ask you to click on is (1) in the image ("here")
btw: i think the problem is that in your default storage, no folder is available (marked with 2 in the image)

you should ask yourself, why you've included a storage without a folder at all.. maybe this storage isn't needed and you could delete it (in preferences -> storage -> unlink (i'm not sure about the wording at the moment

[2018-05-28 12:11] bravo321 opened #1992 "Tag <kbd> broke"
![key-tag](https://user-images.githubusercontent.com/26696732/40613729-69796b5a-6288-11e8-8e20-3f859bd645d8.png)

- Version : Boostnote 0.11.4

- OS Version and name : Ubuntu 16.04 Linux 4.4.0-127-generic x86_64

[2018-05-28 12:21] Texxer commented on #1974
That works indeed. Although the selected folder is not highlighted. Maybe something for the developers?

I tried your suggestion about removing My Storage since I only use Cloud Folders. Currently it's not possible to unlink My Storage. Maybe also something for the devs!

Thank you ehhc!

[2018-05-28 12:27] ehhc commented on #1974
What is the problem with removing storage marked with "2" in the image? Do you get an error? Is there a error in the development console (open it by clicking view developer console (or something similar) in the menu of the program (I think it is a sub item of "view") (I hope you know what I mean)..?

[2018-05-28 15:16] ehhc commented on #1974
Hm.. That's definitely a bug.. Maybe you could try to create a folder in that storage and then try to unlink it?
Maybe the problem is that it does not contain a folder.. But that's just a guess..

[2018-05-29 02:20] yangsijie666 opened #1994 "the color of code block in single line has changed to gray"
# Current behavior

![default](https://user-images.githubusercontent.com/26850324/40634559-31adec8c-6328-11e8-8d67-18cd3f00498d.png)

Hi, team!
In the latest version, it seems that the color of code block in single line has been changed to gray, which is difficult to be noticed, and it also loses the 'emphasis' effect. I suggest that you change its color back to red or any easily noticeable color.

[2018-05-29 02:57] l1b0k opened #1995 "[BUG]code block can not render space correctly"
# Current behavior
code block can not render space correctly

# Expected behavior

# Steps to reproduce

1.  write a code block
[code]

2.  Not correctly rendered
![](http://7xt4cx.com2.z0.glb.clouddn.com/Snipaste_2018-05-29_10-49-32.png)

# Environment

- Version :0.11.5
- OS Version and name : win

[2018-05-29 05:44] leasin opened #1998 "Do you have Atom's one dark theme? I love it!!!! please add it to Boostnote,thanks"
Do you have Atom's one dark theme? I love it!!!! please add it to Boostnote,thanksDo you have Atom's one dark theme? I love it!!!! please add it to Boostnote,thanks

[2018-05-29 11:18] OnlineVagrant opened #1999 "Is it possible to create tables without headers?"
Sometimes I would like to create tables that do not  require headers. In such instances is it possible to create a table without a header?

# Current behavior
The first row of the table is bold even though it isn't a header.
![non header](https://user-images.githubusercontent.com/39413259/40655221-106e2bd8-6317-11e8-9be7-3ad246095963.JPG)

I can omit the header by doing the following, but the tabl

[2018-05-29 11:24] ehhc opened #2000 "[FeatureRequest][Questions] Start thirdparty applications with boostnote"
It would be nice to be able to start third party applications alongside boostnote automatically.
That would enable to start e.g. a local PLANTUML Server to be started and used from boostnote.

Idea:
- define a path to the application that should be started and the startup parameters in the preferences
- execute the defined application on startup

What do you think about that?

[2018-05-29 11:31] ehhc opened #2001 "Show thirdparty folders and notes through proxy service"
It would be nice to be able to show third party notes and folders through a proxy service.
Idea:
- start a proxy service at localhost at a defined port (might be done through #2000)
- let the proxy service implement a predefined API (via REST)
- Query and display the notes / folders from the service

Then the acutal services could be implemented independently

Thoughts?

[2018-05-29 12:17] ehhc commented on #2000
How can we do that? There is no plugin mechanism implemented as far as I know..

[2018-05-29 15:29] ehhc opened #2003 "[Bug] Clicking on a link to a local file (attachment) does not open it"
... instead nothing happens..
there is even no error in the development console!

I am quite sure that it already worked..
I think there was a bug with URL clicking, am i right?
I think who ever fixed that bug, caused *this* bug...

[2018-05-29 15:30] ehhc commented on #2003
just a guess but maybe the fix for this: https://github.com/BoostIO/Boostnote/issues/1944 caused the bug?!

has anybody an idea what's the problem?
@Rokt33r ?

[2018-05-29 23:11] louiealmeda opened #2005 "Multi-tabs support for opened notes"
Being able to link a documents from another document is a great feature!
It will be great if we will have the option to go back to the previous page after we are redirected to another document :)

[2018-05-30 01:43] vnadella1 commented on #1597
I'm still stuck with this issue. I recommended this to a colleague and it is working fine for him. But it is not working for me even when i updated it to 11.5. Please help. I know this is isolated to my issue only but I love this app and really want to use it.

Let me know how I can resolve this issue. Thanks.

[2018-05-30 04:27] safwanmasarik opened #2006 "Can't copy paste screenshot in boostnote"
# Current behavior

# Expected behavior

# Steps to reproduce

1.  Screenshot piece of screen using Snipping Tool or Lightshot or Printscreen.
2.  Copy and paste it inside Boostnote markdown note.
3.  Image should appear in note(preview mode) but its NOT.

# Environment

- Version : latest update 25/05/2018
- OS Version and name : Windows 10 64-bit

[2018-05-30 05:12] louiealmeda opened #2007 "Scroll long tables sideways"
# Current behavior
Table is getting cut off, needs to resize the whole window to see content

![image](https://user-images.githubusercontent.com/5992303/40700170-fa946418-640a-11e8-94aa-91a388436153.png)

# Expected behavior

Scroll the table horizontally

# Steps to reproduce

Just create a table with really long texts without spaces

# Environment

- Version : 0.11.5
- OS Version and name : MacO

[2018-05-30 06:50] OnlineVagrant opened #2008 "Please all folding to preview mode"
# Current behavior

![folding in preview mode](https://user-images.githubusercontent.com/39413259/40703671-44105d3a-63bc-11e8-8122-d587bb9e4e50.JPG)

# Expected behavior
code should be able to fold in preview mode

[2018-05-30 07:00] OnlineVagrant opened #2009 "Please add folding of any part of a note"
# Current behavior

Currently the only way to achieve this is with the use of the HTML `<details>` and `<summary>` `tags`.
However, this only works on text(not Katex or code). and you manually have to add `<br>`, newline characters after each line.
![folding of any part of the document](https://user-images.githubusercontent.com/39413259/40703886-10dc5968-63bd-11e8-981b-c0f323f714b2.JPG)

# Expecte

[2018-05-30 07:04] leafiy opened #2010 "cannot search by Chinese"
![default](https://user-images.githubusercontent.com/870449/40704443-b129f760-641a-11e8-858a-60705af098a5.png)

[2018-05-30 07:36] ehhc commented on #2003
@yosmoc thanks for your quick fix. But I think it's not yet complete.. There are still other applications I would like to access by clicking a link (e.g. There is an literature management software called zotero which I referenced from within my notes. The links start with 'zotero://').

Maybe it would be possible to define a kind of white list of link prefixes that I can allow to be executed with

[2018-05-30 08:55] d4nyll opened #2011 "HTML Table does not render if there's blank line inside markup"
# Current behavior

Given the following input:

[code]

I am getting the following preview:

![screenshot from 2018-05-30 09-52-45](https://user-images.githubusercontent.com/9997953/40709931-454c0040-63ef-11e8-9e81-a05103793a9a.png)

Only the second table renders properly. The first table does not render properly.

# Expected behavior

Both tables to render correctly.

# Steps to reproduce

1. Cre

[2018-05-30 09:41] yosmoc commented on #2003
@ehhc I see your problem. Probably I can solve this issue without having prefix setting. Because what we need to check here is that the link has the url scheme pattern or not.

[2018-05-30 09:42] remyhonig opened #2012 "Pasted screenshots deleted when note dragged to other folder"
# Current behavior

Images are deleted when notes are dragged to other folders.

# Expected behavior

Images are not deleted

# Steps to reproduce

1. Create note
2. Insert screenshot from clipboard (ctrl-v) and press enter
3. Drag note to other folder

# Environment

- Version : 0.11.4
- OS Version and name : Opensuse Tumbleweed

[2018-05-30 09:58] vandijkstef opened #2013 "PDF under 'Export As..'"
Currently, we can get PDF by abusing the print-to-pdf feature.
I would love to have a PDF option under the 'Export as' menu option.

Please tag this as a feature request.

[2018-05-30 11:39] ehhc commented on #2003
@yosmoc thanks :) looking forward to seeing your solution :)

[2018-05-30 11:44] ehhc commented on #2012
i'm sorry for that. it will hopefully be fixed in the next release. See https://github.com/BoostIO/Boostnote/issues/1953#issuecomment-391605046

[2018-05-30 11:45] ehhc commented on #2006
I'm sorry for that. I hope it will be fixed in the next release. See https://github.com/BoostIO/Boostnote/issues/1953#issuecomment-391605046

[2018-05-30 11:47] OnlineVagrant commented on #2005
The problem with having a link back occurs when you have more than one note linked to the same note. The linked note would require a list of links back to each note. It isn't intuitive to have a list of links in a note just for the purpose of getting back to other notes. However if feature request #1364 is implemented then a link back wouldn't be required.

In this case the link could open the lin

[2018-05-30 15:22] OnlineVagrant opened #2014 "make the f key work in vim mode"
The f key works in codemirror but not in boostnote.

If you press the "f" key in normal mode, Vim will move the cursor forward to whatever character you input after "f" is pressed. As an example, consider the following line:

a quick brown fox

If the cursor was at the absolute beginning of the line, and you pressed "fb" in normal mode, Vim would move the cursor so that it was positioned over the

[2018-05-30 20:20] proidit opened #2015 "Search start only with delete last character"
# Current behavior
Digit test to search ('array')
-search not start while digit
-search not start with press return
![image](https://user-images.githubusercontent.com/4655081/40745237-345641ac-6457-11e8-9e58-46163987c635.png)

If delete the last character without press return the search action is triggered ('arra')
![image](https://user-images.githubusercontent.com/4655081/40745313-6a2fddd8-6457-1

[2018-05-30 21:09] msm-code commented on #1767
Hi, I just downloaded boostnote and started testing it. Overall I really like it, but I have the same problem as the author of this issue.

I find split panel very distracting, and I really prefer to always have markdown-view (preferably as default) or (rarely) rendered view. I think most markdown editors have three states - "editor", "render" and "both / split-screen". Option to completely disabl

[2018-05-30 22:26] louiealmeda commented on #2005
Good point. Then probably supporting multiple opened notes via tab would be the way to go. Since it is  how code editors normally work.

![2018-05-31 06 18 07](https://user-images.githubusercontent.com/5992303/40750608-6c88e01e-649a-11e8-95c0-647572cf0db7.gif)

[2018-05-31 01:05] mmueller commented on #1203
Yeah, uh, this is the thing that is promised on the homepage (boostnote.io) to new users. I'm surprised it doesn't actually work.

Edit your code and wikis from anywhere._

This, plus the Android app not supporting file-level sync with desktop (https://github.com/BoostIO/boostnote-mobile/issues/63) really breaks that promise. I was hoping that boostnote+syncthing would be the perfect setup, but it

[2018-05-31 02:06] Rokt33r commented on #1767
@Asitis @ehhc
Hmm, now I've changed my mind. I think disabling preview option is quite reasonable when thinking the origin of Markdown. It's designed to present some document format in plain text.

@hidaiy
You can start to work it again. But, I think we have to append this option to `Switch to Preview`, in the above screenshot.

[2018-05-31 05:41] OnlineVagrant commented on #2014
I don't know why it wasn't working before, but it is working now.

[2018-05-31 05:41] #2014 closed

[2018-05-31 09:43] DerekSMorin opened #2018 "Keyboard shortcut for "View" -> "Focus Search" not working"
# Current behavior
Press Ctrl+Shift+L
Focus seems to go to note title.

# Expected behavior
Focus goes to search bar.

# Environment
Windows 10.
- Version :
- OS Version and name :

[2018-05-31 21:32] yosmoc commented on #2003
Hi @ehhc,

I thought about security things, What we can check here is only url string, we cannot check the file itself. So even If we have the white list / black list, we cannot prevent to open the malware perfectly.

I cannot find other good solution, so I just re-support the local file link handling that we have before #1944.

[2018-05-31 21:41] yosmoc commented on #1985
@ax-vasquez Same issue as #1944 and I have already fixed this issue in #1967. Would you please wait for next release.
@kazup01 I have already received reward for fixing this. Please un-boost this issue:)

[2018-05-31 23:46] hidaiy commented on #1767
@Rokt33r
Ok I'll try 😄

[2018-06-01 02:58] eugenia1815 commented on #1980
Is there a way to downgrade?

Working with 11.5, when I paste the image I copied, it appears the image with absolute path and the image SHOULD be in the attachment folder. However, it did not create the new image in the 'attachments' folder. All my images gone when I quit Boostnote and open again even I insert the image with the absolute path.

<img width="767" alt="image" src="https://user-images

[2018-06-01 03:04] eugenia1815 opened #2020 "Image not created in the 'attachments' folder or 'image' folder"
# Current behavior

<img width="678" alt="image" src="https://user-images.githubusercontent.com/33351735/40818714-d71132b8-659b-11e8-8f86-e2b36c27ab19.png">
<img width="841" alt="image" src="https://user-images.githubusercontent.com/33351735/40818776-2e8d7ede-659c-11e8-8d80-69f5b82615d6.png">

# Expected behavior

Image should be created automatically in either 'attachments' folder or the 'image'

[2018-06-01 05:39] bimlas commented on #2000
I think it's an overkill: Why don't you creating a shell script / Windows .bat file for it? For example this will start `calc.exe` and Boostnote in paralell:

boost.bat
[code]

[2018-06-01 08:48] roroyu commented on #1994
me too
os: mac
I check it 2 hours

[2018-06-01 10:08] amidf opened #2021 "Links open two times"
# Current behavior
When I click on a external link it opens in two browser tabs and it is happening with all links in a note.

# Expected behavior
External links on a click have to open in one browser tab.

# Environment

- Version : 0.11.5
- OS Version and name : 1803. Windows 10

[2018-06-01 14:02] rdx565 commented on #1871
Hi. I'm seeing the same issue after updating to version 0.11.5.

Dropbox is available and syncing. I can open the files in boostnote-mobile in other apps, but I can't add it to the Boostnote Mac app as storage and any folder that is added vanishes on restarting. This includes local folders which are not synced in any way.

My environment:
Version 0.11.5
OS: macOS 10.13.4

[2018-06-01 14:07] rayou commented on #1871
Hi @rdx565

Could you open developer tools (View -> Toggle Developer Tools) then switch to console tab, add the folder again, if you see any error logs, please paste it here.

Thanks

[2018-06-01 14:28] rdx565 commented on #1871
`main.js:4005 Uncaught (in promise) TypeError: Cannot read property 'forEach' of undefined
    at file:///Applications/Boostnote.app/Contents/Resources/app/compiled/main.js:4005:19
    at Array.forEach (native)
    at data (file:///Applications/Boostnote.app/Contents/Resources/app/compiled/main.js:3982:21)
    at file:///Applications/Boostnote.app/Contents/Resources/app/node_modules/redux/dist/red

[2018-06-01 16:40] w33zy commented on #1762
Having this issue on 0.11.5 (Windows 10 x64)

[2018-06-01 20:02] ruffson commented on #304
+1 for a rpm package or snap/appimage/flatpack

[2018-06-01 23:02] OnlineVagrant commented on #2009
I achieved what i was looking for by allowing "Allow dangerous html" in the sanitization menu

[2018-06-01 23:02] #2009 closed

[2018-06-01 23:09] OnlineVagrant opened #2022 "[Question] What is sanitazation?"
I can only achieve the following by selecting the "Allow dangerous html" option in sanitization
![one](https://user-images.githubusercontent.com/39413259/40866999-49a78788-65d7-11e8-81ae-72fa0e0170f3.JPG)
![tow](https://user-images.githubusercontent.com/39413259/40867001-5079382c-65d7-11e8-8d94-31128553c50c.JPG)

why is this the case? and what is the difference between the options?

- Version :0.1

[2018-06-01 23:57] shelper opened #2023 "Image link failed to load images in the images/ folder"
# Current behavior
I have Boostnote storage setup in dropbox folder as : dropbox/boostnote. and there is a folder called images, where when i copy and paste the image to boostnote notes, the image will be named and saved. and in my notebook, a markdown link will be generated as:
`![filename](\:storage\filename.png)`

it was working well and recently after i upgrade boostnote, it seems the program

[2018-06-02 10:55] gudthing commented on #2023
also getting the same issue with 11.5
 win 10 pro

[2018-06-02 14:21] donahut commented on #1406
I have the same problem on Linux. I had to switch to the default keybindings to get pasting functionality back.

[2018-06-02 14:36] AnmerSeif commented on #2011
Hey, i just tested your bug.
It seems like you an empty line between the closing `</thead>` tag and the opening `<tbody>` tag on your first table.
[code]

[2018-06-03 01:24] zacharyrs opened #2025 "KaTeX Macro Support"
I can't see any support for KaTeX macros, which would be quite useful.

If I'm wrong, feel free to point me in the right direction, else I'll take a look at adding this myself later this week.

[2018-06-03 03:00] jaybaeta commented on #409
@SkYNewZ Thanks for doing that. I haven't tried the rpm yet, but the tar works perfectly. Is it possible to also build a 32-bit version, though?

[2018-06-03 13:59] piotrgajow opened #2026 "Printing snippet notes"
# Current behaviour

Clicking `Print` on snippet note doesn't do anything (error in console).

![image](https://user-images.githubusercontent.com/3736869/40887270-93cae0e2-6746-11e8-83ce-6b46bf009974.png)

# Expected behaviour

All of the snippets should be printed, possibly each on a new page.

# Steps to reproduce

1. Add new snippet note
2. Add a few snippets
3. Try to print the note

# Environ

[2018-06-03 15:17] Leelith commented on #2023
Same issue... Using windows 10. Was working perfectly until last update.

[2018-06-03 16:54] ax-vasquez commented on #1985
Will do, thanks!

[2018-06-03 16:54] #1985 closed

[2018-06-03 21:15] brpaz opened #2027 "Filter tags / folder list"
Hello.
It would be nice if the sidebar have a search box, so we can filter tags and notebooks lists.
Its hard to find a tag or folder when you have many of them.

[2018-06-04 03:02] #1941 closed

[2018-06-04 03:02] #1953 closed

[2018-06-04 12:46] Texxer opened #2028 "Horizontal line markup error"
# Current behavior

[Screenshot](https://puu.sh/AySo3/6d67deb2f2.png)

--- increases size and thickness of previous text

# Expected behavior

--- should create a horizontal line

# Environment

- Version : 0.11.5
- OS Version and name : Windows 10 Home

[2018-06-04 13:59] Texxer opened #2029 "Export as HTML not possible"
# Current behavior

File > Export as > HTML

Will not create a new HTML file. No error is displayed.

File > Export as > Anything else

Will create a new file. Success confirmation dialog pops up.

# Expected behavior

Export as HTML is possible.

# Environment

- Version : 0.11.5
- OS Version and name : Windows 10 Home

[2018-06-04 15:02] derekantrican commented on #2023
Same here

[2018-06-04 22:10] pmood commented on #2029
Disclaimer: have not verified the bug, but just as a workaround in the meantime, anyone who needs this feature right now can go to `view` > `Toggle Developer Tools`, then go to the `Elements` tab and copy from there and save it as an html file.

[2018-06-04 22:33] Texxer commented on #2029
Saves your way around a converter. Thank you for the hint pmood.

[2018-06-04 22:37] pmood commented on #2022
For more details on HTML sanitization, you can check this out: https://en.wikipedia.org/wiki/HTML_sanitization

In short, allowing ALL types of tags could result in [very serious security issues](https://github.com/BoostIO/Boostnote/issues/1443).

The recommended option allows only certain HTML tags to be used - the ones that don't have any known security issues like `<strong>`, `<summary>`, and `

[2018-06-04 22:52] pmood opened #2030 "Markdown nested in HTML is not rendered as expected."
# Current behavior

When using the safer sanitization options (recommended and allow styles), markdown that is nested in an HTML tag is not rendered inside the tag, but instead beside it. My guess is the sanitizer is stripping the closing tag completely, and Chrome is being *helpful* by closing the tag immediately after opening it.

Example:

    <details>

    * list item 1
    * list item 2

[2018-06-05 01:05] Rokt33r commented on #2022
This is a reported bug. I think the above answer should be enough. Let us know if you still have more questions.

[2018-06-05 01:05] #2022 closed

[2018-06-05 05:30] louiealmeda opened #2031 "Open note on new window"
Enable the user to open a note on a new independent window (double click) rather than always opening on the side - just like how MacOS notes work

[2018-06-05 08:40] sosukesuzuki commented on #2028
We use `markdown-it` to render markdown.
Your saying is behavior of `markdown-it`.
(This image is taken in https://markdown-it.github.io/)
Perhaps it would be better to create this Issue on [markdown-it](https://github.com/markdown-it/markdown-it).
<img width="1152" alt="2018-06-05 17 36 02" src="https://user-images.githubusercontent.com/14838850/40964782-f06d0b80-68e6-11e8-88ad-ead958fab819.png">

[2018-06-05 09:29] sosukesuzuki commented on #2021
This was fixed by #1967
please wait next release!!

[2018-06-05 09:29] #2021 closed

[2018-06-05 10:20] fanrongqitiancai opened #2032 "search word can not Highlight。"
# Current behavior
if I search word like "Windows" , it can not show me  the result like this：
![image](https://user-images.githubusercontent.com/9015263/40970418-1ce963ec-68ed-11e8-9b15-4a1a60ec153f.png)

# Expected behavior

# Steps to reproduce

1.
2.
3.

# Environment

- Version :
- OS Version and name : windows 7

[2018-06-05 18:51] corroded opened #2034 "Boost note suddenly stopped working with Dropbox"
# Current behavior

Notes not loading even after linking back using dropbox

![image](https://user-images.githubusercontent.com/46548/40995909-0f10245e-6933-11e8-943b-38278a538782.png)

After adding the 'Unnamed' folder from dropbox

![image](https://user-images.githubusercontent.com/46548/40995974-406e65f6-6933-11e8-95e1-6bbc7487f17e.png)

# Expected behavior

Should list all my previous notes

#

[2018-06-05 20:13] Texxer commented on #2028
true, thanks for the hint. I posted it to markdown-it repo issues.

[2018-06-05 20:13] #2028 closed

[2018-06-05 20:56] TonyLancer opened #2035 "Midnight Theme for other editors."
What is the full name of the "Midnight" theme used in BoostNote? I would like to use this theme for my Visual Studio Code and other editors that I use

[2018-06-06 01:45] fanrongqitiancai opened #2036 "can not search fulltxt and Highlight the result"
# Current behavior
can not search fulltxt and Highlight the result

# Expected behavior

# Steps to reproduce

1.
2.
3.

# Environment

- Version :
- OS Version and name :

[2018-06-06 02:11] #1962 closed

[2018-06-06 04:01] iamaleaf commented on #2023
I'm pretty sure it's the bug mentioned [here](https://github.com/BoostIO/Boostnote/issues/1941#issuecomment-390644169)

I wonder how much longer before it gets fixed. Having to downgrade to the previous version every day (as it keeps updating itself) is getting very tiring.

[2018-06-06 04:21] saratchandrakarumuri opened #2037 "Include sort order along with sortby"
# Current behavior

Currently we only have option to sortby categories. It is good to add sort order also (ascending/descending).

# Environment

- Version : 0.11.5
- OS Version and name : Windows 10 , mac

[2018-06-06 06:27] subhojit777 commented on #1797
Will be released in v0.11.5. See https://github.com/BoostIO/Boostnote/pull/1858

[2018-06-06 06:51] jonblack commented on #1767
Why not just make the "Toggle Mode" a tri-state? Sometimes I want the preview (plant-uml for example) and other times I don't. Having to go into preferences every time would be irritating.

![mode_toggle](https://user-images.githubusercontent.com/175080/41021418-a4c63ad2-6966-11e8-922b-554f7e420894.png)

So in the above image, the green toggle button would have three states instead of two.

[2018-06-06 07:31] corroded commented on #2034
I guess we can have a guard clause for when the `tags` is not included in the notes? I would assume that this happened somehow from my mobile app or something. Not sure how to replicate a note with no tags and just blank content, but maybe just a guard clause like

[code]

just a suggestion. I don't have much knowledge with Electron to make a PR for this.

[2018-06-06 07:49] NamedKitten commented on #903
I just have a script that parses the cson notes and passes them through to aspell...
Even just highlighting misspelled words would be great.

[2018-06-06 07:55] jonblack opened #2038 "Editor scrolls to top after generating plantuml diagram"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2420%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/BoostIo/Boostnote/issues/2038)

# Current behavior

When you have a document that's longer than the current view and edit a plantuml diagram at the bottom, when the image is rendered the document scrolls to the top (cursor remains in the same place).

# Expected behav

[2018-06-06 09:30] #1913 closed

[2018-06-06 11:52] mmahmoudian commented on #862
I could not find any flowchart capabilities in Boostnote, so I want to suggest flowchart.js to be integrated:
http://flowchart.js.org/

[2018-06-06 13:34] kazuedo commented on #2020
I am in the same situation.

[2018-06-06 13:38] martinsbruveris commented on #1973
I have the same problem since yesterday.
Version: 0.11.4-1
OS: Ubuntu 18.04

[2018-06-06 17:50] kawmra opened #2040 "Crashes when build and run"
# Current behavior

Crashes when `yarn run dev-start` because `MarkdownEditor.js` has typo in [this line](https://github.com/BoostIO/Boostnote/commit/8ccf490e9b75809db0e736696b6a2da18b4a6ec6#diff-15e7f898eb1b252e0e2a285a91f1a2ecR286)!
(`previw` should be `preview`)

![2018-06-07-02-34-10](https://user-images.githubusercontent.com/21209469/41055697-ec80dea4-69fc-11e8-96af-e895d634c930.png)

# Expec

[2018-06-06 18:01] thedavidgay commented on #2029
Looks like the same issue as #1948.

I also have this issue in macOS High Sierra 10.13.4. Boostnote version 0.11.5.

[2018-06-06 21:02] yosmoc commented on #2035
@TonyLancer This theme is come from Codemirror.
https://github.com/codemirror/CodeMirror/blob/master/theme/midnight.css
Full name is unfortunately "Midnight". As you can see in the source code above link, this theme is based on http://bonsaiden.github.io/JavaScript-Garden/ .
I don't know this color theme is available in vscode marketplace. Good luck for hunting this theme!

[2018-06-07 01:41] adlersantos commented on #1803
Some suggestions for Mac:

- `cmd + F` or `cmd + L` (like Chrome going to address bar) for focus search
- `cmd + option + F` find and replace (once we have it)
- `cmd + shift + N` New folder
- `cmd + k, b` Collapse / expand sidebar (like Sublime Text)
- `cmd + D` Multiple selection (like Sublime Text)
- `cmd + T` Jump to note (like Sublime Text), but will conflict with adding new tabs in snippets

[2018-06-07 06:42] zhuzelong commented on #2036
Please add fulltext search in the note window.

[2018-06-07 06:44] #2040 closed

[2018-06-07 09:30] sosukesuzuki commented on #2006
Maybe, This issue is fixed by #1949

[2018-06-07 09:30] #2006 closed

[2018-06-07 09:45] sosukesuzuki commented on #2012
Maybe, this issue is fixed by #1949

[2018-06-07 09:45] #2012 closed

[2018-06-07 09:56] flugzeit commented on #1973
I have been having the same problem. Boostnote freezes when loading and requires killall to halt.

If I delete `~$ home/username/Boostnote` the program will launch successfully. Copying the existing .rm files back into the new `notes` directory, or even recreating them as new notes using the existing markdown text, causes Boostnote to freeze on the next launch.

Output from apport.log:
[code]

Boo

[2018-06-07 10:05] sosukesuzuki commented on #2035
Sorry, I think this issue has nothing to do with Boostnote.
I'll close.

[2018-06-07 10:05] #2035 closed

[2018-06-07 17:11] RoToRx88 commented on #53
Seems like the idea has been implemented, but the issue #68 still refers to the point as not done and I can't edit it.

Anyway, thanks for the feature it's really great !

[2018-06-07 19:01] VasilikiS commented on #1973
So, ps aux | grep note, then kill -9 for all processes related to Boostnote. Then in your config directory you will find the file Boostnote. Rename it, for example call it Boostnote_off. Then reboot your ubuntu and then Boostnote should be working fine. It will create a new Boostnote file inside the config directory. Your old markdowns and and snipets will be found as Unknown, but that's ok, you c

[2018-06-07 19:22] flugzeit commented on #1973
This worked for me. Thanks!

[2018-06-07 20:35] romerosms opened #2042 "Markdown Preview Flickering While Searching"
# Current behavior

The headlines and code boxes in the Preview section are currently flickering when you are trying to search for something and a Preview window is being shown (a markdown file is selected). Every single letter you type in the search box causes flicker for those areas. This happens both with headlines (markdown starting with #) and with code boxes. I managed to disable this for he

[2018-06-07 20:51] yosmoc commented on #1999
Hi @OnlineVagrant ,

No, because this project currently uses markdown-it, and markdown-it's default table doesn't support this format. https://github.com/markdown-it/markdown-it/issues/231

[2018-06-07 21:52] bhrd commented on #1263
@bimlas
I "think" this issue occurs for imported notes, since - with notes imported from other tools, the title doesn't show up in the body of the note.
I'm facing the same problem that @fidelaznar mentions, but just on those notes I imported from another tool - NVALT
I compared the .CSON files as well, for an imported note and a boostnote-created note.
In the imported note, the title is only pres

[2018-06-07 22:01] bhrd opened #2043 "Clicking on info button displays info box on top of the button, making it difficult to hide the info box"
# Current behavior
When clicking on ⓘ for info on the note, the info box opens up on top of the button itself. This makes it difficult to hide the info box easily, and makes how to hide, unclear.

![image](https://user-images.githubusercontent.com/221584/41128557-6f278392-6a63-11e8-90c7-7f48ce6c7894.png)

![image](https://user-images.githubusercontent.com/221584/41128545-65ca2516-6a63-11e8-9898-ae

[2018-06-07 23:40] OnlineVagrant opened #2044 "Can I create a tree diagrams like the picture below in boostnote"
![image](https://user-images.githubusercontent.com/39413259/41131590-ca44be96-6a92-11e8-9570-3cb261c4c69b.png)

I'm not familiar with UML and so I don't know if such a diagram is possible.

[2018-06-08 02:00] fanrongqitiancai opened #2045 "edit mode full screen"
when I switch to edit mode，the note window is split screen.but I like full screen edit mode.please add the options which we can choose it by ourself.

# Current behavior

# Expected behavior

# Steps to reproduce

1.
2.
3.

# Environment

- Version :
- OS Version and name :

[2018-06-08 02:25] ymm1x opened #2046 "[Feature Request] Support for disabling incremental search"
When there are many notes in Boostnote, the response of the search result is slow.
Because full scan of all notes occurs every time a search word input.
Disabling incremental searching and searching by pressing the Enter key will improve search UX.

[2018-06-08 02:29] #1499 closed

[2018-06-08 02:29] Rokt33r commented on #2046
It is already reported. And, I'm going to make it throttling. Anyway, thanks for the reporting! 💯

[2018-06-08 03:50] romerosms commented on #2046
@Rokt33r If I may add, the idea of ymm1x is good in terms of the user experience, besides any performance effect. Even if the performance is good, it's a bit overwhelming for so many things to change with every single letter one types.

[2018-06-08 04:31] OnlineVagrant commented on #2045
You can still use full screen edit mode. After selecting full screen mode either right click or <Control> + e switches from full screen preview mode to full screen edit mode.

[2018-06-08 05:55] Rokt33r commented on #2003
Fixed!

[2018-06-08 05:55] #2003 closed

[2018-06-08 06:24] #1924 closed, assigned to nobody

[2018-06-08 07:11] fanrongqitiancai commented on #2045
![image](https://user-images.githubusercontent.com/9015263/41144058-21f2f586-6b2e-11e8-97d2-29a58a93e327.png)
can not use full screen edit mode.

[2018-06-08 08:13] fanrongqitiancai opened #2048 "Make file names (human-)readable"
# Current behavior
when I  create a new note,the file is .cson file format.but I hope to create it  as .md format.
the file name is not readable like this:769240df-bee4-4d8f-9fc2-e708782ec107.cson.
I hope that the file name is like this: JavaScript code -2018-06-08 16:13:18.md

# Expected behavior

# Steps to reproduce

1.
2.
3.

# Environment

- Version :
- OS Version and name :

[2018-06-08 09:54] Rokt33r commented on #2048
It should be nice to have. But, we have to prepare another space to store some metadata.
I am actually considering to implement this on the renewed app, not the current app because the risk of migrating data is quite high.

[2018-06-08 13:16] martinsbruveris commented on #1973
Worked for me too. Thanks!

[2018-06-08 14:17] axionl opened #2049 "[Bugs] Boostnote doesn't work on electron v2.0.2"
# Current behavior

Boostnote doesn't work on the latest electron and stay on the loading page.

And there's no any information output on the console.

![image](https://user-images.githubusercontent.com/8396456/41162596-f182a3ac-6b68-11e8-943c-ff1ff60cdab8.png)

# Expected behavior

# Steps to reproduce

1.  Get the latest electron.
2.  Run boostnote

# Environment

- Version :
  - electron 2.0.2-

[2018-06-08 14:57] CicoZhang opened #2050 "A bug? Click the link then I have to view the page within Boostnote"
# Current behavior
Click the link then I have to view the page within Boostnote.
![image](https://user-images.githubusercontent.com/11710225/41164940-a68319e4-6b3c-11e8-96a4-9591d24a90a3.png)

# Expected behavior

Click the link, then I can view the page in Chrome; as long as it is beyond the window of Boostnote.

# Environment

- Version : 0.11.4
- OS Version and name : Ubuntu 18.04

[2018-06-08 17:22] jk3us commented on #1877
I'm getting all unchecked boxes when I print as well (on paper).  I'm on Windows 7.

[2018-06-08 23:08] Nikscorp opened #2051 "Export as html not working for markdown notes"
# Current behavior

When trying to export markdown note (with any content) exception occurs.

![screen shot 2018-06-09 at 02 05 23](https://user-images.githubusercontent.com/18235332/41184539-a8d3c232-6b89-11e8-8f13-d94b78c1beb5.png)

# Expected behavior

The note should be exported successfully.

# Steps to reproduce

1. Create new MD note.
2. Type 'test' in it.
3. Press 'export as html' in info

[2018-06-08 23:14] #2051 closed

[2018-06-09 01:15] dbuskariol commented on #76
This should be revisited–Spell check is a must when writing MD!

[2018-06-09 05:48] OnlineVagrant commented on #1999
Thank you for responding.

[2018-06-09 05:48] #1999 closed

[2018-06-09 06:36] OnlineVagrant opened #2052 "Boostnote doesn't render spaces properly"
When creating tables it is always impossible to have the `|` characters line up properly in the edit window.
# Current behaviour

![render](https://user-images.githubusercontent.com/39413259/41188572-e0d59a14-6b95-11e8-9b58-f55b851c6e45.JPG)

# Environment

- Version :0.11.5
- OS Version and name :Windows 10

[2018-06-09 06:46] OnlineVagrant opened #2053 "is there a shortcut to move the cursor at the end of smart quotes"
# Current behavior
I like the idea of smart quotes but when it is time to leave the smart quotes I have to use the right arrow key. It would be nice if there was an alternative to having to use the right arrow key.

# Environment

- Version :
- OS Version and name :

[2018-06-09 07:36] yosmoc commented on #2050
@CicoZhang Please update to 0.11.5. It has already been fixed. You can see another bug #2021, but this behaviour also fixed in the master branch, will be included in the next version 0.11.6.

[2018-06-09 07:39] Rokt33r commented on #2046
@romerosms As I said, It can be fixed by **throttling**.
https://css-tricks.com/debouncing-throttling-explained-examples/#article-header-id-5

[2018-06-09 07:46] Rokt33r commented on #2045
@fanrongqitiancai You can the switch timing from the preferences(Preferences->Interface).

[2018-06-09 10:52] ehhc commented on #76
I am working on it :). Though i will not promise anything..

[2018-06-09 12:32] yougotwill commented on #1998
Great idea I'm also a fan of one dark! :)

Quick workaround that you can do for now.
Download this https://github.com/Aerobird98/codemirror-one-dark-theme
On macOS you can copy the .css file into the app directly in `/Contents/Resources/app/node_modules/codemirror/theme` not sure about windows or linux but I assume it is similar.

@Rokt33r @kazup01 Are we allowed to merge that repo into the existi

[2018-06-09 18:12] VitalyKrenel commented on #1765
Singing up for this! 👍
It would be awesome also to have a shortcut to add current date/time and etc. Probably displaying a note's creation time somewhere on the list and some sort options would be useful as well.

[2018-06-09 19:18] philippvarga commented on #2029
Seems like a problem on current version. I have the issue as well.
- Version: 0.11.5
- OS Version and name: Microsoft Windows 10 Education

@pmood workaround worked fine for me

[2018-06-10 04:33] mikeparisstuff opened #2061 "Ability to attach a date or date range to a note and a calendar view to see my notes on a timeline"
# Current behavior

Currently notes are ordered by their creation date and can have tags assigned to them.

# Expected behavior

I use boostnote for a lot of daily note taking and I will often recall things based on when i thought about it. It would be nice to be able to attach a date or a date range to a note and then be able to visualize my notes on a timeline/calendar. It would be cool if the c

[2018-06-10 05:07] Rokt33r commented on #2061
Yea, this is out of range. This must be provided as a plug-in. But, I like this feature. Could you join our slack?

[2018-06-10 07:54] CicoZhang commented on #2050
@yosmoc Thank you for the reply. Great to hear that it will be fixed in 0.11.6. However, I did not know there is a version 0.11.5, because I did not find this version from https://github.com/BoostIO/Boostnote/releases. How can I reliably get the notification of the new release?

[2018-06-10 08:18] yosmoc commented on #2050
@CicoZhang You can find the latest version from https://github.com/BoostIO/boost-releases/releases.

[2018-06-10 10:05] #2050 closed

[2018-06-10 12:32] flugzeit commented on #382
I understand that with Boostnote in active development there is much to do, but I frequently need to work switching between 'edit' and 'preview' modes (e.g. when reading / proofing / editing long documents) and parallel edit/preview panes are not appropriate.

As noted above, when you click to edit a line in preview mode Boostnote switches to editor mode but the cursor position is not updated. It

[2018-06-10 13:27] peey commented on #379
Yeah, searching for "boostnote snap" leads me to [this](https://github.com/BoostIO/Boostnote/tree/master/snap) which made me think it's already available on snap, but it isn't

[2018-06-10 14:02] louiealmeda commented on #586
Hey Guys, I started working on this today, here's what I got so far:

![2018-06-10 22 00 34](https://user-images.githubusercontent.com/5992303/41202301-a452b5e4-6cf9-11e8-8827-5b1259c47d05.gif)

Progress and approach seems to be promising. I'm planning to make the drag handle to be the `folder name` and place the collapse icon on the left side of it.

Let me know if you have any feedback with the

[2018-06-10 14:17] louiealmeda commented on #350
@kazup01 I can't join the slack group, it says `This invite link is no longer active.`

[2018-06-10 16:40] j9ac9k commented on #1053
In addition to +1'ing this feature request, I was hoping this feature could encompass text as well

There is a fantastic website: https://euangoddard.github.io/clipboard2markdown/

You paste markdown rendered html text/links and it will give the markdown text so you can preserve the markdown formatting

for example, if I copy this text
<img width="1093" alt="screen shot 2018-06-10 at 9 37 26 am" s

[2018-06-11 00:53] romerosms opened #2063 "File List Flickering While Searching"
# Current behavior

The file list is currently flickering when you are trying to search for something. Every single letter you type in the search box causes flicker for those areas.

# Expected behavior

# Steps to reproduce

1. Search something.
2. See the file list blink

# Environment

- Version : Latest
- OS Version and name : Ubuntu Linux 18

[2018-06-11 03:19] fanrongqitiancai commented on #2045
thank you very much！

[2018-06-11 05:22] kazup01 commented on #350
Hi @louiealmeda , please join slack group from [here](https://github.com/BoostIO/Boostnote#community). Thank you:)

[2018-06-11 10:33] jakemkc commented on #1897
It is exactly what I am thinking too @sallyruthstruik - auto import / export of txt/md so to work with other programs.

would be great if there is a way to do this (new features or modification of existing code)!

Jake

[2018-06-11 12:56] ndbeals opened #2067 "Table of Contents Links are Case Sensitive"
# Current behavior

Currently, when using a table of Contents (auto generated in another tool, as Boostnote doesn't have this feature yet), the links to the headings must be capitalized the same as the headings themselves are.

![Demonstration](https://media.giphy.com/media/2wVDIBhAOjcAMVF7UM/giphy.gif)

# Expected behavior
When I click on a TOC heading, it'll jump me to the correct heading.

# St

[2018-06-11 14:17] ndbeals commented on #1436
#2067

Referenced in a relevant issue: Table of Contents case sensitivity

[2018-06-11 15:30] #184 closed

[2018-06-11 15:32] Rokt33r commented on #2052
@OnlineVagrant You should use a mono-spaced font to achieve it!

[2018-06-11 15:32] #2052 closed

[2018-06-11 15:33] Rokt33r commented on #2052
Like Consolas.
https://en.wikipedia.org/wiki/Consolas

[2018-06-12 00:53] OnlineVagrant commented on #2052
Thank you!!

[2018-06-12 02:18] mikeparisstuff commented on #2061
Any resources on how to contribute/build plug-ins? I may have a few hours one of these days to give it a go.

[2018-06-12 04:30] digital-abyss commented on #387
:+1:

[2018-06-12 14:56] coldmug opened #2068 "Option to always open web links in browser, or copy link URL"
# Current behavior

Clicking on a link boostnote attempts to open the URL inside itself, which behind a work firewall for example never works. At worst it messes up the CSS stylesheet so all other notes also look bad.

# Expected behavior

Clicking (or maybe right clicking) a link should allow copying the url or opening it in a browser window. Or allow an option in preferences to always open links

[2018-06-12 15:40] albaad commented on #1467
I don't know about MacOS, but it works OK for Windows for v0.11.5. You just need to treat it as an actual PHP file (you'ill need the **<?php** at the start);

Markdown
![github_1](https://user-images.githubusercontent.com/16304161/41300947-40f59344-6e67-11e8-8eb1-32031585303f.PNG)

Result
![github_2](https://user-images.githubusercontent.com/16304161/41300993-5fa36942-6e67-11e8-85bf-b1c301798b49.P

[2018-06-12 17:37] onlyphantom opened #2069 "Theme Monokai: Some Text UI elements barely visible"
# Current behavior

On Monokai Theme, some of the UI text elements such as:
- Snippet Code tab name
- Folder Selection (text field) on top of individual notes when clicked; See screenshot.

... are not inversed to a white / light color but remained black. In my opinion it should be a simple CSS fix to have it inverted to light color. I have limited experience with JS / github so couldn't help but

[2018-06-12 19:54] VizualAbstract commented on #1871
I'm also experiencing this problem. All of my notes for several important meetings coming up are stored here, now I have no access to them.

[2018-06-12 20:13] VizualAbstract commented on #1871
In desperate need of those notes, so I just went into `Boostnote.app/Contents/Resources/app/compiled/main.js` and on line `3595`, I added `if (!note.tags) { return; }`

[2018-06-13 02:06] jakemkc opened #2070 "Open note link from other apps"
# Current behavior

When I right click on the note and select "copy note link", the link only works within Boostnote.

Is it possible to make the links work across different apps?
e.g. in nvalt and things, their url links look like this:

nvalt://find/hello
things:///show?id=50C68809-9697-43AE-B7DE-A25D742EC16A

If I make a link "nvalt://find/hello" in Boostnote, I can click on it and it will brin

[2018-06-13 03:15] fanrongqitiancai opened #2071 "insert the image into boosnote can not find in the floder attachments。"
# Current behavior
when I use ctrl+c  ,I copy an image into the shear plate。I click  the bosnote edit ,and use ctrl+v . then I can see this:
[code]
but when I open the floder attachments\4a2fe04c-7eda-4c5e-bea8-ebf8455a9eab I can not find the file
2541ff29.png.
where is it?
<!- -
Please paste some **screenshots** with the **developer tool** open (console tab) when you report a bug.

If your issue

[2018-06-13 05:34] jonblack opened #2072 "Boostnote fails to start up"
When I start boostnote the spinner icon stops spinning after about 5 seconds and the application appears to be stuck. The storage linked in boostnote is a mounted webdav partition, so perhaps this has some effect on it.

Running boostnote from the command-line revealed no messages at all and I can't find a log file anywhere. There also doesn't appear to be any verbose output or debugging options o

[2018-06-13 07:08] max-buranbaev opened #2073 "Flickering of markdown preview on switching between notes."
# Current behavior
If user has opened snippet note and than click to markdown note with existed code there is some kind of flickering. The cause of the issue is applying styles for the markdown preview after mounting component.
[![Video Demonstration](https://img.youtube.com/vi/-Y8CoFRhO5c/0.jpg)](https://www.youtube.com/watch?v=-Y8CoFRhO5c)

# Expected behavior
Markdown preview should be visible

[2018-06-13 07:17] max-buranbaev commented on #2073
I've done a fix #2074

[2018-06-13 07:33] edgar2sbh commented on #1862
Same error here. I have Ubuntu 16.04 with neon kde.
I reinstalled the app and still appears from time to time. The first time that bug appeared was shortly after updating from 0.11.4 to 0.11.5

[2018-06-13 07:41] edgar2sbh commented on #2049
Maybe related #1862

[2018-06-13 07:43] edgar2sbh commented on #1862
Maybe related #1862

[2018-06-13 07:44] edgar2sbh commented on #1862
Maybe related #2049

[2018-06-13 10:13] yougotwill commented on #2069
Hi @onlyphantom! I made the Monokai theme through trial and error so it is rough around the edges :) If you want to have a go fixing it I suggest you use the developer tools in the BoostNote app (Look under View).

Then if you press the little mouse button in the top left corner of the inspector you can then inspect different elements on the page. This is how I find the correct classes that need t

[2018-06-13 10:14] yougotwill commented on #2069
Let me know if you get stuck. Good luck and I look forward to seeing your fix 👍

[2018-06-13 10:18] axionl commented on #2049
It works for a while, after patching.

[AUR patch](https://aur.archlinux.org/cgit/aur.git/tree/electron-v2-compatibility.patch?h=boostnote)

[2018-06-13 10:18] #2049 closed

[2018-06-13 10:20] wuliqiangqiang commented on #2023
Same here

![image](https://user-images.githubusercontent.com/16221367/41345439-3398405a-6f36-11e8-9eb4-f7bc3d3e5179.png)

the images was broken .. i lose all~~~

[2018-06-13 10:34] yougotwill commented on #2043
@bhrd Fixed :) https://github.com/BoostIO/Boostnote/pull/2075

[2018-06-13 10:45] joeappleton18 commented on #1469
I would also really like this functionality.

[2018-06-13 11:10] clone1612 commented on #2072
What operating system are you using? For Arch Linux they moved Electron 2 to stable (which is incompatible with Boostnote) where the behaviour you describe appears. However I've already updated the package with a patch (although after your issue was created).

[2018-06-13 11:20] jonblack commented on #2072
I'm on Debian unstable.

[2018-06-13 11:21] ehhc commented on #2023
@wuliqiangqiang no, you have not lost the images. They aren't shown at the moment.. That is not the same. It will (hopefully) be fixed in the next version.
@Rokt33r can say when that will be :)

[2018-06-13 11:31] clone1612 commented on #2072
Hmm, so I would say it's Electron related. Is there an error visible on the developer tools console? You can access it with ``Ctrl+Shift+I``.

[2018-06-13 15:25] ruinb0w opened #2076 "cursor not match with words in full screen mode and while I hide the left panel."
# Current behavior
console log
[code]

# Expected behavior
1. cursor not match with words in full screen mode and while I hide the left panel.
2. in edit mode , the scroll not so fluency like view mode.
# Steps to reproduce

1.
2.
3.

# Environment

- Version : 0.11.4
- OS Version and name : manjaro-budgie-17.10

[2018-06-13 18:13] VizualAbstract commented on #1871
I had to add it in several other locations as well, mostly anywhere `note.tags` is being used.

[2018-06-14 01:27] sosukesuzuki commented on #2063
@romerosms This issue is resolved by #2065 !

[2018-06-14 01:27] #2063 closed

[2018-06-14 02:28] sosukesuzuki commented on #2070
It is impossible to you said in Boostnote...
However, I feel it is great feature request.:+1:

[2018-06-14 02:37] sosukesuzuki commented on #2071
@fanrongqitiancai Maybe, this issue is resolved by #2002. Please wait to release next version!:+1:

[2018-06-14 02:37] #2071 closed

[2018-06-14 03:04] sosukesuzuki commented on #2076
@ruinb0w I want you to send screen capture:pray:

[2018-06-14 04:11] ruinb0w commented on #2076
@sosukesuzuki everything look well after upgrade to 0.11.4-2

[2018-06-14 04:11] #2076 closed

[2018-06-14 04:18] ruinb0w opened #2078 "[feature request] muti-level folder"
one level is not enough, hope you guys can add more folder level, at least two.

[2018-06-14 05:59] jonblack commented on #2072
The error doesn't happen all the time. Every week or so it seems to happen. Next time it occurs I'll open up the console, take a look, and report back.

[2018-06-14 06:11] jonblack opened #2079 "Use locally installed plantuml"
When a plantuml diagram has invalid syntax a call is made to plantuml which returns a 404 response, and then the error image is shown.

I would expect a locally installed version of plantuml to be used for all generation. I'm not sure if the plantuml demo server is used for all plantuml generation but I hope not since that would mean it won't work when there's no internet connection (and if the pl

[2018-06-14 06:34] ehhc commented on #2079
you can change which planuml server you use in the settings (Preferences -> Interface -> PlantUML Server (at the bottom of the settings)).
So if you have a local planUML server running, you can simply use this :)

[2018-06-14 06:40] sosukesuzuki commented on #2079
@jonblack Is this issue resolved?

[2018-06-14 06:45] makdiuk commented on #1697
UP :)

[2018-06-14 06:59] clone1612 commented on #1946
Thanks for the release tag!

[2018-06-14 06:59] #1946 closed

[2018-06-14 07:10] fornous opened #2080 "Scrolling not working in edit mode"
# Current behavior
When editing note scrolling doesn't work. It works only in Preview mode.

# Expected behavior

# Steps to reproduce

1.
2.
3.

# Environment

- Version : 0.11.6
- OS Version and name : Windows 10 April Update

[2018-06-14 07:29] jonblack commented on #2079
It's not that nice to have to setup a local plantuml server just for boostnote, and I can imagine some users aren't able to do that since the you need to clone the repository and either run maven or the docker image, which is quite technical.

[2018-06-14 07:39] sosukesuzuki commented on #2079
I see, I put the label "feature request":+1:

[2018-06-14 08:03] garmede opened #2081 "Not working PlantUML on Non-English"
# Current behavior
![boostnote_2018-06-14_16-59-56](https://user-images.githubusercontent.com/2133201/41399107-67f2d45a-6ff4-11e8-9551-91b9932f5bd2.png)

# Expected behavior

# Steps to reproduce

1. Use Non-English between `@startuml` and  `@enduml`

# Environment

- Version :11.6
- OS Version and name :Windows7

[2018-06-14 08:04] OnlineVagrant opened #2082 "Unexpected behaviour when triggering snippets"
# Current behavior
### Example snippet

![snip](https://user-images.githubusercontent.com/39413259/41398438-b7044108-6f8d-11e8-9c15-3ff4b0525b0e.JPG)

When triggering a snippet twice on the same line, the set cursor position doesn't update.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/39413259/41398461-c6cac1fc-6f8d-11e8-99c2-3c33cb9a9f50.gif)

### Console
![console](https:

[2018-06-14 08:10] OnlineVagrant opened #2083 "admonitions isn't displaying properly"
# Current behavior

![adomonition](https://user-images.githubusercontent.com/39413259/41399542-f6a9c406-6f90-11e8-9752-1ec711b6e1c3.JPG)

### Console
![add](https://user-images.githubusercontent.com/39413259/41399731-7b2f3918-6f91-11e8-986d-a175813e385a.JPG)

# Expected behavior
![image](https://user-images.githubusercontent.com/39413259/41399616-284f6290-6f91-11e8-88ca-8feda00e69d0.png)

# Enviro

[2018-06-14 08:25] ghost opened #2084 "Please add more than one cursor position for snippets templates"
For example,

`\frac{ :{1} }{ :{2} }`

so pressing `tab` takes you to the first cursor position marked with an underscore  `\frac{ _ }{} `and pressing `tab` again takes you to the second cursor position marked by the underscore  `\frac{}{ _ }`

[2018-06-14 09:57] f4il commented on #2023
@ehhc thank you for you effort!
But it is really sad that maintainers don't care - second release without fix, and users need to again downgrade to 0.11.4 to have a images.
cc @Rokt33r

[2018-06-14 10:35] makdiuk commented on #2080
+1 - On MacOS High Sierra with Magic Mouse no scrolling
From touchPad work but terrible.

[2018-06-14 10:38] makdiuk opened #2086 "M - button on MacOS Switch Mode without CMD"
Toggle mode switch without Cmd+M when you in edit mode
Just Press M and that's all.

[2018-06-14 10:40] makdiuk commented on #2086
As workaroud
![image](https://user-images.githubusercontent.com/5962295/41407544-6c81bbec-6fd8-11e8-8a2c-b7089d02b3b9.png)
Delete Keys - Combination

[2018-06-14 10:41] makdiuk commented on #2080
As workaroud
![image](https://user-images.githubusercontent.com/5962295/41407544-6c81bbec-6fd8-11e8-8a2c-b7089d02b3b9.png)
Delete Keys - Combination

[2018-06-14 10:41] makdiuk commented on #2080
After this Scroll - work better

[2018-06-14 10:56] ehhc commented on #2023
@iamaleaf my fix should do that automatically... it does not?!

[2018-06-14 10:57] ehhc commented on #2023
@f4il it should be fixed by now.. the images should be moved automatically by my fix which is contained in the newst build.. Do you get an error in the developer console?

[2018-06-14 11:07] katafrakt commented on #2086
I confirm this issue. Also, I changed toggle hotkey to `Cmd + ]` and it happens every time I write `]` now, so it's a generic problem.

[2018-06-14 13:40] kobtea opened #2087 "[Feature Request] Disable Hotkeys"
I want to disable hotkeys.

[2018-06-14 14:28] ehhc commented on #2020
Is it solved with the new version? If yes, could you close this issue? :)

[2018-06-14 14:30] OnlineVagrant opened #2088 "snippet notes are not displaying in markdown"
# Current behavior

![fffff](https://user-images.githubusercontent.com/39413259/41418441-15d2eddc-6fc6-11e8-815d-6015ba34bf71.gif)

# Environment

- Version :0.11.6
- OS Version and name : Windows 10

[2018-06-14 15:12] thedavidgay commented on #2086
I am experiencing this issue on macOS High Sierra 10.13.5.

In my case, pressing `m` followed by `e` toggles the editor mode without any modifier keys being held – such as when typing the words "met" or "requirements".

I used the same workaround @makdiuk mentions.

[2018-06-14 15:23] FistfulOfStars opened #2089 "[Feature Request] Save zoom level across sessions"
Regarding the recent addition of zoom shortcuts ([pull request by @ZeroX-DG](https://github.com/BoostIO/Boostnote/pull/1969))

Would it be possible to save the zoom level across sessions?

Meaning I set the zoom level, close the application, and that same zoom level is reapplied upon next launch.

[2018-06-14 15:42] FistfulOfStars commented on #2083
This appears to be working as expected on Linux.

Boostnote 11.6
Linux Mint 18.3 Cinnamon

![untitled](https://user-images.githubusercontent.com/23623453/41422767-41e3a530-6fbf-11e8-95b2-90fbd24203d3.png)

[2018-06-14 15:45] xelldran1 commented on #2086
Same issue.  I downgraded to the past version.

[2018-06-14 15:46] dabrady commented on #2086
Same issue, started happening after I updated this morning.

[2018-06-14 16:48] eullerborges opened #2090 "Notes gone after update"
# Current behavior
After update to the latest version, all my notes are gone, even though the storage is still registered. I tried unlinking and re-adding the storage location, but Boostnote fails to parse the files. File content is in perfect state, it seems (I've opened them and checked). See below a screenshot of the error, which is `EINVAL: invalid argument, fstat`

![boostnote_error](https://

[2018-06-14 16:59] ymm1x commented on #2046
After updating to v0.11.6 in my environment, search performance has improved greatly! 🚀
I have no problem with this issue anymore. thank you.

[2018-06-14 17:16] JustinTisdale commented on #2090
I'm seeing the same issue. Filesystem appears unaffected; it simply won't load the folder in Boostnote.

[2018-06-14 17:47] ndbeals commented on #2089
I was going to open a separate feature request for this, however it's relevant to this feature.

Could we also get a "Reset Zoom" function to go along with persistent zoom levels?

[2018-06-14 17:50] ndbeals commented on #2083
I'm getting the same errors as @OnlineVagrant

# Environment
- Version: 0.11.6
- OS Version and Name: Windows 7 SP1

[2018-06-14 18:20] blforce commented on #2086
Same issue

OS X 10.13.5

[2018-06-14 19:30] MPC-Creative commented on #2086
Same here...impossible to type words with 'm', although it was a fun challenge for the morning coffee! =O

[2018-06-14 20:03] Stephanyan opened #2091 "Invalid url to download the executable file for Windows"
# Current behavior

I wanted to send you a PR to fix that but I couldn't find the GitHub repository for this website [https://boostnote.io/](https://boostnote.io/)

![wrong url](http://g.recordit.co/zKTMElrjNQ.gif)

# Expected behavior

- Wrong url: [https://github.com/BoostIO/boost-releases/releases/download/v0.11.6/Boostnote-win.exe](https://github.com/BoostIO/boost-releases/releases/download/v0

[2018-06-14 20:32] arnaudroques commented on #2081
It looks like the Non-English text has *not* been encoded in UTF8.
(see http://plantuml.com/text-encoding )

[2018-06-14 21:33] jPolo01 commented on #2086
Same issue after updating today. To resolve I deleted the hotkey

macOS High Sierra 10.13.5

[2018-06-14 22:29] lefrenk commented on #2086
Glad to see I'm not the only one. I thought I was going nuts.

[2018-06-14 23:38] kazuedo commented on #2020
I confirmed the problem was solved. Thank you!!

[2018-06-15 03:04] Odinman commented on #2088
same problem

[2018-06-15 05:16] zacharyrs commented on #2086
Issue is the cmd hotkey doesn't seem to count. Changed to 'alt + m' and that works fine.

[2018-06-15 05:40] zacharyrs opened #2092 "Possibly a Material Redesign?"
So, I'm not sure what the interest is, as it's been mentioned before, but seems to die off after a bit.

Just wondering what the demand for a material redesign is, especially considering we now have the kinda out of place material admonitions - which are great, don't get me wrong!

I have some time coming up, and perhaps could work with a few people to first put together some mockups, and then res

[2018-06-15 06:33] ehhc commented on #2020
@Rokt33r  or @kazup01 could you close this issue?

[2018-06-15 06:36] ehhc commented on #2090
I think this is an issue of electron (https://github.com/electron/electron/issues/11570). I think it's fixed with the new release since we will upgrade to electron 2.x with that.
@Rokt33r could say when the next release will be

[2018-06-15 06:58] kazup01 commented on #2020
Thank you @ehhc :) v0.11.6 release blog is here! https://boostlog.io/@kazup01/boostnote-v0116-release-5b222a8d44deba005404673a

[2018-06-15 06:58] #2020 closed

[2018-06-15 07:05] ehhc commented on #2092
at first look i don't think we could get HyperMD work together with the currently used CodeMirror.
If we use it *instead* i think that would mean we will have to redo a lot of work done to customize codemirror so that it works for us (onBlurr handler, onChange handler, etc...)..

[2018-06-15 07:23] fanrongqitiancai opened #2093 "Ability to minimize Boostnote to system tray"
# Current behavior
when I  close the boostnote ，the  note is closed ,but I hope it minimize into taskbar.
like this
![image](https://user-images.githubusercontent.com/9015263/41455540-115ab466-70b0-11e8-9504-3710f3bfa21e.png)

# Expected behavior

# Steps to reproduce

1.
2.
3.

# Environment

- Version :
- OS Version and name :

[2018-06-15 07:28] mappuji opened #2094 "Hotkey `m` should not activated in editor mode."
# Current behavior

When toggle the markdown preview with `m` button in keyboard it got little bit annoying since when I try to type `from`, at the time I arrive in `m` letter, I didn't get my `m` showing instead I just toggle the side markdown preview.

# Expected behavior

When in editor mode, it shouldn't toggle the side markdown preview.

# Steps to reproduce

1. Create a new note
2. Type `fro

[2018-06-15 08:08] chimin17 commented on #2086
same issue, macOS High Sierra 10.13.5

[2018-06-15 08:33] pranayrauthu commented on #2090
I am facing the same issue is there any quick fix for this?

[2018-06-15 09:18] ehhc commented on #2090
@pranayrauthu you could try to copy them the a location *not* in OneDrive.. and then add that location as storage.. not satisfying but maybe you can access your notes again.. at least..

[2018-06-15 12:16] mappuji commented on #2094
Thanks @neurotronix

[2018-06-15 12:21] ndbeals commented on #2092
I think it's been mentioned before, but there is also [Toast UI Editor](https://github.com/nhnent/tui.editor) which could be a good candidate for a WYSIWYG editor.

[2018-06-15 13:12] zacharyrs commented on #2092
Personally I'm not huge on TUI, as it's basically what we have now with a row of buttons at the top?

I liked HyperMD as it was more Typora-esk.
I have something similar bookmarked, but I'm a bit busy right now. I'll take a look tomorrow!

[2018-06-15 13:21] TobseF commented on #2083
Same Problem here.. The Problem is the missing font on Windows.
You can fix it by download and install: [MaterialIcons-Regular.ttf](https://github.com/google/material-design-icons/blob/master/iconfont/MaterialIcons-Regular.ttf).
So Boostnote should deliver this **Material Icons** font during install.

[2018-06-15 13:34] OnlineVagrant commented on #2087
Simply delete the the key combinations in the hot keys menu.

[2018-06-15 13:58] aturkewi commented on #2094
This has been driving me crazy since the last update and kind of renders the boostnote un-usable.

Thanks so much for the explanation and the fix.

[2018-06-15 14:04] ndbeals commented on #2083
Following the evidence provided by @TobseF, I went a little further and I think I've isolated the issue.

The path that BoostNote uses to try and load the MaterialIcons fonts gets mangled on Windows.

Here's the mangled path:
![image](https://user-images.githubusercontent.com/850796/41471797-9394e9c0-7082-11e8-9178-e47269fdb33f.png)

Here's a proper path used for loading the Lato font (both these

[2018-06-15 14:16] ndbeals commented on #2092
TUI isn't "basically what we have now with a row of buttons at the top"

It's a full WYSIWYG editor, additionally it has a split view like what we have right now. I implore you to read the full ReadMe on both of them before making a judgement, instead of just basing your decision off the first gif (which if you had watched completely, you would have seen it showing off the WYSIWYG mode).

It's als

[2018-06-15 14:23] ehhc commented on #2092
anyway i still think that it would break/complicate a lot of the current features..

[2018-06-15 14:36] ndbeals commented on #1772
A possible solution to font embedding (or lackthereof) in HTML files would be to also support exporting to [MHTML](https://en.wikipedia.org/wiki/MHTML) files.

[2018-06-15 14:37] konrad0101 commented on #2094
I thought my Macbook keyboard had finally given out on me, and I was trying to figure out which modifier key was now permanently stuck on.  So happy it's just a bug!

[2018-06-15 14:38] ndbeals commented on #2092
Yeah, I can't argue with that.

[2018-06-15 14:59] johannbre commented on #2083
The fix is in this pull request:
https://github.com/BoostIO/Boostnote/pull/2016

[2018-06-15 15:31] johannbre commented on #2083
I've attempted to fix the problem in this commit: [link](https://github.com/johannbre/Boostnote/blob/877bfd250fbf62cbd822173868271afa930c1cf3/browser/components/MarkdownPreview.js#L29)
I suspect now that it might not fix all cases however. Will also have a look tonight when I have access to a windows machine.

[2018-06-15 15:42] ehhc commented on #2092
Don't understand me wrong: I don't want to discourage you. Try it :)
I just want you to keep in mind that there might be problems.. So that you are not surprised if you encounter some.. :)

[2018-06-15 16:53] mageshravi opened #2095 "Cleaner more distinctive tabs in snippets."
I find it difficult to know which tab I'm currently focusing on. It would be better to have a clear, more distinctive layout.
**Current layout (as seen in Ubuntu 18.04)**
![tabs-now](https://user-images.githubusercontent.com/2898899/41479995-dcac668c-70c4-11e8-9ae5-7376c032eeac.png)

**Suggested layout**
![frame](https://user-images.githubusercontent.com/2898899/41480007-e84badcc-70c4-11e8-8765-85

[2018-06-15 18:15] ndbeals commented on #2083
@johannbre won't that string replace affect already valid filepaths, such as the path to the Lato font?

[2018-06-15 19:03] zacharyrs commented on #2092
@ndbeals, sorry for jumping to conclusions, I did actually have an inkling I was wrong, as I'd looked at using TUI in the past, but it was late and I was lazy, my bad.

Taken a look again this morning, and yeah it does have full functionality, as you stated.
In the even it's not compatible with what we have now, does that matter? It provides its own split view, so we could potentially completely r

[2018-06-15 19:47] pranayrauthu commented on #2090
Thanks @ehhc it worked. Only thing is I had to rename all the folders again.

[2018-06-15 19:57] twilbers opened #2096 "latex macros"
Currently there is no way to make use of latex macros:
* `\newcommand`
* `\def`
* `\declaremathoperator`

If there where a user defined space in the preferences that allowed adding macros, would it be possible to allow inline latex code to make use of those macros perhaps with pandoc's [latex_macros](http://pandoc.org/MANUAL.html#latex-macros)?

[2018-06-15 21:51] vnadella1 commented on #1597
Guys:

I know you guys fixed and closed this, but unfortunately this is still an
issue for me. The strange thing is, This is only an issue for "Markdown".
Snippet works perfectly. Create a snippet - Close the Application - Open it
- It is still there. But Mark downs disappear. I installed the latest
version 0.11.6, but still see the same issue.

I added a comment on git directly but did not see an

[2018-06-15 23:17] jstobin commented on #2094
Aha! I installed an older version because I had no idea what was happening! Thanks for describing it.

[2018-06-16 03:54] zhouxiaoxiaoxujian commented on #2086
You can use 'Command' instead of 'Cmd'.

[2018-06-16 06:29] blahah commented on #2087
Just adding to what @OnlineVagrant said, the way to do that is to empty the fields and hit the save button:

<img width="603" alt="screenshot 2018-06-16 07 29 20" src="https://user-images.githubusercontent.com/836040/41496404-01d1a356-7137-11e8-936b-75ba1c3c08da.png">

[2018-06-16 06:35] blahah commented on #1803
Expanding on what @adlersantos said, the simplest implementation would be to add these options to the hotkeys settings pane but not to choose defaults for some/all of them (i.e. leave them blank by default). Defaults for different OSes could be later added as a separate feature after collecting analytics / user feedback.

[2018-06-16 07:03] blahah opened #2097 "Control to collapse sidebar disappears in tag list mode"
# Current behavior

The leftmost pane has a `<<` control to collapse the pane. It is currently:
- visible when that pane is set to list 'Notes'
- not visible when that pane is set to list 'Tags'

<img width="173" alt="screenshot 2018-06-16 07 55 47" src="https://user-images.githubusercontent.com/836040/41496576-cdff7946-713a-11e8-8b22-710c177950b7.png">

![screenshot 2018-06-16 07 52 55_blurred](h

[2018-06-16 07:15] blahah commented on #2078
Duplicate of #586

[2018-06-16 07:28] mbarczak commented on #2088
Same problem on Linux when on 0.11.6. After going back to 0.11.5,works fine.

[2018-06-16 14:41] eullerborges commented on #2090
Thanks, @ehhc, hopefully this will be fixed on the next release. For now I've been using it on a local folder.
@pranayrauthu I should have explained the workaround process, sorry about that.

[2018-06-16 15:13] Oslint commented on #1954
I also noticed that there are many other commands.

[2018-06-16 15:13] #1954 closed

[2018-06-16 18:44] ax-vasquez opened #2098 "Boostnote detecting perpetual CMD keystroke when it's not pressed"
# Current behavior
- "Lock"/ "Unlock" toggle no longer works

# Expected behavior
- "Lock" behavior keeps the editor in "edit" mode after tabbing to another application or window

# Steps to reproduce

1. Create a new document
2. Edit the document
3. Click the "Lock"/"Unlock" toggle to set it to "locked"
4. Switch to another application or window
5. Go back to Boostnote -> The document will no lon

[2018-06-16 21:47] Airgunster opened #2099 "Hierarchy in tags (like `#tag_h1#tag_h2#tag_h3`)"
Hi there,

It would be extremely nice (from productivity/time point of view) to have hierarchy in tags (like `#tag_h1#tag_h2#tag_h3`) so you will be able to group notes into groups of tags.

Thanks a lot in advance,
Alexey

[2018-06-16 23:16] sharif1093 opened #2100 "[feature request] Export to a multitude of formats (including .docx/.tex) by integrating pandoc"
(Couldn't find if anyone else has requested this feature before.)

# Current behavior
BoostNote only exports single notes to `.txt`, `.md`, and `.html`.
Even folder export works by exporting individual notes into _separate_ outputs.

# Expected behavior
* Increase export file types by integrating **pandoc**.
* Also support exporting of several notes into one single output (pdf/epub/...).

[2018-06-17 12:35] kschiffer commented on #2094
The bug actually stems from Boostnote not respecting whether the M key was pressed with or without the CMD key, so just the M key will suffice to trigger the CMD + M hotkey.

[2018-06-17 16:45] ax-vasquez commented on #2098
Not sure what happened, but this stopped happening today - I can't replicate the issue, but as far as I can tell, there were no updates. There may be some edge condition here I am unaware of. Will keep my eyes open.

[2018-06-17 16:48] ax-vasquez commented on #2098
Well that didn't take long, but I am still not sure why this is happening - I started editing a new document and this issue started happening, but only for a brief moment. After toggling back and forth a couple of times, the issue resolved itself.

[2018-06-17 17:15] ax-vasquez commented on #2098
Last observation for this issue - it seems some pattern of key strokes may cause this issue somehow. I noticed when typing while the document is locked in edit mode, it will automatically toggle the view mode right before the lock icon stops working.

I realize this is a hard-to-follow issue, so I am doing what I can to get relevant info, but I think the best thing here would be a video of the iss

[2018-06-17 20:40] ax-vasquez commented on #2098
Figured it out. The issue is that **the hotkey for 'Toggle Editor Mode` [CMD + M] is somehow messed up**.

**Replication Steps**
1. Create a new document
2. While in edit mode, press the "M" key several times > Observe Boostnote incorrectly toggles the edit mode
3. Now, continue doing so, but press and hold down the COMMAND button > Observe nothing happens when this is pressed

I am certain my key

[2018-06-17 20:45] ax-vasquez commented on #2098
An additional little "quirk" about this issue - it never happens when typing capital "M" - only lower-case "m". It seems Boostnote is detecting that the command key is always being pressed down when it's not.

[2018-06-17 20:48] ax-vasquez commented on #2098
(Last comment, I promise) Updated the title to reflect the issue - I think it's simply a matter of the app thinking the CMD key is constantly being held down. This is why the "edit" lock issue also happens. This issue will presumably affect any hotkey that requires the use of the CMD key.

[2018-06-17 21:40] zacharyrs commented on #2092
Ended up finding [this](https://github.com/marktext/marktext) in my starred repos, might be interesting?

[2018-06-17 23:21] allenkuocode commented on #2023
@ehhc, Thanks for the fix, however, the problem seems to persist, the image files are still in the `images/` folder and are not automatically moved to associates folders in the `attachments/`.

[2018-06-18 02:20] kohenchia commented on #2023
Here's an alternate fix for people who are comfortable with the command line:

**Debugging**

* If you look at your notes with broken images in edit mode, you'll notice that the images are represented as a path to `/:storage/0.xxx.png`. These images do not load.
* If you add a new image to the same note, you'll notice that the image has a path that looks like `:storage/<key>/xxx.png` (notice the m

[2018-06-18 02:52] do-adams commented on #2094
Glad to see I wasn't the only one. This bug was driving me crazy.

[2018-06-18 06:28] ehhc commented on #2023
@kohenchia i fear the problem is not one of the team but of me for not properly testing my refactoring.. (resp. for forgetting to test the "migration" at all..). I'm sorry for that..

[2018-06-18 06:52] johannbre commented on #2083
@ndbeals no, it won't. The loading of the Lato fonts in MarkdownPreview.js is also broken. It just seems to work when you look at the network activity in developer tools because those fonts get loaded in other places. I've pushed another update to my previous commit which seems to fix the problem properly when I test on Windows and macOS.

[commit link](https://github.com/johannbre/Boostnote/blob/

[2018-06-18 07:36] dogfish182 commented on #1988
so after the latest updates all new pictures are working but all previous ones are still broken.

all broken pages have a double

file://file://

reference. is this a fixable thing or must I just forget about the screenshots?

[2018-06-18 10:13] nesmyslny commented on #2092
As a user I really like that Boostnote uses CodeMirror. I prefer to edit plain text and love to have CodeMirrors vim mode (and hope to be able to configure it more in future versions). Actually I was very happy when finding out Boostnote works like that and doesn't use a WYSIWYG editor :smile:
Just want to add another point of view, so this is not meant as a negative response in any way :v:

[2018-06-18 12:41] kpollich commented on #2098
I'm also seeing this behavior, pressing M toggles the editor mode as you've described.

[2018-06-18 13:31] bruno-rino commented on #2098
Same here, typing a `m` in the editor toggles the editor mode.

[2018-06-18 14:38] nmearl commented on #1767
Was this changed recently? I feel like a few versions ago, it was either editor view or preview view, and it was great. Now we're unable to have an editor-only view?

[2018-06-18 16:46] islanddog commented on #2090
For us people slow to this thread; any suspected release date and renaming the folders on the Boostnote side or folder side? -Thanks

[2018-06-18 16:58] flecho opened #2101 "MAC OS - boostnote toggling in a weird way."
# Current behavior

Hello, I am a user of Boostnote. :-)
After the recent update to 0.11.6, boostnote behaves in a weird way.
Every time I press the 'm' button, the `edit` mode changes into `view` mode, which hampers my editing the note.
Are there anybody who suffer from the same issue?
Thanks,

# Expected behavior
It shouldn't toggle the mode, when I press `m` button.

# Workaround
I just found o

[2018-06-18 19:37] dbburgess commented on #2101
Likely duplicates: #2101, #2098, #2094, #2086

[2018-06-18 22:08] ax-vasquez commented on #2101
@dbburgess confirming your suspicion - I created #2098 and it is the same issue as this one.

[2018-06-19 02:27] zhuzelong commented on #2098
Same here, it is a bit annoying.

[2018-06-19 05:12] ax-vasquez commented on #2098
@zhuzelong as a rough "workaround" you can just delete the text from the key bindings fields.

It's not perfect, but it's made this issue much less annoying :)

[2018-06-19 05:39] voidsatisfaction commented on #2101
meee tooo

[2018-06-19 08:04] OnlineVagrant opened #2102 "Please make the preview page width customizable"
# Current behavior

when typing text or code the page width isn't a problem. However, when type setting mathematics katext centres the math block at the centre of the page but since the preview page width is so long the katex code ends up being displayed to far to the right.
![boost](https://user-images.githubusercontent.com/39413259/41584859-ca0e19b4-737e-11e8-95c4-4f2ae765c271.JPG)

# Expected b

[2018-06-19 08:42] ehhc commented on #2102
It might be possible with custom css, woudn't it?

[2018-06-19 11:48] weaming opened #2103 "Want a new feature: color in markdown"
I want a feature render text in special color:

`#347E5E`   -->    `<p style="color: #347E5E">#347E5E</p>`

[2018-06-19 12:03] OnlineVagrant commented on #2102
I'm not sure I know how to do that. I have tried by I wan't successful. Maybe it is because I don't know much css.This is what I did.

![ten percent](https://user-images.githubusercontent.com/39413259/41596041-5c63b3b2-739f-11e8-8a47-cafe15d4a69a.JPG)

only the paragraph is being manipulated the math block stays the same.
![boost](https://user-images.githubusercontent.com/39413259/41596078-809fd42

[2018-06-19 12:13] ehhc commented on #2102
Did you try something like the following? As custom CSS ??
[code]

[2018-06-19 13:41] OnlineVagrant commented on #2102
It's not the convention, But I like it. It isn't left justified and everything lines up this way thank you.

[2018-06-19 13:41] #2102 closed

[2018-06-19 13:44] ehhc commented on #2102
you're welcome

[2018-06-19 16:16] yehia123 commented on #2086
same here. Im experiencing it on Seirra. some of the hot keys contain bugs.

[2018-06-19 16:31] Mindstormer619 opened #2104 "No scrolling in edit mode when code block has any line with over 150 characters"
*Note:* This may be related to #2080.

# Current behavior

Scrolling using mouse wheel does not work in edit mode if there is any line within code block (triple-backtick) which has over 150 characters.

Weird thing is, this reduces to 80 characters when Developer Console panel is open. If I add one extra character, no longer scrolls.

![image](https://user-images.githubusercontent.com/441849/41610

[2018-06-19 17:23] FaithInMotion commented on #2098
I can't type any notes now because of this behavior... unfortunately, M is a very common letter...

[2018-06-19 19:49] jk3us commented on #1934
Because Google File Stream apparently changes it's drive letter willy nilly, I had to go into the storage sqlite file/db and change the drive letter for my Google Drive's storage location for boostnote to even open.  It would be better if it just opened with that location unavailable.

[2018-06-19 22:09] dpo commented on #2101
Same here. Makes Boostnote unusable really.

[2018-06-19 22:12] Rokt33r commented on #2094
I'll look around this soon. Sorry for making you suffer...:cry:

[2018-06-20 03:15] hminle commented on #2023
@ehhc: so what we can do now????
I met the same issue.

[2018-06-20 03:27] Rokt33r commented on #2023
I'll look around from today and the next week. (I have to go Chiana for a business trip from Thursday to Sunday.)

I'm really sorry. I was too busy to take care of this project... But, the urgent tasks are finished. And, we're trying to find how could we make us focus on Boostnote.

[2018-06-20 06:49] ehhc commented on #1980
@jonblack actually the root path changed with version 0.11.5.. But with version 0.11.6 a mathod to copy them from the old location to the new one exists..(I'm sorry that i forgot about that in the 0.11.5 version :( ) Obviously it dosen't work though.. :/
I just can say we're looking to it... sorry for the problems

[2018-06-20 07:32] voidsatisfaction commented on #2101
As I checked source code, problem is here

[code]

these hotkeys are linked to `Mousetrap library` which makes shortcut possible at global level.

check https://github.com/ccampbell/mousetrap

@kazup01

p.s I want to fix this problem but currently I have npm error so I will try this after several hours later

[2018-06-20 10:28] sosukesuzuki commented on #2087
@kobtea Is this issue resolved?

[2018-06-20 12:34] yosmoc commented on #2070
@jakemkc Would you please try in 0.11.6 again? We discussed this url scheme things in https://github.com/BoostIO/Boostnote/issues/2003 . I guess 0.11.6 can handle your case.

[2018-06-20 12:41] NotFounds opened #2108 "[Feature request] Add "Copy" button"
It would be cool to add a button which to copy a text in snippet page.

[2018-06-20 13:01] jakemkc commented on #2070
@yosmoc

Boostnote can open links such as `nvalt://find/grocery_list`. This works well in my computer.

However my question is to have boostnote creating url note link such as `boostnote://find/grocery_list` that other programs can read. Say I enter the link in firefox, it will run boostnote and bring up the "grocery_list" note.

Jake

[2018-06-20 13:43] ehhc commented on #2103
If you go to preferences > Interfaces > Sanitizazion and change it to "allow styles" you already are able to do exactly what you want.. :)

[2018-06-20 13:51] yosmoc commented on #2081
Yes, [markdown-it-plantuml](https://github.com/gmunguia/markdown-it-plantuml) that is used in boostnote doesn't encode before sending to server. [This pull request](https://github.com/gmunguia/markdown-it-plantuml/pull/7) solved this problem and it is in the review status. I hope it will be included in the next release. Next release will come in this week.

I will make PR for updating mardown-it-p

[2018-06-20 13:58] yosmoc commented on #2070
@jakemkc I see. Thanks!

[2018-06-20 14:07] ehhc commented on #2070
I think this blog discusses a similar problem.. https://glebbahmutov.com/blog/electron-app-with-custom-protocol/ maybe we can "steal" their solution :)

[2018-06-20 14:24] ehhc commented on #2023
Maybe it is fixed by this? https://github.com/BoostIO/Boostnote/pull/2107 @Rokt33r ?

[2018-06-20 15:54] webwake commented on #691
Steps to reproduce (version 0.11.6) create a new note, enter 4 single quotes followed by a new line followed by 4 single quotes. Close and reopen. The new note will no longer be loaded or available. Breaks on both markdown notes and code snipit notes
[code]

[2018-06-20 17:22] Rokt33r commented on #2023
@ehhc I need to know how can I reproduce the problem. Could you tell me the scenario what the PR supposes to fix?

[2018-06-20 17:52] Rokt33r commented on #2098
It seems to be a bug of electron v1.8.6. We have to use `Command` rather than `Cmd` to avoid this bug.
I'm going to release temporary fix soon.

[2018-06-20 17:54] Rokt33r commented on #2098
Sorry, I misunderstood. It seems to be a bug of Mousetrap.

[2018-06-20 17:58] #2086 closed

[2018-06-20 17:58] #2094 closed

[2018-06-20 17:58] #2098 closed

[2018-06-20 17:58] #2101 closed

[2018-06-20 18:18] kobtea commented on #2087
Thank you for replies.
But, an error `Error occurs!` appears when emptying text boxes.
I'm using v0.11.6.
![screenshot from 2018-06-21 03-09-38](https://user-images.githubusercontent.com/1685207/41676520-c8b5917c-7500-11e8-87b3-5819a9fe8226.png)

[2018-06-20 18:49] idea-list commented on #2099
I second this, also was looking to same feature. I like [the way it is done in Bear app](https://blog.bear-writer.com/organize-notes-with-tags-and-infinite-nested-tags-c42b02b2c0d7).

[2018-06-21 01:30] samontea opened #2111 "Pressing `m` in editor triggers togglemodemenu"
# Current behavior

Pressing `m` in the editor triggers toggle mode menu and inserts `m` into the current note in v0.11.6

<img width="1380" alt="screen shot 2018-06-20 at 21 24 48" src="https://user-images.githubusercontent.com/1585424/41692911-ca76e644-74d0-11e8-9d56-c5b2bdb19b13.png">

# Expected behavior

Pressing `m` inserts the character `m` into the current note without toggling the mode me

[2018-06-21 03:37] #2073 closed

[2018-06-21 03:42] sosukesuzuki commented on #2087
@kobtea I see. I want you to create new issue for that  you said. Also I'll put label "feature request" to this Issue.

[2018-06-21 03:56] zacharyrs commented on #2086
Woops, didn't mean to trigger that.

[2018-06-21 03:59] weaming commented on #2103
@ehhc I tried it, but

![image](https://user-images.githubusercontent.com/10275711/41697207-58753df0-754a-11e8-9f09-363f503dfadb.png)

The render color is not red.

And, the feature I want is it can render it automatically

[2018-06-21 04:54] neouyghur commented on #570
is it done yet? Thanks.

[2018-06-21 06:33] jonblack commented on #1980
I think there are multiple problems. If I manually move the images to the attachments folder it still doesn't load them. The path it's trying to load has the following prefix: `file:///file:///`, which obviously doesn't work.

[2018-06-21 06:48] ehhc commented on #1980
Hi,
i think/hope both is fixed with https://github.com/BoostIO/Boostnote/pull/2107
First problem: I have not considered that the old path started with "/:storage" instead of ":storage". -> the double file:// problem..
Second problem: I think the migration doesn’t work because the old way (i'm not completely sure about that) was "/:storage/path/..." with "/". In the first migration try i assumed th

[2018-06-21 06:48] ehhc commented on #2103
are you sure, you enabled the correct option in the preferences?!

[2018-06-21 07:34] f4il commented on #2023
@Rokt33r probably you need to:
- install Boostnote in version `<=` `0.11.4`
- create new note, and paste from clipboard some images to note
- check preview - images should be there
- update to newer version
- check again the note again - images should be broken.

[2018-06-21 08:35] neouyghur commented on #276
with custom CSS, according to @jsnjack answer, I solved this problem.

[code]

[2018-06-21 09:33] srusso commented on #2111
Experiencing the same issue myself

[2018-06-21 14:56] OnlineVagrant opened #2112 "option to open linked notes in a pop up window"
While I like the feature of linking notes and use it a lot, I would like an additional feature. The option to open a linked note in a pop up window. This feature would be nice for short notes you would like to refer back to such as in my case, mathematical definitions or Theorems

For example, consider the following note
![1](https://user-images.githubusercontent.com/39413259/41726200-05904d70-754

[2018-06-21 16:06] breath-ee commented on #2111
I'm getting similar issues in OSX 10.11.6.

Change the default hotkey to `Alt + M` seems to sort this!

[2018-06-21 18:15] samontea commented on #2111
Cool closing duplicate issue. Thanks y'all. 🎉

[2018-06-21 18:16] #2111 closed

[2018-06-21 23:41] thcnunz opened #2113 "Pushing "lowercase m" key on the keyboard hits the Toggle button"
# Current behavior
When hitting the "lowercase m" key on the keyboard hits the Toggle button.

have only tried this on MacOS. Not sure about Windows.

# Expected behavior
is to type the letter "m" and not to hit the "Toggle" button.

# Steps to reproduce

1. Create or open a note
2. Start typing into the note and push the letter"m"
3. View behaviour.

# Environment

- Version : 10.13.5
- OS Versio

[2018-06-22 00:07] jdugan1024 commented on #2113
I have this problem as well.  I really love Boostnote, but this bug is seriously making it hard to use!

Boostnote version 0.11.6 (0.11.6) -- it started right after the upgrade but I hadn't gotten around to reporting it yet.

I'm using MacOS 10.13.4.

[2018-06-22 02:29] forbidden404 commented on #2113
Same problem here, just noticed it while writing a markdown note.

[2018-06-22 02:34] Rokt33r commented on #2113
It has been fixed already. And the fixed version will be released in mid of the next week!
https://github.com/BoostIO/Boostnote/pull/2110

[2018-06-22 02:34] #2113 closed

[2018-06-22 04:26] KenrySanchez opened #2114 "Error behaviour while writing"
# Current behavior

# Expected behavior

Sometimes, while I'm writing the screen changes the display preview without making any option. It just happens. it's really annoying

# Steps to reproduce

1. write a lot

# Environment

- Version : 0.11.6
- OS Version and name: MacOs Hight Sierra

[2018-06-22 06:35] weaming commented on #2103
@ehhc Okay, html style works. Maybe I forgot click save button.

[2018-06-22 07:00] SubtleParesh commented on #1001
I am working on this one, **back Button feature**, I am creating a **back** and **forward** button to provide navigation to previous notes we have opened,  for Markdown-notes only. Its working basically, but any details on this feature ... please comment

[2018-06-22 07:37] scriptfx opened #2115 "Flatpak app"
Actually Flatpak has better support than snap as you can see [here](https://kamikazow.wordpress.com/2018/06/08/adoption-of-flatpak-vs-snap-2018-edition/).
It could be great to add a Flatpak package.

[2018-06-22 07:54] weaming opened #2116 "Search suggestions"
* Put the highlighted result in the center of the window of boostnote app
* After one search, I want to use `Enter` to search next. But current status is editing the text after search

[2018-06-22 09:34] yougotwill commented on #2069
Will try and take a look at this on the weekend.

[2018-06-22 09:40] awhale commented on #2114
In the Hotkeys panel of the preferences page, there is a keyboard shortcut to toggle editor mode.

The default value is set to 'CMD M' (or 'CTRL M' I cant remember), but the hotkey appears to be triggering on just 'm', so every time you enter 'm' while typing it will toggle preview mode.

As a workaround you can unbind the hotkey

[2018-06-22 10:18] laobubu commented on #1971
HyperMD is based on CodeMirror. It's really easy to integrate

![tt](https://user-images.githubusercontent.com/1373914/41771619-4fe4c29c-7648-11e8-85d1-c8c411feda1f.gif)

The project is too big for my poor network, I did a swallow clone and tried adding HyperMD.

No switch yet.

[code]

[2018-06-22 10:30] laobubu commented on #236
A simple WYSIWYG Patch, based on HyperMD: https://github.com/BoostIO/Boostnote/issues/1971#issuecomment-399395989

Welcome to try HyperMD: https://github.com/laobubu/HyperMD

![tt](https://user-images.githubusercontent.com/1373914/41771619-4fe4c29c-7648-11e8-85d1-c8c411feda1f.gif)

[2018-06-22 11:34] Pudge601 commented on #2114
Looks like this was solved by https://github.com/BoostIO/Boostnote/commit/7c0097951c550c86be785f0150d2c2c835c6f329#diff-38fb68fc79bd352622982a452f398fed

But that's just updating the default, so to get this fix, you'll need to modify the hotkey to change 'Cmd + M' to 'Command + M'

[2018-06-22 15:56] mastorm opened #2117 "When working with C# Generics, it tries to turn my Code into HTML"
# Current behavior

I tried documenting something that had a generic in it. It tried to automatically add the closing tag, but only in the preview, so there is no way of getting rid of it.

![grafik](https://user-images.githubusercontent.com/10759336/41786139-fa94c2b8-7644-11e8-97a0-33e7da071284.png)

# Expected behavior

It should not try to add a closing tag if the syntax is set to "csharp" or a

[2018-06-22 15:59] Zay950 opened #2118 "Inconsistent vertical spacing"
# Current behavior
Inserting a bullet directly after a normal line of text has some strange vertical spacing.  Not sure if this is expected behavior, but it is not what I would expect to happen.  This issue may be out of the scope for the Boostnote team, but I thought I would bring it up just in case.

![image](https://user-images.githubusercontent.com/13890741/41786227-ccaaf214-75f9-11e8-94ad-5db

[2018-06-22 16:00] KenrySanchez opened #2119 "Bootsnote Should have an option to create more parents Folder"
# Recommendations!! I'm new in using bootsnote

Like a suggestion, I think Bootsnote should have a way to create more parents folders. It's would make the navigation more efficiently and excited.

Thanks!! KS

[2018-06-22 16:02] #2117 closed

[2018-06-22 16:21] renatoliveira commented on #2114
Doing what @Pudge601 said fixed this for me. I think it won't happen for new installations, since the default is being set to `Command + M` instead of `Cmd + M`, right?

[2018-06-22 17:29] iChard opened #2120 "Custom theme color"
# Current behavior
Like to custom my own theme colors；Like below~
@kazup01

# Expected behavior
![image](https://user-images.githubusercontent.com/12317840/41789956-9ef4afa6-7683-11e8-9566-a189a7d21cad.png)

Now i have to switch tothe developer  tools and change the color like Sider/Main and so on! But it will not working while i restart boostnote!

How about custom the theme color like this...
![

[2018-06-22 17:39] Zay950 commented on #1665
I am also having this issue.  Windows 10, version 0.11.6

[2018-06-22 18:06] ZatchBo opened #2121 "Locking/Unlocking state bug"
# Current behavior
The state of the lock/unlock icon can get stuck in an incorrect state

![image](https://user-images.githubusercontent.com/13890741/41791815-bcfbbda0-760b-11e8-9545-9064e6bfff40.png)

# Expected behavior
Either the icon display is reset with the locking state, or the locking state stays consistent with what the icon indicates.  Personally, I would prefer if the locked state staye

[2018-06-23 13:11] jyhong836 commented on #1001
About the feature, I found that the navigation will ignore the folders. For example, when I click a link from one note to the other, the presented note changes but the folder doesn't. When you are working on this, can you make the folder change consistently?

Besides, could you make the note history stored somewhere? Just like the Safari at Mac. When you long press the new-tab button (a plus butto

[2018-06-23 20:39] CicoZhang commented on #2104
No scrolling issue happens on Ubuntu 18.04 with my mouse --- MX master 2S. I hope it will be resolved soon; it is very nagging.

[2018-06-23 20:40] CicoZhang commented on #2080
The same issue on Ubuntu 18.04.

[2018-06-24 02:05] se7oluti0n opened #2123 "Toggle editor mode bug"
# Current behavior

In MacOS 10.13.5, The default hot key for toggle editor mode is `Cmd + M`. When I was editing in the editor, I typed `m` key then the GUI switched editor mode. It continued to switch editor mode if I pressed `m` key again.
Current workout is clear toggle editor mode hotkey.

# Expected behavior
The GUI is not switched if I press `m` key. It should switch when I press `Cmd + M`

[2018-06-24 02:17] Karrade7 commented on #2123
Same issue here. It started after the last update.

Version: Version 0.11.6 (0.11.6)

[2018-06-24 03:01] sandasai commented on #2123
Same issue here, pretty

[2018-06-24 06:52] octarrow commented on #2123
same issue here. Changing hotkey to Ctrl + M solved the problem

[2018-06-24 09:00] thecountoftuscany commented on #125
Thanks for the great app! I am also looking forward to seeing the nested folders feature implemented.

[2018-06-25 02:50] sosukesuzuki commented on #2123
@se7oluti0n This issue was solved by #2110 :+1:

[2018-06-25 02:50] #2123 closed

[2018-06-25 04:02] sosukesuzuki commented on #2114
@KenrySanchez Maybe, This issue was solved by #2110 .

[2018-06-25 04:02] #2114 closed

[2018-06-25 06:44] arthurkiller opened #2126 "Files and directory mode for note management"
Hey guys, really awesome work you've did.

I want a file management feature, that my note can write on disk files without encode.

with this feature, I can easily import my directory.

[2018-06-25 06:54] arthurkiller commented on #2126
I think note or files, management around plan text maybe a good idea.

[2018-06-25 08:31] arthurkiller commented on #2126
With file system browser feature. I can freely gather my picture and markdown together.

[2018-06-25 12:58] ndrone opened #2128 "Request support for Mermaid"
It would a great if I could generate diagrams from within Boostnote. Please take a look at https://mermaidjs.github.io/

[2018-06-25 23:42] octavioamu commented on #455
was looking to start this one but gist can't be not longer anonymous, so for this we need github authentication  :/

[2018-06-26 02:04] jiangmitiao opened #2129 "Enter Chinese in plantuml will show garbled"
# Current behavior

# Expected behavior

# Steps to reproduce

1.
2.
3.

# Environment

- Version : 0.11.6
- OS Version and name : MacOS

[2018-06-26 03:09] sosukesuzuki commented on #2129
@jiangmitiao I want you to write description :pray:
Also, maybe this issue was resolved by #2122

[2018-06-26 03:46] chethanjjj opened #2130 "Markdown Math Elements not Showing Up"
# Current behavior

![screen shot 2018-06-25 at 8 44 28 pm](https://user-images.githubusercontent.com/13612172/41888103-94482d62-78b8-11e8-825e-e19df1bafe99.png)

# Expected behavior

Expected the beta symbol to show up

# Environment

- Version : 0.11.6
- OS Version and name : 10.13.5 MacOS High Sierra

[2018-06-26 05:14] sosukesuzuki commented on #2130
@chethanjjj
please confirm latex delimiters from  `Preference` > `Interface`.
My delimiters is below:
<img width="586" alt="2018-06-26 14 11 15" src="https://user-images.githubusercontent.com/14838850/41890515-cff0d408-794a-11e8-8fbd-f033c6c3ae80.png">
I tried using Katex.
<img width="719" alt="2018-06-26 14 12 51" src="https://user-images.githubusercontent.com/14838850/41890619-40908afa-794b-11e8

[2018-06-26 05:51] yosmoc commented on #2129
Yes, should be solved by #2122. Please wait for the release version 0.11.8.(not 0.11.7).

[2018-06-26 06:20] sosukesuzuki commented on #2129
Thanks @yosmoc !
@jiangmitiao I'll close this issue!:+1: please wait for next release!

[2018-06-26 06:20] #2129 closed

[2018-06-26 06:48] chethanjjj commented on #2130
Thank you, it is solved.

[2018-06-26 12:31] sosukesuzuki commented on #2130
@chethanjjj I'll close this issue:+1:

[2018-06-26 12:31] #2130 closed

[2018-06-26 16:31] ZeroX-DG commented on #2120
I'm not quite understand your problem. This feature only cover the markdown preview style not the whole UI. Please provide some more details.

[2018-06-26 18:00] flyaway1217 commented on #2119
Can't agree more.

[2018-06-26 19:54] #2081 closed

[2018-06-26 21:18] flyaway1217 opened #2132 "Shortcuts for focusing tag editor"
Boostnote is the only notetaking app that can incorporate with Vim.
It is such a good app.

However, As a programmer, I'd like to type instead of using a mouse.
It would be nice to have a shortcuts for focusing tag editor.
I assume the reason that we can't directly type #tag into the markdown content is we want to keep the editor only contains pure markdown text.
I understand this.
So, I am wonder

[2018-06-26 22:04] flyaway1217 opened #2133 "Shortcut of Previous note is not working when focus is on the editor."
# Current behavior
When the focus is on the note list, ^J and ^K works fine.
But, when the focus is on the editor, ^J still works fine, ^K is not working any more.
I am using Vim in normal mode.

# Expected behavior

# Steps to reproduce

1.  Change into a Vim mode.
2. Create a new note and start writing note.
3. Try to use ^J or ^K to change note.

# Environment

- Version : 0.11.6
- OS Version a

[2018-06-27 05:58] Rokt33r commented on #1632
@myxo @AlexisEspinosaGayosso Hmm that's weird. I couldn't reproduce this problem. Could you give me some more clue?

<img width="1340" alt="screen shot 2018-06-27 at 14 55 28" src="https://user-images.githubusercontent.com/5865853/41955330-8fe4351e-7a1a-11e8-80c5-20581fb331a3.png">

[2018-06-27 06:49] sosukesuzuki opened #2134 "Improvement the snippets UI"
# Current behavior
`Preference` > `Snippets` is so useful. However, its UI is not well.
![slice](https://user-images.githubusercontent.com/14838850/41957251-475d7844-7a21-11e8-9083-647edf0d15b1.png)

# Expected behavior
- style of `+ New Snippet` button  should be changed according to color mode.
- `backgroud-color` of a selected snippet should be darken.
- the first snippet should be selected whe

[2018-06-27 10:10] sosukesuzuki opened #2136 "Improve UITab UI."
# Current behavior
`Preference` > `Interface` has two editor. these font is not according to `Editor Font Family`.

![slice](https://user-images.githubusercontent.com/14838850/41967847-95ed99aa-7a3d-11e8-8849-ec528e8bf962.png)

# Expected behavior
Font on editors in `Preference` > `Interface` should be according to own `Editor Font Family` (or Monaco).

# Steps to reproduce

1. Open `Preference` >

[2018-06-27 11:35] Kavatch opened #2137 "Async saving or disable autosave"
# Current behavior
When I am writing a note which is in a network folder and the program performs an automatic backup, the program always hangs short. Not a huge problem in itself, but damn annoying with larger Notes.

# Expected behavior
The saving of a file should best not affect the writing of the user or there should be a keybind which deactivates the automatic saving and only saves with e.g.

[2018-06-27 17:39] ytee opened #2139 "Images lost after sync over git"
# Current behavior
I use boostnotes on windows at work and on linux at home. I sync using git.
My routine is like this:
1. Pull notes from git
2. Edit notes
4. Push notes to git

When I pull from git on linux machine, images do not appear.
The links appear correct. But the images are not present.
So I replaced the boostnotes storage content with files downloaded from git (as opposed to pull etc.).

[2018-06-27 22:04] pyriand3r commented on #490
I would prefer the idea of using markdown files with yaml front-matter. That would make it really easy to reuse the files. The current storage format as CSON is really suboptimal. It's uncommon and even doesn't have a real specification...

I have a fork of boostnote where i ported the data format to normal json because i'm planning to write a new mobile client in go + qt and couldn't find a CSON-

[2018-06-28 01:44] hminle opened #2140 "Update should be optional"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2460%20Funded-%2300A156.svg" />](https://issuehunt.io/r/BoostIo/Boostnote/issues/2140)

# Feature Request
Hi,

I've used Boostnote for a while. Sometimes, the newer version is worst than the older one. So I make a request for the Boostnote's feature. Currently, updated version is automatically download and Boostnote will ins

[2018-06-28 03:11] sunbingfengPI opened #2141 "shortcuts operation wrongly triggered under editor mode"
# Current behavior

When you hit character 'm' under editor mode, it will toggle on the preview view, and if you hit 'm' again, the preview view will be toggled off.

# Expected behavior

Not trigger any shortcuts operation under editor mode.

# Steps to reproduce

# Environment

- Version : Version 0.11.6 (0.11.6)
- OS Version and name : macOS 10.13.3

[2018-06-28 04:13] KMR-zoar opened #2142 "Highlight breaks when link string has "[]""
If "[]" is in the link string in the editing state of the markdown mode, the highlight will not be displayed correctly.

e.g.: [[tag] blogtitle](http://example.com)

I found this issue in Editor Theme's "pastel-on-dark".

![default](https://user-images.githubusercontent.com/6219187/42012811-03340f0c-7ad5-11e8-93d9-739a7363b482.PNG)

Boostbote 0.11.6
Windows 7 Pro 64bit

In View mode, it functions

[2018-06-28 04:32] sosukesuzuki commented on #2139
@ytee Boostnote saves images in `/storagepath/images` . Did you include `/images` in your git repository?

[2018-06-28 04:34] sosukesuzuki commented on #2141
@sunbingfengPI This is resolved by #2110 ! Please wait for release next version(v0.11.7) !:pray:

[2018-06-28 04:34] #2141 closed

[2018-06-28 04:42] sosukesuzuki commented on #2142
@KMR-zoar Thanks for your bug report. This bug is depends on [Markdown mode of CodeMirror](https://codemirror.net/mode/markdown/).

[2018-06-28 05:08] limgit opened #2143 "[Feature Request] Cursor Customization"
# Current behavior
When using the dark editor theme, the cursor (editing position) is barely visible. For example, we can see the cursor position clearly in the light editor theme as following:
![image](https://user-images.githubusercontent.com/10260432/42013965-c9e16c80-7ada-11e8-8fc5-f11bdbe7c8c5.png)

However, with the dark editor theme, it is very hard to see where the cursor is. It is even wo

[2018-06-28 05:09] KMR-zoar commented on #2142
Hi @sosukesuzuki
Thank you, I'll report it in CodeMirror 's repository ;-)

[2018-06-28 05:32] ytee commented on #2139
@sosukesuzuki , yes I sync all the folders in git. My folder structure is as follows in both Windows,  Linux & git:
- boostnote.json
- notes
- attachments
In attachments folder, I do have several folders with images.
It works fine on windows. But on linux I can't see the images in boostnote even though the images are present.

[2018-06-28 06:19] KMR-zoar commented on #2142
This issue was resolved in CodeMirror [repository](https://github.com/codemirror/CodeMirror/issues/5476).

It will be solved by using a version that exceeds 5.39.0 released in the future.

[2018-06-28 06:49] sosukesuzuki commented on #2143
@limgit I felt this inconvenient too. But this bug happens only on `darcula` theme. And this bug is resolved by CodeMirror v5.39.0!(CodeMirror which Boostnote depends on is v5.37.0)(Please look [this update](https://github.com/codemirror/CodeMirror/commit/dc573b5a913951a1eb1db9a04400a3b2765b14a2).) So, I think custom cursor is unnecessary. Just enough updating CodeMirror version.

[2018-06-28 06:55] limgit commented on #2143
@sosukesuzuki Oh I see. Then I think I should wait for such updates :). (I also thought that the cursor customization feature could be a bit overkill)
By the way, I'm really enjoying Boostnote. Thanks for such nice markdown-supported note app.

P.S. Should I close this issue by myself? or are you going to handle it?

[2018-06-28 07:07] sosukesuzuki commented on #2143
@limgit Oh, Thank you for using Boostnote and creating great issue:smile:

I'll close this issue after update CodeMirror version!

[2018-06-28 07:48] chethanjjj commented on #1941
Just wondering the status on this bug? Will the fix be included in the next boostnote update?

[2018-06-28 10:01] MattWilcox commented on #2123
Same issue; my first time using this app and it put a heavy ding in my impression of it. Typing breaks the UI?

[2018-06-28 10:07] sosukesuzuki commented on #2139
@ytee Hmm..., I'll try to research this bug.

[2018-06-28 10:09] sosukesuzuki commented on #2123
@se7oluti0n Sorry, please wait for release next version(v0.11.7):pray:

[2018-06-28 10:18] sosukesuzuki commented on #1941
@chethanjjj [One of the comments of #1980](https://github.com/BoostIO/Boostnote/issues/1980#issuecomment-398994637) say this issue is resolved by #2107 . This pr is included in next version(v0.11.7). Please wait for release next version.

[2018-06-28 13:07] infosisio opened #2147 "Exporting Snippets in Format Suitable for Specific IDEs such as Atom"
I would like to kindly ask if this type of feature is within the scope of Boostnote or undesired.

Thanks !

[2018-06-28 13:38] dotsomething commented on #1085
+UP

[2018-06-28 13:50] jenniferlynparsons opened #2148 "Space bar switches views"
# Current behavior
As I am typing, randomly when I press the space bar it switches the editor view. I start without the side by side, then it switches to side by side, then it switches to preview only, where I can't edit any further.

# Expected behavior
To be able to type without the view changing.

# Steps to reproduce

1. Start typing in a note
2. While typing normally, ensure the space bar is

[2018-06-28 13:59] promiseofcake opened #2149 "Autoupdate Cannot be Ignored"
# Current behavior

Boostnote informs user there is an update, user clicks later.
On subsequent re-launch of the app the app is updated.

0.11.6 is fundamentally broken so it's frustrating to be stuck in an update cycle that I don't want to participate in.

# Expected behavior

App should not be updated unless user explicitly updates.

# Steps to reproduce

1. Download 0.11.4
2. Wait
3. See Update

[2018-06-28 14:47] jenpen commented on #2148
I am experiencing the same behavior. My environment is the same as the reporter has listed.

[2018-06-28 14:57] catmeme opened #2150 "In vim mode, the "m" key exits edit mode"
# Current behavior

When editing a file with vim mode enabled, typing the letter "m" exits edit mode.  This is a regression, it wasn't happening in prior releases.

# Expected behavior

I expect to be able to type "m" in insert mode.

# Steps to reproduce

1. With vim mode enabled, create a new note
2. Press 'i' for insert mode
3. Start typing, "immediate"

# Environment

- Version : 0.11.6 (0.11.

[2018-06-28 15:24] jyhong836 commented on #1001
Sound great! Thank you for your work.

[2018-06-28 15:31] zippeellii commented on #2150
I believe this issue has been addressed in 7c0097951c550c86be785f0150d2c2c835c6f329 . It is not a problem with the vim mode, it has to do with a typo in the default shortcut for toggle editor mode. Try  `Preferences` -> `Hotkeys` and change `Cmd + M` to `Command + M`. Will most certainly be included in the next release. Hope this helps you!

[2018-06-28 15:39] catmeme commented on #2150
Thank you so much, this was driving me nuts :)

[2018-06-28 15:40] jyhong836 commented on #1001
@SubtleParesh Could you sustain the history of scroll position. Now, when I jump between notes, the pages will automatically change to the beginning. For me, I'd like to continue where I stopped.

[2018-06-28 16:17] sosukesuzuki commented on #2150
@catmeme This issue is resolved by #2110 ! Please wait for release next version(v0.11.7)!

[2018-06-28 16:17] #2150 closed

[2018-06-28 16:20] infosisio opened #2151 "Build With Grunt Fails"
There is something I am missing or the build guide is not up to date but I tried with the npm and nodejs versions it requires and also with latest versions and the output .deb and linux executable end up corrupted. Compiling this with yarn run-devstart works great. OS on which compilation happen is Ubuntu 18.04. Any ideas ?

[2018-06-28 19:07] jenniferlynparsons commented on #2148
Just following up that it appears it was actually the letter "m" that's causing the issue. Lower case, no other modifier keys.

[2018-06-28 19:10] jenniferlynparsons commented on #2148
@jenpen i've temporarily worked around the issue by deleting the "Toggle editor mode" configuration in the Hotkeys section of Preferences.

[2018-06-28 22:30] sosukesuzuki commented on #2148
@jenniferlynparsons @jenpen This issue is resolved by #2110 !! Please wait for release next version(v0.11.7)!

[2018-06-28 22:30] #2148 closed

[2018-06-28 23:14] sosukesuzuki opened #2152 "Delete snippet is not working.【Bug】"
# Current behavior
When right click on item of SnippetList, output an error to console.
<img width="1277" alt="2018-06-29 08 11 44" src="https://user-images.githubusercontent.com/14838850/42065116-22a86334-7b74-11e8-8424-a224c5310f80.png">

# Expected behavior
delete the item of Snippet List.

# Steps to reproduce

1.  Open `Preference` > `Snippets`.
2.  Right click on item of Snippet List.

# Env

[2018-06-28 23:28] sosukesuzuki commented on #2152
This behavior also occurs in places other than item of SnippetList. For example, right click on item of NoteList, Item of FolderList.

[2018-06-29 06:48] sfjohansson commented on #1085
Maybe an alternative way to do this is by "boost hooks", command line calls that's gets executed when you save, change notes, close app. They could be git commands or anything else you might want to do.

[2018-06-29 12:33] modmod24 commented on #373
I think this is a more useful cheat sheet: https://gist.github.com/rxaviers/7360908#file-gistfile1-md.
Boostnote icon set is  black & white, can I replace it with my own?

[2018-06-29 14:13] aboettcher commented on #1862
I also suffered from this problem. I am using a virtual machine with Kubuntu 18.04 and Boostnote 0.11.4 (the deb package). After upgrading to Boostnote 0.11.6 (again using the deb package) the application is starting correctly.

(Thanks for working on this application.)

[2018-06-29 14:14] infosisio commented on #2147
@sosukesuzuki This is not just a feature request, I am asking to know so that I may take the initiative to add it so please let me know if it's desired !

[2018-06-29 14:58] kobtea opened #2153 "`Error occurs!` appears with an empty hotkey"
# Current behavior

`Show/Hide Boostnote` do not allows empty with an error.
`Toggle editor mode` allows empty.

![screenshot from 2018-06-29 23-49-20](https://user-images.githubusercontent.com/1685207/42099295-047bb030-7bf8-11e8-9fbd-da217a26bf58.png)

# Expected behavior

`Show/Hide Boostnote` allows empty like `Toggle editor mode`.

# Steps to reproduce

1. Open `Preference` > `Hotkeys`.
2. Mak

[2018-06-29 15:01] kobtea commented on #2087
Sorry for slow reply.
I wrote new issue https://github.com/BoostIO/Boostnote/issues/2153 .

[2018-06-29 15:12] infosisio commented on #2151
@sosukesuzuki On what system do you compile it yourself ? I really tried many setups and I can't get this to compile :(

[2018-06-29 16:01] Rokt33r commented on #2151
Which node.js version did you use?

[2018-06-29 16:15] infosisio commented on #2151
@Rokt33r I tried many, tried the latest ones, tried the ones in the build guide. After it compiles with "grunt pre-build" or "grunt build" either it runs and the notes are not displayed, notes cannot be deleted and notes cannot be created or it doesn't run at all. With "yarn run dev-start" it works great but I obviously cannot use that on a daily basis since it won't allow me to install it on my s

[2018-06-29 18:18] #2043 closed

[2018-06-29 19:13] jakemkc opened #2154 "right click menu gone?"
# Current behavior

I just fired up boostnote and it's updated to 0.11.7

after I quit boostnote and restart, I can't get the right click menu -- neither in the left folder column nor the middle note column

# Expected behavior

right click on the folder or note, I should get the menu to rename etc.

I have no problem to get the right click menu in 0.11.6

# Steps to reproduce

1. update boostnote

[2018-06-30 04:54] mothule opened #2155 "I can't see `Toggle Finder popup` in Preference"
# Current behavior

![image](https://user-images.githubusercontent.com/974367/42121569-7c68cdd4-7c6c-11e8-8d60-8ff8909c1c1e.png)

If I press `option + command + s` then don't work `Toggle Finder popup`.

# Steps to reproduce

1. Open boostnote
2. Open Preference by Cmd+,
3. Select HotKeys

# Environment

- Version : 0.11.7 (0.11.7)
- OS Version and name : macOS High Sierra 10.13.5

[2018-06-30 06:03] infosisio commented on #2151
I managed to build the .deb with success on Ubuntu 18.04 with the following steps for anyone interested:
sudo apt-get install curl
curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.11/install.sh | bash
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"
nvm install 7.10.1
cd Boostnote
npm i
sudo apt install node-grunt-cli
sudo apt-get install -y rpm fakeroot
g

[2018-06-30 06:14] infosisio opened #2156 "Delete Not Fast Enough"
When you delete a note, the view area of the note is not cleared until you click on another note.
It would make the user experience feel much better if that was instant.

[2018-06-30 07:48] sosukesuzuki commented on #2155
@mothule Finder was discarded from v0.9.0(#1497). So, I'll close this issue.

[2018-06-30 07:48] #2155 closed

[2018-06-30 09:32] svdborre opened #2159 "Export to HTML Broken in Windows"
# Current behavior
When exporting a note to HTML, the below error occors:

![boostnote-error](https://user-images.githubusercontent.com/36859918/42123821-d2a289d8-7c58-11e8-9bb0-80f1bdd6a02b.jpg)

# Expected behavior

HTML export should work.

# Steps to reproduce

1. Export the note to HTML

# Environment

- Version : 0.11.7
- OS Version and name : Windows 7

[2018-06-30 11:10] #2143 closed

[2018-06-30 11:11] #1979 closed

[2018-06-30 11:11] #2136 closed

[2018-06-30 11:11] #2134 closed

[2018-06-30 11:24] mosaaleb opened #2160 "Automatic closing tags conflict with angle brackets in code snippets"
# Current behavior
When using angle brackets in C++ code snippet,  it interprets it as HTML tag and auto closes the tag

![capture](https://user-images.githubusercontent.com/4246637/42124717-7bc11e80-7c68-11e8-8b4e-17a685cc071d.PNG)

![capture1](https://user-images.githubusercontent.com/4246637/42124736-ab53c38c-7c68-11e8-9e2f-421098f3dade.PNG)

# Expected behavior
Removing `</int>` tag at the end

[2018-06-30 16:39] andreinl opened #2161 "Boostnote 0.11.7 crash (didn't start) on MacOS X 10.9.5"
# Current behavior

Process:         Boostnote [67151]
Path:            /Applications/Boostnote.app/Contents/MacOS/Boostnote
Identifier:      com.maisin.boost
Version:         ???
Code Type:       X86-64 (Native)
Parent Process:  launchd [150]
Responsible:     Boostnote [67151]
User ID:         501

Date/Time:       2018-06-30 18:35:55.650 +0200
OS Version:      Mac OS X 10.9.5 (13F1911)
Report Ve

[2018-06-30 18:53] theUncanny opened #2162 "Vertical scroll bars without theme styles on v0.11.7"
# Current behavior

No theme of the Boostnote interface is applied correctly on the vertical scroll bars (example with Dark theme).  Maybe it's due to the upgrade Electron from 1.8.x to 2.0.x?

![image](https://user-images.githubusercontent.com/5108951/42128178-bc4ac78e-7ca5-11e8-80a8-4739871482a9.png)

# Expected behavior

Version `0.11.6` (and other previous versions):

![image](https://user-ima

[2018-07-01 06:05] mattkoskela commented on #2119
This seems to be a duplicate request: https://github.com/BoostIO/Boostnote/issues/586

[2018-07-01 06:18] KenrySanchez commented on #2119
Yeah. It's exactly what I'm suggesting. I'm going to close the issue!! Thanks!!

[2018-07-01 06:18] #2119 closed

[2018-07-01 18:53] infosisio opened #2164 "List Boostnote In Ubuntu Software Center"
The Ubuntu Software Center started also listing Snap applications in 18.04 and the selection it has is really massive so a lot of people are using it and are happy with it.

It would be a good popularity boost for boostnote to be listed there !

[2018-07-01 22:43] StevenJL opened #2165 "[Feature request] Hotkey for "Fullscreen" toggle button."
Can we assign a hot key for the Fullscreen toggle?  I'm referring this button which makes the notepad expands over the file navigation panels.

![boostnote_fullscreen](https://user-images.githubusercontent.com/2191808/42139561-fab2a074-7d44-11e8-9eb6-a4ce1abf0422.png)

Can we make a hot key to toggle this instead of always clicking this "Fullscreen" toggle button? Thanks

[2018-07-02 01:35] Rokt33r commented on #2165
It is possible. How do you think which key should be set there?

[2018-07-02 01:37] Rokt33r commented on #2164
I really want to do but, I don't have time to do it...

If you(or someone who see this comment) can afford to do, please join our slack and call me!

[2018-07-02 02:16] StevenJL commented on #2165
How about Shift-Cmd-F? I often use Shift-Cmd-L to focus the search bar, so it seems like Shift-Cmd is being used.  So how about F for "Fullscreen"?

[2018-07-02 04:56] yosmoc commented on #2164
@Rokt33r I'm interested in this issue. I don't have this experience, but probably I can manage to do and maintenance this. If @infosisio doesn't interested, I will take care of this. Anyway I will call you in slack.

[2018-07-02 05:57] fromtier commented on #2159
same as windows 10 /ver 0.11.7

[2018-07-02 06:39] xephon2 commented on #2139
I can confirm this issue.

[2018-07-02 06:41] ehhc commented on #2139
Two questions:
- are your images in :storageLocation/attachments or in :storageLocation/attachments/NOTEKEY where NOTEKEY is a hash string?
- are you getting any errors in the developer console?

[2018-07-02 09:34] xephon2 commented on #2139
The console shows

[code]

[2018-07-02 12:29] infosisio commented on #2164
@yosmoc Feel free to take care of it !

[2018-07-02 12:34] felix-last commented on #1786
Still an issue as of version 0.11.7, tested on macOS.

[2018-07-02 12:39] kantel opened #2166 "Latest Boostnote didn't run in MacOS X 10.10.5"
# Current behavior

![bildschirmfoto 2018-07-02 um 14 33 58](https://user-images.githubusercontent.com/1219909/42164119-43ad6f6e-7e05-11e8-850a-bf86c7e3432e.png)

Boostnote didn't start on MacOS X 10.10.5, I got the error message pasted above.

# Environment

- Version : v0.11.7
- OS Version and name : MacOS X 10.10.5
- Mac Pro (Ende 2013)

[2018-07-02 12:44] ehhc commented on #1786
@felix-last Are you trying to export a note that already contained images previous to version 0.11.5? Or did you just added the images lately to your note? I fear the way i've implemented it, it is not working with "legacy" images..

[2018-07-02 12:51] yosmoc commented on #2164
@infosisio Thanks!

[2018-07-02 12:52] felix-last commented on #1786
@ehhc I'm using a new note with an image I just added. No "images" or "attachments" folder is created and the exported markdown contains something like `![2873b55e.png](:storage/63b9142c-6e26-449c-8333-1d81f24499b2/2873b55e.png)`.

[2018-07-02 13:04] zgbkdlm opened #2167 "Boostnote 0.11.7 is not responding in Ubuntu 18.04 LTS"
# Current behavior

1. The boostnote is not responding. After the app is opened, it is always that status like in this pic:
![image](https://user-images.githubusercontent.com/18639917/42165429-a74b865e-7e10-11e8-9f0a-b5b04defa6e7.png)

I can change the preferences, but the storage part preferences can not be saved.

2. The storage location preference is always empty, even if I successfully added l

[2018-07-02 13:04] ehhc commented on #1786
@felix-last thanks for the information. I think i misunderstood the initial desciption of this issue. I thought you try to export it as HTML in that case the attachments will be exported as well. I might have forgotten to implement it for markdown export.. I'm sorry for that. I will have a look at it in the next days.. Or if you have time: feel free to have a look at it yourself :)

[2018-07-02 13:07] #2167 closed

[2018-07-02 13:47] felix-last commented on #1786
@ehhc Thank you. I would greatly appreciate your work on this! :)

[2018-07-02 14:40] Rokt33r commented on #2164
@yosmoc Sounds good. let me know if you need anything I should grant or make some account. I'll do it as soon as possible.

[2018-07-02 16:48] derekantrican opened #2169 "On-purpose incorrect numbering gets overridden with correct numbering"
# Current behavior

![image](https://user-images.githubusercontent.com/1558019/42176130-cc55b764-7ddc-11e8-94c5-4b4d8f6add91.png)

# Expected behavior

Numbering in rendered view should match markdown numbering

# Steps to reproduce

1. Number a couple objects
2. Change one of the previous numbers to not follow the number sequence
3. Notice that the rendered view automatically corrects the sequenc

[2018-07-02 17:01] derekantrican opened #2170 "In a numbered list, creating a new item in the middle doesn't automatically increment the list"
# Current behavior

Behavior: https://i.imgur.com/CRZzSsw.gifv

# Expected behavior

When numbering, the rest of the items in the list should be incremented (similar to word processors like Microsoft Word)

# Steps to reproduce

1. Create a numbered list
2. At the end of one of the items in the middle of the list (not the last one) press "Enter"
3. Notice that the new numbered item created is numb

[2018-07-02 17:05] modmod24 commented on #2043
can you please re-open the issue? info box is still on top of button.

**Current behavior**
-----
When clicking on ⓘ for info on a note in the Trash, the info box opens up on top of the button itself. This makes it difficult to hide the info box easily, and makes how to hide, unclear.

**Expected behavior**
-----
Box should be displayed below the button, instead of on top of the button

**Steps to

[2018-07-02 17:39] infosisio commented on #2147
@Rokt33r Would you like me to work on a feature that allows the user to export the snippets to Atom ?

[2018-07-03 02:41] avence12 commented on #2162
Same issue after upgrade.
- Version: `0.11.7`
- OS: `OSX 10.11.6`

[2018-07-03 03:10] ZeroX-DG commented on #2156
@infosisio which version are you on? I deleted a note on the latest version (v0.11.7) and it immediately switch to the next note

[2018-07-03 03:43] infosisio commented on #2156
@ZeroX-DG That's the version I use on Ubuntu 18.04 and it doesn't switch to next note immediately here.

[2018-07-03 04:07] Rokt33r commented on #2162
@avence12 Does it happen after restart or refresh the app? I cannot reproduce the problem.

I'm using macOS 10.13.5 and Boostnote v0.11.7.

[2018-07-03 08:09] avence12 commented on #2162
@Rokt33r  The problem remains after I restart boostnote app and even my mac.
Here comes my Interface settings but the scroll is still applied by the default style after I change to other themes.
![image](https://user-images.githubusercontent.com/4282367/42207023-6a24297c-7edb-11e8-9aa3-44b6bafcbd45.png)

[2018-07-03 09:24] OnlineVagrant opened #2174 "make scroll bars visibility optional?"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2430%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/BoostIo/Boostnote/issues/2174)

On touch screen devices or when a mouse with a scroll wheel is used the scroll bars are unnecessary. in such cases they are never used and just take up unnecessary space, Which is more apparent on laptops which don't have a lot of scree

[2018-07-03 10:50] theUncanny commented on #2162
@ZeroX-DG That's it, the scroll bars (both, vertical and horizontal) show a "default style" just like Chrome and not apply the style setted like in the previous versions (<= `0.11.6`), not only with Dark theme, but all built-in themes.

In order to verify that it was due to incompatibility in the previous configuration, I deleted the configuration directory stored in `~/.config/Boostnote` (to whic

[2018-07-03 11:19] ZeroX-DG commented on #2162
Thank you @theUncanny , I have a fix for that in my PR which is currently in review. I'll tell you when the PR is merged

[2018-07-03 11:49] ZeroX-DG commented on #2156
@infosisio that's wierd, I'm using Linux Mint 18.2 and it work fine.
![peek 2018-07-03 18-47](https://user-images.githubusercontent.com/12984316/42218128-c477a92e-7ef1-11e8-9881-b2bf98dc33e3.gif)
Can you describe how can I reproduce the problem?

[2018-07-03 12:02] infosisio commented on #2156
@ZeroX-DG  I was not talking about the list change, I was talking about the fact that the screen is not cleared and it still shows the deleted note.

[2018-07-03 12:03] infosisio commented on #2156
@ZeroX-DG Will let you know soon.

[2018-07-03 12:03] EvaBrarens opened #2175 "Right click to pin/unpin notes not working"
# Current behavior
When right-clicking on a note in the overview no options are shown. This effectively makes it impossible to pin/unpin notes.

JS error in console:
![2018-07-03_14h01_06](https://user-images.githubusercontent.com/6517619/42218641-944d7292-7ec9-11e8-955f-e30933a30e05.png)

# Expected behavior
When right clicking on a note it should give the option to pin/unpin a note to the top.
A

[2018-07-03 12:44] ndbeals commented on #2175
I have the same issue, more so, right-click context menus seem to be broken and giving me the above error everywhere.

[2018-07-03 13:55] enyaxu commented on #2175
This is bug that has been fixed in #2157  #2158. It will being release next version.

[2018-07-03 15:06] ehhc opened #2176 "Spellcheck"
It has been mentioned several times that it would be nice to have a spell check feature.
I implemented one for markdown notes but it is some kind of slow and the performance is not that good. Maybe you can have a look at it and decide if we want to include it in boostnote (ignoring the performance issues) or if you can help to improve it..

Eventhough it's not perfect, it has been a lot of work so

[2018-07-03 15:12] ehhc commented on #903
can you have a look at https://github.com/BoostIO/Boostnote/issues/2176 .. But it is not perfect..

[2018-07-03 15:12] ehhc commented on #76
can you have a look at https://github.com/BoostIO/Boostnote/issues/2176 .. But it is not perfect..

[2018-07-03 16:48] Rokt33r commented on #2176
I think we should exploit native spell checker which OS providing.

I assume we could give a shot to this.
https://github.com/atom/node-spellchecker

[2018-07-03 17:53] ehhc commented on #2176
I thought about that as well but I found one problem (maybe you've a solution for it though..): you are stuck with the language your OS is using and cannot change it.
Consider the following use case:
The language of my OS is German. But I have some notes written in German, and some in English. Using a spell check relying on the OS I could only check German notes but cannot change to English (since

[2018-07-03 18:40] Rokt33r commented on #2176
https://github.com/atom/node-spellchecker/blob/master/lib/spellchecker.js#L28
We could do it with node-spellchecker. Seems we could change it locale via environment variables.

So we could deal with the problem by spawning a child process with other `LANG` value.

[2018-07-04 02:06] Rokt33r commented on #2164
@yosmoc Absolutely. I'll figure out if I could invite you as a manager after I signing up Snap.

[2018-07-04 02:08] enyaxu commented on #2165
How about use 'CommandOrCtrl +B' for hot key? **B** short for 'Side **B**ar'. I pushed a pull for this  feature. Please review

[2018-07-04 02:08] Rokt33r commented on #2165
Great! @StevenJL How do you think?

[2018-07-04 02:28] StevenJL commented on #2165
@Rokt

[2018-07-04 05:36] oylbin commented on #1406
+1 here, will this problem get fixed?

[2018-07-05 07:49] TZTsai opened #2181 "Cannot install on windows"
# Current behavior
![default](https://user-images.githubusercontent.com/34415979/42309389-000a0d0e-806b-11e8-82bd-7ee10dfcae66.PNG)

# Expected behavior

# Steps to reproduce

1.
2.
3.

# Environment

- Version :
- OS Version and name :

[2018-07-05 07:51] TZTsai opened #2182 "Unable to install on windows"
# Current behavior
The system prompts that the parallel configuration is incorrect.
![default](https://user-images.githubusercontent.com/34415979/42309389-000a0d0e-806b-11e8-82bd-7ee10dfcae66.PNG)

<!--
Please paste some **screenshots** with the **developer tool** open (console tab) when you report a bug.

[2018-07-05 08:53] #2181 closed

[2018-07-05 08:54] Rokt33r commented on #2182
I cannot understand what the error message means. Could you translate it?

[2018-07-05 08:56] Rokt33r commented on #2166
I cannot understand what's the error meaning. 😭

[2018-07-05 15:30] v5pingan opened #2184 "Another trigger position of XSS"
I'm using the latest version (2018/07/05)

1. new notes, select Markdown, write payload:

<img src= "test" onerror=alert ('test') >

It's not going to trigger now.

2. when I need to highlight the markdown code, I write it before the code.

" ``` "

I trigger xss. when I enter third.

[This is a video display:](https://github.com/v5pingan/github.so/blob/master/bootsnote/bootsnote-xss.mp4)
https://

[2018-07-05 15:59] modmod24 opened #2185 "[Discussion] sorting tags - minor change in behaviour"
hello,
When viewing the list of all Tags in Boostnote, you can currently sort them alphabetically or by occurrence (counter). I would like to suggest a minor change in this behaviour:

## Current behaviour:
- Alphabetical sort is case sensitive, tags starting with Uppercase letters are listed first [A-Z], followed by tags starting with lowercase letters [a-z]

## Suggested behaviour:
- Alphabetica

[2018-07-05 17:55] brachycera commented on #2166
Sadly same problem, boostnote doesn't start with osX 10.10.5
[code]

[2018-07-05 18:11] max-buranbaev opened #2186 "Note does not appear in the list if you created it from starred."
# Current behavior
Should we have create a note button when click to starred? If you've opened stared notes and than created a note it won't appear in a list.
![bug](https://user-images.githubusercontent.com/7540660/42340122-b27b917a-807e-11e8-9880-83685d636807.gif)

# Expected behavior
I think either we should create starred note or hide this button if starred is active.
# Steps to reproduce

1.

[2018-07-05 20:19] modmod24 commented on #2186
I disagree. I think creating a new note should have consistent behaviour and you should be able to create a new note regardless of where you are (Notes, Starred, Trash).

[2018-07-05 20:55] modmod24 opened #2188 "[Bug Report] Compromized tag due to special character"
# Current behavior
Tags containing "/" character can be created. They appear in the list of tags, displayed in the note itself and in the "Tags". However, the tag is not clickable. On clicking on the tag corresponding notes are not listed.

![boostnote_bugtags](https://user-images.githubusercontent.com/25648628/42347161-e618822c-809c-11e8-96e4-9b85a9bd4e1d.png)

# Expected behavior
Offending chara

[2018-07-05 21:01] modmod24 commented on #2140
yes, and I'd like to see the current version number in the "help" menu.

[2018-07-05 21:07] modmod24 commented on #2147
I think popularity of an IDE may change over time. And there are many of them. Can you explain more your idea?

Maybe it would be more suited to implement an import plugin for Atom, instead?

[2018-07-06 00:16] modmod24 commented on #2186
then again, there _is_ currently inconsistency, since you cannot create a note if you select "Trash". You are right your expected behavior would lead to consistency. I'd rather suggest, though, another solution:
# Expected behavior
- Don't hide the create note button, no matter if you are on Notes, Starred, Trash.
- Creating a new note behaves always the same

[2018-07-06 01:03] infosisio commented on #2156
The fixes of max-buranbaev solved the issue.

[2018-07-06 01:04] infosisio commented on #2147
@modmod24 It is never too much effort to support a new IDE, in computing formats and ecosystems change constantly, in my opinion that is not a reason to hold back useful features.

[2018-07-06 01:41] camelmasa commented on #2175
Thanks for reporting. I'm waiting next release for it 😃

[2018-07-06 07:29] wAuner opened #2190 "[Bug] Images don't load on other installations"
# Current behavior
I've took a note with screenshots on my mac. My boostnote dir is synced via a dropbox like service.
While the images are properly displayed on my mac, the images can't be displayed on my Linux machine.
Error message:
__Failed to load resource: net::ERR_FILE_NOT_FOUND__

![boostnote](https://user-images.githubusercontent.com/18383180/42365312-69c28d82-80fe-11e8-986d-26bb715ccfdb.

[2018-07-06 07:32] wAuner commented on #2190
ok I updated the Linux version to 0.11.7, seems to work now. I'll close it.

[2018-07-06 07:32] #2190 closed

[2018-07-06 16:02] Rokt33r commented on #2184
Thanks for reporting. I'll fix it soon. It looks very critical.

[2018-07-06 16:23] #2184 closed

[2018-07-06 16:54] Rokt33r commented on #2162
This has been fixed and will be released in next week. Thanks @ZeroX-DG! 👍

[2018-07-06 16:54] #2162 closed

[2018-07-06 21:52] theUncanny commented on #2162
Thanks @ZeroX-DG!!

[2018-07-07 00:40] TZTsai commented on #2182
Error "Could not start the application; the parallel configuration is incorrect. See the event log of the application or use sxsrace.exe tool command line for more details."

[2018-07-08 01:33] ZeroX-DG commented on #2182
@TZTsai , @Rokt33r I think this is the error message that he's getting
https://answers.microsoft.com/en-us/windows/forum/windows_10-performance/windows-10-error-the-application-has-failed-to/5c6a015e-4162-491d-b7d9-f3b13612e304

[2018-07-08 04:16] charrismatic commented on #1356
I've been working on a chrome extension that dos this for a while.  The user interface isn't fully built out but its my absolute favorite way to save articles.   Right now its browser focused but there might be a home for it in Boostnote.

[2018-07-09 06:25] mrjooz opened #2193 "The program automatically exits"
# Current behavior
The program automatically exits when i change different network state.
![b](https://user-images.githubusercontent.com/16377433/42433665-ed42edf6-8382-11e8-8eff-9078adce0852.png)

![2](https://user-images.githubusercontent.com/16377433/42433947-dbad409a-8383-11e8-9da7-c78eb27a0672.png)

# Steps to reproduce
1. Turn off the wireless network
2. Turn on the wireless network
3. Progr

[2018-07-09 07:01] Rokt33r commented on #2193
I couldn't reproduce the problem. Could you submit a gif video?

[2018-07-09 07:40] tobysoby opened #2194 "Hotkey not working as expected"
# Current behavior

Even though my preference is "Cmd + M" as a hotkey for toggling editor mode, the editor mode gets toggled even if I just press M.

<img width="641" alt="screen shot 2018-07-09 at 09 38 06" src="https://user-images.githubusercontent.com/5843710/42436998-f9cc8b3a-835b-11e8-955e-21ad1a3725bb.png">

# Expected behavior

Editor mode is only toggled if I press Cmd and M at the same t

[2018-07-09 07:47] enyaxu commented on #2194
It’s bug,just use**Command+M** or **Mod+M**, not use **Cmd** keyword.

[2018-07-09 08:52] brucezz commented on #2193
I always see this dialog("Boostnote exits") when my MacBook wake up from sleep these days.

Boostnote 0.11.7
macOS 10.13.5

[2018-07-09 09:51] maciej-barczak-red commented on #2088
Guys, any news here? Since 0.11.6 application became totally unusable on Windows and Linux :( Last working version was 0.11.5. 0.11.7 is also affected.

[2018-07-09 10:01] enyaxu commented on #2193
Access to amazonaws.com is unstable from China or other country, so when
needed to make program not exist if analytics failed,.

bruce3x <notifications@github.com>于2018年7月9日 周一16:52写道：

[2018-07-09 11:29] FabianTe opened #2195 "Folding support for headers"
# Current behavior

Currently Boostnote is not able to fold title sections like word does.

# Expected behavior

I'd like to be able to fold "chaperts" like in word:

![image](https://user-images.githubusercontent.com/7669818/42448020-1b0a62fc-837c-11e8-8573-8e08d7674813.png)

[2018-07-09 13:44] modmod24 commented on #2147
I don't know if this fits into your idea, but how about integrating with github GIST?
here is an explanation of how it works with SublimeText IDE:

[see Demo here](https://www.youtube.com/watch?v=3cdkYdzgXLc)

SublimeText is similar to Atom. To integrate GIST, a plugin is required. This is already supported in SublimeText. I didn't look for support by Atom, or other IDEs, but it is likely availabl

[2018-07-09 15:10] Rokt33r commented on #2193
@brucezz @mrjooz @enyaxu Hmm.. I see. I'll try to fix it this week. It sounds quite problematic.

[2018-07-09 16:14] hioneda opened #2196 "Toggle mode switch weird behavior"
# Current behavior (v0.11.7)

When I click in the switch, it either goes to the splitted view mode (editor + preview) or to full edit mode. If I click outside the button anywhere blank (or click and hold the switch) in the topnavbar:

![image](https://user-images.githubusercontent.com/41017812/42462382-7d93ad64-8379-11e8-8e55-7f2faa124f90.png)

It changes to full preview mode. And when I click any

[2018-07-10 03:59] modmod24 commented on #2118
isn't this expected behaviour?

[2018-07-10 04:02] modmod24 commented on #2118
I prefer it the way it is. the additional spacing looks better to the eye and gives the text more structure

[2018-07-10 04:07] modmod24 commented on #2118
@sosukesuzuki this is not a bug!

[2018-07-10 04:15] Zay950 commented on #2118
Whether this is expected behavior or not, I can't say.  I do think that this makes groups of notes less obvious that they belong together, and the aesthetics would be improved by shortening the distance between the 'subject' (regular) line and the first bullet.

[2018-07-10 04:38] modmod24 commented on #2118
the additional vertical spacing improves readability. A large blob of text would be more tiring to read, otherwise.
Markdown rendering on Github behaves the same, and so does Typora!

[2018-07-10 11:20] PascalAOMS commented on #2088
Can you disable auto-update?

When I install 0.11.5 it automatically jumps to the newest version on restart.

[2018-07-10 12:14] modmod24 commented on #2156
The same happens when you delete a tag inside your note.
# Steps to replicate
1. click on tag in the list of tags -> all notes containing this tag will be shown
2. select one of this notes
3. delete the tag chosen in step 1 from the note chosen in step 2
4. observation: note disappears from list of notes but editor remains unchanged
------
This is probably the same issue and already fixed by @ivan

[2018-07-10 19:47] victorbrca commented on #2196
Not necessarily a solution, but if you change your `Preferences => Interface => Switch to Preview` to `On Right Click` it takes care of that.

[2018-07-10 19:50] jstobin opened #2198 "Scrollbars bright white, even in dark mode, dark code."
# Current behavior
I just updated to 0.11.7 and started seeing bright white scrollbars in dark mode as well as in code snippets. It seems the scrollbar styling is changed or missing.
<img width="1082" alt="screen shot 2018-07-10 at 12 35 08 pm" src="https://user-images.githubusercontent.com/12701269/42533351-6b5cf7fc-843e-11e8-9ea1-a247adbe7dc2.png">

# Expected behavior
In dark mode and dark boxe

[2018-07-10 20:03] victorbrca opened #2199 "Ability to go from 'editor with preview' mode to 'preview' using mouse"
# Current behavior (v0.11.7)

When you enable toggle mode to `editor with preview` via the toggle button, you can no longer go back to preview using the mouse (as configured in `Preferences => Interface => Switch to Preview to On Right Click`).

![image](https://i.imgur.com/r4njUv3.gif)

# Expected behavior
I think it should go back to preview, and when you change back to editor using the mouse, i

[2018-07-10 20:56] hioneda commented on #2196
Yea, it's better. But how do I get full preview mode with this settings?

[2018-07-10 21:16] infosisio commented on #2147
@modmod24 That could be considered a different feature I think, which seems useful too. It's not a huge effort to support different IDEs and they don't change every day, if the authors want it and nobody does it earlier, I would gladly eventually do it.

[2018-07-10 23:38] jstobin commented on #2198
Actually it appears to be a duplicate of another issue:
https://github.com/BoostIO/Boostnote/issues/2162

[2018-07-10 23:38] #2198 closed

[2018-07-11 01:07] modmod24 commented on #2043
@yougotwill, can you apply same fix for the Trash? There info button is still covered.

[2018-07-11 11:45] xephon2 commented on #2139
any progress here?

[2018-07-11 11:59] ehhc commented on #2139
Hi,
i think the problem is the following:
1) the path how attachments are referenced in the markdown is platform dependent (stupid me..).
2) When leaving a note (onBlur) the app tries to delete all attachments not referenced in the note (e.g. not needed anymore)
3) because you use different platforms on windows your markdown reference contains `\` as separators.. On linux the app expects `/`
4) du

[2018-07-11 13:53] Sylk commented on #2182
@TZTsai did @ZeroX-DG response help you get to a solution?

[2018-07-11 15:16] rdx565 commented on #1871
This solution works, but has to be redone whenever the app updates, is an official solution possible?

[2018-07-11 16:00] Voriaz opened #2200 "HTML export error"
# Current behavior

When exporting a note in HTML, got an error message:

![boostnote_2018-07-11_17-26-19](https://user-images.githubusercontent.com/25084999/42584646-f488729a-8533-11e8-8211-663b75a24805.png)

# Expected behavior

note exported

# Steps to reproduce

1. create a note
2. go to (i) icon on left corner and click HTML icon
3. give a name to the file and validate

# Environment

- Vers

[2018-07-12 01:49] enyaxu commented on #2200
It’bug, seem that css has wrong path.

[2018-07-12 08:22] znmlr opened #2201 "Why use a two-layer structure instead of a tree structure?"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2462%20Funded-%2300A156.svg" />](https://issuehunt.io/r/BoostIo/Boostnote/issues/2201)

I have two suggestions

1、It is recommended that the directory structure use a tree instead of two layers.

2、 It is recommended to keep the original markdown file instead of the compiled cson file.

---

<details>
<summary>
<b>IssueHunt

[2018-07-12 10:29] modmod24 commented on #2103
nice, it works.

[2018-07-12 10:31] modmod24 commented on #2103
@weaming, would you still like some enhancement or close the issue?

[2018-07-12 13:58] mvilain commented on #2166
Yep. I had to reinstall my 0.11.4 version and decline updates.  There should be an option to update which you have to click on something with a flag saying "Update available".

[2018-07-12 17:47] saaguero commented on #2139
This should be a high-priority bug to resolve.

In order of priority, I would suggest to:

- Disable this autoremove attachments feature.
  - It's not so nice to lose files... not just because of the platform dependent thing, but consider the case when you want to move the screenshot, you cut the text ":storage/foo/bar.png", and then there is a high chance you will lose the file because you didn't

[2018-07-12 22:41] urda opened #2202 "Snippet-type notes fail to save / load correctly"
# Current behavior

I'm unable to trust in using snippet-type notes within Boostnote. This issue reports a bug that makes those types of notes appear to save incorrectly and load incorrectly. **For a user who may not be paying careful attention, this may mean a loss of notes if not caught by the end user!**

This is what a user will be greeted with when a snippet note is damaged:

![boostnote snip

[2018-07-12 22:56] urda commented on #2202
@Rokt33r and @kazup01 I strongly feel tagging you both for this is absolutely appropriate given the nature of possible data loss from a user's perspective.

[2018-07-13 00:47] wenlilearn commented on #2202
I would second this. The whole update of 0.11.7 breaks snippets now all of them won't display correctly on my machine. Revert to 0.11.5 did the trick but the auto update always bring it back to 0.11.7 after restarting BoostNote.

[2018-07-13 03:10] pikatti commented on #2200
Is there a way to fix this program?
Do I need to wait for an update?

[2018-07-13 04:29] #2175 closed

[2018-07-13 06:05] yongman commented on #2193
I also have this problem when I changed my `/etc/hosts` in my `macbook pro`.

[2018-07-13 09:35] FunkMonkey commented on #1762
Having this issue on 0.11.6 and 0.11.7 (Windows 10 x64).
0.11.5 works fine!

[2018-07-13 12:05] yougotwill commented on #2043
Sure will look into it this weekend!

[2018-07-13 14:28] takacsot opened #2203 "Cannot pin/unpin"
# Current behavior

Cannot access menu of pin and unpin of note since last upgrade.

For right click the follwing error is visible on the console:

![image](https://user-images.githubusercontent.com/144732/42696796-8bbe1ac6-86b9-11e8-9a24-961606e86b3c.png)

# Expected behavior

Same as before the upgrad. Able to unpin and pin

# Steps to reproduce

1. choose a note.
2. right click (mouse)
3. and n

[2018-07-13 16:10] alecbcs opened #2204 "Missing Note Preview When Building From Source"
# Current behavior
After building the application from source the note preview pane crashes with the error  `Uncaught Error: Cannot find module 'markdown-it-admonition'`. I've checked and markdown-it-admonition does seem to be installed by npm.

![screenshot from 2018-07-13 08-57-54](https://user-images.githubusercontent.com/19558067/42701551-be70e78e-867b-11e8-9f7e-36a2c963f2f2.png)
![screenshot

[2018-07-13 18:21] allejo commented on #2067
I don't think this is a bug in Boostnote. [DOM IDs are generally case-sensitive](https://stackoverflow.com/a/1236864), as are URLs. The [HTML 4 spec](https://www.w3.org/TR/html4/struct/links.html#h-12.2.1) states they were case-sensitive but that's no longer the case in the HTML 5 spec.

In Chrome, if you go to a URL that has an anchor link, and change the case, it'll no longer work so that's the

[2018-07-14 05:36] mvilain commented on #2161
It also crashes on 10.10.5

[2018-07-14 06:58] yougotwill commented on #2043
@modmod24 Would you mind sending me a screenshot please? I'm using 0.11.7 and can't see the issue. Thanks :)

[2018-07-14 08:04] ndbeals commented on #2067
Yeah, well every single other markdown table of contents generator (and program that handles them) is case insensitive. Pandoc, typora, markdown-it-toc, etc, etc, etc.

I don't think it's all of them that're wrong and Boostnote is the only that got it right.

[2018-07-14 18:06] modmod24 commented on #2043
sure, I recorded it:
[https://i.imgur.com/3xAbmaK.gifv](https://i.imgur.com/3xAbmaK.gifv)

too bad I don't know how to embedd it here :(

thanks for having a look into this :+1:

this was recorded on windows, 0.11.7

[2018-07-15 07:36] weaming commented on #2103
@modmod24 But I don't want to use html style.

What I want is it detect the color text automatically

[2018-07-15 07:42] ZeroX-DG commented on #2103
Well this feature can be achieved but I don't really see why Boostnote should support that feature. Can you show us why that feature is useful?

[2018-07-15 07:43] takacsot commented on #2169
As far as I know, this is **the** markdown behaviour.

[2018-07-15 09:35] takacsot commented on #1830
Try AHK on windows

[2018-07-15 12:16] looselytyped opened #2206 "Right Clicking does not reveal context menu"
# Current behavior

## Right-Click on Notes List

<img width="2133" alt="image" src="https://user-images.githubusercontent.com/20939/42733835-cb18a6d4-8806-11e8-8383-87ffe6602cb0.png">

## Right Click on Preview

<img width="2133" alt="image" src="https://user-images.githubusercontent.com/20939/42733847-377a4d78-8807-11e8-8b76-5a413084cd2f.png">

# Expected behavior

Expect to see a context menu

[2018-07-16 08:18] ytee commented on #2206
I am seeing his behavior too. On Windows 7.
Right click on the Notes list or any where no context menu is coming up.

Version: 0.11.7
OS: Windows 7

[2018-07-16 08:26] srusso opened #2207 "Would be nice to have a right click -> export as md for entire storages, not just folders"

[2018-07-16 09:33] ehhc commented on #236
@gatspy http://lmgtfy.com/?q=Markdown+table+example

[2018-07-16 15:10] laobubu commented on #236
with HyperMD, you can create a table by writing a line like |column|names|
(no leading/tailing spaces before/after the first/last pipe char) and press
Enter key.

More info about HyperMD: https://laobubu.net/HyperMD/

[2018-07-16 15:39] m0rd3c4i commented on #2206
Same errors as above.

Windows 10 Pro
Version 1709
OS Build 16299.547

[2018-07-16 16:14] Mindstormer619 commented on #236
@gatspy You can use (this)[https://www.tablesgenerator.com/markdown_tables] to generate neat markdown tables. In general the syntax is not complex, but getting something that looks neat in source mode will take some work unless you use a tool like this.